[2018-06-19 15:30] MorrisJobke commented on #7530
As we can't reproduce this I will close this for now. If you have further steps on how to trigger it we are happy to assist.

If you wish support with this issue from Nextcloud GmbH we offer this as part of the Nextcloud subscription. Learn more about this at https://nextcloud.com/enterprise/

[2018-06-19 15:30] #7530 closed

[2018-06-19 15:32] MorrisJobke commented on #7518
We changed quite some stuff in the underlying SMB library with the latest maintenance releases. Could you try again with 13.0.4 and report if this is fixed?

Until then I will close this for now.

[2018-06-19 15:36] ryannix123 commented on #7518
@MorrisJobke I'm sorry but this is still broken in 13.0.4

[2018-06-19 15:37] bi4 opened #9922 "server replied: Locked"
### Expected behaviour
File should sync.
I tried to upload a folder with several files, 573 MB..
I can sync single files word etc. with no problems.
I do not have crossed the upload limit for syncs in client settings.

### Actual behaviour
sync error. server replied: Locked

level fatal
app webdev

OCA\DAV\Connector\Sabre\Exception\FileLocked: "x/xy/yy" is locked

    /snap/nextcloud/7658/htdocs/3

[2018-06-19 15:39] ryannix123 commented on #7518
@MorrisJobke
Fatal | webdav | Icewind\SMB\Exception\Exception: Unknown error (104) for /nix_owncloud/home/nextcloud/public_html/apps/files_external/3rdparty/icewind/smb/src/Exception/Exception.php - line 35: Icewind\SMB\Exception\Exception unknown('/nix_owncloud', 104)/home/nextcloud/public_html/apps/files_external/3rdparty/icewind/smb/src/NativeState.php - line 49: Icewind\SMB\Exception\Exception

[2018-06-19 15:51] MorrisJobke commented on #9187
As this seems to be a setup issue I would like to ask you to raise your question in the forums: https://help.nextcloud.com

[2018-06-19 15:51] #9187 closed

[2018-06-19 16:14] MorrisJobke commented on #9153
I just tested this and it works just fine. Pressing backspace to remove elements works here.

If this is still an issue for you then please describe in detail what you tried to remove the user.

[2018-06-19 16:15] #9867 closed

[2018-06-19 17:16] rollanders commented on #9918
In my vcf there are names with åäö.

[2018-06-19 17:25] stratege1401 opened #9923 "Improvement - sharing files via public link: showing remote IP"
Could it be possible, as an improvement to sharing a file via a public link, to have the remote IP showing in the files/activities

as you can see, we have actually have `downloaded via public link x minutes ago`. Would be nice to have an IP too.
![shareimp1](https://user-images.githubusercontent.com/8655165/41613615-67373e92-73f6-11e8-982e-abd504fbe072.JPG)

[2018-06-19 17:34] yoshimido opened #9924 "Pdf view bug"
Hi,

I found bug in nextcloud 13.04 in pdf viewer. If click on pdf then nextcloud show pdf view correct. But if pdf is digital signed then pdf file is showed without digital sign.

If download document a open in default viewer everyting is ok.

Thx for advance.

[2018-06-19 17:34] MorrisJobke commented on #9924
Hi, I'm [GitMate.io](https://gitmate.io)!

It seems you've just enabled the issue triaging. I'm just scraping all issues from your repository and will give you some more information about this in a few minutes or so.

Because of the rate limit we can't scrape all information (including all comments and authors) right now - our system is already set up to scrape this in the next days over which the

[2018-06-19 18:16] stratege1401 commented on #9923
Sit tight, have a cigar, watch TV ... those "triage" robot are so bad, slow, illogic than i wonder why people continue to use them.

[2018-06-19 18:17] 48kRAM commented on #9153
This works if you want to delete the last user in the list. There's no way to delete a user who isn't last in the list though, as cursor keys don't appear to work.

[2018-06-19 18:18] 48kRAM commented on #9153
![screen shot 2018-06-19 at 2 18 00 pm](https://user-images.githubusercontent.com/8203971/41616275-9a851d08-73cb-11e8-8a65-9d7dc3185945.png)
In this case, how can I delete the user "John Effland"?

[2018-06-19 19:14] MorrisJobke commented on #9153
Nice catch 👍

@nextcloud/javascript Anybody who wants to look into this?

[2018-06-19 19:15] MorrisJobke commented on #9923
Sorry for the mess. We are in the process of setting it up.

[2018-06-19 19:18] MorrisJobke commented on #9923
@nextcloud/security @nickvergessen Does it make sense to log this? I'm uncertain if this would maybe have security or privacy implications?

[2018-06-19 19:18] MorrisJobke commented on #9923
cc @nextcloud/sharing @schiessle

[2018-06-19 19:19] stratege1401 commented on #9923
Don't worry, just kidding, but those robot IA will never do a correct job with your repo.
There is so many foreigners like me trying to "speak" a correct English ... how could a robot asses the idea behing a badly written statements ?!!

[2018-06-19 19:19] MorrisJobke commented on #9924
Could you post a screenshot of the broken signature? Or is it just not shown? Then it would be a feature request and I would ask you to open in it the apps repository: https://github.com/nextcloud/files_pdfviewer

[2018-06-19 19:21] MorrisJobke commented on #9923
We are trying it out and see if it help or not. Just want to give it some try. Having at least a rough categorization helps to triage the huge amount of incoming tickets being distributed across the team.

[2018-06-19 20:09] go2sh commented on #9923
Be aware, that showing the IP means actually storing the IP and thus might conflict with the DSGVO/GDPR.

[2018-06-19 21:01] tapete commented on #8239
I'm not sure if this error came with 13.0.3 or 13.0.4 as I made these updates at the same time. In 13.0.3 there were some changes which might be related to this issue. For example https://github.com/nextcloud/server/pull/9389/files

[2018-06-19 21:08] tapete commented on #9910
I noticed the same behaviour. This is also discussed here: https://github.com/nextcloud/server/issues/8239#issuecomment-398294991

[2018-06-19 22:16] tflidd commented on #9597
I can confirm that with a current NC 12.0.9 and NC 13.0.4 setup:

- create folder in NC 13 and share with other user on different setup via federated cloud sharing
- accept the share in NC 12
- you can create a link to share this folder (but you can't share to other users)

@rullzer @LukasReschke Is this a security issue? Or does this restriction not apply to sharing via link?

[2018-06-19 22:21] ninjao commented on #8299
I have this exact issue. Does anyone have some kind of a solution?

Uploads directly to S3 are visible and downloadable perfectly fine. However anything uploaded via web interface from next cloud to S3 gets destroyed.

Preview fails in console with:
`preview.png:1 GET https://hidden.domain/index.php/core/preview.png?file=%2FJulien+Cloud%2Fsony_logo_PNG2.png&c=5b2980276cdbe&x=56&y=56&forceIcon=0 50

[2018-06-19 22:45] #2657 closed

[2018-06-19 22:50] #9414 closed

[2018-06-19 22:50] skjnldsv commented on #9414
Fixed in #9912

[2018-06-19 22:57] skjnldsv commented on #8819
@HandsomeBoby still happening?
I don't understand your last comment.

[2018-06-19 22:59] skjnldsv commented on #3591
@juliushaertl

[2018-06-20 01:00] #9249 closed

[2018-06-20 06:16] juliushaertl commented on #3591
I would just keep the sorting in the app lists the default order and add separate sections for app store apps that show top rated and newest apps. Is that what you had in mind? Sorting is pretty simple for the list view, but i don't see that it has a huge benefit, since we have a nice search there now. cc @nextcloud/designers

[2018-06-20 07:28] skjnldsv commented on #3591
I agree. There is not that many apps. I guess it's fine how it is now! :)

[2018-06-20 07:32] ChristophWurst commented on #9441
Well done :rocket:

[2018-06-20 08:17] dairaine opened #9931 "Allow copying into same folder, append " (2)""
I often need to make a backup before file sharing in modification mode. A possibility to copy or move files is implemented in Nextcloud, but it seems not possible to duplicate a file in the same folder because a renaming is not allowed. It would be nice to have such a mechanism allowing a duplication in one click.

[2018-06-20 09:01] MorrisJobke commented on #9354
As there is no feedback since a while I will close this ticket. If this is still happening please feel free to reopen.

[2018-06-20 09:02] MorrisJobke commented on #9220
As there is no feedback since a while I will close this ticket. If this is still happening please feel free to reopen.

[2018-06-20 09:06] jancborchardt commented on #3591
@juliushaertl we shouldn't keep adding and adding new sidebar sections for everything instead of improving the default experience. ;)

Sections which come from the appstore should be sorted by rating, to showcase the best apps. Alphabetic sorting makes no sense here.

[2018-06-20 09:07] MorrisJobke commented on #9524
This sounds like a bug in Firefox. Could you report it there as well and check if this is the wanted behavior?

See https://developer.mozilla.org/en-US/docs/Web/HTML/Element/input#attr-autocomplete

[2018-06-20 09:07] MorrisJobke commented on #9479
As there is no feedback since a while I will close this ticket. If this is still happening please feel free to reopen.

[2018-06-20 09:07] #9479 closed

[2018-06-20 09:08] MorrisJobke commented on #9362
As there is no feedback since a while I will close this ticket. If this is still happening please feel free to reopen.

[2018-06-20 09:08] #9362 closed

[2018-06-20 09:09] skjnldsv commented on #3591
@jancborchardt I disagree. Rating sorting is good when you don't know what app you want to add. It's useful when you're curious and want to explore.
Alphabetic make sense when you know what you're looking.

[2018-06-20 09:17] MorrisJobke commented on #7447
As we can't reproduce and there are no logs I will close this ticket for now. Once this happens again we can have another look at the issue.

[2018-06-20 09:17] #7447 closed

[2018-06-20 09:32] jancborchardt commented on #3591
Sorry, but no proper app store is sorted alphabetically. Names are arbitrary, for example "Full text search" is at "F", while it could be expected at " S" for "Search".

When you know what you are looking for, you use search. And you already have the categories to look for things, which then highlight the popular apps. (Popular = you are likely to want this)

Sorry, but adding more and more naviga

[2018-06-20 09:33] MorrisJobke commented on #7725
There were several fixes to the deck app in the meantime and we have many running instances with it installed on 13.0.4. Could you check again if this is still a problem for you?

Until then I will close this ticket here. We can reopen if this is still happening.

[2018-06-20 09:33] #7725 closed

[2018-06-20 09:47] pielonet commented on #9220
There was feedback : I added the LDAP configuration to my post !

[2018-06-20 10:01] MorrisJobke commented on #9931
cc @nextcloud/designers Does this make sense from an UX point of view? I would just add it to the context menu where we already have the copy and move operations.

[2018-06-20 10:05] Thorbinjho opened #9932 "Failed to connect to www.nextcloud.com"
I am having trouble to connect to nextcloud.com from my server. When searching for this issue, I often find solutions where the server is not connected to the internet. Therefore I did some ping-tests:
1. my server --> www.nextcloud.com: I get some answers but there is ~97% package loss. I ran the test for some minutes and the answered packages are distributed over the entire run. The answers come

[2018-06-20 10:11] MorrisJobke commented on #9932
That's not how it works. We use www.nextcloud.com only for general connectivity check.

apps.nextcloud.com is another machine that serves the app store and the updates of those apps.

updates.nextcloud.com is yet another machine that informs your Nextcloud about updates of the server.

Seeing your first description it looks like there is a slight setup issue somewhere. As we can't reproduce the is

[2018-06-20 10:11] #9932 closed

[2018-06-20 10:12] MaxBarraclough commented on #9916
[Apparently](https://support.mozilla.org/en-US/questions/1049744) it's powered by Google's 'Safe Browsing' project.

Chrome on Windows gives me the same scary warning, and unlike Firefox, it ***does not allow me to bypass it***.

I'd [report it](https://safebrowsing.google.com/safebrowsing/report_error/?hl=en) but I don't know what specific URL to use.

[2018-06-20 10:14] Thorbinjho commented on #9932
Thanks for your fast comment!

[2018-06-20 10:28] MorrisJobke commented on #9220
@blizzz Could you have a look at it?

@pielonet Next time just add a comment, so that we get notified about the updated post.

[2018-06-20 10:41] mannp commented on #7725
@MorrisJobke It was due to previous beta testing where the app caused an issue with my db.

I have started from scratch and no longer beta test due to these type of issues (the same for e2ee)

[2018-06-20 11:39] fmikker commented on #9606
I want to come back to this issue and report my findings if someone else should have the same problem.

The issue was that the module loaded by Apache `librh-php70-php7.so` was the wrong version so there was a version mismatch between what module that was loaded in cli compared to what was loaded into Apache.
from: `/etc/httpd/conf.modules.d/15-rh-php70-php.conf`
[code]
This module in the relative

[2018-06-20 11:40] brunt82 commented on #5158
Any updates for this issue?

[2018-06-20 11:46] brunt82 commented on #9922
What kind of database do you use? SQLLite only supports one access at the same time.

[2018-06-20 11:48] brunt82 commented on #9918
And could you reproduce it with a vcf without such special characters?

[2018-06-20 11:53] zeigerpuppy commented on #3663
I have the same issue behind reverse proxy (Apache 2.4 Debian Stretch)

[code]

Interestingly, when I then continue the backup from the command line

[code]

It shows that the backup worked (it continues from the next step), so there must be something in the reverse proxy setup that prevents the installer verifying the backup succeeded.

[2018-06-20 11:57] jancborchardt opened #9933 "Download action in share link header split in two"
In the header of sharing, on the top right there’s the download actions:
![screenshot from 2018-06-20 13-51-10](https://user-images.githubusercontent.com/925062/41656659-097ae808-7491-11e8-838b-a07d3daa1ad4.png)

Now the design for this (and as it worked before) is:
- Both text and 3-dot menu toggle are _one_ element. The text is merely a label for the icon as the actions are all "related" to down

[2018-06-20 12:09] Olen commented on #3622
I see the same issue.  PUT and DELETE typically takes 20-30 seconds.

What tuning of file system mounts did you do?

[2018-06-20 12:14] #9562 closed

[2018-06-20 12:26] himpierre opened #9934 "master key encryption setup user password change (docu needed)"
Hello Devs.

I have a master key encrypted setup. Reading the docu did not answer my question. Here we go. When a user changes his password, is there any kind of reencryption needed? I guess no, but i wanna be sure. :-)

I would really appreciate if a dev could take the time to explain the master key encyrption setup a litte bit. I have in $docroot/data/files_encryption/OC_DEFAULT_MODULE/:

[code]

[2018-06-20 12:37] MorrisJobke commented on #9934
cc @nextcloud/encryption

[2018-06-20 12:47] p5n opened #9935 "(federation file sharing) cannot share file to user with @ in username"
### Steps to reproduce
1. Set up 2 nextcloud instances
2. Use IMAP external authentication with IMAP server that uses user@domain usernames
3. Try to share file to user@domain@cloud.domain

### Expected behaviour
File shared

### Actual behaviour
Nothing happened: file looks shared, but another instance does not get it. However it works for other nextcloud instances that does not use IMAP external

[2018-06-20 12:56] blu-IT opened #9936 "Filter/hide users in different groups - missing GDPR compliance?"
Hello,

I add serveral users to my nextcloud server, that are stored in the mysql-database. I even have the imap-auth backend up and working for user authentication.
As nextcloud admin I configured two groups, let's say employees and customers. Now I log in as a customer and I can see **all other customers _even_ the employees** in the right top button with the user symbol.

What I want, is that u

[2018-06-20 13:29] MorrisJobke commented on #9935
cc @schiessle @nextcloud/sharing

[2018-06-20 13:30] MorrisJobke commented on #9936
In the sharing settings in the admin section you can disable the autocompletion or limit it to groups a user is part of. This should solve your issue.

[2018-06-20 13:30] #9936 closed

[2018-06-20 14:28] rollanders commented on #9918
I cannot test it as the errors remain active all the time. Even after deactivating the Contacts app. 
Roland

    Den onsdag, 20 juni 2018 13:48 skrev brunt82 <notifications@github.com>:

 And could you reproduce it with a vcf without such special characters?—
You are receiving this because you authored the thread.
Reply to this email directly, view it on GitHub, or mute the thread.

[2018-06-20 14:31] rollanders commented on #9918
This is what it looks like since 2 days ago. Every second a new error.

![image](https://user-images.githubusercontent.com/36486009/41664992-3c51d1f4-74a7-11e8-9ab3-f2eb33f80f8f.png)

[2018-06-20 14:31] blu-IT commented on #9936
Hi,

sorry for that!

OK, hiding users of other groups works now, but what if I also want to achieve that only in a special group (e.g. customers) they should not be able to see each other in the same group?

Thanks!

Regards

[2018-06-20 14:36] rollanders commented on #9918
You can try it yourself. Add one contact. Try adding one contact with odd letter like é or similar. The error was confirmed in another installation importing this vcf-file. 
 

    Den onsdag, 20 juni 2018 13:48 skrev brunt82 <notifications@github.com>:

 And could you reproduce it with a vcf without such special characters?—
You are receiving this because you authored the thread.
Reply to this em

[2018-06-20 14:45] dali99 opened #9937 "Samba external storage not working for some files"
### Steps to reproduce
1. Large image set
2. Go into folder with no thumbnail
3. Try Download the file

### Expected behaviour
The file should open, and be able to download

### Actual behaviour
A page with Service Unavailable shows up on Download
Error message with "Could not generate preview for this file"

### Server configuration

**Operating system**:
Ubuntu (Docker)

**Web server:**
Apache (

[2018-06-20 15:25] rullzer opened #9938 "Vue settings apps"
Right now the vue settings app already has 2 routes (one for the users page and one for the apps page).

However since we'd like to move more settings stuff (like the apptoken stuff since it still uses handlebars etc) to vue as well. It would be great to find a solution to this issue.

The main problem is that the current router handles different urls fine. However. It it mounted on the `#content`

[2018-06-20 15:32] MorrisJobke commented on #9937
cc @icewind1991 @rullzer

[2018-06-20 15:48] MorrisJobke commented on #9936
That one would be a special feature that needs to be implemented separately. It is as of now also not on our roadmap.

[2018-06-20 15:56] blu-IT commented on #9936
Hi,

OK - thanks for the information!

Personally I would consider that feature very important - especially regarding some GDPR and privacy compliance.
Do I have to state this feature wish somewhere else to have a chance to get it on the roadmap? ;-)

Regards

[2018-06-20 15:57] arnowelzel opened #9939 "Server always resets logging to loglevel 0"
### Steps to reproduce
1. Set the loglevel in the Nextcloud configuration to 2
2. Wait for about one day
3. Notice, that the loglevel was reset to 0

### Expected behaviour
The loglevel should stay at 2 so the log does not get filled with info and debug messages.

### Actual behaviour
The loglevel is reset to 0 and the log is getting filled with info and debug messages.

### Server configuration

[2018-06-20 16:04] MorrisJobke commented on #9936
Just create a new ticket for this new refined feature request. But then there is also no guarantee that it will land on the roadmap.

If you wish some consulting work, then Nextcloud GmbH provides professional services to develop features or give some influence on the roadmap in the Nextcloud subscription. Learn more about this at https://nextcloud.com/enterprise/

[2018-06-20 16:06] MorrisJobke commented on #9939
@arnowelzel Could you check if there are more files in `config/` and what their content is? (maybe strip away sensitive values)

The config report says that the log level is indeed `0`.

[2018-06-20 16:37] arnowelzel commented on #9939
@MorrisJobke `config.sample.php` (came with Nextcloud) and `mimetypemapping.json` which I created to add additional MIME types according to https://docs.nextcloud.com/server/13/admin_manual/configuration_mimetypes/index.html.

If it helps: I believe the issue started after updating to NC 13.0.4. Before I never had this problem.

I just have reset the loglevel back to 2 and will monitor this.

[2018-06-20 17:29] skjnldsv opened #9940 "Deprecate scss variables in favour of css"
Following #9723

- [x] Stop importing the scss variable style on every compilation
- [x] Throw warning at the user/dev [?]
- [x] Remove runtime scss compilation in favour of buildtime compilation

[2018-06-20 17:54] #6727 closed

[2018-06-20 20:30] MorrisJobke commented on #9924
Then please open it as a feature request in the pdf viewer app. Maybe also check with the upstream project if they support it already. We use pdf.js from Mozilla - you can try out their demo on https://mozilla.github.io/pdf.js/

If it doesn't work there it makes most sense to file it on their side first and once they support it request it on our side.

Thanks

[2018-06-20 20:30] #9924 closed

[2018-06-20 21:54] Thorbinjho commented on #9932
I feel bad to post that it was related to my firewall settings. I only had some filters on the incoming network traffic and did not expect to have any problems with "outgoing" connections. However, the firewall somehow interferred with some targets which prevented my server to download git-repositories in many cases as well as connections to nextcloud.com (both often but not always).

[2018-06-20 22:49] stratege1401 commented on #9923
European GDPR art 25, art 33, art 37 with concept of "Privacy by design" and " explicit and positive consent" cover the IP logging.
Art 22 with concept of "privacy by using" authorize any log if:
- data security is overseen by a DPO (Data Protection Officer) clearly identify with a direct contact.
- data deletion can be managed by user when deleting account
- In case a data breach, DPO action is p

[2018-06-21 02:13] MeiRos commented on #5117
@josh4trunks
Should we use $request_uri instead of $uri?
At least documents linked above have $uri.

[2018-06-21 03:08] terrytibbles commented on #9243
I've got the exact same problem. I have a Debian 7 system and upgrading from Apache 2.4.25 to 2.4.29 causes the MPM to change from worker to event. I've just tried re-compiling with the worker MPM (which worked previously), so we'll see what happens.

[2018-06-21 04:03] smkent commented on #9243
It's been a while since I migrated to PHP-FPM and the issue still has not returned.

[2018-06-21 07:57] jancborchardt opened #9943 "Searching and then pressing enter in apps management leads to blank page"
1. Go to the apps management
2. Use the search in the top right, type something in
3. Press enter

You will be redirected to a blank page. Pressing enter should not do anything in this case, as we have no details for apps.

(In a new app management, we could for example open the sidebar with app details on pressing enter. cc @juliushaertl @skjnldsv)

[2018-06-21 08:01] jancborchardt commented on #9931
The problem here is that

Because in the case of copying it in the same folder, you get this technical notification:

What should happen instead is that the copying simply works, and appends a " (2)" to the filename. So from "filename.txt" to "filename (2).txt". (Or a " (3)" if a 2 already exists etc – just like we do for files drop.)

[2018-06-21 08:03] go2sh commented on #9923
It's not about the user sharing the file. It's about the IP downloading the file, which will be stored and shown to other users. And thus prior to storing, you need to give the user the privacy information, depending on your reason to store, get the consent from the user, have a solution to transfer the stored data to the user and the delete the data, when requested or when then storing period is

[2018-06-21 08:09] #5986 closed

[2018-06-21 08:57] stratege1401 commented on #9923
In my mind, the logging is admin reserved.
As the server admin is, most of the time the DPO, it respect the GDPR.
The only little thing needed also is a write or rewrite of the users disclaimer.

[2018-06-21 09:15] kevgathuku opened #9944 "Unable to visually determine selected tab in file details view when using keyboard navigation"
### Steps to reproduce
1. Open the files view.  For any file, open the file details view
2. Try to navigate the tabs (Activities, Comments, Sharing, Versions) using the keyboard
3. Nothing visible is happening. It is unclear which element currently has focus

### Expected behaviour
The tab element in focus should have a visible outline around it to enable the user to visually determine the compone

[2018-06-21 09:53] MorrisJobke commented on #9943
Already reported to @skjnldsv - haven't you opened a fix for this already?

[2018-06-21 09:53] MorrisJobke commented on #9944
cc @nextcloud/designers

[2018-06-21 09:53] skjnldsv commented on #9943
No, I introduced the bug actually

[2018-06-21 11:17] stratege1401 opened #9945 "nc13.0.4 admin delete user failed"
Was trying to verify if #8402 was reproductive with nextcloud upgraded to 13.0.4

Step1: As admin, manually created user02 + password
Step2: Log one time that user, edit a files and remove a folder --> some activities.
Step3: As admin, delete user.

Expected behavior:
- user02 should be deleted.

Actual behavior:
- user02 not deleted, a message appear on top middle of page with text "deleted test0

[2018-06-21 11:37] MorrisJobke commented on #9945
Instead of refresh could you wait at least 30 seconds and then refresh. Is it still gone? Then it might be a missing event listener, because we wait AFAIK for 7-10 seconds (until the badge with the undo on top is hidden) until we trigger the actual delete. So it is basically a count down and only fires once 0 is reached. Usually there is a page unload event that we listen for and also trigger then

[2018-06-21 11:39] stratege1401 commented on #9945
UPDATED: please, consider this fix. I notice the `Allowed memory size of 134217728 bytes exhausted ` but did not know it was a fatal error for php.

after modifying the /etc/php/7.0/apache2/php.ini to set `memory_limit` in concordance with my RAM and restarted apache2, i am now able to deseable/delete users without problems.

[2018-06-21 11:39] #9945 closed

[2018-06-21 11:46] stratege1401 commented on #8402
Checked #8402 against NC13.0.4  :  was not able to reproduced bug.

One important change in config between feb16 and today, i have update /etc/php/7.0/apache2/php.ini to set memory_limit from `128M `to `6144M` in concordance with my RAM and restarted apache2

[2018-06-21 11:46] blu-IT commented on #9936
OK, thanks!

Seems I have to refine/redefine very exactlay: Now that members of each group can't see the members of the other groups, employees can't share data with customers - so hopefully there has to be another way in future to achieve this.

I will open another ticket.

[2018-06-21 12:00] blu-IT opened #9947 "Filter/hide groups users in differnt groups"
Hello,

as mentioned here [https://github.com/nextcloud/server/issues/9936](https://github.com/nextcloud/server/issues/9936) before, I see the need of separating the access to serveral information, also regarding the nextcloud system to be GDPR complient in this not so unusual case.

This is the situation: As nextcloud admin I configured two groups, let's say _employees_ and _customers_. Now I log

[2018-06-21 12:03] nickvergessen opened #9948 "Deactivated users should not be suggested in chat/comments mentions and on the sharee endpoint."
See https://github.com/nextcloud/spreed/issues/959

Or does anyone know a reason why they should? @MorrisJobke @blizzz

[2018-06-21 12:15] simonspo opened #9949 "Warning when disabling maintenance mode using occ"
When disabling maintenance mode using occ, the warning "Nextcloud is in maintenance mode - no apps have been loaded" is sent to stderr. However, trying to disable maintenance mode when it is not enabled, produces no warnings and no output to strerr.

### Steps to reproduce
1. Make sure maintenance mode is enabled: `sudo -u www-data php occ | grep 'in maintenance'`. Output: `Nextcloud is in mainten

[2018-06-21 12:37] forgadex opened #9950 "All files get Password protected if user saves password on the browser"
### Steps to reproduce
1. Login in nextcloud
2. Save password in the browser
3. Share a file with someoneelse

### Expected behaviour
Be able to select another user other than yourself and not protect with password

### Actual behaviour
Selected user for sharing is always yourself and the file is protected with my own nextcloud password

### Browser
Google Chrome all versions

[2018-06-21 12:44] jancborchardt commented on #8167
There’s also a new pull request up for review for keyboard accessibility of the app-navigation: https://github.com/nextcloud/server/pull/9951

And another one for high-contrast theme and font, as well as dark mode: https://github.com/nextcloud/server/pull/9862

And the pull request mentioned before which fixes header accessibility https://github.com/nextcloud/server/pull/6700

Let’s close this iss

[2018-06-21 12:44] #8167 closed

[2018-06-21 13:16] zippytiff commented on #6203
Hi,

Any progress on this, having hundreds of lines of devices sessions when a user only has 3 devices makes no sense.

And no way to tidy up

Help

ZT

[2018-06-21 13:48] EvilBMP commented on #7829
@MorrisJobke
I think, nextcloud is not only distributed as end user software. If agencies use nextcloud together with other client web software they want to distribute it via shell and put the(ir) stuff under version control.

In my opinion, distributing software only via ZIP files, feels a bit "aged".

[2018-06-21 13:58] jonathanpantall opened #9952 "Show Full Path for Shared Item (External Share Screen)"
Hello,
We have a group of users that have a set / generic folder structure for projects they work on. When they share a sub-folder out to a client, they would like the ability to display the full folder path to the external user so they have context of what they're viewing. This would apply to folders or individual files being shared externally.

I'm not sure if this has been requested as an enhan

[2018-06-21 14:45] jancborchardt commented on #2426
@jonathanpantall this is a different issue though as it relates to sharing. Please open a separate issue. :)

[2018-06-21 14:56] jancborchardt commented on #8133
I remember that some of the strange code was necessary to make this work, especially because there were some inconsistencies between Firefox and Chrome. So if there is any change, make sure to test it extensively. :)

[2018-06-21 14:59] kevgathuku commented on #9944
Thanks @jancborchardt
I'll work on a fix, and I'll make sure to ask any questions that may come up 😃

[2018-06-21 15:02] arnowelzel opened #9953 "Error message "Call to a member function getUID() on null" in cron"
### Steps to reproduce
1. In the Nextcloud settings set "Background jobs" to "Cron"
2. Add a cronjob for the web user with the following definition in the users crontab:
`*/15 * * * * php -f /<path to nextcloud>/cron.php`
3. Wait for 12-24 hours

### Expected behaviour
There is no error message from cron.

### Actual behaviour
There is an error message from cron: `Call to a member function getUID(

[2018-06-21 15:06] arnowelzel commented on #9939
Just a quick update: about 22 hours have passed and so far the loglevel didn't change :-). If it happens again, I'll let you know. If it stays like that for another 24 hours I will close this issue.

[2018-06-21 16:01] MorrisJobke commented on #7829
The thing with "providing ways to distribute software" is, that it basically eats resources on our side. We are good in developing software - so we try to spend as much time with this. We want to have a software that just works and solves the problems we want to solve. There are a huge amount of ways to distribute software - just to name a few RPM, DEB, snap, docker, composer, flatpak, appimage, b

[2018-06-21 16:02] MorrisJobke commented on #9947
cc @jospoortvliet @blizzz @nextcloud/sharing

[2018-06-21 16:30] MorrisJobke commented on #9950
This is very likely the same cause as #9524

We fixed part of this with #7461

On which version are you?

[2018-06-21 16:33] MorrisJobke commented on #9952
This is nearly the opposite of #9789. I would not add it to the server directly, but do this in an app.

cc @nextcloud/sharing Opinion?

[2018-06-21 16:36] MorrisJobke commented on #9953
Weird - this looks like old logs, because there is no stack trace, but https://github.com/nextcloud/server/pull/7820/files was ported to stable13 already 🤔

Could you check the last 10 lines of `cron.php` and comment here what is in there?

[2018-06-21 16:40] #2075 closed

[2018-06-21 16:41] josh4trunks commented on #5117
@MeiRos, yes it looks like my comment https://github.com/nextcloud/server/issues/5117#issuecomment-304636380 was not fully implemented.

These two lines in https://github.com/nextcloud/documentation/blob/master/admin_manual/installation/nginx.rst...
[code]
Should be changed to...
[code]

If someone wants to submit a PR and mention me we can review it there.

[2018-06-21 17:07] rullzer commented on #9952
Yes in some app please. i don't like exposing any more info than needed.

[2018-06-21 17:32] arnowelzel commented on #9953
These are the last 10 lines of `cron.php` of the affected instance. The file was last touched 2018-06-12 09:34 UTC when I updated to 13.0.4 with the browser based updater:

[code]

[2018-06-21 17:36] arnowelzel commented on #9953
If I add the changes from https://github.com/nextcloud/server/pull/7820/files to my NextCloud instance, would this prevent future updates because of some integrity checks?

[2018-06-21 19:44] polo123qwe commented on #8803
I'm facing the same issue the same logs in the client on my latop and main rig both running Arch. Disabling the bruteforce-plugin does not seem to fix the issue. The problem triggers on the restart of the program, it doesn't have to be necessarily the whole system. I haven't found a solution yet

[2018-06-21 20:12] dtygel opened #9957 "Critical: renaming files inside shared nested folder duplicates file"
### Precondition:
Users U, S1 and S2 must have desktop sync client installed (Ubuntu) and configured to share all remote files/folders.

### Steps to reproduce
1. User U creates a folder A
2. User U creates a folder B inside A
3. User U shares folder A with users S1 and S2
4. User U shares folder B with users S1 and S2
5. User U creates a file F in folder B (in desktop)
6. Wait until all users' de

[2018-06-21 20:37] tapete commented on #8239
Any progress on this issue?

[2018-06-21 21:16] MorrisJobke commented on #9953
Somehow #7820 was merged against master 😑

Okay - could you add the changes from #7820 and apply them to the cron.php manually. Then the next error message should be a lot more helpful. In the meanwhile I will backport #7820 to the next stable13 release.

[2018-06-21 21:32] jancborchardt opened #9959 "Search-as-you-type in apps management does not work anymore"
Search in the apps management used to be search-as-you-type, now you need to press enter.

This should of course be back to search-as-you-type. ;)

cc @juliushaertl @skjnldsv

[2018-06-21 21:37] #9943 closed

[2018-06-21 21:38] MorrisJobke commented on #9959
Ref #9954, #9943, #9767 and #9565

[2018-06-21 21:39] MorrisJobke commented on #4581
Fixed in #9565

[2018-06-21 21:39] #4581 closed

[2018-06-21 21:47] tapete commented on #8239
I fixed this issue for me. I edited "lib/private/Files/Storage/Common.php" and changed
`		try {
			$provider->changeLock('files/' . md5($this->getId() . '::' . trim($path, '/')), $type);
		} catch (LockedException $e) {
        		\OC::$server->getLogger()->logException($e);
			throw $e;
		}`

to
`		try {
			$provider->changeLock('files/' . md5($this->getId() . '::' . trim($path, '/')), $type);
		}

[2018-06-21 22:18] emresaracoglu opened #9960 "Error occurred during the update process"
Hi,

_13.0.2 to 13.0.4_

How do I get past this error?

[2018-06-21 22:53] #9960 closed

[2018-06-22 01:24] djpremier opened #9961 "PostgreSQL DeadLock"
Doctrine\DBAL\Exception\DriverException: An exception occurred while executing 'UPDATE "oc_filecache" SET "mtime" = GREATEST("mtime", ?), "etag" = ? WHERE ("storage" = ?) AND ("path_hash" IN ('d41d8cd98f00b204e9800998ecf8427e', 'ba6faea51fc5e9a600aff43aa64fb140', 'f4d6b76891f39a882516952e6dc844d5', '992738f64bef805fe8d514c43e6e2f8d'))' with params [1529583888, "5b2b9910bd255", 1]: SQLSTATE[40P01]:

[2018-06-22 05:17] skjnldsv commented on #8819
@HandsomeBoby it will be fixed by #9917
The global search needs to move. Nonetheless searching for files should also appear in the same location as the others file, I agree.
This will probably be fixed in 15 as well.

[2018-06-22 06:53] skjnldsv commented on #9959
The search is working for me on latest master :)
![kazam](https://user-images.githubusercontent.com/14975046/41762061-c5a7d860-75f9-11e8-9b86-0dadfdd1d802.gif)

[2018-06-22 07:05] cyberb commented on #9125
Can a user access share if the author of the share is logged in to Nextcoud at the same time?

[2018-06-22 07:32] 4001982248998 commented on #9125
meanwhile I could find out that the share's author account has since been deleted.

It was shared with another user, who has shared a folder further with other users.

So the share's author has been deleted, but the share remained, but is in sort of a zombie state. You can see it, but neither use nor manipulate it. It is also causing errors in the desktop sync client.

[2018-06-22 07:44] arnowelzel commented on #9953
Ok, I just applied #7820 to my instance. As soon as I get a more detailed log entry, I'll post it here.

[2018-06-22 07:49] arnowelzel commented on #9939
Another 17 hours passed without any problem - which is good :-). I'll close this issue now. On the other hand: I really had this strange effect in the last 10 days multiple times. Can a Nextcloud plugin change the debug level on its own?

[2018-06-22 08:00] arnowelzel commented on #9959
Hmm - but this works for me in the latest stable 13.0.4 as well.

[2018-06-22 08:03] skjnldsv commented on #9959
@arnowelzel this is about latest nextcloud 14 ;)

[2018-06-22 08:06] juliushaertl commented on #9959
@skjnldsv If I got @jancborchardt correct, the issue is about searching as you type, like in hit a letter key and the filter is applied. (without hitting enter)

[2018-06-22 08:11] skjnldsv commented on #9959
@juliushaertl that's what I did :)

[2018-06-22 08:14] juliushaertl commented on #9959
Ah sorry, i was thinking that it wasn't working from your screen recording, but it is just the debounce delay. @jancborchardt Should already work fine then.

[2018-06-22 08:14] #9959 closed

[2018-06-22 08:16] skjnldsv commented on #9959
We could lower the debounce if that's necessary though

[2018-06-22 08:22] Titango2083 opened #9963 "Calendar-app extension for a year-view"
Is the nextcloud-calendar planned to get a year-view? That would be awesome :)

[2018-06-22 08:50] Loki3000 commented on #3622
It was NFS mounted in sync mode. It's crashproof but slow. After switch to async mode speed becomes normal.

[2018-06-22 08:54] #4589 closed

[2018-06-22 09:50] MorrisJobke commented on #9963
Please report this in the calendar app: https://github.com/nextcloud/calendar/issues

Thankss

[2018-06-22 09:50] #9963 closed

[2018-06-22 12:12] MorrisJobke commented on #8402
Fix is in #9965

[2018-06-22 12:14] arnowelzel commented on #9939
Now it happend again. At 2016-06-22 11:58 UTC, the loglevel was reset to 0 again :-(.

At that time I was using the "Deck" app in the browser.

So the question is: under which circumstances may the loglevel be changed?

[2018-06-22 12:30] arnowelzel commented on #9939
Very strange, indeed: I did reset the loglevel to 2. It got immediatly reset to 0 when I was using the Gallery app and the following error was logged:

`Debug  |  core  |  OC_Image->loadFromBase64, could not load`

Then I manually reset the loglevel back to 2 again, entered the Gallery again - and nothing happens. The loglevel stays at 2. Also entering "Deck" again etc. does not change anything.

[2018-06-22 12:48] #8402 closed

[2018-06-22 12:53] arnowelzel commented on #9939
I think, I found it: https://github.com/nextcloud/logreader/issues/68

This is true here as well - because when using the logreader I have "debug" usally filtered out. To check, if the loglevel was reset back to 0 again, I activated the "debug" checkbox in the logreader filter and this causes the loglevel to be reset to 0.

I think the problem is this here (`apps/logreader/lib/Controller/LogContro

[2018-06-22 13:58] forgadex commented on #9950
We are running version 12. So the issue is solved.

Thanks

Rafael Freire
________________________________
De: Morris Jobke <notifications@github.com>
Enviado: quinta-feira, 21 de junho de 2018 13:30
Para: nextcloud/server
Cc: forgadex; Author
Assunto: Re: [nextcloud/server] All files get Password protected if user saves password on the browser (#9950)

This is very likely the same cause as #9524<

[2018-06-22 14:14] viniciuscb commented on #9957
+1

[2018-06-22 14:57] bpcurse commented on #5704
The side-menu's sorting by user count shouldn't be the default view. Especially when you have created groups in a logical naming concept, it seems wiser to display them by default sorted by name and let the user choose another view if necessary.

[2018-06-22 17:10] arnowelzel commented on #9939
Since this bug is a flaw in the logreader app and not the server itself, I close this issue.

[2018-06-22 17:10] #9939 closed

[2018-06-22 17:14] arnowelzel commented on #9953
Now I got more details. It seems there is a problem with the "Deck" app:

[code]

The stack trace more readable:

[code]

[2018-06-22 17:27] splitt3r commented on #9315
Raising the version number shows the upgrade page without any problems.

[2018-06-22 17:30] arnowelzel commented on #9953
After checking the database I think I understand what happened.

First there was a user who created two boards. Later this user got deleted, but not the boards. So the boards became orphaned and the call of `$this->permissionService->findUsers($boardId)` in `/apps/deck/lib/Notification/NotificationHelper.php` does not find any users and returns NULL.

Is there a hook for apps to cleanup data of us

[2018-06-22 20:04] sunjam commented on #9963
[This Nextcloud calendar issue 159 for a year view seems related.](https://github.com/nextcloud/calendar/issues/159)

[2018-06-22 20:13] pawlosck commented on #9957
I think, it can be connected with my issue -> https://github.com/nextcloud/server/issues/8301

[2018-06-22 20:25] mabuch commented on #3131
Adding the code from https://stackoverflow.com/questions/8719276/cors-with-php-headers/9866124#9866124 to remote.php (just after the already present header-function call) solves the issue for me.

[2018-06-22 20:57] DekoLP opened #9968 "Sharing folders doesnt work"
### Steps to reproduce
1. Share a folder
2. Open the downloadlink
3. Password required.

### Expected behaviour
I should be able to download the folder

### Actual behaviour
Nextcloud wants to know a Username and a Password which doesnt exists

### Reason why it happens

the file permission of the "data" folder is apparently changed back to 770 on the call. But Nextcloud does not seem to work with

[2018-06-22 22:36] Britz commented on #7473
This feature is still highly needed, why is it marked as stale?

[2018-06-22 23:44] jdinkel opened #9969 "Enable sabre/dav's locking feature [feature request]"
sabre/dav already supports webdav file locking, with instructions for enabling it here: http://sabre.io/dav/locks/

I would like for this to be enabled in Nextcloud, so webdav clients can make use of file locking.

Other than getting overwritten by the next update, would there be any unforeseen consequences if I just added the lines from that webpage to /var/www/nextcloud/apps/dav/appinfo/v1/webda

[2018-06-23 09:21] charlemagnelasse opened #9971 "caldav drops still active tasks"
I have nextcloud 13.0.4 and suddenly some tasks disappeared from caldav. They were all tasks which started on 2018-03-08, were not marked as finished and had no due to date.

[2018-06-23 09:30] charlemagnelasse commented on #9971
The 'sync only newer than" setting in akonadi is set to 99 years

[2018-06-23 10:07] tflidd commented on #8803
Can you try to use the sync client with a test setup in order to find out if the problem is create client- or server-side:
https://help.nextcloud.com/t/demo-instances-of-9-10-11-and-12-now-live/8709

[2018-06-23 14:16] tessus commented on #7067
@MorrisJobke could you please comment on the last 3 comments? I stumbled upon this a while back and was happy that this was implemented in nc 13 according to your post from Jan https://github.com/nextcloud/server/issues/7067#issuecomment-356003005.

Unfortunately it seems that people still seem to run into this problem with nc 13.0.2. I'm still on 12.0.9 and there it hasn't been fixed for sure, bu

[2018-06-23 14:29] Riya93 commented on #8697
You can LongPathTool program. It worked like a charm for me.

[2018-06-23 15:17] thenomemac commented on #8932
I'm having the same issue

[2018-06-23 15:55] AND51 opened #9972 "Public link exposes full name from profile"
### Steps to reproduce
1. Fill out your profil under Settings→Personal Info
2. Create a folder
3. Create shared link
4. Open shared link in a new window

### Expected behaviour
Sometimes I use a (write protected) shared link to share a folder with files. I post this shared link on various untrusted websites or places.

When I recently tested such a link in icognito mode, I noticed that my full nam

[2018-06-23 16:12] jancborchardt opened #9973 "User management: display name and password field prefilled"
When creating a new user, the display name and password fields are prefilled already with my own info:

![screenshot from 2018-06-23 18-11-05](https://user-images.githubusercontent.com/925062/41811490-e3ef994e-7710-11e8-9e53-034cb1732d19.png)

cc @nextcloud/designers @nextcloud/javascript

[2018-06-23 16:13] AND51 commented on #9972
@nextcloud-bot From your suggestions, only #6418 (Some content leaks to public from the user profile ) seems to match my issue roughly.

[2018-06-23 16:14] jancborchardt opened #9974 "App management navigation has padding on bottom"
There is no settings area for settings, so we don’t need the padding on the bottom:
![screenshot from 2018-06-23 18-07-05](https://user-images.githubusercontent.com/925062/41811494-00ce8cfa-7711-11e8-8bfc-bd6d6a2f32e3.png)

@nextcloud/designers didn’t we have that in the CSS before?

[2018-06-23 16:15] skjnldsv commented on #9973
Ah the good old prefill issue.
No browsers follow the actual w3c on this. This is really annoying! :(

[2018-06-23 16:17] skjnldsv commented on #9974
This should be automated with css. I guess we need to also update the positioning of the settings?

[2018-06-23 17:08] jancborchardt commented on #9974
Yep, as said I thought I remember this worked before. But then again, how can you modify a parent’s style based on if they have a child or not. We could require a class like `with-settings` (like `with-icon`) on the #app-navigation?

What do you mean by that? There’s no settings here at all, so nothing to update?

[2018-06-23 17:18] jancborchardt commented on #9740
We also removed the »Remember me« checkbox for 14, so another row won.

The solution with checking a box on every _log in_ makes little sense, as you should accept the legal stuff while registering, not on _every_ log in process. It will also be different on mobile again (which is even more widely used), where we can’t possibly show all info at the same time and people just need to scroll.

[2018-06-23 17:18] #9740 closed

[2018-06-23 17:20] skjnldsv commented on #9974
No, we need to stop using classes as toggles! :)
Css is powerful enough to detect the presence or not of an element. We should properly set things up so nothing is required ;)

[2018-06-23 17:28] jancborchardt commented on #8897
Maybe we should then just reword the description of stable to remove the word »production«, right?

@rakekniven do you want to prepare a small pull request doing that? Basically it could change to »It is suited for regular use …« (regular instead of production)

[2018-06-23 17:29] jancborchardt commented on #1831
@skjnldsv good stuff! Do we still need to have this open for tracking, like do you have an overview where the old method of select is still used where it needs to be replaced?

[2018-06-23 17:40] jancborchardt commented on #8438
Seems good to me. We already have special icons for shared folders, so we could do this with folders named "Pictures" (or attributes mentioned before) as well.

[2018-06-23 17:44] jancborchardt commented on #8660
Closing this as we won’t proceed with the suggested solution. We could possibly integrate with the Contacts menu, or Contacts app itself, to show shares with people there.

[2018-06-23 17:44] #8660 closed

[2018-06-23 17:45] skjnldsv commented on #1831
Yes because we still have some old legacy stuff laying around! :)

[2018-06-23 17:45] jancborchardt commented on #8702
cc @skjnldsv @nextcloud/designers since we talked about this in the #9862 accessibility pull request.

[2018-06-23 17:54] jancborchardt commented on #9974
Haha – nevermind, we do already have this class and use it in personal settings ;) it’s `without-app-settings`. I’ll use that.

Currently you can not modify a parent based on a child using CSS. :) See [caniuse :has() CSS relational pseudo-class](https://caniuse.com/#feat=css-has)

[2018-06-23 18:02] jancborchardt commented on #9974
Ok, this apparently has to be done by someone who knows Vue, as I have no idea where to insert the class or the logic for it.

Seems either settings/src/components/appNavigation.vue or settings/src/views/Apps.vue

[2018-06-23 18:32] jancborchardt commented on #8972
Same thing – two levels down, it can be shown below the "…" in the breadcrumbs. Two levels up it can always be shown below the current folder, cause it contains the folder where stuff is uploaded into.

[2018-06-23 18:36] skjnldsv commented on #9974
There are other ways to do that than use a padding on the parent

[2018-06-23 18:37] jancborchardt commented on #9026
This should not be done via a setting of course, but automatically, if at all.

When you have the "better" app enabled, it should overwrite the built-in player wherever it can. (Needs to be don either in the "better" app, or in the core app part?)

[2018-06-23 18:39] jancborchardt commented on #9156
@nickvergessen you mean app-navigation (the left one), _not_ sidebar (right side), correct?

[2018-06-23 19:30] rullzer commented on #1831
@skjnldsv feel free to update the first comment to list all the remaining things that need to be cleaned up. So people can easily see/track/tackle/fix it ;)

[2018-06-24 01:07] jancborchardt commented on #9974
I know, we can use fancy ways for lots of things – but I can't see how to use them short of rewriting our HTML. Which is not a proper fix in this case where we simply need to add a class we already use.

So if there are other ways we can do this for Nc 14, let me know. :) Otherwise, @juliushaertl @skjnldsv can you educate me where/how I would have to add the class in the Vue template?

[2018-06-24 03:42] yashmehrotra commented on #6954
I am facing the same issue.
Version: Nextcloud 13.0.4

The only workaround I found is to just create the directory via Nextcloud UI and the files will then appear.

Eg.
[code]

Create the folder `dir2` via the Nextcloud UI,
[code]

One weird thing I noticed is that my logs are not showing any error at all, no warning, no error.

[2018-06-24 09:17] foxinstone opened #9975 "Web page not displayed properly , Nginx + fpm , and they are located on different servers"
I have successfully installed NC13 on my ubuntu16.04 server, Every thing looks good, And I feel NC is an amazing software.
But there’s only one problem, when i use Nginx & PHP7.0-FPM， and they are located on different servers ，the web interface is wrong (Please see the screenshot, i know, it’s not configured, just example), Why is this?
But if i direct access the apache server， every thing is ok,

[2018-06-24 11:46] foxinstone commented on #9975
Thanks for your reply.
But i think my situation is quite different. if I strictly according to the official document (use FPM), the web page not displayed properly(But Android APP is OK) .But, if i use this config:

   location / {
      proxy_set_header Host $Host;
      proxy_set_header X-Real-IP $remote_addr;
      proxy_set_header X-Forwarded-For $proxy_add_x_forwarded_for;
      proxy_set_hea

[2018-06-24 13:43] grimlck opened #9976 "Official 3rd-party apps do not get enabled after upgrade"
### Steps to reproduce
1. Update Nextcloud version

### Expected behaviour
After the upgrade is finished, all official 3rd-party apps disabled by the upgrade process should  be enabled afterwards. (As far as I understand this should be fixed with https://github.com/nextcloud/server/issues/239)

### Actual behaviour
I have to manually enable those apps after every update.

[code]

### Server config

[2018-06-24 14:32] arnowelzel commented on #9953
Note so self: RTFM ;-)

https://docs.nextcloud.com/server/13/developer_manual/app/hooks.html

It seems, Deck is lacking user deleting hooks and therefore it can happen, that orphaned boards remain in the database when deleting a user in Nextcloud

[2018-06-24 14:37] #9953 closed

[2018-06-24 15:00] Temtaime commented on #8239
Same problem too with latest release using redis for locking. Before all was working

[2018-06-24 17:30] Temtaime commented on #8239
I can remove locks using redis-cli flushall but the problem comes back

[2018-06-24 17:42] skjnldsv commented on #9974
Here you go @jancborchardt https://github.com/nextcloud/server/pull/9977

[2018-06-24 20:28] RailsViceRoads opened #9978 "Login as deactivated user shows an error"
### Steps to reproduce
1. add an user account
2. deactivate this user
3. try login for this user on web interface

### Expected behaviour
* The same behaviour as login with wrong user name **or**
* the same behaviour as login with wrong password.

### Actual behaviour
* Login with wrong password will work as expected.
* Login with right password will show an error "user disabled". No login fields

[2018-06-24 21:41] MorrisJobke commented on #9976
This is due to Php 5.6. this will not happen on PHP 7.0+ anymore

[2018-06-24 21:41] #9976 closed

[2018-06-24 21:42] MorrisJobke commented on #9975
Web server and php need to run on the same server. So I will close this as an Setup issue.

[2018-06-24 21:42] #9975 closed

[2018-06-25 03:19] k0ste commented on #9877
Is just was start working. I think some gc was due on backend and locks was disabled.

[2018-06-25 03:19] #9877 closed

[2018-06-25 05:04] MorrisJobke commented on #9939
That log reader filter is also the setting in the UI. But I would be fine to keep it a filter only and allow only changing the log level in the config.php. Could you mention me in that ticket?

[2018-06-25 05:44] MorrisJobke commented on #9972
This is a duplicate of #9789

See also the answer by Julius: https://github.com/nextcloud/server/issues/9789#issuecomment-396245745

[2018-06-25 05:44] #9972 closed

[2018-06-25 05:45] MorrisJobke commented on #9952
This should then be done by implementing an app. Thus I will close this ticket here in the server repo. If someone wants to tackle this problem, then we are happy to assist and answer questions.

We just don't want to track this inside the server repository, as it is not planned to be included right into the server itself.

[2018-06-25 05:45] #9952 closed

[2018-06-25 05:47] MorrisJobke commented on #9973
Something for the autocomplete setting: https://developer.mozilla.org/de/docs/Web/HTML/Element/Input#attr-autocomplete but there are reports that this will not work reliable. :/

[2018-06-25 05:47] #9950 closed

[2018-06-25 05:48] skjnldsv commented on #9973
https://developer.mozilla.org/en-US/docs/Web/Security/Securing_your_site/Turning_off_form_autocompletion#The_autocomplete_attribute_and_login_fields

[2018-06-25 05:52] MorrisJobke commented on #9968
If you used the "direct link" then this is expected, because it is basically a deep link to the file and looks like this:
https://cloud.example.com/f/464463

![bildschirmfoto 2018-06-25 um 07 48 58](https://user-images.githubusercontent.com/245432/41832430-4d884194-784c-11e8-8944-be3eb1f078a8.png)

You need to copy the share link, that is generated on sharing the file. It looks like and will work

[2018-06-25 05:52] #9968 closed

[2018-06-25 06:32] DekoLP commented on #9968
I Used The share link but IT ist working

[2018-06-25 06:32] DekoLP commented on #9968
Isnt*

[2018-06-25 07:11] MorrisJobke commented on #7907
@rullzer @icewind1991 Any idea? Could this be related to a web server misconfiguration?

[2018-06-25 07:14] MorrisJobke commented on #9038
Duplicate of #6899 and #6187

[2018-06-25 07:14] #9038 closed

[2018-06-25 07:15] MorrisJobke commented on #6187
Same for file locking: #6899

[2018-06-25 07:17] MorrisJobke commented on #8979
Go to your `apps/` directory and check in each folder there for the file `appinfo/info.xml` and tell us which app has an empty attribute `<id></id>`.

[2018-06-25 07:17] MorrisJobke commented on #8973
@rullzer Haven't you fixed the Moodle integration?

[2018-06-25 07:20] MorrisJobke commented on #8859
Fixed by #9124 and #9085 in 13.0.2

[2018-06-25 07:20] #8859 closed

[2018-06-25 07:28] MorrisJobke commented on #9599
Maybe related to #2581 - let's close this one as part of #2581 because we are reworking on how app passwords work and when they expire. This should then make this problem here either be more known to WHY it expired or not happen anymore.

[2018-06-25 07:28] #9599 closed

[2018-06-25 07:32] MorrisJobke commented on #9613
Due to how our sharing system works this is not easily possible to check on every depth of the tree which permissions are given, because it means that we need to check the permissions of every parent directory then. It would mean a lot of computing work and was like this in the past. It cause major performance issues. Thus the sharing was reworked and is now done like it was described here.

If yo

[2018-06-25 07:32] #9613 closed

[2018-06-25 07:34] MorrisJobke commented on #9748
Thanks for the feature request. As of now this is not on the roadmap and also not planned in the near future to be put on the roadmap. I will close this request for now. If somebody wants to pick it up and work on it we are happy to assist and help with it.

If you wish to have this feature implemented by the Nextcloud GmbH there is the option for consulting work on top of your Nextcloud Enterpris

[2018-06-25 07:34] #9748 closed

[2018-06-25 07:54] MorrisJobke commented on #9968
What is then actually not working. Do you have a screenshot? Could you post the URL? Anything in the logs or browser console?

[2018-06-25 07:55] MorrisJobke commented on #9968
Is the owner of the files actually the web server? Are all processes run as this user? Also the cron user?

This looks very much like a setup issue, which is better suited for the forums.

[2018-06-25 09:05] hume1991 opened #9983 "Own Theme, Background etc. for IOS, Android"
Hello,

I have already reported a problem see: https://github.com/nextcloud/server/issues/9865 .
I created my own theme (defaults.php, server.css etc.)

I would like to use this as it is possible with the theming app, how is this possible if you have your own theme? It's not about a complete branding!

Best regards

Christian Huml

[2018-06-25 09:19] MariusBluem commented on #9983
So you want to use the theming-app (set colors, logo, ...) beside the old-theming folder where you have customized defaults.php and CSS-files?

[2018-06-25 09:20] MorrisJobke commented on #9315
Okay - then let's close this for now and reopen once it happens again and we can look at the exact files and why it happens then.

[2018-06-25 09:20] #9315 closed

[2018-06-25 09:28] MorrisJobke commented on #1831
I added the stuff for select2 and `core/js/multiselect`

[2018-06-25 09:30] skjnldsv commented on #5157
@pixelipo any news?
You might be interested in #9984

[2018-06-25 09:31] skjnldsv commented on #1831
Thanks @MorrisJobke

[2018-06-25 09:33] MorrisJobke commented on #8702
Fix is in #9984

[2018-06-25 10:06] ChristophWurst opened #9985 "Add a setup check for 2FA providers that fail to load"
As suggested by @MorrisJobke it makes sense to add a setup check that queries the set of activated 2FA providers and compare that set to the list of actually available providers (see if they can be loaded).

Ref https://github.com/nextcloud/server/pull/9632#discussion_r197737142

[2018-06-25 11:18] GitHubUser4234 opened #9987 "Unexpected behavior when using LDAP backup server"
Hi,

We have set a backup host in the LDAP wizard under "LDAP / AD integration"->"Advanced"->"Connection Settings" and after upgrading from NC 12 to NC 13.0.2 something strange happens:

### 1)
When the backup host is unreachable (to reproduce, just replace the port with an incorrect value), and a LDAP user tries to login with a **wrong** password, he will be redirected to an "Internal Server Erro

[2018-06-25 11:39] hume1991 opened #9988 "Lost passphrase"
Hello,

I lost the 12-word how can I recover it anyway (is an administrator account).

Best regards

Christian Huml

[2018-06-25 12:35] DekoLP commented on #9968
https://dekoyt.de/nextcloud/index.php/s/xxbwXFkbGFdnpTG

and you dont shared a folder, you shared a normal file. Sharing a normal file works but folder not (German: Ich denke wir können auch Deutsch schreiben)

[2018-06-25 12:43] dtygel commented on #9957
We have a proposal to deal with this issue. If there is interest in the community, we can propose a Pull Request. Briefly, the proposal is as follows:

When preparing the list of files/folders to be shown to the user in root (/), we check if there is a direct share **A** that is also shared to the same user through a parent shared folder **F**.

- If it's not the case, **A** is shown normally in r

[2018-06-25 12:56] hume1991 opened #9989 "User should change his password after a certain time"
Hello,

Will there be a password change in the next Nextcloud versions (user must change password after a certain time)?

Best regards

Christian Huml

[2018-06-25 13:35] #9644 closed

[2018-06-25 13:38] MorrisJobke commented on #9989
As this sounds like a nice feature, the requests for this are quite low. The usual setup for this kind of policy has an external user management like LDAP and applies the rules there. Currently there a no plans to implement such a feature inside Nextcloud because of the mentioned solution. Thus I will close this ticket for now. This does not mean we don't want this feature, but it is simply not on

[2018-06-25 13:38] #9989 closed

[2018-06-25 13:41] MorrisJobke commented on #9968
As we are an international community we communicate in English ;)

Looks like a setup issue. Maybe your web server is removing some headers that are needed. See https://help.nextcloud.com/t/authorization-required-for-anonymous-upload/1738

For further setup related questions I would ask you to raise them in the forums: https://help.nextcloud.com

[2018-06-25 13:41] TomCan opened #9990 "New folders created by other users are automatically selected although outside selection."
### Steps to reproduce
0. Considder following folder structure
Clients
- A
  - Aaron
- B
  - Brian

1. In the client of User 1, select to sync only the folder **Clients > A > Aaron**.
2. With User 2, create the folder **Clients > A > Amelia**, and **Clients > B > Brenda** and force a sync by placing some files in it.

### Expected behaviour
The Amelia folder **is not** synced with User 1
The Brend

[2018-06-25 13:44] truewt commented on #7422
Sorry to reply to closed issue, but to me it's not clear how it will be addressed. If I understand correctly the fix for favicon in custom themes (not theming app) is coming in Nextcloud 14?

Just to describe why I'm asking this... I think that after version 13 there was always NC favicon from app's core used and not the one from custom theme. For me this is still the case after upgrade to 13.0.4,

[2018-06-25 13:48] MorrisJobke commented on #7067
cc @icewind1991 @rullzer

[2018-06-25 13:50] MorrisJobke commented on #9988
This is an issue within the twofactor_totp app. Thus please report it to the maintainer of that app in its repository: https://github.com/nextcloud/twofactor_totp

[2018-06-25 13:52] MorrisJobke commented on #9990
This is an issue within the client. Thus please report it to the maintainer of that app in its repository: https://github.com/nextcloud/client

Beside that this is usually the wanted behavior. The selective sync is a blacklist of existing files (you unselect what NOT to sync). Thus it works as wanted. It is not a whitelist to sync only those folders. If new folders appear the wanted behavior is to

[2018-06-25 13:52] #9990 closed

[2018-06-25 13:53] MorrisJobke commented on #9987
cc @nextcloud/ldap

[2018-06-25 14:02] ChristophWurst commented on #9505
IIRC that's because the avatars are a feature of the internal DAV representation of system users. We haven't got any information about external users, I think.

[2018-06-25 14:05] nickvergessen commented on #9587
The "You" is removed in the short version as requested by @jancborchardt

[2018-06-25 14:06] violoncelloch commented on #9505
But users of external storage have got profile pics or avatars whith a color and a letter in the admin user view and in the sharing dialog... why are the images shown in these locations and not in the contacts menu?

[2018-06-25 14:18] jeyca commented on #9587
what short version? what, where and why has @jancborchardt requested this?

[2018-06-25 14:53] nickvergessen commented on #9587
Short version is in the sidebar,
if you go to the activity app itself, it should show a "full sentence" including the file name and your own name/ "You"

[2018-06-25 15:02] nickvergessen commented on #9697
Fine by me, it's basically as bad as the 2fa attempt.

[2018-06-25 15:14] nickvergessen commented on #9733
https://github.com/nextcloud/server/blob/0b883ab9d940650582e8ee02ada5bf13c2be7915/apps/files/lib/Activity/Provider.php#L215-L218

We have restore already, only the timestamp information is missing.
But sounds like a good addition.

[2018-06-25 15:18] c0fe commented on #8972
@jancborchardt @skjnldsv what about my idea of forking Mega's upload?

[2018-06-25 15:34] jancborchardt opened #9992 "Cronjob blocking update (forever)"
Both @skjnldsv and me had this issue earlier, when an update gave us this message:

And that just kept coming again and again. Setting maintenance mode to false also does not work.

It can be fixed using `UPDATE oc_jobs SET reserved_at=0;` (thanks @nickvergessen), but should probably not happen.

cc @MorrisJobke @nickvergessen

[2018-06-25 16:05] tareko commented on #5274
Hello all,

By way of update, I moved my installation over from an older debian server with PHP5 to a new one with PHP 7.0, upgraded to the latest version of all modules and the system. I expected this to fix my problem, but it did not.

I am still entirely unsure how to even *debug* this issue, as nothing useful appears in the logs.

Any thoughts?

tarek : )

[2018-06-25 16:29] MorrisJobke commented on #9992
This was added on purpose to not have a running background job while updating. This is not really a regression, but a symptom of a previously broken behavior that was just ignored. Why do you have jobs that where reserved but never finished? Which jobs are still reserved?

[2018-06-25 16:30] MorrisJobke commented on #9992
ref #9900

[2018-06-25 16:34] MorrisJobke commented on #9983
Then use the theming app. We build everything into the theming app. The plan is to remove themes itself completely, because they cause more issues than they solve. Also theming and themes can be used in parallel in the latest 13 release.

For custom CSS use the theming_customcss app.

[2018-06-25 16:34] #9983 closed

[2018-06-25 16:35] MorrisJobke commented on #9865
Why? Sure the theming app also runs on your server - where is the problem?

[2018-06-25 16:36] RailsViceRoads commented on #9978
Hi Marius, yes this will work. But I think it will be more user friendly to get something like this

![grafik](https://user-images.githubusercontent.com/36618192/41862985-bb850b06-78a5-11e8-99a0-402a6050f6ff.png)

because on the error-page is no navigation item (like a button) to get back to login the page.

![grafik](https://user-images.githubusercontent.com/36618192/41863061-f9530262-78a5-11e8-9

[2018-06-25 16:49] MorrisJobke commented on #8759
The problem with this is that it is required to be on login to have a valid user session as it sets up the view.

@icewind1991 Is there a way to set this up without the current session? Could you point me at some code that does this so I can come up with a first draft of the fix. Would love to have this fixed in 14 finally.

[2018-06-25 16:52] MorrisJobke commented on #9602
Works for me with the new user management code in 14. Closing.

@skjnldsv Please reopen if there are still some flaws and specify what does not work. ;)

[2018-06-25 16:52] #9602 closed

[2018-06-25 16:54] polo123qwe commented on #8803
The instances seem down for a few days, I have not been able to test it.

[2018-06-25 16:55] MorrisJobke commented on #2338
Fix is in #9942

[2018-06-25 16:56] MorrisJobke commented on #9117
@rullzer I guess this is nothing for 14 anymore, right?

[2018-06-25 16:57] MorrisJobke commented on #8962
@rullzer Another one where an index could help a lot

[2018-06-25 16:59] MorrisJobke commented on #8077
What are the next steps here?

[2018-06-25 17:00] MorrisJobke commented on #7675
@blizzz Still something for 14? Maybe for the polishing phase? Or maybe something for later?

[2018-06-25 17:01] MorrisJobke commented on #7589
Looks like it will not make it into 14, right?

[2018-06-25 17:02] MorrisJobke commented on #7378
@nextcloud/designers Does this still make sense? I think this is a nice and small polishing part that could still be done for 14.

[2018-06-25 17:03] jancborchardt opened #9993 "Controls bar background missing"
The controls bar in Files doesn’t have a background anymore (used to be white with 90 or 95% opacity):
![screenshot from 2018-06-25 19-02-11](https://user-images.githubusercontent.com/925062/41864472-6e4c0d1c-78aa-11e8-8c4d-e9d33df710ab.png)

[2018-06-25 17:03] MorrisJobke commented on #7376
@skjnldsv Was this somehow fixed recently during the whole restructuring?

[2018-06-25 17:05] jancborchardt commented on #9992
I have no idea – it’s on my local dev instance, and these were the ones with a reserved_at value of over 0:
[code]

[2018-06-25 17:08] MorrisJobke commented on #4011
Looks like this will not make it into 14, right?

[2018-06-25 17:09] MorrisJobke commented on #4011
Or should this be for the polishing part of the cycle?

[2018-06-25 17:09] MorrisJobke commented on #2443
@blizzz Seems to be delayed again, right? Move to 15?

[2018-06-25 17:10] MorrisJobke commented on #1662
@georgehrke Nothing for 14, right? Move to 15 or backlog?

[2018-06-25 17:10] skjnldsv commented on #4011
Let's do this for the new file apps in 15

[2018-06-25 17:11] MorrisJobke commented on #1440
Looks like it is included in #9345  ;) cc @schiessle

[2018-06-25 17:11] MorrisJobke commented on #658
Push to 15?

[2018-06-25 17:12] georgehrke commented on #1497
@moritz31 Did you make any progress on this?
Otherwise I would take over so we get this into Nextcloud 14

[2018-06-25 17:12] MorrisJobke commented on #6023
Fix is in #9966

[2018-06-25 17:12] MorrisJobke commented on #4047
Fix is in #9982

[2018-06-25 17:14] MorrisJobke commented on #9992
Anything in the logs which says "cron" as app?

[2018-06-25 17:28] rullzer commented on #8077
Not something for 14 anymore. Probably still good to do but it also requires a proper format etc.

[2018-06-25 17:29] rullzer commented on #7589
My PoC is there but I guess not...

[2018-06-25 19:01] jancborchardt commented on #9992
@skjnldsv did you have anything like that?

I need to check back tomorrow, am mobile only.

[2018-06-25 19:02] jancborchardt commented on #658
@MorrisJobke hopefully :D – at this point already the Android app is doing this properly.

[2018-06-25 19:04] Shaddoh commented on #8978
Hello, looking to move from owncloud to nextcloud. In a linux environment using samba shares. Wanted to chime in so I know when this bug is fixed.

[2018-06-25 19:06] jancborchardt opened #9994 "Keyboard accessibility"
There are some few things missing at the moment for proper keyboard-only accessibility:

- highlight + tooltip for contacts icon in header
- highlight + tooltip for settings icon in header
- possibly same for notifications
- Upload function in Files add menu not focusable

What else @nextcloud/accessibility @nextcloud/designers?

[2018-06-25 19:13] skjnldsv commented on #7376
@MorrisJobke sidebar standard has been postponed to 15

[2018-06-25 19:22] slankes commented on #9125
I am seeing the issue as well under the same circumstances that @4001982248998 has.
I just updated to 13.0.4 (from 13.0.2) and the issue is still there.

[2018-06-25 19:46] skjnldsv commented on #9992
I had an error about a missing index 0 (was on the level array a few lines above the waitforcron function)
Aside from that, nothing! :(

[2018-06-25 19:47] skjnldsv commented on #9994
See @jancborchardt! Nextcloud bot can be relevant! ;)

[2018-06-25 20:30] pawlosck commented on #9957
Sharing process in nextcloud is too complicated, unintuitive and dangerous for data. Why it can't be normal like in Windows?
/nextcloud_server1/user/dir
/nextcloud_server2/user/dir
It's the most intuitive and understandable by most non technical people.
It should be completely redesigned.

[2018-06-25 21:04] MorrisJobke commented on #9992
Ping me once you have this again and do some screensharing/pair-debugging

[2018-06-25 21:06] #9974 closed

[2018-06-25 21:07] skjnldsv commented on #9992
@MorrisJobke The pending Job I had was a backgroundTest coming after running a phpunit test iirc
You might be able to recreate it?
Create a fake job entry into the db and run the upgrader

[2018-06-25 21:09] MorrisJobke commented on #9992
Sure - I can recreate by manipulate the DB but that’s not the point. I want to know why the job was started and never finished.

[2018-06-25 21:48] blizzz commented on #9987
About 1) I can reproduce it locally, too. Going to investigate it tomorrow.

About 2) the  "Configuration active" flag covers the whole configuration. So, if that is unchecked the LDAP configuration is not being considered on normal operation, so this works as expected. Or do you mean "Disable Main Server" instead?

[2018-06-26 03:13] WNYmathGuy commented on #7067
Latest error messages today and I upgraded to 13.0.4 recently:

=============================================
_(Might be during Rainloop access?)_
Debug
**Sabre\DAV\Exception\NotAuthenticated:** No  public access to this resource., No 'Authorization: Basic' header  found. Either the client didn't send one, or the server is  misconfigured, No 'Authorization: Bearer' header found. Either the  client

[2018-06-26 06:10] ntnsndr commented on #5080
I'd add that this is an important issue for us at MayFirst.org, who use the same NextCloud across a great many domains and organizational identities. We really need these invitation emails to be coming from the users who send them. Thanks to all who have the capacity and willingness to work on this.

[2018-06-26 06:41] GitHubUser4234 commented on #9987
Hi @blizzz  :)

Great, thank you!

Oh, thanks for the explanation, there was indeed the misinterpretation that the "Configuration active" flag was meant for the backup hosting settings below that checkbox. So basically we can forget about 2), a suggestion might be though that the UI might use some improvement to visually group the backup host fields together.

[2018-06-26 07:04] #1692 closed

[2018-06-26 07:40] MorrisJobke commented on #6893
This one is fixed in #9995 - inspired by @Morikko

And @Morikko's PR was in #7205 - rebased as #9996

[2018-06-26 07:42] kevgathuku commented on #9944
Fixed in #9956

[2018-06-26 07:42] #9944 closed

[2018-06-26 07:48] zippytiff opened #9997 "Delete or disable backup 2FA codes"
@ChristophWurst thanks for the help here >> https://github.com/nextcloud/server/issues/6203#issuecomment-399857441

i see you are the 2FA guy, so 2 questions

1. How do i delete backup codes ?
2. Can i disable backup codes from being created ?

3. How can i force 2FA and change password at 1st login (via both internal db and external ldap)

Thanks

ZT

[2018-06-26 08:17] hume1991 commented on #9989
Hello @MorrisJobke,

There are some things I do not like about the Theming app. When using the Theming App, for example, the link to the same page is displayed (Footer). The adjustments themselves are very little in the Theming App. There are restrictions (Theming App).

Best regards

Christian Huml

[2018-06-26 08:19] hume1991 commented on #9983
Hello @MorrisJobke,

There are some things I do not like about the Theming app. When using the Theming App, for example, the link to the same page is displayed (Footer). The adjustments themselves are very little in the Theming App. There are restrictions (Theming App).

Best regards

Christian Huml

[2018-06-26 08:19] hume1991 commented on #9865
See: https://github.com/nextcloud/server/issues/9983#event-1699387575

Best regards

Christian Huml

[2018-06-26 08:22] kevin147147 commented on #4966
I don't think its user friendly to have to click two times on mobile devices (where it's still a problem to me). I'd like to see this issue reopened. The desktop version is good as it is now. (With all the buttons showing and using actual screen space)

[2018-06-26 08:30] hume1991 commented on #9988
Hello @MorrisJobke,

it is default encryption module (App).

Best regards

Christian Huml

[2018-06-26 08:36] jonasgarstick commented on #6023
Appreciate your work guys 👍

[2018-06-26 08:38] MorrisJobke commented on #9988
I guess then there is very little chance to recover. cc @schiessle @tobiasKaminsky @rullzer

[2018-06-26 08:40] MorrisJobke commented on #9983
This is for some reason limited, because it broke so many instances in the past.

What do you mean? If there is a bug please report it.

[2018-06-26 08:42] MorrisJobke commented on #9983
The idea of the theming app is to give the possibility to change the rough look, but not allow anymore to change the whole UI, because it causes more trouble than what it actually solve.

[2018-06-26 08:43] xshadow commented on #7519
@georgehrke I could not get caldav working with the addition of "https://cloudname.org" with Mac OS High Sierra and Nextcloud 13.0.4 . It still fails with "It fails with 'Unable to verify account name or password'" .

The carddav account was added flawlessly.

[2018-06-26 08:57] hume1991 commented on #9983
Hello @MorrisJobke,

Without Theming App: https://cloud.geonativ-energie.de/index.php/s/NK3mFZtYHdzqbpa
with Theming App is shown as a link (New window back to homepage).

[2018-06-26 09:12] ChristophWurst commented on #9997
You can't. And I see no point in being able to do it. If no 2FA provider is active, the Nextcloud server won't ask you for your codes anyway.

Why would you want to do that? That's currently not possible.

See https://github.com/nextcloud/server/issues/2348 and https://github.com/nextcloud/twofactor_totp/issues/41.

[2018-06-26 09:16] liamdennehy opened #10001 "Make trashbin:cleanup clean all users an explicit option not the default"
### Steps to reproduce
1. `php ./occ trashbin:cleanup <user>` cleans one user
2. `php ./occ trashbin:cleanup` cleans all users

### Expected behaviour
* Not specifying a user should request which users to clean, or show help, as with other commands

### Actual behaviour
* Failing to specify a user cleans all trash for all users, making file recovery impossible
* This is easy to accidentally invoke

[2018-06-26 09:17] liamdennehy commented on #10001
I will take a crack at making a PR myself, but I've never worked on a production-grade PHP project so will likely be very poor quality

[2018-06-26 09:41] MorrisJobke commented on #10001
Don't worry - we can assist once you have questions. Feel free to join IRC at freenode: #nextcloud-dev

[2018-06-26 09:41] #6023 closed

[2018-06-26 09:52] juliushaertl commented on #7422
We've added the favicon as an option to the theming app to make it easier to theme this one as well. The theming app should be the preferred way to adjust the look of your Nextcloud.

Please check if you have disabled the theming app in that case for 13. If there is still a problem, please open a new issue.

[2018-06-26 09:53] MorrisJobke commented on #9939
Fixed by https://github.com/nextcloud/logreader/pull/72

[2018-06-26 10:05] zippytiff commented on #9997
Hi CW

Thanks for the reply

1. The reason for deleting is to increase the end-user security of the solution.  I cannot trust users to look after their backup codes and would much rather they contacted admin if they lost their 2FA access for what ever reason.  I would have expected that turning off 2FA in end user gui, would also clear out the existing codes etc

2. Reason for disabling, same as 1

[2018-06-26 10:30] #6893 closed

[2018-06-26 10:40] ChristophWurst commented on #9997
Please file a proper feature request (or update the original post and title) with detailed information of how this should work.

Yes, funding usually helps.

Thanks

[2018-06-26 11:59] nickvergessen commented on #9992
Errored here as well just now:
Reserved jobs are: `OCA\Federation\SyncJob` and `OCA\UpdateNotification\Notification\BackgroundJob`

But neither app is enabled, so when they are tried to be executed, the class does not exist => error => catched => ignored and continued

The cron.php ignores those for 12 hours, to save time and not try them again and again, because that caused a lot of troubles for

[2018-06-26 12:00] MorrisJobke commented on #9993
cc @skjnldsv

[2018-06-26 12:05] MorrisJobke commented on #9992
Any idea how to check then for proper cron execution? Wouldn't it help to put the "last checked" to 12 h in the future?

[2018-06-26 12:10] hume1991 commented on #9988
Have created new admin account and deleted old.

Best regards

Christian Huml

[2018-06-26 12:10] #9988 closed

[2018-06-26 12:29] MorrisJobke commented on #9992
Weird - this case should be catched by the `buildJob` call and not cause this entry: https://github.com/nextcloud/server/blob/18e9631810ad1d3d72c2b4bbee330169808108ad/lib/private/BackgroundJob/JobList.php#L253-L277

[2018-06-26 12:32] MorrisJobke commented on #9992
At least I can reproduce it and will now debug it locally.

* disable updatenotification and federation app
* run cron.php
* two jobs that @nickvergessen get the reserved at set to a non-zero value

[2018-06-26 12:32] nickvergessen commented on #9992
Reservation is done before build:
https://github.com/nextcloud/server/blob/18e9631810ad1d3d72c2b4bbee330169808108ad/lib/private/BackgroundJob/JobList.php#L205-L214

It should also be like this, otherwise two could try this in parallel...

[2018-06-26 12:37] kevgathuku commented on #9994
Some additional things I can add are:
- It should be easy to visually determine the element with keyboard focus
 - All elements that can be interacted with via a mouse click can also be interacted with via pressing `Enter` / `Spacebar`
Example:
![output](https://user-images.githubusercontent.com/3721994/41911853-7ec22c2e-7956-11e8-9b88-d437e4e0af23.png)

[2018-06-26 12:42] kbaegis commented on #8311
+1

[2018-06-26 12:53] ChristophWurst commented on #9505
Fair enough. Then those features must use a different API or it's not stored in the `PHOTO` index the contacts menu reads from: https://github.com/nextcloud/server/blob/43f7ea5852db6375efe1fd2f309eb919e3e97feb/lib/private/Contacts/ContactsMenu/ContactsStore.php#L240

[2018-06-26 13:31] hume1991 commented on #9983
@MorrisJobke

Our footer without theming app: www.cloud.geonativ-energie.de (Without link).
Demo with Link: https://demo.sieg-net.ch/index.php/login

[2018-06-26 13:33] carepack commented on #9104
disable and enable external storage support after upgrade changes nothing. so the issue still persist.

[2018-06-26 13:34] jancborchardt commented on #9944
It’s awesome when the person who finds the issue also fixes it! :) High five @kevgathuku

[2018-06-26 13:37] skjnldsv commented on #9933
Is this causing issues actually? Or is it just a nitpick to improve the design?

[2018-06-26 13:42] jancborchardt opened #10008 "Unable to open file or folder with keyboard"
Currently you can navigate the file list via keyboard, with 3 Tab-clicks per row:
- Folder/file itself
- Sharing that folder/file
- 3-dot menu of that folder/file

Now the problem is that pressing enter on the folder/file itself opens the right sidebar instead of opening it. We need to change it to opening, otherwise it is not possible to enter into folders or open files.

@nextcloud/designers @ne

[2018-06-26 13:46] skjnldsv commented on #10008
@jancborchardt didn't we said we'll add this for 15?
With the new files app?

[2018-06-26 13:55] jancborchardt commented on #10008
@skjnldsv since changing this is such a small change but a really important accessibility fix to use files at all, we should absolutely do it for 14.

I mean, I assume it’s a small change cause it’s just switching from opening sidebar to opening the file.

[2018-06-26 14:12] jancborchardt commented on #10008
Also related is what @kevgathuku mentioned in https://github.com/nextcloud/server/issues/9994#issuecomment-400292143

[2018-06-26 14:28] MorrisJobke commented on #9992
Fix is in #10010

[2018-06-26 14:34] nickvergessen commented on #9708
Yes:
[code]

[2018-06-26 14:34] #9708 closed

[2018-06-26 14:42] nickvergessen commented on #9781
Same problem as with shipped apps:
https://github.com/nextcloud/server/issues/8929#issuecomment-379899965

[2018-06-26 14:55] jancborchardt commented on #9992
For the record, just happened again and the last log entries are:
[code]

Will test the PR fix :)

[2018-06-26 14:57] p5n commented on #9935
This strange but after some time I received notification and was able to accept file. I am closing it now and continue testing

[2018-06-26 14:57] #9935 closed

[2018-06-26 16:02] ntimo opened #10011 "Storagelimit is shown as -2 when using external storage app"
### Steps to reproduce
1. Active the external storage App
2. Mount a storage (I only tested webdav)
3. Set the mount point to /
4. Open your iOS Nextcloud App and look at the storage limit

### Expected behaviour
It should show a unlimited max storage like the web version of nextcloud does

### Actual behaviour
It shows -2 here is a screenshot:
![bug](https://user-images.githubusercontent.com/6145

[2018-06-26 16:25] georgehrke commented on #7519
@Spritpit In that case it would be

is the serveradress: https://domain.info/
and serverpath: /nextcloud/remote.php/dav/principals/users/USERNAME/

Name of calendar is completely wrong here.

[2018-06-26 16:31] Mannshoch opened #10012 "[Feature Request] replace sharing Radiobuttons with Checkboxes"
![grafik](https://user-images.githubusercontent.com/7795891/41925285-77599ae2-796c-11e8-9a54-2b1a969d20cf.png)
__________________________________
**from:**
- Readonly
- Update and edit
- Upload only

**to:**
- [ ] Read - ![grafik](https://user-images.githubusercontent.com/7795891/41926100-ac1ff684-796e-11e8-9899-510ec6e2deee.png) 🔐
  - [ ] Modify/Replace - (all available)
  - [ ] Remove - (all ava

[2018-06-26 16:38] warnerbryce commented on #8723
I have the same kind of problem... but the files syncs well after waiting a while. It occures when uploading a folder with a lot of files.

I have write a topic on help nextcloud https://help.nextcloud.com/t/sync-some-files-are-blocked-error-during-sync-and-then-synced-after-a-second-third-try-no-app-in-context/30986

[2018-06-26 16:44] Mannshoch commented on #10012
Nice Idea this Bot.

[2018-06-26 16:58] georgehrke commented on #7519
@xshadow Can you please provide more detailed reproduction steps?
- Which account type did you select (automatic / manual / advanced)?
- is nextcloud in a subfolder?
- is it running via https or http?
- do u you a self signed cert?
- etc ...

[2018-06-26 17:07] tobiasKaminsky commented on #9733
@nickvergessen this is somehow strange, as it is in not shown on my master server, neither in file detail stream or activities stream.

Can I debug this? Is this working for you?

[2018-06-26 17:23] tyrylu commented on #10008
Of course, i would be grateful if it could be done for 14.

[2018-06-26 17:52] MorrisJobke commented on #10012
This time it failed completely 🙈 Sorry for the noise.

[2018-06-26 17:54] MorrisJobke commented on #10012
Let's move this over to the similar ticket #8479 which already aims to improve the share permissions.

[2018-06-26 17:54] #10012 closed

[2018-06-26 17:54] MorrisJobke commented on #8479
A similar request came in via #10012

[2018-06-26 18:06] MorrisJobke commented on #3692
This specific issue is solved. If there is another one, we can have a look. I will close this for now.

[2018-06-26 18:06] #3692 closed

[2018-06-26 18:22] lje commented on #9792
Issue still present in Nextcloud 13.0.4

[2018-06-26 19:59] rullzer commented on #9368
As discussed on irc lets try to do this for 15

[2018-06-27 00:49] pkmkrishnakumar commented on #8973
still i am facing the issue, is there any fix or suggestion to sort it out?

[2018-06-27 05:01] rolandixor commented on #7417
Any idea if this will be implemented?

[2018-06-27 07:34] GitHubUser4234 commented on #9987
Thanks @blizzz , tests indicate that the patch fixes the issue.

Having a quick look at the old code, it looks like $bindStatus isn't true as otherwise the bind state would have returned similarly to the new code?

Great, so once the PR is ready we would then apply the final patch to our environment, thanks a lot!

[2018-06-27 08:29] brunt82 opened #10017 "Show moved shared file in "Deleted files""
### Steps to reproduce
1. User A shares a folder with User B.
2. User B moves one file from the shared folder into another one (not shared).
3. File is deleted for user A without any possibility to get it back.

### Expected behaviour
If user B deletes a file from a shared folder, user A would be able to restore the file within the "deleted files"-menu. It would be nice, if there is a similar solu

[2018-06-27 09:07] rakekniven commented on #9799
Same strings are now in module "oauth2" as well. @MorrisJobke  Please check. Thank you.

[2018-06-27 09:10] blizzz commented on #9987
@GitHubUser4234 the bind against LDAP is the auth attempt, and when that fails, e.g. wrong password, we'll have it false and LDAP responds with 49 error code.

[2018-06-27 09:36] GitHubUser4234 commented on #9987
Oh yeah, that perfectly fits the pattern described in 1), great! 😃

[2018-06-27 09:38] MorrisJobke commented on #9799
Found it and fixed - waiting for docker hub to build the new container

[2018-06-27 09:39] MorrisJobke commented on #9799
Fixed via https://github.com/nextcloud/docker-ci/commit/ea5ff0b187bb4e102cf2363142a8d75b9f40ea04 and will trigger the re-run once it is done.

Thanks for noticing.

[2018-06-27 09:39] #9799 closed

[2018-06-27 09:59] dutchwhizzman commented on #8239
I too can confirm this happens on 13.0.4 with redis file locking enabled.

[2018-06-27 10:03] rakekniven commented on #9799
Hello @MorrisJobke
Same for https://github.com/nextcloud/bruteforcesettings/blob/master/js/bruteforcesettings.js L7

Could you fix this as well?

[2018-06-27 10:08] MorrisJobke commented on #9799
🙈 Obviously forgot it - sorry. Now it is included: https://github.com/nextcloud/docker-ci/commit/ea653cb0936a71051a3246587aeb02764b596e42

[2018-06-27 11:16] schiessle opened #10021 "Don't highlight mention of unknown user"
Follow up from here: https://github.com/nextcloud/spreed/issues/1006

This is what happens if I mention a user who doesn't exists:

![talk - mention](https://user-images.githubusercontent.com/1589737/41961146-eff23e98-79f1-11e8-9051-c73a3c23b731.png)

I think instead we shouldn't format the mention and show it as a normal string. Imagine I want to tell someone `I'm @schiessle on Twitter`, this sho

[2018-06-27 11:17] schiessle commented on #10021
cc @mario @blizzz let's continue here

[2018-06-27 11:52] #8897 closed

[2018-06-27 11:52] MorrisJobke commented on #8897
@rakekniven Github will automatically close tickets once a PR is merged, that contains "Fixes #NUMBER" 😉

[2018-06-27 11:56] umardraz opened #10022 "S3 Primary storage backup"
Hello

I am using S3 bucket as primary storage for my NextCloud. I realized NC saving files into S3 bucket as uid:oid:xxx.

Now my question is how I can backup of my S3 bucket on daily basis and then what I need to do so I can download/retrieve a specific file/folder from that backup?

[2018-06-27 11:57] vpecinka commented on #9001
Same problem, came with 13.0.4, swift primary storage, Redis used for filelocking and memory cache as well.

[2018-06-27 12:04] rakekniven commented on #8897
Yes, hopefully all devs are using ist ;-)

[2018-06-27 12:19] hume1991 commented on #9851
Hello @juliushaertl,

i have solved that problem. It was in the php settings http upload was on off.

Best regards

Christian Huml

[2018-06-27 12:19] #9851 closed

[2018-06-27 12:20] hume1991 commented on #9983
Problem solved.

Best regards

Christian Huml

[2018-06-27 12:49] jancborchardt commented on #9994
@kevgathuku good points! I incorporated them into the draft of the Accessibility subsite for the Design documentation :) https://github.com/nextcloud/documentation/issues/788

[2018-06-27 12:52] tobiasKaminsky commented on #9733
If we even get confused by this, then we should maybe change the text a bit:
'You restored {file}' -> 'You restored {file} from deleted files.'
and
'You restored version at $date from {file}.'

[2018-06-27 13:06] hume1991 opened #10024 "Footer link to text (Theming App)"
Hello,

I use the Theming App Version: 1.4.5. I would like to display the footer link as text. Which file has to be edited? Link to the cloud: https://www.cloud.geonativ-energie.de

Best regards

Christian Huml

[2018-06-27 14:07] deajan opened #10026 "LDAP & application passwords should play nicer toghether"
Hello,

Of what I am understanding, an application password is supposed to help gain access to NextCloud Server without having to specify the real password.

When a LDAP user changes its password, the application password dissappears.
Since the LDAP user is not desactivated (only password has been changed), I think it would be much better to keep the application password working so the client appl

[2018-06-27 14:14] xshadow commented on #7519
Sure thing. I tried it on two similiar Mac's with High Sierra.

- I selected the "Advanced mode".
- Nextcloud is not in a subfolder
- it's only available via https with a valid letsencrypt certificate
- the webserver is running on Port 443
- on the user login he/she authenticated via IMAP

 Carddav is working with the same settings, that's why I'm confused.

[2018-06-27 14:54] barkingbandicoot commented on #7519
Hi xshadow.
@georgehrke's fix above works for me - (but cardav does not work for me!)
nb You may get "It fails with 'Unable to verify account name or password'" but check and see if it is working anyway!
Also note, that you will need to right click on your individual calendar events, then mark them as a nextcloud calendar otherwise they will not sync with your server and only remain as a calendar

[2018-06-27 14:56] deajan commented on #10026
Well GitMate.io bot is wrong, none of these issues are related :)

[2018-06-27 15:28] jancborchardt commented on #8897
Good stuff @rakekniven – thanks a lot for fixing it! :)

[2018-06-27 15:37] MorrisJobke commented on #10026
Duplicate of #2581

See especially https://github.com/nextcloud/server/issues/2581#issuecomment-394684452

[2018-06-27 15:37] #10026 closed

[2018-06-27 15:39] MorrisJobke commented on #10024
I guess there is no way to disable it as of now. IMO we should also not add yet another option here. Just set it to the URL of your instance.

Or what is the motivation of this request?

cc @nextcloud/theming @jancborchardt

[2018-06-27 15:51] jancborchardt commented on #8479
@MorrisJobke something for the hackweek in July?

[2018-06-27 16:07] juliushaertl commented on #10024
Yes, we should not introduce another option here. You could also easily hide the link with the theming_customcss app.

[2018-06-27 16:08] MorrisJobke commented on #9001
@BurtGummer @vpecinka Does it happen reliably for you or only from time to time?

[2018-06-27 16:08] MorrisJobke commented on #9001
cc @icewind1991

[2018-06-27 16:09] MorrisJobke commented on #9001
And if so: could you enable the locking debug log in the config.php? See config.sample.php for the description.

[2018-06-27 16:18] hume1991 commented on #10024
I would have thought it is open source? I can not make any customization on my own server? I am very well good in programming and HTML and CSS. That's not a solution for me. If it continues like this, I will set up a cloud myself.

Best regards

Christian Huml

[2018-06-27 16:20] juliushaertl commented on #9933
:+1:

That sounds like a good approach. @nextcloud/designers

![image](https://user-images.githubusercontent.com/3404133/41986504-a0158fc0-7a36-11e8-9850-38df1004d29a.png)

[2018-06-27 16:33] juliushaertl commented on #10024
@hume1991 As @MariusBluem said, there is nothing limiting you from changing things on your server. Since the GitHub issue tracker is used to track enhancement requests and bug reports, we discuss here how and if requests can be integrated. You might want to checkout https://help.nextcloud.com for questions regarding customization or other questions that are not bug reports or feature requests.

Be

[2018-06-27 17:35] deajan commented on #10026
Thank you for the hint, sorry for the noise.

[2018-06-27 17:54] MorrisJobke commented on #10024
Keep also in mind that open source does not mean, that every feature that can be imagined will be implemented. We think about it and then decide if it should be in the product or not. Keep also in mind that once it is in we as maintainers also need to take care of it for the next years and keep it working. Thus we decide carefully what to add and what not.

[2018-06-27 18:39] violoncelloch commented on #9993
also on right scroll in user list (navigation bar should be sticky horizontally as well)

![grafik](https://user-images.githubusercontent.com/22591354/41992913-1da79088-7a4a-11e8-9908-870219d65d71.png)

[2018-06-27 18:47] GLLM opened #10029 "Prerequisite for Talk : enabling indicators for Sent/Received/Read text messages"
Hi NC devs !!

I logged a Feature request (https://github.com/nextcloud/talk-android/issues/219) on Android Talk repo but I was told there's a prerequisite on the server side, hence this new issue :+1:

Could the server enable Talk clients to get status indicators for message : Sent/Received/Read ?
The aim is for Clients to be able to get the same features as Signal/Whatsapp have.

Thanks.

[2018-06-27 19:02] hume1991 commented on #10024
Can I submit a request for the code of the theming app? Would expand it.

Best regards

Christian Huml

[2018-06-27 19:28] juliushaertl commented on #10024
@hume1991 Sure any contribution is welcome there. But as said above, there should not be another option for that, since the theming app settings are already quite long and complex and adding another checkbox for a setting that has a very small target group of users conflicts with our goal to do things automatically instead of offering configuration options. (See our [design guidedlines](https://ne

[2018-06-27 19:50] rullzer commented on #9938
I just realized we'll have this issue more probably when we move less 'isolated' stuff to vue. Like the share sidebar part. And the contacts menu etc. They all live somewhere in core/js.

[2018-06-27 19:55] MorrisJobke commented on #9993
Separate issue, which is fixed in 14.

[2018-06-27 20:01] skjnldsv commented on #9933
Ah yes, I did not understand the issue like that!
I'm all in as well :)

[2018-06-27 20:05] skjnldsv commented on #9938
@rullzer independant apps do not need routes :)
We can just plug them in where we want them

[2018-06-27 20:27] amarburg commented on #9808
I can corroborate this problem (or a version at least)
Nextcloud:   Docker nextcloud:latest image == 13.0.4-apache
Minio:  Docker minio/minio:2018-06-09T03:43:35Z image

Minio is added to Nextcloud as an S3 external source -- not as primary storage -- connecting to an existing bucket with an existing directory tree of data.

Minio is serving a  disk from a local computer, so I can access the under

[2018-06-27 20:40] MorrisJobke commented on #10029
Hi @GLLM - thanks for the request, but unfortunately this is again the wrong repo. Just copy your issue to https://github.com/nextcloud/spreed

@Mario Next time just mention the correct repo to make it easier to contribute feature request.

[2018-06-27 20:40] #10029 closed

[2018-06-27 20:43] MorrisJobke commented on #10024
As @juliushaertl pointed out: let's discuss first the possible solutions here. For this it would be super helpful if you explain the reason for this option. Maybe we can come up with a better idea to fix this problem.

[2018-06-27 20:52] PanCakeConnaisseur commented on #5482
I have the same problem with Nextcloud 13.0.4 and Kontact 5.8.2:
[code]

[2018-06-27 21:19] blizzz commented on #9987
@GitHubUser4234  PR is created in #10031, the backport to 13 in #10032

[2018-06-27 21:41] PanCakeConnaisseur commented on #8011
Same problem with with Nextcloud 13.0.4 Kontact 5.8.2, Evolution 3.18.5.2 und Thunderbird 52.8.0+SoGoConnector 31.0.5.

[2018-06-27 21:52] GLLM commented on #10029
@MorrisJobke Hahaha, sorry !
Done @ https://github.com/nextcloud/spreed/issues/1012

@mario : no worries ;-)

[2018-06-27 22:48] Webrow opened #10033 "CSP issues nextcloud + ownpad + etherpad-lite"
### Steps to reproduce
1. Install Nextclkoud 13.0.2 on Rpi
2. Install etherpad-lite from the git
3. install ownpad in nextcloud
4 . open a pad / calc

### Expected behaviour
Frame should load the pad or the calc

### Actual behaviour
No frame is being loaded

### Server configuration

**Operating system**:
Raspbian

**Web server:**
Nginx

**Database:**
mysql

**PHP version:**

**Nextcloud version:

[2018-06-28 02:14] stemp72 opened #10035 "Need to adjust PHP.ini on a snap install"
### Steps to reproduce
1. PHP.ini cannot be modified to adjust maximum upload size and RAM allotment to PHP.
2.
3.

### Expected behaviour
I should be able to modify this config file.

### Actual behaviour
The snap directories are read only

### Server configuration

**Operating system**: Ubuntu 16.04.4 LTS

**Web server:**

**Database:**

**PHP version:** 7

**Nextcloud version:** (see Nextcloud

[2018-06-28 04:45] BurtGummer commented on #9001
Hey @MorrisJobke thank you very much for your response.

Yes, the problem happens reliably every time, the upload connection is slow and the file is big. In https://github.com/nextcloud/server/issues/9001#issuecomment-380775689 i had

"filelocking.debug": true,"

but i try it again with curl, filelocking.debug was enabled all the time, i have forget to disable this option.

[2018-06-28 05:16] skjnldsv commented on #9938
It is, they're just apps that are rendering on a div, they're here on every page :)
- authtoken
- contacts menu

The sidebar is also just an app, but needs to be pluggable and usable by others apps
If the #app-sidebar is here, then load the script, render the app and register the plugin!
Basically unless you're creating an app that uses a routes.php we don't need to setup routes on vue so it's eas

[2018-06-28 05:22] BurtGummer commented on #9001
From https://github.com/nextcloud/server/issues/9001#issuecomment-395954722

no, thats wrong. please read my tests, i upload one file with 4,4GB and the error occurs. Until now, I have some smaller files with a bigger total size not uploaded, but i'll try it.

[2018-06-28 05:37] ChristophWurst commented on #9938
Maybe breaking our core/server into multiple pages would already help: https://webpack.js.org/concepts/entry-points/#multi-page-application

[2018-06-28 05:45] skjnldsv commented on #9938
@ChristophWurst yes, it's planned! :)

I disagree. Having each app their own script is far better I think.
And with our drone build check it won't be difficult to ensure all of our compiled script are always up to date (if that's what you meant by a complex build script) :)

[2018-06-28 05:48] ChristophWurst commented on #9938
But separate apps will also mean we have to maintain all the dependencies individually. That's a lot of work, even when using dependabot.

[2018-06-28 05:51] skjnldsv commented on #9938
@ChristophWurst yes it will be. especially when our components will have their own repo as well :)

[2018-06-28 05:52] asengineeringsupport commented on #9001
I've tested it from several different locations with different upload speeds, from 2 till 100 MBit/s. Internet connections with better performance are able to upload bigger files. The file size does not matter, more the consequence.

I can upload 18GB big files, when its fast enough (internal network). In my test it seems that all uploads fail, when upload time is longer than one hour. The upload

[2018-06-28 06:08] rullzer commented on #10033
This is something the app should probably fix by setting a less strict CSP for some of their pages.

[2018-06-28 06:22] MorrisJobke commented on #9001
Then it all makes a bit more sense: The locks time out after 1 hour. :/

@icewind1991 We need a way to refresh them during the upload. Anything we can do here?

[2018-06-28 06:34] MorrisJobke commented on #10035
This is an issue with the snap package. Thus please report it to the maintainer of that package in its repository: https://github.com/nextcloud/nextcloud-snap

[2018-06-28 06:34] #10035 closed

[2018-06-28 06:35] MorrisJobke commented on #10033
Please report it to the maintainer of ownpad: https://github.com/otetard/ownpad

[2018-06-28 06:35] #10033 closed

[2018-06-28 06:38] #9987 closed

[2018-06-28 06:44] MorrisJobke commented on #9911
This looks fishy ... could indicate further problems.

This column is there since Nextcloud 10 at least. Something broke apart here.

Best would be to reach out in the forums at https://help.nextcloud.com or in the repo for the snap package to debug this with the snap maintainer: https://github.com/nextcloud/nextcloud-snap

[2018-06-28 06:44] #9911 closed

[2018-06-28 06:46] MorrisJobke commented on #9908
This looks fishy - as if the request does not load via the index.php but via a different entry point, which then fails. So this looks like a setup issue in the web server IMO.

As this seems to be a setup issue I would like to ask you to raise your question in the forums: https://help.nextcloud.com

[2018-06-28 06:46] #9908 closed

[2018-06-28 06:56] MorrisJobke commented on #9690
I guess that is missing some parts.

Usually not.

This is how to set up a Nextcloud instance with object storage:

* add a second config file (only needs to end in `.config.php` so `s3.config.php`)
* put in there the normal config for the object storage:

[code]
* then run the installation (either via `occ maintenance:install` or via the web UI)
* then you should have a working Nextcloud with the

[2018-06-28 07:00] MorrisJobke commented on #6900
Let's close then this one here as duplicate of one of the mentioned ones.

[2018-06-28 07:00] #6900 closed

[2018-06-28 07:02] MorrisJobke commented on #8978
@Orbital-Bit Is there any change in the error message? @icewind1991 said, that the 13.0.4 and 12.0.9 should have additional log output.

[2018-06-28 07:03] MorrisJobke commented on #6454
Let's close this as duplicate of #8978 (and the other ones linked in there)

[2018-06-28 07:03] #6454 closed

[2018-06-28 07:05] MorrisJobke commented on #8547
Let's close this as duplicate of #8978 (and it's other linked tickets) and continue there.

[2018-06-28 07:05] #8547 closed

[2018-06-28 07:05] MorrisJobke commented on #9021
Let's continue this in #8978

[2018-06-28 07:05] #9021 closed

[2018-06-28 07:05] MorrisJobke commented on #9000
Let's continue this in #8978

[2018-06-28 07:05] #9000 closed

[2018-06-28 07:06] MorrisJobke commented on #6900
Let's continue this in #8978

[2018-06-28 07:14] rullzer commented on #9938
@skjnldsv that would of course result in a massive amount of js. Like the contacts menu now is <14 kb. But if everything is bundled it would become at least 100kb.

There is still a lot of old jquery/handlebars to get rid of.

Like again let me point to the example with the authtokens: https://github.com/nextcloud/server/blob/master/settings/js/authtoken_view.js

That is in the settings apps. But

[2018-06-28 07:14] MorrisJobke commented on #8978
@Orbital-Bit Your log entries look different:

[code]

It looks like it can't open files. Could you check that `/var/www/owncloud/apps/files_external/3rdparty/icewind/smb/src/Exception/InvalidArgumentException.php` is available? I checked on a 13.0.4 and there the file is available and readable.

[2018-06-28 07:16] MorrisJobke commented on #8978
@Orbital-Bit Do you also have this error: `Could not rename part file to final file`?

[2018-06-28 07:17] MorrisJobke commented on #8942
Could be related to #8978.

@gnunicorn Could you post the entry from the nextcloud.log that contains the mentioned log entries?

[code]

[2018-06-28 07:18] MorrisJobke commented on #8942
Just noticed that you are not on the latest patch level. We fixed some stuff in 13.0.4. So please upgrade first and then check again. If this still happens we are happy to reopen this ticket here.

[2018-06-28 07:20] skjnldsv commented on #9938
Why would it be bigger? Vue is supposed to make our code simpler :)
As long as we don't ship unwanted massive libraries with it, I don't see why we cant optimise it?

The main settings ≠ users+apps vue app.
Just create the authtoken vue app and load it into the #security like we do w/ handlebar?

[2018-06-28 07:21] MorrisJobke commented on #9098
As there is no feedback since a while I will close this ticket. See the provided app for further details on an upload queue

[2018-06-28 07:21] #9098 closed

[2018-06-28 07:29] MorrisJobke commented on #8967
If this is not the VM then we highly recommend the built-in updater: https://docs.nextcloud.com/server/13/admin_manual/maintenance/update.html

Beside that: what @Orbital-Bit said is true.

[2018-06-28 07:29] #8967 closed

[2018-06-28 07:31] MorrisJobke commented on #8966
@skjnldsv @juliushaertl @jancborchardt Didn't one of you revamped the lost password dialog to be not a page reload but rather a transition?

This seems not to work anymore with external password reset pages.

[2018-06-28 07:37] juliushaertl commented on #9938
I think we should at least have a common vue app for all the settings that are part of the core `settings/`. That could basically also use the existing vue base in settings/src/, we just need to make sure to just mount it on the content if it is not for the apps/user settings.

[2018-06-28 07:37] MorrisJobke commented on #9818
Security by obscurity does very rarely work. If this is your only concern, then hide the button via CSS. Because there are people out there that are able to script the one file by another approach to fetch the shared (!!!) files anyways. So this does not add any security layer at all.

Beside the other ideas: I would rather ask to implement this as an app, that hooks into the sharing page and mani

[2018-06-28 07:37] #9818 closed

[2018-06-28 07:38] MorrisJobke commented on #9848
Fixed by #7363

[2018-06-28 07:38] #9848 closed

[2018-06-28 07:39] MorrisJobke commented on #9899
cc @icewind1991

[2018-06-28 07:40] skjnldsv commented on #9938
@juliushaertl I disagree, the 'plugin' system we have for every app to register their component via php is very efficient. If we want to migrate parts of this, we can create a new app for the settings and add route for full views like the user settings, but other way, I think we should keep thing separate.

I prefer not having one big app for every settings and multiple independant modules that ar

[2018-06-28 07:41] MorrisJobke commented on #8393
As there is no feedback since a while I will close this ticket. If this is still happening please feel free to reopen.

[2018-06-28 07:41] #8393 closed

[2018-06-28 07:41] MorrisJobke commented on #8637
Let's close it as duplicate of #8546

[2018-06-28 07:41] #8637 closed

[2018-06-28 07:42] MorrisJobke commented on #8598
Then those problems should be fixed first and then we can have a look at this. Thus I will close this. If the issue with the encryption still happens, have a look if they are the ones that @molotovkazic linked.

Thanks

[2018-06-28 07:42] #8598 closed

[2018-06-28 07:45] MorrisJobke commented on #8866
The question here is why it has problems with the permissions. We will integrate an improved check for permissions especially with symlinks and problems with permissions in the root folder.  See https://github.com/nextcloud/updater/pull/165 for example

For further problems: please report them to https://github.com/nextcloud/updater/issues

[2018-06-28 07:45] #8866 closed

[2018-06-28 07:46] MorrisJobke commented on #8852
cc @nextcloud/ldap Zombie users :/

[2018-06-28 07:46] juliushaertl commented on #9938
Hm, good point, that would also break the possibility to easily add separate setting sections to one settings category.

[2018-06-28 07:48] MorrisJobke commented on #8642
Yes - will add a warning in the admin settings and a warning in the occ output.

[2018-06-28 07:51] rullzer commented on #9938
ah well. So because we ship all libs for each vue app. Don't get me wrong I love the isolation. But right now vue does create large files. Like https://github.com/nextcloud/server/blob/master/apps/oauth2/js/oauth2.js for the oauth is pretty big compared to https://github.com/nextcloud/server/blob/7b8063a2424ea9f9d87493a23074b62afdd57854/apps/oauth2/js/setting-admin.js

Sure I moved some stuff to j

[2018-06-28 07:52] MorrisJobke commented on #5903
As there is no feedback since a while I will close this ticket. If this is still happening please feel free to reopen.

[2018-06-28 07:52] #5903 closed

[2018-06-28 07:55] MorrisJobke commented on #8089
Fixed by https://github.com/nextcloud/groupfolders/releases/tag/v1.2.0

[2018-06-28 07:55] #8089 closed

[2018-06-28 07:57] MorrisJobke commented on #8961
Duplicate of https://github.com/nextcloud/gallery/issues/398

[2018-06-28 07:57] #8961 closed

[2018-06-28 07:57] MorrisJobke commented on #8191
Duplicate of https://github.com/nextcloud/gallery/issues/398

[2018-06-28 07:57] #8191 closed

[2018-06-28 07:57] juliushaertl commented on #9938
For the main page we could maybe build a core vue app and use v-pre for the content, so other vue apps can just put their stuff in their without interfering with the contactsmenu, etc. Not sure if that would work like that, @skjnldsv ?

[2018-06-28 07:58] MorrisJobke commented on #8302
Is it better in 13.0.4? We updated the PDF viewer recently as well.

[2018-06-28 07:59] MorrisJobke commented on #8551
As there is no feedback since a while I will close this ticket. If this is still happening please feel free to reopen.

Also keep in mind, that maybe https://github.com/nextcloud/nextcloud-snap is the better place to report it.

Thanks

[2018-06-28 07:59] #8551 closed

[2018-06-28 07:59] MorrisJobke commented on #8613
As there is no feedback since a while I will close this ticket. If this is still happening please feel free to reopen.

[2018-06-28 07:59] #8613 closed

[2018-06-28 08:02] skjnldsv commented on #9938
@rullzer then let's not compile the vue lib in it and only load it once for the whole site?
oauth2 would be 13KB only then.

Nonetheless, you forgot that vue also includes the templates. And if we want to be fair, removing all of our jQuery mess would probably lighten our load as well :)

We could, but I don't like having a js injecting uncompiled html element. I mean, what's the point then?
Let's

[2018-06-28 08:04] MorrisJobke commented on #8810
This sounds like some firewall or fail2ban hits in as we scan the system and cause more requests from the nextcloud server to the system.

As this also seems to be a setup issue I would like to ask you to raise your question in the forums: https://help.nextcloud.com

If you wish support with setup issues from Nextcloud GmbH we offer this as part of the Nextcloud subscription. Learn more about this

[2018-06-28 08:04] #8810 closed

[2018-06-28 08:07] MorrisJobke commented on #6104
In more recent versions (13.0.4 and 12.0.9) we reduced drastically the amount of lock statements which should avoid most of the problems in here. Thus I will close it. If there is still stuff that breaks have a look at #8826 and it's linked issues.

[2018-06-28 08:07] #6104 closed

[2018-06-28 08:09] MorrisJobke commented on #8826
ref #7795

In more recent versions (13.0.4 and 12.0.9) we reduced drastically the amount of lock statements which should avoid most of the problems in here. Thus I will close it. If there is still stuff that breaks have a look at #9305 and it's linked issues.

[2018-06-28 08:09] #8826 closed

[2018-06-28 08:09] MorrisJobke commented on #8826
In more recent versions (13.0.4 and 12.0.9) we reduced drastically the amount of lock statements which should avoid most of the problems in here. Thus I will close it. If there is still stuff that breaks have a look at #9305 and it's linked issues.

[2018-06-28 08:09] Freezl commented on #9888
Hi iGlaedr!
Try the `systemctl restart php` if you are using php-fpm then `systemctl restart php-fpm` and check after that.
I have a similar problem with a clean installation of NC 13 and mounted nfs to the data directory.

[2018-06-28 08:10] MorrisJobke commented on #6899
In more recent versions (13.0.4 and 12.0.9) we reduced drastically the amount of lock statements which should avoid most of the problems in here. Thus I will close it. If there is still stuff that breaks have a look at #9305 and it's linked issues.

Another workaround: use Redis as locking backend

[2018-06-28 08:11] MorrisJobke commented on #9801
In more recent versions (13.0.4 and 12.0.9) we reduced drastically the amount of lock statements which should avoid most of the problems in here. Thus I will close it. If there is still stuff that breaks have a look at #9305 and it's linked issues.

Another workaround: use Redis as locking backend

[2018-06-28 08:11] #9801 closed

[2018-06-28 08:13] MorrisJobke commented on #6734
In more recent versions (13.0.4 and 12.0.9) we reduced drastically the amount of lock statements which should avoid most of the problems in here. Thus I will close it. If there is still stuff that breaks have a look at #9305 and it's linked issues.

Another workaround: use Redis as locking backend improves the situation as well. Hopefully this solves the issue you have with the upload of the small

[2018-06-28 08:13] #6734 closed

[2018-06-28 08:14] MorrisJobke commented on #9305
In more recent versions (13.0.4 and 12.0.9) we reduced drastically the amount of lock statements which should avoid most of the problems in here.

Maybe also this one here is related: #8239

[2018-06-28 08:14] MorrisJobke commented on #8239
There seems to be also a race condition in the SQL backend: #9305

[2018-06-28 08:15] fractos commented on #6899
@morrisjobke this was while using redis for locking.

[2018-06-28 08:15] johnny-gonzales commented on #8302
Hi Morris, it is still the same behavior in 13.04. But anyway I don't think it is a problem of the PDF viewer itself, but a problem of the file broswer. The displaying error just seems to be triggered by the switch of views.

[2018-06-28 08:17] MorrisJobke commented on #8908
Very likely a duplicate of #1218 - let's continue over there.

[2018-06-28 08:17] #8908 closed

[2018-06-28 08:18] mduller commented on #6899
@MorrisJobke same here as @fractos - having this issue despite using redis for locking

[2018-06-28 08:20] MorrisJobke commented on #9809
As this seems to be a setup issue I would like to ask you to raise your question in the forums: https://help.nextcloud.com

[2018-06-28 08:20] #9809 closed

[2018-06-28 08:21] MorrisJobke commented on #9880
Maybe related to #8546

[2018-06-28 08:21] MorrisJobke commented on #9971
cc @georgehrke

[2018-06-28 08:24] MorrisJobke commented on #9221
I could not find any part of this in our code base. Where is this shown? Could you maybe post a screenshot so we have a reference where it was printed?

[2018-06-28 08:29] MorrisJobke commented on #9252
Unfortunately we can't reproduce this issue. If this is still happening please feel free to reopen.

[2018-06-28 08:29] #9252 closed

[2018-06-28 08:30] MorrisJobke commented on #9266
In more recent versions (13.0.4 and 12.0.9) we reduced drastically the amount of lock statements which should avoid most of the problems in here. Thus I will close it. If there is still stuff that breaks have a look at #9305 and it's linked issues.

Another workaround: use Redis as locking backend

[2018-06-28 08:30] #9266 closed

[2018-06-28 08:31] MorrisJobke commented on #9110
Correct. Disabling the trash bin will delete them permanently.

[2018-06-28 08:31] #9110 closed

[2018-06-28 08:32] MorrisJobke commented on #9103
Group folders don't support versions yet - see https://github.com/nextcloud/groupfolders/issues/50

Thus closing this as duplicate of https://github.com/nextcloud/groupfolders/issues/50

[2018-06-28 08:32] #9103 closed

[2018-06-28 08:36] MorrisJobke commented on #9048
This will not work. Also you need to specify username and password in the URL otherwise Nextcloud will refuse to load the file.

If you have further questions in that regard raise them in the forums as this is the better place to discuss such topics: https://help.nextcloud.com

[2018-06-28 08:36] #9048 closed

[2018-06-28 08:38] MorrisJobke commented on #9470
As there is no feedback since a while I will close this ticket. If this is still happening please feel free to reopen.

[2018-06-28 08:38] #9470 closed

[2018-06-28 08:39] MorrisJobke commented on #9506
As there is no feedback since a while and we are unable to reproduce this issue I will close this ticket. If this is still happening please feel free to reopen.

[2018-06-28 08:39] #9506 closed

[2018-06-28 08:40] georgehrke commented on #5903
This was actually implemented as part of Free/Busy for Nextcloud 13.

[2018-06-28 08:40] MorrisJobke commented on #9536
Unfortunately we can't reproduce this issue and also the log file does not hold any useful information.

Could you check your system logs to see what is happening?

As this seems to be a setup issue I would like to ask you to raise further questions in the forums: https://help.nextcloud.com

[2018-06-28 08:40] #9536 closed

[2018-06-28 08:41] georgehrke commented on #9971
@charlemagnelasse I strongly suspect this to be a client issue. The Nextcloud calDAV server has no routine to cleanup old tasks, that's the clients task. So unless we get a proper DELETE command, Nextcloud doesn't delete anything.

Did you check if the tasks are still there in the database? Can you see them in the Nextcloud tasks app in the browser?

Unless you are able to provide detailed reprodu

[2018-06-28 08:42] juliushaertl commented on #9938
So we ship a global vue version for the vue apps included in the server repo and all other apps should basically bundle their own vue into their apps? Makes sense to me. :+1:

[2018-06-28 08:42] gnunicorn commented on #8942
Thanks for taking the time, @MorrisJobke

Well, we _were_ -- back then patch level was 1.1. And we are experiencing that on the latest patch level, too. We are running 13.0.4 now and still see this problem.

Please do.

While I am not sure about the reasons behind #8978, and therefore it could be related, but there is a distinct difference: we are *not on SMB* here.  We are running the drive on ex

[2018-06-28 08:44] MorrisJobke commented on #9910
A possible workaround: use Redis as locking backend. There seem to be still some race conditions we are currently try to find:

SQL issue: #9305
Redis issue: #8239

Closing as duplicate of the two mentioned ones.

[2018-06-28 08:44] #9910 closed

[2018-06-28 08:45] MorrisJobke commented on #9922
A possible workaround: use Redis as locking backend. Also using SQLite for example is not recommended for production use as it has limitations especially regarding concurrent requests.

There seem to be still some race conditions we are currently try to find regarding the locking:

SQL issue: #9305
Redis issue: #8239

Closing as duplicate of the two mentioned ones.

[2018-06-28 08:45] #9922 closed

[2018-06-28 08:48] MorrisJobke commented on #10022
Usually only via a restored nextcloud instance. The path is stored in the file cache which holds also the folder structure. The files are then stored by their ID in the object storage.

Easiest approach is: restore the nextcloud instance in a separate setup and use that to fetch the needed files
Advanced approach: scrape the oc_filecache table and build the folder structure by hand (parent is the

[2018-06-28 08:48] #10022 closed

[2018-06-28 08:49] skjnldsv commented on #9938
Obviously this could be harder as this would require to always have the same vue version for ALL of our apps. If we get a major update, we'll have to update all of our apps :)

[2018-06-28 08:50] rullzer commented on #9938
yeah lets for now first go with small apps even if they are bigger. In theory we could tell the browser anyways to cache this for a looooong time.

I actually like the '1 small app 1 function' kind of thing. Makes it simpler!

[2018-06-28 08:51] joekerna commented on #9221
![2018-06-28 10_42_16-einstellungen - nextcloud](https://user-images.githubusercontent.com/23077594/42023822-1251e1b2-7ac1-11e8-87e8-32ede876ff4e.png)

[Kühlschrank Gebrauchsanleitung.pdf](https://github.com/nextcloud/server/files/2144457/Kuhlschrank.Gebrauchsanleitung.pdf)

This is the screenshot (probably not very helpful?) and one of the pdf documents that cause the error.

[2018-06-28 08:52] MorrisJobke commented on #8239
Is it possible to get a file locking debug log? There is a config switch that - once set - will log all locking attempts. Maybe we can pinpoint then the actual problem. Would one of you so kind to provide this log as we are unable to reproduce the issue on our side.

You maybe want to combine this `filelocking.debug` flag with the `log.condition` option to only log it for one user.

Thanks in adva

[2018-06-28 08:52] MorrisJobke commented on #9305
Crossposting from #8239:

Is it possible to get a file locking debug log? There is a config switch that - once set - will log all locking attempts. Maybe we can pinpoint then the actual problem. Would one of you so kind to provide this log as we are unable to reproduce the issue on our side.

You maybe want to combine this `filelocking.debug` flag with the `log.condition` option to only log it for

[2018-06-28 08:56] MorrisJobke commented on #8942
Nicely formatted:

[code]

@icewind1991 Any idea what the background of this is?

[2018-06-28 08:58] MorrisJobke commented on #9221
Could you go to the data directory on your server (or press the "Download logs" button in the three dots menu in the screenshot) and send over the actual log line, because there are even more information about the request for example. ;)

[2018-06-28 08:59] georgehrke commented on #1662
Backlog for now

[2018-06-28 09:02] dutchwhizzman commented on #8239
I am sorry, I am running a production environment and our testing environment is not (yet) up to the spec of the production (don't ask). When I get to that point I will try and get a debug log done.

[2018-06-28 09:02] MorrisJobke commented on #9221
Ah - it was already there:

[code]

[2018-06-28 09:12] MorrisJobke commented on #9221
Fix is in #10036

[2018-06-28 09:13] joekerna commented on #9221
That was fast. Thanks! I'll give it a try once I can

[2018-06-28 09:23] brunt82 commented on #5903
Sorry, but this sentence makes no sense: without question no answer. So what kind of feedback has you expected? Anyway if it was implemented in NC 13, it can kept closed.

[2018-06-28 09:30] MorrisJobke commented on #5903
Oh ... sorry - I mixed it up. Sorry for the missing question. But anyways it was fixed. Otherwise we would have reopened it.

[2018-06-28 09:36] #9221 closed

[2018-06-28 09:58] MorrisJobke commented on #8978
@Orbital-Bit Could you explain a bit more detailed what you are doing? You have a SMB mount point and there you have a folder and in that folder you upload a file. Then you modify this file and get this error?

[2018-06-28 10:09] blizzz commented on #8852
Sounds like a dup of #8220 which will be fixed with 13.0.5. Fix is in #9839. @YenzRanger can you confirm?

[2018-06-28 10:13] YenzRanger commented on #8852
Sorry, our environment changed so much. I cannot test this anymore.

[2018-06-28 10:32] rullzer commented on #9938
Of course this still would need some decision how to store it then. Like where do we put the authtoken code if we want to migrate that to vue?

[2018-06-28 10:41] Orbital-Bit commented on #8978
@MorrisJobke,
there is a SMB mount point (share), the user connecting to the share has full read/write access.

via Nextcloud Web users can create or upload a new file, and delete, rename, even edit existing files (txt). however when trying to upload a file with the same name, the override operation fails.

via the desktop sync client users can create new folder pair to sync and it will download f

[2018-06-28 10:44] armaccloud commented on #6541
Hi @MorrisJobke
This issue is still occurring for me in 13.0.4.
For example, DavDroid doesn't get filesystem access, which is only cal/carddav.
But the log still gets a lot of errors.

[2018-06-28 10:48] Af0x commented on #9663
sure:

{"reqId":"############","level":3,"time":"2018-06-28T10:18:32+00:00","remoteAddr":"#######","user":"user","app":"remote","method":"PUT","url":"\/remote.php\/webdav\/external-folder\/.test","message":"Exception: {\"Exception\":\"Error\",\"Message\":\"Call to a member function getChecksum() on boolean\",\"Code\":0,\"Trace\":\"#0 \\/path\\/to\\/nextcloud\\/apps\\\/dav\\\/lib\\\/Connector\\\/Sa

[2018-06-28 11:11] vpecinka commented on #9690
I`m not sure if we understand each other. The Swift (not S3) object primary storage works fine. Until user deletion. The problem is that Nextcloud leaves object in database and storage as well.

During normal life cycle, when user creates or deletes files, everything is ok - in the database and in the swift storage (=object are created and deleted as well). Only when I delete user (via `php occ us

[2018-06-28 11:13] blizzz commented on #10021
You don't know usernames. Using auto-completion takes away this burden.

⛔ No workarounds

True. Until a new Ivan shows up ;)

But perhaps
* Ivan has been Michelle a couple years ago before fixing gender, just the user id stays with ``@michelle``
* or just the last name was used as user ID and who once was Santiago (``@santiago``) is perhaps Ruiz for two decades due to marriage an is only known as

[2018-06-28 11:16] blizzz commented on #8852
OK, I'll close it in that case. Thanks for reporting nevertheless!

[2018-06-28 11:16] #8852 closed

[2018-06-28 12:12] jirutka commented on #8826
The same here.

What? This is not a fix of the problem, just mitigation of the symptoms!

[2018-06-28 12:50] MorrisJobke commented on #8826
And I also said, that #9305 will hold more information. That ticket is for the race conditions on the SQL side and #8239 is for the race conditions on the Redis side. We just want to consolidate tickets and find common patterns.

[2018-06-28 12:52] MorrisJobke commented on #9690
Okay - that one I clearly misunderstood.

@icewind1991 @rullzer Does this ring a bell for you?

[2018-06-28 12:55] MorrisJobke commented on #8978
@icewind1991 Any idea what could cause this?

[2018-06-28 12:56] MorrisJobke commented on #10024
Could you rephrase this, because I don't get what a link has to do with German law, warnings and the need to avoid links?

[2018-06-28 14:52] TomGem commented on #9112
Fyi @kroerig, for now you could update Nextcloud users manually.

[code]

I wrote a little script to get the current values with ldapsearch and set them with occ if needed.

[2018-06-28 15:30] xundeenergie commented on #6428
This is also, what i need!

+1

[2018-06-28 16:08] Mannshoch commented on #9375
how could I deactivate integrity check? At moment I get this error on every nextcloud update and I have to remove apps Manually and install them again. At moment I ignore it but It would be nice if I could somehow get ride of this Infobar.

[2018-06-28 17:59] umrath commented on #9570
Too bad that the developers don't honor the request of the users.
It's really not user friendly to have the three dots displayed even though there is a massive amount of real estate unused.

[2018-06-28 18:06] tapete commented on #8239
The last time I tried to debug the error, the error was perfectly reproduceable. So now I put filelocking.debug => 'true' into my config and tried to trigger the error. The error is gone. I am confused. I will report back if I face it again.

[2018-06-28 18:51] moritz31 commented on #1497
@georgehrke would be cool if you take over, i get next free time at end of july, maybe i can then help a bit

[2018-06-28 19:12] Temtaime commented on #9305
@MorrisJobke the problem persists in 13.0.4

[2018-06-28 19:19] blizzz commented on #7675
I am off during polishing → 15.

[2018-06-28 19:34] tejastank commented on #9034
Its very old one, no more use nextcloud.

[2018-06-28 19:48] tapete commented on #8239
Ok it is back again. Here is the log which includes some minutes before the error occured.

`{"reqId":"sXzh62UyhiTDDrBpLgxe","level":1,"time":"2018-06-28T18:00:57+00:00","remoteAddr":"11.111.111.111","user":"YOURNAME","app":"locking","method":"PUT","url":"\/remote.php\/dav\/files\/YOURNAME\/SPECIALFOLDER\/Programme\/KeePassPortable\/App\/keepass\/keepass.ini","message":"release shared lock on \"fi

[2018-06-28 20:46] jhodapp commented on #8551
Definitely still happening. Not sure why you'd close it even though nobody has addressed it.

[2018-06-28 20:52] kyrofa commented on #8551
Because you weren't addressing it, either :wink: . You need to be responsive to questions-- we can't leave issues open forever!

[2018-06-29 06:04] MorrisJobke commented on #1781
Fixed with #5623

[2018-06-29 06:04] #1781 closed

[2018-06-29 07:37] MorrisJobke commented on #8239
@icewind1991 Could you have a look at those logs?

[2018-06-29 07:42] MorrisJobke commented on #7138
Nothing for 14 it seems -> moved to 15

[2018-06-29 07:42] MorrisJobke commented on #365
Nothing for 14 it seems -> moved to 15

[2018-06-29 07:43] MorrisJobke commented on #1467
Nothing for 14 it seems -> moved to 15

[2018-06-29 07:43] MorrisJobke commented on #2443
Nothing for 14 it seems -> moved to 15

[2018-06-29 07:44] MorrisJobke commented on #4104
Nothing for 14 it seems -> moved to 15

[2018-06-29 07:46] MorrisJobke commented on #5559
Nothing for 14 it seems -> moved to 15

[2018-06-29 08:03] tobiasKaminsky commented on #9891
Now I get a bit further, android client can now execute the search, but I get
`400: requested search property is not a valid property for this scope`
back.

Both queries should be the same.

NC13: http://10.0.2.2/nc13/remote.php/dav
[code]

master: http://10.0.2.2/nc/remote.php/dav
[code]

[2018-06-29 08:08] blizzz commented on #2443
The second item could be met with a proper solution for https://github.com/nextcloud/server/issues/10021, alas i won't have the resources left to tackle it

[2018-06-29 08:37] MorrisJobke opened #10047 "Improve style of whats new drop down"
Was a remark by @jancborchardt to not use stars in the whats new drop down - ref #9705

![bildschirmfoto 2018-06-29 um 09 07 28](https://user-images.githubusercontent.com/245432/42082473-5fd36420-7b88-11e8-892e-d785baf17ce9.png)

Ideas @nextcloud/designers ?

cc @blizzz

[2018-06-29 08:38] MorrisJobke commented on #9165
It seems that this one will not make it to 14, right? Move to 15?

[2018-06-29 08:41] blizzz commented on #9163
@MorrisJobke the admin part is essentially done, just a merge away. It is "just" the user part that is missing. I was hoping to get this done, perhaps with bending the freeze a little bit 🙊

[2018-06-29 08:43] blizzz commented on #9165
Yes, no way to get it done in time, sadly.

[2018-06-29 08:44] skjnldsv commented on #10047
We could class the different changes by types? Design, security, bug... And use proper icons?

[2018-06-29 08:47] blizzz commented on #10047
@skjnldsv there's no further meta information provided. I think simple bullet points are better here.

[2018-06-29 08:48] blizzz commented on #10047
We need an icon and when I was working on it there was no bullet point icon, so i took the next best thing. If  some artist can provide a nice svg, this is fixed easily.

[2018-06-29 09:21] skjnldsv commented on #10047
@blizzz that's what I was saying, we could add this? :)

[2018-06-29 09:43] MorrisJobke opened #10050 "New in Nextcloud changelog display - for users"
This is the user part from #9163

* [ ] A "What's new" section on the personal settings shows the same short info (with version and date) after update. Entries only younger than 3(?) months will be shown there, older ones are expunged. (This section will be also used by #9165) Show a popup in files app instead, cf. last item in https://github.com/nextcloud/server/issues/9165#issuecomment-395445072

[2018-06-29 09:43] MorrisJobke commented on #9163
Moved it out to #10050 - let's close this ticket here then as #9705 is in.

[2018-06-29 09:43] #9163 closed

[2018-06-29 09:48] skjnldsv commented on #10047
Okay then ^^

[2018-06-29 10:00] GitHubUser4234 commented on #9987
Thanks @blizzz :)))))

[2018-06-29 10:51] blizzz commented on #9987
:)

[2018-06-29 10:57] 72Zn opened #10051 "Limit Apps to Groups still displays settings in all users' settings"
Limiting an installed App, that adds settings to users' settings pages, to groups, still shows the app's settings in the settings pane of all users of all groups.

### Steps to reproduce

Tested with two apps.

App 'TOTP second-factor auth'

1. As admin user goto Apps -> Security and enable 'Two Factor TOTP Provider'
2. Goto Apps -> Enabled apps
    - find 'Two Factor TOTP Provider'
    - check 'l

[2018-06-29 11:01] michag86 opened #10052 "Mail Buttons not shown in LotusNotes"
The Mail buttons are invisible in LotusNotes:
![grafik](https://user-images.githubusercontent.com/6691165/42088749-f461cf5c-7b9a-11e8-9244-26f152e96254.png)

I think this is because the color is set on the td and not on the table of the button:
[code]

The logo background color is set on the table. Maybe it's possible to set the button color on the table to?

cc @MorrisJobke

[2018-06-29 11:06] MorrisJobke commented on #10052
As reference https://www.campaignmonitor.com/css/email-client/ibm-notes-9/

[2018-06-29 11:07] MorrisJobke commented on #10052
Should be possible to add this to the template - problem here is that this will break with customized email templates :/

[2018-06-29 11:34] sosed213 opened #10055 "The gallery is hanging (redis-serve or php-fpm ? )"
### Steps to reproduce
When the web app gallery is paged, hangs for 5-10 seconds. The preview pictures are not uploaded.

At this point, the server loads the CPU php7-FPM 60%, and radis-server 27%.

Then it hangs, and it loads further.

I noticed that hangs occur immediately after keyspace_messes in the radis monitor.
keyspace_hits:3343725
keyspace_misses:15172

Such a problem is probably more tha

[2018-06-29 11:48] ShapeShifter499 opened #10056 ""error deleteing file" and "error moving file" but it appears successful anyways."
### Steps to reproduce
Unsure

### Expected behaviour
When moving or deleting files and folders there should be no errors

### Actual behaviour
Getting "failed to delete" or "failed to move" messages. When a file or folder is moved I get an error but after refreshing the page it appears to have successfully moved said file or folder.  Same occurs when deleting.

### Server configuration

**Operati

[2018-06-29 11:51] MorrisJobke commented on #10055
@sosed213 Could I ask you to open this in the gallery app, as this is most likely related to how the gallery app loads the previews and needs to be fixed there.

https://github.com/nextcloud/gallery

Thanks

[2018-06-29 11:51] #10055 closed

[2018-06-29 12:02] reuterbal commented on #6395
For the SFTP-issues, would it help to include the detection of symbolic links for `filetype()` in the file
`/apps/files_external/lib/Lib/Storage/SFTP.php`?
In my eyes, it shouldn't be more than adding
[code]
As far as I understood, NC doesn't follow symbolic links. Would this efficiently stop the file scanner?

[2018-06-29 12:24] Freezl commented on #9888
Sorry, I don't know

[2018-06-29 12:53] #7378 closed

[2018-06-29 13:24] #9993 closed

[2018-06-29 14:05] MorrisJobke commented on #9897
cc @nextcloud/ldap

[2018-06-29 14:06] MorrisJobke commented on #9896
@icewind1991 does that ring a bell?

[2018-06-29 14:55] MorrisJobke commented on #9892
cc @rullzer @icewind1991

[2018-06-29 15:17] kyrofa commented on #8551
Ah, I see what you're saying. Indeed, it goes to `$SNAP_COMMON` by default. You can change this however you like in the `config.php`, but I bet if you think about it, you won't want it in `$SNAP_DATA`-- in fact, this very snap is the reason `$SNAP_COMMON` was created in the first place (although it was ownCloud back then). Let me explain.

`$SNAP_DATA` (in `/var/snap/<snap name>/<revision>`) is _v

[2018-06-29 16:20] Alwaysin opened #10057 "LDAP config not accepted when DN and CN are in lower case"
### Steps to reproduce
1. Activate LDAP app
2. Enter your user DN with "DN" and "CN" in lower case.
3. Check

### Expected behaviour
```cn=bind,dc=sub,dc=domain,dc=com```

should be accepted
### Actual behaviour
```cn=bind,dc=sub,dc=domain,dc=com```

is not accepted, only

```CN=bind,DC=sub,DC=domain,DC=com```
### Server configuration

**Operating system**: Debian 9

**Web server:** Apache 2.4.25

[2018-06-29 16:25] MariusBluem opened #10058 "Theming color gets ignored if you activate fonts/themes in accessibility-app"
@juliushaertl @skjnldsv 🤔

**Nextcloud:** 14.0 build 2018-06-29
**browser:** safari 12.0 on macOS Mojave beta 2

[2018-06-29 17:07] MariusBluem commented on #10058
![xfk8y](https://user-images.githubusercontent.com/19711361/42105170-ab71fb20-7bcf-11e8-93b7-ff9c72423b9f.jpg)

[2018-06-29 18:49] butterkitty commented on #2180
I've encountered this error in 13.0.4 again.  Fresh install of php-7.2 and received 500 error.

Ran sudo -u www-data php occ upgrade to see if it maybe needed to finish an upgrade, and received:

Stack trace:
#0 /var/www/nextcloud/lib/private/legacy/app.php(621): OC\App\InfoParser->parse('/var/www/nextcl...')
#1 /var/www/nextcloud/lib/private/AppFramework/App.php(62): OC_App::getAppInfo('files')
#

[2018-06-29 19:07] voxspox opened #10060 "sync error: File name too long"
### Steps to reproduce
1. add file on another computer (macOS) or webinterface
2. Nextcloud sync client (2.3.3) on my computer (Linux) fails with "File name too long"

### Expected behaviour
sync file

### Actual behaviour
- file is not synced
- charaters:
filename: 150
filepath: 211 (inside cloud folder)
absolute filepath: 236 (in the filesystem)

if I reduce the filename to 144 chars the file ge

[2018-06-29 19:08] voxspox commented on #10060
do you need more infos?

[2018-06-29 19:32] voxspox commented on #10060
- The fie is not large: 66kB
- the file was new and it syncs for the max computer. I think it is maybe a Linux client related issue
- the filename is far from 255 limit
- deleting is not my case
- I removed commas -> not fixed

[2018-06-29 19:40] rullzer commented on #10001
Fixed by #10041

[2018-06-29 19:40] #10001 closed

[2018-06-29 20:16] About7Deaths commented on #1600
+1 for making this a feature as it is the determining factor for me switching to this calendar for my team.

[2018-06-29 20:24] jhodapp commented on #8551
@kyrofa Makes sense, and I appreciate the bit about how to configure it to point elsewhere, but I still think the default storage location is less than ideal. Usually the partition that I have /var under is not a big one, usually as small as I can get it was some wiggle room. I want most of my data somewhere under /home as that's always my largest partition by far. This is true for a desktop/lapto

[2018-06-29 20:35] kyrofa commented on #8551
Yes. Or in my case, a huge array mounted into `/media/` somewhere. So do you have the server and client on the same machine? Both client and server keep a copy of the data, so if you have them both installed you will indeed see two copies of the files.

[2018-06-30 04:52] TravelTrader commented on #5486
Morning from Germany. I have this same issue. I'm working with PDF Expert iOS-App and I edit and mark PDFs without any problems while they're on iCloud but I cannot edit PDFs on my Nextcloud. Not by connection to webDAV, not through FTP-connection.

Here the file `Server.php` is mentioned I do not find in `/lib/composer/sabre/dav/lib/DAV/Server.php`. Can anyone help me to edit and mark my PDFs on

[2018-06-30 06:20] pcreadycl commented on #6598
i have same problem here, any updates?

[2018-06-30 07:29] TravelTrader commented on #5486
After this problems happened now I do not have any access with my iOS-Apps. I didn't change any settings or config.php-lines ... what happened? What changed?

[2018-06-30 07:30] jdinkel commented on #7223
I think expected behavior is file deletions on external storage would go to a trashbin on the external storage.  I think simplest would be to let the user/admin define a location for the trash when creating the external storage.

[2018-06-30 11:17] liamdennehy commented on #8580
@arunikayadav42 I downloaded the same source you linked, and 13.0.4, but I find the data dir is created and populated just fine. Do you have more specific instructions to replicate the error (the hastebin links are now empty)?

[2018-06-30 15:36] gohrner commented on #9379
Probably / possibly the last remaining problem described in https://help.nextcloud.com/t/ldap-user-cleanup-doesnt-work/14707/6 could stem from the same issue.

(Summary: The mentioned user uses LDAP auth and used "Clear Username-LDAP User Mapping" without really knowing what it does. As suggested in the related thread, he then re-created identical local users with the same names and deleted those

[2018-06-30 21:11] georgehrke commented on #1497
You all can help resolve this issue by telling me what clients don't support subscriptions natively:
Clients that **do** natively support it: iOS, macOS, Fantastical, DavDroid

Clients that **don't**:
Thunderbird does not support it.

What about:
- [ ] KOrganizer
- [ ] Evolution

What other important clients did i forget about?
If you can, it would be great if you could provide the http user-agent

[2018-06-30 21:30] KwadroNaut commented on #1497
From [DavDroids website:](https://www.davdroid.com/faq/subscribe-ics-file/) "Since DAVdroid 1.8, DAVdroid can detect CalDAV-advertised Webcal feeds and integrate them using ICSdroid." That's not native, that's after having installed ICSdroid, otherwise it's CalDAV only.

[2018-06-30 21:34] georgehrke commented on #1497
As far as I know ICSDroid is integrated into DavDroid. (both are GPL licensed apps from the same developer)

Can someone verify that?

(I wouldn't mind enabling the caching for DavDroid as well though, because they don't support creating subscriptions, they can only read them)

[2018-06-30 21:52] simonspa commented on #1497
It's not "integrated" but a separate app. The subscription from Nextcloud ICS via DAVDroid however works flawlessly.

[2018-07-01 09:18] kevgathuku opened #10066 "Hardcoded label in Accessibility App details"
### Steps to reproduce
1. Navigate to Apps > Click on `Accessibility` app to open Details view

### Expected behaviour
The label should be translated and not hardcoded

### Actual behaviour
![output 1](https://user-images.githubusercontent.com/3721994/42132858-8bf6d04a-7d28-11e8-9b15-f3ff69ebcea6.png)

### Server configuration

**Nextcloud version:** 14.0.0 alpha

[2018-07-01 14:13] JanoschDeurer opened #10067 "Links to files from url bar do not work"
### Steps to reproduce

1. Open a file in Nextcloud
2. Reload the site

Alternative Steps:
1. Open a file in Nextcloud
2. Copy URL from address bar
3. Open a new tab
4. Open the saved url

### Expected behaviour
When reloading a page the file should be opened again. The same should happen, when the url is saved and accessed in a new tab.

### Actual behaviour
The parent folder of the file is shown

[2018-07-01 14:19] georgehrke commented on #1600
This feature relies on https://github.com/nextcloud/server/pull/10059, which I hope to get into Nextcloud 14. Hence we can tackle this sharing issue with Nextcloud 15.

[2018-07-01 15:59] weeman1337 commented on #9949
I'll take this one!

[2018-07-01 16:02] weeman1337 commented on #8399
I started working on #9949. This issue here may be solved by that.

[2018-07-01 17:19] liamdennehy commented on #8443
I've worked on backend changes to the model and controller, and related unit tests. Comments are stored as varchar(250), with truncation at the setter and tests confirm truncation has occurred.
Wanting a good random string to test I used code from StackOverflow with attribution.
[Issue 8443 Backend](/liamdennehy/nextcloud-server/tree/8443/tokencomment)
Shall I PR now or wait for 14 release to fini

[2018-07-01 21:13] leschard commented on #8011
Did you check the version of calendar application?

I figured out that my Nextcloud instance did no longer check the calendar pluggin version and did no longer display any notification for available calendar upgrade.
I had to upgrade it manually to the latest version to solve the problem.

[2018-07-02 07:39] #10066 closed

[2018-07-02 08:06] bdrayer opened #10072 "Upgrade problems due to lost+found folder"
Hi,

I am actually using many version of the version 13 of Nextcloud (from beta 3 to the latest version of it) on my Linux Debian server.

For each nextcloud instance I use a separate hard disk but when I try to upgrade I get an error :

[✘] Check for expected files failed
The following extra files have been found:
    lost+found

I can obviously remove it manually every time but it would be great

[2018-07-02 08:22] bdrayer commented on #10072
Yes, it's related to issue #4908 but not exactly the same issue. I don't think I am the only one to use a dedicated mounted folder for nextcloud and lost+found is a standard linux system folder so it's more an enhancement request that a bug in my case.

[2018-07-02 08:44] ppaeps commented on #7793
@andreaspollak I can confirm that setting `fastcgi_intercept_errors off` also appears to make the problem go away on my setup.

Thank you for figuring this out!

[2018-07-02 08:46] juliushaertl commented on #8443
From my POV the app name field should already be fine for that, we should just make sure that the text is editable so additional information can be added for tokens that are added there using the flow auth. cc @nextcloud/desigers

[2018-07-02 08:46] zippytiff commented on #9997
Solved, via theming custom css app

/* HIDE Settings Two Factor Code Button */
div#twofactor-backupcodes-settings { display:none; }

[2018-07-02 08:51] MorrisJobke commented on #10072
Duplicate of https://github.com/nextcloud/updater/issues/68 - we are working on it.

[2018-07-02 08:51] #10072 closed

[2018-07-02 08:51] liamdennehy commented on #8443
Some environments (especially in large organisations) could benefit from being able to add metadata to entries, e.g. documentation, designs, change requests, security waivers etc. I don't think we want to clutter the UI with an overly-large "name" field, though I have only worked on the back-end. This does feel like we should have a more generic metadata/comment/description approach for lots of di

[2018-07-02 08:52] MorrisJobke commented on #10067
Is the case for example for images and the pdfviewer.

@nextcloud/javascript Any ideas how to address this?

[2018-07-02 08:53] MaxBarraclough commented on #9916
That link works fine, and shows the image in the browser.

Far from ideal, but might it be beneficial to display a warning pre-empting the browser's false-positive?

[2018-07-02 08:53] MorrisJobke commented on #10060
Could I ask you to open this ticket in the desktop client repository: https://github.com/nextcloud/desktop

Thanks

[2018-07-02 08:53] #10060 closed

[2018-07-02 08:55] MorrisJobke commented on #10057
cc @nextcloud/ldap

[2018-07-02 09:08] artemanufrij opened #10074 "Feature Request: Remove items from trash that are older than xy days/month/years"
Hey guys,

thank you for your great work. I have a question regarding a new feature.

Is it possible to implement a function into trash view for deleting items that are older than xy Days/Month/Years?

Best Regards,
Artem

[2018-07-02 09:18] MorrisJobke commented on #9916
Those are the example files ... I guess it makes very little sense to add a hardcoded warning that there might be a false-positive for one of the example files, which will be most likely deleted anyways.

[2018-07-02 09:19] liamdennehy commented on #8443
PR #10075

[2018-07-02 09:19] liamdennehy commented on #8443
PR #10075

[2018-07-02 10:21] #8399 closed

[2018-07-02 10:21] #9949 closed

[2018-07-02 10:22] MorrisJobke commented on #10074
This is already implemented ;)

See https://github.com/nextcloud/server/blob/master/config/config.sample.php#L539-L572

[2018-07-02 10:22] #10074 closed

[2018-07-02 10:52] artemanufrij commented on #10074
wow!!! thank you guys!

[2018-07-02 12:19] juliushaertl commented on #7265
Fixed with #7650

[2018-07-02 12:19] #7265 closed

[2018-07-02 12:25] juliushaertl commented on #7160
Implemented in #9723

[2018-07-02 12:25] #7160 closed

[2018-07-02 12:28] skjnldsv commented on #7160
As a reference, we went for it with a dedicated fallback for ie11: https://github.com/jhildenbiddle/css-vars-ponyfill

[2018-07-02 12:29] juliushaertl commented on #3471
Since we have the quota now in the left sidebar, we could just drop this message or move it to the quota section:

![image](https://user-images.githubusercontent.com/3404133/42163811-402d4072-7e04-11e8-8a4f-337bb68c2f45.png)

[2018-07-02 12:30] skjnldsv commented on #3471
I agree with @juliushaertl

[2018-07-02 12:45] voxspox commented on #10060
done: https://github.com/nextcloud/desktop/issues/467

[2018-07-02 13:03] nickvergessen commented on #9755
This.

[2018-07-02 13:03] #9755 closed

[2018-07-02 13:37] #9891 closed

[2018-07-02 13:49] georgehrke commented on #7738
@skjnldsv Are there already common components that we could publish in https://github.com/nextcloud/vue-components?

And: Are we gonna publish it as a npm package or just make people submodule the git into their repo?

[2018-07-02 13:49] #9892 closed

[2018-07-02 13:51] nickvergessen commented on #9923
Yeah it's request from time to time, I don't feel like doing this, but I understand that people want to know if different people  downloaded, or just one.

However since GDPR I'm even more sceptical.
Anyway, duplicate of https://github.com/nextcloud/activity/issues/98

[2018-07-02 13:51] #9923 closed

[2018-07-02 13:52] nickvergessen commented on #9156
yws

[2018-07-02 14:00] raimund-schluessler commented on #7738
I would vote for anything but a submodule. I always found submodules a hassle and error prone.

[2018-07-02 14:06] kimbaxz commented on #8303
Got the same error this morning.
I've deployed a docker container with the version 12.X, test it for 5 minutes. and make a new build with the lastest version. Change the build into the docker-compose. And run it.

I got the maintenance msg, change it with the config.php file, and launch the upgrade process, but got the same error msg.

"Doctrine\DBAL\Exception\DriverException: An exception occurre

[2018-07-02 14:50] smuns commented on #9897
Stumbled upon the same issue.

should result in "The user does not exists on LDAP anymore."

Additional info: User can be deleted, if LDAP-Mapping is cleared (LDAP DN empty in show-remnants)

[2018-07-02 15:15] Ablu commented on #8863
I got this error while using the "download as zip" feature of a large folder. In that case I was able to fix it by increasing `wait_timeout` of mariadb.

[2018-07-02 15:41] skjnldsv commented on #9156
@nickvergessen what are we talking about here, what would the 'details' looks like? :)

[2018-07-02 15:50] nickvergessen commented on #9156
Something like lightgrey text below the current text item.
Similar to WhatsApp, we want to show the last chat message bellow the room name in the talk app.

[2018-07-02 15:54] skjnldsv commented on #9156
Ah yes, I remember! :)

[2018-07-02 16:45] umardraz opened #10081 "How to enable LinkedinAuth"
Hello how I can enable linkedin authentication in Nextcloud. I had tried the social login app but it is missing in that app.

[2018-07-02 17:34] fcovecino commented on #8613
Hello. The issue stopped happening after an update. Sorry I didn't mention it here.
Best regards.

[2018-07-02 19:06] tcitworld commented on #7738
Individual npm packages should be nice.

[2018-07-02 19:09] skjnldsv commented on #7738
@georgehrke I went for lerna wich is a multi component manager.
You can read this article: https://hackernoon.com/one-vs-many-why-we-moved-from-multiple-git-repos-to-a-monorepo-and-how-we-set-it-up-f4abb0cfe469

All packages will be individual but in the same repo.
I have already started setting things up, but did not pushed yet.

[2018-07-02 19:23] wvh-shanee commented on #2027
+1

[2018-07-02 19:23] stuckj commented on #2600
I just noticed I also have this problem on a couple external shares I have setup with SFTP. However, rather than deleting / re-adding the share I found a simpler fix was to just touch the external folder (i.e., from a terminal outside next cloud) to update the last modified date to the current time. Go back to that folder in nextcloud and all the files appear with the subdirs showing the size as p

[2018-07-02 19:51] weeman1337 commented on #9457
I would like to take over this one. @mario which conversations do you mean?

[2018-07-02 19:58] weeman1337 commented on #7627
I'll take this one.

[2018-07-02 20:06] lays147 commented on #6954
The workaround made by @yashmehrotra worked for me. Thanks

[2018-07-02 20:20] mario commented on #9457
@weeman1337 for Talk. My initial idea was using this for Talk.

Keep in mind that @skjnldsv looked into this and though there are security/caching issues involved, so might want to consult him too :)

[2018-07-02 22:00] oc33 opened #10082 "Defaults for max_execution_time, max_input_time in base.php not configurable"
### Steps to reproduce
1. Run Nextcloud on shared hosting server with strict limits on `max_execution_time` or `max_input_time`
2. Inspect error messages in admin interface

### Expected behaviour
No error messages if `.user.ini` contains values for `max_execution_time` and `max_input_time` compatible with server constraints.

### Actual behaviour
Settings > Logging shows error messages like
[code

[2018-07-02 22:04] oc33 commented on #10082
As a work-around, I modified lines 637-640 of `lib/base.php` to conform with the restrictions set by my hoster:
[code]
I tried to set `max_execution_time` and `max_input_time` to conforming values in `.user.ini`, but this did not have any effect, presumably because the code in `base.ini` contains hard-coded values.

The server works, but pollutes the log file with tremendously many messages.

[2018-07-03 03:39] jernst opened #10084 "Non-obvious double slash causes HTTP 500"
Steps:
1. Install Nextcloud 13.0.2 at `https://example.com/nextcloud/`
2. Run Linux Desktop client, enter `https://example.com/nextcloud/` (note the trailing slash) as the URL

Observation:
* Desktop client fails to connect with an error message.
* Server has an HTTP 500 in the log.
* caused by this Exception in `lib/private/AppFramework/Http/Request.php`:
[code]
If works if I do not provide the t

[2018-07-03 06:49] MorrisJobke commented on #10084
Is there more detail on this?

Could you post the error message?

[2018-07-03 06:49] MorrisJobke commented on #10084
cc @rullzer

[2018-07-03 06:51] MorrisJobke commented on #10081
There is no LinkedIn authentication in Nextcloud. Currently there a no plans to implement such a feature. Thus I will close this ticket for now. This does not mean we don't want this feature, but it is simply not on our roadmap for the near future. If somebody wants to implement this feature nevertheless we are happy to assist and help out.

This should then be implemented as a user backend app.

[2018-07-03 06:51] #10081 closed

[2018-07-03 08:05] rocketskill opened #10085 "Can't access the settings menu as admin"
Hello Nextcloud community, i've got an issue and i need your help to resolve it.
I already tried to restart my services and my server and nothing changes.

There is all of my server info :

### Expected behaviour
When i click on the Settings tab, it should show the administration menu.

### Actual behaviour
When i click on the Settings tab with a user who is member of the admin group, an internal

[2018-07-03 08:22] rullzer commented on #10084
Actually the server side is doing what it should because double slashes can't just be removed.

Also this is fixed on the client in current master as far as I know.

[2018-07-03 08:22] #10084 closed

[2018-07-03 08:40] MorrisJobke commented on #8812
Duplicate of #504

[2018-07-03 08:40] #8812 closed

[2018-07-03 08:49] MorrisJobke commented on #9969
Related to https://github.com/owncloud/core/pull/31651

[2018-07-03 08:49] MorrisJobke commented on #9969
@rullzer @icewind1991 Opinions?

[2018-07-03 08:51] MorrisJobke commented on #9764
Why is the file not there anymore? Usually this should not happen. To fix this run a `occ files:scan` and the filecache should be cleaned up properly then this error should not happen anymore.

[2018-07-03 08:51] #9764 closed

[2018-07-03 08:52] MorrisJobke commented on #9784
Could you paste the full log line from the `nextcloud.log` in your data directory? This holds more information about the request that triggered this.

[2018-07-03 08:53] #9040 closed

[2018-07-03 08:55] MorrisJobke commented on #9826
cc @schiessle

[2018-07-03 08:57] vpecinka commented on #9764
Yes, it shouldn`t happen but happens. Maybe it is related to #9749 - sometimes Avatar are not generated, sometimes have different size in db and in the storage (1 or 0 bytes).

I'd like to point out, that this is NC cache, it uses Swift object storage (I think `occ files:scan` will not help because of not local filesystem?) and it is related to generated Avatars only.

[2018-07-03 09:03] vpecinka commented on #9764
I thik it is broken more than this, because for instance this should not happen as well (one R/W database):

[code]

[2018-07-03 09:19] blizzz commented on #10057
@Alwaysin if anything it is your LDAP server that acts up. There's nothing we control on client side.

[2018-07-03 09:19] #10057 closed

[2018-07-03 09:23] blizzz commented on #9897
@smuns [clearing LDAP Mappings on a production env is a great idea](https://docs.nextcloud.com/server/13/admin_manual/configuration_user/user_auth_ldap.html#expert-settings). Not.

[2018-07-03 09:25] skroczek opened #10086 "Allow plus (+) character in username"
### Steps to reproduce
1. Create user with username containing plus char

### Expected behaviour
User should be created

### Actual behaviour
An error message with text "Only the following characters are allowed in a username: "a-z", "A-Z", "0-9", and "_.@-'"" occured.

[2018-07-03 09:45] MorrisJobke commented on #8341
@georgehrke @nickvergessen @rullzer Could you have a look at this?

[2018-07-03 09:46] MorrisJobke commented on #9838
cc @nextcloud/sharing @icewind1991

[2018-07-03 09:46] MorrisJobke commented on #8423
@georgehrke Haven't you worked on this recently?

[2018-07-03 09:47] MorrisJobke commented on #9894
cc @nextcloud/encryption

[2018-07-03 09:49] rullzer commented on #9969
I'm not a fan of locking like this. For several reasons.

1. Not all webdav clients support locking. Sure we should fall back to a read only state then but still.
2. You always have the question when to break the lock? If you turn of your laptop and you still have a lock on some file/folder. Then when do you break this lock?

[2018-07-03 09:50] rullzer commented on #9969
@jdinkel as to answer your question. There are still endpoints that do not use webdav. So then this locking won't be obeyed. Or in that case if you use the new endpoint.

[2018-07-03 09:52] georgehrke commented on #8341
@nickvergessen Is `getSubjectParameters()` ever supposed to return an empty array?

https://github.com/nextcloud/server/blob/v13.0.0/apps/dav/lib/CalDAV/Activity/Provider/Calendar.php#L166
https://github.com/nextcloud/server/blob/v13.0.0/apps/dav/lib/CalDAV/Activity/Provider/Calendar.php#L232

[2018-07-03 09:53] rullzer commented on #9838
This is fixed in 14 I think.

[2018-07-03 09:59] georgehrke commented on #8423
It seems like Thunderbird sometimes checks if the schedule plugin is enabled.
So I guess we should change the option from `disable email sending` to `disable any server side scheduling`, but we also have to properly communicate the consequences like no Free/Busy, etc.

[2018-07-03 10:13] smuns commented on #9897
@blizz For sure, i did not claim this to be a workaround or anything more than just "additional info" from debugging the same issue on dev system. Also it includes the answer to your question to Yomark1 btw.

[2018-07-03 10:29] nickvergessen commented on #8341
Ah, no that should be older.
But the array should never be empty.

Can you tell me the subject of the activity when this happens?
Add the following code before 218:
https://github.com/nextcloud/server/blob/v13.0.0/apps/dav/lib/CalDAV/Activity/Provider/Calendar.php#L218

[code]

[2018-07-03 11:20] Britz commented on #7473
Since I got a thumbs down, I probably should explain in a slightly more detailed fashion, why I think this is highly required.

When you or especially someone else changes a file wrongly, versions are great to restore a proper state and save your live. But this is not true, if the file is deleted. This is especially true, if you share folders with a group of people — either with an extra account f

[2018-07-03 11:24] kroerig commented on #9112
I tried your commands

`occ user:setting USERNAME user_ldap displayName`

already shows the right value.

[2018-07-03 11:41] icewind1991 commented on #9969
Also note that sabre's built in locking implementation wont work properly since it doesn't take things like shares into account

[2018-07-03 11:45] MorrisJobke commented on #10086
cc @blizzz @nickvergessen @rullzer Opinion on this?

[2018-07-03 11:46] MorrisJobke commented on #10085
Please look at the nextcloud.log in your data dir and check what error it is. If there is an internal server error, then it is logged there.

[2018-07-03 11:47] nickvergessen commented on #10086
causes behaviour problems, because " " is replaced with "+" on urlencode, so we would need to change this everywhere with the full trail of problems.

[2018-07-03 11:49] MorrisJobke commented on #9764
Even if the table is named "filecache" it actually is the index. The files:scan also scan all storages not only local ones.

This is a completely different issue - see #6160

How did you manage to get there. We tried locally and it works here just fine. Do you mean the default avatars or avatars uploaded by users?

[2018-07-03 11:51] MorrisJobke commented on #9890
We can't reproduce any problems with this password and this seems to be a setup issue. I would like to ask you to raise your question in the forums: https://help.nextcloud.com

Also make sure to post there your changes to the htaccess file, because this could also lead to unexpected behavior.

If you wish support with setup issues from Nextcloud GmbH we offer this as part of the Nextcloud subscrip

[2018-07-03 11:51] #9890 closed

[2018-07-03 11:53] MorrisJobke commented on #10086
Full ack.

[2018-07-03 11:59] vpecinka commented on #9764
To be honest I don`t know what is doing this, sometimes I can see this in my log file. First I suspected our large Swift deployment  - there can be delays until some object is available on another swift proxy.

But the NC should always check database for existence of the object (it can relay on anonymous object id) so this delays cannot mislead NC to think there is no such object and trying to cre

[2018-07-03 12:00] MorrisJobke commented on #9838
Then let's close it for 14 and if there are still edge cases we can look into them.

[2018-07-03 12:00] #9838 closed

[2018-07-03 12:10] MorrisJobke commented on #5412
User management got migrated to Vue.js completely so it's unlikely that this is still the case in 14. Closing.

[2018-07-03 12:10] #5412 closed

[2018-07-03 12:11] MorrisJobke commented on #6024
In the meantime app names are properly translated. Only viewing it is missing.

[2018-07-03 12:15] MorrisJobke commented on #4830
So this is not needed anymore?

[2018-07-03 12:18] skjnldsv commented on #4830
I have no idea @MorrisJobke

[2018-07-03 12:20] ConorIA commented on #8723
Same issue here. Typically it happens when a file is edited both on my server and on my laptop. (I think).

The errors seem to come in pairs. On `no-app-in-context` error, followed by the file lock error.

[code]
Negative numbers of shared locks seems suspect to me, but I really don't know much about this. Redis is active, _but_ this issue was much more prevalent before turning on Redis.

[2018-07-03 12:21] MorrisJobke commented on #7593
Closing then. Could you document it in the login flow? I started it in https://github.com/nextcloud/documentation/pull/797 and only need the OCS API endpoint ;)

[2018-07-03 12:21] #7593 closed

[2018-07-03 12:23] MorrisJobke commented on #3524
We improved the overall SMB compatibility a lot recently. Please give 13.0.4 a good try it holds already a lot of improvements.

I would like to close this ticket here and would ask you to open new tickets with specific scenarios where the detection doesn't work.

Thanks

[2018-07-03 12:44] rullzer commented on #7984
So JS will be generated at build time for all the vue apps. That would cover most of it at some point.

[2018-07-03 12:49] juliushaertl commented on #7984
We could do that for core scss/js but we cannot easily determine what files apps use for their styles or scripts and need to do it at runtime. At least with our current API.

[2018-07-03 12:57] DarkknightAK commented on #7473
The main reason we can't replace samba shares with nextcloud was that some users delete folders local cause they need disk space. And now I have stupid samba shares instead of an universal cloud solution.

[2018-07-03 12:58] cowai commented on #3524
@MorrisJobke I will test when I can. AFAIK there is no scenario where it actually works. I feel I have tried everything.

[2018-07-03 12:59] bitsandnumbers commented on #9784
Thanks @MorrisJobke for your answer. Here is the line that repeats itself again and again:

`{"reqId":"Va1Pzg1fJNvZIoFJQKo4","level":3,"time":"2018-07-03T12:51:51+00:00","remoteAddr":"51.15.138.52","user":"--","app":"PHP","method":"GET","url":"\/cron.php","message":"Undefined index: {DAV:}getlastmodified at \/var\/www\/html\/lib\/private\/Files\/Storage\/DAV.php#582","userAgent":"Mozilla\/5.0 (Mac

[2018-07-03 13:23] MorrisJobke commented on #3524
:/ Sorry to hear that. We have quite some big setups where it works just fine. Have you SMBv2 or v3? Because it only works in v2 AFAIK.

[2018-07-03 13:32] jancborchardt commented on #10047
If we do want an icon, I would say icon-checkmark is much better. That also communicates "fixed" or "done". What do you think?

[2018-07-03 13:35] vpecinka commented on #9764
You right that this is weird. But the issue with avatar file, or the photo cache both are internal objects created by NC, not user objects (files). I suspect that Swift implementation (filesystem abstraction) is broken in this case. I mean that database entries are created, not the respective objects.

Feel free to close this issue, I'll try to play with PHP code and debug it, because I understand

[2018-07-03 13:36] jancborchardt commented on #9570
We have design reasons for that as stated above. They are concerned with user-friendliness too, to not have everything cluttered. (As traditionally, open source software unfortunately is.)

In the linked issues there's also mentioned how to change this. So feel free to do that. But don't assume that your own preference should be a default for everyone.

[2018-07-03 13:39] jancborchardt commented on #9156
So I agree with this. Visually we should do it much like the app-content-list in Mail or Contacts, where the second-line is for additional info, and the icon is vertically centered with both lines.

[2018-07-03 13:44] bitsandnumbers commented on #9784
I have quite a small setup, with 2 users only (~5000 files, DB is ~10mb). Is it already too much for sqlite ? Anyway I understand. Is there a way to migrate easily from sqlite to MySQL or is it better to make a fresh install ? Also, does the Talk app need MySQL to work properly (or MariaDB/Postgres) ?

So this SQL error was not related to my issue :/ Wonder what's going on with the DAV.php error..

[2018-07-03 13:54] skroczek commented on #10086
urlencode encodes " " as +, that's true. But it encodes '+' as '%2B', so I'm not sure if it would be such a big problem. A real problem exists, if you mix `urldecode` and `rawurlencode`. In this case, the already allowed white space leads to a problem:

[code]
All other combinations of rawurldecode and urlencode with '+' and '  ' are fine. And this problem already exists in the current code, so al

[2018-07-03 13:58] rocketskill commented on #10085
Hello @MorrisJobke  , thank for your help.

I found the error on the nextcloud . log :

[code]

[2018-07-03 14:07] MorrisJobke commented on #10085
Looks like onlyoffice is causing issues here. Could you go to the apps management and disable and enabled onlyoffice again (might be that it is already disabled then enabling is fine). Then it should work again. After this disabling the app should also clean the entry and fix the issue.

[2018-07-03 14:07] MorrisJobke commented on #10085
See https://github.com/nextcloud/server/issues/3569

[2018-07-03 14:19] MorrisJobke commented on #9764
We use exactly the same code for user files as for NC files. So it's unlikely that one part work and another one not. For example the UI is not broken for you, right? Those files are stored with the exact same mechanism as avatars and are served in the same way. So that is what makes this feel weird. :/

Thank you a lot. We are happy to work together with you on this once we know more about the ex

[2018-07-03 14:20] MorrisJobke commented on #9784
There is a DB migration command in the occ tool, which basically does everything for you on an existing instance.

[2018-07-03 14:50] rocketskill commented on #10085
OnlyOffice was already disable.

An enable/Disable of the app was enough to fix the bug.

Thanks for your help.

[2018-07-03 14:50] #10085 closed

[2018-07-03 15:16] blizzz commented on #10086
👎 No fan of adding strange characters there. It's not supposed to be a user facing value anyhow.

[2018-07-03 15:21] blizzz commented on #10047
[New icons](https://www.google.de/search?biw=1504&bih=696&tbm=isch&sa=1&ei=h5M7W_nWKYfWwAK9q67YAQ&q=new&oq=new&gs_l=img.3..0i67k1l10.13306.13306.0.13560.1.1.0.0.0.0.138.138.0j1.1.0....0...1c.1.64.img..0.1.137....0.AIuyA-dhX48) are typically stars with several spikes, or flags.

[2018-07-03 15:45] cowai commented on #3524
@MorrisJobke I have tried both.  The changes show up in the notify command but do not trigger changes when doing a scan.

[2018-07-03 15:47] MorrisJobke commented on #3524
The scan is not needed then. If they show up in the notify command then they are properly recognized and are put into the file index

[2018-07-03 15:47] MorrisJobke commented on #3524
Then the etag of the parent folders should change and trigger the clients to sync that folders/files.

[2018-07-03 15:48] MorrisJobke commented on #3524
You could check the DB table oc_filecache for the files you update and there the etag as well as all etags of the parents should change. If this is the case it worked properly.

[2018-07-03 15:50] cowai commented on #3524
@MorrisJobke I thought I needed to do occ:files scan --unscanned on interval.

When I opened this issue the folder with the changes did not get synced to my nextcloud client. Even after waiting hours. Only after I opened the folder manually in the web interface did the changes get noticed.
I will try with latest release today anyways and check.

[2018-07-03 16:01] MorrisJobke commented on #3524
This needs to run the whole time as it gets pushed new changes actively from SMB and then there is no need to periodically scan , because the changes are pushed to Nextcloud ;) See https://docs.nextcloud.com/server/13/admin_manual/configuration_files/external_storage/smb.html#smb-update-notifications

[2018-07-03 16:06] cowai commented on #3524
@MorrisJobke I thought I needed both. I am also using the occ files_external:notify -v <mount_id> continuously without changes ever showing up.
I have used the SMB package from @icewind1991 and that works manually with PHP. I can see the changes happening. Just as in the occ files_external:notify -v <mount_id>, where I see the changes listed but in nextcloud clients the changes does not propogate.

[2018-07-03 17:55] Anrock commented on #8361
Any updates on this? It's a PITA to navigate feeds without names.

[2018-07-03 18:13] jancborchardt opened #10094 "Design review / polishing items for Nextcloud 14 (overview issue)"
Had a design review session of latest master with @karlitschek today, here are the results:

## General

- [ ] ~~Font is not loading? Testing on Frank's laptop, only Helvetica showed, not Open Sans~~

## First run wizard

- [x] Top image & logo missing https://github.com/nextcloud/firstrunwizard/pull/71
- [x] Icons on some entries missing https://github.com/nextcloud/firstrunwizard/pull/71
- [x] N

[2018-07-03 18:14] umrath commented on #9570
How can a menu in a menu be more user-friendly than having the icons available straight forward on an otherwise huge empty space? That's completely illogical.
And yes, I do understand quite a bit about usability. This has nothing to do with being self centered.

Do A-B testing with non-tech people and ask them to open an app that is hidden behind the "..." and compare the results with a bar that o

[2018-07-03 18:15] jancborchardt commented on #10094
cc @nextcloud/designers @nextcloud/javascript lots of small tasks to pick up in there also. Good for getting friends involved too. :)

[2018-07-03 18:53] squasteel opened #10095 "Update 13.0.4 Failed"
### Steps to reproduce
1. Starting Update in Admin Panel
2. Execute Update und Login Page
3. Failed after one second

### Expected behaviour
Succesfull Update

### Actual behaviour
While execute the Update, this Error occured:
Aktualisierung auf 13.0.4
Doctrine\DBAL\Exception\ConnectionException: An exception occurred while executing 'CREATE TEMPORARY TABLE __temp__oc_activity AS SELECT activity_i

[2018-07-03 19:12] cowai commented on #3524
@MorrisJobke Now it works :) I still need both commands. So running "php occ files:scan --unscanned [mount_user]" each minute will do.
Note to others: You nowadays need to force smb to use NT1 in smb.conf.

[2018-07-03 20:46] cloud2018 opened #10096 "migrate file "Nextcloud Manual.pdf" when update Nexcloud to a new versoin"
### Steps to reproduce
1. Install a release (ex. NC 12)[ok]
2. Create users -> all user get the "Nextcloud Manual.pdf" in the version for NC 12 in "All Files - homefolder" [ok]
3. Update to next release (ex. NC 13) [ok]
4. Create users -> all user get the current "Nextcloud Manual.pdf" now in the version for NC 13 in "All Files - homefolder" [ok]
5. The user, created in previous version of Nextclo

[2018-07-03 21:08] MorrisJobke commented on #10096
I would not change files in the user directory. The user could have updated the file in between and we then would overwrite it. :-1: from my side.

@karlitschek @rullzer @skjnldsv @nickvergessen @jancborchardt Opinions on this one?

[2018-07-03 21:10] sm8ps opened #10097 "occ files_external:notify exits spontaneously"
### Steps to reproduce
1. Set up local folder as external storage. The folder only contains a handful of tiny test files for testing purposes.
2. Activate app INotify file watcher by @icewind1991 (and have requirements installed as per its README.md).
3. Run occ files_external:notify <id>

### Expected behaviour
Judging from its name, I would assume that files_external:notify should keep watching

[2018-07-03 21:11] MorrisJobke commented on #10095
There is not much we can do here. Check the DB file for corruption.

As this also seems to be a setup issue I would like to ask you to raise questions for further help in the forums: https://help.nextcloud.com

[2018-07-03 21:11] #10095 closed

[2018-07-03 21:20] cloud2018 commented on #10096
@MorrisJobke yes, i agree with  you, that we get problems, when the migration process overwrites the file.

To bypass the situation, that after long time of running nextcloud a lot of users have an outdated manual at the starting page, perhaps it's better that the pdf is not created by default, but a link in the left sidebar is set, which always refers to the installed version of nextcloud.

[2018-07-03 21:28] lightweight commented on #9931
Or use what most filemanagers do: "copy of filename" as the default filename, and then it can be renamed... I agree that the current behaviour (not being able to copy a file into the same directory) is a significant problem for me (e.g. if I create a template/example file that I want to replicate as a specifically named file and alter the filename, I have to copy it first to another folder/directo

[2018-07-03 21:31] julpec commented on #3524
@cowai @MorrisJobke for me, it doesn't work. The "php occ files:scan --unscanned" command needs the user id as argument. The same applies to the'occ files_external:notify -v' command. When I run this command as is, it returns this to me:
`Error while trying to create storage
Username and/or password required
`
I have over 1000 users in my ldap database and I can't put this command for every user i

[2018-07-03 21:40] sm8ps commented on #10097
I had overlooked an entry in nextcloud.log where it is choking at some open_basedir issue (addressed in a comment to #8717). The behavior described above remains unchanged even with open_basedir completely disabled in /etc/php/7.2/cli/php.ini which makes nextcloud.log remain completely silent.

[2018-07-03 21:43] julpec commented on #3524
In addition, notifications do not go up for changes on samba sharing.
When I make a change, I run the command `occ files:scan --unscanned <user_id>` in the process but nothing goes up on the nextcloud client, even if I run the command `occ files_external:notify -u <user-id> -p <pass> -v 13` during the change (I don't see any notification).
The only thing that works is when I access the directory v

[2018-07-03 21:44] sm8ps commented on #8717
Fighting #10097, I was confronted with the following entry in nextcloud.log:
`{"reqId":"mU4GtnlWBF0faaEf6lDI","level":3,"time":"2018-07-03T23:26:00+02:00","remoteAddr":"","user":"--","app":"PHP","method":"--","url":"--","message":"is_dir(): open_basedir restriction in effect. File(\/var\/nextcloud_data\/local_external_storage\/syncthing\/stefan\/.nc_test_file.txt\/) is not within the allowed path(

[2018-07-03 21:48] MorrisJobke commented on #10096
This is already the case: it’s the item „help“ on the top right menu ;)

The PDF is in there to showcase PDF files and we have this since years. Your ticket is the first one that reports this. I would close this ticket for now as the user can just delete that file and be happy. Let’s not make things harder than they are. ;)

Thanks for the feedback anyway :+1:

[2018-07-03 21:48] #10096 closed

[2018-07-03 22:57] rogerfv1 opened #10099 "Duplicate 'Login attempt:' message using user_saml"
### Steps to reproduce
 1. enable user_ldap, admin_audit and user_saml (with Environment Variable)
 2. login
 3. create/upload a file, sort files by name, etc

### Expected behaviour
'Login attempt:' log should be generated once per login

### Actual behaviour
'Login attempt:' log is generated once per user click

### Server configuration

**Operating system**: Debian 8
**Web server:** apache 2.4

[2018-07-03 23:13] jancborchardt commented on #9570
Just to be clear: I’m not a developer, but an interaction designer, did a bunch of usability work and also [wrote a "book" on it](https://jancborchardt.net/usability-in-free-software).

For the same reason that on an iPhone not _all_ apps are on one huge screen. It makes you get lost in a long list without any anchor point. Also it’s totally distracting to have a list of lots of icons on the top a

[2018-07-03 23:16] jancborchardt commented on #9931
@lightweight ok, "Copy of filename.txt" seems good too! :) What Gnome does:
- filename (copy).txt
- filename (another copy).txt
- filename (3rd copy).txt
- filename (4th copy).txt
- etc

This is more obvious than just appending the number, which could also be a conflict or having uploaded the original file again.

[2018-07-03 23:45] ASmith- opened #10100 "Security Issue on the External Storage Configuration Path"
Security Issue on the External Storage Configuration Path

It was suggested by others in the snap-nextcloud issues mods, users to re-post this NextCloud Security Issue here from the snap-nextcloud github issues site which I just closed moments ago and is found
here https://github.com/nextcloud/nextcloud-snap/issues/626

To recap, the current External Storage Configuration path information for a lo

[2018-07-04 07:45] MorrisJobke commented on #8984
Do you have by any chance the picture that fails? Because it seems to be related to what image you are using.

[2018-07-04 07:47] MorrisJobke commented on #8956
This looks like the auth headers are stripped out of the request. So make sure that they are properly forwarded.

[2018-07-04 07:47] #8956 closed

[2018-07-04 07:49] MorrisJobke commented on #8954
Starting with Nextcloud 13 also the web UI when users are logged in is using chunked upload which should make the upload of large files a lot more stable. Thus I will close this for now.

https://github.com/nextcloud/server/pull/7056

[2018-07-04 07:49] #8954 closed

[2018-07-04 07:57] MorrisJobke commented on #8740
As there is no feedback since a while I will close this ticket. If this is still happening please feel free to reopen.

[2018-07-04 07:57] #8740 closed

[2018-07-04 08:03] MorrisJobke commented on #9369
cc @georgehrke @rullzer

[2018-07-04 08:08] skroczek commented on #10086
@blizzz I understand, that for commonly used usernames plus must sound as a strange character. But if you allow email addresses as usernames, what you are doing right now, it isn't. Even gmail allows + as a delimiter to tag mail addresses.
But I think it would actually be the best if the characters could be configured. However, I fear that it would take a much greater effort to implement this.

[2018-07-04 08:10] MorrisJobke commented on #9365
Works here fine on 13.0.4 if I enforce password protection for links.

![bildschirmfoto 2018-07-04 um 10 08 59](https://user-images.githubusercontent.com/245432/42264948-6ea34824-7f72-11e8-99b1-c8b42a87aa52.png)

If this still happens for you could you please check the nextcloud.log and the web browser console for errors and hints. We are then happy to look into this.

[2018-07-04 08:10] #9365 closed

[2018-07-04 08:13] MorrisJobke commented on #9347
Just drop a PR to the documentation then ;)

Fixed with https://github.com/nextcloud/documentation/pull/800

[2018-07-04 08:13] #9347 closed

[2018-07-04 08:19] MorrisJobke commented on #9477
Fixed in https://github.com/nextcloud/documentation/pull/801

[2018-07-04 08:19] #9477 closed

[2018-07-04 08:21] MorrisJobke commented on #9957
cc @nextcloud/sharing

[2018-07-04 08:23] nickvergessen commented on #10086
No, that does not help at all. Apps need to know what they have to expect. So they would always have to implement for the biggest result set anyway. The thing is if we all of a sudden allow new characters that might cause undefined big problems for apps.

Counting all the Nops in here I see 4 so far, so I'm closing this for now.

[2018-07-04 08:23] #10086 closed

[2018-07-04 08:23] MorrisJobke commented on #9961
Seems to be related to #6104. Are you on 13.0.4? And please fill out the issue template from https://raw.githubusercontent.com/nextcloud/server/master/issue_template.md

[2018-07-04 08:28] MorrisJobke commented on #9978
Still something to polish ;)

[2018-07-04 08:30] MorrisJobke commented on #10011
This is an issue within the iOS app. Thus please report it to the maintainers of that app in its repository: https://github.com/nextcloud/ios

[2018-07-04 08:30] #10011 closed

[2018-07-04 08:42] blizzz commented on #9897
@smuns sorry, I don't spot  the answer?

[2018-07-04 08:47] jgrete commented on #8984
This picture cannot be uploaded via upload button, but without any problems via file dialogbox:
![pacoprofil_jgrete](https://user-images.githubusercontent.com/14105933/42266744-91728310-7f77-11e8-8fb3-51c731e14947.jpg)

[2018-07-04 09:18] umrath commented on #9570
I stay friendly when I'm treated equally. I did not feel that way. They way people argued before was very much "from above" and "we know better. shut up!"
Closing the request is also not a way to show respect.

Sadly, I do not have enough time to join the development. Nevertheless I'm still willing to test and provide feedback. That's actually the department where I have most experience.

The iPho

[2018-07-04 09:35] smuns commented on #9897
"sudo -u www-data php occ ldap:check-user $UID" results in "**The user does not exists on LDAP anymore.**"
$UID was the value of "Nextcloud name"-column.

[2018-07-04 10:04] MorrisJobke commented on #9722
This might be fixed by #2742 or we need to implement a forced refresh of the files list from apps.

@juliushaertl @skjnldsv @danxuliu Is it worth the time to sixths if we want to redo the files app with 15 anyways?

[2018-07-04 10:06] MorrisJobke commented on #7958
Duplicate of #2332

[2018-07-04 10:06] #7958 closed

[2018-07-04 10:07] MorrisJobke commented on #7958
Fixed by #6537 in 13.

[2018-07-04 11:44] nickvergessen commented on #10086
Workaround: `$uid = str_replace('+', '-', $uid);` in the right place.
If you have 2 people with the same email just one using + and the other one - that's bad luck

[2018-07-04 11:47] #7889 closed

[2018-07-04 11:56] rullzer commented on #10100
@icewind1991 please have a look

[2018-07-04 12:23] juliushaertl commented on #9722
Right now the big image view is done by the gallery app. I'm not sure how much effort this would be to push changes from there to the files app. So I'd say we should have a look at this for 15.

Having some live update mechanism is something i might look into for 15. It would be nice to have something generic here, that other apps could use as well. I'll open an issue for that later.

[2018-07-04 12:34] nickvergessen commented on #10100
@ASmith- in the future please use our [Hacker1 Project](https://hackerone.com/nextcloud/) to report security issues in a responsible way.

[2018-07-04 12:34] skjnldsv commented on #9722
Agree, not sure it's worth it since we'll work ont he new files app :)

[2018-07-04 12:55] jospoortvliet commented on #8523
Possibly related to https://github.com/nextcloud/server/issues/7469

[2018-07-04 12:56] jospoortvliet commented on #2956
Probably related to https://github.com/nextcloud/server/issues/7469, the same even.

[2018-07-04 12:58] jospoortvliet commented on #7469
I think it's related to #8523 and #2956

Can be reproduced on our internal Nextcloud, too.

[2018-07-04 13:21] icewind1991 commented on #10100
This is not a security issue, this is *at most* a case of the ui not being fully clear.

The configured path for local storages being the exact path that is mounted in Nextcloud seems the expected behaviour for me.
The mount showing green when not all permissions are valid is correct behaviour since there are use cases where Nextcloud not having write/read permissions to (some) of the folder is de

[2018-07-04 14:14] Volker-K opened #10104 "Crashing Sync Client for Windows when syncing to a dynamic share/HomeShare"
### Steps to reproduce
1.
Install Sync Client, connect with Cloudserver and
2.
select a dynamically shared drive to be synced with the cloud.
3.

### Expected behaviour
Until we changed from static shares to dynamic shares there was no problem with syncing.

### Actual behaviour
Client crashes with an Visual C++ Runtime Error in nextcloud.exe on most clients. On some it started working again spont

[2018-07-04 14:17] labor4 commented on #9369
BTW:
Same Function: Some $property have a TYPE. In the case of TEL it is something like "WORK,Pref" or "HOME"
My suggestion is foremost, to relate this whole string without going deep, to the $property->name.
I use the following code for my app, but a loose "append" to the array is probably not at all failsafe. better use a fixed index.
this code below produces:
`
"TEL" = array("123456","7890123")

[2018-07-04 14:30] MorrisJobke commented on #9722
Okay - let's focus on #2742 for 15 and then this one should be not an issue anymore. Thus I will close this for now.

[2018-07-04 14:30] #9722 closed

[2018-07-04 16:06] Gatak opened #10105 "Allow zooming of full size view in gallery app"
![screenshot_20180704-175513_opera touch](https://user-images.githubusercontent.com/1469150/42287011-0efe5452-7fb5-11e8-9d41-fb5514ff8881.jpg)

### Steps to reproduce
1. Go to gallery with a mobile device
2. Click on a picture
3. Try to pinch zoom.

### Expected behaviour
Picture should be zoomed in.

### Actual behaviour
Nothing, picture size and viewport remain fixed size.

I have tried Opera an

[2018-07-04 16:23] georgehrke commented on #9369
@labor4 Would you mind sending a pull-request for your suggested change please?
That makes discussing diffs much easier. Thx! :)

[2018-07-04 16:42] ferdiga opened #10106 "enhanced shared info"
Nextcloud 13.0.2
who can see/edit a file/directory

- if the file / directory is shared - the current info is sufficient

- if a directory above in the hierarchy is shared - no info is available at a lower level.

Hence:
the shared info should include ALL user / groups (with users) who are entitled to see/edit the document

[2018-07-04 17:58] kroerig commented on #9112
Today I had the next user that had to be renamed. Same problem. Now I'm on NC 13.0.4.

I found the wrong values also in 'oc_cards_properties'. This one seems to be used for seaching of contacts.

Can I clear both tables and have NC populate them again?

[2018-07-04 18:17] PanCakeConnaisseur commented on #8011
Yes, I am using the current Calendar version 1.6.1.

[2018-07-04 18:20] improvethings opened #10107 "Sabre\DAV\Exception\UnsupportedMediaType: Validation error in iCalendar: ATTACH MUST NOT appear more than once in a VALARM component"
### Steps to reproduce
1. Installed calendar (caldav) on a new install
2. Imported events from an owncloud installation
3.

### Expected behaviour
Tell us what should happen

### Actual behaviour
Tell us what happens instead

### Server configuration

**Operating system**:
$ uname -srm
Linux 3.16.0-4-amd64 x86_64

**Web server:**
apache2                        2.4.10-10+deb8u12                  am

[2018-07-04 19:10] dgsiegel opened #10108 "Bookmarks and Calendar views empty, when Files was not visited previously"
### Steps to reproduce
1. Start a new browser session
2. Directly navigate to either the bookmarks or calendar app URL
3. Content is empty

### Expected behaviour

Both bookmarks or calendar should display their normal content.

### Actual behaviour

Instead I get this Javascript error

[code]

Loading the files app first and then navigating to bookmarks or calendar circumvents this error.

### Se

[2018-07-04 20:27] rullzer opened #10109 "Objectstorage callback wrapper skips wrapped caches"
How to test:

1. setup S3 as primary storage
2. add a tag 'test'
3. enable files_automated tagging and have a rule to assing 'test'
4. upload a file

The tag should be added. But it is not added.

The reason for this is in: https://github.com/nextcloud/server/blob/d05469959e9d2f51110ec2692b042e029f28d66d/lib/private/Files/ObjectStore/ObjectStoreStorage.php#L408

When we reach the fopen of the obje

[2018-07-05 00:07] cookierebes opened #10111 "Audio player should have controls like video player"
This is not a bug as much as it is a feature/enhancement request.    I feel strongly that audio files should have playback controls in the same way that video files have controls that surface as a modal window within the file app.  Today the experience is simply covered by an icon that overlays the album art icon, which is confusing and not granular enough an experience for a user that wishes to l

[2018-07-05 01:00] #9351 closed

[2018-07-05 01:00] #9263 closed

[2018-07-05 01:00] #9244 closed

[2018-07-05 01:00] #9241 closed

[2018-07-05 01:00] #9219 closed

[2018-07-05 01:00] #9216 closed

[2018-07-05 01:00] #9208 closed

[2018-07-05 01:00] #9207 closed