[2018-01-19 19:20] BernhardPosselt commented on #7960
Don't think a stack trace will really help here. It happens in the migration code. If you want one I'll post one tomorrow

[2018-01-19 19:22] rubrik opened #7968 "Mexican Spanish listed many times in available languages."
See screenshot.
![esp](https://user-images.githubusercontent.com/3472354/35167600-69cd9abe-fd56-11e7-9674-a9ba833d926a.png)

System setup in #7831 but with RC2

[2018-01-19 19:24] rubrik opened #7969 ""Your apps" not fully alphabetical"
If I go to Settings> "Your apps", the list is alphabetised, until I get to the end. Then I see this:
![atoz](https://user-images.githubusercontent.com/3472354/35167695-ba64de2e-fd56-11e7-8d46-afa09434d455.png)

The lists in Enabled apps and Disabled apps are alphabetised.

System setup in #7831 but with RC2

[2018-01-19 19:26] rubrik opened #7970 ""Retention" app (official app) missing from store/enabled/disabled apps"
The "Retention" app is not listed in the store, or in the enabled or disabled apps screens.

However it is listed under App Bundles> Enterprise Bundle where I can enable it.

Maybe other apps are missing too.

System setup in #7831 but with RC2

[2018-01-19 20:32] torstenfabricius commented on #5086
As far as I see it, there are issues on the Google side and not on the NC side.
Google likely has no interest to fix this type of issues, when users deside to use Google until Google stops breaking things.
Google is not payed by your wallet, but with your data.
Rather think about not using Google until Google fix the issue ...

Just my 2 ct.

[2018-01-19 21:28] jsargent7089 commented on #7860
@schiessle

[2018-01-19 22:18] JK74 commented on #6425
@MorrisJobke  is this fixed in NC13? just checking.... thnx

[2018-01-19 22:47] dbchelgit commented on #7223
Further investigation here shows that my trash and version file deletion doesn't seem to be working at all...at least, over the space of a few days the filesystem can still fill up (eg, the 50% and other checks aren't kicking in).  Any way to debug why this is happening?  I don't see any selinux or other complaints about an unlink fails.  I do see this:

type=AVC msg=audit(1516401061.514:11320): a

[2018-01-19 23:28] Flying--Dutchman commented on #7964
It looks like nextcloud does alot of stuff in the background, when the actually 'upload' is done.
There is a pause after each file, which increases depending on the size of the uploaded file.

Why does the action after uploading a ~500mb file take multiple minutes?
Neither CPU nor RAM is at full capacity.

[2018-01-20 09:34] Ateshga commented on #7654
Hi there,

i can confirm that there is still something wrong.

It seems to me that the ContactApp in Nextcloud is not working properly:

when i create a contact in KDE Kontact it is working fine. Its is synced to nextcloud and i can view it there.

The other way round it doesnt work: When i create or change a contact in the Nextcloud Contact App it isnt synced to KDE Kontact. Following Message app

[2018-01-20 10:19] juliushaertl commented on #7970
Works fine here, maybe check the tools category? That is where it is located.

It will only appear there after you have installed it from the store.

[2018-01-20 10:20] juliushaertl commented on #7969
The apps in the "Your apps" category are sorted by enabled/disabled. After that a alphabetical order is applied to that subgroups.

[2018-01-20 10:20] #7969 closed

[2018-01-20 10:34] JK74 commented on #6023
@010100110110010101100010  thanks for the guidance; I have now changed as well some items you mentioned below and it works like a charm! thanks again.

What I'm missing is still the suggestion to make custom lines as an admin to this e-mail template in the GUI like where a getting started doc can be found on the nextcloud and a way to change in the GUI the duration of the token.
in addition there

[2018-01-20 10:35] tflidd commented on #7952
You often get this error if the certificate on the mail server is not correctly installed. You can test your mail server here: https://ssl-tools.net/mailservers
In NC 12.0.4 there have been no changes compared to NC 12.0.3 regarding the swift-mailer:
https://github.com/nextcloud/3rdparty/tree/stable12/swiftmailer/swiftmailer/lib

[2018-01-20 10:35] juliushaertl commented on #7968
I can reproduce that. Maybe @MorrisJobke has an idea why that is happening? Seems that those are set as language name for every es_* translation file:

[code]

[2018-01-20 10:40] juliushaertl commented on #7967
@schiessle

[2018-01-20 10:42] juliushaertl commented on #7966
That is by design. The file .ocdata is requested by the admin settings to check if acccess to the access to the data folder is denied.

[2018-01-20 10:42] #7966 closed

[2018-01-20 10:45] tflidd opened #7973 "Integrity check for files_reader and audio_player fails in NC 13 RC2"
I updated my test setup to NC 13 RC 2 and got an integrity check error:

@Rello @xraMsamohT for the audioplayer.

## Server configuration detail

**Operating system:** Linux 4.4.98-2-pve #1 SMP PVE 4.4.98-101 (Mon, 18 Dec 2017 13:36:02 +0100) x86_64

**Webserver:** Apache/2.4.10 (Debian) (apache2handler)

**Database:** mysql 10.0.32

**PHP version:** 7.0.27-1~dotdeb+8.1
Modules loaded: Core, date,

[2018-01-20 10:51] tflidd commented on #7965
I can't reproduce this on Debian 8/apache/mod_php7 (dotdeb). Perhaps some old, broken shares? A bit more information would be helpful.

[2018-01-20 11:09] juliushaertl commented on #763
Seems like a common workaround is to have video/webm as type for mkv files, since webm is a subset of mkv. This is also what files_videoplayer is using, so it is working with that. Maybe we should just extend the app to also use video.js on public sharing pages.

[2018-01-20 11:13] juliushaertl commented on #3015
Closing as a duplicate of https://github.com/nextcloud/server/issues/604 since it most likely is an issue with the browser not supporting the video codec there.

Please check https://developer.mozilla.org/en-US/docs/Web/HTML/Supported_media_formats#Browser_compatibility for supported videofiles on your browser version.

[2018-01-20 11:13] #3015 closed

[2018-01-20 11:18] juliushaertl commented on #4591
I cannot reproduce this on 13 anymore.

[2018-01-20 11:18] #4591 closed

[2018-01-20 11:24] juliushaertl commented on #2965
Changing the color though caldav works. So the rest of the implementation needs to be done on the calendar app: https://github.com/nextcloud/calendar/issues/313

[2018-01-20 11:24] #2965 closed

[2018-01-20 11:26] BernhardPosselt commented on #7960
[code]

[2018-01-20 11:27] dvdbot opened #7974 "Loading of Users list is really slow after upgrade to 13.0.0 RC1 and still the same for 13.0.0 RC2"
### Steps to reproduce
1. Upgrade to 13.0.0 RC1 or 2
2. Try loading users list (mine is 27 users strong)

### Expected behaviour
Should load within seconds as in NC 12

### Actual behaviour
Takes really long to load, something between 30 secs to 2 min

### Server configuration

**Operating system**: Ubuntu

**Web server:** Apache2

**Database:** MariaDB

**PHP version:** 7.x (I think)

**Nextcloud

[2018-01-20 11:29] juliushaertl commented on #5046
This is already fixed in stable12/13 and on master

[2018-01-20 11:29] #5046 closed

[2018-01-20 12:37] rullzer commented on #763
@juliushaertl yes please! Less duplicated code!

[2018-01-20 12:54] rullzer commented on #7968
I think this was wronglt copies by somebody when they created the translations. I now changed them on transifex. They should be synced to all branches tonight. So any build after tomorrow will have them properly ;)

[2018-01-20 12:54] #7968 closed

[2018-01-20 13:50] xenithorb commented on #7973
I can confirm that I'm seeing this exact error as well on 13.0.0 RC2 with:

Linux 3.10.0-693.11.6.el7.x86_64
CentOS 7.4.1708
MariaDB 5.5.56
PHP 7.1.13
nginx 1.13.8

[2018-01-20 15:03] Boia11 commented on #7952
@tflidd  I have test email, this is result of scan:
![screenshot 2018-01-20 16 00 07](https://user-images.githubusercontent.com/10048197/35184876-6962e2f0-fdfb-11e7-90d0-e50f93b6d617.png)
There are problems?

[2018-01-20 15:10] caco3 commented on #7945
@juliushaertl No, there is no NC log entry.
Please see https://github.com/nextcloud/server/issues/2900#issuecomment-298189757 where I already provided a lot of additional information. By then there was an error listed in the log, this indeed seems to be fixed now, at least there is no log entry anymore.

How ever when I call the favicon directly (https://owncloud.ruinelli.ch/index.php/apps/theming

[2018-01-20 15:16] tflidd commented on #7974
I'm not sure if this is related:
- you probably want to rotate your logfiles to keep the total size down: https://github.com/nextcloud/server/blob/master/config/config.sample.php
- You have many errors with files couldn't be decrypted and that the owner should try to reshare them (not sure if it says this message in the current setup). It certainly would speed up the system if you reviewed the sha

[2018-01-20 15:25] tflidd commented on #7952
Hm, in curl it was sometimes a problem that the root certificates were a bit old. With this error you find a couple of topics where swiftmailer is used. Some just recommend to disable the certificate verification but that's a dirty workaround. A strange thing is that it worked for you on NC 12.0.3.

Personally, I pass mails directly to sendmail and use ssmtp to send the mails. It is very small, ea

[2018-01-20 15:33] ArnisR commented on #7749
@rullzer Ok, catch it.
This time preview 128-128-crop.png has size 0. It is not pre-generated preview, but on-demand (from mobile browser I suppose)

filecache table has this entry and size is also 0.

NC has error logged ~ at the time of creation of preview:

/var/www/web/3rdparty/doctrine/dbal/lib/Doctrine/DBAL/DBALException.php - line 128: Doctrine\DBAL\Driver\AbstractMySQLDriver->convertExcept

[2018-01-20 15:40] quentingosset commented on #6639
actually this feature could be useful to facilitate the monitoring of a user security panel.

[2018-01-20 16:22] Abijeet commented on #7647
@MorrisJobke - These changes will not be minor, not sure if I'd label this as papercut.

[2018-01-20 17:25] rubrik commented on #7969
Should/could the UI indicate that? It's not at all clear.

[2018-01-20 17:27] rubrik commented on #7970
I couldn't find the app in the store, either by looking under "R", or by searching for it - a search for "retention" showed one app, I think the tagging app, but not the retention app.

[2018-01-20 20:22] Rello commented on #7973
I assume that this might be related to
`/appinfo/signature.json`

This file us used for the ownCloud Marketplace and for Nextcloud to sign an app - and in case of the AP, I want to avoid 2 archives.

As code signing is only required for OFFICIAL apps in NC, I relied on this for the oC app store + the archive signing for the NC app store.
...but this obviously does not work...

so again 2 archives

[2018-01-20 21:14] rullzer commented on #7589
Mmmm so I have been thinking about this. If we go for the appframework responses (and I think we should). There are a few things to consider:

1. You can pass in resources. However they will only be read when constructing the output. So don't close the filehandle 😉
2. I'd like to have the possibility as well to add the Node API `File` and `Folders` (just so we can use it as well).
3. We'd have to

[2018-01-21 05:51] Abijeet commented on #7647
Maybe someone from the JS team can help me on this one.

For the new dropdown needed on lower resolutions, I'm planning to do the following,

1. Create a new Backbone View to handle the dropdown needed on this one.
2. Some of the methods in `filelist.js` such as `_onClickDownloadSelected`, `_onClickCopyMoveSelected`, `_onClickDeleteSelected` etc will have to be be made "public" so that the other c

[2018-01-21 08:17] ibr123 commented on #7919
**UPDATE**
according to this [issue](https://github.com/nextcloud/server/issues/6796) the multipart exception was solved in later versions, so I installed the latest version of next cloud from this [website](https://download.nextcloud.com/server/daily/) the file `latest-master.zip | 2018-01-20 22:04 | 57M | `

yet the exception is still showing, in the nextcloud.log the version of server is `"vers

[2018-01-21 09:00] dartcafe opened #7976 "Support for config files outside the installation"
I would like to see support for config files outside the installation dir. I can manage this with an `include` or `include_once` directive, but I fear nextcloud will have problems, when it tries to write somethin to the `config.php`.

A single directive like
`$CONFIG = array (
  'config_file' => '/path/config.php',
);` could offer this possibility.

[2018-01-21 12:08] xraMsamohT commented on #7973
https://github.com/Yetangitu/owncloud-apps/issues/71

[2018-01-21 13:02] ibr123 commented on #7585
Hi,
I have the same issue, I have and my server is linked to Amazon S3, I downloaded the latest of NextCloud server which is after the date of this issue, yet the problem still occurs
Please refer to this [issue](https://github.com/nextcloud/server/issues/7919)
Thanks

[2018-01-21 14:30] ziqingshi commented on #7927
@icewind1991 @blizzz I see the nextcloud.log,nothing helped to me....

[2018-01-21 15:12] tflidd commented on #7973
Thanks for the quick fix @Rello

[2018-01-21 15:16] tflidd commented on #7959
Duplicate https://github.com/nextcloud/issuetemplate/issues/27

[2018-01-21 15:28] Arjoni commented on #7810
Any update for this issue?

[2018-01-21 15:44] typorian opened #7977 "CSS is not properly rendered after upgrade from 11 to 12.0.4"
### Steps to reproduce
1. Upgrade Nextcloud from 11 to 12.0.4 via updater app
2. After upgrade is done, log into Nextcloud instance
3. Observe text all over the place, completely unusable interface (see: https://imgur.com/a/SAE0m) the big red symbol is a blown up logo of gpxpod, one of the installed apps.

### Expected behaviour
Nextcloud should be updated and continue to work as expected

### Act

[2018-01-21 16:58] steadybright opened #7978 "After Upgrading to Nextcloud 13 Beta, Files Not Accessible (No Open, Upload, Nor Download)"
### Steps to reproduce
1. Install Arch AUR package nextcloud-testing 13.0.0RC1-1
2. Log in to NC
3. Try to open, upload, or download a file by any means

### Expected behaviour
1. I should be able to select the listed files and download them
2. I should be able to either drag-and-drop files in Nextcloud or upload files via the upload dialog.

### Actual behaviour
1. Everything looks normal on the

[2018-01-21 17:14] heinrichmartin commented on #7959
Sorry for the duplicate, but searching for "sensitive data" gave too many results because of the template...

[2018-01-21 17:14] #7959 closed

[2018-01-21 17:38] TimoStolz opened #7979 "Upgrade from 12.0.3 to 12.0.4 failed"
Error message in web-based update

Doctrine\DBAL\Exception\InvalidFieldNameException: An exception occurred while executing 'SELECT min_value, increment_by FROM "oc_storages_numeric_id_seq"': SQLSTATE[42703]: Undefined column: 7 ERROR: column "min_value" does not exist LINE 1: SELECT min_value, increment_by FROM "oc_storages_numeric_id_... ^
Detaillierte Protokollmeldungen
Update vorbereiten
Log-L

[2018-01-21 18:46] virtualdxs commented on #1573
It should be implemented but with a security option. I'm migrating between nextcloud servers and this would be very helpful - I can download a folder as a zipfile but I can't upload it as such.

[2018-01-21 18:56] Yetangitu commented on #7973
OK, so that is what's driving this issue. This is... annoying, to say the least. I'll have to start using different archives for NC and OC as well then, much to my chagrin. Come on, folks, don't make it harder for developers to stay compatible with NC and OC.

[2018-01-21 22:03] georgehrke commented on #7310
@tacruc Do you mind creating a pull-request right away? :)
This makes it easier to review because you can simply add comments and also improves the visibility, so more people will take a look.

And you can always push commits to existing pull requests to extend them (to add unit tests later on)

[2018-01-22 02:32] tacruc commented on #7310
@georgehrke didn't want to do it too early. But I think I could do it now. There is one thing which needs to be fixed. What is the best way to prevent the testing of generteKey on every commit? This test is actually generating gpg key's and taking a long time.

[2018-01-22 07:52] rullzer commented on #7977
Can you fill out the whole issue template (so also add your logs).

For 12 we switched to generated CSS to allow more flexibility. They are also not serverd directly from those folders.

Also let me summon @skjnldsv for our SCSS stuff :)

[2018-01-22 08:43] tobiasKaminsky commented on #7732
Currently when accessing /status.php we get the complete html website back.
We are parsing the status code, and return our own string, so changing the message on server side would not be sufficient.

If 400 is only used there, I can simply add a "translation" for 400.
But as 400 is so generic, maybe it is better to return a new one, e.g. 455 is not in use (according to https://en.wikipedia.org/wik

[2018-01-22 09:13] BernhardPosselt commented on #7960
Solved by running git submodule update

[2018-01-22 09:13] #7960 closed

[2018-01-22 09:13] nickvergessen commented on #7960
Fixed by `git submodule update`

[2018-01-22 09:40] ibr123 commented on #7919
**UPDATE**
at the file [S3ObjectTrait.php](
https://github.com/nextcloud/server/blob/c225bbd0216ff4a2acc615fac3ca0cf6a84e1ef4/lib/private/Files/ObjectStore/S3ObjectTrait.php#L80) I changed the line `if ($stat['size'] && $stat['size'] < S3_UPLOAD_PART_SIZE) {`  to `if ($stat['size'] < S3_UPLOAD_PART_SIZE) {` and the I was able to create files in the Sync folder, which what was generating the except

[2018-01-22 09:50] nickvergessen commented on #7964
Well check the Disk IO, after the upload is "finished" the uploaded chunks need to be assembled to the complete file again.

[2018-01-22 10:21] MorrisJobke commented on #7732
Or just return a proper status.php XML/JSON with the correct error message: 😉 (using HTTP codes for this is not really good)

[2018-01-22 10:26] tflidd commented on #7979
Can you fill out the issue template? E.g. we don't know which database you are using...

[2018-01-22 10:35] tflidd commented on #7810
Check the repos. No new bug reports, no code changes, no new pull requests.

You could put some incentives on bountysource (https://www.bountysource.com/issues/53700579-nextcloud-13-0-0-rc-1-support-for-dropbox-google-drive-missing) for businesses the interest is perhaps limited and many private users want Nextcloud to get rid of GDrive and Dropbox.

[2018-01-22 10:39] rullzer opened #7983 "Provisioning API: expose what can be edited"
For https://github.com/nextcloud/android/issues/1925

Basically to allow editing the user info fields from the clients they have to know which fields are there ;)

[2018-01-22 10:54] tobiasKaminsky commented on #7732
Well, this can still be accessible via web browser (of course if misconfigured), so a proper NC error web page is still nice for regular web browser user.

[2018-01-22 11:01] tflidd commented on #7973
Allow me this naive question, wouldn't it be possible to have a signature.nc.json and signature.oc.json, or include both signatures in the same file? There must be a better solution for app developers, they contribute so much to the community, don't make their work harder than necessary!

[2018-01-22 11:16] MorrisJobke commented on #7732
But not on the `/status.php` URL ;)

[2018-01-22 11:20] blizzz commented on #7927
have nothing like this observed recently when i added a local mount.

I understand there's nothing popping up in the Nextcloud log?

Can you check the network console for Ajax requests?

[2018-01-22 11:42] tobiasKaminsky commented on #7732
Indeed 👍

[2018-01-22 12:07] rullzer opened #7984 "Add occ commands to pregenerate CSS and JS files"
Just so it doesn't have to happen on demand.

As an added bonus we could add a '--rebuild' flag or something. So that if people somehow mess up their files in the appdata dir. That we just regenerate everything.

@skjnldsv does this make sense to you?

[2018-01-22 12:31] Arjoni commented on #7810
@tflidd I agree with your opinion. What I want is to maybe remove this issue from the milestone so it doesn't push the release date further.

[2018-01-22 12:48] MorrisJobke commented on #7973
Good idea, could you open a new ticket for that? Then we could check out how we fix this, but this should be possible. There are some side effect, but they could be fixed (like you need to ignore the other signature from the verify step).

[2018-01-22 13:50] pgassmann opened #7987 "Error downloading from shared link, shared by a user who no longer has access to the files"
### Steps to reproduce
1. Share a folder with a user, including resharing
2. This user shares a folder via link,
3. Revoke share with user,
4. Download using the shared link leads to an error.

### Expected behaviour
Two levels:
1. Shared link should no longer work when the user that created the link no longer has permissions on it.
2. If link is still working, the download should work without err

[2018-01-22 13:56] jancborchardt commented on #7647
@Abijeet the changes you mention sound perfect! :)

Maybe @skjnldsv @juliushaertl or @pixelipo can help with the JS?

[2018-01-22 13:59] jancborchardt commented on #7938
So of course this needs to be fixed, but from a design-guideline view – @te-online I recommend in keeping that text short. :) Especially translations will cause issues otherwise, and a label like that should always be short and succinct.

[2018-01-22 14:01] te-online opened #7990 "Clippy icon missing?"
I'm not sure if this a bug or just a problem with my local set-up. I'm using NC 13 RC2 on a debian vm in Firefox.

### Steps to reproduce (Example)
1. Click on the share button for a folder / file
2. Check the checkbox to create a share link
3. Look at the URL box for the share link

### Expected behaviour
The clippy symbol is in the right corner of the url field, on hover it says “copy” and on cl

[2018-01-22 14:37] #7749 closed

[2018-01-22 14:44] skjnldsv commented on #7984
So we could have a fix to give to users who have a broken setup?

[2018-01-22 14:46] skjnldsv commented on #7977
Definitely a scss Caching issue. We need the nextcloud log to be sure though! :)

[2018-01-22 15:04] MorrisJobke commented on #7732
Fix is in #7991

[2018-01-22 15:16] Budwise opened #7992 "LDAP Groups Issue"
-->
### Steps to reproduce
1. Add LDAP Group
2. Verify that it can query users etc
3. Go to Users section and see if it populates

### Expected behaviour
All users should populate

### Actual behaviour
Once I get beyond 2 groups the 3rd one fails to populate.  I've created a test LDAP group as well with only a few users in it.  This causes the "Everyone" view to fail as well but the other groups p

[2018-01-22 15:20] ylangisc opened #7993 "Quota bypassed when uploading with chunked transfer encoding"
When uploading a file with chunked transfer encoding (https://en.wikipedia.org/wiki/Chunked_transfer_encoding) the quota check is bypassed and you can upload as many bytes over the quota as you want .

### Steps to reproduce
1. Create an account with a low quota
2. Upload a file that would hit the quota with chunked transfer encoding, i.e. using Mountain Duck which always use this kind of encoding

[2018-01-22 15:28] juliushaertl commented on #7984
Makes sense to have, basically this is what is left in https://github.com/nextcloud/server/issues/6587.

[2018-01-22 16:11] skjnldsv commented on #6587
@Keridos this should be fixed in latest master, I worked on supporting multiple installation of nextcloud with different paths. :)
Can you test it?

[2018-01-22 16:26] dirigit commented on #7987
Hi,

in case user sharing something and loosing permission to access something all shared links to those resources created by "this" user should be dropped.

Reason to deny access of a user to a resource could be illegal content as well as malware, virus or whatever. In such a case further delivery caused by "this" user should be omitted in any case without any error message except "resource doesn

[2018-01-22 16:41] camilasan commented on #7893
I am testing my changes and the response for non-admin users don't return the 2 external sites I have in my test env:
<?xml version="1.0"?>
<ocs>
 <meta>
  <status>ok</status>
  <statuscode>200</statuscode>
  <message>OK</message>
 </meta>
 <data/>
</ocs>

Is this expected?

[2018-01-22 16:57] MorrisJobke commented on #7976
I would say, that adding more complexity to this does not make our life as maintainers easier. If you want this, then there are multiple ways:

* create a file named `abc.config.php` inside of config/ and it will be loaded as well and merged with the existing config.php
* combined the first with a symlink you could accomplish your wanted behaviour
* use environment variables to inject configuratio

[2018-01-22 16:57] #7976 closed

[2018-01-22 16:58] typorian commented on #7977
@skjnldsv I added the nextcloud.log, there is definitely something about css/scss in there. Let me know if you need more than this, please.
Thanks for your help!

[2018-01-22 17:08] MorrisJobke commented on #7615
I'm closing this for now. Once you could provide more information we could reopen the ticket. Thanks

[2018-01-22 17:08] #7615 closed

[2018-01-22 17:09] #7489 closed

[2018-01-22 17:11] MorrisJobke commented on #7993
cc @icewind1991 @danxuliu

[2018-01-22 17:12] MorrisJobke commented on #7987
That was never implemented like that, right? @schiessle @rullzer

And @rullzer as well for the exception.

[2018-01-22 17:13] MorrisJobke commented on #7990
cc @nextcloud/javascript

[2018-01-22 17:13] MorrisJobke commented on #7992
cc @nextcloud/ldap

[2018-01-22 17:16] ylangisc opened #7995 "Chunked transfers lead to 0 byte files"
We hit the annoying 0 byte files issue when using a `PUT` operation with a chunked transfer encoding to modify an existing 0 byte file. After successfully executing the `PUT` the server replies with a 204 but the file is still empty. Not sure if this is a NC or sabre/dav issue.

[code]

I'm using nginx 1.13.8 as a webserver (nginx 1.10.3 doesn't work either). My nginx configuration is quite defaul

[2018-01-22 17:44] Flying--Dutchman commented on #7964
Correct, the nginx worker writes with 1.500kb to the disk after the upload. Does Nextcloud have to wait for this operation? Can't it be done in the background, asynchronously?

[2018-01-22 18:38] Budwise commented on #7992
Oddly this eventually did populate but it took a while which is strange since it was less than 10 users.

[2018-01-22 18:53] Rello commented on #7973
without knowing the details - how should a fix look like?
both solutions provide the possibility for code signing and use the same process/occ and the same output file.

the only difference is, that the server is using other keys to sign the .crt file.
when not going for a completely different file, I assume it would be hard to recognise if a signature file was created with another key of has a in

[2018-01-22 19:12] rullzer commented on #7987
Well for shared links it is. As they hold no context. THey should be removed or at least invalidated.

I'll look into this.

[2018-01-22 19:34] heinrichmartin commented on #7958
Actually, this is not a duplicate (at least not of the linked issue) - auto-refresh was just a side-note:
### Steps to reproduce
4. Click on the current folder in the breadcrumbs
### Expected behaviour
4. The file list is updated to show the files on the server, including the new one.

[2018-01-22 20:40] rullzer commented on #7987
Ok  I just checked and it does not happen on master (aka, the link share is properly removed). I'll check 12 later

[2018-01-22 20:43] mfechner opened #7999 "Cannot upload 11.1 MB jpeg with nextcloud client"
Nextcloud version _(eg, 12.0.2)_: 12.0.4
Operating system and version _(eg, Ubuntu 17.04)_: FreeBSD 11.1 and Windows 10 client with nextcloud 2.3.2 (build 1)
Apache or nginx version _(eg, Apache 2.4.25)_: nginx 1.12.2
PHP version _(eg, 7.1)_: 7.1

The issue you are facing: Uploading a bigger jpeg (tested with 11.1MB big jpeg) fails using the nextcloud client, but works fine using the webinterface.

[2018-01-22 21:45] blizzz commented on #7992
cache of 10 min life time

[2018-01-22 21:45] #7992 closed

[2018-01-22 22:02] tflidd opened #8001 "Simplify code signing if app is published in different apps"
For independent app developers, it is complicated to publish in different app stores (NC and OC) without creating two different archives due to code signing (`/appinfo/signature.json`). App developers put a lot of effort in maintaining their apps and the publishing process should be as easy as possible.

@MorrisJobke can probably better elaborate possible technical solutions.

Follow up from https

[2018-01-22 22:06] tflidd commented on #7973
Issue in files_reader was fixed (https://github.com/Yetangitu/owncloud-apps/issues/71).

Regarding the code signing, let's continue the discussion in this new topic:
https://github.com/nextcloud/server/issues/8001

Thanks to everybody.

[2018-01-22 22:06] #7973 closed

[2018-01-22 22:16] tflidd commented on #7810
Support for GDrive and Dropbox will be removed from website:
https://github.com/nextcloud/nextcloud.com/pull/755

[2018-01-22 22:39] tflidd commented on #7655
Thanks for the feedback. In the meantime, the migration information on the web site was updated (https://github.com/nextcloud/nextcloud.com/pull/728).

This was probably fixed in the mean time. There are several report that it works right now.

Put a bug report on https://github.com/nextcloud/documentation/issues, we probably don't need a duplicate of the migration page on the homepage.

It says t

[2018-01-22 22:57] dienteperro commented on #7615
I'll try to reproduce the issue in a different VM/server and be back. Thanks

[2018-01-22 23:25] Yetangitu commented on #8001
Just use a prefix in signature.json for NC and OC signatures and certificates, I assume the hashes are identical:

[code]

[2018-01-23 03:24] ziqingshi commented on #7927
@blizzz @icewind1991  I check the network console.It didn't help me.The problem is,when I refresh the page，then I click the recent or external storages,the folder or files are exist,then I click the all files,now I click the recent,the folder or files are invisible after I refresh the page it visible.
![problem](https://user-images.githubusercontent.com/34739130/35256549-539ea0d6-002f-11e8-96a0-96

[2018-01-23 03:47] zebulongriggs commented on #7919
I'm having exactly the same issue and also installed using snap.  Any thoughts on how to make the change in the snap directory?

[2018-01-23 05:01] danxuliu commented on #7990
The missing clipboard icon is a regression; I will take care of it.

[2018-01-23 06:21] waynehawken commented on #7748
ok - have had to do something as it has been unusable for us for an extended time period.  Have build a new v11 VM and reverted back to 11.03 - problems are gone & SMB working fine again.  There is something buggy in at least v12.3 - possibly 12.02 and maybe 12.01, but we have been trying to work around the issue for so long now that failed/change history doesn't align with end user reports enough

[2018-01-23 06:58] edrush commented on #5158
+1

[2018-01-23 08:19] te-online commented on #7990
Thank you! 😊

While you are here, let me ask one question: Is it sufficient to add the .clipboardButton class to a link to add such button to my own app or will I need a separate script or other classes as well?

[2018-01-23 09:30] kifeo opened #8003 "After changing 'User Home Folder Naming Rule' in LDAP settings, some links did not work"
### Steps to reproduce
1. do not set 'User Home Folder Naming Rule' in LDAP settings - this used the uuid of the user for me
2. create a file.
3. set the 'User Home Folder Naming Rule' in LDAP settings to to use the uid.

The collabora could not open the file anymore, and the client could not download the file neither.
I could see in the client error the uuid of the file location : serveraddress.c

[2018-01-23 09:51] MorrisJobke commented on #7810
As this is not server related I will close this (because @jospoortvliet is also aware of it). Regarding the gdrive app: this should be completely separate and not related to the server at all. (see dropbox app that is linked above)

Thanks for your feedback on this.

[2018-01-23 09:51] #7810 closed

[2018-01-23 09:54] enoch85 commented on #7748
Yup, I can confirm that I had multiple customers that complained about this since 11.X.X cc @icewind1991

[2018-01-23 10:28] michag86 commented on #6809
I think this #7292 can fix the problem. I've tested this on 12.0.4 successfully. Not shure if this also works with ldap back end.

[2018-01-23 11:19] My1 opened #8004 "Remove »remember log in« and just remember automatically"
On the Login page the layout it the following:

User, Password, Submit, Remember me.

I think this is a pretty weird layout especially as the most common one being first the user and password, then remember and AFTER THAT the submit button.

this gets majorly annoying when someone goes in with keyboard and, just out of muscle memory goes User, tab, password, tab, spacebar (to select remember me),

[2018-01-23 11:27] jancborchardt commented on #7782
@rullzer to be a good first issue, this needs a bit more info on where to start, how to tackle it. :) Good first issues have almost all info provided so newcomers can easily dive in.

[2018-01-23 11:30] My1 commented on #7018
by the way where is this cancel login button thing handled?

maybe I could whip something pretty rough together, basically it would be (pseudocode)

[code]

[2018-01-23 11:55] snozberries-ln commented on #6899
I had to set mine to READ-COMMITTED manually.

Has anyone figured out the cause and fix?

[2018-01-23 12:25] tobiasKaminsky opened #8005 "Bruteforce: unrecognized address ::1"
I updated to latest master via git pull on my test instance and did an update and now I get:
[code]

My computer has ipv4/v6 enabled and both valid ips.
/etc/hosts:
[code]

[2018-01-23 12:37] MorrisJobke commented on #8004
cc @nextcloud/designers

[2018-01-23 12:39] icewind1991 commented on #3524
Using 'Login credentials, save in database' instead of 'Login credentials, save in session' should make the file scanner pickup the changes correctly.

As for decreasing the "sync interval" you can run `occ files:scan --unscanned --all` as a separate cron job to pick up new changes before the "normal cron job" does it.

[2018-01-23 12:54] te-online opened #8007 "occ app:check-code doesn't find all errors that need to be fixed for appstore upload"
It seems, a `category` and/or `bugs` field in the info.xml is required to push apps to the appstore.
Otherwise the store throws an error that the field `dependencies` is not expected. Also a `summary` field is required if the `description` field is longer than 128 characters.

Could we adjust the `occ app:check-code` command to also detect this?

I had this info.xml

[code]

and got an error, beca

[2018-01-23 13:02] chrone81 commented on #4686
I got this error again on Nextcloud 12.0.4.

[2018-01-23 13:05] MorrisJobke commented on #3524
@icewind1991 Could you add this to the documentation for the notify command? Thanks

[2018-01-23 13:29] MorrisJobke commented on #6809
Fixed by #7292 in 13 and will be fixed in 12.0.6 with #8006

[2018-01-23 13:29] #6809 closed

[2018-01-23 13:36] MorrisJobke commented on #8007
No - you are right. We added some checks to the app store and forgot about the code checker.

cc @nickvergessen

[2018-01-23 13:36] nickvergessen commented on #8001
Yeah fine by me, although I think it will play less and less a big role, due to diverging code.

[2018-01-23 13:40] nickvergessen commented on #8007
@te-online do you want to work on this?

Maybe we can also use the `.xsd` file and validate against that:
https://github.com/nextcloud/appstore/blob/master/nextcloudappstore/api/v1/release/info.xsd

Then it would be enough to do changes in one place.

[2018-01-23 13:55] MorrisJobke commented on #6217
Fixed by #7292

[2018-01-23 14:20] MorrisJobke opened #8008 "User count for groups with disabled users is wrong"
* having a group "A" with two users "user1" and "user2"
* disable "user1"
* expected: group count for group "A" is 2 and shows the disabled user or it is 1 and doesn't show the user
* actual: group count is 2 and doesn't show the user

![bildschirmfoto 2018-01-23 um 15 17 38](https://user-images.githubusercontent.com/245432/35280475-b01f729c-0050-11e8-8201-472036bd583a.png)
![bildschirmfoto 2018-0

[2018-01-23 14:20] MorrisJobke commented on #6217
Let's close then this here and tackle the user count with https://github.com/nextcloud/server/issues/8008

[2018-01-23 14:20] #6217 closed

[2018-01-23 14:39] rullzer commented on #8005
It sounds like your php is not compiled with ipv6. but that would be weird...

[2018-01-23 14:52] MorrisJobke opened #8009 "Disabled users count for sub admins wrong"
* having a group "A" with two users "user1" and "user2"
* having users "user3" and "user4" without a group
* disable "user1" and "user3"
* make "user2" the group admin of group "A"
* login as "user2"
* expected: disabled count is 1 (because only one of the users that are in the scope of the group admin "user2" is disabled)
* actual: disabled count is 2 (user1 and user3)

admin view:
![bildschirmfo

[2018-01-23 14:58] tobiasKaminsky commented on #8005
[code]

[2018-01-23 15:09] tobiasKaminsky commented on #8005
When accessing the same test server with my emulated android it is working...
Strange

[2018-01-23 15:37] icewind1991 commented on #3524
https://github.com/nextcloud/documentation/pull/652

[2018-01-23 16:23] michag86 commented on #7682
Is this problem still existing?
With NC 13 RC2 I cannot confirm this:
![grafik](https://user-images.githubusercontent.com/6691165/35287102-e8e10e5e-0061-11e8-8013-467aa09555de.png)
Tested with Firefox ESR 52

[2018-01-23 16:23] Yetangitu commented on #8001
Thus far it is quite easy to keep 'apps' compatible with NC and OC so anything which more or less by design makes it harder to do so needs to be dealt with. If in some distant future this issue becomes moot no harm will be done by introducing this change (which, if needed, can easily be reverted).

[2018-01-23 16:41] ylangisc commented on #7995
After some more testing I've noticed that it's even worse. It does not matter if you create a 0 byte file prior updating it. Basically all `PUT` operations with a chunked transfer encoding lead to 0 byte files in low latency and high bandwidth environments for files that are greater than a certain size (see above). In my local environment it's easy to replicate with a simple curl command. E.g.

[c

[2018-01-23 17:03] allorder opened #8010 "Duplicate admin group"
I created by mistake another admin group that I cannot delete.

### Steps to reproduce
1. Create admin group in lower case.
2.
3.

### Expected behaviour
Don't create it/error

### Actual behaviour
Double admin group

### Server configuration

**Operating system**: Debian 9.03

**Web server:** apache 2.4.25

**Database:** mariadb 10.1.26

***Nextcloud:*** 12.0.4

*** Does someone have an easy fix

[2018-01-23 17:07] enoch85 commented on #6899
Hmm, that shouldn't be the case.

[2018-01-23 19:28] mcnesium opened #8011 "No 'Authorization: Basic' header found"
For about a week now my Nextcloud Calendars will not show up on my iOS device anymore, after this worked well for ages. I deleted and re-added the CalDAV account. When I added the credentials, the iOS complained, it **cannot connect using SSL**, though the certificate [is valid and rated A+](https://www.ssllabs.com/ssltest/analyze.html?d=cloud.elektrat.de).

When I toggled the Calendars switch, th

[2018-01-23 21:21] te-online commented on #8007
Never worked with command-line-php, but let me have a look tomorrow!

[2018-01-23 21:38] skjnldsv commented on #7977
@juliushaertl we have a theming issue I think?
[code]

[2018-01-23 23:17] deg0nz commented on #7906
I have the exact same issue. I think this should be reopened if others have the issue too.

This is also true for MariaDB 10.2.12.

[2018-01-24 04:27] realies opened #8012 "Add an option to change or remove default new profile files"
Currently default new profile files have to be changed or removed every time Nextcloud is updated. It would be great if those are kept intact if modified by the user.

[2018-01-24 05:37] tuxmaster opened #8013 "Migrate from OC 10.0.4 to NC 12.0.4 fails"
I use the migration script from https://download.nextcloud.com/server/installer/migrator/index.php.
The version check will passed, but than the follow error message will be shown and the update will halt.

[2018-01-24 07:56] e-alfred commented on #1308
@idmacdonald If you can implement it, then I think the best way to go forward is to do it by yourself. You could either make a PR to this repository or create an app for that. An app is more flexible because you can publish them rather freely on your own schedule whereas in core you would be bound to the release schedule of Nextcloud (and the uncertainty if your PR is accepted).

[2018-01-24 08:09] thomwiggers opened #8014 "Sort apps to be updated to the top"
### Current behaviour

After I get a notification to update one of the installed apps, I then need to scroll through the list of installed apps and hunt down the one that has an update button.

### Desired behaviour

It'd be nice if there's either a screen with all the apps that need to be updated or if they're sorted to the top of the list.

[2018-01-24 08:16] splitt3r commented on #7682
You are right 👍

[2018-01-24 08:16] #7682 closed

[2018-01-24 08:44] juliushaertl commented on #7977
Hm, that's strange. The color value should always bestowed without a `#` in the beginning. I'll have a look.

@typorian Did you change the color value somewhere outside the theming all? Can you check if it works again if you change it from the admin interface?

[2018-01-24 09:30] rullzer commented on #7589
First POC in #8017

[2018-01-24 09:42] mcnesium commented on #8011
Interesting side note: the corresponding CardDAV connection works fine from that device to the same Nextcloud instance.

[2018-01-24 09:54] ziqingshi opened #8018 "Why when I add the LDAP service,the server is especially special slow???"
Before I configure the LDAP service, the nextcloud server is fast,but when I add the LDAP service, the nextcloud server is especially special slow, why? The ldap users is just 62. After configured the ldap service, I login the app and web server, theconnection will become very very slowly,I can't understand why the server is especially special slow after configured the ldap service.

### Server co

[2018-01-24 09:56] ziqingshi commented on #8018
@blizzz @MorrisJobke @icewind1991  Thanks .

[2018-01-24 10:54] juliushaertl opened #8019 "Delete button for uploaded avatar is missing"
### Steps to reproduce
1. Upload an avatar
2. Reload the page

### Expected behaviour

There should be a delete button

### Actual behaviour

There is no delete button after reload

Happens on 13 RC2 (not on master)

[2018-01-24 10:56] juliushaertl commented on #8019
Actually it doesn't happen after uploading a new avatar. So it is just for old avatars, that were present before the update to 13. Seems to be caused by https://github.com/nextcloud/server/pull/7498/commits/4c3eb80a9102ceaf08d5143eaba8877a8a43e57d I'll have a look.

[2018-01-24 10:57] srbaker commented on #1434
@georgehrke I would love to pick this up, and will have time around FOSDEM (possibly at, but definitely after).

[2018-01-24 11:17] MorrisJobke commented on #7990
@danxuliu Any ETA? Because this is the only one, that would block the very last RC before the 13.0.0 release and I would like to get the RC out today or tomorrow.

[2018-01-24 11:25] #7700 closed

[2018-01-24 11:27] MorrisJobke commented on #8013
Please delete the folder `assets` and then start the migrator again. Sorry for the inconvenience.

@jospoortvliet Maybe add this to the migration page.

[2018-01-24 11:27] #8013 closed

[2018-01-24 11:27] MorrisJobke commented on #8012
@realies Could you explain this a bit more? What do you mean with that and on what version do you run Nextcloud?

[2018-01-24 11:33] snapper87 commented on #7906
I restarted mysql/mariadb services and restarted php7.1-fpm. After that, it started working again. Thats why I closed the ticket.

[2018-01-24 11:49] realies commented on #8012
@MorrisJobke, referring to the files located in `nextcloud/core/skeleton` that are copied to new user profiles when they log in for the first time. Would be great if those are not reset to the default ones when updating Nextcloud. Running 12.0.5.

[2018-01-24 11:55] Jerico815 commented on #7905
I got exactly the same issue.
After my root disk was filled up 100%, I extended my disk and reboot ubuntu. Then I got this css problem.

This command solved the problem for me too:
`sudo -u www-data php /var/www/nextcloud/occ app:disable theming`

I never used this app before. This app was installed by default.
Thank you for the help.

[2018-01-24 12:06] realies commented on #7636
@juliushaertl, unfortunately this is still the case with 12.0.5. It is reproducible when you set the theming color to `#000000`.

<img width="326" alt="screen shot 2018-01-24 at 14 04 39" src="https://user-images.githubusercontent.com/5107843/35331361-c2a81404-010f-11e8-8ade-7d3ce1925ec8.png">

[2018-01-24 12:16] ionics commented on #2063
+1 here. Shared structures on company level should be consistent. If someone (sales representative, colleague, etc...) wants to change such "readonly" share, the share should be copied to a new location. Edited and maybe shared back to other users. But the original structure shouldn't be touched in anyway, except the administator/manager of that share decides to rename the share. The actual behavi

[2018-01-24 12:23] juliushaertl commented on #7636
@realies Thanks, yes I can reproduce that in 12.0.6.

[2018-01-24 12:28] realies commented on #7636
@juliushaertl, good to see that you have reproduced it. Please re-open the issue.

[2018-01-24 12:38] juliushaertl commented on #7636
@realies Ah sorry, forgot to hit that button as well :wink:

[2018-01-24 12:42] realies opened #8021 "Add an option for custom favicon"
Currently this can only be done manually. Would be great if the theming section allows administrators to specify custom favicon from a file.

[2018-01-24 12:58] ymolinet commented on #3524
Hi all,

When running this command, I receive :

Scanning files for 27 users
Starting scan for user 1 out of 27 (05C757BD-241F-466F-83AF-5E2E60B4C881)
Starting scan for user 2 out of 27 (083A35D7-1564-4D62-8F80-724EB2B8DFB6)
Starting scan for user 3 out of 27 (0CE75D09-6809-4F60-ABFE-7B5DEBA854D9)
Starting scan for user 4 out of 27 (103447F3-9BC7-473C-B5AB-682F137BE67D)
Starting scan for user 5 ou

[2018-01-24 13:00] typorian commented on #7977
@juliushaertl As far as I remember I never changed it anywhere else. Do you
mean change it on the admin interface to a different value and then try
upgrading again? I can do that later.

On January 24, 2018 09:44:26 Julius Härtl <notifications@github.com> wrote:

[2018-01-24 13:03] MorrisJobke commented on #8012
Ah - got it :)

Then just create an empty directory on your server and set the config option for the skeleton directory to this empty folder.

https://github.com/nextcloud/server/blob/master/config/config.sample.php#L245-L255

[2018-01-24 13:03] #8012 closed

[2018-01-24 13:04] MorrisJobke commented on #8021
Duplicate of #6672

[2018-01-24 13:04] #8021 closed

[2018-01-24 13:30] ArnY commented on #7919
We are also having the same problem with Ceph RGW with a slight difference in the error message (but with the same meaning), also with Nextcloud 12.0.4, installed from sources:

`ownCloud[311]: {webdav} Exception: {"Exception":"Sabre\\DAV\\Exception","Message":"An exception occurred while completing a multipart upload: Error executing \"CompleteMultipartUpload\" on \"http:\/\/cloudrgw.ha.univ-nant

[2018-01-24 14:05] juliushaertl commented on #7977
The only thing that i could think of that might cause that, is if you set the color value manually with `occ config:app:set` which should not be done, since there is no check if the value is valid.

Yes, that should fix it.

[2018-01-24 14:05] #7732 closed

[2018-01-24 14:09] jaydee99 commented on #6597
Hi,

I'm also having the same problem : i can't use SMB shares in active directory domain...

How do you apply the fixes in #7774 please ?

Thanx !

[2018-01-24 14:11] juliushaertl commented on #8014
There is a fix for this coming with NC13. The updates have a separate section now and when you click on the update notification, the new update view will open.

[2018-01-24 14:11] #8014 closed

[2018-01-24 14:14] juliushaertl commented on #8010
How did you create that group? When I try to create a group named `admin`, I get a proper error that the group already exists.

[2018-01-24 14:17] mcnesium commented on #8011
same situation after upgrading NC to v12.0.5.3

[2018-01-24 14:18] #8019 closed

[2018-01-24 14:45] MathiasPhilipp opened #8028 "Security problem / sharing options"
I'm not a developer and absolutely new here.  I'm admin and user, never worked with github. Sorry if I do anything wrong or at the wrong place.

In my opinion, the following seems to be a security problem:

Combining the options
"Restrict users to share only with users in their group"
and
"Allow username autocompletion in share dialog." If this is disabled
the full username or email address needs

[2018-01-24 14:59] juliushaertl commented on #7970
@rubrik Please have another look at the tools category. The search currently will only work on the current view. In case the app is not installed, it will also not be found on the your apps section.

[2018-01-24 15:18] kifeo commented on #3569
I had the same issue, the return true fix did work.
This happened right before the update 12.0.5 arrived. I don't know if this is a hint.
The error_log(json_encode(debug_backtrace())); added line did not do anything, where should I find the generated output ?

[2018-01-24 15:19] allorder commented on #8010
Maybe it is with a capital A

[2018-01-24 15:37] ziqingshi commented on #8018
This problem occured just the ldap users.

[2018-01-24 15:41] MorrisJobke commented on #8018
cc @nextcloud/ldap

[2018-01-24 16:03] 8h2a commented on #6673
I have the same issue that all security related http headers are set twice, because I have a global webserver config which sets those headers, but nextcloud seems to append their own headers.
This results in headers like: `x-content-type-options: nosniff, nosniff`
And warning messages like: `The "X-Content-Type-Options" HTTP header is not configured to equal to "nosniff". This is a potential secur

[2018-01-24 16:08] danxuliu commented on #7990
@MorrisJobke

Sorry for the delay; it is fixed in #8032 :-)

@te-online

If I am not mistaken you would need to, at the very least, [create a `Clipboard` object](https://github.com/nextcloud/server/commit/daaa3ded8d73fe3e9eb483cbf1174ed245e6250b#diff-da7df34db49581af77bd59e4f269dc36R132). But you should handle the `success` event too to give feedback to the user ;-)

[2018-01-24 16:24] icewind1991 commented on #7585
Please see if https://github.com/nextcloud/server/pull/8033 fixes the problem for you

[2018-01-24 16:27] #7990 closed

[2018-01-24 16:36] xf- opened #8035 "Aspect ratio of logo on 503 page like old share link"
### Steps to reproduce
1. create a share link
2. Modify URL for broken or old link
3. aspect ratio of you logo is

### Expected behaviour
Correct aspect ratio

### Actual behaviour
Stetched

### Server configuration

**Operating system**: Arch

**Web server:** nginx

**Database:** mariaDB

**PHP version:** 7.2

**Nextcloud version:** 13 RC2

**Updated from an older Nextcloud/ownCloud or fresh inst

[2018-01-24 16:45] typorian commented on #7977
@juliushaertl Thank you very much. It is fixed. I noticed that immediately when I set the color from the admin menu again, the top bar actually turned that color - maybe the LSD addon I had installed for a short while has something to do with this?

[2018-01-24 16:47] skjnldsv commented on #7977
@juliushaertl @MorrisJobke @rullzer should we do something against that?

[2018-01-24 17:03] enoch85 commented on #6597
@jaydee99 It's included in the latest maintenance releases. So just upgrade to the latest version of Nextcloud and try if it works. Please report back here if it does.

Thanks!

[2018-01-24 18:05] Beanux commented on #6673
Yes, that's not the 1st ticket about that, and it w'ont be the last.
I'm not enough familiar with nextcloud and development to try by my own a patch, even if i discovered where this is implemented.

[2018-01-24 18:22] m1cka opened #8037 "nodejs webdav-client can't connect nexcloud webdav"
### Steps to reproduce
1.
2.
3.

### Expected behaviour
webdav client must scant users folder , and log content to console

### Actual behaviour
we canot connect to webdav from nodejs webdav client (using webdav, webdav-client ir js-owncloud client)
https://nextcloud.com/blog/using-webdav-fs-to-access-files-in-nextcloud/

### Server configuration

**Operating system**:
Centos7
**Web server:**
apac

[2018-01-24 18:24] FaySmash commented on #6597
@enoch85 still same problem. I'm on nextcloud 13.0.0 RC 2 with External storage support 1.4.1

[2018-01-24 18:55] rullzer commented on #8035
@skjnldsv @juliushaertl didn't one of you recently work on this?

[2018-01-24 19:02] rubrik commented on #7970
![retention](https://user-images.githubusercontent.com/3472354/35351539-7869561e-0141-11e8-8e19-1e6902a045e1.png)

[2018-01-24 19:09] enoch85 commented on #6597
@icewind1991 What changed in 12.0.0 that broke SMB, since it's confirmed working in 11.0.3?

[2018-01-24 19:29] rubrik opened #8038 ""Your apps" does not indicate enabled/disabled apps"
The "Your apps" listing should indicate which apps are enabled and which are disabled.

[2018-01-24 20:16] Somebodyisnobody opened #8039 "Rewrite webcal:// to webcals:// if TLS is used"
### Steps to reproduce
1. Create and share a calendar
2. Open shared calendar
3. Click right on "subscribe" to copy the link of the button and paste it somewhere to take a look on it.

### Expected behaviour
Nextcloud applies PFS to the webcal-link and forms it into an webcals-link

### Actual behaviour
Link is still webcal://

**I didn't found a RFC of the IETF for webcal but all of my clients do

[2018-01-24 21:28] kiplingw opened #8040 "Validation error in vCard: REV MUST NOT appear more than once in a VCARD component"
Hey everyone,

I am having some difficulties synchronizing my contacts. I am using a NextCloud 12.0.5 installation and an Android phone running the DAVdroid 1.9.10-ose and Nextcloud dev 20180121 clients. I have opened tickets upstream with both DAVdroid and NextCloud because it's not obvious to me where the problem is.

When I attempt to synchronize my contacts on my handset, either manually or au

[2018-01-24 21:50] blizzz commented on #8018
Please discuss in the [forums](http://help.nextcloud.com), unless you can exclude a configuration issue of your instance. Then, we can reopen.

[2018-01-24 21:50] #8018 closed

[2018-01-24 22:56] harryhb opened #8041 "[primary storage on Openstack swift] Update to 12.0.5 / 13RC breaks Nextcloud"
Issue logged after discussion on support: https://help.nextcloud.com/t/broken-after-update-to-12-0-5/26300

### Steps to reproduce
1. Upgrade from 12.0.4 tot 12.0.5 / 13RC through admin interface
2.
3.

### Expected behaviour
Upgrade script runs; through web interface the upgrade can be finalized and system is back up and running.

### Actual behaviour

- The  "button" on the web interface cannot

[2018-01-25 06:51] tobiasKaminsky commented on #8005
Strange, after restarting apache it is now working.
Sorry for the noise.

[2018-01-25 06:51] #8005 closed

[2018-01-25 08:17] enoch85 opened #8043 "[13.0.0RC2] Login buttion is off"
![skarmbild fran 2018-01-25 09 07 07](https://user-images.githubusercontent.com/4511254/35377634-4116211e-01b0-11e8-8370-3620a50957c4.png)

What's also not looking good IMHO is the new layout of files where the text is below the icon:
![skarmbild fran 2018-01-25 09 15 44](https://user-images.githubusercontent.com/4511254/35377688-76df8eac-01b0-11e8-8b32-a932c5dbcdc1.png)

Would be better if they w

[2018-01-25 08:18] enoch85 commented on #8043
cc @nextcloud/designers

[2018-01-25 08:21] skjnldsv commented on #8035
@rullzer not me!
@MorrisJobke ?

[2018-01-25 08:32] ArnY commented on #7585
It does indeed fix the problem! Thanks. Can we expect that commit to be backported into the next 12.0 version?

[2018-01-25 09:39] skjnldsv opened #8044 "File list does not list files, only directories"
### Steps to reproduce
1. Migrate to master14 from stable13

### Expected behaviour
Files should be listed alongside directories

### Actual behaviour
Only directories are listed
![dev _apps_files__dir _ fileid 32](https://user-images.githubusercontent.com/14975046/35381252-f319740a-01bb-11e8-9648-2524bf1ed4b9.png)

### Server configuration

**Operating system**: 4.14.12-1-ARCH

**Web server:** ng

[2018-01-25 09:45] juliushaertl commented on #8035
Looks similar to https://github.com/nextcloud/server/issues/7575

I'll have a look.

[2018-01-25 09:48] juliushaertl commented on #8035
Ok, seems that only theming is affected.

[2018-01-25 09:52] juliushaertl commented on #8043
@enoch85 Please fill out the issue template and provide logs for both server/client for that. I cannot reproduce that. Seems some css is not loaded properly.

[2018-01-25 10:22] skjnldsv commented on #8044
I rolled back to some previous commits and then went back to master and that fixed it.
😕

[2018-01-25 11:24] Luby1917 commented on #7880
Using the **curl** command have the **-o** option to specify the file to store the output, by default it prints the output on screen.

curl -u user3:user3@123 -o config.txt http://x.x.x/remote.php/dav/files/user3/config.txt

[2018-01-25 11:44] enoch85 commented on #8043
@juliushaertl Sorry, updated accordingly.

[2018-01-25 12:18] upmferraz commented on #6923
Still getting the same behaviour in 12.0.4 and now in 12.0.5
After smb backend from version 11 substitution the problem disappears

Getting the following in logs:

{"reqId":"3S7H3Rfm3Flkmqiu98jz","level":3,"time":"2018-01-25T11:25:21+00:00","remoteAddr":"193.137.54.7","user":"241409","app":"remote","method":"PUT","url":"\/remote.php\/webdav\/Groups\/ASU\/Meltdown_Spectre\/PsExec.exe","message":"Ex

[2018-01-25 13:17] e-alfred commented on #3645
@jasonbayton Maybe best to report the bug to the Bruteforce app issue tracker directly?

[2018-01-25 13:19] jasonbayton commented on #3645
This was closed 11 months ago...

[2018-01-25 14:02] immae1 commented on #2338
Hi there,
I think I  have a similar problem. Internally within the calendar user invites are working as expected. If I want to invite an _external_ googlemail user via email, that works too. Once the external gmail-user confirms the appointment (email), nothing changes in the status of the appointment within the nextcloud calendar entry. (Not accepted / rejected) It seems that the back channel bet

[2018-01-25 14:21] e-alfred commented on #3645
But it seems to be still a problem for some people:

https://help.nextcloud.com/t/macos-apps-cant-connect-after-upgrade-to-12-0-5/26376/5
https://help.nextcloud.com/t/11-0-2-incredibly-slow-login/9475/26

[2018-01-25 14:27] MisterY commented on #2338
@immae1, the email that gets from google can only affect your calendar if the email is somehow linked to the calendar application. In many instances this will not be the case. If the response from google goes to your yahoo email address, there is (currently, afaik) no way for calendar to know anything about it.
One of the proposed solutions is to have an HTML email content in the invite, containin

[2018-01-25 14:36] dirigit opened #8046 "Update 12.04 to 12.5 breaks .htaccess"
Thought it has been fixed with 12.0.4 but: No. Long time known issue returns back with 12.0.5 (sorry for typo in subject)!

.htaccess is broken when NC is located in a sub directory.

Updating via webupdater breaks whole installation (nothing works).

### Steps to reproduce
1.
2.
3.

### Expected behaviour
Tell us what should happen

### Actual behaviour
Tell us what happens instead

### Server co

[2018-01-25 14:39] ChristophWurst commented on #8046
Could you please share some more information about what's broken?

[2018-01-25 14:47] dirigit commented on #8046
rewritebase is missing again. therefore no redirect works. currently i'm uploading a fresh download from website to see if it's possible to fix something manually ...

[2018-01-25 15:01] MorrisJobke commented on #8046
Could you check if this is fixed by running `occ maintenance:update:htaccess`?

[2018-01-25 15:05] dirigit commented on #8046
I will do it after download is complete. I'm in a hotel currently and internet connection is not the fastest one (read: slow) ...

[2018-01-25 15:12] nklamann commented on #3502
In a just upgreaded 12.0.5 the propblem seems still to exist

[2018-01-25 15:23] bpcurse commented on #7132
Just wanted to add this because I probably found the connection to the webhoster. It doesn't really explain the error message, but could be linked to it.

all-inkl.com puts a "tmp" directory in the main nextcloud directory and defines it in config.php as temp directory. This leads to update problems, as well. We always had to delete the tmp directory, update and afterwards create a new one. I kept

[2018-01-25 15:26] BloodyIron commented on #1564
Hate to necro a bug, but if what @MorrisJobke and others are referring to works for Samba hosted SMB share file change notifications, can we PLEASE have the documentation updated to say that it WORKS???  I'm talking about : https://docs.nextcloud.com/server/12/admin_manual/configuration_files/external_storage/smb.html

"
Note

Due to limitations of linux based SMB servers, this feature only works

[2018-01-25 15:43] weaselp opened #8047 "Call to a member function instanceOfStorage() on null in nextcloud/apps/files_sharing/lib/Cache.php:80"
Hi!

I have nextcloud 12.0.5, with external (local) storages, one per user.

Since the upgrade from 12.0.4 I noticed that if
 o user A shared a file or directory in A's external-storage with user B,
   *AND*
 o user B shared a file or directory in B's external-storage with user A,
then upon visiting https://cl.EXAMPLE.org/apps/files/, user A gets a
  "This directory is unavailable, please check th

[2018-01-25 15:43] icewind1991 commented on #1564
All times I've tested it update notifications with linux servers are not recursive, you only get notifications for changes made directly in a folder, not in any subfolder.

[2018-01-25 15:52] BloodyIron commented on #1564
@icewind1991 so what would it take to have that addressed?

[2018-01-25 16:04] weaselp commented on #8047
This makes it not break for me, but I have no idea if it's actually Right:

[code]

[2018-01-25 16:04] dirigit commented on #8046
ok, due to limited time I startet a test.

htaccess is modified running command mentioned above. result:
Internal Server Error

The server encountered an internal error and was unable to complete your request.

Sorry, don't have the time to perform further tests - it's meeting time.  Nevertheless it's very sad a minor update breaks a running system that hard. This is something which should never h

[2018-01-25 16:27] labor4 commented on #2338
Speaking for Mac, I say this old roundtrip is doomed beyond help.

Just for the sake of how bad everything is:
;-)

For Mac, I think it looks like this (do correct me if I'm wrong):
1. iCal makes direct http invite-caldav-request to Nextcloud server
2. Nextcloud (Server) sends Mail to invited person
3. Invited person gets mail, and needs to have this address defined as "Thats my address" in Addres

[2018-01-25 17:00] AND51 opened #8048 "Share files/folders via multiple links"
Hey,

this is my first contribution to Nextcloud, so I appreciate any feedback.

I would like to issue this **feature request about sharing something with multiple sharing-links**. Each link should be able to have its own expiration date and read/write/password/expiration rights.

This was already requested ibn #3243, but that issue is closed. @MorrisJobke pointed out that this is partly possible

[2018-01-25 17:01] S74HK9hV commented on #7898
seems to be fixed after 12.0.5 upgrade...

closing

[2018-01-25 17:01] S74HK9hV commented on #7898
seems to be fixed after 12.0.5 upgrade...

closing

[2018-01-25 17:01] #7898 closed

[2018-01-25 17:07] enoch85 commented on #2338
@labor4 Sell your Mac, buy a Dell XPS13 and be happy. :)

[2018-01-25 17:09] warnerbryce commented on #2338
@labor4 :
If you're a mac user the invitation worked like this :
1- You have an iCloud account, so the invitation is sent via iCloud server, and the reciptiant user get an HTML email with three box Yes - No - Maybe, the user click to this link and your calendar is updated. Google do the same thing and Nextcloud will.

2- You're an old fellow, and you use iCal with OS X Server, you have an account,

[2018-01-25 17:20] AND51 opened #8049 "Wrong icon after renaming an external mountpoint"
### Steps to reproduce
1. Have an external storage successfully mounted (named "Mega Cloud").
![image](https://user-images.githubusercontent.com/26226303/35402212-285d6c94-01fc-11e8-97fc-0cbbf0553ebd.png)
2. Folder has storage-icon (square with arrow pointing to north east).
3. Rename via three-dots-menu, then "rename" and name it e. g. "Giga Cloud".
4. Renaming is successful.

### Expected behavi

[2018-01-25 17:25] AND51 commented on #8049
Forgot to mention this: if you reload the page, then the icon is correct again.

[2018-01-25 18:13] whositwhatnow opened #8050 "Quota issues"
Is there a way to make an external storage location your primary storage upon login?  I am having issues with quotas.

I've set a 500MB quota per user locally but Users use primarily use the external storage.

when they transfer files it says no space left.

[2018-01-25 18:17] icewind1991 commented on #1564
It's something that can only be fixed properly in upstream samba

[2018-01-25 18:40] BloodyIron commented on #1564
Has this been passed to the Samba devs like abartlet?

[2018-01-25 18:45] Wohlraj commented on #2338
is this supposed to work when the email used to send invitations is the same as the one in 'reply-to' field (which receives the answers)?

[2018-01-25 18:54] labor4 commented on #2338
@warnerbryce
Yes, I am an old fellow so I will no longer pain my *ss with OSX server.
I'd rather happily spend 2 hours hacking iptables to finally work around crappy Apple 8443/8843 port bugs to be able to use NC! Such is my devotion! cheers

[2018-01-25 18:58] SteffenDE commented on #6540
I am experiencing the same error:
[code]

[2018-01-25 19:27] warnerbryce commented on #2338
@labor4 I started on Owncloud from version 6, i've worked with it on aWindows Server with Wamp, an OS X Server with Server.app, an OS X Server with Mamp, and now i'm on Nextcloud on Linux/Debian.
The best options you could get to have a nice Nextcloud Server working on OS X is : (first is worst then it increase)
1 - Use OS X Server app, modify /Library/Server/Web/Config files to make Apache web se

[2018-01-25 20:00] juliushaertl commented on #7977
@skjnldsv I think the best would be to ensure that the theming app also checks for valid color values when they are handed to the SCSS compiler. But nothing urgent imho.

[2018-01-25 20:01] enoch85 commented on #2338
@warnerbryce

...is the [Nextcloud VM](https://github.com/nextcloud/vm). ;)

[2018-01-25 20:04] warnerbryce commented on #2338
@enoch85
It’s my way or the highway.

Yeah Nextcloud VM could be really the best start for a beginner and more.

[2018-01-25 20:09] ArnaudE commented on #6538
@Quiksmage I have this exact issue. Did you fix it ?

[2018-01-25 20:33] enoch85 commented on #8043
Same thing on another server that I updated a few days ago. Strange thing is that it works on my own server which also is 13.0.0RC2, so hard bug to track down...

[2018-01-25 21:43] skjnldsv commented on #7977
Agreed

[2018-01-25 22:19] Quiksmage commented on #6538
@ArnaudE
Yes, but I have no idea what fixed it. I tried so many things.

This is what my nginx config looks like that points to my nextcloud container running on nginx.

server {
	listen 443 ssl;
	server_name domain.com;

	root /config/www;
	index index.html index.htm index.php;

#SSL Certificates
	ssl_certificate /config/keys/letsencrypt/fullchain.pem;
	ssl_certificate_key /config/keys/letsencryp

[2018-01-25 23:35] MorrisJobke commented on #8048
cc @nextcloud/sharing @nextcloud/designers

@jancborchardt we talked about this - I guess at the conf. 🤔

[2018-01-25 23:36] MorrisJobke commented on #8043
@skjnldsv and another one with CSS issues :/

[2018-01-25 23:39] ferdiga commented on #5815
I have turned the "allow unsafe apps" feature off and on again and get the infamous
Google_Auth_Exception: Error refreshing the OAuth2 token, message: '{ "error" : "invalid_grant" }'.
message.
it seems to me that the refresh token is out of date.
https://stackoverflow.com/questions/35878859/google-oauth2-error-refreshing-the-oauth2-token-message-error-invalid
how can I update the refresh token in

[2018-01-26 00:34] bl4ckOut commented on #8047
Got the same problem after Upgrade from 12.0.4 to 12.0.5 stable.:
"This directory is unavailable, please check the logs or contact the administrator"
Sync also didn't work anymore.

<details>
<summary> Log: </summary>
{"reqId":"WUw4ZCtdzcBpwFPVbO4z","level":3,"time":"2018-01-26T01:06:39+01:00","remoteAddr":"91.58.113.217","user":"bl4ckOut","app":"remote","method":"PROPFIND","url":"\/remote.php\/we

[2018-01-26 01:59] HandsomeBoby commented on #7926
@blizzz @MorrisJobke @icewind1991  Thanks.

[2018-01-26 04:07] supermanlinux opened #8065 "When I choose to delete all files in external storage, some file prompts cannot be deleted, why?"
When I choose to delete all files in locla external storage, some file  cannot be deleted, and then I check the log.I found that  undeleted files have been locked.But sometimes it seems ok,Most of the time it  happened.I can understand why ?
### Steps to reproduce
1.Click into the external storages
2.select all files and delete.

### Expected behaviour
All files could be deleted.

### Actual behav

[2018-01-26 04:08] ziqingshi commented on #8065
@blizzz @icewind1991 @MorrisJobke  Thanks.

[2018-01-26 09:02] rullzer commented on #8048
Yes we discussed this at the conf.

Basically from the sharing backend the limitation is pretty artificial. We would need some work there but it can be done.

However most of the work will go into the frontend (and making all the clients compatible!)

[2018-01-26 09:13] #7926 closed

[2018-01-26 09:14] blizzz commented on #7926
The file number is as according to the filecache entry. And this may include more files  than thus the user visible,  e.g. versions, avatars, files in trashbin, previews, but also app data like generated CSS files.

[2018-01-26 09:29] GioInside opened #8066 "Feature Request: User can accept or refuse sharing request"
### Steps to reproduce
1.Start a sharing typing a username

### Expected behaviour
User can accept or refuse shared file, depending on fileame, filetype, sender (a friend or a stranger)

### Actual behaviour
sharing start without User acknowledge, and file is downloaded automatically (desktop app)

### Server configuration

**Operating system**:Ubuntu

**Nextcloud version:** 12.0.3.3

**Updated fr

[2018-01-26 10:01] fgsl commented on #6764
I think that change must be implemented according to proposed by @rogerfv1 and @danxuliu.
From the point of view of sysadmin, I think that enable_previews must be used in the system configuration for all.

[2018-01-26 11:02] AND51 commented on #8048
Hey @MorrisJobke and @rullzer ,

thank you for your feedback. I didn't participiate in "the conf". Do you have a short summary for me and others?

Is there anything I can do to support this feature request, or can I only wait?

[2018-01-26 11:25] MorrisJobke commented on #8048
I thought that we already have a ticket for this and @jancborchardt could link to it.

Let me sum it up:

The idea is to overhaul the sharing interface to not distinguish between user, remote, group, email and link shares anymore. It is basically only one section where you could add more share endpoints (like we have now for user, remote, email and group shares - they are all shown in one list). T

[2018-01-26 12:08] enoch85 commented on #8043
You could move it to 13.0.1, but I can imagine a lot of tickets regarding this if it isn't fixed before.

[2018-01-26 12:45] juliushaertl commented on #8043
I'm still unable to reproduce, can you check if this might be a browser caching issue and check the browser console for errors/css that might not be loaded?

[2018-01-26 12:49] juliushaertl commented on #8043
Another option would be to reset the scss cache to see if it works fine after all css is generated again.

Those two steps should accomplish that:
- rm -r data/appdata_*/css/*
- occ files:scan-app-data
- reload the page

[2018-01-26 13:14] reuterbal commented on #6395
I experience the same with an external SFTP storage.

[2018-01-26 13:17] MariusBluem commented on #8048
Did you mean: https://github.com/nextcloud/server/issues/5336

[2018-01-26 13:24] wildlifechorus commented on #7667
Same issue here, no news regarding this? no Workaround?

[2018-01-26 13:30] MorrisJobke commented on #8048
Yes.

[2018-01-26 13:30] MorrisJobke commented on #8048
Closing as duplicate of #5336

[2018-01-26 13:30] #8048 closed

[2018-01-26 13:31] MorrisJobke commented on #8066
Duplicate of #2192

[2018-01-26 13:31] #8066 closed

[2018-01-26 13:31] mkudlacek commented on #3661
Hi,
I would like to share my use-case, which results in the same unwanted behaviour as described above.

I run for my family and friends a simple backup solution via Nextcloud. I install them a client and show them dedicated folder where they can store data and it will be automatically uploaded to Nextcloud. Each night, I perform backup of the Nextcloud installation on my server with BackupPC and

[2018-01-26 14:46] #7706 closed

[2018-01-26 15:11] rullzer opened #8077 "Proper user agent for Client Login flow"
As noted in https://github.com/nextcloud/server/pull/7754 we have to send more detailed UserAgents when regsitering a new device using the client login flow.

Basically there are 4 tasks:

1. Come up with a user agent string we need that contains all the info
2. Send this string properly from the clients
  * Android
  * IOS
  * Desktop
3. Make sure we also parse it in https://github.com/nextcloud/

[2018-01-26 16:08] enoch85 commented on #8043
I tried in incognito, so no cache.

Didn't work, still same issue - both in Chrome and Firefox.

[2018-01-26 18:16] juliushaertl commented on #6752
@tw- @Peac I found the reason for this while working on the SCSSCacher today. Mind having a look and check if the following changes fix the issues for you:

https://github.com/nextcloud/server/pull/8078/commits/67702136494b9b355e99c0960ee36accd5e97b85

[2018-01-26 20:11] calvadosxo commented on #5927
Any update on this? People looking for privacy calendars are getting played at the moment since the database is not encrypted.

[2018-01-26 20:23] AND51 commented on #8048
Thank you guys! #5336 sounds great!

[2018-01-26 21:14] mario commented on #8077
For Talk, we now show: Device name (Nextcloud Talk) on both iOS and Android. For Nextcloud Android app we show: Device name.

[2018-01-26 21:14] tw- commented on #6752
Yes, solves the issue! Thanks!

[2018-01-26 22:14] Arvi89 commented on #8041
Any news? This is kind of a big deal.

[2018-01-26 22:19] harryhb commented on #8041
I reverted back to 12.0.4 as this bug is a deal breaker for nextcloud usage.

[2018-01-26 22:22] Haidafraid commented on #5838
Same problem, same error under 12.0.5 here... (still)... It started under 12.0.3 when I tried to establish a logo with transparent elements.... I suppose this was to much for the favicon generator...

I see this error whenever I load my NC Instance. The favicon does not show the defined logo anymore - it shows the standard logo instead. I tried reinstalling the theming app - but no help there...
W

[2018-01-26 23:46] georgehrke commented on #7519
@dhowe I managed to get it working on High Sierra if I select the advanced profile when adding a new CalDAV account:

![68f024e7-04d3-4157-9470-d306d724ecc8](https://user-images.githubusercontent.com/1250540/35465303-56c123c8-02fb-11e8-8c66-9dd34b15598e.jpg)

Be sure to include the `https://`
Can you check if this works for you?

[2018-01-27 00:02] AND51 opened #8080 "Squeeze size of preview images"
Hi,

my idea is to reduce the size of the preview images in appdata_*/preview. I'm using NC 12.0.5.

### Comments

The preview images do have this comment  "CREATOR: gd-jpeg v1.0 (using IJG JPEG v80), quality = 90". I did a quick research. My preview folder is 26 GB in size with 299,000 files. All comments in all previews sum up to 15.5 MB that could be saved. So my suggestion is to strip comments

[2018-01-27 00:44] pellaeon commented on #6540
Last time I have tried to debug, I found this error related to the SimpleFS layer that the appdata utilize.

From my logs, basically it was that appdata failed to use SimpleFS to create the directory `\/usr\/home\/www\/beta\/data\/appdata_ocijq7g01thu\/js\/core\/`, so the CSS and JS preprocessors failed to write the gzipped files to that dir.

However, if you change instanceid, a new appdata folde

[2018-01-27 06:17] magentaco opened #8081 "Update 12.0.4 -> 12.0.5 brakes "share_folder" config.php option"
### Steps to reproduce
1. Have existing Nextcloud 12.0.4 (and previous versions) running using "share_foler" in config.php
2. Use the webupdater to update to v12.0.5
3. Recognize that all user's "share_foler" is not accessible.
The message "This directory is unavailable, please check the logs or contact the administrator" is shown on the webclient. PC-clients don't sync that directory any more.

#

[2018-01-27 06:49] sohighsoquiet commented on #60
Hello, Im wondering if would be possible to make the same thing with Google Drive. Thnx

[2018-01-27 09:07] skjnldsv commented on #6540
@SteffenDE are you using encryption?
Thanks for reporting this issue though, we'll take a look at it really soon!

[2018-01-27 10:23] tuxmaster opened #8082 "The migration script don't check for selinux rights."
When I try to migrate from OC 10.0.4. to NC  12.0.4, it will fail at:
[code]
because  the  migration tool don't check the selinux context of the files.
The files has write permission for the user, but selinux don't allow it.
httpd_sys_content_t vs. httpd_sys_rw_content_t

[2018-01-27 11:56] Spartachetto commented on #4699
Is it the right time for ask you developers to have a look? A review of the tag functionalities to be developed in 14 could ne done now.. .?

[2018-01-27 11:56] tflidd commented on #5927
Did you read the posts here? Some general issues have been pointed out that makes it very unlikely to be implemented soon. But you are welcome to participate in this open source project:

Until then, you can only get privacy when you host everything yourself. Or you don't use caldav and just a file in combination with client side encryption, there will be a solution in NC soon:
https://help.nextcl

[2018-01-27 12:49] MorrisJobke commented on #5838
@nextcloud/theming Do you have an idea?

[2018-01-27 12:57] tuxmaster opened #8083 "After migration from OC to NC unable to open folders with space in path name"
After update to NC 12.0.4 from OC  10.0.4 an than update to NC 12.0.5 I am unable to open directory which contains an space in its name.
On the web page the name is shown correct, but when I try to open it, I only get an error in the apache log.
Invalid status line from script 'Schule%20-%20Klassenfotos': 0
The original name will be: Schule - Klassenfotos
Create an new folder on the web page will

[2018-01-27 13:01] lailai487 commented on #1662
Are we have any SQL command can recover calendar delete events???
I have a big trouble for this...lol

[2018-01-27 13:11] georgehrke commented on #1662
No, the calendar / contacts trash bin wasn’t implemented yet. I’m afraid gone is gone.

[2018-01-27 13:19] lailai487 commented on #1662
OMG..... Thanks your answer.
Activity only log the event title?
No any startdate - enddate?
Maybe my boss will kill me...

[2018-01-27 14:04] georgehrke commented on #1662
No any startdate - enddate?

Only the title, yes
https://github.com/nextcloud/server/blob/ba3c608a00f3834f743de5a0cd82ddae3825d458/apps/dav/lib/CalDAV/Activity/Backend.php#L477

[2018-01-27 14:47] SteffenDE commented on #6540
@skjnldsv Yes, encryption is enabled. This error occurs every time I try to update from 12.0.4.3 to 12.0.5.

[2018-01-27 14:51] rullzer commented on #8077
@mario ok I think that is fine

But maybe it would be even better to do "Device name (Nextcloud Talk on Android)" or something but pff ;)

Also, (an idea!), we could in the webui show a nice nextcloud talk icon when it is the talk that is connected. Just to make it more visual. I'll create a ticket about that as well.

[2018-01-27 14:58] mario commented on #8077
@rullzer the issue is that this appears on the web login page, so that would make it really long, unless the server changes NOT to show a part of it :P I like the idea of showing a Talk icon! :)

@tobiasKaminsky I suggest we do similar thing for the Nc Android app, like we talked, so maybe:
"Device name (Nextcloud Files)"? :)

[2018-01-27 15:00] tuxmaster commented on #8083
The fix for it was to switch from ProxyPassMatch to SetHandler.
Is it possible to create an check for it in the migrstion script?
And show an warning.

[2018-01-27 15:09] AykutCevik commented on #6624
Will this issue being addressed in the next milestone? Since passwords should not be present in any readable file I also would like to tell my users that I'm not logging their passwords in any case of course.

[2018-01-27 15:54] tuxmaster opened #8084 "Some clients can't sync after migrate from OC to NC"
After update to NC 12.0.4 from OC 10.0.4 an than update to NC 12.0.5 some clients can't sync the files any more. The will only get errors about missing checksums.

The solution for it was:
Clean up the database via:
`UPDATE oc_filecache SET checksum = '' WHERE COALESCE (checksum, '') <> '';`
Then rescan the file system via:
`sudo -u apache scl enable php71 "php occ files:scan --all"`
The original

[2018-01-27 16:10] ArnisR commented on #8080
I would say that 20 different previews for each photo (by default settings) is bigger problem. They use not only disk space, but also inflate oc_filecache table. Fortunately last version of PreviewGenerator allows  custom size previews to be generated.

[2018-01-27 17:13] AND51 commented on #5539
Oh yes, this would be very nice. I use my Nextcloud since version 9 and I always updated it, tested this app and that app... I would like to clean up my Nextcloud, but I don't know how. Installing a fresh Nextcloud is no problem. Transferring files with rsync is also easy. But then I ran into problems, because I don't know which tables and files hold the users, the IDs, hashed passwords, contacts,

[2018-01-27 18:57] AND51 opened #8085 "Table oc_migrations is not utf8mb4"
### Steps to reproduce
1. Prepare MariaDB according to https://docs.nextcloud.com/server/12/admin_manual/configuration_database/mysql_4byte_support.html#enabling-mysql-4-byte-support
2. Install fresh Nextcloud 13.0.0.8 aka Nextcloud 13 Beta 3

### Expected behaviour
All tables have collation utf8mb4_bin.

### Actual behaviour
All tables are utf8_mb4, except for `oc_migrations`, which is utf8_unico

[2018-01-27 21:26] tflidd commented on #8028
It was already part of this request (if I don't misread it: https://github.com/nextcloud/server/issues/5107) which was set to the Nextcloud 13 milestone. The discussion was more related about the contacts menu.

this point in #5107 seems still to be an issue:

@LEDfan did your implementation (PR #5585) only consider the contacts menu but not the sharing menu?

I can reproduce this problem in NC 13

[2018-01-27 21:33] tflidd commented on #8028
is this the same?
https://github.com/nextcloud/server/issues/6530

[2018-01-27 21:43] jospoortvliet commented on #6267
I don't believe we say Snap is the recommended way, the docs just say that if there are no packages and you don't want to use the tarball, you can use snaps... But yeah, we could put more effort in making the Snap work well, that's true. At the moment our primary 'product' is still the zip/tar file.

[2018-01-27 21:48] c-MM commented on #3242
Thanks a lot! This worked for me!

[2018-01-28 00:25] MathiasPhilipp commented on #8028
I am not sure:

In issue # 8028 you can avoid the problem by disabling "autocomplition"

 <https://github.com/nextcloud/server/issues/6530> #6530 seems to have nothing to do with "autocomplition".

I updated today from 12.0.4. to 12.0.5.

#8028 seems to be fixed.

I’ll check systematically

Mit freundlichen Grüßen

Mathias Philipp

Von: tflidd [mailto:notifications@github.com]
Gesendet: Samstag, 2

[2018-01-28 00:25] MathiasPhilipp commented on #8028
Yes 5107 corresponds to #8028.

After update 12.0.4. to 12.0.5. the sharing problem is already solved.

I can’t reproduce the security problem. From my point of view it’s fixed.

Mit freundlichen Grüßen

Mathias Philipp

Von: tflidd [mailto:notifications@github.com]
Gesendet: Samstag, 27. Januar 2018 22:26
An: nextcloud/server
Cc: MathiasPhilipp; Author
Betreff: Re: [nextcloud/server] Security pro

[2018-01-28 01:40] Arvi89 commented on #8041
I find it amazing to not have an answer from anyone (even just to ask for more information). It's a serious issue, and it's kind of ignored. A minor update just completely broke the nextcloud installation, but hey, no big deal, this affects only few people, no worry.

[2018-01-28 07:26] ziqingshi commented on #8065
@blizzz @icewind1991 @MorrisJobke I think it has something to do with the dav folder.I check the nextcloud.log.The content that appears is related to the dav.I find that the delete function is the same as anywhere else.But why in local extrenal storages folder files sometimes can't delete???Thanks for help.
![image](https://user-images.githubusercontent.com/34739130/35480000-92cec47a-043f-11e8-9d5

[2018-01-28 07:57] tobiasKaminsky commented on #8077
As the device name is already there, I think Android/iOS is not needed.

There was some discussion to keep the core system as "nextcloud", but I do not 100% remember this.

[2018-01-28 07:58] mario commented on #8077
@tobiasKaminsky you can always call your iPhone "Android", and also it's hard to parse device name to know that it's Android.

[2018-01-28 08:05] mduller commented on #8041
I am actually holding off performing the upgrade because of this issue that "affects only few people" -- I currently don't have the luxury of spending time on rolling back if something goes wrong. Would like to see some insights in this ticket to inspire confidence to perform the update. That confidence is currently missing.

[2018-01-28 09:58] Schmuuu commented on #8041
Hi Arvi,

I totally understand your frustration about your broken NC server due to the minor update to 12.0.5.
Let's put some focus on this issue.

@ChristophWurst @MorrisJobke @jospoortvliet @rullzer Who can help? Quite a few users broke their installation by updating to 12.0.5
The community couldn't help so far. Some insights of developers is needed.

Please advise.

[2018-01-28 10:04] Peac commented on #6752
Sorry for the late reply.
Unfortunately, my website stays white after applying the patch. I'm now on NC 12.0.5 if this makes a difference.

[2018-01-28 11:02] hitam4450 commented on #8041
Updating the server instance is always a total mess! Minor or major update is always trouble !
Plan enough time for manual update, that is the only way to (more - or less ) safe to update!

[2018-01-28 11:18] e-alfred commented on #6698
Seems like this should be added to the initial post:

https://github.com/nextcloud/ios/issues/449

[2018-01-28 11:29] BlauerHunger commented on #8047
I had the same problem after upgrade from 12.0.4 to 12.0.5 stable, the fix from @weaselp fixed it for me.
I'm using the external users backend ldap. External storages worked without this fix, but I had to enter the URL directly.
Now (with the patch) everything works as expected.

[2018-01-28 12:26] enoch85 opened #8086 "Also translate the Calendar invitation email"
As a follow up of #2338 it would be nice if the invitation emails were translated into *the recipients language*, just as we do with the login screen and everything else.

Would that be possible?

cc @georgehrke

[2018-01-28 12:27] georgehrke commented on #8086
The server part is already done, but it needs changes to the calendar app that were not merged yet but are in the works.

[2018-01-28 12:27] #8086 closed

[2018-01-28 12:28] enoch85 commented on #8086
Great news!

[2018-01-28 12:29] georgehrke commented on #8086
For reference: https://github.com/nextcloud/server/blob/e43138a6587e6c7ed93d8fd47a77c3326df16f13/apps/dav/lib/CalDAV/Schedule/IMipPlugin.php#L158L159

[2018-01-28 12:32] enoch85 commented on #8086
I hope that this also includes the timezone? In Thunderbird for example it translates my timezone to the recipients in the invitation.

So if I'm in Sweden and the recipient are in Australia, I set 19:00 on Monday, and when the recipient gets it, it's 08:00 Tuesday* (their local time).

* I'm not sure if the hours are correct, but you get the point.

[2018-01-28 12:49] georgehrke commented on #8086
No, because there is no unique relation between language and timezone.

Even if we are talking about countries with their own language and only one timezone (like Germany or Sweden), you can't really say that a person is living in Sweden just because Swedish is their preferred language. What about Swedes that moved to a different country?

Even worse are countries with multiple timezones. en_US wo

[2018-01-28 13:18] tflidd commented on #8028
Except that it is broken for NC 13 RC 3 again....

[2018-01-28 13:42] enoch85 commented on #8086
Fair enough. :)

[2018-01-28 13:46] AND51 commented on #6365
I agree to @ho1ger ; I installed new NC 13 Beta yesterday and expected to find the old, seperate App PIN list, to clean up my PINs. Hovering the mouse over the sessions by accident, I revealed the three-dots menu. This was not intuitive at all.

Acutally, I would vote for separating PINs and sessions again. I tell you why. Please, have a look at my sessions list:

![image](https://user-images.gith

[2018-01-28 14:55] jfqd opened #8087 "wrong ip stored for bruteforce behind a loadbalancer"
### Steps to reproduce

1. Install nextcloud behind a (pound) loadbalancer
2. Login a few times with a wrong password

### Expected behaviour

ip field in bruteforce_attempts should include the ip of the user not the one of the loadbalancer

### Actual behaviour

The ip field in bruteforce_attempts included the ip of the loadbalancer, not the ip of the user

### Server configuration

**Operating s

[2018-01-28 18:40] rullzer commented on #8087
Do you have your trusted proxies configured? https://github.com/nextcloud/server/blob/master/config/config.sample.php#L1434-L1441

[2018-01-28 18:46] ChristophWurst commented on #6365
Fixed by https://github.com/nextcloud/server/pull/6544

[2018-01-28 18:47] mjanssens opened #8088 "Federation scope icon not visible when scope item has zero or null value in oc_accounts"
Currently on Nexcloud 12.0.5
But the issue is also reproducible in 13.0.0 RC 2

### Expected behavior
Federation scope icon should be visible for all users so they can select from the 3 options in the drop down menu.

### Actual behavior
For some users the federation scope icon is not visible for several fields. These users cannot select or change scope.

### Steps to reproduce
This concerns accou

[2018-01-28 18:50] mcteefax opened #8089 "Filelist not updated in Groupfolder"
### Steps to reproduce
1. As Admin: Creating a GroupFolder and Assigning wir WRITE and SHARE to GF-Admin
2. As Admin: Create Folderstructure inside the Groupfolder; Share Subfolders to Usergroup (read-only)
3. GF-Admin Creates additional Subolders an saves files there
4. Members of Usergroup can only see the Subfolders, but no files inside.
5. As Admin: Rename the subfolder -> Usergroup can see th

[2018-01-28 18:57] rullzer commented on #8085
@nickvergessen

[2018-01-28 19:06] camilasan commented on #7893
It would be nice to be able to retrieve only the apps enabled and that are in the top left menu in the web interface. Is it possible?

[2018-01-28 20:54] rullzer commented on #8041
I can't find the bug I think this is...

Anyway.

Could you try:

1. Remove the `css` and `js` folder from your `appdata_*` folder
2. Run: `./occ files:scan-app-data`
3. Do a force refresh in your browser `ctrl + F5`

@skjnldsv @juliushaertl I think https://github.com/nextcloud/server/pull/8078 would help here as well.

[2018-01-28 21:08] Arvi89 commented on #8041
mm I don't have any appdata folder, where is it supposed to be?

[2018-01-28 21:11] rullzer commented on #8041
@Arvi89 in your `data` folder. It is `data/appdata_<instance id>`.

[2018-01-28 21:12] Arvi89 commented on #8041
Yeah, I don't have that folder.
(I use openstack as my main storage)

[2018-01-28 21:21] rullzer commented on #8041
Ah right then your data folder is indeed empty I guess.

I can try to come up with a SQL query... because if you just purge it from the DB on object store it will just create new items :)

[2018-01-28 21:24] rullzer commented on #8041
[code]

Try that. Of course make sure you have a backup and all that ;)

[2018-01-28 21:31] Arvi89 commented on #8041
No luck. The query was executed properly (203 rows affected), but it doesn't work better.

[2018-01-28 21:35] MorrisJobke commented on #7893
That would be the idea here, because for those we have an entry URL.

[2018-01-28 21:35] rullzer commented on #8041
That is strange... and nothing in your log files?

[2018-01-28 21:38] rullzer commented on #8039
@georgehrke

[2018-01-28 21:41] georgehrke commented on #8039
@Somebodyisnobody please reopen in https://github.com/nextcloud/calendar. This doesnt belong into server repo.

Furthermore I've never seen `webcals` anywhere on the internet. When creating the issue in the calendar repo, please link some spec specifying webcals

[2018-01-28 21:41] #8039 closed

[2018-01-28 21:44] rullzer commented on #8038
Mmm here it shows the `Enable` or `Disable` which pretty much tells you which of the ones it is now...

[2018-01-28 21:49] Arvi89 commented on #8041
`{"reqId":"IvGS68ERn3bybTiy7Ohm","level":3,"time":"2018-01-28T21:31:12+00:00","remoteAddr":"90.91.101.134","user":"arvi89","app":"objectstore","method":"PROPFIND","url":"\/remote.php\/dav\/files\/arvi89\/","message":"Could not delete object urn:oid:30816 for cache\/IMG_20180104_164836.jpg-chunking-1917752040-4: {\"Exception\":\"Guzzle\\\\Http\\\\Exception\\\\ClientErrorResponseException\",\"Messag

[2018-01-28 21:58] sock3t commented on #3502
I am on 12.0.5 and just observed the same issue. The symptoms are also very well described here: https://help.nextcloud.com/t/files-and-folders-shown-twice-in-web-ui/12416

Workaround that fixed it for me was:
- on OS level: move (mv) the directory away
- on OS level: put a new copy (cp) in place of the very same directory and files (same location of course)
-- I accidentally forgot to set proper

[2018-01-28 23:14] icebal commented on #7979
I also am having the same error after the upgrade. Below is the template.

### Steps to reproduce
1.use postgresql db
2. hit update weather button at login
3. get the error

### Expected behaviour
Tell us what should happen
weather updates and prceeds as normal
### Actual behaviour
Tell us what happens instead
update fails and error occurs
### Server configuration

**Operating system**: linuxserve

[2018-01-28 23:14] marcelklehr opened #8090 "SQL LIKE comparisons: cannot escape _ underscores"
### Steps to reproduce
1. Install bookmarks app (I believe the bug lies much deeper, but I'll demonstrate it with a concrete example. It's probably pretty easy to adapt the steps here to utilize other database entries/tables)
2. Add two bookmarks, edit the first one's title to read `foo_` and the second one's `fooo`

Variant 1:
Run:
[code]

Variant 2:
[code]

Originally I stumbled onto this in htt

[2018-01-28 23:28] StTsEr opened #8091 "This is not a real bug - its an optical issue:"
![bildschirmfoto 2018-01-28 um 18 27 19](https://user-images.githubusercontent.com/21047059/35488547-3d6c0546-048b-11e8-83b9-a65ddba26b03.png)

### Steps to reproduce
1. simple enter a wrong URL in client
2. you can see OWNCLOUD ... stolen from ? ^^
3.

### Expected behaviour
Tell us what should happen

### Actual behaviour
Tell us what happens instead

### Server configuration

**Operating system

[2018-01-29 00:11] nkakouros opened #8092 "Upgrade notice should not be displayed when occ is run with --output=json"
### Steps to reproduce
1. Install an outdated version of Nextcloud or an app
2. Run on the server `php occ app:list --output=json`

### Expected behaviour
Everything should be output as a JSON string. Eg:
[code]

### Actual behaviour
The notice about a required update is shown that breaks the json text. Eg:

[code]
If you try to parse the command output as json, it will fail. Perhaps, there could

[2018-01-29 03:05] dirigit commented on #8046
ok, had a little time left:
occ deleted rewritebase in .htaccess again and several some additional errors in .htaccess (error 500). There are errors in nextcloud.log as well related to remote.php and sabre.

PHP version being active is 7.0.27. I'm not sure what happens when switching to 7.1 ...

Downgraded files except version.php to 12.0.4. Site is working again with wrong version information (12

[2018-01-29 04:31] azazel75 commented on #5838
I got hit by this as well

[2018-01-29 06:05] azazel75 commented on #5838
it's strange. On the login, the client has downloaded the right logo, but it has opacity:0 and the containing div (class=logo) has the standard nextcloud logo as bg, and that is what is shown

[2018-01-29 06:44] putt1ck opened #8093 "NC13 Firefox folder drag and drop not working"
Drag and drop of folder using FF58 on NC13RC2 does nothing. No error, just nothing. Drag and drop of individual files, or multiple files, works as expected. Chromium works fine.

 FF58 and NC12 folder drag and drop works as expected.

[2018-01-29 07:54] juliushaertl commented on #8038
We could add section headers to that, but from my POV the current layout is already quite obvious.

@nextcloud/designers

[2018-01-29 07:54] juliushaertl commented on #7970
Hm no idea then. Maybe @MorrisJobke or @nickvergessen ?

[2018-01-29 07:56] juliushaertl commented on #7893
Let me have a look if I can come up with something here.

[2018-01-29 07:59] juliushaertl commented on #5986
PR https://github.com/nextcloud/server/pull/6760

[2018-01-29 08:01] juliushaertl commented on #6555
Closing since it has not occued elsewhere and it will not happen on coming versions with #8070

[2018-01-29 08:01] #6555 closed

[2018-01-29 08:08] juliushaertl commented on #6752
Did you only appy the single commit 6770213? Maybe there was an issue with applying the patch? Works fine here on 12.0.5 as well

[2018-01-29 08:25] juliushaertl commented on #6540
@rullzer Anything with the appdata that might be break when encryption is enabled?

[2018-01-29 08:31] plrunner commented on #3502
From my experience, upgrading to a newer version of Nextcloud does not solve the problem for those folder already affected. This would explain why there are still people reporting the bug as open.

So the question for those still having the problem: does the creation time of your affected folders go back to when you were using a bugged Nextcloud version?

[2018-01-29 09:25] pixelipo commented on #8038
I agree with @rullzer - "Enable/Disable" button is quite informative. Plus, there are already specific categories "Enabled apps" and "Disabled apps" in the sidebar which can be used as needed

[2018-01-29 09:51] nickvergessen commented on #8085
Hmm works fine here. Anyone else having the problem?

[2018-01-29 09:55] jfqd commented on #8087
@rullzer valid point! I added the proxy-config

[code]

but get a red warning which is not clear enough to me:

[code]

Either the proxy headers configuration is incorrect or correct? Maybe this message should not be in red?

Furthermore the ip field in bruteforce_attempts is still the ip of the loadbalancer...

[2018-01-29 09:59] nickvergessen commented on #7970
The app is there: https://apps.nextcloud.com/apps/files_retention

But its currently only listed in rools:
https://apps.nextcloud.com/categories/tools

I can also find it there on an update to date Nextcloud 13 instance.

[2018-01-29 09:59] #7970 closed

[2018-01-29 10:08] nickvergessen commented on #7893
I would suggest to:
* Not abuse the external sites app for this. It is an app to embed 3rd party sites into Nextcloud, not to get the menu to the client. And also the app might be disabled.
* Not abuse the capabilities even more

Also we need to make sure that the external sites are not shown twice. They should already be displayed because of a costumer (or is this mobile apps only) and they are a

[2018-01-29 10:12] rullzer commented on #8091
This is a client bug ;)

No forked ;) That is what you can do with open source software :wink:

Anyway I already fixed it on master in the client ;)

[2018-01-29 10:12] #8091 closed

[2018-01-29 10:13] MorrisJobke commented on #8091
cc @camilasan

Moved to https://github.com/nextcloud/client/issues/143

[2018-01-29 10:13] avanzella commented on #8041
Any news about this (serious) issue ?

[2018-01-29 10:16] rullzer commented on #8041
So, long story short I have no idea. As I tried several upgrades and they all didn't work.

If somebody could get me an account on a system with this bug maybe I could debug better.
Just ping me on IRC (Freenode, #nextcloud-dev)

[2018-01-29 10:32] te-online commented on #8007
Well, let's be honest – I have no clue where to code even is...
I'm sorry, but somebody else has to take this one 😳

[2018-01-29 10:33] blizzz commented on #8065
anything in the server log?

[2018-01-29 10:34] nickvergessen commented on #8007
The code is in https://github.com/nextcloud/server/blob/eebd2811dc4427443f7be964be25c3596ef7e950/lib/private/App/CodeChecker/InfoChecker.php

I can give you hints if you still want to do it 😉 otherwise I can also take it over, no problem.

[2018-01-29 10:34] blizzz commented on #3502
@icewind1991 ^

[2018-01-29 10:53] avanzella commented on #8041
So what is the actual recommendation?
I reverted back to 12.0.4 but I obviously have an error message about code integrity.

[2018-01-29 10:57] enoch85 commented on #5838
Works for me on Firefox 57.

[2018-01-29 11:04] juliushaertl commented on #7893
As the external sites are exposed to the NavigationManager this should work just fine then.

Ah, yes, I guess it makes sense to have it as a generic core endpoint so we can also use it when updating the app menu after installing/removing apps.

[2018-01-29 11:49] LEDfan commented on #8028
This bug is the same as in #7428 and #6530 which is fixed in 12.0.5.

The fix was merged into beta 4, I just tested on stable13 and there it's still fixed.

[2018-01-29 11:49] #8028 closed

[2018-01-29 11:50] LEDfan commented on #6530
This is the same bug which caused https://github.com/nextcloud/server/issues/7428 and is fixed in Nextcloud 12.0.5 and NC 13 beta 4.

[2018-01-29 11:50] #6530 closed

[2018-01-29 12:01] rullzer commented on #6540
Should not. It isn't a user folder so it doesn't write them encrypted I think.

[2018-01-29 12:02] juliushaertl commented on #7931
The navigationdetect ajax endpoint can be replaced by https://github.com/nextcloud/server/pull/8095

[2018-01-29 12:02] rullzer commented on #6540
@pellaeon it is an abstraction on top of the regular FS. Because initially the idea was to be able to move this to fast storage and keep the rest of data on HDD.

But it uses the normal Node API.

Also, each app gets a folder (so in this case `js`) is considered an app. Ther you can then create 1 layer of subfolders. And in those folders files.

[2018-01-29 12:19] te-online commented on #8007
Okay, thanks for the hint. I could – of course – add the fields to the file. But what about the xsd file. Would you include a copy? Maybe there is a public permalink (but then the app-checker would need to download something, which is could be awkward...)?

[2018-01-29 12:31] physio commented on #5838
same problem for me, i use the standard image of aws marketplace. I have only upgraded from 12.0.2.0 to 12.0.5.3

[2018-01-29 12:40] icewind1991 commented on #3502
`occ maintenance:repair --include-expensive` should repair the invalid entries that were caused by this issue

[2018-01-29 12:54] rullzer commented on #8088
@schiessle

[2018-01-29 12:59] badriram commented on #6597
If you arent on a domain , can you try putting in .   (yes dot '.') as the domain. That fixed the issue for me.

[2018-01-29 13:02] nickvergessen commented on #8007
I would include a copy of the file into the resources directory.

[2018-01-29 13:29] fgsl commented on #6764
@rullzer, according @rogerfv1, there are two reasons to disable image previews:

1. There is a note in Nextcloud documentation suggesting to disable preview for enforcing environment:
https://docs.nextcloud.com/server/12/admin_manual/configuration_server/harden_server.html

2. For load/performance test that @rogerfv1 did (two years ago), response time of file access was better with enable_previews

[2018-01-29 13:32] icewind1991 commented on #6597
I think it's likely that it's not the Nextcloud update, but an smbclient update that broke it

[2018-01-29 13:40] benhartwich opened #8098 "Adding new user fails"
### Steps to reproduce
1. Install NC 13 RC3
2. Click on settings/users
3. Try to create an user with username and password

### Expected behaviour
New user should be created

### Actual behaviour
Nothing

### Server configuration

**Operating system**:
Debian 9

**Web server:**
nginx 1.12.2

**Database:**
MariaDB 10.2

**PHP version:**
7.0.27

**Nextcloud version:**
13.0.0 RC 3

**Updated from an

[2018-01-29 13:41] ziqingshi commented on #8065
@blizzz I choose to select all files in local external storage,then  I click the delete button, some files cannot be deleted,I check the server log.Not deleted files is locked,the server log is :user":"admin","app":"webdav","method":"DELETE","url":"\/remote.php\/webdav\/extrenal%20storage\/de_DE.js","message":"Exception: {\"Message\":\"HTTP\\\/1.1 423 \\\"extrenal storage\\\/**de_DE.js**\\\" **is

[2018-01-29 14:02] #5694 closed

[2018-01-29 14:11] icewind1991 commented on #7667
Fix is here: https://github.com/nextcloud/server/pull/8100

Please verify that this fixes the issue for you @wildlifechorus @schnaser @Flandoll

[2018-01-29 14:31] rullzer commented on #8098
Can you post your nginx config?

[2018-01-29 14:35] benhartwich commented on #8098
[code]

[2018-01-29 14:36] rullzer commented on #8098
Remove:

[code]

[2018-01-29 15:00] rullzer commented on #8087
[code]

That looks like a typo:

[code]

[2018-01-29 15:01] MorrisJobke commented on #7889
Is not properly solved:

https://drone.nextcloud.com/nextcloud/server/4428/240

[code]

[2018-01-29 15:01] MorrisJobke commented on #7889
cc @icewind1991

[2018-01-29 15:05] benhartwich commented on #8098
Thanks, works again.

[2018-01-29 15:05] #8098 closed

[2018-01-29 15:12] enoch85 commented on #6597
@icewind1991

If that's the case, wouldn't it be possible to patch that in your libs? I have numerous clients/customers who are running the latest VM (Ubuntu 16.04.3) and it doesn't work.

Feel free to [download the VM](https://github.com/nextcloud/vm/releases) for testing purpose.

[2018-01-29 15:12] #6752 closed

[2018-01-29 15:12] #7977 closed

[2018-01-29 15:13] icewind1991 commented on #7585
Fix should be available in 12.0.6 and 13.0.1

[2018-01-29 15:13] #7585 closed

[2018-01-29 15:14] jfqd commented on #8087
@rullzer wow. a typo :/ Thx a lot for looking into this!
It is now working like expected :)

[2018-01-29 15:14] #8087 closed

[2018-01-29 15:38] ibr123 commented on #7585
Hi, from where I can download these versions?

[2018-01-29 15:48] wildlifechorus commented on #7667
@icewind1991 what channel should I push this update from? (From the Admin UI Update)

[2018-01-29 16:49] MorrisJobke commented on #7585
They are not released yet. Planned release is mid march.

[2018-01-29 16:52] MorrisJobke commented on #8080
cc @rullzer @juliushaertl

[2018-01-29 17:06] MorrisJobke commented on #7667
This is not yet available as update.

[2018-01-29 17:37] juliushaertl commented on #5838
All the error messages seem to be caused by the 403.php template. Please check your webserver config and make sure the redirects to those files are removed according to the docs: https://github.com/nextcloud/documentation/pull/392/files

Apps are not loaded when calling that page directly and therefore the theming app routes cannot be found.

[2018-01-29 17:37] #5838 closed

[2018-01-29 17:47] juliushaertl commented on #8080
It is acutally possible to adjust the quality of JPEG preview by setting an app config value https://github.com/nextcloud/server/pull/3575/files#diff-8e6e137079bc48f2b3a405dfbe27a8e3R365

No idea how the previews are generated in different sizes, but it would make sense to at least have a config option to reduce the amount of previews per image. Maybe @rullzer can tell more about that.

[2018-01-29 17:51] dtkloc opened #8104 "clear text password in log file when ldap not available"
we had our ldap servers go offline and when users attempted to login thier password was captured in the log file

### Steps to reproduce
1.  configure ldap
2.  turn off ldap server
3. attempt to login

### Expected behaviour
it should log that you attempted to login but not list sensative information in logs

### Actual behaviour
password listed in clear text in the log file

### Server configurat

[2018-01-29 18:55] rullzer commented on #8080
For the requested size we round up to the nearest power of 2. So if you have a square image you and request 600x600 you'll get 1024x1024.

I still have the plan (and some code) to move preview providers to apps. That way we could also add such settings easily. Or people could write their own app that does all sorts of fancy things.

[2018-01-29 19:40] wildlifechorus commented on #7667
To be honest guys I have to wait for stable since I already put my S3 as primary storage and have my users working with NextCloud with no issues whatsoever.

So instead of using external storage I'm using S3 as a primary storage as per the documentation.

That was my workaround

[2018-01-29 20:49] jospoortvliet commented on #6050
@chaos-prevails I wonder, why is a mounting a Windows Network Drive not suitable? Nextcloud respects the access rights in it, and admins can just change the rights in the underlying WND.

WRT what this need - the main issue is that it would require querying deep in the virtual file system for every folder access, something we don't need right now. That would need some serious performance work or i

[2018-01-29 20:54] EugenVau commented on #3830
Same question: any news on this?

If I create a calendar, share it with other users and create an event with attendees in it, invitations are sent to them. **But** if one of the users who the calendar is shared with creates an event, none of the attendees gets an invitation.

Nextcloud 12.0.5

[2018-01-29 21:06] enoch85 commented on #8043
@juliushaertl Thanks for investigating. Sent you an email.

[2018-01-29 21:16] Peac commented on #6752
Yes, only the commit. But at the moment I don't have the time to check the details. Maybe I am able to try it in a few weeks again.

[2018-01-29 22:43] rubrik commented on #7970
I don't know why this issue was closed, the screenshot above is from Tools. I have an up-to-date instance, and you can see that it is missing.

[2018-01-29 22:51] rubrik commented on #8038
This issue came about because of issue #7970

I wanted to install the Retention app, but in the latest RC of NC13 it was not listed under "My Apps", "Enabled", nor "Disabled". It was only listed under "App Bundles> Enterprise", with a button for me to enable it. Strange.

I have the feeling that there are two types of can-be-enabled app: apps that are installed but are disabled, and apps that are

[2018-01-29 22:55] Yetangitu opened #8105 "[enhancement] NC needs a mime type handler selector"
Now that I implemented PDF support in [Reader](https://github.com/Yetangitu/owncloud-apps/tree/master/files_reader) the need for an _official_ way to select which app to use to handle a give mime type is starting to become an issue. Both NC and OC have an 'official' PDF viewer which does its job quite well and which for one reason or another be preferred by _Reader_ users over the version I implem

[2018-01-30 01:20] gboudreau opened #8106 "Uploading multiple files : progress bar disappear when 1st file completes - NextCloud 13"
### Steps to reproduce
1. Upload two files by drag-dropping them into the browser window
2. Wait until 1st file completes uploading

### Expected behaviour
Progress bar should still appear until all files have been uploaded.

### Actual behaviour
Progress bar disappears as soon as the 1st file finishes uploading. The other file(s) will continue being uploaded, but no progress is shown.
See bottom

[2018-01-30 04:44] webmaisterpro opened #8107 "Error on Update from 12.0.4 to 12.0.5"
Steps to reproduce

Working version 12.0.4, updated through web browser app to 12.0.5

Expected behaviour
Unable to complete update

Detailed logs

Doctrine\DBAL\Exception\DriverException: An exception occurred while executing 'INSERT INTO `oc_appconfig` (`appid`,`configkey`,`configvalue`) SELECT ?,?,? FROM `oc_appconfig` WHERE `appid` = ? AND `configkey` = ? HAVING COUNT(*) = 0' with params ["cor

[2018-01-30 04:59] webmaisterpro commented on #8107
Fixed by changing permission to **occ** to 744

[2018-01-30 07:34] FlyinFistOfJuda opened #8108 "Update 12.0.5: Webdav download with subdirectories creates only directories"
In Reference to  #5543 :

Update to Version 12.0.5. reenabled this bug.
All files accessed via webdav are shown as folders in applications like Documents5.

[2018-01-30 07:38] #8108 closed

[2018-01-30 07:39] FlyinFistOfJuda commented on #8108
Sorry, I misinterpreted the results from my webdav client after that old bug.

[2018-01-30 08:02] juliushaertl commented on #8107
If there is no server, there is nothing we can do about that. :wink:

[2018-01-30 08:02] #8107 closed

[2018-01-30 08:08] juliushaertl commented on #8044
@skjnldsv So unable to reproduce anymore? Feel free to reopen if it occurs again.

[2018-01-30 08:08] #8044 closed

[2018-01-30 08:10] juliushaertl commented on #8106
@danxuliu

[2018-01-30 08:11] juliushaertl commented on #8104
@nextcloud/ldap

[2018-01-30 08:13] juliushaertl commented on #8093
Works fine here in FF57

[2018-01-30 08:18] juliushaertl commented on #8092
Maybe we can just send the error message to stderr instead of stdin to keep it like that and have a valid json.

[2018-01-30 08:54] juliushaertl commented on #8090
@marcelklehr Can you post the generated SQL statement? My guess would be that SQLite requires adding `ESCAPE '\\'` to the WHERE clause.

[2018-01-30 08:56] juliushaertl commented on #8093
Same after updating to FF58. Do you get any UI feedback when attempting to drag the folder?

[2018-01-30 08:57] putt1ck commented on #8093
Nothing at all. Will update to RC3 and try again.

[2018-01-30 09:07] juliushaertl commented on #8089
@mcteefax Is the problem that the file list is not updated live or is it also not updated after reload?

[2018-01-30 09:14] juliushaertl commented on #8083
As this is a webserver configuration issue/recommendation, this should probably go into the documentation repo. Please reopen an issue over https://github.com/nextcloud/documentation.

[2018-01-30 09:14] #8083 closed

[2018-01-30 09:17] juliushaertl commented on #8082
This issue is unrelated to the server component. Please reopen it at the https://github.com/nextcloud/owncloud-web-migrator repo.

[2018-01-30 09:17] #8082 closed

[2018-01-30 09:19] juliushaertl commented on #8081
Please provide a more detailed bug report with a complete issue template filled out, especially logs are interesting, as stated in the message you've posted:

[2018-01-30 09:26] jofrax commented on #4287
The carddav protocol can support both vcard 3.0 and 4.0 in one server - it's then the clients choice which to use.

In rfc6352 a client can ask with supported-address-data, if a the server supports vcard 4.0 and then send a receive vcard 4.0 data. The address-data element also has a version attribute.
This should be implemented to fix this bug.

[2018-01-30 09:46] te-online commented on #7990
@danxuliu Thank you! It was very hard for me to get the tooltip working, because I couldn't find any documentation (is it Bootstrap-js?). I ended up configuring the tooltip in the render function of my filetabview. Don't know if that's correct, but otherwise the elements were not available in the DOM and it seems you can't configure a tooltip for an element that will be added later.

Aside from th

[2018-01-30 10:15] MorrisJobke commented on #6698
As the basics are done for 13: I will close this ticket here and we continue in the repos where the problem happens then with more specific tickets.

[2018-01-30 10:15] #6698 closed

[2018-01-30 10:21] nickvergessen commented on #8104
@dtkloc can you post the log entry with your cleared password, so we know where the problem is?

[2018-01-30 10:45] aslefnad commented on #7519
@georgehrke
thanks. that worked for me

[2018-01-30 10:49] MorrisJobke commented on #7519
@georgehrke Could you check that this is also documented like described?

[2018-01-30 10:49] georgehrke commented on #7519
@MariusBluem We should put this in our documentation ^
(maybe not with georg.cloud though :P)

[2018-01-30 10:50] georgehrke commented on #7519
@MorrisJobke No, it's not. This bug was only introduced with High Sierra. You can just any account type on Sierra and below.

[2018-01-30 11:12] chaos-prevails commented on #6050
@jospoortvliet because it complicates things. I would either need to join the NC server to our domain, or put all files onto a windows file server. I frown from the first, and dislike the second.
It's just that I see the file access control can deny access to sub-folders of a share, so I thought adapting that feature for read-only access might not be too much work.

I do my best advocating nextclo

[2018-01-30 12:25] putt1ck commented on #8093
ok works in RC3.

[2018-01-30 12:25] #8093 closed

[2018-01-30 12:27] danxuliu commented on #8106
@gboudreau Thanks a lot! But you do not need to worry about this one; I was already working on it ;-)

Having said that, if you find any other issue that you would like to tackle please feel free to do so! :-)

[2018-01-30 12:40] almet commented on #2206
@enoch85 did you managed to fix the issue you had? I'm having the same problem currently.

[2018-01-30 12:45] MariusBluem commented on #7519
Will be complicated to document which settings you need to set for Sierra/High Sierra/El Capitan/... Do you have a list of configuration settings for CalDAV and CardDAV - did not managed to add CardDAV resource on my own Mac 😏🤭

[2018-01-30 12:48] georgehrke commented on #7949
Duplicate of #3830

[2018-01-30 12:48] #7949 closed

[2018-01-30 12:51] mathiasconradt opened #8110 "Calendar: unable to accept invite to changed event (Spreed invite) which already exists in the calendar: HTTP error code 412"
For the current calendar app version on cloud.nextcloud.com, and using Evolution on Ubuntu Gnome as client:

### Steps to reproduce
1. create a Spreed.com invite for 9am, send out invitations
2. accept the event in Evolution
3. it gets added to the NC calendar
4. in Spreed, change the event time to 8am, resend the invitation
5. try to accept the event invite again in Evolution

### Expected behavi

[2018-01-30 12:54] blizzz commented on #8104
@nickvergessen I can reproduce it,  this origins from the stack trace of ``OC\ServerNotAvailableException``,

[code]

[2018-01-30 13:08] MorrisJobke commented on #7948
Looks like we have a solution in https://github.com/nextcloud/server/pull/8109#issuecomment-361565581

cc @icewind1991 @rullzer

[2018-01-30 13:18] nickvergessen commented on #7970
For me the app is displayed directly after the registration app.

[2018-01-30 13:24] peterghrol commented on #6787
I suggest you to try "Long Path Tool" it's very useful!

[2018-01-30 13:29] georgehrke commented on #7519
@MariusBluem Can you check if https://twitter.com/georgehrke/status/957039451959685120 works for u? It did for me.

[2018-01-30 13:31] dtkloc commented on #8104
{"reqId":"4RXIpM8IMyG7nNE6dpnB","level":3,"time":"2017-09-19T13:29:05+00:00","remoteAddr":"IP_ADDRESS","user":"--","app":"index","method":"POST","url":"\/login","message":"Exception: {\"Exception\":\"OC\\\\ServerNotAvailableException\",\"Message\":\"Lost connection to LDAP server.\",\"Code\":0,\"Trace\":\"#0 \\\/var\\\/www\\\/nextcloud\\\/apps\\\/user_ldap\\\/lib\\\/LDAP.php(368): OCA\\\\User_LDAP

[2018-01-30 13:32] fgsl commented on #7510
Hi, @blizzz.

Performance issue of LDAP is known but customer should have right to choose that configuration or not (Owncloud has a reservation about performance if customer decides to use that option).
In our user base, for example, we have users from 2 to 7 names. So, it is impracticable to put each surname in a distinct attribute.

[2018-01-30 13:45] MorrisJobke commented on #7771
cc @georgehrke

[2018-01-30 13:48] georgehrke commented on #7771
Well, that error message is pretty clear:
The value type (DATE or DATE-TIME) must be identical for DUE and DTSTART

From [RFC 5545 Section 3.8.2.3](https://tools.ietf.org/html/rfc5545#section-3.8.2.3):
[code]

So this is definitely a bug in the 2DO App not following RFC 5545 properly.

[2018-01-30 13:48] #7771 closed

[2018-01-30 13:48] MorrisJobke commented on #7793
cc @georgehrke is this the same as #7519? @hostingnuggets Maybe try https://github.com/nextcloud/server/issues/7519#issuecomment-360936289 for the CardDAV setup?

[2018-01-30 13:48] #7802 closed

[2018-01-30 13:49] MorrisJobke commented on #6851
cc @nextcloud/ldap

[2018-01-30 13:53] MorrisJobke commented on #7807
Fixed in Nextcloud 12 via #3438

Duplicate of #3343

[2018-01-30 13:53] #7807 closed

[2018-01-30 13:56] MorrisJobke commented on #7823
See https://docs.nextcloud.com/server/12/admin_manual/installation/source_installation.html#pretty-urls for the steps to set this up.

[2018-01-30 13:56] #7823 closed

[2018-01-30 13:58] MorrisJobke commented on #7828
Then it is not properly set up: Please check twice that it is set up like described in https://docs.nextcloud.com/server/12/admin_manual/installation/source_installation.html#pretty-urls and also check that maybe proxies in between are also properly configured (see https://docs.nextcloud.com/server/12/admin_manual/configuration_server/reverse_proxy_configuration.html for this).

Beside that: if yo

[2018-01-30 14:03] MorrisJobke commented on #7829
Thanks for this request.

We thought a lot about distribution channels in the past and settled on: do only one thing and this properly. So we focused on the way to distribute the release of Nextcloud via archives and built the updater around this concept. Also we have a bit longer build script that does for example the signing process, etc to have a verified package or to fetch in other shipped ap

[2018-01-30 14:03] #7829 closed

[2018-01-30 14:03] enoch85 commented on #2206
@almet No, I didn't even remember I posted here tbh. Sorry.

[2018-01-30 14:06] MorrisJobke commented on #7831
We fixed the disabling of shipped apps in #7879 and backported it to 13.0.0 RC2. I hope then your issue is not happening again.

Thanks for the report anyways 👍

[2018-01-30 14:06] #7831 closed

[2018-01-30 14:09] ziqingshi commented on #8065
@blizzz @icewind1991 @MorrisJobke Thanks.

[2018-01-30 14:11] rullzer commented on #6672
@juliushaertl that sounds like a good approach!

[2018-01-30 14:14] blackandcold commented on #7771
Thanks! I just changed to another DAV app... they want 29€ for that broken implementation. Standard impl works fine now.

[2018-01-30 14:21] MorrisJobke commented on #8047
@nextcloud/sharing @icewind1991 @rullzer @nickvergessen Mind to have a look at the problem and the fix?

[2018-01-30 14:33] MorrisJobke commented on #7874
cc @nextcloud/designers

[2018-01-30 14:34] MorrisJobke commented on #8050
Duplicate of #3343 which was fixed with #3438 in Nextcloud 12.

Just set the folder of the external storage to `/` 😉

[2018-01-30 14:34] #8050 closed

[2018-01-30 14:35] MorrisJobke commented on #8040
cc @georgehrke

[2018-01-30 14:37] MorrisJobke commented on #8037
This looks like you use the wrong credentials because you get 401 responses (Unauthorized).

For further questions please check out the forums: https://help.nextcloud.com

[2018-01-30 14:37] #8037 closed

[2018-01-30 15:05] whositwhatnow commented on #8050
unfortunately this doesnt work for me.  I have SMB share and put / in remote subfolder and log out and log back in, still same result.

________________________________
From: Morris Jobke <notifications@github.com>
Sent: Tuesday, January 30, 2018 9:35 AM
To: nextcloud/server
Cc: Brian Novogradac; Author
Subject: Re: [nextcloud/server] Quota issues (#8050)

Duplicate of #3343<https://github.com/nex

[2018-01-30 15:18] mirrom commented on #4504
@mauritslamers Thank you very much! Altering the tables on postgresql did the trick for me, upgraded from owncloud 9.1.4 to 10.0.4 to nextcloud 12.0.4 to 12.0.5.

[2018-01-30 15:20] Windyo opened #8113 "[Question] - Reset Database?"
Hi,

I swear I've read all the docs and scoured the issues, but I can't find what I want.
Is there a way to reset the Nextcloud File DB ?

The drive the data was on got corrupted, I restored a working backup, now there's quite a few differences between DB and reality, but running occ scan doesn't seem to resolve the issues.
Symptom: client says "file removed from server"  when it tries to sync, li

[2018-01-30 15:25] martinlanger90 commented on #7628
shouldn't this behaviour considered as a bug because the system get's full of a ton of session files? 😄

[2018-01-30 15:48] MorrisJobke commented on #8050
Not in the remote subfolder, but in the mount point ;)

[2018-01-30 16:38] Simplimus opened #16870 "Coffee anyone? (How to donate)"
I heard developers are machines that turn coffee into code.
Allow me to help you function properly and get you some coffee.

Is there an official way to donate to your cause? I couldn't find any.
Thank you for your outstanding work.

[2018-01-30 16:38] whositwhatnow commented on #8050
problem is i have multiple shares on the fileserver.

________________________________
From: Morris Jobke <notifications@github.com>
Sent: Tuesday, January 30, 2018 10:48 AM
To: nextcloud/server
Cc: Brian Novogradac; Author
Subject: Re: [nextcloud/server] Quota issues (#8050)

unfortunately this doesnt work for me. I have SMB share and put / in remote subfolder and log out and log back in, still s

[2018-01-30 16:45] MorrisJobke commented on #8050
What does this mean?

[2018-01-30 16:55] linucksrox commented on #3514
Just reviewing this, I think this issue was indeed solved by PR #3493 so I'm closing this.

[2018-01-30 17:47] AND51 commented on #8085
Question is, should `oc_migrations` be utf8mb4_bin or `utf8_bin`?

I can reproduce this even in a completely different envionment:

[code]

I quickly installed NC 13 Beta in this environment:

- Debian 8
- MySQL 5.7 (mysql  Ver 14.14 Distrib 5.7.20, for Linux (x86_64) using  EditLine wrapper)
- Nextcloud freshly installed from this link: https://download.nextcloud.com/server/prereleases/nextcloud-

[2018-01-30 18:55] nickvergessen commented on #8085
Did you run `occ db:convert-mysql-charset` after changing the config

[2018-01-30 18:56] whositwhatnow commented on #8050
this is my setup.  We have a smb file server with multiple shares.  if i put / where the share shoudl be its a permissions error.

[cid:4656ffae-ff9f-46f0-b734-76757f78eb95]

________________________________
From: Morris Jobke <notifications@github.com>
Sent: Tuesday, January 30, 2018 11:45 AM
To: nextcloud/server
Cc: Brian Novogradac; Author
Subject: Re: [nextcloud/server] Quota issues (#8050)

p

[2018-01-30 19:08] juliushaertl commented on #8106
@gboudreau Yes, as @danxuliu said, we have some nice issues labeled as [good first issue](https://github.com/nextcloud/server/labels/good%20first%20issue). Contributions are very welcome.

[2018-01-30 19:28] n8v8R opened #8115 "NC mistaken PHP-FPM version 5.4.16 as PHP version"
Apache & Varnish Cache & Nginx Reverse Proxy
CentOS 7.4.1708 (Core) - Kernel 3.10.0-693.17.1.el7.x86_64
Apache/2.4.2
nginx/1.12.2
PHP 5.6.30
PHP-FPM 5.4.16 (fpm-fcgi)
suPHP 0.7.2
Zend Engine v2.6.0 with the ionCube PHP Loader (enabled) + Intrusion Protection from ioncube24.com (unconfigured)
MySQL 10.1.30-MariaDB
SEL permitting
Mod Security disabled

NC 12.0.5

Apparently NC is mistaken the PHP-FP

[2018-01-30 19:28] georgehrke commented on #8040
I would definitely say that this is an issue in DavDroid / Android.

Checking the DAVdroid.txt:
[code]

There is a `REV` in line 4 and another `REV` in the second to last line.

Checking RFC 6350, the vcard standard, it says the following about `REV` in [section 6.7.4](
https://tools.ietf.org/html/rfc6350#section-6.7.4):

`Cardinality:  *1` => `Exactly one instance per vCard MAY be present. `

So

[2018-01-30 19:28] #8040 closed

[2018-01-30 19:32] georgehrke commented on #7793
cc @georgehrke is this the same as #7519?

Not exactly, because that bug didnt even allow you add the CalDAV/CardDAV account.
Nonetheless the workaround could help here too.

[2018-01-30 19:38] harryhb commented on #8041
@rullzer Did you try a server with primary storage on swift? That seems the mutual item for people suffering from the bug?

[2018-01-30 19:40] georgehrke commented on #7793
"macOS address book" spamming the server with requests is probably a result of the `Sabre\\DAV\\Exception\\InvalidSyncToken` exception.
The client thinks that changes previously made were not saved properly, so it tries to save them again.

Now the question is, why does the `InvalidSyncToken` exception occur. Would be very helpful to get a capture of the REPORT request send by the client.

[2018-01-30 19:54] rubrik commented on #7970
Well, okay, so you can't reproduce it. Fair enough. Not a lot I can do here.

[2018-01-30 20:07] MorrisJobke commented on #7831
Up to @jospoortvliet 😉

[2018-01-30 20:12] MorrisJobke commented on #8050
You should not put the `/` as remote subfolder, but where that external storage should be mounted in your nextcloud. 😉

Something like this (see the `/` in `Folder name`):

![bildschirmfoto 2018-01-30 um 21 11 46](https://user-images.githubusercontent.com/245432/35588886-4e26b93a-0602-11e8-823c-fb024c4f2409.png)

[2018-01-30 20:29] Haidafraid commented on #5838
Please excuse my slow-wittedness... but I just can not find any hints in the documentation concerning my server configuration.
My Nextcloud installation works under WHM/cpanel  that is CENTOS 7.4. I do not use nginx - it is an apache 2.4.29. Could you please spell it out for me, where I should change anything in my apache configuration, because everything looks just like a standard configuration.

[2018-01-30 21:07] rullzer commented on #8115
We use PHP_VERSION see https://secure.php.net/manual/en/reserved.constants.php#reserved.constants.core

So even php seems to think you are running 5.4.16. This seems like a setup issue.

[2018-01-30 21:07] #8115 closed

[2018-01-30 21:21] n8v8R commented on #8115
Thanks for the feedback. Checking with `php -v` returns however

Suppose `php -v` is not a predefined constant and returns the actual value.
What I am wondering also is why this turns up only after the installation succeeded and not at the start of the installation, assuming that NC runs a routine to check whether the requirements are met prior installation

[2018-01-30 21:26] rullzer opened #8117 "No password confirmation for clients (and bearer?)"
We have the password confirmation on the web if you want to change certain things.

However, now that there is work on android to make (some) user info editable this becomes kind of annoying. We don't store the user password on android (we use the client login flow).

I think it would make sense to not enforce the login flow on client requests (or bearer auth for that matter).

Any opinions? @Morr

[2018-01-30 21:36] rullzer commented on #8115
well `php -v` isn't going via fpm.

Did you install nextcloud via the command line?

[2018-01-30 21:37] n8v8R commented on #8115
the webinstaller setup-nextcloud.php

[2018-01-30 21:42] rullzer commented on #8115
Mmm I should look into that then.

But back to the original issue. If you access a file with

[code]

from the web. Does it then tell you 5.6.30?

[2018-01-30 21:45] n8v8R commented on #8115
Yes, you may check it https://vtol.me

[2018-01-30 21:46] #7983 closed

[2018-01-30 22:15] n8v8R commented on #8115
If it matter those are the server settings
# Virtual host file starts here

upstream php-handler {
    server 127.0.0.1:9000;
}

server {
listen ....:80;
return 301 https://$server_name$request_uri;
}

server {
listen ....:443 ssl http2;
access_log /var/log/nginx/access...log;
error_log /var/log/nginx/error....log;
server_name ... www.....;
root /home/.../public_html;
autoindex off;
charset utf-8;

[2018-01-30 22:31] cl445 commented on #5653
Workaround for now:
edit `./3rdparty/sabre/vobject/lib/Recur/RRuleIterator.php`
and change the three lines like this commit does: [here](https://github.com/sabre-io/vobject/pull/383/commits/83d7367c1ac0c6d8c04bb74c8fdcb1a5efa0c958)

[2018-01-31 05:39] HungryFeline commented on #8046
If occ isn't putting a rewritebase into your htaccess, you probably haven't set one in your config. Have you tried adding `'htaccess.RewriteBase' => '/subfolder',` to your `config/config.php`?

If there's an internal server error, there should be a description in your webserver's or php's log. Try finding and posting that, please. (That should've been the first place to look for hints before doing

[2018-01-31 05:40] dartcafe opened #8118 "Different: "Source-Map-Fehler: SyntaxError: JSON.parse: unexpected character at line 1 column 1 of the JSON data""
As in #7357
Affected files in this case:
/core/vendor/blueimp-md5/js/md5.min.js
/core/vendor/DOMPurify/dist/purify.min.js

**Nextcloud version:** 13.0.0 RC3

[2018-01-31 06:20] mareeba opened #8119 "Can I run this successfully on an A64-OLinuXino?"
Does anyone have any experience running on this (or similar) board? Is the 2GB memory an issue?

https://www.olimex.com/Products/OLinuXino/A64/A64-OLinuXino/open-source-hardware

### Steps to reproduce
1.
2.
3.

### Expected behaviour
Tell us what should happen

### Actual behaviour
Tell us what happens instead

### Server configuration

**Operating system**:

**Web server:**

**Database:**

**PHP

[2018-01-31 06:44] tflidd commented on #8119
I didn't read through all of it, but there is a long list of cheap devices people used or suggested to use on the forum:
https://help.nextcloud.com/t/best-cheap-hardware-to-run-nextcloud-on/4715

If you can't find anything about this device, it's probably a better place to ask for than the bug tracker. In general, if you can run a LAMP system on it, you should be able to make it run. As a benchmar

[2018-01-31 07:39] frogueat commented on #6292
I think a get a similar Error on my ubuntu-box (16.04.3, php 7.0.2) - when I use the iOS app??!! Web-app is fine, same when using webdav on my mac. Strange thing!

Fatal | webdav | OCA\DAV\Connector\Sabre\Exception\Forbidden: No read permissions/var/www/nextcloud/apps/dav/lib/Connector/Sabre/TagsPlugin.php - line 224:  OCA\DAV\Connector\Sabre\Directory->getChildren()[internal function]   OCA\DAV\C

[2018-01-31 08:02] rullzer commented on #8115
The site doesn't work for me. But as stated if your php-fpm even trick php into thinking it is a different version then this is a setup issue. Please use https://help.nextcloud.com maybe somebody there has a clue. But I don't consider this a nextcloud bug.

[2018-01-31 08:34] n8v8R commented on #8115
The site is up and running working fine in FF, Edge and Vivaldi.

PHP content is served through
[code]
The site would not display v5.6.0 if tricked by PHP-FPM. It is already posted on forum but there is help.

So, basically you are saying that NC is not conducting a check of system requirements in order prior installation and just forges ahead with the installation in order to surprise the user af

[2018-01-31 08:45] BernhardPosselt commented on #7973
@Rello do not use code signing via occ but only sign the package. Or build two releases.

[2018-01-31 08:51] rullzer commented on #8115
No that is a valid issue. And I have it on my todo to look into it and add a check in that setup as well.

I mean the issue with php-fpm lying about its php version :)

[2018-01-31 08:54] rullzer commented on #8115
Mmmm I still don't get it... https://github.com/nextcloud/web-installer/blob/master/setup-nextcloud.php#L79-L81 looks like the same check...

[2018-01-31 09:09] n8v8R commented on #8115
Explains the why the pre-natal check and the installation went ok. What is calling the post installation check, the same code?

[2018-01-31 09:10] ChristophWurst commented on #8117
Makes sense, I guess.

[2018-01-31 09:58] tflidd commented on #8113
There is also a cleanup option in occ (https://docs.nextcloud.com/server/12/admin_manual/configuration_server/occ_command.html?highlight=occ#file-operations-label). You should try to use these default options, perhaps add `-vvvv` to capture errors during the process. If you clean up manually, you risk to create inconsistencies elsewhere since other apps rely on the filecache table (sharing, tags,

[2018-01-31 10:18] monsterpit-daggertooth opened #8120 "Mounting a Minio S3 bucket in External Storages fails"
### Steps to reproduce
1. Attempt to add a Minio S3 bucket in External Storages.

### Expected behaviour
Nextcloud should mount the Minio S3 bucket.

### Actual behaviour
Mounting fails when Nextcloud tries to read the bucket ACL.
It looks like this is because [Minio doesn't use S3 ACLs](https://github.com/minio/minio/blob/master/docs/minio-limitations.md#list-of-amazon-s3-bucket-apis-not-supporte

[2018-01-31 11:06] DJCrashdummy commented on #1450
IMHO the only action which makes sense to be hidden behind a 3-dot menu (no matter if it is the only button or not) is the delete-button - especially at public shares, where the user can't access the trash bin! so it is very unlikely that you delete something by accident.

...but yes, hiding the download-button behind the 3-dot menu is completely senseless.

[2018-01-31 11:38] AND51 commented on #8080
@juliushaertl
Cool feature, but it's not documented. Or did I overlook it? How can the documentation of this parameter be achieved?

@rullzer
So how do we/you continue? Would you like to keep this ticket open until you implemented your plan? I think your plan sounds great.

[2018-01-31 11:41] blizzz commented on #7510
Well, as said you can prepend * to your searches.

Otherwise I'll accept a hidden (→ occ only) per-config setting pull request (or talk to Sales ;) )

[2018-01-31 11:49] #6382 closed

[2018-01-31 11:53] DJCrashdummy commented on #6234
i can't reproduce this with nextcloud 12.0.5...

[2018-01-31 11:59] nickvergessen commented on #8117
Well, as long as creating an app password is not possible without confirmation of the password, I'm fine with this.

[2018-01-31 12:03] nickvergessen commented on #8085
Okay, just happened here as well.
Running the command fixed the issue. I will try to find out why it is created with the wrong collation in first place.

[2018-01-31 12:15] rullzer commented on #8117
@nickvergessen good point. Same goes for the password change. Ok I'll look into that and report back

[2018-01-31 12:51] blizzz commented on #6851
whee, that issues was buried for more than 4 years. Should have abandoned this setting :D  ;)

@joshuaavalon should be fixed with https://github.com/nextcloud/server/pull/8122, can you test?

[2018-01-31 12:57] blizzz commented on #7804
Seems to be an LDAP config issue, please check your bases.

[2018-01-31 12:58] blizzz commented on #3514
thanks for the update @linucksrox!

[2018-01-31 13:15] Windyo commented on #8113
Hi !

Scan doesn't fail - it completes successfully, but the sync client still finds files that were "deleted from server" after running it.
Running Cleanup returns ``0 orphaned file cache entries deleted``.

So normally everything should be fine but the client still complains that something doesn't add up...

[2018-01-31 13:25] marcelklehr commented on #8090
Looks like you're right, the query for the above is `SELECT "title" FROM "oc_bookmarks" WHERE LOWER("title") LIKE LOWER(?)`

while the query in the bookmarks app that has the same problem looks like this: `SELECT "id", "url", "title", "user_id", "description", "public", "added", "lastmodified", "clickcount", GROUP_CONCAT("t"."tag") AS "tags" FROM "oc_bookmarks" b LEFT JOIN "oc_bookmarks_tags" t ON

[2018-01-31 13:29] jaltek opened #8123 "Make opt-out list of incompatible clients for same site cookie protection configurable"
In my use case I had to add a second user agent (in addition to the already existing default entry for the OSX Finder) to the list of incompatible clients for same site cookie protection (ref. [base.php](https://github.com/nextcloud/server/blob/142914608307839dca300a2d410b869b6d2d3444/lib/base.php#L524)).

As I have to change the base.php after each Nextcloud update it would be nice to have this l

[2018-01-31 13:43] #8085 closed

[2018-01-31 13:48] MorrisJobke commented on #6851
@blizzz Could this be catched a bit more nicely without this weird error message?

[2018-01-31 13:50] MorrisJobke commented on #7804
Could this one be catched a bit more nicely? To avoid such strange errors in the logs (because a wrong configuration should not lead to exceptions like this IMO).

[2018-01-31 13:53] MorrisJobke commented on #8119
Please raise such questions in the forum: https://help.nextcloud.com

Thanks

@tflidd Feel free to close issues like this with a reference to the forums. :)

[2018-01-31 13:53] #8119 closed

[2018-01-31 13:54] MorrisJobke commented on #8113
That's weird if files that are present in the file cache are not there on disk. How did you run the scan command?

cc @icewind1991

[2018-01-31 13:59] MorrisJobke commented on #8123
cc @nextcloud/security @rullzer  What is your opinion on this? I would like to not introduce something like this because it could affect the security of the system. On the other side there are multiple issues with this and incompatible clients:

* #3523
* https://github.com/nextcloud/server/pull/1328#issuecomment-275907555
* #1601
* https://github.com/nextcloud/server/issues/223#issuecomment-24859

[2018-01-31 14:04] Windyo commented on #8113
I did:
``sudo i-``

``sudo i-``

``cd /var/www/nextcloud/``

``sudo -u www-data php occ files:cleanup``

``sudo -u www-data php occ files:scan Windyo``

All finsihed successfully, with the file scan finding some 40k files, which is about right.

Currently running the latest version of NextCloudPi if that gives you more info.

If you need logs or dumps, ask and you shall receive.

[2018-01-31 14:11] DJCrashdummy opened #8125 "share-menu displays different/incorrect permissions"
### Steps to reproduce
1. login into your nextcloud and open the normal file-app
2. open the share side-panel and create a share either via mail-address or/and via link (it applies to both!)
3. restrict the access to just create/upload files
4. go the gallery-app and open the shared folder
5. open the share-menu via icon in the upper right (including an eventual drop-down) and have a look at the c

[2018-01-31 14:30] jaltek commented on #8123
@MorrisJobke IMHO a configuration variable is much safer than forcing the users / admins to change the lib/base.php. And they **will** change the base.php in order to get the clients and apps working :)

[2018-01-31 15:14] ziqingshi commented on #8065
@blizzz @icewind1991 @MorrisJobke @rullzer Today I added 'filelocking.enabled' => false into config.php,then I selected all files in local external storages folder,click delete button,all files deleted.Is this a dangerous operation?Or do you have other solutions? Thanks for your answer.

[2018-01-31 16:17] Isotop7 opened #8129 "user_ldap automatically disabled; high swap and memory usage overall"
### Steps to reproduce
1. Migrate vom OC 9.1 to NC 10; Update to NC 11.0.6
2. Use ldap login and wait some time
3. Test login with ldap user

### Expected behaviour
User should login as normal

### Actual behaviour
Login fails, on db-level app user_ldap is disabled (in table oc_appconfig)

### Server configuration

**Operating system**:
Ubuntu 16.04.3
**Web server:**
2.4.18
**Database:**
MySQL  5.

[2018-01-31 19:26] JimBTek commented on #5274
Hey all, I am having the same problem on a HostISO VPS where they installed NextCloud. We are on v 12.0.5 and seeing it.

A bandaid, is if you select "Stay logged in" on the login page, after the error, instead of logging you out it takes you back to the home page for logged in users.

![image](https://user-images.githubusercontent.com/1176347/35642852-6fa2fd40-0692-11e8-87be-5a8811c5c00f.png)

Al

[2018-01-31 20:06] MorrisJobke commented on #8129
They would be useful. ;)

cc @nextcloud/ldap

[2018-01-31 20:16] Isotop7 commented on #8129
Let me grab them tomorrow and remove sensitive info like user names.

[2018-01-31 20:21] n8v8R commented on #8115
Thought to give a go with PHP7.1.0 and upgraded the server but no such luck and the same outcome as previously with PHP5..6.0

![nc setup 1](https://user-images.githubusercontent.com/13611490/35645521-631dc656-06cc-11e8-901e-de586dde48fc.PNG)

![nc setup 2](https://user-images.githubusercontent.com/13611490/35645532-6cd5a326-06cc-11e8-8538-1b4e8d628775.png)

![nc setup 3](https://user-images.githu

[2018-01-31 21:17] enoch85 commented on #8043
Issue solved:

[code]

[2018-01-31 21:17] enoch85 commented on #8043
Can this make 13.0.0 please?

[2018-01-31 21:35] rullzer commented on #8115
could you create an issue in https://github.com/nextcloud/web-installer ?Because the installer should fail as well here indeed.

[2018-01-31 21:35] nariox commented on #7948
Duplicate of #8112

[2018-01-31 21:44] MorrisJobke commented on #7948
Not yet. Leave it open until  it is fully fixed ;)

[2018-01-31 21:50] n8v8R commented on #8115
@rullzer cross reference https://github.com/nextcloud/web-installer/issues/22

[2018-01-31 22:07] eneiluj commented on #5309
Did you find a solution ? I'm looking for a way to allow public pages to my apps (PhoneTrack and GpxPod) when they are group restrictions...

[2018-01-31 23:58] n8v8R commented on #8115
not sure whether/how this potentially could cause the issue but might be worth noting that the cli bits producing different version output

`php -v` and `php-cgi -v` respectively would always produce the actual installed PHP version, e.g. 7.1.0,whilst `php-fpm -v` always producing it own version 5.4.16

[2018-02-01 00:43] n8v8R commented on #8115
Out of curiosity removed php-fpm from the server and the NC login page is showing.

After having completed the initial NC setup and logout I put the php-fpm parser/server back to work and the NC login is still showing.

[2018-02-01 08:06] juliushaertl commented on #7984
We should also fore rebuild during upgrade when implementing this.

[2018-02-01 08:08] juliushaertl commented on #6587
The webroot issue has been fixed with #7631
Rebuild during update is a different issue #7984

Lets close this.

[2018-02-01 08:08] #6587 closed

[2018-02-01 08:08] Isotop7 commented on #8129
Side info:

My nextcloud.log is growing very fast. On monday it had 16 GB, now its at 34 GB and still growing.
The high load is caused by the cron.php, otherwise the server is idling. It has 4 CPUs and 4 GBs of RAM.

[2018-02-01 08:16] Isotop7 commented on #8129
This is just a small excerpt as the log contains loads of sensitive data and masking it would be a pita but the log is smashed with these lines every second:

[code]

[2018-02-01 08:42] juliushaertl commented on #8043
The JSCombiner checks for the mtime of javascript files and generates new ones based on that.  It is quite strange that those files have the timestamp from when the update is happening but still contain the old javascript content. I've no idea why this could happen. @rullzer maybe?

@enoch85 The solution would basically be to force rebuild of combined javascript during the update, which is tracked

[2018-02-01 09:00] MorrisJobke commented on #8129
@isotop7 All the log lines there are debug log (log level 0). Try to raise the log level (either in the admin settings or in config.php) and then check again for possible messages in the Nextcloud log.

[2018-02-01 09:01] juliushaertl commented on #8090
The escaping was added for like() in https://github.com/nextcloud/server/pull/3089/commits/a65652fc1efe158bd097d573f012167cfcd26a62 but it seems you have moved to iLike() in the bookmarks app in the past, because of some issues with the escape? https://github.com/nextcloud/bookmarks/pull/368

[2018-02-01 09:03] juliushaertl commented on #8080
I cannot find it in the docs, just found this when checking the quality setting for this issue. Feel free to open a pull request to add this to the documentation. :wink:

[2018-02-01 09:07] juliushaertl commented on #5838
Ah sorry, I didn't check how it is used on NC12. It has been fixed for Nextcloud 13 but not backported to stable12. https://github.com/nextcloud/server/pull/5890

[2018-02-01 09:11] skjnldsv commented on #8043
@juliushaertl could we clear cache on each update? It would be a great way to ensure fresh content imho :)

[2018-02-01 09:12] JSoko opened #8131 "13.RC 4 settings / tips & tricks link to /server/12"
### Steps to reproduce
1. go to settings as admin
2. go to tips & trick
3. click on a link

### Expected behaviour
Link should lead to https://docs.nextcloud.com/server/13/

### Actual behaviour
link leads to https://docs.nextcloud.com/server/12/

## Server configuration detail

**Operating system:** Linux 4.4.0-96-generic #119-Ubuntu SMP Tue Sep 12 14:59:54 UTC 2017 x86_64

**Webserver:** Apache/

[2018-02-01 09:13] juliushaertl commented on #8043
That would be my plan. I thought we also had an issue about that but I cannot find it atm. :confused:

[2018-02-01 09:13] Isotop7 commented on #8129
@MorrisJobke Did that. Let me get back when I get warning messages.

[2018-02-01 09:18] marcelklehr commented on #8090
Ah, I knew we've had issues with this before. This time, it doesn't seem to change anything whether we use iLike() or like(), though, I just checked :/

[2018-02-01 09:35] My1 commented on #132
I really hope this setting comes back again, in best case with a setting for plain redirect and HSTS each. while HSTS isnt a bad thing in general it's kinda annoying when you screw up soemthing with your certs, and the browsers dont give you a "thanks I know, I trust this cert anyway" option.

while HSTS is truly a godsend for things that are open to the public, a closed party like my cloud where

[2018-02-01 10:40] My1 opened #8133 "[13.0.0 RC4] Display of App bundles slightly broken"
### Steps to reproduce
1. have NC 13RC4 (dont know whether earlier also had this)
2. go to apps
3. then to app bundles

### Expected behaviour
should be nicely listed with heading above each list

### Actual behaviour
except for the first heading, headings are in the vertical center of each list overlapping with them (see screenshot)

![screenshot-testcloud-2018-02-01-11-25-57-559](https://user-im

[2018-02-01 10:42] fgsl commented on #7510
@blizzz , excuse me, I didn't understand what could be a hidden per-config setting. Are you talking about not including that in documentation?

[2018-02-01 12:08] rullzer commented on #8123
Pfff I'm not a fan of this. But I see the point of @jaltek

Maybe something where you can put them in `config.php`? And we print a big warning in the admin settings and also set a flag in the logger so that we can log if bad stuff happens with such a weird client?

[2018-02-01 12:08] rullzer commented on #8120
@icewind1991

[2018-02-01 12:17] buttle commented on #7804
Hi,
I've checked my config again. All tests in the wizard pass Ok.

I've noticed that every login generates two log entries

[code]

If you tell me how, I'll be pleased to provide more info.

Thanks.

[2018-02-01 12:46] MorrisJobke commented on #8133
cc @nextcloud/designers

[2018-02-01 12:54] MorrisJobke commented on #8131
for stable13: #8138
for master: #8137

[2018-02-01 12:59] putt1ck commented on #7278
Possibly related (12.04): if you drag and drop a folder to a sub folder, UI creates the sub-subfolder but not all the file content, and an "unauthorized" pop-up occurs for each failed file in the drag and dropped folder (see attached screenshot).

![image](https://user-images.githubusercontent.com/2872580/35679392-c5c7ab3c-074e-11e8-8bcc-636d3bf77e10.png)

Each file displays the uploading process

[2018-02-01 13:16] mamoit commented on #6256
@MorrisJobke Is there (at the current date) no app for integration with google cloud?
I can look into it, but my php foo is quite limited.

[2018-02-01 13:21] AND51 commented on #8080
Hmm... Sorry, I'm not that familiar with GitHub and all the Nextcloud-procedures here yet. But I'm willing to learn, that's why I've started to submit bugs ;-)

So it would be wonderful, if somebody can do this for me. Otherwise, this must wait until I can ask some programmer friends how to do this :-(

[2018-02-01 13:24] putt1ck commented on #7278
The issue remains in 13RC4, symptoms identical but the error popup now reads "CSRF check not passed"

[2018-02-01 13:24] #8131 closed

[2018-02-01 13:38] putt1ck commented on #7278
Suggested fix: prevent dropping of folders to sub folders (as with trad file explorer software the accidental dropped in the wrong subfolder is one of the biggest sources of "my files have been lost" user reports)

[2018-02-01 14:07] putt1ck opened #8139 "13RC4 drag and drop folder to sub-folder partially fails"
Using FF58: drag and drop a folder from your preferred desktop file explorer. Drop folder on sub-folder in NC UI. Get a series of errors "CRSF check not passed" as each file upload is completed. Folder is created within the target sub-folder but not the files the dropped folder contained.

The files are not present in the server file system, but the upload process suggests they get transferred to

[2018-02-01 14:10] putt1ck commented on #8139
Issue can also be reproduced in Chromium 63.

[2018-02-01 14:37] cgzones opened #8140 "logging tab not working in syslog configuration"
### Steps to reproduce
1. switch to syslog logging
2. browse to the logging tab (index.php/settings/admin/logging)

### Expected behaviour
Show the logs

### Actual behaviour
Loading circle and php error (see below)

### Server configuration

**Operating system**: Debian

**Web server:** Apache2

**Database:** MariaDB

**PHP version:** 7.0

**Nextcloud version:** 12.0.5

**Updated from an older Ne

[2018-02-01 14:51] ArnaudTa opened #8141 "Incomplete .vcf file"
### Steps to reproduce
1. Upload a .vcf file on computer 1 via the nexcloud client
2. Wait for sync on computer 2
3. Compare the two files

### Expected behaviour
The file must have the same size

### Actual behaviour
The file on computer 2 is smaller than which on computer 1.
For example the original file is 815,9 Ko and the other is 431o
The smallest file contains only one VCard
It happens only

[2018-02-01 14:58] avanzella commented on #8041
I confirm using swift as primary storage.

[2018-02-01 15:02] rullzer commented on #8041
I don't have a test system with swift..... I'll see if I can come up with something. But it won't be this week I'm afraid.

[2018-02-01 15:04] Arvi89 commented on #8041
Well, the sooner the better, I still can't use my nextcloud storage, and I don't want to revert to 12.0.4 as I'm worried to lose data.
It takes 10 mins to install, I you don't do it I'll install you something on a vps later...

[2018-02-01 15:34] 9662 opened #8143 ""Out of range" error during database migration"
### Steps to reproduce
1. Find a 30Gb Nextcloud installation with a few thousand files and using SQLite as the database engine.
2. Decide that you are going to migrate that to MySQL.
3. Run something like `./occ db:convert-type --clear-schema --all-apps  mysql user host dbname`

### Expected behaviour
Conversion should proceed and complete successfully

### Actual behaviour
[code]

Indeed, on a my

[2018-02-01 15:42] juliushaertl commented on #7984
PR to clear the caches during update / occ maintenance:repair is in https://github.com/nextcloud/server/issues/7984

[2018-02-01 15:46] juliushaertl commented on #8133
I cannot reproduce that. @My1 can you try to clear the browser cache?

[2018-02-01 15:56] enoch85 commented on #8043
@MorrisJobke --^

[2018-02-01 16:10] MorrisJobke commented on #8043
Not likely. The RC4 is out and we don't accept any code anymore. And also there isn't even a solution available. Once this is there we can look into bring it to some release ;)

[2018-02-01 18:01] tdttester commented on #8041
I'm experiencing the same problem with the 12.0.5 update.
I'm using OpenStack Swift as primary storage too.

Also, I tried on a test environment to upgrade a 12.0.4 Nextcloud instance using OpenStack Swift as primary storage to the latest RC of NextCloud 13, and it has the same problem.

[2018-02-01 19:05] harryhb commented on #8041
I guess we should be looking towards the Openstack swift implementation as the root cause? I changed the title of this issue to reflect.

[2018-02-01 19:31] Rello commented on #7973
@BernhardPosselt OC depends on it - and I wanted to save the effort for 2 packages.
even NC Dev-Docu still explains it
https://docs.nextcloud.com/server/12/developer_manual/app/code_signing.html

anyway. two packages being created for both apps mentioned here...

[2018-02-01 20:12] loeffelpan commented on #7828
You are wrong. It is configured properly like described in the documentation. I checked that more than twice. I was in the forum before and it seem to be not an configuration issue.
https://help.nextcloud.com/t/rewrite-works-but-still-index-php-in-filelisting/24940

To describe again:
I the adress line of the browser never appears index.php - rewriting seems to work.
Just in the links of the file

[2018-02-01 20:38] rullzer commented on #6540
I just wrote a small app to help here:

Could you try:

1. cd apps
2.wget https://github.com/rullzer/appdatacleaner/releases/download/v1.0.0/appdatacleaner.tar.gz
3. tar -xzvf appdatacleaner.tar.gz
4. cd ..
5. ./occ app:enable appdatacleaner:
6. ./occ appdatacleaner:css
7. ./occ appdatacleaner:js
8. Go to your cloud in your browser and reload

[2018-02-01 20:38] rullzer commented on #8041
I just wrote a small app to help here:

Could you try:

1. cd apps
2.wget https://github.com/rullzer/appdatacleaner/releases/download/v1.0.0/appdatacleaner.tar.gz
3. tar -xzvf appdatacleaner.tar.gz
4. cd ..
5. ./occ app:enable appdatacleaner:
6. ./occ appdatacleaner:css
7. ./occ appdatacleaner:js
8. Go to your cloud in your browser and reload

[2018-02-01 20:41] rullzer commented on #8140
We should handle this more graceful (@icewind1991)

But we can't show the log if you use syslog.

[2018-02-01 20:57] MorrisJobke commented on #7828
On a lot of instances this is exactly how it works - `'htaccess.RewriteBase'` in config.php and then an `occ maintenance:update:htaccess` should do the trick. If you have a reverse proxy in front of this, then it also need to be configured correctly, but I can't see any problems with this config as it works exactly like that on many machines.

How does your setup look like?

[2018-02-01 23:11] Arvi89 commented on #8041
Did all that, it didnt fix the issue.

[2018-02-02 06:45] JSoko commented on #8133
Don't have that issue here under RC4...
![nextcloud](https://user-images.githubusercontent.com/5583290/35720232-09b4043c-07ed-11e8-91be-9ad0f6738969.jpg)

[2018-02-02 06:51] d0tfile commented on #8133
I don't have that issue too. Do you use custom theme? If yes, can you try with default?

[2018-02-02 08:26] testbird opened #8147 "server security: IP whitelist needed (NC and App installs and updates)"
Hoster decided to introduce a restrictive outbound firewalling policy, which will need a list of servers that need to be reachable permanently, or can be enable temporarily.

I expected the Nextcloud hosting requirements to contain the list of servers that the application needs to connect to for different purposes (i.e update checks and downloads for NC itself and installed apps, for app store bro

[2018-02-02 08:34] #6851 closed

[2018-02-02 08:39] MorrisJobke commented on #8147
Out of my head, those are the ones:

* updates: https://updates.nextcloud.com
* download of updates: https://download.nextcloud.com
* survey_client app (if enabled and to send the survey results to us): https://surveyserver.nextcloud.com
* sites, that are used to check if internet connectivity is available (on the admin page): https://www.nextcloud.com, https://www.google.com, https:///www.github.

[2018-02-02 08:40] MorrisJobke commented on #8147
@nickvergessen @rullzer @schiessle @blizzz Anything else?

@testbird And of course all the servers your users federate with (basically all other Nextcloud instances could be part of this list too)

[2018-02-02 08:55] testbird commented on #8147
Thank you, for looking up. I now added the updates and download urls to the test rig. Under +App there are now buttons. Unfortunately, enabling an app still failed with a download error. I looks downloads are done from something like an amazon AWS cluster.

I have tried to look that domain name up, but the I only get on IP that always changes, no ip list. :(

[2018-02-02 09:04] tflidd commented on #8147
What about the app store? apps.nextcloud.com

[2018-02-02 09:07] My1 commented on #8133
so I am finally at work. and well I dont really use a full-blown custom theme, I just used the "theming" addon to change the colors, and I noticed something in the devpanel:

![screenshot 347](https://user-images.githubusercontent.com/6696524/35725086-569bdc9e-0800-11e8-92d5-f4035e6e9634.png)

I have no Idea who put that `position:absolute` there for what reason but that's apparently the culprit b

[2018-02-02 09:19] juliushaertl commented on #8147
For apps page there are the following two as well:
- apps.nextcloud.com
- usercontent.apps.nextcloud.com

For the apps themselves it depends on where the app developers host their releases, so it could be basically anywhere, most of them on GitHub which is Amazon S3.

[2018-02-02 09:26] putt1ck opened #8148 "occ files:scan doesn't work correctly with group folders"
### Steps to reproduce (various, example)
1. On NC data server, navigate to a group folder and then create a folder
2. Run occ files:scan --all
3. Add files in web UI to new folder

### Expected behaviour
Tell us what should happen
New folder should be found and then act as if a new folder was created in web UI

### Actual behaviour
Tell us what happens instead
New folder is found, but has wrong p

[2018-02-02 09:31] putt1ck opened #8149 "files:scan to allow group folder selection"
When running occ files:scan you cannot choose to scan a group folder or group folders, leaving the only option of running --all. In addition it doesn't handle group folders well https://github.com/nextcloud/server/issues/8148

Ideally group folders should be a scan option, both all group folders and individual. This facility would be particularly useful when migrating content in from other systems

[2018-02-02 09:49] sporykhin commented on #6954
I have the same
If you copy files to the bucket via aws-cli you cant see them in NC, but if you create folders from S3 console - you can.
https://help.nextcloud.com/t/cant-see-files-copied-to-s3-bucket/26680

[2018-02-02 09:50] d0tfile commented on #8133
@My1,
![image](https://user-images.githubusercontent.com/4760202/35726900-82335cc6-0817-11e8-9dcf-34e4aca195f1.png)

[2018-02-02 10:19] nRaecheR commented on #6292
Same after update from 11.0.7 to 12.0.5 and disabling all unneeded plugins.

[2018-02-02 10:19] testbird commented on #8147
The online check failing would be listed in the "Security and setup warnings" on the /settings/admin page, right? It now says "All checks passed." (!) with just the NC servers allowed.

OK, yes, that seems to be the culprit. If I try to enable the Contacts app its github-production-release-asset.***.s3.amazoaws.com  It's outside of the published github ranges: https://api.github.com/meta , and loo

[2018-02-02 10:24] testbird commented on #8147
As the apps are said to be signed, and can be downloaded from apps.nextcloud.com directly, the only thing that is actually missing to solve the problem of the app installs would be an app package upload function.

Isn't (or wasn't) that available?

[2018-02-02 10:35] juliushaertl commented on #8147
In that case it will be the easiest if you just download the app and copy the extracted directory to the apps folder on your server. After that you can just enable the app.

[2018-02-02 10:50] nickvergessen commented on #8147
I think at the point of excluding amazon S3 the hoster can also stop adding this.
Most bad stuff is hosted there.

[2018-02-02 10:54] pieter-groeneweg commented on #7383
Wouldn't it be nice to be able to set a theme per trusted domain?

[2018-02-02 10:55] My1 commented on #8133
this is getting crazy. in chrome it works nicely. in opera even when I just disabled all extensions and Strg+F5'd the site the error persists, which obviously wouldnt make much sense since opera is basically chrome.

![screenshot 348](https://user-images.githubusercontent.com/6696524/35729691-d8ba33a6-080f-11e8-930f-e70e98e39e62.png)

[2018-02-02 11:09] My1 commented on #8133
you wont believe this but apparently the issue lies a level above.

`position:absolute`'s anchorpoints are as far as I remember the next higher non-`position:static` element.

the element above (`.apps-header`) has a css declearation of relative, which apparently get ignored for some reason by chrome and probably the other browsers as well, while opera does it straight and pushes the relative thro

[2018-02-02 11:11] juliushaertl commented on #7383
We discussed that in the past, I cannot find the issue right now, but that would be a lot of additional code paths that all need to be tested. Also it will make theming much more complicated, so I don't see this happen. :wink:

@rtheys Can you still reproduce the issue on 12.0.5?

[2018-02-02 11:15] maanloper opened #8154 "File share link still active after double delete"
### Steps to reproduce
1. Create a file or folder for a user.
2. Share this file using 'share link' (optionally set a password)
3. Delete file and also delete from deleted files.

### Expected behaviour
The link should give a message that the file is no longer shared or something along the lines.

### Actual behaviour
The link still works, even though you get a "file not found" error. When a passw

[2018-02-02 11:24] testbird commented on #8147
Yea, agree, not adding S3.
Thanks to all, I added a summary to the original text above.

Manually extracting to the apps folder then. A little cumbersome. An app package upload button could make this install and update process much easier of course.

[2018-02-02 11:26] #8154 closed

[2018-02-02 11:43] testbird commented on #8147
But now if you allow moving server clouds, it becomes your responsibility. That's the thing.

[2018-02-02 12:10] Greek64 commented on #6899
I too am getting Deadlock errors consistently by using the nextcloud client.

**Operating system:** Nextcloud Docker
**Nextcloud version:** 12.0.5
**PHP version:** 7.1.13
**Database:** MariaDB 10.2.12

I  have also enabled File Locking via Redis.

The interesting thing is, that when I try to find the root cause of the Deadlock, the mysql database has not detected any deadlocks.
Normally by executi

[2018-02-02 13:27] Wondercool opened #8157 "ERROR: ld.so: object '/usr/lib/arm-linux-gnueabihf/libarmmem.so' from /etc/ld.so.preload cannot be preloaded"
### Steps to reproduce
1. Install snap on raspberry pi
2. sudo snap install nextcloud
3.Examine daemon.log: every 1 sec this message appears:

Feb  2 13:07:21 charon nextcloud.mysql[24671]: ERROR: ld.so: object '/usr/lib/arm-linux-gnueabihf/libarmmem.so' from /etc/ld.so.preload cannot be preloaded (cannot open shared object file): ignored.
Feb  2 13:07:22 charon nextcloud.mysql[24671]: ERROR: ld.s

[2018-02-02 14:20] icewind1991 commented on #8120
Fix is here: https://github.com/nextcloud/server/pull/8158

[2018-02-02 15:23] jaydee99 commented on #6597
Hi,

Did anyone found a fix for this ?

Thanx !

[2018-02-02 15:58] StephaneCouturier opened #8159 "Update 12.0.4 -> 12.0.5 or 13.0.0.beta4: No more 3rdparty Apps from the store? support nc12"
Hi,
I have found this issue when updating from 12.0.4 to 12.0.5 and tried to update to 13.0.0.4beta to see if it corrects it, but it does not.

https://help.nextcloud.com/t/update-12-0-4-12-0-5-no-more-3rdparty-apps-from-the-store/26787?u=steph38

Thanks.

Nextcloud version (eg, 10.0.2): 12.0.5
Operating system and version (eg, Ubuntu 16.04): unknown linux - shared OVH web host
Apache or nginx ver

[2018-02-02 16:06] Isotop7 commented on #8129
Still no error logs but high load when cronjob is run:

![grafik](https://user-images.githubusercontent.com/8883656/35742663-6ce090e0-083b-11e8-97c7-654d8add03f7.png)

[2018-02-02 16:59] RussianNeuroMancer commented on #6028
Issue is gone after update to 12.0.5.

[2018-02-02 17:13] #7643 closed

[2018-02-02 18:23] loeffelpan commented on #7828
My configuration is to see in the first post:
Ubuntu Server, Apache, MySQL, PHP, no proxy, direct connection.
And it‘s exactly configured as you explain.

I would bet, that in your pretty configuration this issue is present, too.
Please go to the files app and copy or just hover a file or folder. In that link will appear index.php.
Clicking and open it will get the link in the adress line of my br

[2018-02-02 19:16] rullzer commented on #8047
I might have a fix in #8160. Please test if you can. It is against master but the cahnge is the same on 12 and 13 if I'm not mistaken.

[2018-02-02 20:10] LukeLR opened #8162 "External storage mount silently fails when http user has no rx access on folder"
### Steps to reproduce
1. Give the `http` user no `r` or no `x` permission on folder (with files within)
2. Mount that folder as local external storage on the admin interface
3. Check folder contents in nextcloud

### Expected behaviour
If either `r` or `x` permission is missing on that folder, nextcloud should log an error message and mark that external storage as "offline" (red)

### Actual beha

[2018-02-02 20:55] nunocatarino commented on #6597
Last update is fixed.

Em 02/02/2018 15:57, "jaydee99" <notifications@github.com> escreveu:

[2018-02-02 22:03] jaydee99 commented on #6597
If it's 12.0.5 it's not fixed for me

[2018-02-02 23:35] marcelstoer commented on #2737
What an ordeal! Just went through upgrading from 12.0.4 to 12.0.5 and got stuck with this as well.

Had to click "Retry" dozens of times, had to manually recreate (an empty) `core/shipped.json` a couple of times in the process and eventually the file integrity check failed because some images were missing (re-added them manually).

[2018-02-02 23:40] tcm300 commented on #2737
Huff, I did the same, and got a messy installation :-(.
The ressources folder was missing and most of the apps.
Manually coping helped but now I've issues with folder and filepermissions...
How can I fix permissions without SSH-console?

[2018-02-03 02:00] BetaLeaf opened #8164 "Pdf.js (PDF Viewer app) needs updating"
I'm on Nextcloud 12.05 running off the Hyper-V VM TechandMe provides. Pdf.js is out of date and as a result, PDF's created by OnlyOffice are messed up.

https://github.com/mozilla/pdf.js/issues/9428#issuecomment-362546528
https://github.com/ONLYOFFICE/onlyoffice-owncloud/issues/151

## Original Post:

I have an interesting issue. When I try to Save As PDF this same spreadsheet, there are issues re

[2018-02-03 02:04] BetaLeaf commented on #8164
I just realized this is the wrong spot to post this.

[2018-02-03 02:06] georgehrke commented on #7738
While sharing the enthusiasm for Vue.js, I wouldn't like to see us require developers to use it. The JS world is moving forward so quickly and we can't predict what's gonna happen in the future.

Just two or three years ago, Angular 1 was the future and nowadays it's barely getting any maintenance updates. Who guarantees us that Vue is still gonna be around in 3 or 4 years?

Therefore I would opt

[2018-02-03 08:01] johnramsden commented on #2737
It's just occurred to me on FreeBSD updating from 12.0.3 - 12.0.5. I've had the web updater fail every time I have tried it.

[code]

[2018-02-03 10:31] viking-frank commented on #8047
Hey,
Had the same Problem, also using ldap authentication. The patch from @weaselp fixed it for me.
(Also nextcloud 12.0.5)
Thanks a lot guys.

[2018-02-03 11:30] keremad opened #8166 "Contact fields not showing properly in Chrome and Opera"
### Steps to reproduce
1. Activate contacts and create some contacts with address, email, birthday and gender information, assigning them to (different) groups
2. Reload/Navigate to the contacts page
3. Click on a contact - fields are not shown fully or information is left out completely

Chrome version: see server config info
Opera version: 50.0.2762.67 (PGO)

### Expected behaviour
Opening the c

[2018-02-03 12:43] alanbo80 commented on #6597
Hello.

For me, updating to 12.0.5 fixed the issue.
Thanks a lot.

[2018-02-03 12:59] chigkim opened #8167 "Web Accessibility for Screen Reader Users"
It seems like a lot of controls can't be accessed by screen readers an keyboard.
For example, I can't open admin, profile, and other apps.
Tab and shift(or option)+tab should be able to focus on all the elements and enter to activate.
For Mac, you can test with VoiceOver command+f5.
For Windows, you can test with NVDA from nvaccess.org.
Could you look into this?
Thanks,

[2018-02-03 13:52] rullzer commented on #8157
Please submit to https://github.com/nextcloud/nextcloud-snap

[2018-02-03 13:52] #8157 closed

[2018-02-03 13:55] rullzer commented on #8166
Please submit to https://github.com/nextcloud/contacts

[2018-02-03 13:55] #8166 closed

[2018-02-03 13:55] rullzer commented on #8149
Please submit to https://github.com/nextcloud/groupfolders

[2018-02-03 13:55] #8149 closed

[2018-02-03 14:13] SteffenDE commented on #6540
![bildschirmfoto 2018-02-03 um 13 18 17](https://user-images.githubusercontent.com/4116351/35767072-e2fb825e-08e4-11e8-93a8-7bee524f2d1b.png)

I think I forgot to mention that we are using OpenStack ObjectStorage as primary storage in Nextcloud. I think your script @rullzer broke some css files as I got many `{\"Exception\":\"OpenCloud\\\\ObjectStore\\\\Exception\\\\ObjectNotFoundException\"` erro

[2018-02-03 14:18] rullzer commented on #6540
mmm I have don't get why that would happen. The app indeed removes all the generated css and js files. But that is what it is supposed to do. Your instance should regenerate them.

[2018-02-03 14:19] juliushaertl commented on #6540
I guess it's the same as in https://github.com/nextcloud/server/issues/8041

[2018-02-03 14:22] SteffenDE commented on #6540
@juliushaertl yep, that's it. Still doesn't explain why my css was screwed up after using the appdata cleaner.

[2018-02-03 16:07] Gymnae commented on #5289
This bug is still appearing in NC13 RC2 with contacts, talk (spreed) & decks.

[2018-02-03 16:31] dsfskdjfhksjahdf opened #8169 "NC Updater to 10.0.6 fails on step 2/27"
### Steps to reproduce
1. installed Nextcloud 10.0.1
2. run Updater from Admin Page, all clear,
2. run update from homepage or run php occ upgrade

### Expected behaviour
update should work

### Actual behaviour
console output:
7%OC\DB\MigrationException: An exception occurred while executing 'INSERT INTO `oc_oc_storages_gzpmwbjl2htbk` SELECT * FROM `oc_storages`':

SQLSTATE[23000]: Integrity cons

[2018-02-03 16:39] joewashear007 opened #8170 "Idea: Progressive Web App"
**Thank you for all your hard work, Nextcloud is great!**

Can we make Nextcloud a [progressive web app](https://developer.mozilla.org/en-US/Apps/Progressive)?

This is where the trend on the web seem to be going. A specific use case is for my dad who has a phone from work that is locked down from installing any apps, It would be nice for him to be able to "install" a PWA and use my hosted version

[2018-02-03 16:39] skjnldsv commented on #5289
@Gymnae please open a new issue with your config and log :)

[2018-02-03 17:17] dsfskdjfhksjahdf commented on #8169
Fixed myself by following this:

http://www.softwareprojects.com/resources/programming/t-how-to-fix-mysql-duplicate-entry-for-key-primary-o-1844.html

AND

manually editing the exported database-file to remove the duplicate entry before the reimport.

[2018-02-04 00:10] BetaLeaf commented on #8164
Apparently, they want me to report the issue here: https://github.com/nextcloud/appstore/issues/545#issuecomment-362788771

[2018-02-04 07:57] jgrete commented on #7521
Why is the "need info" label still attached?? What kind of additional info do you need?

[2018-02-04 08:23] mr-bolle opened #8171 "NC13 RC4 encryption - missing Users File Recovery Keys Option"
### Steps to reproduce
1. Enable server-side encryption
2. select Default encryption module
3. login and logout of the admin user

### Expected behaviour
After successful activation of the encryption, it was possible to create a recovery key. This possibility i can't find into the version 13 RC4 [NC documentation](https://docs.nextcloud.com/server/12/admin_manual/configuration_files/encryption_con

[2018-02-04 09:01] #8164 closed

[2018-02-04 12:17] vasyugan commented on #951
I see this error whenever I try to share a file via the desktop client
![grafik](https://user-images.githubusercontent.com/3313208/35777416-cad95bdc-09ad-11e8-825c-8f0279278d0f.png)

[2018-02-04 12:39] rullzer commented on #8171
@schiessle

[2018-02-04 12:44] olantrust commented on #4699
Presumably Group tags, unlike personal tags, *should* be displayed on search/type-ahead, even if not applied by the User (or any user).
Rationale: Administrator may want a set of tags designed for all users, and to ensure consistency.
Also, it's easier for tags to be chosen by a User from a pre-prepared list, easing workflow.

[2018-02-04 13:30] 3Dscrewer commented on #7640
Sorry for the delay.
I didn't know that there are several ways to bind the Host SMB/CIFS to Nextcloud and that there is no need to have Samba, smbclient, cifs-utils or something like that. Sorry for that.
I have done another clean setup and the problem still exists. No access to the full drive.
@enoch85 wrote to me there is php7.0-smbclient installed, so @icewind1991 you may probably have a differ

[2018-02-04 14:02] ziqingshi commented on #8065
@blizzz @icewind1991 @MorrisJobke @rullzer Thanks.

[2018-02-04 14:27] skjnldsv commented on #7738
Angular has been controversial from the beginning. Vue too, but the reactivity and quick migration of every dev on it quickly made things get serious. I see your point but I have trouble setting my mind on this. 😕

As I see it, we should create a similar system as apps. A folder where we could have every component of nextcloud in separate folders. Therefore, we could edit easily every part of the

[2018-02-04 15:08] ghost opened #8174 "[NC 12.0.5] in User Profil => Security - Some tooltips don't dissipear"
On Nextcloud 12.0.5 production with firefox 58.

Sometimes on the WEBUI in the user profil in the Security section, some tooltips indicating the time will not leave / disappear after the mouse has passed, even if the "session" has been removed.

![bug_capture d ecran_2018-02-04_16-00-58](https://user-images.githubusercontent.com/8572474/35778940-bd8a1a3a-09c5-11e8-8999-0fc2257706d6.png)

In this s

[2018-02-04 16:31] leoverdura commented on #8041
I'm experiencing the same issue. Nextcloud doesn't show any graphics in the web-ui but seems to work in the background. I'm still receiving sync messages for example.

See the screens below. All links to the graphics/theme disappeared somehow.

![grafik](https://user-images.githubusercontent.com/36133814/35779607-55050992-09d0-11e8-913e-4351c5a7784c.png)

![grafik](https://user-images.githubuserco

[2018-02-04 19:24] fakemoth commented on #7871
Just wanted to second the OP in this request - there should be a setting for this. BTW what is the current validity interval? Seems I can't find this info, and my invitations expired in a few days or so... And no way to resend them also?

[2018-02-05 00:11] ShaunMaher commented on #7919
@ibr123's solution above, modifying S3ObjectTrait.php, solved this issue for me.

[2018-02-05 03:38] n8v8R commented on #8115
after update to NC 12.0.5 it is not possible to log into NC. With the php-fpm server _running_ it shows

And with the php-fpm server _stopped_ it gets

@rullzer since the issue been created https://github.com/nextcloud/web-installer/issues/22 it seems not garnered any attention. Am I better off to move to another file-sharing platform?

[2018-02-05 06:03] mathiasconradt commented on #3039
@MorrisJobke Do you know why this app is not listed in the app store? Did the author just not submit it? Would be helpful if it's in the app store, because we get some requests from users that/why Dropbox connection isn't working.

[2018-02-05 07:12] tuxmaster opened #8176 "{PHP} fopen(): Filename cannot be empty error when click on settings/admin/logging"
### Steps to reproduce
1. log in
2. click on admin
3.select logging

### Expected behaviour
Open the nextcloud log

### Actual behaviour
Error in the php log

### Server configuration

**Operating system**: CentOS 7.4

**Web server:** Apache

**Database:** MariaDB

**PHP version:** 7.1

**Nextcloud version:**  12.0.5

**Updated from an older Nextcloud/ownCloud or fresh install:** upgrade from oc

[2018-02-05 07:55] ibr123 commented on #7919
@ShaunMaher glad I helped , if you installed NextCloud manually, and keep it that way it works, but if you try to do the same from "snap" installation you wont be able to make these modification, since will give you an error that you cant change system's files

[2018-02-05 08:10] MorrisJobke commented on #3039
Correct - it was not published to the app store yet

[2018-02-05 08:17] paour commented on #1274
This is one of the features I miss the most since migrating from Dropbox.

[2018-02-05 09:13] MorrisJobke commented on #5336
Let's link @jancborchardt's response in the [client repo](https://github.com/nextcloud/client/issues/158#issuecomment-362926764):

Here's the mockup for sharing, to combine users and links :)
![](https://cloud.nextcloud.com/s/rg3M3m7SYrW6gXg/preview)
https://cloud.nextcloud.com/s/rg3M3m7SYrW6gXg

[2018-02-05 09:36] DeRain commented on #6516
@NoFunk same issue here. I've user fuse for mounting s3 folder (because it's working pretty faster). Did you find solution for this?

[2018-02-05 10:40] #8047 closed

[2018-02-05 11:01] MorrisJobke commented on #8174
cc @nextcloud/designers @nextcloud/javascript

[2018-02-05 11:06] MorrisJobke commented on #8065
@ziqingshi Please stop pinging us. This is a community driven project and each of us has stuff to do and does the stuff which is on it's priority list at the top. Once we have the time we will write here. If you need timely answer maybe think about a support subscription.

[2018-02-05 11:07] MorrisJobke commented on #8170
This is already working like that mostly. (only the offline part is not working, but usually also not that helpful in our use case)

Just browse to that web page and then add it to your start screen. Then it is available without the browser controls and should work mostly. Obviously background photo upload will not work, but I don't  know if this would even be possible right from the browser.

[2018-02-05 11:08] MorrisJobke commented on #8167
@nextcloud/designers @jancborchardt Do you know who looked some months ago into accessibility things?

[2018-02-05 11:10] MorrisJobke commented on #8176
Duplicate of #8140

[2018-02-05 11:10] MorrisJobke commented on #8176
If you use syslog the build in log reader will not work, because there is no easy way to extract info from the sys log. We will enhance the view anyways to reflect this limitation properly.

[2018-02-05 11:10] #8176 closed

[2018-02-05 11:17] MorrisJobke commented on #7521
Currently we haven't had time to look into this. I will re-evaluate once I have a free time slot. Thanks for your help.

[2018-02-05 11:18] MorrisJobke commented on #8129
@Isotop7 Could you check the table `oc_jobs` in the database? What is in there?

[2018-02-05 11:38] tuxmaster commented on #8140
Then it will be better, to show an message about it instant to open an not existing file.
Because it will only result in php errors messages.

[2018-02-05 12:03] gradinaruvasile opened #8179 "Upgrade fails if the config dir contains config.php~ file"
### Steps to reproduce
1. Create config.php~
2. Try to upgrade
3.

### Expected behaviour
Upgrade works

### Actual behaviour
Upgrade fails

### Server configuration

**Operating system**:
Debian 9
**Web server:**
Apache 2.4.25
**Database:**
MariaDB
**PHP version:**
7.0.27
**Nextcloud version:** (see Nextcloud admin page)
12.0.5
**Updated from an older Nextcloud/ownCloud or fresh install:**
Update

[2018-02-05 12:03] gradinaruvasile commented on #8179
If i manually remove the file ending in ~ the upgrade  works.

[2018-02-05 12:06] coliff commented on #1425
+1 from me. Gravatar is incredibly popular, according to [article on Wikipedia](https://en.wikipedia.org/wiki/Gravatar) Gravatar was serving approximately 20 billions images per day - and that was back in 2010, I'm sure it must be even higher now.

Gravatar is used by hundreds or big name sites such as WordPress, Stackoverflow, Slack, GitHub etc. I think the best integration method (as used by the

[2018-02-05 12:08] Xemanth commented on #1472
Any progress on this matter? It would be excellent feature to view Nextcloud public link "folder" straight from Wordpress.

[2018-02-05 12:12] coliff opened #8180 "Invalid lang attribute on head element (should be en-GB, not en_GB)"
Currently the head tag for en-gb users is:
[code]

The lang attribute's value is invalid, it should be en-gb (with a dash), not en_gb (with an underscore).

See more at this page: https://www.w3.org/TR/selectors-3/#attribute-selectors

Currently Nextcloud is showing this as an error in the [Google Lighthouse](https://developers.google.com/web/tools/lighthouse/) Accessibility audit - so would be go

[2018-02-05 12:19] jgrete commented on #7521
OK, thank you very much. Both accounts mentioned are still open. If there are any information I could deliver, please tell me. We've planned to update to 12.0.5 within a few weeks. Maybe things will change then.
Regards
Jürgen

[2018-02-05 12:35] Toasterson commented on #6845
I was able to resolve this by manually updating the appconfig database with:
[code]

Please note that it is not nice for any webhosting setup if paths to php files which nned to be loaded are put into the Database. This paths belong into Code not Data. Otherwise it is almost impossible to migrate a Nextcloud Data between instances.

[2018-02-05 13:13] georgehrke commented on #7738
Don't get me wrong, I didnt mean to disapprove anything vue.js ;)
I would still like to see us provide vue.js components and I'm looking forward to using them in the calendar app.

We just have to be sure that we don't provide anything exclusively for vue.js and that we also keep well maintained plain javascript APIs :)

[2018-02-05 13:24] skerbis commented on #1472
@Xemanth or any other "real" CMS ;-)

[2018-02-05 13:48] My1 opened #8181 "Ability to Remove unneeded shipped apps"
One thing I have noticed which is a little bit annoying is that you cannot remove many if not all of the included addons, for example the First run wizard or the LDAP backend.

it would be awesome to be able to remove them so 1) some space can be freed up 2) the list of installed addons is getting a bit tidier.

[2018-02-05 14:53] skjnldsv commented on #8167
@pixelipo @MorrisJobke I would love to work on this and create a list of the accessibility stuff needed to be done! I already started to work on this with mobile/tablet/desktop rewriting and Contrast issue, I would mind creating a big issue with multiple pr fixing everything ! This needs to be done :)

[2018-02-05 15:35] phlixi opened #8185 "Thunderbird constantly Reminds all Alarms since updating Nextcloud"
### Steps to reproduce
1. create a new user in nextcloud (in this example i use "caltestacc")
2. make a new calendar (in this example "cal1")
3. install thunderbird
4. subscribe to "cal1" in my case, i take the displayed url:
https://nc.example.com/remote.php/dav/calendars/caltestacc/cal1/
...which you get by clicking on the "..." in the web ui
(except i obviously use something different than "exa

[2018-02-05 16:17] Spartachetto commented on #8105
I think this is related to the discussion in https://github.com/nextcloud/files_texteditor/issues/15 .

If you read the comment of @tYYGH on 23 Nov 2017, a part of the solution could be a "mime type handler selector"

[2018-02-05 16:48] Cybso opened #8186 "Change default permissions on sharebymail"
Please modify ShareByMailProvider.php to ignore 'permissions' for new shares but use PERMISSION_READ by default (method "createMailShare"), or add a configuration option to define a umask for new permissions.

The current behaviour is really unexpected (and possible dangerous) for users that are accustomed with other file sharing services like Dropbox or Google Drive. With this simple change the u

[2018-02-05 17:38] rmufr commented on #7269
I reproduce the exact same issue as @ArnisR , on my home NC server [v12.0.5.3, stable channels updates since NC10], HW is a Raspberry PI3. Stack Nginx, MariaDB 10.1.23 , PHP7.0
Number of preview folders : ~20000.
Almost all images/videos are under the same user.
Upload / Sync freezes after the file is actually uploaded, but the client is not aware and runs into a time-out.
After that the uploaded

[2018-02-05 17:45] MorrisJobke commented on #8181
It's only a few KB or some MB (server is in total 40 MB)

You need to do that on every update because those apps are shipped with the server and would be added again on every update.

I would avoid doing this, because the benefit is really low and the needed code is quite a lot. Also if you really want to do it: delete them from the apps folder after the install process. But be aware, that the cod

[2018-02-05 18:39] arnowelzel commented on #3602
The problem still exists with NextCloud 12.0.5.

Why not just putting `@` in front of it to avoid error messages as it is done with `apc_delete_file()`, `apc_clear_cache()` etc. as well? If the function can't be called due to restrictions, it makes no sense to get those errors in the logs and if you want to handle the error you should have to check the result anyway:

[code]

and there is another

[2018-02-05 18:39] rubrik commented on #7965
Still in RC4. @tflidd how can I get you more information?

[2018-02-05 18:45] Arvi89 commented on #8041
Yep, that's the issue. But it doesn't seem to worry the team more than that, which is weird as it makes the instance unusable.

[2018-02-05 18:57] mcteefax commented on #8089
The file still isn't updated after reload. Same after Logout-Login.

Sory for the late answer.

[2018-02-05 20:57] dachinat opened #8189 "Text is not generated along avatar in NC 13.0.0 RC 4"
### Steps to reproduce
Install 12.0.0 from https://download.nextcloud.com/server/releases on CentOS 7 with PHP 7.1.13

Packages that I have installed along PHP are

Update to NC 13.0.0 RC 4 via web based updater.

Go to settings and update your Full name

Avatar (circle) will change colour but it won't have any letters.

Error log will include:

### Expected behaviour

Avatar should get updated wi

[2018-02-05 21:39] schiessle commented on #8171
I can reproduce it and will have a look

[2018-02-05 21:41] schiessle commented on #8171
Ah, OK... You set up encryption from scratch, right? We use by default the master key now, in this case no recovery key is needed. If you switch to per-user-keys via occ or upgrade from a older version with encryption enabled the option is still there.

[2018-02-05 21:41] #8171 closed

[2018-02-05 21:45] schiessle opened #8190 "occ broken on Nextcloud 13 rc 4"
If I try to run the occ command on Nextcloud 13 RC4 I get:

[code]

[2018-02-05 21:47] #8190 closed

[2018-02-05 22:09] te-online commented on #8007
@nickvergessen Thanks for the response! I'm grateful you prepared everything so nicely for me to take over. But I'm sorry, I won't have the time to implement reading, parsing and validating against the XML file in the next weeks. So in a few minutes, I could very quickly add the fields to the array in the code you linked to earlier. However, to be honest, if you have time just go for it and implem

[2018-02-06 02:04] HandsomeBoby opened #8191 "On the Gallery page, uploading the same file with a completely different prompt box, choosing to keep the new and old files, the Continue button is not available"
### Steps to reproduce
1.Open the Gallery application and upload an image
2.Upload the same image file again, a dialog box will pop up for file differences
3.Choose to keep new files and old files, click the Continue button below does not reflect

### Expected behaviour
Tell us what should happen
Click to upload, as the list of files upload difference file
![nextcloud](https://user-images.githubus

[2018-02-06 03:59] HandsomeBoby commented on #8191
@blizzz @mnutt  Thanks.

[2018-02-06 07:41] Dennis1993 commented on #7652
In 12.0.5 the problem is solved with my iPhone SE! :D
Thanks!

[2018-02-06 07:41] #7652 closed

[2018-02-06 08:26] Isotop7 commented on #8129
@MorrisJobke
[code]

[2018-02-06 08:38] tflidd commented on #7965
Since the specific error is not known, the server error logs or php error logs (check their configuration where logs are put and which log levels are set) should be considered as well.

[2018-02-06 08:56] io-node opened #8192 "Default layout of 13.0.0 not as 12.0.5, displaced and unorganised"
### Steps to reproduce
1. Existing NC on 12.0.5
2. Upgrade to 13.0.0
3. Disable any theme

### Expected behaviour
Layout of folder page should be the same

![image](https://user-images.githubusercontent.com/2435859/35849583-082de8b4-0b1a-11e8-9f16-e732afcdac97.png)

### Actual behaviour
- Gallery icon moved to the left and not in line with the "+" icon
- Extra spacing on each folder line
- Folder

[2018-02-06 09:16] magentaco commented on #8081
I did not find associated information in the logs, however, after applying #8177 it works as expected and the share_folder contains .
In my environment this helped on v12.0.5 and v13.0.0

Changes to  lib/private/Files/Cache/Wrapper/CacheJail.php
	 */
 	public function getPathById($id) {
 		$path = $this->getCache()->getPathById($id);
 *+		if ($path === null) {
 *+			return null;
 *+		}
 *+
 		retu

[2018-02-06 09:25] avilkin commented on #5247
Hm. I have the same problem after upgrading from 11 to 12.
I removed second and third strings from "description" tag in info.xml file, and, after which "file-sharing" was enabled without any errors. After that I had trying delete only "line breaks" in "description" and got error again. And finally, I reduced the number of characters (just deleting last sentence "More information...") and error gon

[2018-02-06 10:19] MorrisJobke commented on #8081
Duplicate of #8047

[2018-02-06 10:19] #8081 closed

[2018-02-06 10:29] karlitschek commented on #8181
In theory I agree. The actual zip should be as small as possible. But core functionality has to be in the zip file. The first run wizard is a good example. I'm also not sure if the benefit is soo big that is justifies restructuring everything. But good idea in the long term

[2018-02-06 10:54] My1 opened #8193 "Feature Request: allow Showing description in app lists"
in the list-style app lists you have no way to see the descriptions which seems kinda annoying, especially when you have plugins with names like "versions" (versions of WHAT? files, nextcloud itself, whatever) that seem kkinda ambiguous, or you just want to know what this thing exactly can do, and as a "show description" link does exist for example in the thumbnail-style category lists, it's kinda

[2018-02-06 10:59] BornToBeRoot opened #8194 "NC12/13 - Time "in a few seconds" is wrong"
Change "in a few seconds"  to "a few seconds ago" ?

![image](https://user-images.githubusercontent.com/16019165/35855772-5e4516fe-0b34-11e8-9ebc-af5cc4a49571.png)

This statement is wrong since the event occurred in the past.

[2018-02-06 11:03] My1 commented on #8181
well true, the discussion about "what is core" will be a thing, and one Idea that could be done would be

a) marking the apps that arent totally needed as optional, and let the user decide right there what is needed (similar to what some other CMS installers can do)

b) on update, if a certain optional app is there, update it, if it isnt, then dont.

some of the applications I would consider absol

[2018-02-06 11:22] MorrisJobke commented on #8193
Duplicate of #4827 which was closed in favour of #2138

[2018-02-06 11:22] #8193 closed

[2018-02-06 11:24] MorrisJobke commented on #8192
Looks like another CSS cache issue:

Try to do this https://github.com/nextcloud/server/issues/8043#issuecomment-360776226:

* rm -r data/appdata_/css/
* occ files:scan-app-data
* reload the page

I will close this as a duplicate of #8043 and we also plan to provide a repair step that fixes it.

cc @nextcloud/theming @juliushaertl  @skjnldsv

[2018-02-06 11:24] #8192 closed

[2018-02-06 11:27] MorrisJobke commented on #8181
That's easier said than done, because then we need to put more logic into the updater to determine what to extract and what not. This is a lot of logic I really try to avoid, because code that is not there could not break. And the benefit of saving some hundert kilobytes in trade for a lot of potential bugs during update is something I don't want to accept.

Those two apps are an example of what o