[2016-10-04 19:01] znerol commented on #1603
I'm trying to come up with a reproducible setup (using the Nexcloud VM and the Emulator included in the Sailfish SDK), but I'm not there yet, i.e., everything which follows is pure speculation.

That's actually what I was thinking also. Maybe the cookie storage is shared with the web-browser. That might spoil every subsequent API request.

Taking this thought a bit further I attempted to strip the

[2016-10-04 19:15] znerol commented on #1603
Another thing we could try is to just issue a temporary redirect (i.e., HTTP status 302 or 307 instead of 503) when the same-site cookies need to be set in the client.

[2016-10-04 19:42] znerol commented on #1603
Regarding cookies on `remote.php`:

[code]

Not sure, maybe this is due to the auto-login feature of the demo installation?

[2016-10-04 19:48] LukasReschke commented on #1603
This is at the moment the expected behaviour since our sync clients rely on cookies for authentication. (since authenticating using Basic Auth is CPU expensive) - That may get changed with a Bearer Token in the future.

[2016-10-04 20:16] znerol commented on #1603
Playing with `cadaver` now in order to better understand the behavior. I use an stunnel directing 127.0.0.1:80 to demo.nextcloud.com:443 that makes it easy to capture the traffic.

[code]

[code]

Then point `demo.nextcloud.com` to `127.0.0.1` in `/etc/hosts` such that `cadaver` uses the proper `Host` HTTP header. Then capture using `tcpdump` on the local loopback interface on port 80.

Interestin

[2016-10-04 22:39] mightyBroccoli commented on #375
I am not sure if my issue fits the topic but in my case I would like to encrypt an external source like Google Drive but not everything else, so I can maintain my data security even though using external storage space.

[2016-10-05 06:52] rullzer commented on #1615
Just to add my €0,02

I don't think we should add registration on the login page. If you have a slightly bigger instance you want to use LDAP anyway and we can't automatically register new users with LDAP (nor do we want to open that can of worms).

What maybe would make sense is to allow apps to inject a link/content on the login page. So the registration page could add a 'register now!' type of

[2016-10-05 06:59] nickvergessen commented on #1612
We didn't make any modifications to the IMAP handling, so this should all be the same as with ownCloud.

So does the modification from https://github.com/owncloud/apps/pull/2093/files fix the issue? Or is it not related to this issue? Or are you using this and that is why it breaks?

[2016-10-05 07:01] nickvergessen commented on #1604
Well we have been promoting updates through all of those channels. Nothing more we can do, and as said was fixed with the current cycle, so notifications will be done for the next releases.

[2016-10-05 07:07] klm46 commented on #1620
Do you need any further information? I only ask because of teh flag. Cheers

[2016-10-05 07:55] nickvergessen commented on #1607
Worked quite fine here with a contact I created on my phone:
`curl -v http://localhost/remote.php/dav/addressbooks/users/admin/contacts/ba3943d3-b3a4-422e-a477-3219d2d6befc.vcf -u admin:admin`

Also the Download button in the contacts app works for me: ⬇️ in the right part of the contact header.

[2016-10-05 08:00] nickvergessen commented on #1620
Any error in the browser console? You can open that with `F12`. Then refresh the page.
I suspect the problem being caused by a JS error, because both, the loading of the first-run-wizard as well as the loading of the file list is done via javascript.
LDAP authentication should be unrelated.

[2016-10-05 08:03] nickvergessen commented on #1611
The problem is, that a change in the share information, and favoriting/commenting does not change the etag... Therefor you would then need to do a hard refresh to see if something changed....

[2016-10-05 08:08] dajusc commented on #1604
@nickvergessen I think you did everything completely right. Bugs happen, and you handled and communicated this one well. Thx!

@Icantcodeatall Thank you too for reporting this issue! This thread saved me quite some time, searching for a solution myself. :)

[2016-10-05 09:11] allofmex commented on #1607
![nextcloud_carddav](https://cloud.githubusercontent.com/assets/22577004/19107367/25f24890-8aec-11e6-9c73-ecfd7e872647.png)
The download button reports different uid than url and carddav response!

[2016-10-05 09:16] klm46 commented on #1620
You are right! It`s not an LDAP-Issue. I just createt an DB-User, and the same issue.

Here is the Screenshot from the Konsole-Output of IE11.
![ie11_first_login](https://cloud.githubusercontent.com/assets/7510750/19107570/2db20f06-8aed-11e6-87a9-3d796ca0d0ca.png)

[2016-10-05 09:21] nickvergessen commented on #1620
@MorrisJobke any idea?

[2016-10-05 09:22] nickvergessen opened #1623 "Can not go back from the files list anymore"
### Steps to reproduce
1. Open activity app or settings or ...
2. Open files app
3. Hit the "back" button of your browser multiple times
### Expected behaviour

Should be activity again
### Actual behaviour

Staying on the files app

The problem is, that you have to "jump over" the `http://localhost/index.php/apps/files/` step. However, that one always pushes a new entry `http://localhost/index.ph

[2016-10-05 09:33] oparoz commented on #1611
Well, we could still refresh the page like we do now, but just not get the list of files if we know things haven't changed. I'm not sure how it works in the back-end. I'm assuming you can do partial retrieval of data if a comment has been added per example.

[2016-10-05 09:33] nickvergessen commented on #1607
Well you must use the url that is specified by the parent.
So you should first make a propfind request on the parent:
`curl -X PROPFIND http://localhost/remote.php/dav/addressbooks/users/allofmex/default -u allofmex:<yourpassword>`
The response contains the `href` where you can download the full vcard:
[code]

In my case above it's:
[code]
So `http://locahost/remote.php/dav/addressbooks/users/admi

[2016-10-05 09:33] #1607 closed

[2016-10-05 09:39] oparoz commented on #1615
The login button is back! Yes, please! ;) But I would not make it look like a field, I think a shorter button would work better.
Since the background is less than a 100Kb, I don't think it's much of an issue, especially since we can easily remove it. What I'd like to see though is support for patterns. Those are even smaller and often sufficient to add some depth to a bland login page.

[2016-10-05 11:27] modules opened #1625 "Unshare remote owncloud directory"
### Steps to reproduce
1. Adding a remote share from owncloud   via "add to your Xcloud"
2. Share is available now
3. Remove share  via "Unshare" action
### Expected behaviour

Remote share should be removed from my local instance
### Actual behaviour

An error message shows up "Error deleting file "XXXX" and the folder is still present.
### Server configuration

**Operating system**: Debian jessi

[2016-10-05 11:34] rullzer opened #1626 "Slow DB tests to fix"
CC: @LukasReschke

[code]

[2016-10-05 11:39] LukasReschke commented on #1626
So 26mins to run the etagpropagation tests alone? Awesome…

[2016-10-05 11:42] LukasReschke commented on #1626
And another 13 minutes for SharedMountTest 🙈

[2016-10-05 12:35] TimothyXL opened #1628 "When logged in with the "stay logged in" option the logout button refers to 127.0.0.1:8080"
### Steps to reproduce
1. Go to your nextcloud install (e.g. nextcloud.tmtvl.info)
2. Check "stay logged in" and log in
3. Click your profile pic and select "logout"

### Expected behaviour
Tell us what should happen

I should be logged out and directed to the nextcloud homepage.

### Actual behaviour
Tell us what happens instead

I am sent to 127.0.0.1:8080/[...]

### Server configuration
**Opera

[2016-10-05 14:47] nickvergessen commented on #1628
You're `overwrite.cli.url` is not in `trusted_domains`, that might already be the issue.

[2016-10-05 15:07] TimothyXL commented on #1628
Whoops, added it in.

Unfortunately it didn't solve the problem, though it should help keep the log clean.

[2016-10-05 15:27] xshadow commented on #1612
The modfication does not fix the issue. We used this in owncloud and now in Nextcloud to restrict the the imap logins to a specific imap domain. But it could cause the problem.

If you enable IMAP auth for a specific mailserver such as mail.allmydomains.com. Every domain that is hosted on the mail server could access the cloud space.

If you want to enable just one domain ( cloudusers.com ), you h

[2016-10-05 15:44] MorrisJobke commented on #1448
Usually it should close the sidebar:

1. call to `changeDirectory()` https://github.com/nextcloud/server/blob/d623763aac3c1c4c0480f0d3ca7182dd2eb68357/apps/files/js/gotoplugin.js#L44-L44
2. that calls the `reload()` method: https://github.com/nextcloud/server/blob/0ecaf8e6023622393090c1f2ff4c728c96eb2718/apps/files/js/filelist.js#L1401-L1401
3. that then closes the sidebar: https://github.com/next

[2016-10-05 15:58] MorrisJobke commented on #1448
In this case following block is executed: https://github.com/nextcloud/server/blob/0ecaf8e6023622393090c1f2ff4c728c96eb2718/apps/files/js/filelist.js#L490-L496

[2016-10-05 15:59] MorrisJobke commented on #1448
I just noticed that the sidebar element with the id `sidebar` exists twice. Let me check where this wrong element is added.

[2016-10-05 15:59] Micha-Btz commented on #1506
for me it is solved with deleting the contact birthday calendar.
and let it create new with ./occ dav:sync-birthday-calendar.

[2016-10-05 16:07] MorrisJobke commented on #1448
The element gets added when this line is executed: https://github.com/nextcloud/server/blob/581227324a8510688c40e9effc8b2fe6a355eba1/apps/files/js/navigation.js#L106-L106

[2016-10-05 16:21] MorrisJobke commented on #1448
The detailsview is added a second time here: https://github.com/nextcloud/server/blob/0ecaf8e6023622393090c1f2ff4c728c96eb2718/apps/files/js/filelist.js#L261-L261

I think the detailsview should be destroyed on all changes between those different views.

[2016-10-05 16:22] MorrisJobke commented on #1448
It looks like it is done, but somehow there is an issue in this: https://github.com/nextcloud/server/blob/0ecaf8e6023622393090c1f2ff4c728c96eb2718/apps/files/js/filelist.js#L355-L355

[2016-10-05 16:25] ccoenen commented on #1437
Me too.

[2016-10-05 16:28] ccoenen commented on #1437
I solved this by unzipping the apps manually in the `apps/` directory.

[2016-10-05 16:31] MorrisJobke commented on #1448
That's all I debugged - sorry I'm out - somehow the destroy method needs to be called to properly clean this up, but I have no proper insights into this to fix it. Maybe someone from @nextcloud/javascript could help out here :=

[2016-10-05 17:06] #1466 closed

[2016-10-05 17:44] MorrisJobke commented on #1620
I have seen this too - I will look into this once my laptop is back (there I have some IE virtual boxes)

[2016-10-05 18:02] juliushaertl commented on #1414
@StephaneDupont Thanks for your feature request.

This is definitely something I'd like to add.

[2016-10-05 18:05] juliushaertl commented on #1360
@fulljackz Thanks for your feature request. This is something for @nextcloud/designers to discuss.

I guess this would only work on the public upload with hidden file listing, if there is a file listing the background is distracting to much from the content.

[2016-10-05 18:06] juliushaertl commented on #1360
@fulljackz I guess you meant those two screens, right?

![2016-10-05-200537_953x461_scrot](https://cloud.githubusercontent.com/assets/3404133/19125386/23885554-8b37-11e6-96cd-9b2292426188.png)

![2016-10-05-200618_957x327_scrot](https://cloud.githubusercontent.com/assets/3404133/19125412/39fd924a-8b37-11e6-8a1a-202ed8a5e1b8.png)

[2016-10-05 18:07] janw-oostendorp opened #1631 "OC class does not appear to be present"
### Steps to reproduce
1. Freshly installed 10.0.1
2. upload a file via the web interface
3. web interface gives a *Internal Server Error*

### Expected behaviour
A file upload

### Actual behaviour
An error, In the nginx log I found:
_FastCGI sent in stderr: "PHP message: PHP Fatal error:  Uncaught Error: Class 'OC' not found in /var/www/nextcloud/apps/files/ajax/upload.php:37_

## Finding the cl

[2016-10-05 18:19] nursoda commented on #1506
Good to know there's a workaround. The bug is about proper deletion, though. Not sure whether triggering both "delete all birthday calendars" and "./occ dav:sync-birthday-calendar" is is a safe solution.

Another way to solve it could be to provide a selection mechanism for contacts (which is a good idea for other tasks, too, such as putting many contacts in a group, or exporting them) so that use

[2016-10-05 18:21] LukasReschke commented on #1631
Please make sure to check your NGINX config or disable pretty URLs. This class does exist in base.php which offloads all requests and this is pretty certainly a configuration issue. (also search for lower-case "class")

=> https://help.nextcloud.com would be a better suited place

[2016-10-05 18:21] #1631 closed

[2016-10-05 20:13] tessus commented on #1537
Yep, the contacts app is a mess. I opened an issue https://github.com/owncloud/contacts/issues/435, where I explained the problems, but guess what. It was closed and all my valid points ignored.

This is one of the reasons why I still use oc 8.2.7. I can't afford to screw up my contacts. Otherwise I would have migrated to oc 9.x (back then) or nextcloud (now) a long time ago.

[2016-10-05 20:22] janw-oostendorp commented on #1631
Of course case insensitive . Yes it is defined twice.
I'll check the other ticket. or the help afterwards

[code]

[2016-10-06 05:32] Vaultpls opened #1632 "Remote.PHP/CalDAV does not send HTTP Status Header"
### Steps to reproduce
1. I don't know how
### Expected behaviour

When signing in with a client that is not part of the Nextcloud applications like DAVdroid, it should sign in.
### Actual behaviour

DAVdroid isn't able to connect due to Status Header not being sent as "0".
### Server configuration

**Operating system**: Linux

**Web server:** Caddy

**Database:** SQLite

**PHP version:** 7.0

**N

[2016-10-06 07:28] t2d commented on #1612
I believe the problem is a different one.  If you apply https://github.com/owncloud/apps/pull/2166 oc/nc put the user in the database only with the username without domain part. So the user can login through the webinterface with t2d@example.org or only t2d.
However, the caldav/carddav/desktop client connector are blind to this.
But, it used to work differently in oc9. So maybe the carddav/caldav

[2016-10-06 07:36] MorrisJobke commented on #136
#1306 is merged

[2016-10-06 07:36] #136 closed

[2016-10-06 07:36] MorrisJobke commented on #136
@rullzer Could you add the documentation for this?

[2016-10-06 07:51] corwin78 commented on #1437
The same issue NC10.0.1, Ubuntu server 16.04.1 64bit - after upgrade from NC 10.0 all applications disabled themselves, and can't be enabled again, with error message mentioned in this bug. Manually installed apps are working correctly.

[2016-10-06 09:19] fulljackz commented on #1360
Yep, you are right.

I meant the public upload page, like on the first screen.

[2016-10-06 10:31] Django-BOfH commented on #1445
I'm using nextcloud 10.0.1 (stable)
I've clones the required repo:
`git clone https://github.com/nextcloud/files_antivirus.git files_antivirus`

After looking about my new app, I recedive this error message:

**Diese App kann nicht installiert werden, weil die folgenden Abhängigkeiten nicht erfüllt sind:
Server version 11 or higher is required.**

What now? Is it possible to use files_antivirus-1.

[2016-10-06 12:16] nutzmdm opened #1639 "Unable to access public shared link"
Trying to access folder shared by public link result in an error page.

### Steps to reproduce
1. Share folder
2. Send sharing link to any contact
3. when this contact try to open nextcloud page he's advised of an error on server

### Expected behaviour
Tell us what should happen

### Actual behaviour
Tell us what happens instead

### Server configuration
**Operating system**:
Debian 8
**Web serve

[2016-10-06 12:27] nickvergessen commented on #1445
You need to `git checkout stable10`
As mentioned above, master is for nextcloud master, not nextcloud 10

[2016-10-06 12:35] jancborchardt commented on #1061
Fixed by #1229, awesome @raghunayyar! :)

[2016-10-06 12:35] #1061 closed

[2016-10-06 12:53] myzpat commented on #1570
Hi like 'refresher' I have the same issue. Both with 1.1.6 and today with 1.1.7.

the error message is: Client error response [url] https://apps.owncloud.com/CONTENT/content-files/174727-richdocuments.zip [status code] 400 [reason phrase] Bad Request

Thank you

Pat

[2016-10-06 13:53] MorrisJobke commented on #883
Fixes via #1561

[2016-10-06 13:53] #883 closed

[2016-10-06 14:56] tcitworld commented on #1600
This is only doable easily if users belong to a group (eg. group « users »).

[2016-10-06 14:57] jancborchardt commented on #1615
Please review the brought back log in button: https://github.com/nextcloud/server/pull/1641

[2016-10-06 15:05] jancborchardt commented on #1360
Yeah, it would be too distracting to have the full background there. It’s too much crucial text info there.

On the log in and installation page it’s fine because we have lots of big text and white input boxes. But anywhere else all info must be perfectly readable, so we keep it for uploading the same as for the folder view. :)

[2016-10-06 15:05] #1360 closed

[2016-10-06 15:08] tcitworld commented on #1632
Can you give the full DAVdroid logs ?

[2016-10-06 15:58] tcitworld opened #1642 "Better calendars (CalDAV) integration into NC"
A few ideas here :
- [x] Send emails for reminders (`VALARM : EMAIL` see https://github.com/owncloud/core/issues/22734)
  I've started work on this by using a hook when a calendarobject is created/updated/deleted and looking for VALARMs in the `$calendarData`. In that case, we can save the reminder in a dedicated table and run a background job that takes care of sending the emails when it's time
-

[2016-10-06 17:22] eppfel commented on #1360
I think the problem is not, whether to use a wallpaper or not. There is too much non-crucial text and everything is squeezed in the middle of the screen. Public activities are for people outside of your infrastructure, heck they even have no idea what nextcloud is.

I feel this needs revising. More than other aspects of nextcloud.

[2016-10-06 17:34] rullzer commented on #1639
We are going to need some more info here.

What do the logs tell you?
Does the link look good?
Do you send the link via nextcloud or use your own mail client?

[2016-10-06 17:45] rullzer commented on #1611
We use webdav now. So we can just do etag magic. Which might be a ton of fun in javascript ...

But as @nickvergessen points out not all info will be updated then. And we currently (besides polling) have no way to get notified about new comments or shares. Of course we could still fire off a request in the background. And rerender stuff as needed. But that to will be a major rewrite.

[2016-10-06 17:52] rullzer commented on #1529
I'll double check. it should.

[2016-10-06 18:57] Vaultpls commented on #1632
[davdroid-debug1535759906.txt](https://github.com/nextcloud/server/files/514596/davdroid-debug1535759906.txt)

[2016-10-06 19:13] Espina2 commented on #1360
@fulljackz you talking to have something similar to wetransfer?

https://www.wetransfer.com/

I totally agree with this.

[2016-10-06 19:16] Espina2 commented on #1360
@eppfel I think its not problem that the people dont know, because what matters is the file not the application who are delivering the file. You know what I mean? For sure we can make this look better and more "Nextcloud" but in the end what matter is the file.

[2016-10-06 19:45] jancborchardt commented on #1360
@eppfel what do you mean exactly by this? This is something we recently designed so I’m interested in your take (also that of @Espina2).
- The footer in the screenshot is of course very close to the content because it’s a small screen size. Normally it floats on the bottom.
- We chose to have the avatar very present to make it visual and provide context who you send files to. Maybe when there’s no

[2016-10-06 21:14] rfc2822 commented on #1632
Which bugs do you mean?

[2016-10-07 06:48] MorrisJobke commented on #1626
Or we check if those tests are covered by the integration tests - because this looks like being so

[2016-10-07 07:00] rullzer commented on #1626
@MorrisJobke yeah that also works ;)

[2016-10-07 07:50] MorrisJobke commented on #1588
At least my issue is fixed with #1595 - @blizzz Could you give the patch a try - because you also reported this ;)

[2016-10-07 07:50] #1588 closed

[2016-10-07 08:03] nickvergessen commented on #1642
Well let me split this up:
1 and 2 are to be implemented in the dav app
3 however needs to be part of the calendar app
4 "upcoming events" is nothing the activity app can take care of. activity app is more of a "timeline" and therefor a backwards view. I'm currently working on activities for calendar creation/update/deletion/share and the same for events. However an "upcoming" view should be more

[2016-10-07 08:05] nickvergessen commented on #1642
One more note about 1+2:

Once we have the notification API implemented on the phone, this will be really annoying. Because most people have their calendars also on their phone, you will get multiple system notifications for the same event (one from nextcloud, one from your calendar app)?

[2016-10-07 09:07] tcitworld commented on #1642
My idea was that the sound would be played even if you're currently not using the calendar app, therefore I was thinking expanding the possibilities of the notification app for this.

It comes with FullCalendar 3, so this should come soon. Happy to know calendar actions will be handled by the activities app.

I don't know what you're talking about. The notifications from nextcloud will be synced t

[2016-10-07 09:24] tcitworld commented on #1632
I got my own instance and a few more of my users have had trouble to connect this month. Couldn't get to have more informations however, sorry.

[2016-10-07 09:33] MorrisJobke commented on #1639
Could you open the link or is it also broken for you?

[2016-10-07 09:37] MorrisJobke commented on #169
@githubos1 Please reopen this if the file permissions are correct and the issue still exists. I will close this for now.

[2016-10-07 09:37] #169 closed

[2016-10-07 10:10] nickvergessen commented on #1632
Can you try remote.php/dav/calendars/<username> instead?

[2016-10-07 10:15] MorrisJobke opened #1652 "Storage wrapper warnings"
I see following two warnings in the logs:

[code]

They are added in https://github.com/owncloud/core/pull/24335

They are registered in https://github.com/nextcloud/server/blob/0215b004da6af887b3e3efa28c425d41a1c76b9b/apps/files_sharing/ajax/shareinfo.php#L66 and https://github.com/nextcloud/server/blob/1fef5d3d06752f1a2a686681ae81fd13d88e535a/apps/dav/appinfo/v1/publicwebdav.php#L79

I talked wi

[2016-10-07 10:16] nickvergessen opened #1653 "Can not delete group shared calendars (and addressbooks I guess)"
### Steps to reproduce
1. As user1 share a calendar with group1
2. As user2 (member of group1) delete the calendar
3. Refresh the page
### Expected behaviour

At 2. Calendar vanishes form the list + Status OK
At 3. Calendar should not be there
### Actual behaviour

At 2. Calendar vanishes form the list + Status Forbidden
At 3. Calendar is back
### Server configuration

**Nextcloud version:** git-m

[2016-10-07 12:22] nextgen-networks opened #1655 "External Storage calculates wrong file size on big files / download aborts"
A new 26 GB file on SMB share is recognized as 1.5 GB file in Nextcloud and could not downloaded successful (abort after 1.0 GB)
File is accessed via external_files on an SMB-Share on the same machine.

This behavior has been noticed some days after Update to NC 10.0.1 (from 10.0.0).
### Steps to reproduce
1. Big file has been put on SMB-share via Windows 10 remote client PC - File size: 26 GB
2.

[2016-10-07 12:25] thw26 commented on #1570
Also experiencing this issue when installing 1.1.7.

[code]

Occurred yesterday and today.

[2016-10-07 14:03] fishscene commented on #1413
I agree completely with @zeus86. Self-signed certs should not be a problem. This is actively halting a setup I am working on.
I initially reported this in the nextcloud snap: https://github.com/nextcloud/nextcloud-snap/issues/81
Original post:
-------------------------------------------------------------------
Federation: Can't add trusted nextcloud server if SSL Cert is self-signed.

I was attemp

[2016-10-07 14:16] blizzz commented on #1588
I applied the Nc10 version, let's see.

[2016-10-07 15:12] fancycode opened #1659 ""PHP Parse error: syntax error" with PHP 5.3.10"
### Steps to reproduce
1. Setup nextcloud with php 5.3.10 (shipped by default in Ubuntu Precise)
2. Access /

### Expected behaviour
According to https://github.com/nextcloud/server/blob/9e7824f3edcb498447915a396e93678ddb6f5768/index.php#L28 I should see an error about a too old PHP.

### Actual behaviour
A syntax error is logged:
[code]

I know my PHP is way too old :see_no_evil: but imho the mes

[2016-10-07 17:18] dirkpape commented on #1205
also drag and drop file upload onto a publicly shared folder does not work in my case (10.0.1).
Although it works in an authenticated user's folder.

[2016-10-07 18:20] georgehrke commented on #1659
It's supposed to be reported to the browser, but your PHP is even too old to parse the index.php 🙈
But I think we are able to fix this.

[2016-10-07 18:33] georgehrke opened #1662 "Calendar and Contacts Trashbin"
We already provide a trash bin for files, that allows users to restore deleted files.
I'd like to see something similar for calendars and contacts.

This also helps users who accidentally deleted events/contacts or an entire calendar/addressbook in their client.

cc @jancborchardt @tcitworld @schiessle

[2016-10-07 18:47] georgehrke commented on #1662
There are a few questions that need a prior discussion:
- Which app shall implement the features logic?
 - `dav`
 - a new `dav_trashbin`
 - `calendar` respectively `contacts`

I'd not like to see it in the latter, because you can use CalDAV and CardDAV without the Calendar and Contacts app. Therefore the trash bin should always work, no matter whether the web gui is enabled.

- Which app shall imp

[2016-10-07 18:51] tcitworld commented on #1662
However it would be of no use if the calendar/contacts app aren't here since you wouldn't be able to restore deleted calendars/contacts.

[2016-10-07 18:53] georgehrke commented on #1662
Yes, but there are the following scenarios:

Dav app takes care:
You delete a calendar by accident -> the calendar is moved to a trash bin by the dav app -> you enable the calendar app -> you restore the calendar

Calendar app takes care:
You delete a calendar by accident -> ¯\_(ツ)_/¯

[2016-10-07 18:57] tcitworld commented on #1662
Totally agree with all of these. If I understand correctly, putting an item in the bin would mean moving the data from the `oc_calendars` table to `oc_calendar_bin`, while not touching `oc_calendar_objects`. Do the data from `oc_dav_shares` must remain too ?

[2016-10-07 19:37] DavidSporer opened #1664 "Share option is missing completely for all files after upgrade from owncloud"
### Steps to reproduce
1. Log in to Nextcloud (10.0.1)
2. Select any file
3. Share option is missing completely

### Expected behaviour
Tell us what should happen

I expect to see the option to share files e.g. via a link

### Actual behaviour
Tell us what happens instead

The share options are missing.

### Server configuration
**Operating system**:
Debian Linux
**Web server:**
Apache
**Database:

[2016-10-07 19:40] #1165 closed

[2016-10-07 19:41] georgehrke commented on #1165
There was an bug in the calendar app, that timezone detection failed on `index.php/apps/calendar` but worked on `index.php/apps/calendar/`.
That was fixed with calendar 1.3.0 or so.

[2016-10-07 19:42] DavidSporer commented on #1664
Sorry... Didn't know that Sharing is an app for itself.

[2016-10-07 19:43] #1664 closed

[2016-10-07 20:58] heyarne opened #1666 "Download of files from backend not starting"
### Steps to reproduce
1. Select multiple files
2. Click downlaod
3. Empty page
### Expected behaviour

I wanted to download a zip archive of multiple photos in a folder.
### Actual behaviour

I get redirected to the archive URL but the page stays blank.
### Server configuration

**Operating system**: CentOS release 6.8 (Final)

**Web server:** Apache/2.2.15 (CentOS)

**Database:** mysql  Ver 14.1

[2016-10-07 22:07] nerdoc commented on #1165
Really. Updated to 1.4.0 and the problem is gone. Thanks.

[2016-10-08 08:07] vgvenkat commented on #1563
Can I try this one? I guess adding an isString check would do?

[2016-10-08 08:42] juliushaertl commented on #1563
@vgvenkat Sure, that would be great.

[2016-10-08 08:57] Xermon commented on #898
@jancborchardt Sound's fine!

[2016-10-08 09:34] jancborchardt opened #1667 "Technical/unnecessary errors on federated sharing"
@schiessle I just helped a friend set up Nextcloud. Roughly 10 minutes after installation I wanted to share a file with him via federated sharing. Typing in his whole address brought up this error notification:

[code]
- [ ] this should be more understandable. Like: »**cloud.example.com** could not be reached. Please try again later.« Right @schiessle?

Then refreshing and trying it again gave me

[2016-10-08 09:39] rullzer commented on #1667
cURL error 51: SSL: no alternative certificate subject name matches target host name 'cloud.example.com'
[code]
Error sharing because it’s already shared with this user
[code]

[2016-10-08 10:58] georgehrke commented on #1642
There is an issue for federation already: https://github.com/nextcloud/server/issues/1440

[2016-10-08 11:28] georgehrke commented on #1642
I completely agree with @nickvergessen here. This has to go in the calendar app.
There is an issue for that already: https://github.com/nextcloud/calendar/issues/51

Yes, we are already running fullcalendar 3. There has been some issues with the list view in fullcalendar 3.0.0, but there were list-view-related fixes in 3.0.1.

Are there plans to make file shares acceptable too?
This should ideally

[2016-10-08 12:32] tcitworld commented on #1642
I was inclined to think so considering the screenshots on https://github.com/nextcloud/notifications

[2016-10-08 14:05] jancborchardt commented on #1667
@rullzer it should be a more explanatory message, but the question also is if the certificate of my friends’ server being invalid is even relevant to me. Because sharing was apparently successful after all.

[2016-10-08 16:16] nickvergessen commented on #1642
yes, currently only federated shares, but normal shares will follow soon.

[2016-10-08 16:44] #1659 closed

[2016-10-09 00:53] kneiser opened #1669 "Upgrade ownCloud 8.2.1 to Nextcloud 9.0.54 Issue"
### Steps to reproduce
1. Delete the old owncloud log file in the data directory.
2. Backup owncloud data, config, and apps directories.
3. Rename the /var/www/html/owncloud directory to "xowncloud".
4. Download the Nextcloud zip file to user "Downloads" directory and extract.
5. Rename the extracted nextcloud directory to owncloud. Nextcloud is to be used as a "drop in" replacement for ownCloud.

[2016-10-09 05:06] oparoz opened #1670 "Support more libsmbclient options"
### Steps to reproduce
1. Configure external storage to connect to Samba servers
### Expected behaviour

NC should connect
### Actual behaviour

Red square and no useful feedback for one of the servers.

I initially thought this had something to do with encryption, but I've enabled the same settings on one of the servers which could connect and that didn't break things.

It might be difficult to s

[2016-10-09 07:23] kvoit opened #1671 "Aggregation of shared folder permissions - Possible? Feasible? Wanted?"
I am using Nextcloud to share pictures with my family aside from a lot of other stuff. A common situation is that I give people who participated in an event write access to the photo folder - to help tag and this sort of stuff -, and a more or less fixed group of people read-only access. (Some also with technical competence issues, so I would prefer keeping it like that for the safety of the data.

[2016-10-09 12:03] mhzawadi commented on #1483
Hi @AndyScherzinger I have found the issue!

So I have a share with my wife call Seth (our sons pics), some how it got resetup and called Seth (2). This seems to cause the upload to fail.

So a have truncated the share table and setup new shares, this seems to have fixed it.

[2016-10-09 15:20] tcitworld commented on #1653
Was the calendar shared with write access ?

[2016-10-09 16:38] AndyScherzinger commented on #1483
@mhzawadi glad to here you could resolve the matter. Besides I think this is related to #1588 which has been resolved and is fixed in Version 11 and most likely 10.0.2, right @MorrisJobke ?

[2016-10-09 19:58] MorrisJobke commented on #1483
Yes, the backport is opened :)

[2016-10-09 20:17] #1483 closed

[2016-10-10 00:21] aronovgj commented on #120
@tessus The non-solution was to export contacts and calendar, delete the whole database, setup a fresh nextcloud, recreate the database by syncing everything to the server and import calendar and contacts. That was possible because only 3 users are using it.

[2016-10-10 07:22] nickvergessen commented on #1662
Couldn't we just create a flag, and some sort of hidden calendars/events which are not exposed, unless you propfind with a the special property? I think that would be very few lines to implement.

When you delete a calendar/event and it does not have the flag yet, we set the flag. If the flag already exists it's deleted from the system.

[2016-10-10 07:24] georgehrke commented on #1662
That would indeed be a good solution.
Instead of the flag I'd probably go for a timestamp, which is null by default.
This allows us to easily delete calendars/events older than n days.

[2016-10-10 07:39] vgvenkat commented on #1563
Does this commit https://github.com/nextcloud/server/commit/acd90669ff4ea542091697056a6b24af5be02dc9 handle this issue? It seems to have been committed 10 days ago.

[2016-10-10 07:58] nickvergessen commented on #1653
Happens in both cases

[2016-10-10 09:21] MorrisJobke commented on #1671
@rullzer @schiessle Isn't this already implemented? I thought that we already group shares and the recipient gets the combined permissions (or the higher one)

[2016-10-10 09:25] MorrisJobke commented on #1671
I created a user `abc` who is member of the group `test`.

Then I shared a folder `test` with the group `test` in read-only mode and added `abc` to the share with read-write permissions. When `abc` logs in there is only one folder `test` where the proper write permissions are granted:

<img width="358" alt="bildschirmfoto 2016-10-10 um 11 22 59" src="https://cloud.githubusercontent.com/assets/2454

[2016-10-10 09:27] MorrisJobke commented on #1666
@heyarne What browser on what OS are you using?

[2016-10-10 09:28] MorrisJobke commented on #1666
Is there any chance that you send me a link, where I can test this myself? (see email on my GIthub profile)

[2016-10-10 09:29] MorrisJobke commented on #1639
This looks like an LDAP error - @blizzz How could that cause an issue? The users seems to exist, but for the public share it doesn't get resolved properly.

[2016-10-10 09:33] MorrisJobke commented on #1628
@TimothyXL Your setup looks like a reverse proxy setup. Could you check that the 3 config values are properly set: https://github.com/nextcloud/server/blob/615b69677eeab739db4408c51a5873f31cc51033/config/config.sample.php#L342-L366

I guess this is the reason for this wrongly detected server URL. If Nextcloud is behind a reverse proxy it's sometimes hard to properly determine the URL.

[2016-10-10 09:51] heyarne commented on #1666
I'm using the newest Firefox (as of now 49.0.1) on Mac OSX 10.11.6. I updated to Nextcloud 10.0.1 and the problem persists.

[2016-10-10 09:58] kvoit commented on #1671
That is strange. My wife had a few
Folder (rw)
Folder (2) (ro)
When I removed her from the group, Folder (2) when away.

But now, I cannot reproduce the behavior. She is back in the group and still has just one folder. I am on Nextcloud 10.0.0 BTW.
Seems to be solved, sorry to have bothered you. Awesome reaction time to feature requests :D

[2016-10-10 10:24] jmccoy555 commented on #1251
Same issue on 10 for me. Installed from the download link on nextcloud.com

[2016-10-10 10:30] rullzer commented on #1671
This *should* (tm) be fixed.
Maybe we missed a corner case somewhere but without preciece steps to reproduce finding that is going to be hard.

[2016-10-10 10:31] rullzer commented on #1667
@jancborchardt yes that part I agree on.

Also we need better error handling there. because sharing was not succesfull. We could not talk securely to your friends server. So we error out half way. When that happens we should cleanup things. CC: @schiessle

[2016-10-10 10:37] pasbec commented on #1251
Weel did you download [10.0.0](https://download.nextcloud.com/server/releases/nextcloud-10.0.0.zip) or the latest [10.0.1](https://download.nextcloud.com/server/releases/nextcloud-10.0.1.zip)?

As far as I tested this issue some time ago, 10.0.0 was not affected.

The problem is that no one of the nextcloud-developers except @nickvergessen did react to this post. And no they have it pushed into th

[2016-10-10 10:37] blizzz commented on #1639
Works on our instance.

I would guess that there might be a share from a on LDAP side removed user causing this. Sounds at least most likely. @nutzmdm is it possible that somewhere in the directory structure related to the folder is or was on share by such a former user?

OTOH, I'd expect this also to happen for logged-in users.

[2016-10-10 10:39] MorrisJobke commented on #1666
I just tested with Firefox and it works here on OS X.

That looks weird. cc @LukasReschke What does that mean? Some output in download.php?

[2016-10-10 10:40] MorrisJobke commented on #1671
Correct. I will close this.

[2016-10-10 10:42] LukasReschke commented on #1666
It's a Firefox bug. Ignore it ;-)

[2016-10-10 10:44] heyarne commented on #1666
To provide some additional information: Download of single files is working. It seems to only appear when creating archives and trying to download them.

Request headers:
[code]

Response headers:
[code]

[2016-10-10 10:52] #1671 closed

[2016-10-10 10:56] MorrisJobke commented on #1666
In my firefox it looks like this:

[code]

Response:

[code]

The content type is different and content-disposition is also missing.

@heyarne Could you check, that there are no empty lines in your `config.php` before the opening `<?php` element? Also the signing status would be very helpful:

http://example.com/index.php/settings/integrity/failed
paste the results here.

[2016-10-10 11:44] nutzmdm commented on #1639
@blizzz : Share have been created by an Active Directory user and folders are totally news
I just tested a little bit more and:
-If user that create the link is not logged : nobody can acces files
-If user who create the link is logged on computer A, user on computer B can open the link

[2016-10-10 11:50] heyarne commented on #1666
There are no empty lines before the opening `<?php`. The output of `…/index.php/settings/integrity/failed`:
[code]

[2016-10-10 12:08] georgehrke commented on #1662
But there is actually one issues I'd like to discuss before implementing this:

When a calendar/addressbook (but also event/contact) is deleted, the uid should be available again.
What to do about this? Replace the uid (or uri for event/contact) with a random string?

Keep this random string when replacing or tell the client to send a new uid along the request?

The `dav_shares` table uses the cal

[2016-10-10 12:15] rullzer opened #1676 "log_query config setting is not respected by query builder"
When looking trough some requests I noticed I was missing some queries in the query log.
It turns our that all queries that are handled by the query builder (the way we want it) are not logged.

CC: @nickvergessen @MorrisJobke

[2016-10-10 12:28] georgehrke commented on #1662
Reminder for myself:
Do not return deleted calendars on [allprop request](https://tools.ietf.org/html/rfc4918#section-14.2)

[2016-10-10 12:44] jancborchardt commented on #1667
Aah ok so that's why all the errors happen. The user is shown in the list but sharing was actually not successful.

[2016-10-10 13:12] TimothyXL commented on #1628
Ah, that's what I overlooked! Thanks Morris, that'll teach me to set a server up in the dead of night.

[2016-10-10 13:26] Arsimael commented on #1437
This bug affects Everyone which downloads the 10.0.1 from the Homepage.
It still works with the 10.0.0 so whatever you changed in 10.0.1, please revert the changes.
You can
t even use the official Apps like Calendar and Contacts anymore, which makes nextcloud pretty much USELESS!

[2016-10-10 13:40] JamborJan opened #1681 "Feature Request: Let's encrypt and auto https support"
Don't know if feature request go here or not.

### Actual behavior
When I setup a nextcloud instance I have to take care about getting certificates and a domain when I ant to access my nextcloud instance when not being in the same network.

### Expected behavior
When setting up my nextcloud server I'm getting a setup wizard which guides me to setup a Let's Encrypt based certificate and a domain na

[2016-10-10 13:48] stenstad commented on #1504
Yes, that solves the dependency problems at least.

There still must be a migration from rackspace/php-opencloud to php-opencloud/openstack to be able to support Swift V3.

[2016-10-10 14:18] icewind1991 commented on #1652
Easiest sollution seems to be to disable the warning with `logWarningWhenAddingStorageWrapper` from where the wrappers are added (with a comment describing that we know what we're doing here)

[2016-10-10 14:28] mightyBroccoli commented on #1437
I tested this issue on 5 different machines and it only occurs with the latest app store and the lastest stable release.
Setting the appcodechecker to false seems to fix the issue.

[2016-10-10 14:30] nickvergessen commented on #1437
I just now installed "Audio Player", "Contacts" and "Calendar" from the app store and it worked.

So I found a little detail: `"appcodechecker": true,` set this to false for now. I will make a patch to fix it in 10.0.2

[2016-10-10 14:38] nickvergessen commented on #1437
Fix is at https://github.com/nextcloud/server/pull/1683

[2016-10-10 14:44] r3pek opened #1684 "News app update via cron results in a value != 0 in reserved_at on oc_jobs table"
### Steps to reproduce
1. Install News app
2. configure the update to use the cron.php file

### Expected behaviour
Feeds should update normally

### Actual behaviour
Feeds don't update.
After following the [Feeds not Updating FAQ](https://github.com/nextcloud/news#feeds-are-not-updated), o noticed that the _reserved_at_ value in the _oc_jobs_ tables was different of 0, and, according to the FAQ,

[2016-10-10 14:56] nickvergessen commented on #1662
What to do about this? Replace the uid (or uri for event/contact) with a random string?

As long as there are no duplicates on restoring, fine by me.

[2016-10-10 14:57] nickvergessen commented on #1628
Closing as per above

[2016-10-10 14:57] #1628 closed

[2016-10-10 14:59] georgehrke commented on #1662
Yes, the db won't allow duplicate URIs.
https://github.com/nextcloud/server/blob/master/apps/dav/appinfo/database.xml#L375

[2016-10-10 15:09] blizzz commented on #1639
@nutzmdm

1. As LDAP user, create a folder and share it by link
2. Log out
3. On a different browser, open the link

Are these reproduction steps correct? Works for me. Another ingredient needs to go into the mix…

[2016-10-10 15:31] nickvergessen commented on #1676
Tried adding:
[code]
in the `execute()` method of the `QueryBuilder`.

But then I receive:
[code]

Not sure what goes wrong.

[2016-10-10 15:32] klm46 commented on #1620
any news about your laptop @MorrisJobke

[2016-10-10 18:10] MariusBluem commented on #1681
- Possible with the Nextcloud Snap (https://github.com/nextcloud/nextcloud-snap) or as part of other appliances ;)

- Not possible with the native-server, because of the different instances (shared hosting, OS, ...)

[2016-10-10 18:29] JamborJan commented on #1681
Thanks for your feedback @MariusBluem. I absolutely agree that it is not a solution for hosting services, they have other options for that.

But for small instances e.g. small companies, families or individuals this should be a pretty good way of solving the issue. The main point why I see involvement of the nextcloud team here is, that there needs to be small service. In the example I have mentio

[2016-10-10 20:15] #1437 closed

[2016-10-10 21:52] MorrisJobke commented on #1652
Then I will do this tomorrow

[2016-10-11 00:45] tessus commented on #120
@aronovgj Unfortunately I don't have that option. I have to many users.

I also tried (for testing purposes) to export from oc 8.2.7 into a vcf file and import it on nextloud 10.0.1. The result was a mess. The names are mostly correct, but the addresses are screwed up, so this wouldn't even be a solution, if I had only one user.

[2016-10-11 01:33] Vaultpls commented on #1632
I disabled HTTP/2 and the problem still exists.

[2016-10-11 07:36] jancborchardt commented on #1662
Regarding where to store it – definitely directly in the Calendar respectively the Contacts app. cc @Henni @irgendwie

[2016-10-11 07:41] georgehrke commented on #1662
Do you mean store or restore?

Please excuse my brevity and typos.
Sent from my mobile

[2016-10-11 07:55] nutzmdm commented on #1639
@blizzz
These steps are correct. I tried with different user yesterday, just after link creation, any user could access to share. this morning, share is not accessible unless the user who created the share is logged.

in nextcloud.log, there is 2 line corresponding to this event:

{"reqId":"rN8JJyEYIcCWlf57EPwO","remoteAddr":"192.168.1.51","app":"index","message":"Exception: {\"Exception\":\"OC\\\

[2016-10-11 07:58] tcitworld opened #1689 "Unable to login with Webkit on Android on git master"
### Steps to reproduce
1. Use any Android Webkit-powered browser (Chrome, Stock, Gello, Opera)
2. Try to login
### Expected behaviour

Login successful
### Actual behaviour

Redirected to login view, no error message.

This **doesn't** happen with Firefox on Android, neither with Chrome or any browser on desktop.

The console log shows :

[code]

and points to https://github.com/nextcloud/server/b

[2016-10-11 08:26] valentin8709 opened #1691 "Import users from MySQL to OpenLDAP"
Hello everybody!
After a well done migration from owncloud, I decided to set up an OpenLDAP server. The connection to NextCloud is working, I can see users in my LDAP etc... But I have one question: can I move the content of my old MySQL personnal user to the new one (therefore a new username) in my LDAP? I mean not only the files, but also the preferences, the calendars, contacts etc...

Thank yo

[2016-10-11 08:30] skjnldsv opened #1692 "Dark mode accessibility"
Hello fellow nextcloud developers/users.
This issue has been discussed here and there on the owncloud project before, but never with the new project. So I would like a real talk about this.

The dark mode isn't a design solution. Personally, I have some issues with my vision, and have a safe environnement set up on my computer. Basically, everything's black. I have a lot of custom themes for most

[2016-10-11 09:44] MorrisJobke commented on #1692
I really like it. This is basically moving from a clear black/white for borders, etc to a value in the middle of the grey scale to be able to apply it without change on bright and dark background, right?

[2016-10-11 09:45] eniac111 opened #1700 "NextCloud 10.0.0 shown as 9.1.0.16 in config"
### Steps to reproduce
1. Fresh install of NextCloud from "https://download.nextcloud.com/server/releases/nextcloud-10.0.0.tar.bz2"

### Expected behaviour
'version' must be set to "10.0.0" in config.php

### Actual behaviour

'version' is set to "9.1.0.16" in config.php

### Server configuration
**Operating system**: Alpine Linux, Docker

**Web server:** Nginx

**Database:** MariaDB 10.1.18

**PH

[2016-10-11 09:50] skjnldsv commented on #1692
Basically yes!
I'm calculating the exact grey values to keep the same rendered colour on white background.
For example, a #DDD background will become a rgba(127, 127, 127, .266) (_26.5625% to be precise_) on white background.
Like so we can apply a dark background and keep the same gap between #FFF and #DDD with #000 and the new rgba colour.

There is some limitation though. Because we can't go hi

[2016-10-11 10:27] MorrisJobke commented on #1689
Works here for me in Chrome on Android, I only have the problem with Opera on Android. Maybe my chrome is too new and already uses the Blink engine.

[2016-10-11 10:33] MorrisJobke commented on #1689
I use Chrome 53.0.2785.124 on my Nexus 7 with Android 6.0.1

[2016-10-11 11:02] tflidd commented on #1700
Internally, it still must work with the old owncloud-versioning scheme in order to use the owncloud app store. But you should have a correct `$OC_VersionString = '10.0.1';`

[2016-10-11 11:19] blizzz commented on #1639
Formatted the exception:

[code]

Is ``D15FE650-767A-4BA7-8B6E-F7CE186C66A9`` your username? (Check on users page)

[2016-10-11 11:44] jancborchardt commented on #1692
I would say it can be an app first, because otherwise we suddenly need to test all core cases for two entirely different color modes. It would be a lot to support for what probably not that many people use (sorry but most people use the default ;) Are you ok with that @skjnldsv?

One thing about the current dark mode: The icons of the navigation need to also have their grayscale inverted to be whi

[2016-10-11 11:48] skjnldsv commented on #1692
What core case are you referencing to? :)
I'm not sure, but I think it could be more complicated to build an app for this instead of a simple switch on the user settings and a css file applied then.

[2016-10-11 11:54] juliushaertl commented on #1692
@jancborchardt The icon inversion back to white is quite simple, I also do that inside the directmenu app https://github.com/juliushaertl/direct_menu/blob/master/templates/direct_menu.php#L160-L167

I'm with @jancborchardt , that this would probably fit best in an extra app.

As this is an accessibility feature, that might only be used by some users who need it, it should be also possible to enabl

[2016-10-11 12:04] jancborchardt commented on #1692
@skjnldsv core cases like apps not being optimized for it for example. If we offer it in core, it needs to be tested. And we simply can’t test all these possible cases and apps. ;) Just because it’s easy doesn’t mean we should do it. It’s perfect for an app though! :)

[2016-10-11 12:09] skjnldsv commented on #1692
As long as we can provide a simple way for a user without permission to activate it, it's fine.
This is the main issue with the app system. A simple user would have to ask his admin to install the app :)

You make a solid point @jancborchardt, but we already force devs to fit the owncloud guidelines. We could simply do the same with the white backgrounds 😛

[2016-10-11 12:12] juliushaertl commented on #1692
@skjnldsv As far as I can tell you could add a custom section to the personal settings and just add a checkbox to enable it per user from there. The app is enabled for ll users, but the custom styles only get loaded when the user has checked the setting.

[2016-10-11 12:36] nutzmdm commented on #1639
It's the username of the user who shared the folder.

I think i was a bug when I added a new group in nextcloud ldap config. I could connect with users in this group but I couldn't  browse group members from nextcloud users section, the group appeared empty.

I removed all users and group from nextcloud ldap/AD  integration then re-added them and now it seems to work

Many thanks for your help!

[2016-10-11 12:51] nickvergessen commented on #1676
Okay the problem is, that now the request ID is grabbed too early:
https://github.com/nextcloud/server/blob/851769adc821f0a8462081fe23afb5a4339eb7ad/lib/private/Server.php#L701-L701

Therefor the `CsrfTokenManager` is initialised with the first session, before base.php sets it in:
https://github.com/nextcloud/server/blob/9a2511fe9bd5716c49bc8a28cbea690f9bb0fe97/lib/base.php#L423-L423

Therefor wri

[2016-10-11 13:42] freechelmi opened #1703 "[Feature] Sharing with external email ( not federated )"
### Steps to reproduce
1. type an email address with a domain not federated like user@gmail.com
### Expected behaviour

User expect that a custom share link would be generated and sent to this email, later on , the share could be deactivated so this link would not work anymore.
### Actual behaviour

Error is returned : federated domain cannot be reach
### Server configuration

**Operating system**

[2016-10-11 14:17] #942 closed

[2016-10-11 14:23] #1639 closed

[2016-10-11 14:55] blizzz commented on #1251
Was also reported [on discource](https://help.nextcloud.com/t/problem-with-external-storage-since-upgrading-to-10-0-1/4050) and i could reproduce.

[2016-10-11 16:12] blizzz commented on #1251
It has something to do with Session handling differences between Nc10 and master. As @pasbec says  https://github.com/nextcloud/server/commit/c51e2eb3baf01cb82f30f61f0593fb93b3ba496f triggers the behaviour because we leave the method before we could register anything. While in master we are not logged in, yet, this works well. In stable10 things are different. It's a more fundamental issue.

A ses

[2016-10-11 16:16] nickvergessen opened #1706 "Nextcloud Rich Object Strings"
# Nextcloud Rich Object Strings

The idea is to allow Nextcloud apps (e.g. activity and notification) to have a common syntax for their endpoints to provide markup, which is then also commonly understood by all the endpoint reading applications (desktop and mobile clients).

## Motivation

The activity app has an action when someone shares a file to a group. The text of the activity is as follows:

[2016-10-11 16:51] AndyScherzinger commented on #1706
@nickvergessen how does this one handle localization? I would either have to get a message ID and ship the translations or when requesting the the rich objects string request them for a certain language.

[2016-10-11 17:43] nickvergessen commented on #1706
Well the endpoints are already localized in the users language. This is taken from settings, accepted language header or default language config. So no localization needed on client sides

[2016-10-11 18:50] Ardakilic commented on #237
I had the same issue after migrating from owncloud,

Simply switching the order of these two like this, as described above, fixed the problem for me:

[code]

I'm using Debian 8.6, PHP7.0, MariaDB, Nginx 1.10.1. All manual install.

[2016-10-11 19:09] derkostka opened #1707 "[DAV] Download fails for big files: stream_copy_to_stream() throws an error"
### Steps to reproduce
1. Try to download a big file on Nextcloud, PHP7.0, 32 Bit arm (> 2 GB)
2. Check downloaded file and log
3. File is empty, log shows the error immediately
### Expected behaviour

File with size of 9 GB should be downloaded
### Actual behaviour

0 Byte file created, no error message but logged error
### Server configuration

**Operating system**:
Ubuntu 16.04

**Web server:**

[2016-10-11 19:24] derkostka commented on #1707
@rullzer May upgrading 3rdparty / http fix the issue ?

[2016-10-11 19:36] derkostka commented on #1707
Update:  According to https://github.com/fruux/sabre-http/pull/61, the issue is located somewhere else. The file size seems to be invalid (NaN) which leads to that error. However, if i apply that patch, it works - but is not solving the root cause as noted in the comments.

[2016-10-11 19:56] hoellen opened #1708 "Sharing: Cannot delete files from share"
### Steps to reproduce
1. Share folder in WebUI via link
2. Set 'Allow editing' and password
3. open link on another client and type in password
4. upload file
5. delete uploaded file

### Expected behaviour
User should be able to upload files and delete them.

### Actual behaviour
User can upload a file, but can't delete the uploaded file. (Notification message on top: Error deleting file "test.p

[2016-10-11 21:25] mkoppmann commented on #1681
You can run Nextcloud on Caddy (https://github.com/mholt/caddy) which automatically configures HTTPS and retrieves certificates from Let’s Encrypt.

[2016-10-11 23:35] Risebell commented on #60
So, the idea here is to have the external storage as the root storage of a user, meaning it's the only storage/directory he can write to, right? if I'm wrong ignore me.

The occ command seems to be capable of setting the mount point of external storage to / (root) with:
`./occ files_external:config <Mount_ID> mount_point /`
meaning you can mount for example a sftp share on / instead of needing a s

[2016-10-11 23:53] blizzz commented on #1251
in stable10 it is because LDAP pulls in the Avatar Manager. And this - because it avatars are stored in the user directories, pulls in the filesystems app. Thus, user_ldap is not finished with the initialization while files_external is.

I thought on master it works because of the AppData changes, but no, this guess did not work out. Thing is, it's bad in general that user_ldap has strong requirem

[2016-10-12 00:28] bitJericho opened #1710 "External Storage settings not visible when using LDAP authenticated account"
### Steps to reproduce
1. Setup LDAP authentication
2. Setup external storage, and set "Allow users to mount external storage"
3. Login with LDAP account
4. Go to Personal settings
5. Option to mount external storage is not visible.

### Expected behaviour
External storage settings should be available for all accounts.

### Actual behaviour
External storage in personal settings is not visible.

##

[2016-10-12 06:31] JamborJan commented on #1681
Thanks for the hint @mkoppmann. I'm not sure if I described my thoughts well enough, I'm not looking for a solution for me, I can perfectly run my system as I have the infrastructure for it.

My goal with this request is to improve the "out-of-the-box" experience for none-technical users especially for consumer products like the next cloud box. Right now it is very easy to setup nextcloud as long

[2016-10-12 07:27] flypenguin commented on #60
the use case for *me* would be that I use one s3 bucket for all data stored in owncloud. basically S3 replaces the data directory.

I don't know if I understand you correctly, you would want to do this on a per-user basis, right?

[2016-10-12 07:38] nickvergessen commented on #1669
Duplicate of https://github.com/nextcloud/server/issues/761

Do you mind adding your information there?

[2016-10-12 07:38] #1669 closed

[2016-10-12 07:43] nickvergessen commented on #1681
for the "out of the box" experience a lot of things need to be done, including opening a port in your router, setting up dyndns, etc. This is all out of scope of the actual product. If at all, your webserver should handle such stuff. But since they don't other things have been created, nextcloud snap being one of them.

So I'm closing this, since I feel it's out of scope for us.

[2016-10-12 07:43] #1681 closed

[2016-10-12 07:45] nickvergessen commented on #1684
Well none zero value on reserved_at means the job didn't finish. Maybe it ran into a time out, inifinite loop or hang up in any other way. Do other cron jobs run correctly? If so this is an issue within the news app and needs to be solved there.

[2016-10-12 07:49] nickvergessen commented on #1691
This is **officially NOT supported**

However, if you know what you are doing, you can try to change the user ids manually in the database (have a look at all tables). Afterwards rename the folders in your data directory. That should™work, but no guarantee.
I suggest you put your instance into maintenance mode, create a copy and test your stuff on the copy, before messing with the live data.

[2016-10-12 07:49] #1691 closed

[2016-10-12 07:51] nickvergessen commented on #1700
As explained by @tflidd above, there is a difference between the internal and the visible version number. This will change mostlikly in the future.

[2016-10-12 07:51] #1700 closed

[2016-10-12 07:52] nickvergessen commented on #1703
Work in progress for this in https://github.com/nextcloud/server/pull/657

[2016-10-12 07:58] markseddon commented on #60
Agreed.

My use case is that I would like S3 (or whichever cloud storage is your poison!) to be the only storage for all the users, the same as @flypenguin. Admittedly I could just use something like s3fs-fuse but I'd prefer to use an actual plugin / functionality if it was offered.

[2016-10-12 08:04] nickvergessen commented on #1707
Well you said you use 32 bits, the max int there is 2147483647.
From min to max, the number is 4294967294, which is exactly 4GB.
So I'd say try to switch to 64 bits if you want to have so huge files.

I guess the problem is, that before your cast to int (the intval from the patch), the size is an invalid string. casting to int seems to use the max int, when the value is too high:
See that the foll

[2016-10-12 08:11] nickvergessen commented on #1710
Fix in progress https://github.com/nextcloud/server/pull/1709

[2016-10-12 08:13] valentin8709 commented on #1691
Great thank you for your answer =) I back up my nextcloud everyday, so I will test your method and if it doesn't work I can alway come back to a working instance.

Thanks again!

[2016-10-12 08:24] #1482 closed

[2016-10-12 08:31] nickvergessen commented on #1708
I fail to reproduce. Does this happen for you all the time?

Can you try to replace line 42 in apps/files_accesscontrol/lib/CacheWrapper.php
before:
[code]
after:
[code]

[2016-10-12 08:31] MorrisJobke commented on #1708
[code]

@hoellen What files_access control rules do you have setup?

cc @nickvergessen

[2016-10-12 08:54] rullzer commented on #1425
So thinking some more about this. If we'd do it in an app i'd be fine with it. But not in core. The app could just add a notification to users so they can chose to use gravatar for their avatar. And then a cron job that runs daily or so to fetch all the avatars from gravatar of users that want it etc.

[2016-10-12 09:01] volker-raschek opened #1716 "Notification E-Mail all 30 mins"
### Steps to reproduce
1. I can't reproduce the steps. It comes from one day to another.

### Expected behaviour
When a user (user A) share some folders or files to other users (user B) or to a group (group A), the cronjob send the user B or the members of group A an email notification about the new share.

### Actual behaviour
Till yesterday user B and/or group A get the e-mail notification again

[2016-10-12 09:02] r3pek commented on #1684
Yes, other cron jobs run normally. It's just this one that blows. And by blows, it actually blows... the memory. I had to up the mem-per-script on php.ini to run it via command line (was 128MB). After I made that, it did finish the refresh so it should be something specific to the News app.

[2016-10-12 09:16] go2sh commented on #1707
There seems to be a general issue with files bigger than 2GB on 32-bit systems. :see_no_evil:

[2016-10-12 09:23] xpiotrekx opened #1718 "No access via Android app."
### Steps to reproduce
1. Install Nextcloud from GitHub 11.0(alpha)
2. Try to login using Android app

### Expected behaviour
Successful login.

### Actual behaviour
In Android app is message: An unknown error occurred!

### Server configuration
**Operating system**: Ubuntu 16.04.1 LTS (GNU/Linux 4.4.0-42-generic x86_64)

**Web server:** Apache/2.4.18 (Ubuntu)

**Database:** mysql  Ver 14.14 Distr

[2016-10-12 09:42] MorrisJobke commented on #1718
This was already discussed with @AndyScherzinger - the app doesn't work with the 11 version of Nextcloud - I guess this is https://github.com/nextcloud/android/issues/259 in the app repo.

It needs to be fixed by the app, because it misused a really old endpoint that was finally removed in 11.

[2016-10-12 09:51] r3pek commented on #1684
OK, just discard this. It could be just some feed misbehaving. It's working fine now.

[2016-10-12 09:51] #1684 closed

[2016-10-12 10:07] AndyScherzinger commented on #1718
Exactly that is (probably) the issue - The issue is this one since it needs to be fixed in the client library: https://github.com/nextcloud/android-library/issues/18 - @MorrisJobke do we have a NC11 test instance somewhere? :smiley:

[2016-10-12 10:15] MorrisJobke commented on #1718
No. Just use git clone and set it up locally 🙈 If you need help with that ping me.

I will close this here then

[2016-10-12 10:15] #1718 closed

[2016-10-12 10:27] blizzz commented on #1710
And duplicate of #1251

[2016-10-12 10:27] #1710 closed

[2016-10-12 10:29] hoellen commented on #1708
@MorrisJobke I don't use the file access control at the moment. No rules are defined.
@nickvergessen I replaced the line you said and now it works again. Thanks!
I still get this _warning_ in the log, but I think I read in another issue that you are already solving this.

[code]

[2016-10-12 10:31] nickvergessen commented on #1716
Well the problem is, that it fails to send all mails:

Exception: Swift_TransportException
Message: **Connection to localhost:25 Timed Out**

Seems like your mail server is dying while sending. I can post you a workaround in some minutes, so it stops the duplication, but you should have a look at the timeout issue.

[2016-10-12 10:42] nickvergessen commented on #1716
Can you test https://github.com/nextcloud/activity/pull/52/files please?

[2016-10-12 10:43] nickvergessen commented on #1716
Also when you say the email comes every 30 minutes, please note that the cron job should be executed at least every 15 minutes: https://docs.nextcloud.com/server/10/admin_manual/configuration_server/background_jobs_configuration.html#cron

[2016-10-12 10:46] nickvergessen commented on #1652
At least the one from `sharePermissions` seems to be a problem?
https://github.com/nextcloud/server/issues/1708

[2016-10-12 10:47] nickvergessen commented on #1708
Btw if you are not using it, disable the app. It reduces the load on each request.

[2016-10-12 10:52] hoellen commented on #1708
Good idea, I disabled 4 apps which I don't use. Thanks again.

[2016-10-12 11:04] volker-raschek commented on #1716
Hey,
yes the cron job start every 15 minutes, but I received the Mail every 30 minutes.

I don't know how I can change the files with git but I changed the files manually.

I started the cron job via sudo -u www-data php -f cron.php and received an email notification with the same content. I do it in 30 minutes again to test if I received the notification again.

During the cron job send the notif

[2016-10-12 11:35] Django-BOfH commented on #1445
thanx

[2016-10-12 11:36] volker-raschek commented on #1716
Hey,
here are the new logs. I get the email again but now all users.

[code]

[2016-10-12 11:58] MorrisJobke commented on #1652
I added the part of the readonly part: #1722

[2016-10-12 12:31] nickvergessen commented on #1716
are all the "old" entries of people that got a mail still in the activity_mq database table?

[2016-10-12 13:11] volker-raschek commented on #1716
I have started the cron job for 10 minutes again and I don't received an notification email.
The table activity_mq is empty.

Is now the problem solved or I must check my mail server to solve the problem?

Volker

[2016-10-12 13:20] blizzz commented on #1251
Fixed by https://github.com/nextcloud/server/pull/1723 being shipped with the next maintenance release.

[2016-10-12 13:20] #1251 closed

[2016-10-12 13:27] kneiser commented on #1669
@nickvergessen I looked at issue 761 and noticed you added a link to this posted issue. Is that enough?

[2016-10-12 13:32] directict opened #1724 "Files randomly dissapearing"
### Steps to reproduce
1. Haven't been able to reproduce this so far.
2.
3.

### Actual behaviour

Files are randomly being removed from the server, when checking the activity log we can see that a user has removed the file.

However the user that removed the files (according to the activity log) says he/she hasn't removed these files.

I couldn't find these files anywhere on their computer, this

[2016-10-12 13:38] #1086 closed

[2016-10-12 14:15] juliushaertl opened #1725 "Move background image and logo to AppData"
Since #1306 is in we can get rid of the the `themedbackgroundlogo` and `themedinstancelogo` files inside the data directory.

[2016-10-12 14:35] MorrisJobke commented on #1620
Okay ... works with master. I will retest with stable10.

[2016-10-12 15:58] fossxplorer commented on #1226
Obvisouly the user himeself had changed the password multiple times ( i think twice). So we tried to enter old and new password, using the 2 generation of password. It never worked and we ended up restoring from backup and re-sync. Now we've turned off the oC/NC encryption and will never use it.
Without enabling the recovery option in admin sections, the risk is too high of loosing data with the e

[2016-10-12 19:39] LukasReschke commented on #1185
Ref https://github.com/owncloud/core/issues/11925

[2016-10-12 22:20] Cypouz opened #1727 "Calendars don't load after Nextcloud 9 to 10 update"
### Steps to reproduce
1. Update from Nextcloud 9 to 10;
2. Go to Calendar app after enabled;
3. Continous spinning wheels. Calendars don't load.

### Expected behaviour
Calendars would be loaded and visible, without continous spinning wheels.

### Actual behaviour
No calendars loaded. Spinning wheels.

### Server configuration
**Operating system:** Debian 7

**Web server:** Apache 2.2

**Database

[2016-10-12 22:26] blizzz opened #1728 "LDAP: overhaul Jobs/UpdateGroups.php and create occ command for it"
aka https://github.com/owncloud/user_ldap/pull/14 done right

This gets into 11 only if everything else planned is done, otherwise → 12.

[2016-10-13 06:23] nickvergessen commented on #1716
No,seems all good then, thanks for testing.

[2016-10-13 07:06] klm46 commented on #1620
master = 11.0 alpha?

[2016-10-13 07:22] scroom opened #1730 "No access to contacts via DAV"
### Steps to reproduce
1. Configure an Android DAV Sync client (tried DAVdroid and CalDAVSync) to sync the contacts saved in the Nextcloud instance
2. Start sync process
### Expected behaviour

Contacts should be synced to the Android Phone
### Actual behaviour

Sync fails
### Server configuration

**Operating system**: Ubuntu 14.04

**Web server:** Apache2

**Database:** MySQL

**PHP version:**
-

[2016-10-13 08:02] Cypouz commented on #1727
Same bug here: https://github.com/nextcloud/server/issues/1025

[2016-10-13 08:07] Cypouz commented on #1025
Same problem here, with the same exception on oc_addressbooks too. Is it related?...

[2016-10-13 08:09] rfc2822 opened #1731 "[*DAV] Basic auth passwords are neither parsed as ISO-8859-1 nor is RFC 7617 "charset" header sent"
Nextcloud 10.0

### Steps to reproduce
1. Create a user account with user name "test" and password "testö"
2. Access `/remote.php/dav` with `Authentication: <base64 test:testö in UTF-8>` → works
3. Access `/remote.php/dav` with `Authentication: <base64 test:testö in ISO-8859-1>` → doesn't work

### Expected behaviour

There's discussion out there whether Basic auth as defined in RFC 2617 expects p

[2016-10-13 08:34] iskradelta opened #1732 "Thumbnail/Preview image generation is too slow"
### Steps to reproduce
1. Use Nextcloud android app, or the web interface to view a folder list containing many JPEG pictures taken by a camera
2. Notice the slowness in loading previews, about a second for each picture, web interface is faster since it sends more requests at same time
3. Notice in the logs that it takes about 1.1second to scale down an image of about 5MB to 384x384.
### Expected

[2016-10-13 08:37] MorrisJobke commented on #1620
yes.

[2016-10-13 08:42] MorrisJobke commented on #1620
Okay. I can reproduce this on stable10

[2016-10-13 08:56] MorrisJobke commented on #1620
The stack trace of when it happened:

<img width="504" alt="bildschirmfoto 2016-10-13 um 10 55 35" src="https://cloud.githubusercontent.com/assets/245432/19342794/9fe8faac-9133-11e6-9f33-ce351a602218.png">

[2016-10-13 09:03] LukasReschke commented on #1731
👍

[2016-10-13 09:12] oparoz commented on #1047
Try to turn off HTTP/2

[2016-10-13 09:19] MorrisJobke commented on #1620
Once the first run wizard is disabled the issue is gone. This only happens in stable10 - master and stable9 works fine.

[2016-10-13 09:31] MorrisJobke commented on #1620
Fix is in https://github.com/nextcloud/firstrunwizard/pull/21

[2016-10-13 09:58] MichaelSchmidts commented on #1047
HTTP/2 is no installed or activated. Only HTTPS

[2016-10-13 09:59] oparoz commented on #1047
Thanks for the info. Some users have reported issues with HTTP/2. Too bad that wasn't the problem...

[2016-10-13 10:15] LukasReschke commented on #1732
Perhaps making a NC_Image class which would use imagemagick either by shell_exec or if php has the imagick extension loaded use that. I think so, yes?

No. We won't use imagemagick as that one isn't really secure to use with untrusted user input.

Why a setting and not making this default?

cc @rullzer Thoughts?

[2016-10-13 10:37] rullzer commented on #1732
We already do this. The first time it is requested we generate a 2048x2048 (default) image. And from this one all smaller thumbnails are derived. We use 2048x2048 since else thing look blurry on your laptop screen.

I'm still working on making our preview system more efficient. And something to create previews in cron is still on the list.

[2016-10-13 12:18] iskradelta commented on #1732
@LukasReschke ImageMagick and security: Shouldnt the choice of image-backend at least be a choice for the user? I run Nextcloud on my server and feed it my images and documents - how is any of that untrusted input? Not everyone will run nextcloud as an enterprise renting it out to otters I think. btw I am curious about security of imagemagick, have any pointers? Is there any other faster alternati

[2016-10-13 12:43] LukasReschke commented on #1732
And that's good for you. But we're aiming for a solution that scales from small to big and doing so with sane defaults. Adding "enable this switch here and it makes stuff faster but also much more insecure" is not an option.

https://github.com/mkoppanen/imagick#security has some more infos. https://imagetragick.com was a kinda big exploit. We had imagemagick until like 2013 for some previews enab

[2016-10-13 12:44] andreas-p opened #1735 "user_ldap group/uid association fails with memberUid"
With a fresh Nextcloud 10.0.1 installation, I'm having troubles with openldap groups.

Nextcloud access is allowed for members of a specific groupOfNames object via memberOf, that works fine.

Nextcloud groups should be taken from ldap posixGroups. These are imported correctly, but group membership via memberUid isn't resolved, although uid/group association is defined correctly.
Testing with grou

[2016-10-13 12:57] #1716 closed

[2016-10-13 13:57] iskradelta commented on #1732
@LukasReschke All valid concerns which I agree with, security should come foremost, then speed.

I dont think the current solution scales even to small use cases, as it is too slow. The server is on 32gb of ram, storage on 2 raid0 ssds, 12core cpu, and yet it stutters when web browsing nextcloud on it, and Android phone (quad core, tested with a s7 as well) on the same WiFi - loads the picture pre

[2016-10-13 13:58] nickvergessen commented on #1724
Didn't here of something similar so far, neither in the forum.
It might be the case that a program on the computer removes the file and the sync client simply "syncs the change", so it's of course listed as "the user deleted the file".

Feel free to reopen, when you got more information or reproduction steps.

[2016-10-13 13:58] #1724 closed

[2016-10-13 14:00] nickvergessen commented on #1727
Closing as duplicate

[2016-10-13 14:00] #1727 closed

[2016-10-13 14:01] nickvergessen commented on #1025
The question is, why is it trying to "create" the table instead of "update"

[2016-10-13 14:11] Cypouz commented on #1025
The same problem of oc_addressbooks exception on every update is here: https://github.com/nextcloud/server/issues/761

[2016-10-13 15:50] MorrisJobke opened #1736 "Read-only mode (for backups)"
* provide a way for the administrator to go to read only mode
* files can still be accessed, but only be read and no writing to the database/cache happens
* writing to log file should not be limited in my opinion
* would make backups easier - no need to snapshot DB and filesystem at the very same time - go to read-only mode and do the backup then

drawbacks:

* last seen time can't be written
* do

[2016-10-13 18:12] derkostka commented on #1707
There has been a discussion about that topic, generally, stating that as an alternative either floats may be used (which are essentially 64 bits, even on the 32bit arm platform) or numeric strings are an option:
https://github.com/fruux/sabre-dav/issues/408

[2016-10-13 18:38] ChristophWurst opened #1737 "All repair steps should be verbose when updating via "occ upgrade""
Currently we only show output for repair steps that report their progress. All others are executed quietly. This caused me a lot of confusion while working on a repair step for Mail.

As suggested by @rullzer we should enable output for all repair steps by default. Running "occ maintenance:repair" does it too.

cc @MorrisJobke

[2016-10-13 19:50] MorrisJobke commented on #1737
I plan to make the verbose mode default and log also the output by default. Let me see if I can come up with a good solution.

[2016-10-13 19:51] karlitschek commented on #1736
very good idea 👍

[2016-10-13 20:16] rullzer commented on #1736
I like the idea... but.... this is going to be a pain.

* In a lot of places we assume proper DB access (updating the lastlogin, updating token activity).
* We need to have some way to inform apps. Because they will also break hard.

Also you need to make sure snapshotting of your DB is done without locking the table.

Still good goal to have. But I fear a lot of obstacles on the way.

[2016-10-13 22:13] MorrisJobke commented on #1736
Sure, but nothing that can't be solved. And it should be solved - instead of finding new excuses ;)

[2016-10-14 07:11] nickvergessen commented on #1707
Can you try, whether https://github.com/nextcloud/server/pull/1740 fixes the issue?

[2016-10-14 07:12] nickvergessen commented on #1707
And by the way, you should not run any nextcloud 11 alpha version yet. We didn't make any release for that Oo

[2016-10-14 07:29] klm46 commented on #1620
thanks @MorrisJobke
Can i do the changes manually?

[2016-10-14 07:55] andreas-p commented on #1735
Just had to add a posixGroup to that other production server (NC10.0.0) without memberOf capabilities. No problem resolving uid/group association, so the problem mentioned above is either a 10.0.0->10.0.1 regression, or memberof related.

[2016-10-14 08:42] LukasReschke opened #1743 "Add mountpoint config to make ecternal mount not syncable"
So one requirement we often hear is: "We don't want people to sync the whole SMB share to their computer." - They are often too big and endusers will be confused about some popups and error messages from the sync client.

One solution for that would be to add an additional mountpoint config where it can be specified that the mountpoint should not be synced. This would then be signalled to the clie

[2016-10-14 09:06] freechelmi commented on #1703
Just Great to see this WiP . even if this is not the prettiest, this should work.

I have to say that on OC side this has been stalled ...

[2016-10-14 09:16] GitHubUser4234 opened #1744 "Replacing the master key"
Hi,

This is a feature request to add a way to replace the master key in Nextcloud. This would be useful for example in case the master key had been compromised and needs to be replaced asap. Or the key might be replaced on a regular basis as a security measure (scheduled downtime until all files are re-encrypted).

This had been originally requested in the ownCloud issue [#21434](https://github.c

[2016-10-14 10:00] MorrisJobke commented on #1458
Does anybody have an idea/library/tool that does the parsing of the JSDoc annotation?

[2016-10-14 10:04] rullzer commented on #1743
Fine by me.

[2016-10-14 10:23] MorrisJobke commented on #1620
Yes: Apply the patch: https://patch-diff.githubusercontent.com/raw/nextcloud/firstrunwizard/pull/21.patch

`patch -p1 < 21.patch` inside the `apps/firstrunwizard` folder.

[2016-10-14 10:25] MorrisJobke commented on #1743
Any idea how this could be done nowadays already? cc @icewind1991

[2016-10-14 10:57] icewind1991 commented on #1743
There is a similar discussion going on [here](https://github.com/owncloud/core/issues/26311) which shows some of the different requirements people have for this.

Imo there should be two levels

- don't sync on default, still allow a user to select the folder with selective sync
- never allow sync, don't allow the user to select the folders

[2016-10-14 11:03] klm46 commented on #1620
works great! thanks again

[2016-10-14 11:03] #1620 closed

[2016-10-14 11:09] schnello opened #1746 "Wrong language for notification email"
### Steps to reproduce
1. Create a user A with language "english"
2. Create a user B with language "french"
3. User A share a file with user B and activate the "notify via email" setting

### Expected behaviour
User B gets a email in the language "french"

### Actual behaviour
User B gets a email in the language "english"

### Server configuration
**Operating system**:
Ubuntu 16.04

**Web server:*

[2016-10-14 11:46] elioqoshi opened #1747 "Contacts App generated colors are too bright"
Some of the randomly generated colors for contacts in the contacts app are too bright and the text can hardly be read (it's white).

![max mustermann](https://cloud.githubusercontent.com/assets/5436686/19386425/69afa7d8-9214-11e6-88ae-cadd6b42e498.jpg)

It would be great if we could use one of the 500 colors of Google Material Design (20 different colors) so it's safe to use with white text:
https

[2016-10-14 12:02] rgalexey opened #1748 "Nextcloud does not redirect to login page while open share link If user not logged in"
### Steps to reproduce
1. Enable notify by mail in case sharing folder.
2. Mail received by user with URL like that https://server/apps/files/?dir=Candidates
3. User click on URL to view files.

### Expected behaviour
Site opened in browser and redirects to login page and after success login to destination folder view.

### Actual behaviour
Getting error about :

### Server configuration
**Operati

[2016-10-14 12:04] LukasReschke commented on #1748
There seems to be some info missing in your report.

[2016-10-14 12:08] rgalexey commented on #1748
Yes. Just pushed post button by mistake before filled report.

[2016-10-14 12:25] hregnier opened #1749 "User search in admin/groupadmin panel only on uid"
My 30K users is imported from an old ldap, some of them have a random uid and I can search them only by their full name. But when an admin or a groupadmin search with the top bar searchbox, the search is only on uid.

For a quick fix, i juste change in settings/Controller/UsersController.php
L:252 `$batch = $this->userManager->search($pattern, $limit, $offset);`
to
L:252 `$batch = $this->userManag

[2016-10-14 12:25] pounard opened #1750 "Where is the contact app ?"
Just a small story:

- Hello, just downloaded nextcloud 10, and there is no "contacts" app in there.
- So, I went searching throught apps.nextcloud.com but it is not there!
- I had a quick look over the nextcloud organisation in github, but no "contacts" repository there.
- I looked all over Google, nothing ever looked like a download link for the contacts app.
- I just ended up downloading the on

[2016-10-14 12:55] eniac111 opened #1752 "Antivus app mockup"
Possible antivirus plugin may read the file changes from the Activity and trigger a file scan with ClamAv or another commercial product, based on API. Then, it can notify the file owner and the administrator?

[2016-10-14 12:56] nickvergessen commented on #1748
Works quite fine here for both emails:
* user specific emails use `index.php/f/23`
* public link emails use `index.php/s/7nvpPwDMb42ueOR`

[2016-10-14 13:00] nickvergessen commented on #1750
Currently we use the owncloud/contacts app. I guess we will fork that at some point, because there are more issues, e.g. https://github.com/nextcloud/server/issues/1747

No, we should just do the fork and upload it into our app store, then there is nothing to fix anymore.

@irgendwie already requested the developer certificate, so I guess this will all happen soon:
https://github.com/nextcloud/app

[2016-10-14 13:00] #1750 closed

[2016-10-14 13:01] nickvergessen commented on #1752
https://github.com/nextcloud/files_antivirus/

[2016-10-14 13:01] #1752 closed

[2016-10-14 13:05] pounard commented on #1750
Nice, thanks for your answer.

[2016-10-14 13:18] #1435 closed

[2016-10-14 13:46] rgalexey commented on #1748
You are referring to share URL.
My request is about URL mentioned in the mail when you have shared folder with user and checked "notify by email". As result Nextcloud generate mail to the user.

[code]
Where "View it!" is link https://server/apps/files/?dir=Candidates

[2016-10-14 13:55] gbmaster opened #1753 "Customize reminder type for automatically generated birthday events"
As requested in https://github.com/nextcloud/calendar/issues/130 , I create this issue here.

Is it possible to add a way to customize the reminders (or, as I'd like to, totally disable them) for the birthday events automatically generated from the contacts?

[2016-10-14 14:38] Acru2015 opened #1755 "Bigger zips are not downloaded correctly"
### Steps to reproduce
It occurs when I try to download folders bigger than a certain size. (4 GB?)
The biggest size for which it worked for me regularly is 3.2 GB, the smallest I observed it not working is 4.9GB.

### Expected behaviour
The Zip file should be downloaded correctly.

### Actual behaviour
When I try to download a folder > 4GB it stops the download at 4GB and the Zip file seems to be

[2016-10-14 15:02] juliushaertl commented on #1749
I like the idea, searching by users email would also be nice.

[2016-10-14 16:38] jancborchardt commented on #1747
cc @nextcloud/designers and @skjnldsv @MorrisJobke @georgehrke @icewind1991 who worked on the color generation (right? :D)

[2016-10-14 16:50] MorrisJobke opened #1757 "Too small mimetype icons in file picker in IE/Edge"
<img width="622" alt="bildschirmfoto 2016-10-14 um 18 27 01" src="https://cloud.githubusercontent.com/assets/245432/19395636/eba8661a-923e-11e6-97ca-a57ecdb31f7c.png">

To open the filepicker enter following in the JS console:

[code]

[2016-10-14 18:18] h-2 commented on #1257
From my point of view, these are two different things. You can follow symlinks created by the system administrator and still prevent users from creating new ones. How is this related? Why is the first one being prevented? It broke my setup :cry:

Thanks!

[2016-10-14 19:07] skjnldsv commented on #1747
Well, I created this color generator! :p
But the contact app isn't in owncloud/contacts?

[2016-10-14 19:46] pv2k commented on #1757
Can i take this????

[2016-10-14 19:53] pv2k commented on #1746
Can I take this one???

[2016-10-15 09:26] derkostka commented on #1707
No, does not seem to solve it. Download is still 0 Byte. Log:

{"reqId":"cIm0o8yJYIzbld34vhUX","remoteAddr":"127.0.0.1","app":"PHP","message":"stream_copy_to_stream() expects parameter 3 to be integer, string given at \/media\/data\/www\/nextcloud\/3rdparty\/sabre\/http\/lib\/Sapi.php#78","level":3,"time":"October 15, 2016 11:24:15","method":"GET","url":"\/remote.php\/webdav\/Media-Fernsehaufnahme

[2016-10-15 15:06] skjnldsv commented on #1747
@elioqoshi Are you suggesting we only use 20 colors?

[2016-10-15 17:31] MSP78 opened #1759 "Problem loading page, reloading in 5 seconds"
After LogIn this message "Problem loading page, reloading in 5 seconds" is displayed.
This Message is showing sporadically by file und folder navigation.
By clicking on the "shared with me" link on the left side, the message is allwas displayed.

PHP
Version: 7.0.6
Memory Limit: 512.0 MB
Max Execution Time: 3600
Upload max size: 513MB

The nexcloud.log shows no entry!

Can you help me?

[2016-10-15 18:01] rullzer commented on #1746
@pv2k all yours!

[2016-10-15 18:10] tflidd commented on #1755
Is your system 32 or 64 bit?
`getconf LONG_BIT`

[2016-10-15 19:30] Acru2015 commented on #1755
32

[2016-10-15 21:05] elioqoshi commented on #1747
@skjnldsv Yep, that's what I'm suggesting (@jancborchardt agreed as well I think)

[2016-10-16 08:38] MariusBluem commented on #1759
Could you please fill out the whole issue template you find here:

This would help us to assist you better - or to fix bugs 😅 ... https://github.com/nextcloud/server/blob/master/issue_template.md

[2016-10-16 10:16] ddulic opened #1760 "Notify by email option not saving"
### Steps to reproduce
1. Select a file, got to sharing tab, share it with a group, check "notify by email"
2. Go to another file, click on the original file
3. The "notify by email" is unchecked.

### Expected behaviour
The option should remain checked.

### Actual behaviour
The option unchecks it self.

### Server configuration
**Operating system**:
Ubuntu 14.04

**Web server:**
DigitalOcean 10$

[2016-10-16 11:50] skjnldsv commented on #1747
Well, the generator is integrated on core now. So changing the behavior change it for every app that use it (mail, calendar, contacts...) So we need to be sure. :confused:
For now your idea is compatible with the calendar app, since @jancborchardt and me chosed to limit the number of colors available. BUT the app just re-enabled the random color button, so this will break the wanted behavior (rand

[2016-10-16 11:52] skjnldsv commented on #1747
Ps: :stuck_out_tongue_winking_eye:

 — @jancborchardt, https://github.com/owncloud/core/pull/23638#issuecomment-204938587

[2016-10-16 12:12] skjnldsv commented on #1747
Okay, I did some researchs, and we possibly could improve the current generator by using this: http://tools.medialab.sciences-po.fr/iwanthue/index.php

[2016-10-16 13:14] fool15982 commented on #1730
I have a similar problem with Nextcloud syncing contacts to macOS Sierra contact.app which is using CardDAV.
I am getting the error:
CoreDAVHTTPStatusErrorDomain-Error 405 in my contacts.app.

The webserver logs:
myIP - andre [16/Oct/2016:15:07:19 +0200] "PROPFIND /remote.php/webdav/ HTTP/1.1" 207 1243 "-" "Mozilla/5.0 (Macintosh) mirall/2.2.4 (build 1) (Nextcloud)"
myIP - - [16/Oct/2016:15:07:20

[2016-10-16 13:43] hoellen opened #1762 "[Feature] send a file to user (not sharing)"
### Expected behaviour
Click on a file and choose "send file to...".
Then type in a federation share or another user on same nextcloud instance.
Nextcloud sends a **copy** to the remote user.

### Actual behaviour
You can share a file, but not sending a copy.

### Example szenario:
Someone (Alice) request to scan a document and sending to her. At the moment you can scan the document, upload it to

[2016-10-16 19:28] patschi opened #1763 "[Feature] Directory-based quota"
### Expected behaviour

A great new feature would be a directory-based quota. Which can be within the total quota limit, or can even be overwritten by any specific quota (even more than the total quota).

### Actual behaviour

Only setting one total quota is possible.

[2016-10-16 19:48] MariusBluem commented on #1763
Discussed here: https://twitter.com/patschi95/status/786685701542797312

[2016-10-16 20:06] pv2k commented on #1746
Thank you :smile:

[2016-10-16 21:46] Bullnados commented on #5
Something new here? I think the right click menu replace the standard browser right click menu, I'm right?
Little bit like the Dropbox Web-Interface

[2016-10-17 01:55] Risebell commented on #60
Yes, my approach would be on a per user basis. Also have not tested if this breaks other external storage because you would mount those inside of an external storage itself.
If I wanted the whole data directory inside of an external storage I would personaly mount it in the OS level.

[2016-10-17 07:36] leinelissen commented on #60
@Risebll Performance and consistency-wise this seems like a pretty bad idea. S3 mounting might be a good idea locally, but not on 100+ user servers.

[2016-10-17 08:02] jospoortvliet commented on #1763
Could you share a usecase, Patschi, what is the problem you are trying to solve with this?

[2016-10-17 08:34] nickvergessen opened #1764 "Pressing enter in "share link by email" reloads page instead of sending mail"
### Steps to reproduce
1. Share an item with link
2. Type in an address into "Email link to person"
3. Hit `Enter`
### Expected behaviour

Email should send
### Actual behaviour

Hard page refresh
### Server configuration

**Nextcloud version:** git stable10, master

PS: Note that sending the email currently fails as well, due to https://github.com/nextcloud/server/issues/1277

Something for you @

[2016-10-17 09:16] FlyinFistOfJuda opened #1765 "Unable to login for destination-user after occ transfer-ownership, Jail.php error logs on login"
### Steps to reproduce
1. sudo -u apache php occ files:transfer-ownership source-user destination-user
2. Files are transferred ok, client syncs ok.
3. Logins for destination user fails on WebGUI after successful transfer-ownership with
<code>"app":"PHP","message":"Call to a member function file_exists() on null at \/var\/www\/nextcloud\/lib\/private\/Files\/Storage\/Wrapper\/Jail.php#214","level"

[2016-10-17 09:20] nickvergessen commented on #1762
`MS_Office_2010.exe` is not a file you should share anyway.

Other then that you can just try to send it manually. Nothing we will implement....

[2016-10-17 09:20] #1762 closed

[2016-10-17 09:21] nickvergessen commented on #1760
Duplicate of https://github.com/nextcloud/server/issues/1277

[2016-10-17 09:21] #1760 closed

[2016-10-17 09:23] FlyinFistOfJuda commented on #1765
Other accounts are still working, this is on a snapshotted test environment.

[2016-10-17 09:23] nickvergessen commented on #1765
@icewind1991 can you have a look?

[2016-10-17 09:25] nickvergessen commented on #1755
Duplicate of https://github.com/nextcloud/server/issues/1707

[2016-10-17 09:25] #1755 closed

[2016-10-17 09:26] nickvergessen commented on #1753
Duplicate of https://github.com/nextcloud/server/issues/1505

[2016-10-17 09:26] #1753 closed

[2016-10-17 09:31] FlyinFistOfJuda commented on #1765
Hm, short correction, here's the transfer log:
[code]
.. but the directory "

transferred from source-user

 does not exist. Directory and files in data-folder are owned apache:apache 644.

[2016-10-17 09:33] nickvergessen commented on #1363
In the current version it is possible to add webcals manually, using the `+ Subscription` button.
That allows you to add webcals for public holidays, e.g. germany: `webcal://www.webcal.fi/cal.php?id=75&format=ics&wrn=1&wp=4&wf=53&color=%2300AA00&cntr=de&lang=de&rid=wc`

[2016-10-17 09:35] FlyinFistOfJuda commented on #1765
o.O Ok guys, sorry for wasting your time, it's a false alert. Apparently we have an **A**dministrator and now the files are at **a**dministrator. I'll reset to the latest snapshot and do the transfer again. If it works ok, i'll close this bug report.

[2016-10-17 09:37] nickvergessen commented on #1748
On Nextcloud 10 the link is `index.php/f/23` and that one works fine for me. Also it redirects correctly to the file after login.

[2016-10-17 09:37] #1748 closed

[2016-10-17 09:38] #1765 closed

[2016-10-17 10:11] patschi commented on #1763
It offers in combination with the already-existing and awesome features like External storage and File Access Control many new possibilities - some examples:
- It allows to mount external storage like SMB with enabled server-side quota to set a quota on that directory. With some modifications in the Nextcloud core it would be possible to make Nextcloud itself and the user aware of the SMB-quota.
-

[2016-10-17 11:10] rgalexey commented on #1748
Weird
Testing right now and not getting same thing.
How come I've got this kind of URl have no idea now. That was folder share with group.
Now getting URL like index.php/f/23

[2016-10-17 11:12] rgalexey commented on #1748
Sorry.
It appears that bad URL was generated when there was Nextcloud 9.0.53.
But server has been upgraded since couple hours to 10.0.1

[2016-10-17 12:30] nickvergessen commented on #1765
https://github.com/nextcloud/server/pull/1766 will help to prevent such misspelling of user names in the future. Sorry for your trouble.

[2016-10-17 13:01] FlyinFistOfJuda commented on #1765
No need to be sorry, I'm happy my coffein deficite lead to something good. :smile:

[2016-10-17 13:53] jancborchardt commented on #207
@LEDfan @sualko you should get involved in the planning discussion on integration of the video chat and text chat! :) At https://github.com/nextcloud/spreed/issues/35

[2016-10-17 15:21] pasbec commented on #1251
Dear @blizzz,

thank you for fixing this so quickly. Really appreciate it!

I'm looking forward to testing it as soon as possible.

Best,
Pascal

[2016-10-17 16:47] jancborchardt commented on #1747
@skjnldsv the problem is that with the Hue-approach we definitely get some greens and yellows which will be difficult with black text. If we just go with 20 set colors that will not be a problem, they will be fine everywhere. And using material colors ensures that they are tried and true. (Also, not sure we really need the random button in the Calendar app ;)

[2016-10-17 16:58] skjnldsv commented on #1747
I know, I know! I still find it unsuitable to limit an algorithm to only 20 colours when this algorithm had the possibility to be used on much more things than just contacts headers... 😕

You forgot the main focus here. If we dropped the colors list before, was that anyone could generate a color from a hash that would have had the same property than any other colours we could encounter on owncloud

[2016-10-18 06:26] Mannshoch commented on #649
I would Like to use a dark color for the bar at top. How could I change to normal?

[2016-10-18 08:03] jancborchardt commented on #649
@Mannshoch you probably use the »[Direct Menu](https://github.com/juliushaertl/direct_menu)« which conveniently enough is also developed by the awesome @juliushaertl ;)

@juliushaertl if that app is enabled, then for bright header bar colors it probably makes sense to use the dark icons just as we switch the font to black for better contrast.

[2016-10-18 08:05] juliushaertl commented on #649
@jancborchardt That should already work like that :smile:

[2016-10-18 09:22] tulamidan opened #1775 "Admin password stored in plain text"
### Steps to reproduce
1. Install NC and configure a NC Admin user
2. Check the content of ./config/config.php
3.You will see that the Admin password is stored in plain text - > bad for security.

### Expected behavior
Tell us what should happen: The password should not be stored in plain text, rather hashed or encrypted

### Actual behavior
Tell us what happens instead -> Plain text, human readab

[2016-10-18 09:22] jancborchardt opened #1776 "Share sidebar: put »unshare« function in 3-dot menu as well"
The share sidebar is still messy with too many things:
![capture du 2016-10-18 11-16-28](https://cloud.githubusercontent.com/assets/925062/19471777/ea44e9ae-9524-11e6-92e7-c090733b7d98.png)

Putting the »Unshare« delete function in the dropdown as well will clean it up a lot. What do you think @nextcloud/javascript?

(Keeping the »can edit« visible is important since read-only or write is the main

[2016-10-18 09:25] skjnldsv commented on #1776
Agreed. Will clear up the area.

[2016-10-18 10:23] adsworth commented on #702
I just ran into this as well. There is also no way of fixing this. The owner either has to touch the images so they are resynced and his previews get regenerated or the admin has to delete the users thumbnails directory.

[2016-10-18 10:45] wherf opened #1778 "Activity notification loop - an email sent to all every 30 minutes"
### Steps to reproduce

1.The server is sending the activity email to all users every thirty minutes with the same content
2. This happened after a share to all was set at a top level folder and then a share to all was set on a sub-level folder. This possibly led to a loop
### Expected behaviour

The activety email should only go out for new activities and not be repeated
### Actual behaviour

The

[2016-10-18 10:54] ggeorgg opened #1779 "Webdav Calendar Integrity constraint violation: 1062 Duplicate entry"
I have a problem with webdav. I am not sure if this is a bug or if something in my configuration is wrong. Could someone try to reproduce this?
I have a shared calendar with my girlfriend and everytime she tries to create an event with her mobile phone she can't see this event but I normally do. There is a fatal error message in my nextcloud log which says that there is a constraint violation: 106

[2016-10-18 11:46] MorrisJobke commented on #1776
Yes 👍 makes total sense

[2016-10-18 11:51] rullzer commented on #1776
I don't like it. If we are going to remove unsharing then we might as well remove the can edit as well. Especially since if you consider other languages translated `can edit` can take up even more space which make this saving a bit meh. Maybe an indicator to show if edit permissions are given is beter (same with share permissions?).

[2016-10-18 11:51] rullzer commented on #1776
Also. What resolution are you using? I have way more space available.

[2016-10-18 11:53] jancborchardt commented on #649
@juliushaertl hehe! Nice :D

@Mannshoch what’s your problem then?

[2016-10-18 12:14] #1775 closed

[2016-10-18 12:24] jancborchardt commented on #1776
Why? How do the two correlate? Read-only or write is an important indicator, much like the »Share« indicator in the file list. Unsharing is just an action.

This specific screenshot is from mobile. But it’s not an issue of space, but of too many elements. And if you look at the whole sidebar it’s even worse.

[2016-10-18 12:52] elioqoshi commented on #1747
It's actually a step forward UX wise. You look at it from the technical side which I understand, but to the end user it doesn't have much value. Limiting it to 20 colors definitely ensures it works well and is accessible. In this case keeping it simple is helpful.

[2016-10-18 13:10] rullzer commented on #1776
Well it feels very arbitrary to hide everything but the can edit. I'd say can share is kind of essential in the share part.

[2016-10-18 14:03] georgehrke opened #1781 "Dedicated locale/region option"
There should be a dedicated option for choosing the locale independent from the language.

There is a common use case, that people want to use software in english, but they don't want `MM/DD/YYYY` or a weekstart on Monday.

In iOS you can just choose a different language and locale:

<details>

![gg](https://cloud.githubusercontent.com/assets/1250540/19480796/0c8d98fe-954c-11e6-8c3b-4c722404a60c.p

[2016-10-18 14:13] jancborchardt commented on #1781
Yes, and that region format should be used by the Calendar, instead of having its own settings. :)

[2016-10-18 14:14] georgehrke commented on #1781
The calendar uses the language at the moment 🙈
We already ditched the checkbox for 12/24 and start of week for good.

[2016-10-18 14:16] jancborchardt commented on #1776
Because of information overload we should show only the most important one, so it’s a decision of what’s most important. If everything is essential, then nothing is.

[2016-10-18 14:17] jancborchardt commented on #1747
@skjnldsv yeah, I mean it’s true like for the automatic color for the user. It’s a great way to do that. But we really have a grave problem of readability here. ;) If that can be fixed while keeping the algorithm then it’s fine. :)

[2016-10-18 14:23] jancborchardt opened #1782 "Checkbox glitch in user management"
When the checkbox is checked, it moves to the left:
![capture du 2016-10-18 16-21-50](https://cloud.githubusercontent.com/assets/925062/19481691/1c14c16e-954f-11e6-9c55-9f65a9fe8322.png)

cc @Henni @juliushaertl @nextcloud/designers :)

[2016-10-18 14:24] nickvergessen commented on #1251
@pasbec you can also change the two lines in your instance manually:
https://github.com/nextcloud/server/pull/1723/files

Shouldn't be too difficult

[2016-10-18 14:25] rullzer commented on #1776
well we are already hiding a bunch of stuff. It is not like there are now a 100 items. but do as you want.

[2016-10-18 14:27] jancborchardt commented on #1781
Ah right, awesome! :)

[2016-10-18 14:28] jancborchardt commented on #1776
After we added about everything we could come up with ;D

[2016-10-18 14:40] groentebroer opened #1783 "NextCloud website news RSS invalid XML"
Sorry if this is not the place to report this, but I could not find where to report it otherwise....

### Steps to reproduce
1. Validate the NextCloud news RSS in an RSS validator: [https://validator.w3.org/feed/check.cgi?url=https%3A%2F%2Fnextcloud.com%2Fblogfeed%2F](https://validator.w3.org/feed/check.cgi?url=https%3A%2F%2Fnextcloud.com%2Fblogfeed%2F)

### Expected behaviour
Should be valid

###

[2016-10-18 15:01] nickvergessen commented on #1776
The problem I see with this is, that it will be even more pain, when you unshare a file from a couple of users (because we still have no expiration of user/group shares).
You just doubled the number of needed clicks.
Maybe similar to the file list a "check mark list" + "unshare selected" is needed?

[2016-10-18 15:03] nickvergessen commented on #1783
Created an issue in our website repo: https://github.com/nextcloud/nextcloud.com/issues/204

[2016-10-18 15:03] #1783 closed

[2016-10-18 15:06] nickvergessen commented on #1778
Duplicate of https://github.com/nextcloud/server/issues/1716

[2016-10-18 15:16] wherf commented on #1778
Have to disagree, ist differennt to 1716 -

please look at the owncloud link #26369<https://github.com/owncloud/core/issues/26369>

Mine has nothing to do with the cronjob, and I am getting lots of  error with write access

Von: Joas Schilling [mailto:notifications@github.com]
Gesendet: Dienstag, 18. Oktober 2016 17:07
An: nextcloud/server
Cc: Wolf Dieter Herf; Author
Betreff: Re: [nextcloud/serve

[2016-10-18 15:21] pasbec commented on #1251
@nickvergessen was just a bit short on time. Simply pulled current stable10 (51300d368960b475dd8bc98c918053f52d751c68) and it works.

Thanks again!

[2016-10-18 15:22] nickvergessen commented on #1778
The fix should still work

[2016-10-18 15:23] Mannshoch commented on #649
@jancborchardt  Yes, your Right I use  »[Direct Menu](https://github.com/juliushaertl/direct_menu)« in which CSS File do I have to manipulate this? Or would you maybe add a checkbox which allow to switch the color?

[2016-10-18 15:34] juliushaertl commented on #649
@Mannshoch the color of the icons should be switched automatically if the chosen theming color is too bright. (If you are using direct_menu version 0.9.1 or later) Maybe opening an issue over at https://github.com/juliushaertl/direct_menu/ would be better then discussing here. :wink:

[2016-10-18 16:17] skjnldsv opened #1786 "Switching to scss"
This is becoming more and more needed. The more we wait, the harder it will gets for us to make the switch later.

Sooooooo let's do this!
### Why
1. **Nesting and code readability**. This is an insane advantage to have. Right now the code have a basic structure, but it's still very hard to find whatever you're searching.
2. **Size**. Scss files are significantly lighter than css. if correctly imp

[2016-10-18 16:36] LukasReschke commented on #1786
If that is possible 👍

[2016-10-18 17:51] eppfel commented on #1747
Although, from users point of view: who can actually tell more then 20 colors apart. I didn't even realize that these are generated, I thought it's a palette. 😁
The bigger question is the palette. I have no problem with the material colors (use them myself sometimes), but with the redesign of nextcloud.com and the design guide I wonder how we should choose this. I think the palette should be chose

[2016-10-18 18:50] jancborchardt commented on #1786
Yup, as talked about if we have an on-the-fly SCSS compiler it’s good. :) If not it’s a very annoying barrier.

[2016-10-18 18:52] skjnldsv commented on #1786
Yep! This is mandatory!

[2016-10-18 18:53] jancborchardt commented on #1776
Yes, but how often do you need it?

Adding _even more_? Sorry but no.

Folks, we need to really carefully decide what to show. Only the most necessary stuff should always be in view. You use the software all day for developing so you might share and unshare all the time, but it’s different for the average person using Nextcloud.

[2016-10-18 19:36] rullzer commented on #1776
Yeah but most nessearry is the key here. I'd argue that setting edit permissions in a one time thing, which should happen when sharing not afterwards (But that is a different topic). The most commen action for a share is most likely removing it again.

Anyway I guess I just see it differently so I'll leave it up to the design team.

[2016-10-18 20:07] MorrisJobke commented on #1776
👍

I think a little indicator for "read-write" is enough here instead of the text.

[2016-10-18 20:28] zwotzie opened #1791 "show shared files with full path - enhancement"
If you share a more than a few files or folders per hyperlink than it would be an necessary enhancement to show the full path not only in the tooltip but directly on the page.

[2016-10-18 20:57] gmat commented on #1025
same problem for me from 9.0.x to 10.0.1
I add the missing column with this sql statement
`alter table oc_calendarobjects add classification int(10) unsigned DEFAULT 0;`

Hope that could help

[2016-10-18 22:31] jancborchardt commented on #1776
So then we would have a separate indicator and setting for changing read-write. How would the indicator look – probably an icon? Then people are likely to not understand it, and we need explanatory text → boom we can just use the checkbox with text. ;)

[2016-10-19 03:46] namiba opened #1793 "NC 10.0.1 new install fails on Postgres 9.6 (fresh install)"
### Steps to reproduce
1.  create user in pg with SUPERUSER CREATEDB CREATEROLE;
2.  run web install
3.  error
### Expected behaviour

Install should complete
### Actual behaviour

"message":"Error occurred while checking PostgreSQL version, assuming >= 9",
"Message":"Failed to connect to the database: An exception occured in driver: SQLSTATE[08006] [7] FATAL:
### Server configuration

**Operating

[2016-10-19 03:51] wherf commented on #1778
I checked the cron job with -l

its reply is
*/15 *   *             *             *             php -f /var/www/nextcloud/cron.php >             /dev/null            2>&1

The log is being filled with this single error all the time, Ist now already 2GB big

{"reqId":"JwPJXq0bbkQM+fadjNvW","remoteAddr":"91.64.60.106","app":"no app in context","message":"Error while trying to create shared mount","l

[2016-10-19 05:03] SlavikCA opened #1794 "Enable search for not-logged users in shared folders"
### Steps to reproduce
1. Share folder with files via the link
2. While not logged, as a user - open the link (or in Incognito mode)

### Expected behaviour
I expect, that search bar will be available, so I can search for files

### Actual behaviour
There is no search bar. It only shown for authenticated users.

### Server configuration
**Operating system**:
Ubuntu 16.04

**Web server:**
Apache 2.

[2016-10-19 06:54] nickvergessen commented on #1778
### Log
[code]

[2016-10-19 06:55] nickvergessen commented on #1778
Well the log is certainly unrelated, but also something you should look into.

[2016-10-19 06:59] nickvergessen commented on #1791
Can you make a screenshot of the page you are talking about?

[2016-10-19 07:08] nickvergessen commented on #1793
@icewind1991 you changed postgres stuff lately. Could you have a look?

[2016-10-19 07:17] derkostka commented on #1707
The proposed fix did unfortunately not help. So is there really no chance to download files > 4 GB in an 32 Bit Envirnonment ? I am not into the internals of NC, but i think a download is "streamed" in some kind of chunks, so filesize should not matter for the download itself, correct ?

[2016-10-19 07:34] zwotzie commented on #1791
here you are and thanks for the great sw:

<img width="275" alt="bildschirmfoto 2016-10-19 um 09 30 42" src="https://cloud.githubusercontent.com/assets/10273737/19509480/21947ba8-95df-11e6-937b-a0018253d7ca.png">

[2016-10-19 07:52] nickvergessen commented on #1707
Well that seems to exactly be the problem. Before streaming the size is given. But in your case the size is not a number, but a string (because its bigger than the max int) and therefor the error occures.

The problem is, that the log is not really helpful. Let me check if I can find out where this comes from and whether you can add some debug calls for us, that help us finding the real issue.

[2016-10-19 08:29] nickvergessen commented on #1707
Can you make the following changes, try an download and then revert the changes again (otherwise your log will become very huge quickly), and then post the log here?

File `3rdparty/sabre/dav/lib/DAV/CorePlugin.php`
find (line 795):
[code]
before add:
[code]

File `apps/dav/lib/Connector/Sabre/Node.php`
find (line 201):
[code]
before add:
[code]

File `lib/private/Files/FileInfo.php`
find:
[code]

[2016-10-19 08:45] nickvergessen commented on #1791
Okay, I talked to a designer here in the office, the idea would be to only show the path (half-transparent) when the item name is **conflicting**.
E.g.
![shared_by_link_-_nextcloud_-_2016-10-19_10 45 18](https://cloud.githubusercontent.com/assets/213943/19511794/251c926a-95e9-11e6-8038-b7918fdab562.png)

[2016-10-19 09:11] wherf commented on #1778
I used webmin to clear the activity_mq table, seems that now the email loop has stopped. I have now eneterd a new activity, and will see if the emails only get sent once.

Will make a new issue for the OCP\Files\NotFoundException error

Von: Joas Schilling [mailto:notifications@github.com]
Gesendet: Mittwoch, 19. Oktober 2016 08:55
An: nextcloud/server
Cc: Wolf Dieter Herf; Author
Betreff: Re: [ne

[2016-10-19 09:41] okias commented on #1025
@gmat : and calendar is fully functional after this change?

[2016-10-19 10:13] zwotzie commented on #1791
I would say this solution is good, but not perfekt.

The preferred way would be to show the path always. I'll try to explain why:

* for me it looks inconsistent
* if you have many shared links in different folders, you always want to know where
* best would be to be able to customize the view in the settings, because everybody has his own opinion

All the best.

[2016-10-19 10:26] gmat commented on #1025
@okias : yes. No more 500 error.
In apps/dav/appinfo/database.xml the default value is 0. With this, all the past events are visible to people in a shared calendar, just like before the upgrade. So that's fine for me.

[2016-10-19 12:33] nickvergessen commented on #1025
@okias do you still have this problem?

If so it would be nice, if you can run the following query:
[code]

Also I just saw, that you are the same reporter as in #761
#761 should be the reason why you face this issue here.

Instead of an update your instance tried to install, because of #761
Install failed because the table does already exist.
But table is not updated, because we only try to insta

[2016-10-19 12:48] okias commented on #1025
Empty set (0.00 sec)

[2016-10-19 12:57] okias commented on #1025
Yes, it seems to be fixed.

Thank you guys!!!

[2016-10-19 12:57] #1025 closed

[2016-10-19 12:59] okias commented on #761
Probably also fixed by #1025 , I'll reopen in case it persist.

[2016-10-19 12:59] #761 closed

[2016-10-19 13:17] jancborchardt opened #1802 "Sort favorite files first in the list"
Favoriting is not very integrated at the moment. Only an indicator, we can do better here.

Better integration without needing to switch to a separate view would be to always sort the favorited items of a the current folder up top.

Already done in Android, ref https://github.com/nextcloud/android/issues/107 @nextcloud/javascript

[2016-10-19 13:45] kneiser commented on #1669
@nickvergessen @jospoortvliet  Back Recently this issue (#1669) was closed and referenced in issue #761. Today I noticed that #761 has been closed by the original issue author. I reviewed the closure item and another related issue. I don't argee that the solution for #761 would resolve my issue concerns. I have in the past posted this same issue (#297) and it was closed with no solution. My report

[2016-10-19 14:06] nickvergessen commented on #1025
@okias can you still execute my query and post the result? This seems to happen every now and then and I want to find the root cause.

[2016-10-19 14:09] nickvergessen commented on #297
@kneiser does this still happen for you?
If so, can you please post the result for the following queries:
[code]

[2016-10-19 14:17] ddulic commented on #1760
Did not find it when searching. Thanks.

[2016-10-19 14:28] Cypouz commented on #1025
I don't know if it could help you to find the root cause, but just before searching for fixing this problem, I also had to manually set all "remote_" entry in oc_appconfig as suggested here : https://github.com/owncloud/core/issues/23610 Same problem of update in tables?

[2016-10-19 14:50] TheCasualObserver opened #1804 "User Documentation does not get updated during upgrade from 9.0.53 to 10.0.1"
### Steps to reproduce

I did a manual upgrade fom 9.0.53 to 10.0.1 according to the steps found on https://docs.nextcloud.com/server/10/admin_manual/maintenance/manual_upgrade.html

After the upgrade the user documentation found under "/nextcloud/index.php/settings/help" still shows the "Nextcloud 9 User Manual Introduction". I would have expected that the User documentation gets updated to versi

[2016-10-19 15:58] okias commented on #1025
@nickvergessen check my previous post, there is executed your query

[2016-10-19 20:00] jakobsack opened #1808 "Code integrity check blocks app switcher on mobile devices"
If the code integrity is not

### Steps to reproduce
1. Have at least one file with the wrong checksum
2. Login to owncloud on a mobile device (or use the chrome web tools)
3. Try to switch the app

### Expected behaviour
The information should be shown in an unobtrusive way

### Actual behaviour
The message covers the app switcher and makes it impossible to switch apps.

![2016-10-19 21_54_37-dat

[2016-10-19 20:03] derkostka commented on #1707
Here are the Results:

File 1, exact Filesize is:  9.085.604.216 Byte
"message":"Debugging propFind(): 9085604216"
"message":"Debugging FileInfo::getSize(): 9085604216"
"message":"Debugging getSize(): 9085604216"
"message":"Debugging FileInfo::getSize(): 9085604216"
--> is correct !

FIle 2, exact Filesize is: 9.585.365.368 Byte:
"message":"Debugging propFind(): 9585365368"
"message":"Debugging Fi

[2016-10-19 22:27] #1791 closed

[2016-10-20 04:47] namiba commented on #1793
This is for fresh installs ONLY:

Postgres 9.6 + NC 9.0.54 => OK
Postgres 9.5 + NC 9.0.54 => OK
Postgres 9.6 + NC 10.0.1 => Not OK (Same result as in bug report)
Postgres 9.5 + NC 10.0.1 => Not OK (Same result as in bug report)

It is not a Postgres problem but a NC issue.

[2016-10-20 07:28] steckerhalter opened #1811 "Calendar attendees/invitations"
So currently when someone creates an event and adds attendees it sends an email to those people and one has to use a client applications to be able to accept said event.

Shouldn't it also be possible to accept events via the Nextcloud web interface as well? Otherwise the calendar system is not really usable without an external client.

Thinking a bit further, if it would be possible to accept eve

[2016-10-20 08:24] rullzer commented on #1804
A, probabaly an error in the tarball build script. Let me summon @LukasReschke

[2016-10-20 09:04] danielbierstedt commented on #643
Only thing missing now is the ability to sync subscribed Calendars to your mobile.

[2016-10-20 09:25] nickvergessen commented on #1025
Oh, empty result. Didn't see that. But that certainly helps to reproduce the issue. Now I can easily generate the error as well.

The only question is, why you ended up with it being empty.
Do you recall which version you originally installed and which versions you updated to/from?

[2016-10-20 09:27] nickvergessen commented on #1811
I think this should be reported at the calendar app, since that one provides the UI:
https://github.com/nextcloud/calendar/issues

[2016-10-20 09:27] #1811 closed

[2016-10-20 09:46] nickvergessen commented on #1804
Can you verify that your `lib/private/legacy/defaults.php` contains
[code]
rather than
[code]

[2016-10-20 10:19] nickvergessen commented on #1802
Just noting: the web UI get files in batches, so when you scroll down it preloads more files. But this means that the initial list of files may not contain all your favorites. SO only "some" will appear at teh top, unless this is added fully to the api, in which case n/javascript is the wrong mention. 😦

[2016-10-20 10:43] Cypouz commented on #1025
Equally empty by my side. The initial installed version of ownCloud is 4.5 or 5, which version I update from.

[2016-10-20 10:47] okias commented on #1025
I did ugly update.

I've been updating to 10.0_beta from some 9.1, which has been unsupported at that time (only upgrade from 9.0.x has been OK).

Anyway, I had problem with updating since 8.x -> 9.x, it failed always with problem. I had to manually remove old calendar tables. But calendar worked at least.

[2016-10-20 11:03] cawilliamson opened #1814 "DEVONthink + WebDAV not working (400)"
### Steps to reproduce
1. Go to http://www.devontechnologies.com/download/products.html
2. Download DEVONthink Pro office (or Pro) trial
3. Go to Preferences -> Sync -> + -> Add WebDAV account
4. Set the URL as your nextcloud URL, username and password.
5. Set the store name + encryption keys to anything you like
### Expected behaviour

I would expect DEVONthink to start syncing. It does work prop

[2016-10-20 11:23] TheCasualObserver commented on #1804
Thanks for the fast responses.
Extract from lib/private/legacy/defaults.php:

                $this->defaultDocBaseUrl = 'https://docs.nextcloud.org';
                $this->defaultDocVersion = '10'; // used to generate doc links
                $this->defaultSlogan = $this->l->t('a safe home for all your data');

Today I had to reboot the server for a kernel upgrade and now the help site looks as

[2016-10-20 11:24] rullzer commented on #1804
Mmmm maybe something was cached then.

[2016-10-20 11:24] jancborchardt opened #1815 "Filepicker: Show »No files in here« feedback for empty folders"
Just like in Files, the filepicker should show the same emptycontent icon + text as feedback for the file picker. Otherwise it’s indistinguishable from a bug. :)

cc @icewind1991 @nextcloud/javascript

![capture du 2016-10-20 13-24-02](https://cloud.githubusercontent.com/assets/925062/19558033/8d556e8a-96c8-11e6-9a5c-560699170317.png)
[code]

[2016-10-20 11:30] jancborchardt commented on #1802
Ah ok – how do we get the favorites in the files filter then? We should do it like there. cc @icewind1991

[2016-10-20 12:02] #1804 closed

[2016-10-20 12:03] nickvergessen commented on #1802
The filter uses a completly different endpoint

[2016-10-20 12:23] Ouack23 commented on #1759
The issue template link that you gave leads to a 404. You can find it here : https://github.com/nextcloud/server/blob/c1b2d90ed88a03bcd5ef6cf5eb510d5286196403/.github/issue_template.md

**Steps to reproduce**
Access public shared folder link

**Expected behaviour**
Access to files in that folder

**Actual behaviour**
Page refresh every 5 secs, with the following message at the top of the page :
`P

[2016-10-20 13:12] Ouack23 commented on #1413
Same issue here :
Nextcloud fresh install 10.0.1
Apache configured properly
Self signed certificate done properly following these instructions : https://jamielinux.com/docs/openssl-certificate-authority/

This is really annoying, as it is what nearly every nextcloud admin want to do ! Really looking forward for a fix for this.

[2016-10-20 13:44] kneiser commented on #297
@nickvergessen yes, I still have the same issue. Do you want the queries run in the ownCloud 8.2.1 instance or the Nextcloud 9.0.54 instance that failed instance?

[2016-10-20 13:46] jancborchardt opened #1825 "Adjust loading gif to be same thickness as CSS version"
The thickness of the loading.gif and loading-small.gif are still 1px as opposed to the better visible 2px we use for the CSS version.

CSS version (left) and current gif (disregard the size – but see that the thickness differs)
![capture du 2016-10-20 18-00-03](https://cloud.githubusercontent.com/assets/925062/19597880/a01eebf2-9797-11e6-97a1-02487d2bbe0e.png)![](https://raw.githubusercontent.com/

[2016-10-20 13:50] skjnldsv commented on #1825
As I recall I created it with gimp and animated it. Did not realise I did a mistake :p

[2016-10-20 13:53] Espina2 commented on #1825
@jancborchardt Can I suggest to post print screen when are design related issues. I see you sometimes post it, but others you dont. Its harder to me sometimes to see what you guys are talking about.

[2016-10-20 13:53] nickvergessen commented on #297
Both, if possible

[2016-10-20 13:54] skjnldsv commented on #1825
:)

[2016-10-20 16:44] jancborchardt opened #1831 "Unify select mechanisms/widgets"
Currently we use 4 different things:
1. `<select>` – simplest from the browser directly
2. select2 – allows for tag widgets for example
3. jQuery autocomplete – used in sharing and Mail app autocomplete
4. our core/js/multiselect.js – used mostly in user mgmt for group memberships because it allows you to add new elements (like for the Github labels and Milestones dropdown).

@nextcloud/javascript

[2016-10-20 16:47] skjnldsv commented on #1831
:D
Clearly will help regroup the various styles we're using.
See #1805 for all the fixes we got

[2016-10-20 17:11] eppfel opened #1833 "HTML files are downloaded as txt files in Safari"
I did not have a closer look into it, yet. Maybe something happing to the mime types. The error in the last line of the browser console log, occurs when clicking `download`.
Could reproduce on two different Macs.
- [x] @ccoenen Can you add the Server configuration?
### Steps to reproduce
1. Download a html file in the files app while using Safari
2. Look for the downloaded file / open it
### Expec

[2016-10-20 17:23] #1808 closed

[2016-10-20 17:43] MorrisJobke commented on #1831
I already tried to do so, but it sounds easier than it actually is. This is a really tough task, but we should do.

[2016-10-20 17:47] raghunayyar commented on #1786
well, this can be integrated with the task runners we use for the applications at-least. So, no additional steps for the app standpoint.
I am super happy for us to move to sass, it has been long pending.

[2016-10-20 18:08] skjnldsv commented on #1786
@raghunayyar you mean cron? How will we handle the compiling if the user load nextcloud but the cron hasn't started?

[2016-10-20 18:58] Wikinaut opened #1837 "Error messagetext for username character set: add " "(Space)"
Apparently, a space is also part of the allowed characters for usernames, but the (error) message text (in case you enter an Umlaut or so) is not precise, as the error text does not list the space in the set of allowed characters.

[2016-10-20 20:52] daxcore commented on #688
apps/dav/lib/CardDAV/CardDavBackend.php:

    function updateCard($addressBookId, $cardUri, $cardData) {

+        // fix: comma issue for android contact groups
+        $cardData = str_replace("\\,", ",", $cardData);

[2016-10-20 20:54] ccoenen commented on #1833
## Server configuration

Operating system: Ubuntu 16.04
Web server: apache from packages (2.4)
Database: MySQL / Mariadb
PHP version: 7
Nextcloud version: 10.0(.0)
Updated from an older Nextcloud/ownCloud or fresh install: Fresh Install
Where did you install Nextcloud from: Zipfile
Signing status: ?
List of activated apps:
- regular complement plus calendar (no contacts)

The content of config/con

[2016-10-20 21:05] jancborchardt commented on #1786
@raghunayyar having a task runner for core development is exactly what we want to avoid ;) it’s about on-the fly CSS generation.

[2016-10-20 21:55] Wikinaut opened #1838 "favicon location or Url should become a new optional parameter in config.php"
Currently, the favicon Url is hardcoded in the core, but it should become an optional parameter in config.php so that Nextcloud updates do not overwrite a favicon - when this was customized..

[2016-10-20 23:34] r2evans commented on #1599
@MariusBluem, any thoughts or feedback on my use-case?

[2016-10-21 01:34] kneiser commented on #297
@nickvergessen hope this helps.

============
ownCloud 8.2.1
============

SELECT * FROM `oc_appconfig` WHERE `appid` = 'dav';

no rows returned

SELECT * FROM `oc_appconfig` WHERE `appid` = 'files';

Showing rows 0 -  2 (3 total, Query took 0.0024 seconds.)

SELECT * FROM `oc_appconfig` WHERE `appid` = 'files'

appid	configkey	configvalue
files	enabled	yes
files	installed_version	1.2.0
files	type

[2016-10-21 03:03] gitinthebus opened #1839 "Attempting to rename a samba share deletes all contents in the folder"
### Steps to reproduce
1. Using the external storage option under admin menu point to a samba share with username and password authentication
2. Go back to "Files" Add a few files in the shared samba folder if none exists
3. While still browsing "all files" try to rename the samba share using the "..." button
### Expected behaviour

It should rename the folder/share
### Actual behaviour

It fails

[2016-10-21 04:43] juliushaertl commented on #1838
@Wikinaut Thanks for your report. The favicon can be changed without replacing by creating a custom theme. See https://docs.nextcloud.com/server/10/developer_manual/core/theming.html#changing-favicon for details.

[2016-10-21 04:43] #1838 closed

[2016-10-21 07:06] Wikinaut commented on #1838
@juliushaertl Thanks so far. Will try this.

Only as an explanation: I usually upgraded (until now) by _moving_ (renaming) the whole old subdirectory e.g. performing something like the following steps
[code]
which would "remove" a custom Theme subdirectory. In the future I will not perform these steps any more. Thanks for explanation and help.

[2016-10-21 08:26] nickvergessen opened #1843 "Log spam when disabling versions app"
https://help.nextcloud.com/t/errors-after-disabling-versions-app/4416

Background jobs are not removed.
Same should be the case for trashbin

[2016-10-21 08:50] nickvergessen commented on #297
So, does your 8.2 install really already have a `trusted_servers` table?
Or did you restore a backup from 8.2 in the past, after a failed upgrade attempt to 9.0?

[2016-10-21 09:04] Wikinaut opened #1846 "Two nextcloud installations show different number of Apps/Experimental Apps in Apps > Productivity"
I have two Nextcloud 10.0.1 installations on two different machines, both Debian 8, both were upgraded from ownCloud 9.0.x.

What puzzles me is that the two similar installations show a different set of Apps in section "Productivity", one shows 1 Apps, no Experimental Apps, the other installation shows 2 Apps and about 16 Experimental Apps. I am puzzled...

https://server/nextcloud/index.php/setti

[2016-10-21 09:09] Wikinaut commented on #1846
solved.

config.php needs

[code]

[2016-10-21 09:09] #1846 closed

[2016-10-21 11:52] thomas955 commented on #1708
Hi,

i can confirm this Problem:

1. Share Folder with link
settings: enforce pwd, enforce expiration, modifications enabled, files visible
2. Create file (access via link and pwd).
3. Try to remove created file -> Error (Notification message on top: Error deleting file )

owncloud log error:

1. `Warning	filesystem	Storage wrapper 'sharePermissions' was not registered via the 'OC_Filesystem - pre

[2016-10-21 12:08] jancborchardt commented on #1825
(@Espina2 sure, normally I try to do but I was on mobile. Edited the original post with the images.)

[2016-10-21 12:11] Espina2 commented on #1825
Awesome, I think they should have at least two pixel. In non retina monitor one pixel have a very weird "smothing".

[2016-10-21 13:20] #1708 closed

[2016-10-21 13:21] nickvergessen commented on #1708
That will be the final solution then

[2016-10-21 13:44] kneiser commented on #297
@nickvergessen if you look at the more recent issue #1669 there is a list of tables in ownCloud 8.2.1 before the upgrade attempt. I always make sure I have the most recent backup of the production instance I am about to upgrade.

Does this look familiar?

1. backup the database, current instance files (i.e. config.php), and the instance data files.
2. download and extract the new nextcloud bz2 fil

[2016-10-21 15:07] jancborchardt commented on #1825
Yeah – what I meant is that the gifs should ideally be generated from the look of the CSS spinners so they look exactly the same. Including the light-grey static circle.

[2016-10-21 15:40] ryanwr commented on #1802
I think the sorting should be done server side, I think I've got an idea of how to do it, I'll have a go

[2016-10-21 21:50] okias commented on #1025
after updating from 10.0.0 to 10.0.1 it throws

dav: An exception occurred while executing 'CREATE TABLE `oc_addressbooks` (`id` BIGINT UNSIGNED AUTO_INCREMENT NOT NULL, `principaluri` VARCHAR(255) DEFAULT NULL, `displayname` VARCHAR(255) DEFAULT NULL, `uri` VARCHAR(255) DEFAULT NULL, `description` VARCHAR(255) DEFAULT NULL, `synctoken` INT UNSIGNED DEFAULT 1 NOT NULL, UNIQUE INDEX addressbook_ind

[2016-10-22 10:34] danielbierstedt opened #1854 "Some contact birthdays shown multiple times"
Steps to reproduce

I have no idea how to reproduce that. The source is an exported file from Owncloud.

Expected behaviour

One event shown per contact that has a birthday, anniversary or similar filled in the contacts.

Actual behaviour

Some contacts have 3 calendar events for a birthday, some have only one. The contact does not have duplicates, a sync to my mobile using caldav shows only one e

[2016-10-22 12:54] leighss opened #1856 "Box replaced server domain certificates not ugraded"
1st time doing this, so I hope I have been succinct enough yet included all info.

I recently bought a Box with the pre-installed SD and set it up successfully, following the instructions.

I connected successfully to the internet using [WIKI](https://github.com/nextcloud/nextcloud-snap/wiki/Connecting-the-Nextcloud-Box-to-the-Internet) with a ddns.net account

All was working fine.

Then I change

[2016-10-22 13:29] ryanwr commented on #1802
@nickvergessen I'm not sure if I'm missing something but does the client receive batches of files from the webdav server? How does the webdav server paginate requests?

[2016-10-22 13:43] MariusBluem opened #1857 "Better README for the server-repo"
I am already working on this 😁 ... An issue just to block this topic for me 😈

[2016-10-22 13:53] 8BitAce commented on #288
I'd definitely like to see this as well. I've been waiting since they first announced the service last year but as of yet neitherr OwnCloud, Pydio, nor NextCloud seem to be attempting it. (I've taken a look into implementing it myself but my lack of knowledge in PHP and owncloud's plugin system seemed insurmountable).

Some additional points though:
- No, I don't believe there are any official cli

[2016-10-22 14:29] ChristophWurst commented on #1802
@ryanwr the pagination is done on the client, which means the folder content it fetched with a single webdav request AFAIK.

[2016-10-22 15:49] ryanwr commented on #1802
@ChristopherWurst Thanks! That's helpful

[2016-10-22 16:29] couling opened #1858 "Unable to create or interact with files containing spaces."
I have a fresh installation of Nextcloud 10.0.1.

In the web-ui I can't create any files / folders with spaces in the name.  Neither can I rename or delete any existing files or folders with a space.  The existing files with spaces were added on the command line.

I'm running Ubuntu 16.04.  Apache 2.4, php 7.4 (through php-fpm).  I've had this problem both with mysql and postgresql as the database

[2016-10-22 16:32] tflidd commented on #1858
One user also noted that this was a new problem on NC 10.0.1 and reverting back to 10.0.0 solved the issue: https://help.nextcloud.com/t/nextcloud-in-browser-errors-with-spaces-on-filenames/4190/2

[2016-10-22 17:53] xMartin opened #1859 "Uploading multiple files at once not working on mobile Safari"
### Steps to reproduce
1. Create folder and share link with edit permission and hide file list option set
2. Open share link in mobile Safari (iOS)
3. Click "choose files" button and select two images from your foto library
### Expected behaviour

All two images being uploaded and appearing in my files app.
### Actual behaviour

Only one of the two pictures appearing in my files app.
### Server co

[2016-10-22 20:24] oparoz commented on #1856
This is probably due to the fact that most Let's Encrypt scripts save a domain config locally and use it to renew the certificates. If that's correct, then maybe the bash script should wipe that when https is disabled.

[2016-10-22 21:20] ryanwr commented on #1802
Opened a PR, I'd appreciate feedback on it!

[2016-10-23 03:35] artin1998 commented on #1570
Check firewall configuration!!

[2016-10-23 09:25] wherf opened #1862 "Error - no app in context - OCP\Files\NotFoundException:"
### Steps to reproduce
1. Running system
   2.
   3.
### Expected behaviour

Tell us what should happen
### Actual behaviour

The log is filled with the error message - Error

no app in context

OCP\Files\NotFoundException:
### Server configuration

**Operating system**:
ubuntu
**Web server:**
apache
**Database:**
mariadb
**PHP version:**

**Nextcloud version:** (see Nextcloud admin page)
10.0.1 (

[2016-10-23 09:26] wherf commented on #1862
error log shows following

OCP\Files\NotFoundException:
1. /var/www/nextcloud/lib/private/Share20/DefaultShareProvider.php - line 437: OC\Share20\Share->getNode()
2. /var/www/nextcloud/lib/private/Share20/Manager.php - line 878: OC\Share20\DefaultShareProvider->move(Object(OC\Share20\Share), 'Intranet')
3. /var/www/nextcloud/apps/files_sharing/lib/SharedMount.php - line 120: OC\Share20\Manager->mo

[2016-10-23 11:16] cawilliamson commented on #1814
Anyone?

[2016-10-23 12:08] aronovgj commented on #1112
Today I had this using the android app and without accessing trashbin. Not sure if I can reproduce.

[2016-10-23 13:23] jancborchardt commented on #898
This was implemented with https://github.com/nextcloud/server/pull/1754 and will be part of the upcoming Nextcloud 11 release! :)

Also cc the folks from the original issue like @Bugsbane @eotryx @nona00 @e-alfred @leizh @wmisi @nekohayo @BloodyIron @maclag @Vraana – your requests have been heard. :tada:

[2016-10-23 13:23] #898 closed

[2016-10-23 13:27] jancborchardt commented on #276
Ref https://github.com/nextcloud/server/issues/1273 also for the same thing on local link.

@rullzer good point with that it’s not possible on OS X.

[2016-10-23 13:31] jancborchardt opened #1863 "Copying share link not possible on iOS"
- marking and copying long text from inside the disabled input field is not really possible
- using the »copy to clipboard« function is not supported on iOS

Since iOS devices are pretty common, we need to fix this.
- An idea could be to use text instead of a disabled input field. We have to check if it reliably works on other platforms when ellipsized etc.
- Making the input not-disabled could al

[2016-10-23 13:35] jancborchardt opened #1864 "File replacement modal too wide on mobile"
Uploading multiple images with iPhone in Files is not possible because the confirmation dialog for overwriting files cannot be used as expected. There's not enough room for seeing the full dialog box.

![b767b0c2-94de-11e4-897e-195eba833027](https://cloud.githubusercontent.com/assets/925062/19626627/3ff4cc74-9936-11e6-92ca-df494d22c1d6.PNG)

cc @nextcloud/designers @nextcloud/mac

[2016-10-23 14:58] Espina2 commented on #1863
Not only the copy to clipboard doesnt work. It have another bug when you try to select the content of the form to.

[2016-10-23 15:04] oparoz opened #1865 "Convert sample video to a format which plays in the top browsers"
The top browser today with 50% market share is Chrome and the sample video doesn't play, so it should be converted to play.

@jospoortvliet @jancborchardt

[2016-10-23 15:15] juliushaertl commented on #1838
@Wikinaut Right, you should backup your custom theme just as the config.php, but there will be no file conflicts with new versions of Nextcloud.

[2016-10-23 15:48] leighss commented on #1856
[code]

But still old certificate

[2016-10-23 17:15] mnlipp commented on #1505
It's indeed extremely annoying (actually _was_, see workaround at the end of this comment). I moved from owncloud 9.x to nextcloud 10.0.1 yesterday. I didn't experience this problem before. The reminder pops up every time when the SOGO connector (Thunderbird/Lightning) synchronizes the birthday calendar that is automatically derived from the contacts.

I'm not sure whether this is related to **imp

[2016-10-23 21:06] nursoda commented on #1505
Yes, silencing a calendar in a user agent (here: TB) works, but it's the wrong way if you don't want/need reminders at all. Problem is that you need to silence ALL user agents. Using Business Calendar on Android for example, I can switch off the SOUND, but not the notification.

[2016-10-24 00:45] BergBenji opened #1867 "wrong behavior on "exclude groups from sharing""
Hello, i found a bug. (In my opinion it is)

Share within "Exclude groups from sharing" works if another group is defined.

### Steps to reproduce
1. Create 3 ore more Users.

1.1 User 1: Group EMAIL, CONTACTS

1.2 User 2: Group: MyCompany, CONTACTS

1.3 User 3: Group Test3, MyCompany

2. Set in Adminarea "Exclude groups from sharing" for Group EMAIL and CONTACTS

### Expected behaviour
In my opin

[2016-10-24 04:06] guitargurus opened #1868 "Improve integrated video capabilities"
### Steps to reproduce
1.  Select an .avi video file stored on nextcloud
2.  Attempt to play selected .avi video file

### Expected behaviour

.avi, as well as other popular formats such as .mov and .mpeg, should open in a window and play in the same way .mp4 video files play in Nextcloud.

### Actual behaviour

.avi (and .mov) video files do not play.  A download will start when selected, instead

[2016-10-24 05:33] refresher commented on #1570
Firewalld is disabled mate, iptables is running with default ACCEPT policy for the sake of resolving the issue.

[2016-10-24 06:58] nickvergessen commented on #1560
Fixed with https://github.com/nextcloud/server/pull/1773

[2016-10-24 06:58] #1560 closed

[2016-10-24 07:02] ChristophWurst commented on #1615
There are some minor styling issues with the new login button on bright themes:
![bildschirmfoto von 2016-10-24 08-57-55](https://cloud.githubusercontent.com/assets/1374172/19636213/3d23ccec-99c8-11e6-8391-bf182a83fc4c.png)

1. The transparent button background can make it unnecessarily difficult to read the button text. We should remove that.
2. The button's text and its arrow should have the sam

[2016-10-24 07:29] lepinkainen opened #1869 "Psql installation always attempts to connect to database named 'template1'"
### Steps to reproduce
1. psql database without admin access
2. Start installation, give database name
3. nextcloud attempts to install itself to database named "template1" instead of the one given in the wizard
### Expected behaviour

Install where I tell it to go
### Actual behaviour

Install attempts to connect to 'template1', which fails.

'template1' is hardcoded in `3rdparty/doctrine/dbal/li

[2016-10-24 07:37] nickvergessen commented on #1856
Since this has nothing to do with the server, please report your issue in the snap repository

[2016-10-24 07:37] #1856 closed

[2016-10-24 07:47] nickvergessen commented on #1858
Can you check if reverting https://github.com/nextcloud/server/commit/d50e7ee36c5607da848702ca36f7b34505c1622e helps?
So if you add the red lines back to your file.

[2016-10-24 07:49] nickvergessen commented on #1862
@rullzer

[2016-10-24 07:55] nickvergessen commented on #1865
I think @karlitschek did all the sample files

[2016-10-24 07:58] karlitschek commented on #1865
yes. i did it. I thougt that everyone can play H264. Works fine on Chrome on MacOS. @oparoz Can you check what exactly the problem is?

[2016-10-24 08:00] nickvergessen commented on #1867
Did you read the little description below the input box?

[2016-10-24 08:00] #1867 closed

[2016-10-24 08:01] nickvergessen commented on #1868
Feel free to create a PR in https://github.com/nextcloud/files_videoplayer

If you don't want to, please reopen your issue in that repository

[2016-10-24 08:01] #1868 closed

[2016-10-24 08:03] nickvergessen commented on #1869
Well but we shouldn't end up in that path, when a db name was given.
We only end up there, when the db name was not set:
https://github.com/nextcloud/3rdparty/blob/master/doctrine/dbal/lib/Doctrine/DBAL/Driver/PDOPgSql/Driver.php#L89-L90

So we should have a look, why it was not set in first place.

[2016-10-24 08:16] myzpat commented on #1570
Hi, for me, no firewall, no iptables no selinux at all. I have a hardware perimetral firewall in front of datacenter. The linux server has no problems to connect to HTTP/HTTPS destinations.

To resolve the problem, I have disabled the collabora-online app, remove the old 1.1.4, unzip the last 1.1.7 and then I have launched the occ upgrade manually.

Now I have the same issue with collabora 1.1.8 u

[2016-10-24 08:50] nickvergessen commented on #297
So you ran the update, and then restored the backup of your database? That should certainly be the issue. This breaks heavily, because then the new tables are still there, but the record that the app was already installed is removed from the database by the backup.

Let me try what we can do to prevent this.

[2016-10-24 08:56] MariusBluem commented on #1865
Do you use Flash with Chrome on macOS? @karlitschek

Ref: http://www.zdnet.de/41544877/google-chrome-stellt-support-fuer-video-codec-h-264-ein/

[2016-10-24 08:58] MariusBluem commented on #1865
http://caniuse.com/#feat=mpeg4

[2016-10-24 09:07] nickvergessen commented on #1025
Did you also restore a backup at some point in time?

[2016-10-24 09:11] nickvergessen commented on #1505
Yeah, that's why the issue is still open ;)

[2016-10-24 09:29] schiessle commented on #1662
A bit late to the discussion, but I agree with the conclusion by @georgehrke. Think this is a good way forward.

[2016-10-24 09:35] karlitschek commented on #1865
It is not using flash. It's native here. mpeg4 is only the container. The codec is also critical. It would be good if someone on linux, or wherever the current video doesn't work, would recode it so that it works. I can't test it because it works fine on Safari, Firefox and Chrome here.

[2016-10-24 10:14] nickvergessen commented on #297
I wrote a little script that should solve the problem:
https://gist.github.com/nickvergessen/c83981bafbbe55e3cf5bde09b901cfcf

Please download it, put into the root of your Nextcloud, run it once and delete it afterwards.

And then in the future never restore a backup without previously clearing the database.

[2016-10-24 10:14] #297 closed

[2016-10-24 10:15] nickvergessen commented on #1025
I wrote a little script that should solve the problem:
https://gist.github.com/nickvergessen/c83981bafbbe55e3cf5bde09b901cfcf

Please download it, put into the root of your Nextcloud, run it once and delete it afterwards.

[2016-10-24 10:16] GitHubUser4234 opened #1874 "Changing password doesn't work for non-admin users"
It seems that there is an issue with the current master that has somehow been introduced recently: When a user that is **not** in the admin group tries to change his password on the personal page, a 403 response is returned on the ajax call and the password change is unsuccessful.

[2016-10-24 10:24] GitHubUser4234 opened #1875 "Changing password hint stays on personal page until page refresh"
When a user tries to change his password with a wrong old password, a hint is shown saying "Wrong password", which is fine. However when the user corrects the old password and the password change is then successful (as indicated by a check mark), the previous hint is not cleared. This can be quite confusing:

![image](https://cloud.githubusercontent.com/assets/16538178/19642160/a0e8293c-9a16-11e6-

[2016-10-24 10:36] blizzz commented on #1749
@hregnier so you use the LDAP backend? https://docs.nextcloud.com/server/10/admin_manual/configuration_user/user_auth_ldap.html#directory-settings → "User Search Attributes"

[2016-10-24 11:42] blizzz commented on #1603
@znerol got my Jolla C (SF 2.0.2.51) on the weekend and I did not have any issues adding my Nc 10 Cal- and Carddav. Not aware that anything changed inbetween?

[2016-10-24 12:52] iangrey commented on #1863
I've seen several apps do this. Has Apple introduced new restrictions here?

[2016-10-24 13:37] kneiser commented on #297
@nickvergessen I restored the database from backup then ran the update. Is that a problem?
When you say put it in the root of Nextcloud and run once. You mean I should run it as "php repair-appconfig.php"? I restore the database from an sqldump file, does it not empty the database out first before the restore.

[2016-10-24 13:40] nickvergessen commented on #297
No, because the tables didn't exist in your backup, they could be from any other tool that uses the same database....

Either that, or via the web, aka. `http://localhost/repair-appconfig.php`
Both should work fine.

[2016-10-24 14:48] nickvergessen commented on #1874
I will have a look

[2016-10-24 15:24] kneiser commented on #297
@nickvergessen thank you for your help. I will follow the information you provided and see what the results yeild.

[2016-10-24 15:31] MorrisJobke opened #1889 "Use callForSeenUsers where possible"
- once #1888 is in we should re-evaluate following occurences:

<img width="793" alt="bildschirmfoto 2016-10-24 um 17 28 05" src="https://cloud.githubusercontent.com/assets/245432/19652051/a9697482-9a0f-11e6-934a-04d014e2cef1.png">

cc @nickvergessen @rullzer @icewind1991

[2016-10-24 15:34] MorrisJobke commented on #1728
Also see https://github.com/owncloud/core/pull/26402 (it's an fix for this occ command)

[2016-10-24 16:36] MariusBluem commented on #1857
Fix is in: #1892

[2016-10-24 17:14] tomchomiak commented on #215
Hey guys. Thank you for the great platform!

I would suggest leaving it to the admin to decide if they want to enable this feature within the config vs completely disabling it. You can disable it by default, but you should still allow the admin to enable it if they choose.

I do not plan on using the contacts app, calendar app, or many of the other apps. My use case for Nextcloud is strictly file

[2016-10-24 17:45] oparoz commented on #1865
OK, my bad, Chromium doesn't support h.264, but Chrome does.

[2016-10-24 17:45] #1865 closed

[2016-10-24 18:29] couling commented on #1858
For me, 10.0.0 has the didn't work either.

I tried on a separate machine using version:
[code]

I've tried reverting these, but the problem remains:
[code]

[2016-10-24 18:36] MariusBluem commented on #1865
Always these chromium users 🙄😜 ... Question: Is missing h.264 support in chromium a reason for using another format, since chromium is also an browser sometimes used in linux distributions 😁

[2016-10-24 19:17] #1857 closed

[2016-10-24 19:17] k4tfish opened #1895 "Sharing backend for principals not found /ldap"
I cannot share calenders with AD users. While searching for a contact to share, the app doesn't show any users.

The following appears in the log: "Sharing backend for principals not found"

There was a similar issue in the oc calender app. https://github.com/owncloud/core/issues/23827

-- k4tfish - calendar 1.4.0 /NC 10.0.1 / Ubuntu 16.04 / Apache

[2016-10-24 21:17] jancborchardt opened #1896 "Files drop: don’t show avatar placeholder if no avatar is present"
For the file upload without file listing, we show the avatar nice and big. And that is cool.

However – when the sharer has no avatar set, it will show the giant circled first letter. This is rather useless and just takes attention away from the upload button.

If no avatar is set, the element should simply not be shown.

cc @nextcloud/javascript

[2016-10-25 06:16] WebSpider commented on #288
:+1: this would be yet another compelling reason for me to finally make that switch from oc to nc

[2016-10-25 06:20] #1815 closed

[2016-10-25 08:15] nickvergessen commented on #1889
The method will be 11+ I assume?

[2016-10-25 08:20] OS3DrNick opened #1901 "Allow SelfSigned/Untrusted certificates for outgoing mail servers"
### Steps to reproduce
1. Clean Install Nextcloud
2. GoTo Admin page, Additional settings, Email Server
3. Configure Mail Server, With SSL, Port 465, Test settings
### Expected behaviour

Would expect that the server accepts Self Signed certificates, or display a warning about its certificate.
### Actual behaviour

Nextcloud test error comes back with:
`A problem occurred while sending the email.

[2016-10-25 09:39] nickvergessen commented on #1707
Can you try whether https://github.com/nextcloud/server/pull/1902/files helps?

[2016-10-25 09:47] nickvergessen commented on #853
The feature was implemented as a new app:
https://github.com/nextcloud/files_downloadactivity

[2016-10-25 09:47] #853 closed

[2016-10-25 09:53] LukasReschke commented on #1707
Also https://github.com/nextcloud/server/pull/1890

[2016-10-25 11:03] jancborchardt commented on #1662
@georgehrke it was a reply to your previous question:

And I think it should be the respective app. Definitely not a new `calendar_trashbin` app or something like that which needs to be separately enabled.

[2016-10-25 11:06] jancborchardt commented on #1505
This seems to be the most sensible course of action. It’s definitely not an admin decision.

@georgehrke @raghunayyar @tcitworld we could have a default reminders setting for each calendar, including subscribed ones like birthdays?

[2016-10-25 11:12] georgehrke commented on #1662
Please see https://github.com/nextcloud/server/issues/1662#issuecomment-252332641 on why I think this is a really bad idea.
You can use CalDAV and CardDAV without enabling the respective apps.

[2016-10-25 11:13] Henni commented on #1662
@jancborchardt this would mean that the calendar app has to be installed to offer a trashbin to all other clients.
I'd prefer to implement only the gui inside the respective apps (contacts & calendar) and implement the backend (functionality) inside a different app, maybe extend dav_trashbin or even create new apps (which are enabled by default).

[2016-10-25 11:16] mnlipp commented on #1505
I'm not sure if a default setting for each calendar is a good idea. The problem here arises from the special birthday calendar that is generated by the server. And for this generated calendar, it is reasonable to allow the user to control if alarms should be generated along with the dates.

For "ordinary" user maintained calendars it is not the servers job to modify them. It should take and preser

[2016-10-25 11:18] georgehrke commented on #1662
I would really prefer to just put it in the dav app. This feature requires a Plugin for Sabre/Dav and  at the moment there is no way for other apps to register sabre/Dav plugins.
All the other things like comments and tags are also in the dav app.

[2016-10-25 11:19] MorrisJobke commented on #1889
yes

[2016-10-25 11:19] jancborchardt commented on #1615
@ChristophWurst good points! Actually the default button has no opacity. Removing it from theming at https://github.com/nextcloud/server/pull/1903 – just need some help adjusting the icon to black depending on the color. :)

[2016-10-25 11:37] georgehrke commented on #1505
The server is never ever going to change any events sent by some clients. CalDAV provides some mechanisms for defining default alarms for allDay and timed events (see https://tools.ietf.org/id/draft-daboo-valarm-extensions-01.html#rfc.section.9)

If implemented by the client, it automatically adds this to the event or the todo.
If the server receives an event/todo without a reminder, it won't add

[2016-10-25 11:46] rullzer commented on #1802
Merged in #1860 thanks @ryanwr

[2016-10-25 11:46] #1802 closed

[2016-10-25 11:48] jancborchardt commented on #1073
Was fixed by @nickvergessen :) in #1478

[2016-10-25 11:48] #1073 closed

[2016-10-25 11:56] jancborchardt opened #1904 "New folder: icon-confirm button for mouse users"
Currently the new folder name has to be confirmed by using enter. This is a problem on mobile and for people who use the mouse a lot.

We should introduce an icon-confirm button positioned in the right of the field which acts as a confirm function too.

cc @nextcloud/designers @nextcloud/javascript

[2016-10-25 11:58] jancborchardt opened #1905 "New folder creation flow: descend into newly created folder by clicking enter again"
When finished with entering the new folder name, the most likely thing people can do with it is fill it up with files. That’s why we should automatically descend into it.

With #1618 (share current folder) it will also be possible to share it from inside so that’s taken care of too.

cc @nextcloud/javascript @nextcloud/designers

[2016-10-25 12:02] jancborchardt commented on #1059
Superseded by »New folder creation flow: directly descend into new folder« #1905 which makes a bit more sense.

[2016-10-25 12:02] #1059 closed

[2016-10-25 12:07] jancborchardt commented on #1662
Ok, putting it in the dav app seems to make most sense.

[2016-10-25 12:13] jancborchardt commented on #1846
@Wikinaut this setting is also available in the interface, bottom left Settings area. :)

[2016-10-25 12:16] Wikinaut commented on #1846
Uh, tatsächlich.... (danke)

[2016-10-25 12:25] jancborchardt commented on #1615
Both now fixed at https://github.com/nextcloud/server/pull/1903

[2016-10-25 12:47] LukasReschke commented on #1614
Fixed with https://github.com/nextcloud/server/pull/1871

[2016-10-25 12:47] #1614 closed

[2016-10-25 13:30] benmichael commented on #1084
Either way, we need to keep in mind that AWS S3 (which will be the majority of the users of this) has [a default limit of 100 buckets](http://docs.aws.amazon.com/AmazonS3/latest/dev/BucketRestrictions.html) per account.  This can be lifted by contacting customer support, but that's a poor experience for the users of NextCloud.

Also, obviously, we'll need to have some name bucket name resolution w

[2016-10-25 13:40] Ryux opened #1909 "The dates before 1970 are not well displayed"
If you have files before 1970, the date is not well displayed
### Steps to reproduce
1. Import some files
2. touch the file on the Filesystem and change the date (touch -a -m -t 196911131200.00 testFile)
3. rescan with occ
### Expected behaviour

Dates have to be displayed as the chosen format
### Actual behaviour

Display '?'
### Server configuration

**Operating system**: Linux Debian 8

**Web s

[2016-10-25 14:19] nickvergessen commented on #1505
@jancborchardt so where should we put this setting? Personal page? Contacts app? Calendar app?

[2016-10-25 14:20] georgehrke commented on #1505
I'd go for the calendar app.

[2016-10-25 14:43] mnlipp commented on #1505
From a user's perspective, I agree. It's the only place where the contact birthday calendar currently appears in the user interface. (And considering the requests to allow modification of color for this calendar just as with the others, it needs an "edit" dialog on the long run anyway.)

[2016-10-25 14:57] fishscene commented on #1413
This is flagged as "Needs info", but I'm not sure what information is needed.

In sum: As an administrator federating 2 servers, I should be able to vouch my servers are who they say they are.

How this is communicated to the person federating the server doesn't matter. As long as there is an override and a way to see the certificate that needs to be accepted (for manual verification).

[2016-10-25 15:20] OdinsAuge commented on #375
I 'd also be glad to have that feature. I have several Folders on the root-Level of my Cloud and I'd like to enable encryption, but there is one folder that has to stay unencrypted.
The data is located on a NAS an the files of this folder get read (only read, not written) by an application of the NAS.

[2016-10-25 16:51] georgehrke commented on #1505
Instead of providing default alarms for each calendar, which most clients don't expect anyway, we should simply add a simple select to the calendar settings, that provides the following options:
- None
- 9AM on day of birthday
- 1 day before (9AM)
- 2 days before (9AM)
- 1 week before (9AM)

[2016-10-25 18:26] schiessle opened #1916 "discussion: remove "send email" option for public links"
If you create a public link you can send this link directly by mail to your friend or colleague by entering the email address to a input field _if_ this option is enabled by the admin, by default it is disabled.

I want to discuss the idea of removing this functionality because of following reasons:

This feature was introduced because it was the only option to send a file directly by mail to some

[2016-10-25 18:39] derkostka commented on #1707
Sorry, neither #1890, nor #1902 solve this, sorry.

PHP_INT_SIZE is 4, I double checked this, just in case ...

[2016-10-25 19:44] mightyBroccoli opened #1918 "Problem Sharing: Automatic Reply Problem"
Hi,

I am running nextcloud 10.0.1 in a smaller environment ( 25 ppl ) using apache2 using the latest php7.
Some of my users noticed something problematic, when sharing something via link there is the option to send the link to someone via email.
The problem is when there is something like holiday away email, wrong email address oa the return email gets to the server and not to the user itself.

I

[2016-10-25 20:06] rullzer commented on #1916
I like it!
Of course https://github.com/nextcloud/server/pull/657 then needs to allow for setting all the general link sharing stuff (expiration date, password?).

But as far as I know @nickvergessen wan't expiring shares anyway. So that could work out.

[2016-10-25 20:40] eppfel commented on #1444
I found the shortcuts of the files app, but not any other ones. ⏫
I'll open respective issues in the contacts/calendar/gallery apps. Any other apps that are essential?

Before we jump into action (see todos ⏫ ), we should develop an ideal/desired state, so shortcuts are consistent over apps and we don't have conflicts/collisions between apps and general shortcuts (navigation/search).
I'd like @nex

[2016-10-25 21:49] schiessle commented on #1916
I don't think #657 will have expiration date or password. That's also not available for other shares creates from the share entry. If we introduces expire dates for all shares this is something different. But this would be out of scope for #657 and would first need a UI design.

[2016-10-26 01:03] enoch85 opened #1919 "WebDAV doesn't work when migrating from ownCloud"
### Steps to reproduce
1. Migrate from ownCloud by following these steps: https://help.nextcloud.com/t/migrating-from-owncloud-to-nextcloud/551
2. Try to access https://example.domain.com/remote.php

### Expected behaviour
Webdav should work

### Actual behaviour
1. I can't login via the Nextcloud Android app @AndyScherzinger (With my real domain I can login, but can't upload photos, InstantUpload

[2016-10-26 04:43] derkostka commented on #1707
I will Setup a test instance of owncloud Master to check if it is a Problem there also ..

[2016-10-26 05:54] phsc commented on #1444
In IE11 none of the above listed "Keyboard shortcuts: actual state" worked in the Files app on Nextcloud 10.0.1. Is this an IE11 problem or do I something wrong?

Nevertheless, I'm not sure, if ``backspace`` should trigger the "delete file/folder" action. This could lead to unintentionally deleted files (ok, we have a trashbin, but it still can be annoying).

[2016-10-26 06:01] vgvenkat commented on #1837
Can I take a look at this? I am just getting started on this project

[2016-10-26 07:20] AndyScherzinger commented on #1919
Hi @enoch85,

* which Android version and app version are you running?
* can you send/pm me and @tobiasKaminsky (demo) credentials via the forum? (Then I can debug this matter from the Android client side :smiley:)

[2016-10-26 07:32] LukasReschke commented on #1916
Seconding. Sounds good to me. 👍

[2016-10-26 08:02] te-online commented on #1905
You have a point there. But I'm not sure about the flow you describe.

I can only speak from my own experience: Probably the second most likely thing people will do is creating multiple folders at a time (like ”Images", ”Videos” and ”Sounds”) and then filling one at a time. Jumping into the new folder surely makes the first most likely case a piece of cake, but it really makes this second case a b

[2016-10-26 08:03] karlitschek commented on #1916
makes sense to me. 👍  But it is important that the user understand that they can type in an email. We need some indication for this. Not sure if it exists already.

[2016-10-26 08:18] eppfel commented on #1444
@phsc: mh, movin in the list and open works on my side, but not the rest. Maybe this is something for a dedicated issue.

[2016-10-26 09:00] nickvergessen commented on #1916
We have a placeholder there, which can be extended easily `Share with users, groups or remote users…`

[2016-10-26 09:02] nickvergessen commented on #1858
@LukasReschke any idea about this exception? `Requested uri
(\/cloud\/remote.php\/webdav\/New%20folder) is out of base uri `

[2016-10-26 09:04] LukasReschke commented on #1858
Please provide all information as requested in the issue template. This includes also the config file etc.

[2016-10-26 09:12] schiessle commented on #1916
Which is already part of my PR :smile:

[2016-10-26 09:13] nickvergessen commented on #1909
Well the only way around this would be to switch from int to datetime on the database level.
But that is nothing we can do I guess, because the update would take like forever.

[2016-10-26 09:14] nickvergessen commented on #1895
@blizzz any idea?

[2016-10-26 09:15] nickvergessen commented on #1901
I guess the solution would be the same as https://github.com/nextcloud/server/issues/1413

[2016-10-26 09:17] nickvergessen commented on #1918
This is not possible, because not email addresses can be used as sender address by any mail server. Also we are currently discussing the removal of this feature:
https://github.com/nextcloud/server/issues/1916

[2016-10-26 09:20] nickvergessen commented on #1919
Well when the web also shows no files, the problem is with dav not with any app.

[2016-10-26 09:20] nickvergessen commented on #1919
@enoch85 can you check if your nginx config matches the documentated one:
https://docs.nextcloud.com/server/10/admin_manual/installation/nginx_nextcloud_9x.html

[2016-10-26 09:21] LukasReschke commented on #1919
Fix your code signing errors also. Then we can talk again 😉

[2016-10-26 09:23] nickvergessen commented on #1814
Nothing in your nextcloud.log file?

[2016-10-26 09:42] couling commented on #1858
Apologies I've missed an important point in my report.  I've installed under a subfolder of the document root.

https://example.com/coud
Not
https://example.com/

@nickvergessen I've done a little investigation which showed this exception is thrown when a requested URI is outside of the files managed my nextcloud.  For some reason, when the filename has spaces in, it finds an incorrect base URL /

[2016-10-26 10:05] enoch85 commented on #1919
@nickvergessen I use Nginx as a Reverse Proxy, so the config wouldn't be the same.

@LukasReschke Yeah, kind of messed up. I'll do a second try and start over. Shouldn't be this hard though. Are you developing a migrating app?

[2016-10-26 10:40] enoch85 commented on #1919
@LukasReschke Ok, I fixed the Integrity Check by not copying over the apps folder and now webdav works, but when using the ownCloud client (Android) and taking a photo the Nextcloud Desktop client gives me this:

[code]

[2016-10-26 10:44] enoch85 commented on #1919
Same goes for using the ownCloud Andorid Client with the ownCloud Desktop client. Will keep investigating.

[2016-10-26 10:50] enoch85 commented on #1919
Ok, turns out I had a folder with the same name, and the Android Client didn't get that it was the same name and created a new folder with the same name. Removing the folder with the same name solved the issue. @AndyScherzinger

I'll close this issue as the original problem is solved.

[2016-10-26 10:50] #1919 closed

[2016-10-26 10:59] enoch85 commented on #1919
Still some errors with the Android Client @tobiasKaminsky @AndyScherzinger Please test with the demo account. Thanks!

[2016-10-26 11:13] AndyScherzinger commented on #1919
@enoch85 will try again later, since it times out at the moment...

[code]

[2016-10-26 11:32] blizzz commented on #1895
Works for me, although the user ids are shown instead of the display names, when sharing. cc @georgehrke

@k4tfish can you please give a complete bug report using the [template](https://github.com/nextcloud/server/blob/master/.github/issue_template.md)? thx

Github returns a 404 on the linked issue.

[2016-10-26 11:33] georgehrke commented on #1895
Yes, working on that

[2016-10-26 11:35] janw-me opened #1922 "External storrage: Not enough free space or just hangs"
### Steps to reproduce
1. Add a ssh of sftp external storage
2. upload a file
3. The progress just hangs at `any moment now` and does nothing. When reloading the file is there and works. But uploading anything else after that it gives an error like: `Error uploading file "IMG_20160914_113454.jpg": Not enough free space, you are uploading 774 KB but only 0 B is left` Or the progress just hangs at `

[2016-10-26 11:50] blizzz commented on #1916
kill it :crossed_swords: :skull:

[2016-10-26 11:51] JarbyDev opened #1924 "Server info App dont work after upgraded to 10.0.1"
Server info was working perfectly on 10.0.0, but after i upgraded to 10.0.1, doesnt work anymore see screenshoots

![serverinfo](https://cloud.githubusercontent.com/assets/11229573/19724946/e90aa8e4-9b50-11e6-98a0-7e1e1ce06c4e.PNG)

![serverinfo1](https://cloud.githubusercontent.com/assets/11229573/19724954/ee0f8e4a-9b50-11e6-8219-1a9709c6c4f0.PNG)

[2016-10-26 11:56] enoch85 commented on #1919
@AndyScherzinger Yeah syncing 200 GB atm heh. Give it 2 hours

[2016-10-26 12:08] nickvergessen commented on #1874
Fix is in https://github.com/nextcloud/server/pull/1925

[2016-10-26 12:12] AndyScherzinger commented on #1919
:stuck_out_tongue_closed_eyes: oh dear... :roller_coaster:

[2016-10-26 14:27] #1874 closed

[2016-10-26 14:57] enoch85 commented on #1919
Just switched to Nextcloud now so all the clients are syncing 2 TB. I'll ping you when it's done.

[2016-10-26 16:00] cgrima opened #1927 "Follow symbolic links"
Allow NC to follow symbolic links would provide Unix admins an extra way to oragnize their storage and link them to NC. Some usage examples are available on the forum:
https://help.nextcloud.com/t/symlinks-in-external-storages/4149
https://help.nextcloud.com/t/symbolic-link-support/220

Similar issues were opened for OC, but not solved:
https://github.com/owncloud/core/issues/17669
https://github.

[2016-10-26 18:46] josh4trunks opened #1928 "Avatar doesn't rotate JPEGs based on EXIF data"
### Steps to reproduce
1. Settings > Personal > Profile Picture
2. Upload a JPEG which has EXIF rotation
3. Or.. Choose a JPEG which has EXIF rotation
    * Example JPEG available here. This image should show in portrait.
https://cloud.githubusercontent.com/assets/1018807/14191717/4a47f866-f74e-11e5-9030-e1add9fc4db1.jpg

### Expected behaviour
Image should be automatically rotated based on EXIF d

[2016-10-26 18:48] josh4trunks commented on #1928
@rullzer if we did get an agreeable solution to this maybe we can backport to ownCloud since it is relevant to both.

[2016-10-26 18:53] LukasReschke commented on #1928
That's not possible since ownCloud uses an incompatible, not OSI approved, proprietary, license in addition to the AGPL.

But yes. We should look into that here :)

[2016-10-26 18:56] josh4trunks commented on #1928
Ahh OK, good to know. I just didn't know the extent the projects were sharing code and thought it would be good to minimize unnecessary differences.

[2016-10-26 18:58] LukasReschke commented on #1928
Technically, we can take any code from the ownCloud project and do cherry-pick all noteworthy commits but this is only possible in one direction at the moment. :)

[2016-10-26 19:44] MorrisJobke commented on #1916
We also got following feedback: don't send that email in the name of the user (this is at least in Germany not allowed). We should use the no-reply email address ;)

[2016-10-26 19:54] rpadovani opened #1931 "Suggestion to update to owncloud 9.1.1"
### Steps to reproduce
1. Open your own installation and login

### Expected behaviour
Nothing

### Actual behaviour
 See an advice to update to owncloud 9.1.1 with a link to owncloud website

### Server configuration
**Operating system**: Ubuntu 16.04

**Web server:** nginx

**Database:**
Type: pgsql
Version: PostgreSQL 9.3.13 on x86_64-unknown-linux-gnu, compiled by gcc (Ubuntu 4.8.4-2ubuntu1~14

[2016-10-26 20:07] MorrisJobke commented on #1166
Ping @icewind1991

[2016-10-27 06:56] #1928 closed

[2016-10-27 06:58] GitHubUser4234 commented on #1874
Thanks!

[2016-10-27 07:02] GitHubUser4234 commented on #1875
With the latest code I pulled today, the UI for changing password somehow got messed up suddenly, maybe it can be fixed in a row, here some screenshot:

Eye icon in the wrong field
![image](https://cloud.githubusercontent.com/assets/16538178/19757562/235f14fc-9c56-11e6-899e-74387d0a12a9.png)

Password strength indicator in the wrong field:
![image](https://cloud.githubusercontent.com/assets/165381

[2016-10-27 08:39] nickvergessen opened #1932 "Select2 select box hard to discover"
Since the redesign of the select2 inputs ( #1780 and #1789  ), the collaborative tags dropdown is really awkward to discover:
![select2-design-issue](https://cloud.githubusercontent.com/assets/213943/19760283/4bd11734-9c31-11e6-839c-76058d6a6e0a.png)

@jancborchardt @nextcloud/designers

[2016-10-27 11:30] k4tfish commented on #1895
@blizzz,
the correct link to the owncloud issue.
https://github.com/owncloud/core/issues/23827

### Steps to reproduce
Sharing of a cal or folder using the web ui.

### Expected behaviour
Showing the users/groups to select them.

### Actual behaviour
It can't find any user usually but worked sometimes. Then the calapp shows the SAMaccount name,
whereas the fileapp shows the display name.

### Serv

[2016-10-27 12:39] rullzer commented on #1746
This became obsolete by https://github.com/nextcloud/server/pull/1929

[2016-10-27 12:39] #1746 closed

[2016-10-27 14:25] schiessle commented on #1916
OK, seems like we reached a conclusion. I will take care of it once #657 is merged to avoid complicated merge conflicts.

[2016-10-27 14:31] nickvergessen commented on #1927
Duplicate of https://github.com/nextcloud/server/issues/1257#issuecomment-245314285

Please comment in there, if you disagree.

[2016-10-27 14:31] #1927 closed

[2016-10-27 14:33] nickvergessen commented on #1924
Please provide the full information that is asked for in the issue template.
Especially with the network log of the browser

[2016-10-27 14:43] Ryux commented on #1909
Hum... It is maybe not as difficult. If I'm not wrong, we can use negative numbers to manage dates before 1970.
In this case, we could display correctly the values.
I just tried and it's ok for the details view but the file list continue to display a '?'

https://en.wikipedia.org/wiki/Unix_time
http://www.onlineconversion.com/unix_time.htm

Ryu

[2016-10-27 15:33] schiessle opened #1938 "Apps not correctly align on apps page"
I really like the latest changes to the apps page, the raster looks much better than the list. But it seems that sometimes the apps are not correctly align, see this screenshot:

![apps](https://cloud.githubusercontent.com/assets/1589737/19773834/44dd21c2-9c6b-11e6-8cd1-3b400b54ec24.png)

I would expect that the "Versions" app is in the second column, under the text editor and not between the seco

[2016-10-27 15:39] LukasReschke opened #1939 "Add proxy for images delivered by appstore"
We should serve the images uploaded on the appstore from another domain such as "usercontent-proxy.apps.nextcloud.com".

[2016-10-27 15:46] cgrima commented on #1257
Agreed with h-2. He does not ask for the ability of a user to create symlinks, but he wants NC to follow symlinks created by the administrator through a UNIX-like system.
See  #1927 for additional description and use cases.

[2016-10-27 16:05] Pecadis commented on #1257
thank you @cgrima for the deeper explanation. looks like i was not clear enough.

@nickvergessen or @icewind1991 could you explain the reccomend way to implement this kind of feature without hitting your security rules?

[2016-10-27 16:57] himbeere opened #1941 "gallery app not showing pictures only pictures icons"
### Steps to reproduce
1. Upload pictures (jpgs) to nextcloud
2. Open gallery app
3.only picture icons are shown

![screenshot_20161027_185132](https://cloud.githubusercontent.com/assets/631865/19776946/5915c972-9c76-11e6-9b89-68614a0187e4.png)

### Expected behaviour
Thumbnails of pictures should be there.

### Actual behaviour
Only icons of pictures (placeholder).

### Server configuration
Gento

[2016-10-27 19:27] derkostka commented on #1707
Just for your information. The same issue occurs on the last stable version of owncloud as well as the daily build (which includes the mentioned patches).

[2016-10-27 20:37] eppfel commented on #1938
Yeah, I was thinking about this might be an issue, but when I created it, it had borders and then it was more clear:
Flexbox distributes it not in columns, but uses the space more flexible. I can look again, but I think there was no "take same size for all elements option". We could revert this and try with floats...

[2016-10-27 22:41] spot1000 commented on #1782
I'll take this one on if no one else has it.

[2016-10-27 22:43] jancborchardt commented on #1938
@eppfel try table layout ;D

[2016-10-27 23:44] PatAuge opened #1942 "Files: Add a MD5-checking tool to verify the integrity of downloaded files"
To make sure that downloaded files are secure:
- Calculate and display MD5 checksum of multiple files at one time.
- Use MD5 checksum to fleetly verify whether files have been changed.
- Load, save, add, remove and update MD5 checksum conveniently.

[2016-10-28 00:00] jancborchardt commented on #1905
@te-online right, so having the focus on the folder and then pressing enter again for entering it sounds like a good keyboard shortcut! :) Changing the title accordingly.

[2016-10-28 00:01] jancborchardt commented on #1505
@georgehrke sounds good!

[2016-10-28 00:03] jancborchardt commented on #1444
Also cc @BernhardPosselt as the News app was the first app with shortcuts like this. @BernhardPosselt can you post the list of the News app shortcuts?

Where do we have further shortcuts? cc @georgehrke @raghunayyar @tcitworld for Calendar, @Henni @irgendwie for Contacts & Notes, @oparoz for Gallery.

[2016-10-28 06:46] matunixe commented on #1942
That would be a very usefull feature! 👍

[2016-10-28 07:59] nickvergessen commented on #1764
Functionality has been removed, closing

[2016-10-28 08:00] nickvergessen commented on #1563
Yes this is already fixed

[2016-10-28 08:00] #1563 closed

[2016-10-28 08:08] LukasReschke commented on #1942
Seems like a duplicate of https://github.com/nextcloud/server/issues/1381

[2016-10-28 08:08] #1942 closed

[2016-10-28 08:56] schiessle commented on #1938
Yes, I already assumed that it might be not that easy. But maybe someone finds a creative way to create a "clean table layout" with some css magic.

[2016-10-28 08:59] nickvergessen commented on #1941
Anything in your server log? Or the network tab of your browsers dev tool?
Both questions are also in the issue template. Would be nice if you can fill that out.

[2016-10-28 09:07] himbeere commented on #1941
Hi nickvergessen.

Oh dear. Dev tool was the right hint.

[code]

[2016-10-28 09:07] #1941 closed

[2016-10-28 09:17] te-online commented on #1938
If I remember correctly the only way to enhance that is defining widths for the elements.

So for example you would need a width of 33.3333% for each element for a 3-column layout and then change the number of columns depending on the breakpoint. But that's a lot of manual work.

You could also set `flex-grow` to 0. This would make for a perfect grid, but the elements wouldn't fill up the full pag

[2016-10-28 10:06] rullzer commented on #1938
https://github.com/nextcloud/server/blob/master/settings/css/settings.css#L444 <-- shouldn't this to `flex: 0 0 330px;` do the trick?

[2016-10-28 10:14] te-online commented on #1938
Yeah, that's what I mean with `flex-grow: 0;` ;-)
But then it looks like in the screenshot. So it's not using all the available space all the time.

[2016-10-28 12:34] thw26 commented on #1570
Still seeing this issue. Using CSF for a software firewall and port 9980 and others are all open.

[2016-10-28 13:17] XANi opened #1944 "Sharing single file via link sometimes links to old version of file in trash"
Sharing file then editing it sometimes will link to old file version in trash.

I've seen that few times with desktop files (use case was one of our users sharing .pngs to customer).

I *think* what happens is app that saves file does

* save in tmpfile
* remove/move original file,
* move new file to the correct name

and if sync runs in point 2 it looks like file was deleted and re-created from p

[2016-10-28 13:21] 2edff206 opened #1945 "Wrong update notification"
### Steps to reproduce
1. Log in to a running instance of Nextcloud 10
2. You get a notification about "a newer version is available Owncloud 9.1.1" (it's not a typo)

### Expected behaviour
You should get notification only for newer versions, not older. And of course, this is NextCloud, not ownCloud, so there is a strange behaviour here.

### Actual behaviour
You get a notification about "a newer

[2016-10-28 13:56] #1706 closed

[2016-10-28 14:01] DevCybran opened #1947 "Add app installation and update capabilities to occ"
It would be great to have an option to install and update apps from an appstore using the command line via `occ`. Currently, only apps already installed from the webinterface can be enabled or disabled. This is a problem if app installation or updating should be automated.

### Steps to reproduce
e.g. Executing `php $NEXTCLOUD_DIR/occ app:enable calendar` when the calendar app is not installed.

#

[2016-10-28 14:05] DevCybran commented on #1947
See also the following forum thread: https://help.nextcloud.com/t/installing-and-updating-apps-from-the-command-line-occ/4622

[2016-10-28 14:13] nickvergessen commented on #1947
Duplicate of https://github.com/nextcloud/server/issues/1599

[2016-10-28 14:13] #1947 closed

[2016-10-28 14:14] nickvergessen commented on #1945
See https://help.nextcloud.com/t/notification-about-an-upgrade-to-owncloud-9-1-1-in-nextcloud-10-stable/4573/7

Please update manually to 10.0.1 then the message should be correctly in the future

[2016-10-28 14:14] #1945 closed

[2016-10-28 14:15] nickvergessen commented on #1945
And just for the record, 9.1.1 is the internal version of 10.0.1, so it's basically advertising the "same" version

[2016-10-28 14:37] DevCybran commented on #1599
I second this request for the very same reason @r2evans explained in the use case. An automated installation and upgrade of verified apps in non-persistent storage provides significant security benefits, as well as an easy way to automatically deploy nextcloud with additional features and without requiring user interaction.

[2016-10-28 14:45] r2evans commented on #1599
An additional note: currently when I restart the docker instance and go to (re)install the calendar app, it is marked as already-enabled, even though it is not installed in the `apps` directory. This is not itself causing a problem, but it does indicate an inconsistency between the database and installation. (I then disable then re-enable to install it.)

[2016-10-28 18:08] rullzer commented on #1944
I don't see the bug.

If you share `foo.txt` by link. And remove that file it moves the file to the trash. At that point the link no longer works. the share still exists for when you restore from the trash.

The link is bound to a fileid not the path.

[2016-10-28 20:42] eppfel commented on #1938
Thx, @jancborchardt, @rullzer, @te-online Correct me if I'm wrong, but `flex-grow: 0` makes using flexbox completely obsolete, because we would have a fixed width and nothing "flexible". That's what I meant with reverting to floats.

The hack needs empty divs, really ugly.

Another option would be to use a responsive grid, so media-queries and percentages, because right now for most screens it wou

[2016-10-28 20:53] XANi commented on #1944
I might've debugged it wrong but  we hit into weird behaviour some of our users are complaining about and I try find out if it is something weird they are doing.

We have users that basically share a file to client then (usually using desktop client) constantly replace it with new version and at some point it starts to point out to old version of that file

[2016-10-29 12:04] rullzer commented on #1944
When you say replace. How does the program they use replace? Does it do

1. Delete `foo.png`
2. Save `foo.png`

Because if that is the case then there is not much I can do I fear. If the client notices between step 1 and 2 that the file is gone it will send the corresponding delete to the server.

I just ask because I have been overwriting files in a look now for 30 min and the syncs still work no

[2016-10-29 12:42] XANi commented on #1944
That is most likely the case. I guess I just push the info to share folder instead of file to the users as it seems that was caused by user or his app doing something weird. Thanks for help :)

[2016-10-29 12:42] #1944 closed

[2016-10-29 14:02] hechi opened #1953 "Sharedialog sub permission add can"
@jancborchardt would like to have all subshare option "edit, change, delete" which can. Because the user can do stuff and we have it in "can reshare"

![screenshot_20161029_155646](https://cloud.githubusercontent.com/assets/3808354/19830088/f3492518-9df0-11e6-9bdd-145068852883.png)

[2016-10-29 14:10] hechi commented on #1953
pull request here https://github.com/nextcloud/server/pull/1954

[2016-10-29 16:24] enoch85 commented on #1652
And this is one reason I just <3 Nextcloud. Things get fixed.

[2016-10-30 05:27] stefan-langenmaier commented on #1625
I have no new information, but just wanted to confirm that the problem still exists with nextcloud 10.0.1

[2016-10-30 10:30] MariusBluem commented on #1776
Solved in #1955 by @juliabode 💪 THX!

[2016-10-30 10:30] #1776 closed

[2016-10-30 14:59] kneiser opened #1956 "PHP Fatal error: repair-appconfig.php"
### Steps to reproduce

This script is intended to repair data in ownCloud 8.2.1 data before upgrade to Nextcloud 9.0.54.
Script was written by Nextcloud member @nickvergessen as a result of incident postings #297 and #1669.
1. Placed script in owncloud (renamed from nextcloud) directory.
2. Created new ownCloud database.
3. Restored database from backups.
4. From command-line ran php repair-appco

[2016-10-30 16:01] tflidd opened #1957 "2FA: undefined index backup_codes"
### Steps to reproduce
1. Install Nextcloud 11.0 (from github-master)
2. Use https://github.com/ChristophWurst/twofactor_totp
3. https://github.com/jaark/twofactor_yubikey
4. Test yubiko-otp via https://demo.yubico.com/
5. Configure Yubikey OTP for one user
6. Login with that user
### Expected behaviour

Login succeeds
### Actual behaviour

Error in logfile:

[code]
### Server configuration

**Ope

[2016-10-30 16:03] tflidd commented on #1957
@ChristophWurst

[2016-10-30 17:44] jaark commented on #1957
I can't reproduce this with a slightly older version of NC11 however backup_codes is not part of my authenticator. Updating NC to latest from the tree has failed miserably for me.

Have you tried added twofactor 'backup codes' into your account? (I haven't here, but the TFA system might be searching for such a thing)

Unfortunately I am going to be away for a couple of weeks and so cannot investig

[2016-10-30 21:21] nickvergessen commented on #1956
I wrote the script for Nextcloud 10 I think.
Let me try to adjust it

[2016-10-30 23:05] kneiser commented on #1956
is it possible to write the script for both Nextcloud 9 and 10?

[2016-10-31 07:02] harry-7 commented on #1428
I would like to work on this issue. Can some one guide me on how to start it?

[2016-10-31 07:51] #1615 closed

[2016-10-31 08:18] binerf opened #1959 "Error during upgrade from 9.0.53 to 10.0.1"
### Steps to reproduce
1. Download last release (10.0.1)
2. Rename current nextcloud instance folder (9.0.53)
3. unzip last release package
4. Copy config.php 9.0.53 folder to 10.0.1 folder
5. Start upgrade with: ```# sudo -u www-data php occ upgrade```

### Expected behaviour
Nextcloud instance upgraded to 10.0.1 version.

### Actual behaviour
Error received:
[code]
And instance still remains in

[2016-10-31 10:09] nickvergessen commented on #1956
Hmm it should work in Nextcloud 9 as well, but you need to run it after updating to Nextcloud 9.

[2016-10-31 10:36] xshadow opened #1962 "Nextcloud 10 informs about available owncloud 9.1.1 update"
### Expected behaviour

After a migration from owncloud 9 to nextcloud 10 a login to Nextcloud a server administrator should not get any update notifications about owncloud server updates.

### Actual behaviour

After a migration from owncloud 9 to nextcloud 10,  the administrator is informed about owncloud updates.

In the admin panel the updater suggests to update to owncloud 9.1.1, even if you

[2016-10-31 10:37] LukasReschke commented on #1962
Dupe of https://github.com/nextcloud/server/issues/1945, see https://github.com/nextcloud/server/issues/1945#issuecomment-256931515

[2016-10-31 10:37] #1962 closed

[2016-10-31 10:39] xshadow commented on #1962
Sorry and  thx

[2016-10-31 10:40] nickvergessen opened #1963 "Improve user share suggestions"
1. Entering the email of a local user should bring up the user as a local share
2. Entering the cloud id of a local user should bring up the user as a local share
3. Searching for `Bj Schi` should bring up `Björn Schi` as well (space as a "and"-separator for better results)

As discussed @schiessle

[2016-10-31 11:38] zwotzie opened #1965 "can't delete directory"
### Steps to reproduce
i have a script which transforms an project into static html. There was an failure in the script and it created a folder with an "\n" in the middle.

So the link would be something like:
https://nextcloud.td/index.php/apps/files?dir=/xxx%0Ayyy

The Nextcloud-Server 10.0.1 shows the path, but you can not rename or delete the folder.

Most problematic thing at all is that  the

[2016-10-31 13:19] rullzer commented on #1084
@benmichael ah that is a good remark. That would probabaly mean we need to make it configureable. But that should be doable.

[2016-10-31 13:27] kneiser commented on #1956
@nickvergessen the fatal error "IS" keeping Nextcloud 9 from upgrading dude. When the error is raised there is **no indication** that the upgrade was successful. If I go to the supposed upgraded instance Nextcloud is still thinking it has to do the upgrade process.

[2016-10-31 13:56] thomas955 commented on #1708
Do you want to merge this?

p.s. There still is the warning:

`Warning filesystem Storage wrapper 'sharePermissions' was not registered via the 'OC_Filesystem - preSetup' hook which could cause potential problems. `

[2016-10-31 14:16] te-online commented on #1938
@eppfel Essentially you're right with your summary 😉

Personally, I like the purecss grid, which makes use of flexbox. http://purecss.io/grids/
Maybe we can build our own small grid-css? http://purecss.io/start/#build-your-pure-starter-kit

However, maybe that's also an overcomplicated idea...
I don't really know at the moment 😳

[2016-10-31 14:57] nickvergessen commented on #1956
This is wrong. The problem is in 8.2 the stuff does not exist, and therefor can not be fixed. E.g.:

This app is new in 9.0, so how is the script event trying to fix missing records? Or did you update your files already?
Again, all the script does is fix an brokenly update 9.0 instance.

What you can do is:
1. Delete the table that is reported to be the problem on the update (in your case `oc_trus

[2016-10-31 15:16] nickvergessen commented on #1924
Feel free to reopen, once you provided the required information

[2016-10-31 15:16] #1924 closed

[2016-10-31 15:25] nickvergessen commented on #1965
Is it possible to see the script which created the broken directory?

[2016-10-31 15:39] zwotzie commented on #1965
only fix for me:
find the representation in the database and delete the coresponding fileid:
delete from oc_filecache where fileid=76506;

[2016-10-31 15:48] nickvergessen commented on #1959
The error message + log indicate that you did not replace the `apps/` folder before starting the update.

[2016-10-31 15:48] nickvergessen commented on #1965
Can you please provide the information, how you wrote your entry into the database?

[2016-10-31 15:49] zwotzie commented on #1965
i guess this was happening:

#!/bin/bash
touch xxx # or mkdir xxx
move xxx "foo
bar"

[2016-10-31 15:51] nickvergessen commented on #1965
and then files:scan or how did you populate the file to Nextcloud?

[2016-10-31 16:10] zwotzie commented on #1965
created on datadir/nextclouduser/files/somewhere direct on the server . Then i do "nothing"... you can then see it in the browser and the sync-client tries to sync the "malnamed" folder and die

[2016-10-31 16:19] kneiser commented on #1956
@nickvergessen I you will see from my previously posted incidents, per your "What you can do is:", I had already did that. Eventually it leads raising another fatal error to one of the existing tables that already has data in it. This was **suggested in past forum posts my other users** having the same issue. As I mentioned in that incident (#1669) I was not willing to lose any of my data stored i

[2016-10-31 16:47] binerf commented on #1959
Thanks for your feedback.

I've tried again with ``` apps/```  folder coming from previous release and same issue:
[code]
[code]

[2016-10-31 20:50] ManuelFDS opened #1967 "Security Issue: Thumbnails of pictures are not encrypted (default encryption module)"
Bug report:
Security Issue: Thumbnails of pictures are not encrypted (default encryption module)

Steps to reproduce:

Activate default encryption module also for user folders
Upload pictures into user folder
View them with gallery
Access nextcloud data-folder on Server via sftp or ssh
View the thumbnails without decrypting routines.
Expected behavior:

In case of user folder data encryption modul

[2016-10-31 20:51] LukasReschke commented on #1967
Documented behaviour: https://docs.nextcloud.com/server/10/admin_manual/configuration_files/encryption_configuration.html?highlight=encryption#files-not-encrypted

[2016-10-31 20:51] #1967 closed

[2016-10-31 20:58] ManuelFDS commented on #1967
This a funny way to handle encrypted files. So please make it a feature request. What is it good for to encrypt files while exposing the content in thumbnails, especial for pictures!

[2016-10-31 21:06] MariusBluem commented on #1967
Reference: https://github.com/nextcloud/server/blob/master/.github/CONTRIBUTING.md

Please Report security issues/bugs in the future the way described abvove 😉 THX 🙈 ... this was not relevant for this ticket, but it may be for your future reports, i'd love to see in our great Nextcloud community ☺️

...I see your point, and this may be something to be considered.

ping @LukasReschke for telling us

[2016-10-31 22:07] mejo- commented on #321
I agree that a changelog would be good to have. It still is the most convenient way to review changes between releases. If one exists, I usually read the changelog before updating software.

For now, you can review all changes between two release branches using the comparing changes log from Github. E.g. for 10.0.0 to 10.0.1, this is: [Comparing changes between v10.0.0 and v10.0.1](https://github.

[2016-11-01 07:26] LukasReschke commented on #1967
"The primary purpose of the Nextcloud server-side encryption is to protect users’ files on remote storage, such as Dropbox and Google Drive, and to do it easily and seamlessly from within Nextcloud." (from https://docs.nextcloud.com/server/10/admin_manual/configuration_files/encryption_configuration.html?highlight=encryption#files-not-encrypted)

It is at the moment not aimed at protecting your da

[2016-11-01 07:28] LukasReschke commented on #321
@mejo- There is one since a longer period of time: https://nextcloud.com/changelog/ …

[2016-11-01 11:45] rkkoszewski opened #1968 "Show full size image in picture viewer instead of resized preview. Is it possible?"
### Steps to reproduce
1. Install Nextcloud and set preview_max_x and preview_max_y to 256
2. Go to a folder with images
3. Click on an image to view the image in big

### Expected behaviour
Show the image in full resolution.

### Actual behaviour
The image is shown in the maximum resolution for preview images (256x256px). Which is very small.

### Why?
I guess that the Nextcloud viewer is using t

[2016-11-01 12:03] linuxfreund opened #1969 "10.0.1: Error during final Configuration with MySQL"
### Steps to reproduce
1. Download release 10.0.1
2. Start Configuration with MySQL Backend

### Expected behaviour
Login screen should appear
With SQLite as Backend it works fine.

### Actual behaviour
An Error message appears:
Error while trying to create admin user:
Failed to connect to the database:
An exception occured in driver
SQLSTATE[HY000] [1045] Access denied
for user ‘db-user‘@‘localho

[2016-11-01 15:44] rullzer commented on #1968
Ah yes this is long on the todo list. We are actually improving the preview system to be more efficient for NC11. That will include an app that can generate previews. It is very simple and primitive right now but it is a start that we can hopefuly exand on.

Long story short we always server optimized previews for this yes. This because the UX is pretty terrible otherwise. For example a lot of dev