[2017-11-23 15:11] pixelipo opened #7265 "Small adjustments needed to the login screen"
Copied from https://github.com/nextcloud/server/pull/7249#issuecomment-346616212

OK, here's my ~~review~~ opinion. I'm adding it as a comment since it's not breaking issues, but I would like to see these fixed:

1. Logo is too high up; actually, its distance from top is OK, but now it's too far from the `form` itself:
![image](https://user-images.githubusercontent.com/4129927/33174321-d5f68a7e-d0

[2017-11-23 15:11] dachinat commented on #7212
I'm using LDAP user and group backend. Thanks I'll fill it out.

[2017-11-23 15:41] danxuliu commented on #7240
I take your word: #7266 ;-)

[2017-11-23 15:53] stephan-a opened #7267 "Changed LDAP group name doesn't appear in nextCloud"
Renaming a LDAP group doesn't get visible in nextCloud.

### Steps to reproduce
1. Login with LDAP user "testuser" which is a member of the LDAP group "testgroup"
2. Rename the LDAP group "testgroup" to "testgroup-renamed"
3. Login again with user "testuser" and check the group name inside "Personal"

### Expected behaviour
The following text gets displayed under "Personal / Groups": You are membe

[2017-11-23 15:53] cornouws commented on #7233
Thanks for explaining this. Sorry I missed that in what I did read.

[2017-11-23 16:04] dachinat commented on #7212
### Steps to reproduce
1. Create an user with OCS API

[code]

2. Query user information with OCS API

[code]

### Expected behavior

`Quota` in API response (GET /users/myuser) should not be empty

### Actual behavior

`Quota` in API response (GET /users/myuser) is `<quota/>`

### Server configuration

**CentOS Linux release 7.4.1708 (Core)**

**nginx/1.12.2**

**10.2.10-MariaDB**

**PHP 7.1.11**

[2017-11-23 16:13] Xenopathic commented on #7142
Yep, I think this is a duplicate of #2581 at this point. Sorry for the noise!

[2017-11-23 16:13] #7142 closed

[2017-11-23 16:32] tezukzai commented on #2956
Hi, I am getting this error in the following scenario when trying to password protect a file:

Error Message (where password field is): **The given object name is invalid**
NextCloud instance: **12.0.03**

User 1 Creates folder A
User 2 Creates folder B within A
User 2 shares folder B successfully with external user
User 2 tries to password protect folder B, but gets an error message.

[2017-11-23 17:16] MorrisJobke commented on #7212
cc @nextcloud/ldap

I guess for LDAP there is not much we can do here, because we fetch all user info for LDAP users on their first login to not overload the server by fetching all user data at once.

[2017-11-23 17:24] MorrisJobke commented on #7212
Seems to be related to #3068 and #5461

[2017-11-23 18:20] ArnisR opened #7269 "File upload freezes/delays/timeouts if there is a large count of image files. Due to Redis do all preview folder scanning."
### Steps to reproduce
1. Enable previews and caching/locking (Redis). Put some 50k image files in different folders & different users.
2. Create previews. (For each image file NC creates a folder in _appdata_xyzw/preview)
3. Upload new files through NC web or any third-party WebDAV client.
4.  Upload process freezes shortly after beginning of upload. The more images (=preview folders) are total (

[2017-11-23 18:22] ohmer1 commented on #7190
Yes, I think this can explain what I'm seeing.

Is there a way to remove them from the database in batch?

[2017-11-23 19:06] tacruc commented on #6927
Hi
I got the feeling that the Parameter for this is in the config.php `'overwritewebroot' => '/main/nextcloud',`  is, but this will break the new domain.

Any other Idea how to solve this?

[2017-11-23 19:14] blizzz commented on #7190
Yes, cleaning up after them. The command line tool occ ldap:show-remnants should list unavailable users from ldap. Use occ user:delete to remove them. If they are a lot you probably want to script that. Unfortunately it's broken in 12.0.3, but 12.0.4 is around the corner already

[2017-11-23 19:15] blizzz commented on #7190
(at least i expect that the entries get deleted there :D)

[2017-11-23 19:30] ohmer1 commented on #7190
ldap-show-remnants give me the list of users, but like you said, the removing of the users with the user:delete fail.. will wait the 12.0.4 release. Thanks!

[2017-11-23 19:41] tobiasKaminsky commented on #5163
It seems to be only my instance and only with chromium...

[2017-11-23 20:05] juliushaertl opened #7270 "Share icons overlay breadcrumbs and popover menu"
Breadcrumbs:

![bildschirmfoto vom 2017-11-23 17-25-26](https://user-images.githubusercontent.com/3404133/33187434-fd6ff538-d091-11e7-8923-45516c124350.png)

Add new popover menu:
![bildschirmfoto vom 2017-11-23 17-26-04](https://user-images.githubusercontent.com/3404133/33187435-fd8c4918-d091-11e7-9355-d64732f1407b.png)

@nextcloud/designers

[2017-11-23 20:45] frebib commented on #2837
Can confirm, this problem has plagued me for months. It often happens with partially sync'd git repos that I delete locally before or just after the sync completes- the few weeks after this message plagues me every 10 seconds or so and it's highly annoying

[2017-11-23 20:59] carlu93 commented on #3628
I'm having a similar problem. Uploading files via Windows Explorer Share works as expected. Files get created with the expected filesize. Using Mountainduck or Expandrive for Windows results in 0 byte files. Nothing is logged unfortunately. Is there any fix in the pipeline? Thanks guys!

[2017-11-24 01:04] realies commented on #7213
### Steps to reproduce
1. Install Nextcloud with the domain name in the config as `domain.com:443`
2. Remove `:433` from domain string
3. Look at specific link boxes within Nextcloud containing a formatted server url string

### Expected behaviour
It is expected for the string to be formatted as `https://domain.com/something`

### Actual behaviour
Instead, it is `https://domain.com:443/something`

[2017-11-24 08:09] MorrisJobke commented on #5163
@tobiasKamnisly Could you send me some credentials so that I can test this?

[2017-11-24 08:09] MorrisJobke commented on #5163
@tobiasKamnisky Could you send me some credentials so that I can test this?

[2017-11-24 08:39] MorrisJobke commented on #5163
Mmmh ... could you turn of the HTTP2 support. On Safari I get a "HTTP/2.0 423" error and Chrome needs to be completely restarted after this happens. I guess this is a setup issue with your Apache.

[2017-11-24 08:51] MorrisJobke commented on #5163
After disabling HTTP 2 it works again. That means it's a configuration problem with this specific setup. I will have a look at this together with Tobias during our next meeting. Closing this one here.

[2017-11-24 08:51] #5163 closed

[2017-11-24 09:41] alexfauss commented on #6517
@blizzz thats true. Sometimes the mail is sent to 3 or 4 different User.

[2017-11-24 10:19] Floflobel opened #7274 "Checkbox select all during a search does not work properly"
### Steps to reproduce

1. search for a file or directory from the search box on the top right
2. select all file and folder by ticking the checkbox located on the left of the "Name" column
3. select all content by ticking the checkbox next to "Name" column.

![step_1](https://user-images.githubusercontent.com/13889750/33204593-5eaccf0c-d104-11e7-860b-3f160f44a422.png)
![step_2](https://user-image

[2017-11-24 11:04] MorrisJobke commented on #2837
It could be similar to the reasons of #7009. That fix for that issue solves also this one here.

[2017-11-24 11:15] blizzz commented on #6517
But where do they come from?

[2017-11-24 11:39] My1 commented on #2906
I totally have to agree to this.many services do this and others even go the even more extreme route of remembering the username (which isnt a problem on private computers) therefore only needing the PW.

[2017-11-24 11:49] My1 commented on #2035
so basically the header is a REQUEST to not do TOTP, which the server can say okay or not?

honestly this Idea could also be used to resolve #2906 although in a different way. for example with a JWT-style cookie (or local data or whatever) a token for "I dont need 2FA, the user authorised me already" which the server could check (obviously this thing should be signed to avoid any changes in data)

[2017-11-24 12:51] leo-b opened #7276 "getPreview on a broken image shouldn't crash"
When trying to obtain a preview from a broken image file, nextcloud 12 currently crashes:

[code]

(Tested with a _.jpg_ file containing only null characters. Preview generation was triggered by the preview generator app.)

``exif_imagetype($imagePath)`` fails determining the image type. The following file-type switch statement falls back to the default case and fails because Filesystem isn't conf

[2017-11-24 13:27] MorrisJobke commented on #6162
Duplicate of #2075

[2017-11-24 13:27] #6162 closed

[2017-11-24 13:27] MorrisJobke commented on #7274
Duplicate of #2075

[2017-11-24 13:27] #7274 closed

[2017-11-24 13:27] diegogregisdavila opened #7278 "drag and drop problem"
### Steps to reproduce
1. Create a "xpto" file at the root of the user.
2. Create a "abcd" directory at the root of the user.
3. create a directory on the client machine / desktop with the name "xpto" with some content.
4. Access the chrome and drag and drop the "xpto" directory from your desktop to the "abcd" directory from the root of the user.

### Expected behaviour
nexcloud should upload the

[2017-11-24 13:29] MorrisJobke commented on #7278
cc @icewind1991

[2017-11-24 13:29] MorrisJobke commented on #7278
@rullzer

[2017-11-24 13:33] MorrisJobke commented on #6728
This looks like the files got corrupted on disk during the upgrade. The updater itself went fine, but the files that where placed are somehow corrupt. I guess there is very little we can do without further details. Maybe you can find some errors in the apache log. The archive 12.0.3.zip itself is totally fine and used by a lot of people to update to 12.0.3. I doubt that the problem originates in t

[2017-11-24 13:33] #6728 closed

[2017-11-24 13:39] MorrisJobke commented on #6137
This looks like the certificate is wrong or invalid. Please check the forums for help. Check also your PHP that it uses the system certificates to verify SSL certs so that the let's encrypt cert can be properly verified. We only use the stuff that PHP knows.

See https://github.com/nextcloud/server/blob/master/apps/files_external/lib/Lib/Storage/FTP.php#L115

[2017-11-24 13:39] #6137 closed

[2017-11-24 14:04] alexfauss commented on #6517
Hmmh.

The only suspicious entries in the log are

{"reqId":"C6De3km9Gb7FtSWJRZCK","level":0,"time":"November 14, 2017 13:15:01","remoteAddr":"","user":"--","app":"user_ldap","method":"--","url":"--","message":"Ready for a paged search","userAgent":"--","version":"12.0.3.3"}
{"reqId":"C6De3km9Gb7FtSWJRZCK","level":0,"time":"November 14, 2017 13:15:01","remoteAddr":"","user":"--","app":"user_ldap",

[2017-11-24 14:13] MorrisJobke commented on #6392
@nextcloud/ldap What to do here?

[2017-11-24 14:14] MorrisJobke commented on #6279
@icewind1991 Any idea how to fix that?

cc @rullzer @pfiff45

[2017-11-24 14:15] MorrisJobke commented on #7267
cc @nextcloud/ldap

[2017-11-24 14:17] guidovanharten opened #7279 "logout on idle time doesn't work"
### Steps to reproduce
1. log into my Nextcloud (which is installed on a VPS). Nextcloud asks my loginname and password.
2. restart the PC or do nothing in Nextcloud.
3. again goto the Nextcloud page. Nextcloud don't ask me for my loginname and password.

### Expected behaviour
Tell us what should happen
I expect NextCloud should ask me for the loginname and password
### Actual behaviour
Tell us w

[2017-11-24 14:18] MorrisJobke commented on #4118
Available via https://github.com/nextcloud/server/blob/0eebff152a177dd59ed8773df26f1679f8a88e90/lib/private/Security/Bruteforce/Capabilities.php#L50

Added in #5699

[2017-11-24 14:18] #4118 closed

[2017-11-24 14:21] MorrisJobke commented on #3821
If this is the real case, then hide them via CSS. Yes it is a hack, but for us it makes no sense to hide them, because they are now essential for how authentication works.

I will close this ticket for now as it seems that the majority does not want this hidden behaviour. If you want to hide the fields in the personal settings as well, then maybe use the theming_customcss app from the appstore to

[2017-11-24 14:21] #3821 closed

[2017-11-24 14:29] MorrisJobke commented on #3300
This is addressed in #2523

The text editor thing is a duplicate of #1571

[2017-11-24 14:29] #3300 closed

[2017-11-24 14:29] MorrisJobke commented on #7125
Duplicate of #1571

[2017-11-24 14:29] #7125 closed

[2017-11-24 14:29] MorrisJobke commented on #1571
This is being worked on in https://github.com/nextcloud/files_texteditor/pull/71

[2017-11-24 14:31] MorrisJobke commented on #5101
Correct. It is only used with file IDs for example and Nextcloud will not detect changes, because this would cause a whole new set of problems.

Closing this.

[2017-11-24 14:31] #5101 closed

[2017-11-24 14:33] MorrisJobke commented on #7279
Duplicate of #6965

[2017-11-24 14:33] #7279 closed

[2017-11-24 14:33] MorrisJobke commented on #7276
cc @rullzer

[2017-11-24 14:36] MorrisJobke commented on #7187
This looks like you have a folder called "nextcloud" that holds the same files as well. Remove this folder and rerun the check from the admin settings to fix the issue.

[2017-11-24 14:36] #7187 closed

[2017-11-24 14:39] MorrisJobke commented on #7069
Please fill out the issue template: https://github.com/nextcloud/server/blob/master/issue_template.md

The google drive integration had some problems and google drive has some hard limitations: #5815

[2017-11-24 14:39] #7069 closed

[2017-11-24 14:41] MorrisJobke commented on #7055
The fix is merged and will be release with 12.0.4 #6554

[2017-11-24 14:41] #7055 closed

[2017-11-24 14:41] MorrisJobke commented on #7055
For master see #5107

[2017-11-24 14:43] MorrisJobke commented on #6895
Makes sense. I will close this ticket here then.

[2017-11-24 14:43] #6895 closed

[2017-11-24 14:53] #3156 closed

[2017-11-24 14:53] blizzz commented on #7267
Long story short,  there is no support for group display names. The current names work as IDs.

Actually, there is some in the  backing infrastructure,  but nothing really that supports it. It is a reasonable wish and this could be looked into for 14 (if someone™️ can spend some time on it).

[2017-11-24 14:58] blizzz commented on #6392
Uh, good question. Sounds indeed just like an issue on a 3rdparty and nothing we can do about.

@eigood where did you see the pcache recommendation?

[2017-11-24 15:06] blizzz commented on #6517
@alexfauss no, not really. Rather I wonder, in which data source is the other email address saved? From LDAP only the first should be retrieved.

[2017-11-24 15:51] blizzz commented on #7212
Sorry, what @dachinat describes is that users are being created and requested locally.

[2017-11-24 16:06] blizzz commented on #7212
An empty data set is returned only, when a NotFoundException occurs during `teardownFS`, `setupFS`  or, and most likely (at least the method signature says it is throwing it) `getStorageInfo`. This happens, when `\OC\Files\Filesystem::getFileInfo()` does not return an `\OCP\Files\FileInfo`.

The filesystem will only be instantiated (e.g. skeleton files copied over) first when  the user login happe

[2017-11-24 16:11] dachinat commented on #7212
@blizzz thanks

[2017-11-24 16:50] tcm300 commented on #6279
After activating Redis with the following parameters, the first copy still fails but the second attempt is succesfull.
  'redis' => array(
     'host' => 'localhost',
     'port' => 6379,
     'timeout' => 0.0,
	 ),
But what with servers without Redis?

[2017-11-24 18:06] danxuliu opened #7281 "Some issues with cancel button and delete icon when comments are edited"
The _Cancel_ button shown when a comment is edited overflows in the next comment, as can be seen in the screenshot below:
![comment-edit-cancel-overflow](https://user-images.githubusercontent.com/26858233/33220566-a1902d6a-d149-11e7-8342-b9b2c1bb44ae.png)

It is more evident when the next comment is also in edition mode, as in that case the _Cancel_ button of the previous comment and the _Delete_

[2017-11-24 20:48] IPv777 commented on #7037
Same issue, with NGinx 1.13.6, PHP FPM 7.1.11-1, MariaDB 10.1.26

[2017-11-24 20:53] onny opened #7282 "File picker dialog is missing buttons in latest Nextcloud 13 Beta"
Hey,
the file picker dialog is missing a close or save button:
![2017-11-22-125411_swaygrab](https://user-images.githubusercontent.com/757752/33126343-747aa31c-cf84-11e7-94ac-efb245416502.png)
I'm using Nextcloud Beta 13 and the latest mail app (from git).

Best regards,
Jonas

[2017-11-24 21:32] tYYGH commented on #7037
Hi @IPv777 , I’m not too sure about the meaning of your last two links, but overall, these links seem to all describe a different problem: URL that are under the Nextcloud prefix, but not correctly formed for various reasons, leading to either 404 or 500 errors.

My problem is that, at the creation of the last cookies, there is an erroneous redirect to _outside_ of the Nextcloud prefix, where the

[2017-11-25 07:32] Ninos opened #7283 "Client rescans+downloads all the files after a encrypt-all/decrypt-all"
### Expected behaviour

The occ encrypt-all/decrypt-all is used to encrypt/decrypt all the files of user(s). It is mostly used when an admin want to enable/disable server-side encryption.
encrypt-all/decrypt-all only encrypts/decrypts the files but they shall be seen has unchanged by the user (modified date).
So after a encrypt-all/decrypt-all, the client shall not reload all the files.

### Actua

[2017-11-25 09:02] Ninos opened #7284 "Encryption/Decryption not working on versioned files"
### Expected behaviour

The occ encrypt-all/decrypt-all is used to encrypt/decrypt all the files of user(s). It is mostly used when an admin want to enable/disable server-side encryption.
encrypt-all/decrypt-all shlould also encrypt/decrypt the versioned files. So after a encrypt-all/decrypt-all, the client shall also be able to open versioned files.

### Actual behaviour

After having occ encrypt

[2017-11-25 09:03] Ninos commented on #7284
May related #7283

[2017-11-25 09:20] Ninos opened #7285 "Possibility to delete file versions manually"
Hey there,
I'm missing the possibility to delete file versions manually via gui or/and by command:
`php occ files_versions:cleanup`

I could not find a way to delete file versions manually.

[2017-11-25 12:00] nerzhul commented on #5930
if you can port it to 12.0.x can be nice as pg10 is out since 1 month and some of us started to use it :)

[2017-11-25 14:08] Goore25 opened #7286 "No progress bar during file upload using Microsoft Edge"
### Steps to reproduce
Just use Microsft Edge for uploading file to Nextcloud server.
I tired with:
Win10 (Creators Fall Update 1709, build 16299.19) and MS Edge 41.16299.15.0 (EdgeHTML 16.16299)
Win10 (1703, build15063.726) and MS Edge 40.15063.674.0 (EdgeHTML 15.15063)

### Expected behaviour
Progress bar should show the upload status graphically

### Actual behaviour
There is only text message

[2017-11-25 15:33] jask05 opened #7287 "Bad Signature with specific files"
### Steps to reproduce
I don't know how to reproduce but I tell you what I have.
1. Folder (Nextcloud): /Carpetas/Málaga/Para entregar/
2. Files: "Pleno Extraordinario 08-11-17 (Eva).docx" and "Comisión Transparencia 02-11-17 (Eva).docx"

If I click either this two files I've get HTTP error 503. These files are upload by a user in a shared folder and this user is not the owner of this folder.

###

[2017-11-25 17:03] j-ed opened #7288 "parameter changes should be confirmed by an U2F key instead of a password by default"
## Expected behavior
If the twofactor_u2f app has been installed and an external U2F key has been registered all password confirmation dialogs should be replaced by an U2F key confirmation.

## Current behavior
If you're going to change a personal setting, a confirmation is usually be requested. Although the twofactor_u2f app has been installed and an external U2F key has been registered, the logi

[2017-11-25 17:49] sunjam commented on #7139
Hi Julius,

From the user / casual admin perspective it would be great to have the ability to easily import / export / share themes.  The selfhosting crowd appreciates being able to personalize their software.  They also like to show off and share their creations.  [People have already developed an app for switching to different wallpaper images on each login from a 3rd party service, which would

[2017-11-25 18:49] smokku commented on #7181
I noticed that this happens only when you share the root of the external drive.
If you share a subdirectory of external drive, the gallery images work just fine.

[2017-11-25 21:36] PrinceCharles23 commented on #7132
nope did not contact the hosting company. but i guess there will not be much (valuable) response either! ;-)

[2017-11-25 23:59] SGatBugs opened #7289 "googledrive: odt files not synching"
### Steps to reproduce
1.
2.
3.

### Expected behaviour
Tell us what should happen

### Actual behaviour
Tell us what happens instead

### Server configuration

**Operating system**:

**Web server:**

**Database:**

**PHP version:**

**Nextcloud version:** (see Nextcloud admin page)

**Updated from an older Nextcloud/ownCloud or fresh install:**

**Where did you install Nextcloud from:**

**Signin

[2017-11-26 00:02] #7289 closed

[2017-11-26 10:31] bpcurse commented on #7132
Definitely interesting and could be related. I will try to contact them tomorrow and report it here.

[2017-11-26 10:58] bpcurse commented on #7214
I'm sorry to comment again in this closed topic, but if this happens during the same session again and again after clicking the "x" behind the message, of what use is the "close" button then?

I have an Issue (additional file https://github.com/nextcloud/server/issues/7132) that cannot be solved at the moment, that seems to have no impact on the Nextcloud instance and that I am aware of (as admin

[2017-11-26 11:47] vlldk commented on #6841
Have a look at how Firefox Send works maybe? Open source. Would be great to see this feature!

[2017-11-26 13:28] rgl1234 opened #7290 "Error when Uploading to shared-folder mounted as external smb-storage"
### Steps to reproduce
1. Mount External-SMB Storage as admin-User from Windows-Server
2. Share a Folder X as admin-User to normal-user with edit-permissions
3. upload a file as normal-user to newly-shared folder (or place a comment on file in the newly-shared folder)

### Expected behaviour
Upload of files should work without any problems or errors as normal user to the shared folder

### Actual

[2017-11-26 13:46] Neraste commented on #4789
Is there any progress about this issue? I experience the same problem…

[2017-11-26 14:48] rmsmgaspar commented on #1358
Hi,
You can comment the lines with this info in the login page.
Tested and worked.

[2017-11-26 16:02] Neraste commented on #4789
It seems that this is due to the way [`settings/Controller/UsersController.php`](https://github.com/nextcloud/server/blob/63d98574e983116e20b056af223683efde8fb4de/settings/Controller/UsersController.php#L295) works.

Disabled users are listed using a fake `_disabledUsers` group, even if they are actually member of a real group. When you're not a super admin, the `index` method calls the `displayNa

[2017-11-26 17:16] reneglauser commented on #4276
@schiessle hi, its exactly what we miss: a possibility to set a default expiration date on all shares, but to set the restriction seperately for shares and links

[2017-11-26 18:42] nunocatarino commented on #6597
same bug here.

[2017-11-26 19:04] anmol26s commented on #3131
Can I add a sub domain like app.domain.tld to trusted domain for Nextcloud and use that app with webdav without having the CORS issue?

[2017-11-26 20:06] SGatBugs opened #7291 "googledrive: gdoc-file is shown as odt-file ending in webinterface"
### Steps to reproduce
1.
2.
3.

### Expected behaviour
gdoc-file shall be shown as gdoc-file ending in webinterface

### Actual behaviour
gdoc-file is shown as odt-file ending in webinterface

### Server configuration

**Operating system**: Univention Corporate Server 4.2

**Web server:**

**Database:**

**PHP version:**

**Nextcloud version:** 12.0.3

**Updated from an older Nextcloud/ownCloud o

[2017-11-26 20:46] reneglauser commented on #7290
It seems that I have diferent other problems related to that issue. E.g. there are no notifications created for activites of the normal-user inside the shared smb-folder. There are always error-messages inside the log as mentioned above.

[2017-11-26 22:17] bmhm commented on #5930
Hello.

I just  ported my NC installation to docker. I obviously started with the most recent stable versions, which are NC 12 and Postgres 10. Now I see that some apps (e.g. my bookmark apps) aren't working. This issue affects me already. As the container is immutable, please provide a workaround. Mounting the fixed file as volume? Something similar? Thanks in advance.

[2017-11-26 22:27] Tsuroerusu commented on #6857
I am also experiencing this problem. To me it is actually a pretty large regression in the theming app, because I use a bit of branding for some of my customers, and it looks really unprofessional with the button seeming almost invisible because of the lack of a differentiating color.

[2017-11-27 00:40] KurganFr commented on #6476
@nickvergessen - sorry for the delay in replying. Unfortunately, I am already providing the userid and password as basic auth as part of the headers to the API call, yet the API call is not working. Are you able to provide any further advice or information that would assist me in resolving this issue? Thanks again.

[2017-11-27 01:04] carboneater opened #7293 "Group Admin can delete users from server"
### Steps to reproduce
0. Delegate Group Admin Permissions to a user (GA) for a given Group (G1).
0.1. Said Group has some users (U2) with rights in some other groups (G2, ...) on the same server
0.2. Group Admin wants to revoke authorizations to his group
1. Group Admin Clicks "Delete User" on user with multiple accesses (U2) in order to remove said user from G1. (Instead of using the dropdown me

[2017-11-27 01:10] carboneater commented on #7293
The reason I make a distinction between Server Admins and Group admins is there's an expectation that server admins actually know what they are doing.
As for Group Admins, I host a setup for a student union where group admins change on a yearly basis, hence they're basically clueless about how to manage users and delete users instead of revoking their rights on a regular basis...

[2017-11-27 03:04] axel-rutz commented on #5955
@dimm0: That's really good news!
To your question: I'm not too deep into that, but from a quick look it might be that the [composer.json](https://github.com/maltevogl/useroidc/blob/master/composer.json) lacks the [psr4](https://getcomposer.org/doc/04-schema.md#psr-4) info like so:
[code]

For further issues you might want to
* fork that repo
* add an issue with more info
* link that issue(s) here

[2017-11-27 04:12] alexhaas opened #7294 "Support syncing macOS Finder file tags"
As far as I can tell, Nextcloud does not support syncing tags that are added to files in Finder on macOS (https://support.apple.com/en-us/HT202754). Since Dropbox supports syncing these tags, I think it would be extremely beneficial to add this to the Nextcloud feature set.

### Steps to reproduce
1. Install Nextcloud on more than one Mac.
2. Add a tag to a synced file.
3. Tag never syncs to other

[2017-11-27 06:37] MorrisJobke commented on #7294
Please report this in the client repo: https://github.com/nextcloud/client/issues

[2017-11-27 06:37] #7294 closed

[2017-11-27 06:39] MorrisJobke commented on #7293
Duplicate of #3630

[2017-11-27 06:39] #7293 closed

[2017-11-27 06:39] MorrisJobke commented on #7291
Why? AFAIK it is an odt file. 😕

[2017-11-27 06:40] MorrisJobke commented on #7290
cc @icewind1991

[2017-11-27 06:40] MorrisJobke commented on #7288
cc @nickvergessen @ChristophWurst

[2017-11-27 06:42] MorrisJobke commented on #7181
@icewind1991 This looks like an actual bug in the etag propagation. 🤔

[2017-11-27 07:03] MorrisJobke commented on #7282
It is there in files:

[code]

![bildschirmfoto 2017-11-27 um 08 02 45](https://user-images.githubusercontent.com/245432/33254535-6fc28db2-d349-11e7-8ed7-a54e5d269933.png)

@nextcloud/mail Maybe it's how you call the file picker?

[2017-11-27 07:04] MorrisJobke commented on #7283
@schiessle @icewind1991 Could we turn this off?

[2017-11-27 07:05] MorrisJobke commented on #7284
cc @nextcloud/encryption

[2017-11-27 07:07] MorrisJobke commented on #7285
cc @schiessle @nickvergessen

[2017-11-27 07:19] ChristophWurst commented on #7282
Yup, seems like we call it with more parameters: https://github.com/nextcloud/mail/blob/c1287afc8e5ecb497dca90ce634d693b342edd7a/js/controller/messagecontroller.js#L124-L146

[2017-11-27 07:22] MorrisJobke commented on #7286
For me there is a upload bar on master (upcoming 13):

![bildschirmfoto 2017-11-27 um 08 19 38](https://user-images.githubusercontent.com/245432/33254984-bd846ffa-d34b-11e7-8694-4c77da1601e8.png)

Seems to be related to 12. There is only a "Uploading...". I would close this as fixed in 13, because we did some restructuring of how the upload works now and not backport this new feature.

[2017-11-27 07:22] #7286 closed

[2017-11-27 07:23] MorrisJobke commented on #7282
But even then the button is there on master:

![bildschirmfoto 2017-11-27 um 08 23 31](https://user-images.githubusercontent.com/245432/33255111-4bc41aea-d34c-11e7-9afd-30d5a3b043b5.png)

[code]

[2017-11-27 07:39] ChristophWurst commented on #7282
@MorrisJobke you're right. It's definitely only happening in Mail. There seem to be other issues too
![bildschirmfoto von 2017-11-27 08-35-19](https://user-images.githubusercontent.com/1374172/33255518-5547b368-d34e-11e7-8957-db2bac310bfa.png)

Let's continue in https://github.com/nextcloud/mail/issues/626.

[2017-11-27 07:39] #7282 closed

[2017-11-27 08:30] MorrisJobke commented on #2905
It's not the case anymore:

![bildschirmfoto 2017-11-27 um 09 29 51](https://user-images.githubusercontent.com/245432/33257195-9141e850-d355-11e7-9dcb-465027a573aa.png)

[2017-11-27 08:30] #2905 closed

[2017-11-27 08:44] Peter2121 opened #7299 "Case-sensitive LDAP"
There is a function `sanitizeDN($dn)` in Helper.php of apps/user_ldap/lib. This function processes DNs got from LDAP and makes them low-case:
`$dn = mb_strtolower($dn, 'UTF-8');`
This transformation should be optional, as OpenLDAP is often case-sensitive (OU in particular). A checkbox in 'Advanced' options of LDAP would be nice.

[2017-11-27 09:09] #5289 closed

[2017-11-27 09:36] vermaden opened #7300 "Nextcloud resets quota every week"
Hi,

we have strange problem with Nextcloud, we have set a quota of 4 GB on all users and then we changed it to 10 GB for some users, but every week Nextcloud resets this 10 GB into 4 GB and we have to change it into 10 GB manually.

### Expected behaviour
Users that have been set with 10 GB should remain with 10 GB quota, not to change automatically into 4 GB.

### Actual behaviour
Quota of 10 GB

[2017-11-27 09:47] LukasReschke commented on #7299
cc @nextcloud/ldap

[2017-11-27 10:11] #6732 closed

[2017-11-27 10:15] juliushaertl commented on #7139
Anyone who's interested is free to start developing an app that does that.

I think that should be also doable from an app perspective. But form the server part I don't think we should invest time here. A lot more code required to be maintained for a very small usecase and benefit.

[2017-11-27 10:49] #7235 closed

[2017-11-27 11:05] alexfauss commented on #6517
@blizz All mail addresses are stored in ldap except my admin account.

[2017-11-27 11:08] MorrisJobke commented on #7300
@vermaden Could it be that you configured LDAP that it fetches the quota as well? This would explain why it is "reset".

cc @nextcloud/ldap for analysis

[2017-11-27 11:14] #7250 closed

[2017-11-27 11:34] Peter2121 opened #7301 "LDAP - more flexibility"
Actually, user_ldap application does not permit to precise the exact configuration of the directory in terms of groups membership. The only parameter we can choose is 'Group-Member association', where one cannot mention a particular attribute's name, only selection from drop-down list is possible. Later, the application use this choice to select an attribute name AND select the supposed type of co

[2017-11-27 11:58] j-ed commented on #7288
@ChristophWurst The twofactor_u2f app already allows to replace or better complete the login process, so it should also be possible to replace the password request if the app has been installed and activated.
Doesn't any kind of hook exist at the relevant place to allow the app to replace the existing confirmation dialog?

[2017-11-27 12:01] ChristophWurst commented on #7288
I'm not aware of any.

[2017-11-27 12:17] blizzz commented on #7300
and if you manage it via LDAP you cannot mix it with local quota settings.

[2017-11-27 12:21] blizzz commented on #6517
@alexfauss can you name steps to reproduce this behaviour?

[2017-11-27 12:27] marc-henri opened #7302 "Update nextcoud guzzle 3rdparty library to version 6"
Hello,
### Expected behaviour
GuzzleHttp version 6

### Actual behaviour
We’ve create a nextcloud apps for quering zendesk API.
We have tried to use Curl with integrated GuzzleHttp library, but zendesk API need a higher version than the one embedded in Nextcloud 12.
So the Zendesk API (https://github.com/zendesk/zendesk_api_client_php) is requiring a more recent GuzzleHttp library.
Is there still

[2017-11-27 12:33] MorrisJobke commented on #5119
Fix is in #7303

[2017-11-27 12:34] MorrisJobke commented on #7302
Once we drop support for PHP 5.6 😢 Because Guzzle 6 only supports PHP 7+

[2017-11-27 12:36] MorrisJobke commented on #7302
It seems that I was wrong: https://github.com/nextcloud/3rdparty/issues/49

[2017-11-27 12:38] MorrisJobke commented on #7301
cc @nextcloud/ldap

[2017-11-27 12:40] #7240 closed

[2017-11-27 12:43] blizzz commented on #7299
@Peter2121 OU is case insensitive as defined in the LDAP core schema. What LDAP server are we talking about?

In general sanity is necessary, because in some places different formats are returned even from the same server. I am not eager to soften it up again just because.

[2017-11-27 12:48] blizzz commented on #7301
Good idea. Implementation requires some refactoring of this handling, but would improve the code in fact. Personally, I won't have resources for this however. As always, PRs are welcome and supported :)

[2017-11-27 12:50] blizzz commented on #7301
Ah, that said, I would leave the most common options as they are and only offer the switching to a self-defined attribute as another option. Otherwise it would be just too complicated for people with little knowledge of LDAP.

[2017-11-27 13:01] vermaden commented on #7300
How to set it with LDAP then?

[2017-11-27 13:07] blizzz commented on #7300
https://docs.nextcloud.com/server/12/admin_manual/configuration_user/user_auth_ldap.html#special-attributes

[2017-11-27 13:18] xaionaro commented on #4754
I have the same error but we haven't anything about CloudFlare.

[2017-11-27 13:22] vermaden commented on #7300
Thank You for help, I will dig that path.

[2017-11-27 14:03] blizzz commented on #7255
Actually I copy-pasted 🙊 the avatar-formatting-HTML from somewhere else. Best would be to get this consolidated and reusable in one place. The div then can be transformed to span, I guess.

That's from the Notification-Insertion lib, and is being auto-created. And it contains more than just the .avatar-name-wrapper, so leave it.

[2017-11-27 14:06] alexfauss commented on #6517
@blizz not really. The problem first occur after upgrading from owncloud to nextcloud. And after every upgrade other users (3-6) are affected by the problem. Right now I have set e smtp filter which is piping all mails regarding that problem to /dev/null. So the user are not bothered.

[2017-11-27 14:10] ShellCode33 opened #7304 "Integrity checker going crazy"
The integrity checker tells me .htaccess and .user.ini are missing from the core/ folder :
https://pastebin.com/pdfD2sPB

But there's actually no such file in that folder...
(cf83e1357eefb8bdf1542850d66d8007d620e4050b5715dc83f4a921d36ce9ce47d0d13c5d85f2b0ff8318d2877eec2f63b931bd47417a81a538327af927da3e is an empty string btw)

[2017-11-27 14:15] LukasReschke commented on #7304
This seems more like a setup related question. Please try to ask at help.nextcloud.com. Thanks!

[2017-11-27 14:15] #7304 closed

[2017-11-27 14:19] blizzz commented on #7254
they should be filtered out. That's why it does not work in the final comments. Github does not list offer yourself for completion, however does it when rendering. Exactly vice-versa to what we have now ;) Turning it around does not since you don't (necessarily) know your userid. So I guess we should filter it out, instead of allowing it, to follow our original path. Confirmed, @jancborchardt ?

[2017-11-27 14:38] nickvergessen commented on #7084
The main issue is, that not all occurances of `getUsersForUserValue` may be okay with lowering the values before comparison

[2017-11-27 14:39] Peter2121 commented on #7299
I have the case on OpenLDAP installed on Debian 8.
I don't say that it is not necessary in general, you should just give a possibility to disable it using Web interface for those who know what he is doing. For the moment I've just commented the line out and it works fine. Otherwise it does not work. ldap_search does not work neither with OU lower-case.

[2017-11-27 14:40] Peter2121 commented on #7301
Sure, all this staff should be available in 'expert' tab, the default options are not so bad ;)

[2017-11-27 14:43] Peter2121 commented on #7299
In general, you never know how an LDAP server is configured. It CAN be out of any standard. I think that NextCloud should give a possibility to an 'advanced' user to adapt NextCloud to his LDAP configuration.

[2017-11-27 14:43] busted-it-guy opened #7306 "oc_preferences contains outdated email addresses"
**Update by @ChristophWurst**: the `oc_preferences` table contained outdated email addresses because the email address scheme was changed once. IMO this should not result in inconsitent data or even errors like these. Apparently the email login uses a quick and dirty hack to look up UIDs for email addresses by querying the user preferences for email addresses and takes the very first one. If the f

[2017-11-27 14:45] nickvergessen commented on #7248
The `(0fc…` part should be your user ID on ldap.

The names where fixed in later releases (10 or 11) and now show the display name of the user instead.

[2017-11-27 14:47] nickvergessen commented on #7126
You should be able to upload the file again.
So yeah online editing is missing, but download-edit-upload should work just fine.

[2017-11-27 14:51] #7243 closed

[2017-11-27 14:55] colttt commented on #7248
Hello nickvergessen,
ok but why is only on few shared calendars? and only with my account? (an other account with the same shared calendar don't have this issue)

[2017-11-27 15:03] ExaconAT commented on #7126
Ok example:

User 1 has an nextcloud acc
User 2 has no nextcloud acc

User 1 asks User 2 to edit a .txt on his nextcloud Server.
User 2 says Ok np.
User 1 Shares the Link to User 2 (editing enabled)
User 2 tells User 1 he can only download the file

User 1 is unsatisfied because it definately shows "Editing Allowed"

This button is useless in my opinion until editing is possible.

[2017-11-27 15:10] tsopanid commented on #6597
same here

[2017-11-27 15:21] nickvergessen commented on #7248
Hmm that's strange, can you have a manual look at the oc_dav_shares and oc_calendars for the related information?

[2017-11-27 15:35] blizzz commented on #7299
Sure… in OpenLDAP's case here it was specifically changed to react like this. Actually I didn't know that OpenLDAP would let you do that. The only argument pro is, that it is not actually specified to be case insensitive, while it is common practice. Overriding standardized attributes however is nothing that i would consider to either expect nor respect.

Honestly, I don't really want to get down

[2017-11-27 15:52] Peter2121 commented on #7299
Honestly, I don't understand what issue could be potentially caused by conditional removing the lower-case transform. It touch the data we get FROM user's LDAP. I just propose to keep it intact, nothing more. And yes, there is no standard that defines case-(in)sensitivity of LDAP data. So if NextCloud support the both cases - it cannot be worse than today ;)

As you said, there is NO standard here

[2017-11-27 16:00] enoch85 commented on #7001
Just tested with 13.0.0beta1 and it's still the same issue. @jospoortvliet Did you manage to solve it?

[2017-11-27 16:06] MorrisJobke commented on #7306
cc @ChristophWurst

[2017-11-27 16:14] enoch85 opened #7309 "occ:repair doesn't work in NC 13.0.0*"
### Steps to reproduce
1. Upgrade frm 12.0.3 --> 13.0.0beta1
2. Run occ:repair

### Expected behaviour
occ:repair should work

### Actual behaviour
[code]

## Server configuration detail

**Operating system:** Linux 4.4.0-101-generic #124-Ubuntu SMP Fri Nov 10 18:29:59 UTC 2017 x86_64

**Webserver:** Apache/2.4.18 (Ubuntu) (apache2handler)

**Database:** pgsql PostgreSQL 9.6.6 on x86_64-pc-linux-g

[2017-11-27 16:19] tacruc opened #7310 "Sending pgp encrypted Emails"
Hi,
I'm think of implementing sending PGP Encrypted Emails, if the user uploads a public key.

I think there are some php libaries one could use to deal with the encryption?
http://php.net/manual/de/book.gnupg.php

And a Private and Public key of the inctance could be safed in the config.php, or is there a better place to store the Private key?

Public key of the user could be ask in the Personal

[2017-11-27 16:28] ChristophWurst commented on #7306
I think I know where that problem might come from, but it's pretty strange.

So where it fails is here
https://github.com/nextcloud/server/blob/041e327a6c25ffdb35309e84fc7e9568ce98a414/lib/private/User/Session.php#L442-L453

Following those checks, the `$user` should actually have a value, unless the manager returns `[null]`.

https://github.com/nextcloud/server/blob/041e327a6c25ffdb35309e84fc7e95

[2017-11-27 16:30] #4789 closed

[2017-11-27 16:40] artiommocrenco opened #7311 "Documentation on regenerating `secret` in config.php"
### Steps to reproduce
1. Make your secret public
2. Have fun regenerating it

### Expected behaviour
Easy `occ` command to regenerate secret

### Actual behaviour
Still have no solution

### Server configuration

**Nextcloud version:** 12

**Updated from an older Nextcloud/ownCloud or fresh install:** fresh install

So the question is... how to regenerate nextcloud secret **and regenerate all ass

[2017-11-27 16:45] MorrisJobke commented on #7001
@enoch85 Any chance, that we can install the blackfire.io php extension on that machine, set it up with my account and run some profiler on it?

[2017-11-27 16:50] #4014 closed

[2017-11-27 16:59] blizzz commented on #7299
Yes, it's probably safe. We had the issues that the same server sometimes composed with and without whitespaces around commas, for instance. As soon as the next LDAP implementation, lower or upper cases it in some scenarios for the fun of it, you're back in wonderland.

OU is specified in RFC 4519, see: https://tools.ietf.org/html/rfc4519#section-2.20 It inherits from "name": https://tools.ietf.or

[2017-11-27 17:01] LukasReschke commented on #7311
I'm afraid, changing the secret is at the moment not supported. Note that a leaked secret alone won't allow an attacker to take over your instance.

One possibility would be to completely install a new instance and manually migrate the data. For our Global Scale component we're working on user migrations, but we're not there yet.

[2017-11-27 17:01] #7311 closed

[2017-11-27 17:04] LukasReschke commented on #7213
Can you also post your config file? Thanks a lot! :)

[2017-11-27 17:06] artiommocrenco commented on #7311
thanks, @LukasReschke

Couldn't this be a feature/documentation request then?

[2017-11-27 17:14] enoch85 commented on #7001
@MorrisJobke Sure! How do we proceed?

[2017-11-27 17:21] deg0nz commented on #3766
I had the same issue with NextCloud 12.0.3 with an orphaned federated cloud share which made the webinterface veeeery slow. I wasn't able to delete it from the webinterface and there was no error message when I tried to delete it.
I removed the corresponding entry from the `oc_share_external` table, as described in @vojeroen's post. Now everything is snappy again :)

[2017-11-27 17:30] #5119 closed

[2017-11-27 17:43] ShellCode33 commented on #7304
https://github.com/nextcloud/server/tree/master/core
As you  can see there is no htaccess ! And the integrity checker is bothering me anyway...

[2017-11-27 17:55] MorrisJobke commented on #7001
This is the blackfire profile from the session with @enoch85

https://blackfire.io/profiles/82cf5cfa-4296-4cd7-a09a-e751ad4d447f/graph

There is a federated share that is unavailable:

[code]

We should not run into timeouts on the files app page load then. The remote server is just not there anymore.

cc @schiessle @icewind1991

[2017-11-27 18:04] brando-online commented on #6597
I know it's not a true resolution to the problem, but if all the components/packages are installed on your machine.. you can mount the network shares via /etc/fstab - this will auto-mount them at boot.

In Nextcloud, it will see these the network mounts as local storage and it easy and quick to setup this way.

[2017-11-27 18:04] enoch85 commented on #7001
All pages are slow, not just the files app. When turning off files_sharing every page takes like 500 ms or less to load.

[2017-11-27 18:24] ruedigerkupper opened #7312 "File cache table excessively large (and does not shrink after data removal)"
### Problem
My nextcloud instance (small-scale, single-server setup, 6 users) has a an exessively large database size (20 GB as of today). This size doesn't sensibly relate to the amount of data managed (approx. 1 TB, now reduced to 4.3 GB).

I have found that almost all of the 20GB is located in a single table, the file cache:
[code]
This file seems to grow and grow, but never shrinks.

### Furth

[2017-11-27 20:58] ArnisR commented on #7312
Yes, there is no way with NC commands to reduce oc_filecache table if files&folders are deleted or renamed outside NC. It seems the same apply to external shares.  If changes are made outside, NC can only add files to oc_filecache.

I my case oc_filecache was expanded due large amount of photos and previews generated by previewgenerator app (20 previews for each photo generated by default). Every

[2017-11-27 21:14] MorrisJobke commented on #7312
cc @icewind1991

[2017-11-27 21:49] ruedigerkupper commented on #7312
@ArnisR: That would explain the size of the file cache: The external disk hosted my photo library and was indexed by previewgenerator. So how would I proceed to reduce the file cache manually? Is there a way to simply clear the table and regenerate it?

[2017-11-27 22:31] splitt3r opened #7315 "Generic share and comments API"
The current share api is pretty much limited to only allow file sharing but there are apps like polls, deck and others that want to share other content. It would be pretty awesome in case of privacy settings and databse design and DRY to have one central share / comments api under the OCP namespace. Also UI / UX changes and things like the circles api need to be adopted in a lot of different apps

[2017-11-27 22:47] ArnisR commented on #7312
@ruedigerkupper : I can't say. There are several other records regarding NC system in that table, not only files. So I wouldn't do it. I saw a thread where someone presented php file which make comparison of actual files and records in database and delete db records for the non-existent. But nobody confirms it's working and my knowledge of MySQL is too short to make conclusion.

I didn't risk. Bec

[2017-11-27 23:12] Tsuroerusu commented on #6857
Another problem that this bug is causing is that with the default theming settings, the login button does not get its mouse-over effect.

[2017-11-27 23:23] msgbrr commented on #6476
@KurganFr  Has a solution been found? I've been having the same problem but I couldn't solve it for three days.

[2017-11-27 23:25] KurganFr commented on #6476
@msgbrr No solution so far unfortunately, hence my replying to the topic yesterday. It is very much a showstopper for the project I am involved in. Are there any specific steps you tried to attempt to solve the issue? Thanks.

[2017-11-28 00:51] ruedigerkupper commented on #7312
Thanks, ArnisR! It have meanwhile solved my problem, and it turned out too be much easier than that:
- Investigating the oc_filecache table from the mysql prompt showed that it only had abut 4000 rows -- nothing that could account for 20 GB of size!
- However, the table space was largely empty:
[code]
Note "Data_length" (=21 MB) and "Data_free" (=19 GB)!! So, the removed files had actually been cl

[2017-11-28 08:47] Peter2121 commented on #7299
OK, it seems that it should be case-insensitive.
I'll digg a little to understand why the OUs are case-sensitive in my case.

[2017-11-28 09:15] thammerbacher opened #7317 "Groupfolders insufficient storage (Win/Mac Client)"
I have installed a NextCloud 12.0.2 on Ubuntu 16.04 LTS with up to date Mysql and Apache2.

We use "groupfolders" and have a sync problem with the Windows/Mac Client.

Error transferring https://domain.de/remote.php/dav/files/foldername/subfoldername/filename.suffix - server replied: Insufficient Storage (Sabre\DAV\Exception\InsufficientStorage)

Quota of the groupfolder is set to 10 GB. File has

[2017-11-28 09:47] blizzz commented on #7315
## Comments

Comments have a PHP API within OCP and also via WebDAV. Later is not documented, unfortunately, yet.

If it helps a brief into:

The Comments resource has an endpoint:

remote.php/comments/$OBJECTTYPE/$OBJECTID [/$COMMENTID]

The ObjectID endpoint accepts:
- POST for creating a comment
- PROPFIND to list comments, and also the read mark. You need to specify
attributes in the request.

[2017-11-28 09:49] blizzz commented on #7315
P.S.: to  comments: files also have  comment related attributes, comments-href, comments-count and comments-unread. First points to the related comments resource, the others just say how many comments were left and how many are unread.

[2017-11-28 10:14] tobiasKaminsky opened #7318 "E2E: thumbnails endpoint"
In order to have previews on our mobiles of encrypted images we need to enhance our thumbnail endpoint as the server cannot generate the thumbnails:
- client uploads file
- client put encrypted thumbnail on thumbnail endpoint for specific file

Another client can then download the metadata file of the folder, decrypt it, download the encrypted thumbnail, decrypt & show it.

@schiessle

[2017-11-28 10:41] msgbrr commented on #6476
@KurganFr I have tried a lot of things and read the NextCloud documentation many times but I have the same problem and no solution.

[2017-11-28 10:49] BandonRandon commented on #6857
I'm new to Nextcloud but this almost feels like an esthetic thing to me and less like a bug. However, if the functionality itself has been changed from an earlier version I can see how that can feel like a bug and be something that may need fixing.

A few quick notes:

1) users can always press the enter key to login even if they don't see the login "button"
2) I use the custom CSS app and added a

[2017-11-28 10:54] Seba5120 opened #7320 "No folders moved in the cloud"
**## Hello**

**### Expected behaviour
Tell us what should happen:
Cloud directories should be available.**

**### Actual behaviour
Tell us what happens instead:**

I installed the nextcloud on Raspberry PI3.
Everything runs fine, adds files via www and from android application.
Unfortunately there are no files that have been copied locally by file explorer.
Permissions are assigned the same as al

[2017-11-28 10:57] Tsuroerusu commented on #6857
@BandonRandon In versions prior to 12.0.3 it would generate a colour lighter than the background colour for the login button.

Here's an example from one of my servers:
![login](https://user-images.githubusercontent.com/9139161/33316078-fa9a32fc-d432-11e7-94be-3e0f43f627e7.png)

This is waaaay better, because you can an actual button, visually, and not what looks like just a link. I definitely thi

[2017-11-28 11:04] colttt commented on #7248
on what one should pay attention to?

[2017-11-28 11:22] MorrisJobke commented on #6857
cc @nextcloud/theming

[2017-11-28 12:07] splitt3r commented on #7315
Thanks for the detailed response :) i will have a look at the mentioned apis.

[2017-11-28 12:40] MorrisJobke commented on #6857
This was fixed in master with https://github.com/nextcloud/server/commit/2e6d1a3453abf6dda86b981b7e69ae77079a9d01

[2017-11-28 12:51] Tsuroerusu commented on #6857
@MorrisJobke I just took a look at that commit which you describe, and I then proceeded to look at the theming.scss file in 12.0.3, but the code is the same as the changed code in master. Unless I am seeing something wrong, this was actually broken by that commit, and not fixed, or do you mean to say that this change was intentional, ie. to not show login button with a colour distinct from the pag

[2017-11-28 12:53] MorrisJobke commented on #6857
Fix is in #7322

[2017-11-28 12:54] MorrisJobke commented on #7320
Hi @Seba5120 this is a bug tracker. Could I ask you to seek for help in our forums: https://help.nextcloud.com

Thanks

[2017-11-28 12:54] #7320 closed

[2017-11-28 13:31] blizzz opened #7325 "Accesslist loses users due to overwritten elements"
Caused be https://github.com/nextcloud/server/pull/7168

Please see https://3v4l.org/XFasQ

with that I also cannot reproduce the issue that was supposed to be fixd. Perhaps I am missing something, otherwise I'd straight revert the change.

@nickvergessen @MorrisJobke @rullzer

[2017-11-28 14:20] Samunosuke commented on #2352
@nickvergessen Your change did solve the problem for me. It was reproduceable for any ZIP download I tried on my server.

[2017-11-28 14:23] Devices opened #7326 "occ issue on upgrading from 12.0.2 to 12.0.3 and 12.0.4RC2"
### Steps to reproduce
 I follow this page to upgrade: https://docs.nextcloud.com/server/12/admin_manual/maintenance/manual_upgrade.html
When I run `sudo -u nginx php occ upgrade` I get the following error:

[occerror.txt](https://github.com/nextcloud/server/files/1510224/occerror.txt)

### Server configuration

**Operating system**:
Fedora 27
**Web server:**
nginx 1.12.1
**Database:**
mariadb 10.

[2017-11-28 15:12] JamesWaldron commented on #7084
Currently, I have got around the issue by changing function getUsersForUserValue so that it does lower the values. So far I haven't had any complaints that anything isn't working?

[2017-11-28 15:16] MorrisJobke commented on #7326
[code]

cc @nextcloud/theming

But it looks weird :/

[2017-11-28 15:17] MorrisJobke commented on #7326
Could you show the content of `apps/theming/lib/ThemingDefaults.php`?

[2017-11-28 15:18] MorrisJobke commented on #7326
The config.php says, that you run that on a 9.1.4.2 which is our version number for 10.0.4. Could you check what is written in `version.php`?

[2017-11-28 15:30] Modi34 commented on #1793
have same error
nc install script creates a user for some point instead of using the one I provided
https://i.imgur.com/PuDsjaq.png

with every new try it creates a new user

if I add db name that does not exists in postgress it also fails with some new error
Ive lost a lot of time thinking something wrong with my vm  - please fix it or remove postgres support

[2017-11-28 16:57] #7325 closed

[2017-11-28 17:14] nickvergessen commented on #7248
the calendar which is having the problem, together with its id

[2017-11-28 17:54] Devices commented on #7326
@MorrisJobke

[ThemingDefaults.txt](https://github.com/nextcloud/server/files/1511027/ThemingDefaults.txt)

    <?php
    $OC_Version = array(12,0,4,1);
    $OC_VersionString = '12.0.4 RC2';
    $OC_Edition = '';
    $OC_Channel = 'stable';
    $OC_VersionCanBeUpgradedFrom = array (
      'nextcloud' =>
      array (
        '11.0' => true,
        '12.0' => true,
      ),
      'owncloud' =>

[2017-11-28 17:56] maverick74 commented on #417
@ahmedammar can you give us an update about the feature? (If possible a probable ETA?)

[2017-11-28 18:01] ahmedammar commented on #417
@maverick74 no ETA for nextcloud, if someone is willing to open a bounty for it I could look into it more urgently, otherwise, for reference:
owncloud/client#6131
owncloud/core#29404

[2017-11-28 19:06] GreenArchon opened #7329 "Deleted files in shared folder take twice the disk space"
### Steps to reproduce
1. Create user1, user2
2. Create folder1 from user1 and share it with user2
3. Create a big file (few GBs) in folder1
4. Login as user2
5. Go to folder1 and delete the big file

### Expected behaviour
Everything is smooth. After a reasonably brief loading period, both user1 and user2 can see this file on their deleted files in the web ui. On the file system, the file is move

[2017-11-28 19:57] MorrisJobke opened #7331 "Update to 12.0.4 RC3 fails on web"
The web based updater does not get triggered when pressing the button. I'm pretty sure it worked fine in RC1. I also tried to revert #7257 but it didn't changed anything.

![bildschirmfoto 2017-11-28 um 20 38 21](https://user-images.githubusercontent.com/245432/33341199-82822936-d47e-11e7-8f8a-b1039f4f7759.png)

I reproduced this on two instances.

Ideas @blizzz @nickvergessen @rullzer @ChristophW

[2017-11-28 19:59] MorrisJobke commented on #7326
Never change the version in config.php. If you do this it will mess up with the migration steps and cause weird issues.

[2017-11-28 20:15] Devices commented on #7326
Thanks to this I went to check my nextcloud-old folder to see what version that had, and it appears to be different than I copied over. Must have copied from an older backup.

I'm very sorry for wasting your and anyone's time.

[2017-11-28 20:15] #7326 closed

[2017-11-28 20:27] SGatBugs commented on #7291
Where do you have this information from?

Google speaks of converting odt files to Google Docs (see https://support.google.com/docs/answer/6055139?hl=en):
"File types you can convert to Docs, Sheets, or Slides
These are the file types that can be converted to Google Docs, Sheets, and Slides:
    Documents: .doc (if newer than Microsoft® Office 95), .docx, .docm .dot, .dotx, .dotm, .html, plain tex

[2017-11-28 20:30] blizzz commented on #7331
is there more in the console log? network log?

[2017-11-28 20:36] blizzz commented on #7331
console output looks a bit similar to what is reported in https://github.com/nextcloud/server/issues/7145

[2017-11-28 20:48] blizzz commented on #7331
also it appears that getting merge-template-prepend.js was aborted, but from the browser?

[2017-11-28 20:57] danxuliu commented on #7138
What would be the value (or values) to open the sidebar by default? [This is similar to something planned for Nextcloud Talk](https://github.com/nextcloud/spreed/issues/461), so it would be good to behave consistently (if it makes sense, of course).

[2017-11-28 22:29] busted-it-guy commented on #7306
When you ask if there is garbage there, Where are you referring to for user/settings/preferences?  I can go to users and select settings, but there is not preferences.

[2017-11-28 23:02] Chris20991 commented on #3830
I am on a MacBook Pro and have used Thunderbird for a few years. Today I went to type in a name in the invite attendees box the wrong address went in I deleted it a few times. Somehow that seems to have collapsed the invite box which is now a flat line. I am not able to type anything. It worked until then I did not update anything. My thunderbird is updated. Thank you for your help.
![screen shot

[2017-11-29 00:06] segdy opened #7332 "SMB/CIFS share breaks when it contains a single entry that can't be accessed"
### Steps to reproduce
1. Create a share that contains a file (e.g. a symlink) that returns NT_STATUS_ACCESS_DENIED
2. Try Accessing that share. Via web interface it fails, via WebDAV you get 500. Log file see below

Example:

smb.conf:

[code]

Now create:

[code]

[code]

This is the log entry:

`{"reqId":"ht8kMklVE1THGBPFLCWT","level":4,"time":"2017-11-28T23:33:42+00:00","remoteAddr":"X.X.X.X",

[2017-11-29 04:07] markc commented on #6834
I would like to note that I am also seeing this same bug using v13 b2 on Ubuntu Artful and nginx 1.12.1. In my case I activated the encryption plugin after adding some users.

[2017-11-29 07:13] mxlse commented on #3830
That has nothing to do with this bug here and is probably a Thunderbird issue if you updated it.

[2017-11-29 09:00] nickvergessen commented on #7138
I would show it on full HD already.

Content area looks still big enough to me, and an average user doesn't have too long file names, so the 750px of the file name column wouldn't be enough.

[2017-11-29 09:36] despens opened #7335 "Administrators should be able to edit the file sync blacklist in the web UI, blacklist should be annotated"
When files do not get synced because they match a blacklist entry, and a system administrator knows that for example `.htaccess` files pose no danger on their current install (nginx, object storage used instead of file system, etc), there is no clear way to change the blacklist.

Also, it is unclear why some of the rules exist, so it is difficult to make a decision on their usefulness. The blackli

[2017-11-29 10:09] CamZie commented on #7184
I would like to ask if there are any news for this problem?

[2017-11-29 11:28] nix155 opened #7336 "Error while running background job (Doctrine\DBAL\Exception\DriverException):"
[nextcloud.log](https://github.com/nextcloud/server/files/1513612/nextcloud.log)

[error.log](https://github.com/nextcloud/server/files/1513611/error.log)

### Steps to reproduce
Error appears every time cron is run

Error | core | Error while running background job (Doctrine\DBAL\Exception\DriverException): An exception occurred while executing 'DELETE FROM `oc_share` WHERE `item_type` in ('file'

[2017-11-29 11:44] nix155 opened #7337 "Sabre\DAV\Exception\MethodNotAllowed: Listing members of this collection is disabled"
### Steps to reproduce
1. In Far manager, set up a WebDAV connection
2. Connect, see an empty folder

### Expected behaviour
We see the normal list of folders

### Actual behaviour
We see an empty folder
In 12.03 Stable this error was not

Fatal | webdav | Sabre\DAV\Exception\MethodNotAllowed: Listing members of this collection is disabled/var/www/nextcloud/3rdparty/sabre/dav/lib/DAV/Tree.php - li

[2017-11-29 12:32] fgsl opened #7340 "Show circle name in details of a shared file (group user)"
### Steps to reproduce
1. Install app [circles ](https://apps.nextcloud.com/apps/circles)
2. Log in as admin user
3. Create a private circle
4. Add users to that circle
5. Log out
6. Log in as one of created circle users
7. Upload a file
8. Share file to created circle
9. Log out
10. Log in as another of created circle users
11. Open details of shared file
12. Click on tab Sharing

### Expected be

[2017-11-29 13:53] ChristophWurst commented on #7306
I'm talking about user settings in the DB. They might be generated automatically, that's nothing you can/should change as a user.

[2017-11-29 14:59] ChristophWurst commented on #7306
@busted-it-guy do you know what specific user and email this fails with? Then you could query your database with `select * from oc_preferences where configkey="email" and configvalue="<email>"` and check whether the reported `userid`s match the actual user ID of that email address.
I'm not a 100% sure if that helps but if you detect a mismatch that would confirm my suspicion from above.

[2017-11-29 14:59] georgehrke commented on #7184
Not yet. I forgot to ask: Do you use any user-backend? If yes, how fast is the connection to the user-backend?

I'm asking because `OCA\DAV\CardDAV\SyncJob` does not touch any user address book. All it does is creating/updating VCards for each user in the system address book and if you use federated shares sync the system address book with other instances.

[2017-11-29 15:25] rseffner commented on #7187
Sorry for my post here. I've overseen that - you are rigth, there was an unneded subfolder.

[2017-11-29 15:28] CamZie commented on #7184
Thank you for the information. We are not using any user-backend and simply have all the users in the MySQL database.

Is it possible that the cause of this problem is the OCA\DAV\CardDAV\SyncJob, which creates/updates the vCards for each users in one try?

[2017-11-29 16:15] tmaff commented on #5482
Me too: Nextcloud 12.0.3
Any ideas?

`{"reqId":"hnTuyJzsRkuBDZTKarmz","level":0,"time":"November 29, 2017 15:53:38","remoteAddr":"XX","user":"--","app":"webdav","method":"PUT","url":"\/remote.php\/dav\/files\/test\/Test\/Test_683b953330e54c73b45e179a9902bcde","message":"Exception: {\"Exception\":\"Sabre\\\\DAV\\\\Exception\\\\NotAuthenticated\",\"Message\":\"No public access to this resource., No

[2017-11-29 17:29] nunocatarino commented on #6597
brando-online
thx for your idea.
solve temporary my problem

[2017-11-29 20:43] busted-it-guy commented on #7306
beautiful.

Forgot that all my users are form LDAP and a few months ago we went through a change of their primary email address.  This created 2 users.. one from @olddomain and one from @newdomain

When I did a configvalue of "username%" it showed 2 for each user.  Then I did a delete from oc_preferences where all configvalue that equaled "%olddomain".  That blew away the secondary accounts and ke

[2017-11-29 20:43] rgl1234 opened #7344 "HTTP Error 503 in Chrome when accessing a nextcloud-file by a link"
### Steps to reproduce
1. use Chrome-Browser (tested in Windows 10, Linux)
2. log in to the nextcloud-server (for example: demo12.nextcloud.bayton.org)
3. press right mouse-button on a file in nextcloud and choose "Copy link address". As example I tried this with the following file (link): https://demo12.nextcloud.bayton.org/remote.php/webdav/Documents/About.odt
4. Embed this link somewhere on an

[2017-11-29 21:28] mjanssens opened #7345 "Tooltips in personal settings don't get translations"
### Steps to reproduce
1. Go to Personal settings
2. Click on icon next of "Full Name"
3. Tooltip is shown with 3 options.
4. options are in english, not local language, although the rest of the page is translated well
5. happens with all icons with these 3 options.

### Expected behaviour
Translated text should be shown in tooltip

### Actual behaviour
Tooltip language stays English

I think some

[2017-11-29 21:33] ChristophWurst commented on #7306
Sounds good. Did it solve the errors?

[2017-11-29 21:49] rpirritano commented on #7265
@pixelipo  Is this still available?  If so I can take it?

[2017-11-30 00:08] busted-it-guy commented on #7306
yup! all good to go now.  Thanks for your help on this.. I would have never put two and two together when I was seeing "multifactor" type of errors which we do not use at all.

[2017-11-30 06:23] pixelipo commented on #7265
Yes it is, @rpirritano - be my guest :)

[2017-11-30 08:23] stephan-a commented on #7267
That would be great if anyone could spend time on that enhancement, thank you.

In our case the names of the LDAP groups created when we set up the nextCloud instance (okay, at that time it was ownCloud) are no longer meaningful enough and have a different spelling, so we wanted to change them recently to make them look the same in spelling and make them more meaningful.

[2017-11-30 08:40] colttt commented on #7248
here the output:
[code]
I hope everthing is correct?

[2017-11-30 08:52] ChristophWurst commented on #7306
Great to hear it's working now! I'll keep this ticket open because I'll take a look if we can somehow prevent this scenario.

[2017-11-30 10:14] MorrisJobke commented on #7345
Fix is in #7346

[2017-11-30 10:14] MorrisJobke commented on #7340
cc @daita server or circle issue?

[2017-11-30 10:58] jancborchardt commented on #7138
Yep, on full HD absolutely. @danxuliu can you prepare a PR with that value to start with, then we can test and see what needs to be adjusted?

[2017-11-30 11:15] danxuliu commented on #7331
I can not reproduce it :-( I have used the following steps:

  1. Install Nextcloud 12.0.3 with SQLite using the official Docker container
[code]
  2. Open http://127.0.0.1:8000 in a browser and login as _admin:admin_
  3. Perform a manual update to Nextcloud 12.0.4RC3 (delete everything except for _.htaccess_, _.user.ini_, _custom_apps_, _config_ and _data_ from the Nextcloud directory and copy t

[2017-11-30 11:21] tmaff opened #7349 "WebDAV - Protocol Violation - No Authorization: Basic header found"
### Steps to reproduce
1. Start the WebDAV App
2. Go into the folder and upload a file

### Expected behaviour
Upload the file into the folder

### Actual behaviour
Sometimes test file created but the app and an other webinterface get an error ..

### Server configuration

**Operating system**: Linux democloud.mydomain.de 3.10.0-693.5.2.el7.x86_64 #1 SMP Fri Oct 20 20:32:50 UTC 2017 x86_64 x86_64

[2017-11-30 11:21] MorrisJobke commented on #7331
I used Chrome and Safari and also two different instances :/

I still think, that we should not load the generated stuff on the update page and have only a very limited set of JS code available there to not mess with it (maybe served from inline script tags - we do the same for the web based updater to not cause too much trouble if a file gets not loaded and lock yourself out).

[2017-11-30 11:29] #7345 closed

[2017-11-30 11:49] marcos-guerrero opened #7350 "Improve OCS Share API documentation (share_type and permissions)"
I'm testing Nextcloud 12.0.3 OCS Share API, following the doc in https://docs.nextcloud.com/server/12/developer_manual/core/ocs-share-api.html

I'm trying to issue the requests through my own client (POSTMAN) and comparing with the requests sent by the browser when I create / update a link on the web interface... and  It's hard to understand the differences in terms of the POST (create) and PUT (u

[2017-11-30 12:05] mjanssens commented on #7345
Thank you!

[2017-11-30 12:06] Aloha68 opened #7352 "CSS not working after login (reinstall instance from existing one)"
### Steps to reproduce
1. Reinstall Nextcloud from web folder and database
2. Go to the login webpage (here all is OK)
3. Connect with some user

### Expected behaviour
UI should be good.

### Actual behaviour
UI is bugged. It looks like no CSS file are loaded.

![screenshot 2017-11-30 12-30-12](https://user-images.githubusercontent.com/5026177/33428732-53130a2e-d5ca-11e7-8d3c-19c0a0348d7c.png)

#

[2017-11-30 15:15] MorrisJobke commented on #7331
I also tried to reproduce this again and the issue didn't happen afterwards anymore :/ I tried to reupgrade both instances, but then all went fine and the upgrade was possible.

Closing this as a false flag and some network hiccup. 😢

[2017-11-30 15:15] #7331 closed

[2017-11-30 15:16] MorrisJobke commented on #7331
While debugging through this I cleaned up a bit the upgrade check handling: #7354

[2017-11-30 15:46] riegercloud opened #7357 "External Storage: Source-Map-Fehler: SyntaxError: JSON.parse: unexpected character at line 1 column 1 of the JSON data"
Ubuntu 16.04.3 LTS 64
PHP 7.1.12
NGINX 1.13.7
MariaDB
Redis

First i set up Nextcloud 12.0.3
Upgrade to 13.0 beta1
Enabled External Storage App in Nextcloud 13beta1

The external Storage section initially comes up
![grafik](https://user-images.githubusercontent.com/20593693/33439283-57b4e2b4-d5ed-11e7-82df-e555b0e6a936.png)
but disappears after few seconds:
![grafik](https://user-images.githubuser

[2017-11-30 15:59] zden2k opened #7358 "Bad behavior with a collabora plugin"
Nextcloud has bad behavior with a Collabora plugin, see more on incuded gif

### Steps to reproduce
1. import document odt for example
2. click on checkbox to download
3. enter into collabora
4. exit
5.  click on checkbox to download again, menu for download is outside of Nextcloud screen

![out-6_1](https://user-images.githubusercontent.com/25531350/33439999-27daf888-d5ef-11e7-9d2d-86d8993c687f.g

[2017-11-30 16:01] #7357 closed

[2017-11-30 16:02] riegercloud commented on #7357
my fault, SORRY!

[2017-11-30 16:24] jancborchardt commented on #7281
When editing, can add a bit more vertical whitespace so the button has space?

[2017-11-30 16:30] jancborchardt commented on #7254
Yeah, yourself should of course be filtered out of the suggestions, just like in sharing.

However it's fine to show it markupped when you mention yourself in the finalized comment (maybe also when you do it while writing, but not if it's extra work to check).

[2017-11-30 18:59] segdy commented on #4535
I am facing the exactly same problem: Huge activity list (back to one year+); when creating an app password and either hitting "Erledigt" (="done") button or refreshing the page the passwords are gone!

Latest nextCloud 12. Also LDAP auth.

Why is this issue marked as Closed?

[2017-11-30 19:05] ChristophWurst commented on #4535
https://github.com/nextcloud/server/issues/4535#issuecomment-323699747

Please file a new ticket. Thank you.

[2017-11-30 21:00] m4ntic0r opened #7359 "Update Server ubuntu 17.04 -> 17.10, no external smb share is working"
so today i updated multiple servers from 17.04 to 17.10 and only my nextcloud server is making trouble..
its a vm and i tried the upgrade 3 times, but always all my external smb shares are not working.
i only use smb shares on my nextcloud server.

ubuntu 17.04 with nextcloud 12.0.3 install, mysql database is on a separate server.

after "do-release-upgrade" i tried everything i know.. reinstalled

[2017-11-30 21:27] paescuj commented on #7358
Already experienced the same thing, but couln't reproduce it.

[2017-12-01 00:01] krocheck opened #7360 "Sharing on external storages is not seen by all users"
The end result of this will probably be that this is working as intended.  Ultimately it may be that this behavior needs to be something that can be enabled but is not default.

### Steps to reproduce
1. Login as User A
2. Go to a folder/file in an 'External Storage' and share via a link
3. Login as User B
4. Go to same folder/file ... option to share, but link from other user is not accessible
5.

[2017-12-01 04:02] 0E800 commented on #5130
Thank you jamfx for the clear and to the point fix.
Im currently hosting 4 different opensource projects on the same server and each domain has been impacted and required some small tweak, after upgrading to php 7.1.x
I must be getting better at my google searches, this link was at the top of my google search
 `nexcloud php 7 500`

[2017-12-01 04:51] rpirritano commented on #5751
@MorrisJobke ,

  Quick question from investigating the issue.  It seems that addGroup is being called twice in the multiSelect (users.js line 500).  After the createCallback: addGroup is called, addGroup is then called again from the oncheck: addUserToGroup.  Any information to why addUserToGroup is running addGroup again?

[2017-12-01 05:35] jgrete commented on #7359
Sorry, no help for you... Just want to state that I see the same behaviour and currently investigating. Today in the (very early) morning I've cloned the vm carrying Nextcloud 12.0.3 and installed Nextcloud 13 beta1. Surprisingly it works much better. Now I can mount external storage via smb/cifs what diddn't work with 12.0.3. Some strange things remaining though. Because it was very early I did n

[2017-12-01 10:11] MorrisJobke commented on #5751
@blizzz Do you know more on this one?

[2017-12-01 10:59] MorrisJobke commented on #3245
Fixed in #7347

[2017-12-01 10:59] #3245 closed

[2017-12-01 11:01] MorrisJobke commented on #7360
@icewind1991 I guess this will not work, because internally those are two different shares - one for each user, right?

[2017-12-01 13:45] krocheck commented on #7360
And that would make sense if true ... especially since we're using authentication "log-in credentials, save in database".  One out of our six external storages has some structured permissions and the log-in data matters for the folder tree, but the rest could be switched over to a generic cred to allow for a common folder tree to present.

[2017-12-01 13:45] MorrisJobke commented on #7352
This looks like a setup problem. Please seek for help in the forums: https://help.nextcloud.com

[2017-12-01 13:45] #7352 closed

[2017-12-01 13:47] MorrisJobke commented on #7360
If per user credentials are used, then it's definitely expected behaviour. If the same credentials (global credentials for example) are used, then it should show up. Closing this then.

[2017-12-01 13:48] krocheck commented on #7360
I tested against "Username and password" and the behavior at this time was the same as reported.

[2017-12-01 16:33] schiessle opened #7364 "Update all button in the apps management"
I really like the new "Updates" category in the apps management where you can see directly all apps which can be updated. The only think I miss now is a "Update all" button, so that I don't have to click on ever "update"-button manually.

cc @nextcloud/designers for ideas how such a button could be integrated

[2017-12-01 16:39] schiessle commented on #7310
I like the idea. I think I even suggested something like this already in the past but can't find the issue any more. You would not even need a private/public key for the nextcloud server. Encrypting mails for a user should also work with the public key of the user only.

[2017-12-01 20:07] bpcurse commented on #6032
Should anyone else want to get rid of a user group with a "/" in the name you might try this at your own risk: Remove all users from the group and delete it in the database table "xxxxx_groups".
It worked for me and doesn't seem to do any harm to the nextcloud instance.

[2017-12-01 20:33] danxuliu commented on #7138
@jancborchardt

Please see nextcloud/spreed#516 I will work on the PR for server once it is open again for new features... and I have some time ;-)

[2017-12-01 23:18] splitt3r commented on #7364
Duplicate of #6989

[2017-12-02 01:28] krocheck commented on #7360
@icewind1991 or @MorrisJobke can we take a 2nd look since I've indicated I tested with global credentials as well as user log-in credential configurations?

[2017-12-02 05:15] tacruc commented on #7310
Yeah, but at least my email programm thant claims, that the email is not signed, but only encrypted, so evereyone with our public key could fake this message. I don't think that it is that much more work, if I could just store it in the config.php.

[2017-12-02 07:41] #7364 closed

[2017-12-02 14:43] perry-mitchell opened #7365 "WebDAV PROPFIND results in 503 from browser"
### Steps to reproduce
1. Open demo account on Nextcloud service
2. Make XHR request (PROPFIND) to Nextcloud WebDAV, to either of the following URLs:
  - `https://demo.nextcloud.com/aipeev4r/remote.php/dav/files/admin/`
  - `https://demo.nextcloud.com/aipeev4r/remote.php/webdav/`

### Expected behaviour
A successful PROPFIND request+response (contents of root returned)

### Actual behaviour
I rece

[2017-12-02 14:45] perry-mitchell commented on #7365
Exported as a cURL request for completeness:

[code]

[2017-12-02 14:50] F0rth commented on #2952
js librairies already exist: https://github.com/bpmn-io .

[2017-12-02 14:57] perry-mitchell commented on #3131
Writing back after some time.. I should've tested Nextcloud again sooner. We're trying to integrate with [Buttercup](https://buttercup.pw) (our password manager), but it doesn't work in the browser. We were originally having CORS issues but when trying to connect to a demo instance (on 12.0.0) we get 503 errors: #7365

As of now, I've not been able to get WebDAV working **at all** in the browser.

[2017-12-02 15:31] perry-mitchell commented on #7365
Turns out stupidity was at fault this time! I was trying to use `node-fetch` (npm library) to make the request, which has known issues with Nextcloud.

[2017-12-02 15:31] #7365 closed

[2017-12-02 16:23] tflidd opened #7366 "No icons in app categories "security" and "games" [NC13beta1]"
### Steps to reproduce
1. Login
2. Go to apps page

### Expected behaviour
See all categories with icons.

### Actual behaviour
There is no icon for security and games. This hole doesn't look good. For security, there is already an icon in the admin-section. Perhaps you need to design a new one for games, or don't show it since there are no apps in this category yet.

![screenshot from 2017-12-02

[2017-12-02 16:30] tflidd opened #7367 "2FA auth code settings on "additional settings" instead of "security" [NC13beta1]"
### Steps to reproduce
1. Login, go to personal settings page
2. search where to set 2FA

### Expected behaviour
I would expect the settings in the "security" section. And you can already set backup codes for 2FA authentication there!

### Actual behaviour
You have to go to "additional settings".

Either put all 2FA stuff into the security section (where it belongs). Or if you prefer to put it to

[2017-12-02 16:36] ChristophWurst commented on #7367
Fixed by https://github.com/nextcloud/twofactor_u2f/pull/72 and https://github.com/nextcloud/twofactor_totp/pull/197. Not all has been released yet, but I'll do that soon.

Thanks for reporting.

[2017-12-02 16:36] #7367 closed

[2017-12-02 17:41] Abijeet commented on #7175
Hi @MorrisJobke  - I'm noticing that the `users` table does not have the email column. The email is currently being stored in the `accounts` table. I may be missing something straight forward.

Using SQLite.

[2017-12-02 19:46] domhardt commented on #132
Hi,

I switched from owncloud 8.x to a fresh install of nextcloud 12.0.3 on my webspace (Hetzner Level 4). While "installation" (unzipping) and https is working fine I can't get rid of the HSTS warning on the nextcloud admin page. Over the last four hours I have tried EVERY single tipp but with no success.

I would like to see a default setup with correct HTTPS and HSTS settings when the install r

[2017-12-02 20:08] MichaIng commented on #132
If the .htaccess does have any effect, quickly contact your hosting provider to enable `AllowOverride All` for your nextcloud folder. Your data could be unprotected otherwise. After that the HSTS header inside .htaccess should have the desired effect.

[2017-12-02 20:22] tflidd commented on #7344
@jasonbayton do you have the logs?

[2017-12-02 20:31] tflidd commented on #7232
Can you check on your server logs if the clients try to access some resources with old passwords (4xx-errors). Did you monitor your server, CPU at 100%?

[2017-12-02 20:45] jasonbayton commented on #7344
@tflidd no, I can't replicate this on Mac via Chrome, Safari or Firefox and I'd have needed to grab the logs for that particular session (:00 to :59 of any hour).

@reneglauser if you'd like to replicate your issue and ping me; preferably as close to the beginning of the hour as possible so I'll have time to stop whatever I'm doing and log in before the logs are wiped, I'll output what I see here.

[2017-12-02 21:05] kylepwarren commented on #7232
It started working much better later on. *suspicion* There was something probably trying to access it w/ old password. However even after I disabled bruteforce protection it continued being pretty unresponsive for a while. I think the next day I restarted the server and things worked much more smoothly. I do still have intermittent access issues, mostly via webdav. Sometimes connections that have

[2017-12-03 00:54] woolyninja commented on #6104
I'm having the same issue unfortunately

[2017-12-03 05:26] DP19 commented on #4117
I'm running into this issue. Setup LDAP which brought in all of my users before i narrowed it down to a group. Wanted to reconfigure the username mapping from UID to sAMAccountName so others could more easily share by searching usernames. Since it imported all of my users, they are already mapped to a UID internally.

When I run sudo -u apache php occ ldap:show-remnants it displays all of my users

[2017-12-03 10:45] sergeyklay commented on #4605
@LukasReschke Thank  you!

[2017-12-03 10:48] MorrisJobke opened #7368 "PHP 7.0+ for Nextcloud 14"
I want to bring up the topic of raising the PHP version to 7.0. I collected a list of released PHP packages for the main distributions:

* [Ubuntu 16.04 (xenial)](https://packages.ubuntu.com/xenial/php): **7.0**
* [Debian 9 (stretch)](https://packages.debian.org/stretch/php): **7.0**
* [SUSE Linux Enterprise Server 12 (Web and Scripting Module)](https://scc.suse.com/docs/lifecycle/sle/12/modules):

[2017-12-03 13:22] splitt3r commented on #7368
Even 7.0 has only 11 month left -> http://php.net/supported-versions.php

[2017-12-03 15:25] MariusBluem opened #7372 "Shadow on "Auth required"-promt"
<img width="421" alt="bildschirmfoto 2017-12-03 um 16 23 32" src="https://user-images.githubusercontent.com/19711361/33526787-59ae5978-d846-11e7-8c74-3e6f79aad8ff.png">

**version:** 13.0 beta1
**browser:** safari 11.0.1

[2017-12-03 15:33] MariusBluem opened #7373 "Using macOS Keychain as password manager uses password as username"
**macOS-version:** 10.13.1
**Safari-version:** 11.0.1
**Nextcloud version:** 13.0 beta1

![dez -03-2017 16-31-33](https://user-images.githubusercontent.com/19711361/33526884-a7cf099e-d847-11e7-9306-6644daf6d4ee.gif)

[2017-12-03 15:40] MariusBluem opened #7374 "Position of Gallery-button and inconsistent behavior on hover"
**Safari-version:** 11.0.1
**Nextcloud-version:** 13.0 beta1

![dez -03-2017 16-39-12](https://user-images.githubusercontent.com/19711361/33526949-9c0f2278-d848-11e7-9931-89711807cdfe.gif)

[2017-12-03 15:45] MariusBluem opened #7375 "[personal settings] Move "Sync-clients" section to "Security""
The personal-settings menu "Sync-clients" has too less information and functions to require having an own menu-point. We should add it to "Security" and rename it to "Security & Clients" ;)

"Security" is currently more or less "Sessions & clients" anyway so it would match perfect.

<img width="899" alt="bildschirmfoto 2017-12-03 um 16 42 19" src="https://user-images.githubusercontent.com/19711361

[2017-12-03 16:03] MariusBluem opened #7376 "Sharing settings are wrong positioned on big screens"
<img width="717" alt="bildschirmfoto 2017-12-03 um 17 01 01" src="https://user-images.githubusercontent.com/19711361/33527134-ba5bd426-d84b-11e7-8313-6ea8b5166567.png">

**Nextcloud-version:** 13.0 beta1
**Safari-version:** 11.0.1

[2017-12-03 16:04] MariusBluem opened #7377 "Add possibility to un-favorite file by clicking on the star"
<img width="224" alt="bildschirmfoto 2017-12-03 um 17 04 05" src="https://user-images.githubusercontent.com/19711361/33527154-0b779c64-d84c-11e7-9185-06e18607a956.png">

**Nextcloud-version:* 13.0

[2017-12-03 16:10] MariusBluem opened #7378 "[personal settings] Move "Change password" to "Security"-settings"
I think a password is not related to "Personal information" but more to "Security". We could add it as a section there. It should be clear, that this is a special kind of data - not like your twitter profile name :D

<img width="1109" alt="bildschirmfoto 2017-12-03 um 17 07 26" src="https://user-images.githubusercontent.com/19711361/33527191-9863d868-d84c-11e7-8b55-85f487f65e00.png">

[2017-12-03 16:12] MariusBluem commented on #7366
Done with https://github.com/nextcloud/server/pull/7189 :)

[2017-12-03 16:12] #7366 closed

[2017-12-03 16:16] MariusBluem opened #7379 "Re-think position of "Add to favorites""
<img width="233" alt="bildschirmfoto 2017-12-03 um 17 13 51" src="https://user-images.githubusercontent.com/19711361/33527235-68c093a2-d84d-11e7-8b87-1772d11b395e.png">

Call me conservative, but I still look back to the good old times where the first point in this list was "Details" and the last point "Delete" ... what happens in the middle is irrelevant but I am experiencing it now since days th

[2017-12-03 16:17] MariusBluem commented on #5337
any news on this :(

[2017-12-03 16:33] sumanyam commented on #60
@MorrisJobke
Is S3 as primary storage working. https://github.com/nextcloud/files_primary_s3 is not found. what is the correct git url for this S3 implementation.

[2017-12-03 16:50] MariusBluem commented on #60
S3 as primary storage is part of the server and has no own repository. You will find instructions how to set this up in our documentation: https://docs.nextcloud.com/server/12/admin_manual/configuration_files/primary_storage.html

[2017-12-03 17:21] karlitschek commented on #7368
@splitt3r We have to check the supported situation in distribution. Which is usually different then from upstream.

[2017-12-03 17:23] karlitschek commented on #7368
O.K. Let's move to 7.0+ for 14

[2017-12-03 17:46] LukasReschke commented on #7368
Oye! _NOW_ the fun stuff starts? ;-)

[2017-12-03 18:28] MorrisJobke commented on #7368
Our goal is to have a supported version on which Nextcloud runs on all major distributions. Because this is the place where Nextcloud runs and it would not make it easier to get Nextcloud running if you need to find 3rdparty packages or compile PHP yourself. (Not even thinking about security and upgrade problems afterwards with those setups).

[2017-12-03 19:16] rullzer commented on #7368
Yes please. I think this can really harden our software!

I'm fine with 7.0 for now. We can review for 15 what the state is then.

[2017-12-03 20:09] Schmuuu opened #7380 "Error flood: PHP error - Narrowing occurred during type inference"
### Steps to reproduce
1. upgrade PHP to version 7.1.12
2. (restart web server)
3. wait about 10 minutes and check the nextcloud logs

### Expected behaviour
No error messages ;)

### Actual behaviour
After the automatic system updates which updated the following PHP packages last month:
php-7.1.12-1
php-fpm-7.1.12-1
php-gd-7.1.12-1
php-intl-7.1.12-1

there are regular error messages in the logs t

[2017-12-03 20:59] Schmuuu opened #7381 "Group admins shouldn't be allowed to delete users which are member of other groups as well"
### Steps to reproduce
1. create at least two groups group 1 and group 2 and three users (additionally to the admin)
2. assign each group a non-admin user as group admin (group admin 1, group admin 2)
3. add group admin 1 as member to group 2 (just normal member for group 2)
4. add another normal user to both groups
5. login as group admin 2 user
6. go to user configuration and click "delete" on t

[2017-12-03 22:39] vilisseranen opened #7382 "Decrypt object on swift > 30k"
Hi,

I am having issues with swift as external storage when encryption is enabled. I am not able to decode an object larger than 30k.

### Steps to reproduce
1. Upload an object to swift (50k was enough in my case)
2. Download the object
3. The download fails (in the NextCloud UI, we can see a MissingSignature error being thrown)

Note: the thumbnails are obviously also not generated for these fil

[2017-12-04 00:05] JamesonFinney commented on #2916
Still seeing this on NextCloud 12.0.3. Was able to get it working by adding the X-Forwarded-Host and X-Forwarded-Proto headers on the proxy.

[2017-12-04 06:02] MorrisJobke commented on #7175
You need to join the preferences table to get the email address

[2017-12-04 07:23] MorrisJobke commented on #7381
Duplicate of #3630

[2017-12-04 07:23] #7381 closed

[2017-12-04 08:49] CherryDT commented on #5865
If that is so, then why does the note in the documentation talk about switching the storage and that it makes the files inaccessible (not that it breaks the whole installation)?

[2017-12-04 08:51] Schmuuu commented on #3630
Hi,

I opened issue #7381 because I didn't notice this one right here. I'm really wondering why nothing happened here for such a long time.
When one group admin deleted another group admin with all his data by accident on my server I was really shocked and wondering how this was possible. While the intention was to "delete" the other user (actually group admin of another group) only from that very

[2017-12-04 09:35] rtheys opened #7383 "theme changes (logo, background) only applied to first trusted domain"
### Steps to reproduce
1. Configure multiple domains in the trusted_domains parameter
2. Configure theming options (custom color, background,...) when logged in on the first domain
3. Go to the instance using another domain from the trusted_domains list

### Expected behaviour
The same theming options are used

### Actual behaviour
Only the tag line is shown on both domains. Other theme settings (

[2017-12-04 09:36] Webbeh commented on #3366
Same problem when syncing from my BlackBerry Passport, using Vcard format 2.1 if I recall correctly.

`{
  "reqId": "WiURaFOmij4AAQIeGywAAAAC",
  "level": 4,
  "time": "2017-12-04T09:12:08+00:00",
  "remoteAddr": "178.197.235.161",
  "user": "Weby",
  "app": "webdav",
  "method": "PUT",
  "url": "/remote.php/dav/addressbooks/users/Weby/Contacts/33c92e3a-d8d3-11e7-b8c5-878dbfed425e.vcf",
  "message

[2017-12-04 10:40] blizzz commented on #3200
I take it as answered, there's also a PR to have the answer in the doc https://github.com/nextcloud/documentation/pull/625 → Closing

[2017-12-04 10:40] #3200 closed

[2017-12-04 10:41] idmacdonald commented on #1308
The Workin2gether app does sound like a bit of a workaround, frankly. Most of our users use the NextCloud sync client or WebDAV to access their files. One organisation has been querying options file locking for a while, at this point we have to tell them that it's not possible.

Collabora Office is good, but it is a lot of code for the browser to execute and in our experience it doesn't work so we

[2017-12-04 11:31] blizzz commented on #4117
fix in 12.0.4

[2017-12-04 11:37] blizzz commented on #5751
Not by heart, but it does not sound right. Perhaps it is a side effect cause by some other changes on the road.

[2017-12-04 11:37] putt1ck commented on #1308
How do you file lock something you're not connected to?

[2017-12-04 11:59] idmacdonald commented on #1308
Hi @putt1ck, if a person is using the NextCloud sync client and is offline, then of course they will just be opening up a file on their local computer and there will be no way to lock that file via the server. But quite a lot of file editing, in my experience, happens via the sync client **with** an internet connection.
But a lot of our NextCloud users don't even use the sync client, they connect

[2017-12-04 12:19] agru commented on #681
I can confirm similar log messages. Nextcloud tries with MKCOL to create a folder and sees that the parent folder is not there. In my case, I could see in the real log file (text file) that is not abbreviated by …, that the problem is in the folder “_Mit_mir_geteilt”, which was created by the configuration ‘share_folder’ => ‘_Mit_mir_geteilt’.

The parent node (in this case this is probably a pseu

[2017-12-04 12:39] putt1ck commented on #1308
I can only see one scenario (people all accessing files via webdav) where automated file locking will add value - but in all other scenarios it doesn't add value and potentially lulls people into a false sense of security "this file isn't auto-locked so must be ok to edit".

Where automated file locking is a useful feature, in a legacy "shared drive" scenario, it is because that is how people acce

[2017-12-04 13:41] dvzrv opened #7384 "nextcloud 12.0.4 incompatible with php 7.2"
Arch Linux, as a rolling release distribution, follows upstream closely, which is why php 7.2 has been adopted a few hours ago.
[This renders nextcloud (server) unusable for new installations of Arch Linux](https://bugs.archlinux.org/task/56553), while longer running installations theoretically still have the possibility to downgrade or not upgrade.

This is quite unfortunate, given the fact, that

[2017-12-04 13:54] Schmuuu commented on #7384
I nearly ran into the same problem. 45 minutes before my automatic update I checked what updates would come and saw PHP 7.2. I instantly stopped my automatic updates.
I hope that Nextcloud 13 will really bring support for 7.2.

[2017-12-04 14:26] tflidd commented on #7368
In NC13, could we put in a notification/warning on the admin page for users with PHP<7.0 that this is the last version supporting php 5.6 and that PHP 7.0+ is required for the next major release? This way they are noticed early enough to plan an upgrade.

[2017-12-04 14:32] rullzer commented on #7384
Yes unfortunately the changes in php are not minor to make nextcloud 12 7.2 compatible.

indeed NC 13 will be compatible with php 7.2.

[2017-12-04 14:34] rullzer commented on #7382
@icewind1991 ^^

[2017-12-04 14:55] MorrisJobke commented on #7368
Could you make a ticket for this. You could also assign me there. Thanks

[2017-12-04 15:11] tflidd opened #7386 "Notice users that php 5.6 support is running out in NC 14"
In NC13, we should put a notification/warning on the admin page for users with PHP<7.0 that this is the last version supporting php 5.6 and that PHP 7.0+ is required for the next major release.

This way they are noticed early enough to plan an upgrade.

ref: https://github.com/nextcloud/server/issues/7368

[2017-12-04 15:19] georgehrke commented on #7184
So you are not sure that the high load was caused by `OCA\DAV\CardDAV\SyncJob`, but it was just a wild guess?

Can you check in the `oc_jobs` table what other jobs are scheduled for the instance? Maybe the `last_run` column will give a hint what job took so much time.

[2017-12-04 15:35] icewind1991 commented on #7382
@vilisseranen can you test https://github.com/nextcloud/server/pull/7387?

[2017-12-04 15:59] pixelipo commented on #7379
Allow me to go look this from a little bit wider perspective.

I think many are aware of the problem of sidebar not being very easy to discover/access. There is talk of having it "always visible" on FHD. In my opinion, that doesn't solve the problem.

I would propose that the sidebar ("Details") are shown when single-clicking on an item, and move the current single-click (open folder or view item)

[2017-12-04 16:00] vilisseranen commented on #7382
Will do, thanks.

[2017-12-04 17:34] alexisrosano89 commented on #3082
I'm a looking for a workarround to this too.

Timeout values greater than 30 not working!

[2017-12-04 17:51] tfmm opened #7388 "External Local Storage not opening without intervention on 13.0.0.1beta"
### Steps to reproduce
1. Open files App
2. Attempt to open a directory that is setup as an external local storage

### Expected behaviour
Directory should open

### Actual behaviour
Directory does not open unless I first select the "Sharing" tab in the details panel

## Server configuration detail

**Operating system:** Linux 3.10.0-693.5.2.el7.x86_64 #1 SMP Fri Oct 20 20:32:50 UTC 2017 x86_64

*

[2017-12-04 18:48] tacruc commented on #7310
A WIP branch of this is online.
https://github.com/tacruc/server/tree/GPG-Email

- [x] Sending encrypted emails
- [x] Sending encrypted and signed emails
- [ ] signed emails are not displayed on Outlook, but working on GMail mailbox.org and protonmail.com
- [ ] create nextcloud_data/.gnupg  and server keys on setup or upgrade
- [ ] allow users to upload public key

[2017-12-04 18:54] #6857 closed

[2017-12-04 20:40] MarioKlebsch opened #7389 "Integrity constraint violation: 19 NOT NULL constraint failed: oc_filecache.storage_mtime"
### Steps to reproduce
Upgraded Nextcloud via web interface.

### Expected behaviour
After upgrade has been installed, the upgrade process should be performed on the web interface

### Actual behaviour
Internal Server Error is shown on the login web page

### Server configuration

**Operating system**:
Linux 4.4.39
**Web server:**
Apache/2.4.27 (Unix)
**Database:**
sqlite3
**PHP version:**
7.1
**N

[2017-12-04 20:43] powerriegel commented on #6543
Same problem in 11.6 with pdf file.

[2017-12-04 20:56] #7384 closed

[2017-12-04 21:40] #5593 closed

[2017-12-04 21:54] MorrisJobke commented on #7386
See #7390

[2017-12-05 05:14] dirigit opened #7393 "Validation check - release 12.0.4 from nextcloud.com"
Technical information
=====================
The following list covers which files have failed the integrity check. Please read
the previous linked documentation to learn more about the errors and how to fix
them.

Results
=======
- core
	- EXCEPTION
		- OC\IntegrityCheck\Exceptions\InvalidSignatureException
		- Certificate is not valid.
- ownbackup
	- EXCEPTION
		- OC\IntegrityCheck\Exceptions\Inv

[2017-12-05 06:55] universcom opened #7394 "set default_language in first logging"
Hi dears. I install nextcloud12 and want set my default_language to Persian. I set default_language to "fa" in config.php in config directory. but not working and my language is English. please help me to my users in first start use Persian language.

[2017-12-05 08:12] lwandrebeck commented on #5930
For information, https://github.com/nextcloud/server/issues/5930#issuecomment-341978185 is still needed (and applies fine) for 12.0.4

[2017-12-05 09:32] MorrisJobke opened #7396 "Document API for external apps"
We should settle on a documentation what external endpoints are available and how they can be used.

Best would be a approach where it is documented inline - @mathiasconradt proposed Swagger - there is also a PHP extractor: https://github.com/zircote/swagger-php

[2017-12-05 09:32] MorrisJobke commented on #7396
@rullzer @LukasReschke @tobiasKaminsky @georgehrke @icewind1991 @schiessle opinions on this?

There is also already something like this in http://lukasreschke.github.io/OpenCloudMeshSpecification/

[2017-12-05 10:06] himbeere commented on #2950
Does someone know if that is fixed in 12.0.4?

[2017-12-05 10:16] qm2k opened #7397 "login redirect does not honor overwritewebroot when foreign cookies are present"
I'm using Nextcloud 11 behind Apache-based reverse proxy. I want it to be accessible at `https://cloud.example.com/nextcloud/`. It mostly works, *but*: when first accessed from a new computer user is redirected to `/index.php/login`, not to `/nextcloud/index.php/login`. It does on further attempts. Investigation shown the presence of third-party cookies triggers this behaviour.

### Steps to repro

[2017-12-05 10:24] alerque commented on #7384
Compatibility with the current released version of the language should be top priority and released as soon as possible _in a point release_! Please don't put this off until the next feature release, my boxes have just all gotten borked and I'm forced to evaluate which _other_ released software I can safely downgrade to get Nextcloud back.

Yes another release cycle is work, but it looks like 13 h

[2017-12-05 10:35] blizzz commented on #2950
@himbeere yes, it is, backport for 12 is https://github.com/nextcloud/server/pull/6502

[2017-12-05 10:45] dvzrv commented on #7384
@MorrisJobke I also don't get why you are closing this bug. It is an ongoing problem now.

[2017-12-05 10:47] himbeere commented on #2950
@blizzz thanks.

[2017-12-05 11:03] ddecaro94 opened #7398 "Horizontal scaling - file locking not working?"
Hi,
I have a fresh install of Nextcloud 12.0.3 inside an LXD container, using another LXD container for MySQL server and one for the Redis cache. The data folder is a smb share in the private network. To host an onlyoffice server under the same local network (having different host name) i configured an haproxy container in tcp mode in order to route the requests based on the SSL SNI, and everythin

[2017-12-05 11:30] andyforceno commented on #5345
This is happening to me, exactly as described. I recently installed Nextcloud, and when I went to load up my calendar, I got a mostly blank screen. I disabled Nginx Pagespeed module for Nextcloud and restarted Nginx, but that hasn't resolved the issue.

[2017-12-05 11:46] icewind1991 commented on #6888
https://github.com/nextcloud/files_excludedirs handles this

[2017-12-05 11:46] #6888 closed

[2017-12-05 12:15] wiwie commented on #1732
@timtierney multi-threading should be possible if a cron job is used for thumbnail generation, right? this would only require, that the occ command for thumbnail generation supports generation of a subset of thumbnails. then the occ command could be invoked multiple times by the cron job.

[2017-12-05 12:40] ShellCode33 opened #7399 "Version diclosure"
I think hiding the version in the status.php file from anonymous users could be great. Even if I'm pretty sure there are other ways to find the version of the installed instance, it makes it easier for attackers to find public exploits based on the version.

[2017-12-05 12:47] MariusBluem commented on #7399
Only hiding the information would not make Nextcloud more secure because the version could be exploited by other files (e.g. CSS) too :)

[2017-12-05 12:51] MichaIng commented on #6449
Any news about hits? I still see here and there users with this settings, that definitely don't need it and might expose their data with it.

[2017-12-05 12:53] ShellCode33 commented on #7399
It will not make Nextcloud more secure but it will be harder to find the version ! It can slow down bots looking for exploitable versions of Nextcloud. This is pointless to keep it public...

[2017-12-05 12:56] MariusBluem commented on #7399
It is just one more line in the hackers script ;)

[2017-12-05 13:02] ShellCode33 commented on #7399
So tell me, what are the other ways of finding the version ?

Are you saying that to find the version, an attacker just has to hash a file and compare it with a database to retrieve the version ? Because you can't determine a version based on that... CSS files will not necessarily change between two versions

[2017-12-05 13:06] Emi94 opened #7400 "LDAP error in Nextcloud 13 beta1"
I just upgraded to Nextcloud 13 beta1 (user_ldap version: 1.3.1) and this error appears over and over in the logs when an LDAP user does any action, even when clicking a button or reloading the page.

Everything seems to work fine for now, but even if this is a harmless error it fills the logs pretty quick with just one LDAP user logged in. With a few dozens of active users it will produce way mor

[2017-12-05 13:07] enoch85 commented on #7001
I know you are busy guys, but I would love to se this solved soon. My cloud is unusable since this happened. Please? :) @MorrisJobke @schiessle @icewind1991

[2017-12-05 13:39] KaraokeStu commented on #7388
Just to confirm I have the same issue running NextCloud on Apache.
In the browser you cannot click the initial directory, however if you right-click and open in a new tab, all works as expected.

[2017-12-05 14:24] Natanji commented on #7384
I'm a bit stunned that you @MorrisJobke apparently are fine with Nextcloud 12 only working on systems that have not yet been updated to PHP 7.2, and just close this. This is a bug. Your software does not work with the most up to date version of PHP 7, despite you recommending PHP 7. In the coming weeks, many more systems will be updated. In the case of up to date distributions like Arch Linux, you

[2017-12-05 14:27] ferdiga commented on #3569
I had the same problem,
after
`return true; //throw new AutoloadNotAllowedException($fullPath);`
I could access the admin pages
I uninstalled both office apps (which were not installed complete due to missing resources here) and now it works again

[2017-12-05 14:41] paroj commented on #7384
there is still the php70 package :wink: Also this is exactly what "backwards incompatible change" means. Therefore you only should install the un-versioned php package, if you know what you are doing..

[2017-12-05 15:48] CountMurphy commented on #7384
@MorrisJobke So when exactly is 13 getting released? I cannot run any updates on my server unless I remove nextcloud. If 13 isn't ready, any chance you could just patch NC 12 to run with the current php package? This is a huge breaking issue

[2017-12-05 16:03] divinity76 commented on #7384
@CountMurphy pretty sure all you have to do is install mcrypt, see above (i can't actually test it now though)

[2017-12-05 16:16] blizzz commented on #7399
1. It's security by obscurity, which does not work. Fingerprinting is only a tiny bit of more work.

2. Also the clients require to read it.

=> it's more work to get around this, without  real benefit.

[2017-12-05 16:16] #7399 closed

[2017-12-05 16:18] blizzz commented on #7398
Is file locking set up in your config.php accordingly?

[2017-12-05 16:20] blizzz commented on #7397
@LukasReschke

[2017-12-05 16:25] blizzz commented on #7394
* language codes such as ``en`` for English, ``de`` for German, and ``fr`` for
 * French. It overrides automatic language detection on public pages like login
 * or shared items. User's language preferences configured under "personal ->
 * language" override this setting after they have logged in.

I guess with a fresh (test) user, Farsi will be set. If you want to be very very drastic and stric,

[2017-12-05 16:27] blizzz commented on #7393
the previous linked documentation to learn more about the errors and how to fix
them.

@dirigit and what happened after following those instructions?

[2017-12-05 16:36] blizzz commented on #7389
@icewind1991

[2017-12-05 16:41] blizzz commented on #7388
I don't  see anything related in the log, actually.  @rullzer you've got an idea?

[2017-12-05 16:42] blizzz commented on #7383
@nextcloud/theming

[2017-12-05 16:59] Schmuuu commented on #7384
Hi,

As mentioned above, I'm affected as well by this problem. However I do understand the developers. There are new futures to develop, bugs to fix and now adapting the whole code to changes of certain tools (apache/ nginx, php, ...) is very time consuming.
I also understand that there are list of supported software versions for a reason. As far as I know Arch Linux is not even a supported OS - v

[2017-12-05 17:37] Goore25 commented on #7286
Hi, I tried today with version 13.0.0.6 (13.0.0 Beta1 from 3.12.2017 - Daily) and there is no progress bar in MS Edge again...

[2017-12-05 17:43] BlackIkeEagle commented on #5653
Will nextcloud patch their version of vobject with https://github.com/sabre-io/vobject/pull/383 ? Or do we wait forever on sabre to merge this?

[2017-12-05 17:46] tobiasKaminsky opened #7401 "Theming on light color"
On a very light color, the icons are white, but I think they should be black, or?

![image](https://user-images.githubusercontent.com/5836855/33621717-094dce80-d9ec-11e7-8b30-5b729975cd05.png)
@juliushaertl @nextcloud/theming

Color is: F9FF00

[2017-12-05 17:50] Abijeet commented on #7175
Ok, thanks.

[2017-12-05 17:51] Natanji commented on #7384
@Schmuuu That doesn't actually work and your setup will most probably stop working after a reboot. This is because php and associated packages depend on libraries that are also used elsewhere in the system. Some libraries have received updates in the meantime, which means their [Sonames](https://en.wikipedia.org/wiki/Soname) have changed (as they must). The php 7.1 package is still linked against

[2017-12-05 18:04] Goore25 opened #7402 "Error when assembling chunks after file upload in MS Edge - NC 13 Beta1"
**Steps to reproduce**
Just use Microsft Edge for uploading file to Nextcloud server.
I tired with:
Win10 (Creators Fall Update 1709, build 16299.19) and MS Edge 41.16299.15.0 (EdgeHTML 16.16299)
Win10 (1703, build15063.726) and MS Edge 40.15063.674.0 (EdgeHTML 15.15063)

**Expected behaviour**
No error after file update

**Actual behaviour**
An error message appeared after file upload - see attac

[2017-12-05 18:05] ddecaro94 commented on #7398
Yes, at least i believe so, this is my current config.php

<?php
$CONFIG = array (
  'instanceid' => 'oc2umolwrkhi',
  'passwordsalt' => 'G8yyTvLtHH2h8X00Tp2eXPEBfklCNP',
  'secret' => '3u+X9bg0xO66Cxj4jTnDfCcdRg100jyWQ5dl15wnxmVOiEcB',
  'trusted_domains' =>
  array (
    0 => 'nextcloud.local',
    1 => '******',
  ),
  'datadirectory' => '/share',
  'overwrite.cli.url' => 'http://nextcloud.stat

[2017-12-05 18:17] steadybright commented on #7384
I'm faced with the same situation Natanji described  (reverted to several previous PHP releases (php, php-gd, etc., but that did not ressurect Nextcloud).

I'm considering uninstalling Nextcloud so that I can update my Arch system.

Does anyone know if uninstalling Nextcloud will remove all my settings/customizations (calendars, etc.)?

What a mess... but what do you expect for free.

[2017-12-05 18:51] paroj commented on #7384
php7.2 is clearly marked as backwards incompatible, so you can not just upgrade and expect depending stuff to work.
Furthermore [as you can see here](https://secure.php.net/supported-versions.php) PHP has always two supported releases in parallel. So currently php7.1 is still up to date software.
If arch does not properly reflect this, it is an issue with arch really.

@eli-schwartz a quick search

[2017-12-05 18:52] CountMurphy commented on #7384
Aur packages aren't official. I think thats what eli meant when he said  Arch Linux does not provide old versions of software.

[2017-12-05 19:43] eli-schwartz commented on #7384
@CountMurphy It most certainly was what I meant.
@paroj According to that blanket logic, 5.6 is also supported... Arch Linux updates to the latest version of current, stable software and does not provide old-but-still-supported software as a general rule. Nextcloud is nowhere near the only php based package in our repos, not to mention the fact that the AUR etc. runs on php... we value using the l

[2017-12-05 19:53] Natanji commented on #7384
@paroj: Just because the previous version is still supported (aka receiving security patches) by PHP, doesn't mean it is up to date. Of course you are right that one cannot upgrade and just expect things to work; but it's completely unrealistic for the php maintainer to check if every single package that depends on php still works after the update. This is why in the FOSS world, if upstream knows

[2017-12-05 19:58] saper commented on #7384
Come on, PHP 7.2 is six days old at the time as I write this!

[2017-12-05 20:32] sunjam opened #7403 "Dismiss All Notifications"
Hi, I'm requesting the ability to Dismiss All Notifications in bulk rather than individually dismissing each one by clicking on the top right corner.
![dismiss-all](https://user-images.githubusercontent.com/1787238/33629196-0fcc0cf6-d9b8-11e7-8ea0-42fe2f2a5a13.png)

[2017-12-05 21:19] sunjam opened #7405 "Request: Adjust Admin Settings Scroll bar position."
It'd be helpfiul to be able to select and re-position the admin scroll bar.  It is currently fixed in place and adds a lot of white space, which makes the Nextcloud window wider than my max screen resolution of 1366 x 768.
![resize-bar](https://user-images.githubusercontent.com/1787238/33631256-e2a26bba-d9be-11e7-92be-b7dc4944a463.png)

[2017-12-05 21:33] Natanji commented on #7384
@saper: The release is, yes - the last beta (of which there were 3!) was available in August. So there was a total of FOUR MONTHS in which this could have been fixed. Despite this, people already noticed this bug in early October as by #6786. This proves that Nextcloud developers were 100% aware of this bug TWO MONTHS AGO and did... precisely nothing about it. Like, no reaction at all, not even wa

[2017-12-05 21:55] blizzz commented on #7223
@schiessle

[2017-12-05 22:09] saper commented on #7384
@Natanji as I said on [Mastodon.social already](https://mastodon.social/@saper/99123871380706639), this is not NextCloud's fault if they decide to not to rush to fix this in the minor release, especially given the fix is non trivial. The moving part here is PHP, not Nextcloud. Nextcloud DID NOT change when you have updated your server. PHP did.

If you really really want to blame someone, please t

[2017-12-05 22:11] paroj commented on #7384
yes, e.g. phpbb gained php7 support this year (1 year after php7 release). If you look around a little it, you will actually find many php based applications with compatibility issues. (e.g Drupal, Tiki)

probably just the only one you have tested with the new release so far..

you should note somewhere that the provided php stack only supports running your own infrastructure. Then this discussion

[2017-12-05 23:03] LukasReschke commented on #7384
I’d like to remind everyone of our code of conduct. There’s no need to use such words.

[2017-12-05 23:15] MorrisJobke commented on #7384
Hey,

just some words from me as well. I read the rant at https://octodon.social/@natanji/99123165202381895 (thanks @saper)

Regarding the problems:

1) closing without comment:

I closed this, because it was communicated by @rullzer that 12.0.x is a minor release and we never supported never PHP in released versions (only in the next major release)

2) blaming us, that we didn't test against the

[2017-12-05 23:38] eli-schwartz commented on #7384
I don't think that's necessary, making this more visible to users on your website should be enough. To that end, it seems like nextcloud/documentation#626 is the right direction. As you did, after all, know about it a while ago.

I'd have to agree with you on this. @Natanji, Arch isn't really the best distro to use if you have high uptime requirements from your production server. We do our best, a

[2017-12-05 23:43] kylepwarren commented on #7232
Thanks for the advice. I've set up the rp in the config, now the admin general page says this: "The reverse proxy headers configuration is incorrect, or you are accessing Nextcloud from a trusted proxy. If you are not accessing Nextcloud from a trusted proxy". That's a pretty big _or_. Maybe it will [somehow] help with the bruteforce rate limit issue, if that was the issue. The logs I was looking

[2017-12-06 01:05] #7232 closed

[2017-12-06 01:10] Natanji commented on #7384
First off I want to apologize for my tone here, you're right that it wasn't okay and I definitely made some remarks in my frustration about this that were more heated than they should have been and stepped over a line (in particular, I edited out the part @LukasReschke mentioned).

@MorrisJobke: I also thank you for your reply, especially stating that you will consider if making Nextcloud 12 compa

[2017-12-06 03:29] vilisseranen commented on #7382
@icewind1991 #7387 seems to work fine thanks. I am closing the issue.

[2017-12-06 03:37] ShaunCurrier commented on #6996
Can anyone point me where to look further into the code for where this problem might be?  I've narrowed it to something between smbclient and wherever the size is inserted to the database.  I've spent a couple hours trying to locate the issue in the code myself and, not being a php developer, I am having trouble making out the path between these two points.  I'm taking any suggestions on how I cou

[2017-12-06 04:17] EricKerby opened #7406 "Add support for HEIF/HEVC"
HEIF and HEVC image and video files are now becoming increasingly prevalent with the latest moves by Apple to embrace the standards on the latest iOS and mac OS versions. Dropbox has a help page on the formats here: https://www.dropbox.com/help/photos-videos/ios-formats. Nextcloud should add support for previewing/displaying images and videos in these formats in the web interface and mobile apps.

[2017-12-06 04:23] dirigit commented on #7393
Hi,

copied all files to server again (scp), performed all actions mentioned in documentation.

Result of rescan looks better but (ignore ownbackup, rest is core distribution):

Technical information
=====================
The following list covers which files have failed the integrity check. Please read
the previous linked documentation to learn more about the errors and how to fix
them.

Results

[2017-12-06 04:23] #7393 closed

[2017-12-06 06:56] Emi94 commented on #7400
If it's worth, noting I upgraded another nextcloud server and I get the same error

[2017-12-06 07:23] rullzer commented on #7382
Lets keep it open for other to find and close it once #7387 is merged :wink:

[2017-12-06 07:28] #7382 closed

[2017-12-06 08:52] CamZie commented on #7184
We were sure that this was caused by the OCA\DAV\CardDAV\SyncJob, because we also saw the following entry on the database:

[code]

[2017-12-06 09:23] MorrisJobke opened #7408 "IE11 with white theming doesn't show black app icons"
Safari ✅:

![bildschirmfoto 2017-12-06 um 10 03 41](https://user-images.githubusercontent.com/245432/33654050-42494358-da6f-11e7-8b02-efd683725682.png)

Edge ✅:

<img width="884" alt="bildschirmfoto 2017-12-06 um 10 17 28" src="https://user-images.githubusercontent.com/245432/33654055-466a37bc-da6f-11e7-91cf-f409c3ca2341.png">

IE 11 :x::

<img width="884" alt="bildschirmfoto 2017-12-06 um 10 17 5

[2017-12-06 09:33] Peac commented on #6752
I'm also affected by this (quite annoying) bug on NC 12.0.4. Is there a fix or something?

[2017-12-06 09:56] My1 commented on #7384
sorry in advance if I may sound rude, this is not my intention.

---
sorry if I have to ask but wasnt it possible to do the fixes in the pre-release period of PHP7.2? tests is one thing, but it not running with new PHP versions should be communicated in a better way. (for example the docs dont state that 7.2 doesnt work)

I ran iirc the last beta and most of the RCs and saw no big problems on the

[2017-12-06 10:42] vacy commented on #3200
@blizzz
thank you, yes please consider as resolved.

[2017-12-06 10:59] e-alfred commented on #2097
@craige1 You could use this app as a starting point to implement support for different external storage services:

https://github.com/icewind1991/files_external_dropbox

[2017-12-06 11:17] benvdh commented on #2967
Had a similar issue, though I didn't see it appear in the logs. Note that remi's packages do not store their sessions in /tmp, nor /var/lib/php/session, but in /var/opt/remi/php71/lib/php/session.

This path is set in /etc/opt/remi/php71/php-fpm.d/www.conf, not in /etc/opt/remi/php71/php.ini.

Now fixed by chowning them to nginx:nginx...

[2017-12-06 12:22] LukasReschke commented on #7358
Please reopen at https://github.com/nextcloud/richdocuments. Thanks :)

[2017-12-06 12:26] MariusBluem commented on #7408
The theming-icon looks a bit pixelated on Edge too :(

[2017-12-06 12:29] #7358 closed

[2017-12-06 12:44] zden2k commented on #7358
ok, https://github.com/nextcloud/richdocuments/issues/142

[2017-12-06 13:03] MorrisJobke commented on #7408
That's due to the shitty resolution of the VM. This ticket is about the non-visible app icons on IE11.

[2017-12-06 13:03] thammerbacher commented on #3502
@icewind1991

I can repoduce the issue on a clean installation of 12.0.4.

The problem still occurs while using shared folders from the groupfolders app.

There are no problems with regular shared folders!

[2017-12-06 13:05] BornToBeRoot commented on #5107
The sharing dialog still leaks data in 12.0.4 / daily

When I type in a single letter, I get a list of people with whom I'm not in a group.

![image](https://user-images.githubusercontent.com/16019165/33662774-64dfcfc2-da8d-11e7-84d9-491d001a916c.png)

My settings...

![image](https://user-images.githubusercontent.com/16019165/33662797-7d5e9a60-da8d-11e7-9342-135efdc8db28.png)

Users with whom I a

[2017-12-06 13:19] jimbowarrior commented on #5107
same issue !!!

[2017-12-06 13:44] xshadow commented on #5107
Did you uncheck the option, in tab  sharing?:

"Allow username autocompletion in share dialog. If this is disabled the full username needs to be entered."

[2017-12-06 13:59] BornToBeRoot commented on #5107
If I disable the option, I think it works correctly.

But it should work even if the option is enabled...

[2017-12-06 14:37] icewind1991 commented on #3502
Groupfolders has known issues with sharing, you can try and see if https://github.com/nextcloud/server/pull/7323 fixes that problem

[2017-12-06 15:34] Wikinaut commented on #7380
needs urgently to be fixed

[2017-12-06 15:38] Tsuroerusu commented on #7380
I agree with @Wikinaut , I am also seeing this in my server logs, it is completely out of control. I would go so far as to say that a hotfix-release ought to be issued to deal with this.

[2017-12-06 15:58] Goore25 commented on #7402
Some info from NC logging...

![nc13_chunk](https://user-images.githubusercontent.com/996499/33670984-b031171a-daa6-11e7-8d9b-21acd4bd12d3.jpg)

[2017-12-06 16:28] Goore25 commented on #7402
I observed that this happened only when I use MS Edge in LAN (Intranet).
When I upload a file through Internet (using firm's laptop over public wifi) the upload ends without error! We use NGINX as reverse-proxy.

[2017-12-06 16:59] einsweniger opened #7410 "Session/Settings handling in base.php w/ php 7.2.0"
### Steps to (possibly?) reproduce
1. use 13.0.0.6 with php 7.2.0
2. look at log files
3. find this:

ini_set(): A session is active. You cannot change the session module's ini settings at this time at /usr/share/webapps/nextcloud/lib/base.php#667

All previous calls to `ini_set` are suppressed:
https://github.com/nextcloud/server/blob/430f60db21bbda895825bdb37632b5d68dff1f6e/lib/base.php#L634-L64

[2017-12-06 17:54] hantk8 opened #7411 "personal profile not saving"
i can't change the emailadres on my install
tried it on v11 and latest v12

### Steps to reproduce
1. logged in as admin
2. goto your url/index.php/settings/personal
3. click emailfield an fill with address

### Expected behaviour
the emailaddress should get saved but it doesn't
### Actual behaviour
the emailaddress doesn't get saved

### Server configuration

**Operating system**:
CENTOS
**Web se

[2017-12-06 17:54] c0fe commented on #7406
Second that enhancement here, it would be quite helpful since I already work with those formats.

[2017-12-06 19:21] Arno500 opened #7412 "GZIP generated JS not decompressing on the client (and render Nextcloud unusable)"
### Steps to reproduce
Go to any page of Nextcloud (instance: [nextcloud.arnaux.cf](https://nextcloud.arnaux.cf))

### Expected behaviour
The web server should detect the .gzip extension (usually .gz, just sayin' ?) and tell the browser that it is gzip and need to be decompressed before use. Misconfiguration ?

### Actual behaviour
The file is still compressed in the browser. Filename for example

[2017-12-06 20:20] MarioKlebsch commented on #7389
In the mean time I found out, the problem was triggered by a missing entry

in php.ini.

This caused problems in lib/private/LargeFileHelper.php:

The code is running chroot()ed and neither /bin/sh nor stat is available. So exec will fail, but this error seems to be unnoticed. Nothing about this problem was written the the log files. :-(

exec() is called passing only a single parameter, but it mu

[2017-12-06 22:00] PrinceCharles23 commented on #7132
any news?

[2017-12-06 22:24] jowenn commented on #6550
This missing feature is quite annoying with docker swarm mode, since all logins get delayed because the brute force detections only sees the proxy which has a dynamic ip address

[2017-12-06 23:01] mjanssens opened #7413 "Trigger search with 1 character or more"
As I understand the current search behavior in the files app is as follows:
- typing first 2 characters in the search field filters all files and folders in the current view, not recursive.
- typing 3 or more characters in the search field filters the same as above and additionally the files and folders recursively.

Sometimes i need to find a file e.g. "CV name.doc" which is in one of the sub fol

[2017-12-07 02:44] danxuliu opened #7414 "Input field for comments no longer shows warnings about comment length"
Since [the change of the text area to a content editable div](https://github.com/nextcloud/server/commit/ec5607544c32797901f82c4e06161938a50fe322) the input field for comments no longer shows a warning when nearing or exceeding the maximum allowed comment length.

The problem seems to come from [trying to get the div contents still using `val()`](https://github.com/nextcloud/server/blob/e428ef9d75

[2017-12-07 07:29] Ricain opened #7415 "WebDav still works with PHP 7.2"
Hello,

I am part of the unfortunate ArchLinux community who upgraded PHP to 7.2 when NC12 is not compatible... See #7384 for more details!

When I open NC, I have the following message:
`This version of Nextcloud is not compatible with PHP 7.2.
You are currently running 7.2.0.`

So I expect NC not to work at all. Fortunately for me, NC Android Apps and desktop sync agents can still access data on

[2017-12-07 07:30] Isvvc commented on #5965
I appear to be having a similar issue, though not as a result of a power outage or similar. I have about 24 GiB of new data I've been attempting to sync, but the transfer speeds with the desktop client have been extremely slow, so I manually transferred the files from the server to my PC over SFTP into the corresponding location in my local Nextcloud Sync folder, but the Nextcloud client seems to

[2017-12-07 08:31] agoat commented on #6990
I have the same problem in the Google Chrome browser, for all users. It works in Firefox.
The problem occurred after the update to 12.0.3.

[2017-12-07 09:33] reneglauser commented on #7344
Hi Jason

Thanks for your message. I just tried to download the file in Chrome (Windows) linked in the thread and got again the 503 error approx at 10.32 am. (see attachement…)

Best regards,

René

Von: Jason Bayton [mailto:notifications@github.com]
Gesendet: Samstag, 2. Dezember 2017 21:46
An: nextcloud/server <server@noreply.github.com>
Cc: reneglauser <r.glauser@gmx.net>; Mention <mention@nore

[2017-12-07 09:47] Upperholme commented on #2097
Whilst I can understand the rationale for not having OneDrive support in the server core, and the argument for it to be an app, I am surprised that support for OneDrive is not seen as being a strategic priority for NextCloud in terms of enabling widespread adoption.

[2017-12-07 10:13] blizzz commented on #5107
Please open a new issue. I lock conversations here, because the original issue is dealt with. Any new issue needs a new report.

[2017-12-07 10:17] blizzz commented on #7400
@Emi94 AD I guess? Would be great if you could provide a full report according to the template https://raw.githubusercontent.com/nextcloud/server/master/issue_template.md

[2017-12-07 10:44] tflidd commented on #7406
There were some discussions on the forum about it. The format seems to be patent-protected and it could be legally difficult to implement this:
https://help.nextcloud.com/t/ios11-heic-heif-format/20368

In the ios client it is solved in that way that you can choose to upload everything in jpg:
https://help.nextcloud.com/t/warning-for-ios-11-heic-and-hevc-formats-unsupported/21229

[2017-12-07 11:11] tomastd commented on #4917
One question, how can a user reset a customized app ordering?
It would be nice to have a "reset to default" option, isn't it?

[2017-12-07 11:51] Emi94 commented on #7400
### Steps to reproduce
1. Login with an LDAP user
2. Do anything, like pressing some buttons or reloading the page

### Expected behaviour
No Error should be thrown

### Actual behaviour
This error is thrown multiple times when an LDAP user does any action:

### Server configuration

**Operating system:** Ubuntu 16.04
**Web server:** Apache2
**Database:** Postgresql 9.5
**PHP version:** php 7.0
**

[2017-12-07 12:09] gregecslo opened #7416 "Public shared gallery in grid view, IE can`t scroll"
Hi!

You create gallery 20+ images.
Then you share it and open link.
Change to grid mode and scroll down.
With EDGE, FF, CHROME it works just as expected but with IE it`s stuck, see attached image.
![nc_scroll](https://user-images.githubusercontent.com/17081737/33714580-c6531e04-db4f-11e7-88e6-c0dc25406c38.PNG)

Using 12.0.4 NC and latest IE.

Owncloud had same issue some time ago...

Thanks!

[2017-12-07 12:35] MJLorne commented on #7400
### Steps to reproduce
1. connect to AD
2. Login with AD user

### Expected behaviour
Clean Logfile

### Actual behaviour
Every action of the AD-User creates an error:
bin2hex() expects parameter 1 to be string, array given at /var/www/nextcloud/apps/user_ldap/lib/Access.php#1638

### Server configuration
**Operating system**: Ubuntu 16.04
**Web server:** Apache2
**Database:** MariaDB 10.0.31
**PH

[2017-12-07 13:01] privatereese commented on #3068
@ikonspirasi sorry for the late response.

my ldap query is:

for BASE DN:
``
ou=W,ou=X,o=Y,c=Z
``
for USERS:
``
(|(uid=U)(uid=V))
``
For LOGIN ATTRIBUTES:
``
(|(uid=%uid))
``

Under Advanced and Special Attributes all fields are empty.

This is the configuration that works for me, but

- I do not have control over the LDAP I am using
- I only need certain Users of the LDAP to authenticate with my

[2017-12-07 13:08] juliushaertl opened #7417 "Allow to install nightly builds of individual apps"
The app store offers nightly builds to be uploaded by app developers. To make it easy for interested admins it should be possible to install nightly releases from the apps management for individual apps.

[2017-12-07 14:48] Zepmann commented on #7384
Here are my $ 0.02:

I do not mind that NC12 is not compatible with PHP 7.2. Sure, some effort could have been put into it to make it work, but I can understand that the changes under the hood might not fit a minor release, and that the developers rather put that work in NC 13.

However, I do agree with the opinion of some users that this is poorly communicated and that this is not made clear in t

[2017-12-07 15:40] marinofaggiana commented on #6925
@rullzer news here ?

[2017-12-07 17:05] steadybright commented on #7384
@Zeppmann, thank you for you helpful, constructive post.  I ended up rolling back my system to 12/1/17, set pacman to ignore PHP updates for the time being, and all is well again.  Like you, I found that php and php-gd were the two packages in conflict.

[2017-12-07 18:35] thebeline commented on #7380
Same here, fresh install of NextCloud and PHP7.1 yesterday, and it's really flooding in.  Not sure how dangerous it is, but considering I do not have opcacheing on at the moment, I am getting a deluge of these...

[2017-12-07 18:59] In-eX opened #7420 "S3 storage has folder size "pending""
### Steps to reproduce
1. Mount an S3 bucket
2. Upload Data via Windows client

### Expected behaviour
The correct folder size should be displayed.

### Actual behaviour
Folder size says "pending" on all levels in the file structure.

![image](https://user-images.githubusercontent.com/5969369/33733126-005e1d72-db89-11e7-860f-23e65c2dca94.png)

![image](https://user-images.githubusercontent.com/596

[2017-12-07 19:49] alexw65500 opened #7421 "SMTP mail with starttls not working if mail server is not supporting TLS1"
### Steps to reproduce
1. configure Nextcloud to send mail encrypted via SMTP/StartTLS
2. Make sure mail server is NOT offering TLS1 (e.g. TLS1.2 only)
3. Try to send any mail, e.g. by pressing the Mail test button in setup

### Expected behaviour
Mail can be sent with TLS1.2

### Actual behaviour
Mail is not send / mail test fails if mail server is not offering TLS1.

### Description
This is a kn

[2017-12-07 20:17] sasquatch989 commented on #3632
I am having the same issue.  Users with FreeIPA 2fa enabled are not able to log in.

[2017-12-07 21:22] frisi opened #7422 "Favicon in theme not used"
currently it is not possible to replace the favicon in a custom theme just by putting it into
themes/mytheme/core/img/favicon.ico

### Steps to reproduce
1. activate example theme in config.php
2. open nextcloud webinterface in a browser
3. show page source

### Expected behaviour

favicon should be fetched from the activated theme:

[code]

### Actual behaviour

the default nextcloud favicon is f

[2017-12-07 21:37] frisi commented on #6672
computing the favicon out of a logo won't work in most cases (too much details)

:+1: for having a separate favicon or the possibility to additionally activate a filesystem theme and overwrite the different favicons (currently favicon-touch.png and favicon-mask.svg are used in 12.0.3) there.

[2017-12-07 21:41] frisi commented on #7422
also reported by @io-node in https://github.com/nextcloud/server/issues/5036#issuecomment-303351282

[2017-12-07 21:54] frisi commented on #7422
@Gomez any idea what's the problem here?

when i enable the theming app, the favicon is taken from the default theme
[code]
instead of /apps/theming (https://github.com/nextcloud/server/issues/5036#issuecomment-303357444)
[code]

[2017-12-08 04:02] tacruc opened #7423 "Cannot modify header information - headers already sent"
Not shure if the error is Produced by the server or by passman.

### Steps to reproduce
1. visit your nextcloud

### Expected behaviour
Not placing this error in the log.

### Actual behaviour
Producing the error

## Server configuration detail

**Operating system:** Linux 4.9.0-3-amd64 #1 SMP Debian 4.9.30-2+deb9u3 (2017-08-06) x86_64

**Webserver:** Apache/2.4.27 (Debian) (apache2handler)

**Dat

[2017-12-08 04:28] sunjam commented on #7401
Allowing clients to optionally set their own custom color from a hex color wheel would be ideal.  This is also exactly what is already done for the background color itself.

[2017-12-08 07:05] reneglauser commented on #7344
@jasonbayton I just accessed the link again this morning at 08.05 and got again the 503 error...

[2017-12-08 08:04] MorrisJobke commented on #7416
As this is the gallery app, could I ask you to open this ticket in the gallery bug tracker: https://github.com/nextcloud/gallery/issues

Thanks

[2017-12-08 08:04] #7416 closed

[2017-12-08 08:30] MorrisJobke opened #7424 "Allow to set language in the user management"
* as an admin it would be nice to set the language of a user in the user management

[2017-12-08 08:32] MorrisJobke commented on #7162
A nice thing with this would be that it would also allow to specify the display name out of the box.

[2017-12-08 08:35] skjnldsv commented on #7162
I will do it for 14! :)

[2017-12-08 08:38] MorrisJobke commented on #7162
We maybe should also overhaul how the user management is implemented in JS - because this is quite a mess nowadays :/

[2017-12-08 08:40] skjnldsv commented on #7162
Do you suggest we drop the js? Or rebuild it?

[2017-12-08 08:55] tacruc commented on #7423
Is actually a bug in Passman.
Created a PR to fix it
https://github.com/nextcloud/passman/pull/415

[2017-12-08 08:55] #7423 closed

[2017-12-08 09:18] MorrisJobke commented on #7162
Look at how it works now, because there were quite a lot bugs with it and if we touch it that much, we can also check how to work on those bugs.

[2017-12-08 10:56] tkuther commented on #7384
No need to uninstall php from core or edit/rebuild nextcloud.

Installing php70 from AUR is enough as it has a provides for php=7.0.25 which makes the nexcloud package happy. Then update webserver config accordingly to use the right php70-fpm backend (or php module)

[2017-12-08 11:29] BornToBeRoot opened #7428 "NC12.0.4 - Sharing dialog leaks data with LDAP backend"
Sharing dialog leaks data with LDAP backend.

### Steps to reproduce
1. Create some test users (local and in active directory)

![image](https://user-images.githubusercontent.com/16019165/33763403-af0a3ee6-dc10-11e7-90e7-1e5e86efdd95.png)

2. Logon with "Test321"-User

![image](https://user-images.githubusercontent.com/16019165/33763473-e8a2317c-dc10-11e7-9b40-eed506117271.png)

3. Open share dial

[2017-12-08 11:33] BornToBeRoot commented on #7428
#5107

@jimbowarrior you have the same behavior?

[2017-12-08 12:11] ajeoc opened #7429 "Option to Dissallow Group Admins changing Quota"
Please add the ability of the Admin to decide disallow Group Admins changing the Quota.

e.g. Add a line with checkbox under Settings: <checkbox> Group Admins can change Quota value
Group Admins see the Quota drop-down menu greyed out.

Only the Admin and Users in his group should be able to set quotas, which can't be changed by Group Admins.

[2017-12-08 13:24] cklabautermann opened #7430 "NC12.03 LDAP username changed from user to user_1234"
Hello project members,
till today I have had no problem with nextcloud at all. Thank you very much for this wonderful project.

Today however a user tells me that they received a quota notification to use more than **886%** of their quota (!).

looking deeper into it I saw that

### Actual behaviour
- the affected user comes from ldap (Active directory group import)
- the username in NC adminweb c

[2017-12-08 13:48] ToggoStar commented on #6990
I have the same issue as well - everything works as expected in Firefox, but in Chrome the toggle resets itself almost immediately. In additon, the same problem affects the password checkbox to protect the link with a password: The checkbox is automatically checked and cannot be unchecked in Chrome.

[2017-12-08 14:33] #7386 closed

[2017-12-08 14:56] Salzi commented on #1257
The solution from @tavinus works still with nextcloud 12.0.4 but the integrity test for that file fails. Which is a bit annoying

[2017-12-08 16:31] MorrisJobke commented on #7428
cc @nextcloud/ldap @nextcloud/sharing

[2017-12-08 16:32] MorrisJobke commented on #7430
cc @nextcloud/ldap

[2017-12-08 19:32] Tsuroerusu commented on #7380
This seems to be a bug in PHP 7.1.12 and not in Nextcloud:
https://bugs.php.net/bug.php?id=75570
https://bugs.php.net/bug.php?id=75608

Looking at the changelogs for PHP itself, this shoud be fixed in 7.1.13 which comes out in January:
"- Opcache:
  . Fixed bug #75608 ("Narrowing occurred during type inference" error).
    (Laruence, Dmitry)
  . Fixed bug #75570 ("Narrowing occurred during type in

[2017-12-08 20:02] danielgauss opened #7432 "Owncloud migration fails with postgresql"
### Steps to reproduce
1. Currently running owncloud 10.0.3/postgresql 9.6.6
2. Perform manual upgrade via occ with nextcloud 12.0.4

### Expected behaviour
Ready-to-run nextcloud installation

### Actual behaviour
Upgrade/Migration fails, leaves DB in unusable state.
[code]

### Server configuration

**Operating system**: Gentoo Linux

**Web server:** Apache2.4.27

**Database:** Postgresql 9.6.6

[2017-12-08 21:02] jimbowarrior commented on #7428
I have the same issue, into search contacts field privacy is respected. I can show only users in my group.
Into shared section, when I click on "sharing" I can see all users and share with users not in my group.
And yes, I marked "Restrict users to only share with users in their groups"
But ! in a nextcloud 12 fresh install upgraded to 12.0.3 and 12.0.4 I have no issue.
I have this issue in anothe

[2017-12-08 21:35] enoch85 commented on #7309
https://github.com/nextcloud/server/issues/7432 Related?

[2017-12-08 22:49] #7158 closed

[2017-12-08 23:12] acao commented on #7380
FYI, we had this bug in another PHP application I was working on, and reverting to 7.1.11 worked as well, if that's an option.

[2017-12-09 01:03] bensocket opened #7434 "Update Failure"
Update to 12.0.3

Doctrine\DBAL\Exception\InvalidFieldNameException: An exception occurred while executing 'SELECT min_value, increment_by FROM "oc_storages_numeric_id_seq"': SQLSTATE[42703]: Undefined column: 7 ERROR: column "min_value" does not exist LINE 1: SELECT min_value, increment_by FROM "oc_storages_numeric_id_... ^
Detailed logs
Preparing update
Set log level to debug
Turned on maintenan

[2017-12-09 01:52] tx7 commented on #6160
I have same error on v12.0.4

`Doctrine\DBAL\Exception\UniqueConstraintViolationException: An exception occurred while executing 'INSERT INTO `oc_filecache` (`mimepart`,`mimetype`,`mtime`,`size`,`etag`,`storage_mtime`,`permissions`,`parent`,`checksum`,`path_hash`,`path`,`name`,`storage`) SELECT ?,?,?,?,?,?,?,?,?,?,?,?,? FROM `oc_filecache` WHERE `storage` = ? AND `path_hash` = ? HAVING COUNT(*) =

[2017-12-09 03:45] abcbuzhiming commented on #7434
I hava same issue when I want to update 12.0.3 to 12.0.4。After testing, I found this issue only display on database postgresql；If I Use MySQL，this issue does not display

[2017-12-09 04:00] mlncn commented on #2063
Another +1.  For what is to be a group account, I looked for a way to share the whole darn files section.  Not finding a way to do that, i shared "Documents" and "Photos" figuring everything would fall into those categories.  I was unpleasantly surprised that they showed up in everyone's Nextcloud folders as "Documents" and "Photos" rather than being within another folder representing the account

[2017-12-09 05:35] abcbuzhiming commented on #7434
Added: The reason of this, because the SEQUENCE name "oc_storages_numeric_id_seq" does not have min_value, increment_by

[2017-12-09 10:00] pierreozoux commented on #5694
Would we need some kind of equivalent logic:
https://github.com/nextcloud/server/blob/master/apps/dav/lib/Connector/Sabre/Auth.php#L172-L204

[2017-12-09 10:32] frogueat opened #7435 "Feature-Request: Linking "Objects" together"
### Steps to reproduce
1. Edit some object and reference an other ...

### Expected behaviour
It would be great to have the posibility to link Objects together. E.g. to reference in a calendar-item a file, a user, a note, a task or something else. Therefor a **notation** would be necessary - like in confluence or here on github ... Something like @[instanceuri->]class:name. E.g. referencing a file

[2017-12-09 10:54] MrManor commented on #4103
As a workaround: Could the Desktop client somehow detect that it is not allowed to access any content in a folder - and then automatically remove sync flag for this folder?

[2017-12-09 11:15] tflidd commented on #7421
Perhaps a good idea to let them know?

[2017-12-09 12:37] palto42 opened #7436 "Nextcloud 12.0.4 integrity check fails if base folder name is not "nextcloud""
The upgrade from 12.0.3 to 12.0.4 worked in principle, but after the upgrade an integrity check error was shown on the web interface. During the upgrade on CLI with "occ upgrade" there was no error shown.

After some testing I found that the issue is caused by a non-standard base folder name. My Nextcloud installation was in the folder "cloud" instead of standard "nextcloud".
After changing the fo

[2017-12-09 12:43] Jilco commented on #7380
Same here, workaround:
https://stackoverflow.com/questions/47656426/magento-2-2-1-unable-to-save-product-error-narrowing-occurred-during-type-infe

[2017-12-09 12:52] janumix opened #7437 "13beta1 and beta3 Connot access external storege (local USB HDD)"
### Steps to reproduce
1. Set up local HDD in External storage (or try to use already configured before upgrade to 13b1)
2. Try click on Files->(ExtHDD) - nothing happens.

### Expected behaviour
Just access ExtHDD

### Actual behaviour
When you click on ExtHDD nothing happens

### Server configuration

**Operating system**:

**Web server:**

**Database:**

**PHP version:**

**Nextcloud version:**

[2017-12-09 13:14] Rotzbua commented on #7421
The fix has to work, I use this code of line in other projects and it is the supposed solution in https://secure.php.net/manual/en/function.stream-socket-enable-crypto.php#119122 .

The fix uses a concatenation of tls1.0 tls1.1 and tls1.2. In background openssl do the work and normally uses the highest available tls version.

Maybe there is some missconfig by alexw65500... The easiest way to check

[2017-12-09 20:00] tacruc commented on #7310
The Base functions are ready and working. Now I would have to conntinue with a setup procedure (generating server keys automatical) and the Interface.
@schiessle Would you mind having a look on the code and giving some feedback?

[2017-12-09 20:52] mschoenebeck commented on #375
I'm also interested in this feature. I want it so bad that I think about trying to implement it on my own based on encfs. Would it make sense to implement this functionality as an app for nextcloud?

[2017-12-09 23:34] Varbin commented on #7400
I can also reproduce.

Difference to reports above:
 - Web server: h2o
 - Operation system: Debian 9
 - Fresh install

My ldap server is OpenLDAP's slapd.

[2017-12-09 23:53] Varbin commented on #7400
The function throwing the error is `convertObjectGUID2Str($oguid)`.

[2017-12-10 09:15] buoyantair commented on #4345
Hello, is this issue still open?

[2017-12-10 09:33] MorrisJobke commented on #4345
Yes it is - see the status in the header:

![bildschirmfoto 2017-12-10 um 10 33 06](https://user-images.githubusercontent.com/245432/33803682-8d42e2be-dd95-11e7-8f23-230acb3ff4e5.png)

[2017-12-10 09:44] MorrisJobke commented on #7436
This looks like you put the whole release additionally into the subfolder "nextcloud" in you nextcloud root directory where also the apps folder and config folder is located for example. You should not have a copy of the whole code there. Just remove it and retrigger the scan. That is also the reason, why it says "EXTRA_FILE".

[2017-12-10 09:48] palto42 commented on #7436
No, there is no extra subfolder "nextcloud" and I faced no such issue in previous upgrades (I'm using Nextcloud/Ownloud since years).
My folder structure which causes the issue is simply `/var/www/cloud/`
If I rename it to `/var/www/nextcloud`, then the integrity check works.

[2017-12-10 09:55] Spartachetto commented on #7435
I think this is related to **Link tags to other objects** #4850.

Actually Nextcloud could have both the possibility of linking tags to other objects (as defined in #4850) and linking objects together (as define here)

[2017-12-10 10:04] mind22 opened #7438 "NC 13 Beta 1 occ repair error"
### Steps to reproduce
1. use occ maintenance:repair in the terminal

### Expected behaviour
repairing :)

### Actual behaviour
Exception throw

**Error message**
<details>
An unhandled exception has been thrown:
Error: Call to a member function isEnabledForUser() on null in /var/www/nextcloud/core/Command/Maintenance/Repair.php:89

Stack trace:
#0 /var/www/nextcloud/3rdparty/symfony/console/Comma

[2017-12-10 13:26] 9662 opened #7439 "Failed upgrade from 12.0.4 → 13.0.0.6"
### Steps to reproduce
1. Upgraded via web interface from 12.0.4 to 13.0.0.6 (13.0.0 Beta 1)
2. On install finished, clicked on "switch maintenance mode off" option to continue with web upgrade

### Expected behaviour
Upgrade should complete and user gets taken back to Nextcloud UI

### Actual behaviour
HTTP 503. The server log shows:
[code]

### Server configuration

**Operating system**: openSUS

[2017-12-10 14:51] tflidd commented on #7438
Duplicate of https://github.com/nextcloud/server/issues/7309 ?

[2017-12-10 14:58] mind22 commented on #7438
Ah yes you are right, seems to be the same. Then iam gonna close this here.

[2017-12-10 14:58] #7438 closed

[2017-12-10 15:05] tflidd commented on #7309
Seems not to be related to pgsql: https://github.com/nextcloud/server/issues/7438

[2017-12-10 15:28] enoch85 commented on #7309
Thanks for pointing that out @tflidd.

[2017-12-10 16:08] Leicas opened #7440 "Everything is slow when php is restarted or an apps activated since update 12.0.4"
### Steps to reproduce
1. Restart Php-fpm or install an app.

### Expected behaviour
Nextcloud should work at normal speed.

### Actual behaviour
Everything is very slow. I takes 1minute to display a page. After some time (30min to 2hour) everything is back at full speed.

## Server configuration detail

**Operating system:** Linux 4.13.4-1-pve #1 SMP PVE 4.13.4-26 (Mon, 6 Nov 2017 11:23:55 +0100)

[2017-12-10 16:19] MrHat2010 commented on #7434
@abcbuzhiming Did you find a solution for this?

[2017-12-10 17:46] bpcurse commented on #7132
Sorry, I did not manage to contact them due to my workload.
But I just updated to NC 12.0.4 from 12.0.3 and that solves the problem :)

[2017-12-10 17:48] j-ed opened #7441 "automatic color adjustments should take place based on the selected theme color"
## Expected behavior
Depending on the selected theme color the notification alert color, and maybe others, should automatically be adjusted to be still visible.

## Current behavior
No automatic color adjustments seems to take place at all.

### Steps to reproduce
1. Open the admin settings.
2. Change the theming color to `FF0000`.
   ![20171210_nc_theming_color](https://user-images.githubusercont

[2017-12-10 18:09] j-ed opened #7442 "NC12.0.4 - undefined index in UpdateChecker.php"
## Expected behavior
No errors should belogged.

## Current behavior
The following errors were logged after upgrading from v12.0.3 to v12.0.4:
[code]
### Steps to reproduce
1. Upgrade to v12,0.4 and check the log file.

## Environment
#### Server Configuration
OS: Linux 3.16.50
Web server: Apache2 2.4.29
Database: MariaDB 10.0.32
PHP version: 5.6.29
Nextcloud version: 12.0.4

#### Client Configura

[2017-12-10 18:19] j-ed commented on #6160
I realized the same error on v12.0.4.
Linux v,3.16.50, Apache2 2.4.29, PHP 5.6.29, MariaDB 10.0.32:
[code]

[2017-12-10 19:49] arjanvs commented on #7069
If I read the other issue correct google drive only works from admin pane and not user, right? This is a Google feature, right?

[2017-12-10 21:12] PrinceCharles23 commented on #7132
NC?
well, i guess it will be fixed in the next version without us ever knowing what it was. will have to wait for that...

[2017-12-10 21:50] mdeweerd commented on #6532
I upgraded to OC 10.0.3.3 and tried migration to NC 12.0.4.
No success.

This is in the updater.log:

[code]

[2017-12-10 22:15] tflidd opened #7443 "Show more information on webinterface why app can't be enabled"
### Steps to reproduce
1. Try to install app, download source
2. Go to apps page, enable button is not active

### Expected behaviour
When I try to enable the app via occ, it shows me that I'm missing some dependencies (in case of the news app it was the library iconv.

### Actual behaviour
The enable button is just grey and can't be activated.

### Server configuration

**Operating system**: Free

[2017-12-10 23:27] noplanman commented on #5516
Any progress on this? Running into this too...

[2017-12-11 00:48] SeeSpotRun commented on #7384
Thanks @tkuther.

I noticed [nextcloud-git](https://aur.archlinux.org/packages/nextcloud-git/) (13.0.0beta1) in the AUR - I guess this is another workaround although I confess I took your option.

[2017-12-11 00:50] azuledu opened #7444 "Quota 0 issues: Avatar and AudioPlayer scan"
In Nextcloud 12.0.4, there are several problems selecting "Couta 0 B" in users options:
- Avatars: it is not possible to upload a profile picture. A "Invalid image" error is shown.
- AudioPlayer: It is not possible to scan music files. It found 0 files.

I think that maybe the problem it is related with the "cache" directory on every user directory. Both apps (AudioPlayer and avatars) need to writ

[2017-12-11 02:31] tavinus commented on #1257
Since following symlinks already work, all that is needed is a way to set the symlink flag at runtime through configuration.

That is the easy part, just need setter/getter for the `$Local->allowSymlinks` property and a way to configure it (config.php or admin/storage page).

All of that is still kind of easy, even though I didn't notice anyone making a PR for it.

I am guessing that the reason no

[2017-12-11 09:40] blizzz opened #7445 "Avoid unconditional loginName2UserName in UserManager::getUserObject"
Apparently it was once introduced to fix a bug when resetting the password (typical for local users). However, this is attempted in every call for the user object, and in case of LDAP leading to an additional lookup using the internally used name to the LDAP server.

Proposed solution:

1. write a test to resest password with different case loginname
2a. throw the preLoginNameUsedAsUserName Hook i

[2017-12-11 09:45] cklabautermann commented on #7430
further information:
shared folders and permissions disappeared as well for affected accounts :-(

[2017-12-11 10:15] frisi commented on #7422
updated from 12.0.3 to 12.0.4 today and still the wrong favicon is used.
hint: when sharing a file/folder via link and accessing this link, the favicon of the theme is used.

[2017-12-11 10:16] blizzz commented on #7430
nah, the user name does not change, but a different user was created. the suffix was appended, because to avoid a collision with an  existing username.

The underlying reason is that the login of the user yielded a different LDAP record than originally. Typically, users are identified by the LDAP DN, and the detection of changed DNs relies on the UUID value (or if it is overridden).

[2017-12-11 10:17] blizzz commented on #6532
@mdeweerd please create a new issue

[2017-12-11 10:25] janisppc commented on #6990
I have the same problem in two separate Nextcloud installations - NC 12.0.3 and 12.0.4, Chromium 62.0.3202.94 on Ubuntu. You no longer can create "unshared" folders or files after you have clicked the sharing checkbox for one. Newly created ones are automatically shared and re-shared if you try to uncheck the box.

[2017-12-11 10:26] blizzz commented on #7428
Privacy issues with the contactsmenu were fixed in 12.0.4 with https://github.com/nextcloud/server/pull/6554

[2017-12-11 10:54] hstinux opened #7446 "Update 12.0.3 12.0.4 SQLSTATE[23000] :Integrity constraint violation"
### Steps to reproduce
1. try to update form versin 12.0.3 to 12.0.4
2. web updater
3. ./occ upgrade
both ends up with the error below

### Expected behaviour
Doctrine\DBAL\Exception\NotNullConstraintViolationException: An exception occurred while executing 'INSERT INTO oc_news_items (id, guid_hash, fingerprint, content_hash, rtl, search_index, guid, url, title, author, pub_date, updated_date, bod

[2017-12-11 11:01] klada commented on #6160
Hi,

I have the very same issue on Nextcloud v12.0.4. For me it happens after `DELETE` statements in heavy-load situations (e.g. multiple clients accessing/deleting the same file). Apache log of the relevant file:

[code]

And this is the anonymized output of the relevant Nextcloud log:

[code]

It looks like the file `filename.o` had been deleted correctly and on the second  `DELETE` the exceptio

[2017-12-11 11:09] juliushaertl commented on #7408
I thought that was already fixed some time ago, let me check what's wrong there.

[2017-12-11 11:10] GiantCrocodile opened #7447 "Web Updater is showing next step as succeeded although it wasn't before"
### Steps to reproduce
1. Run Updater to update from v12.0.3 to v12.0.4
2. It fails at step creating backup with a timeout
3. I disabled maintenance mode via shell console and command `sudo -u nginx php occ maintenance:mode --off` and ran updater again

This time the backup step was done and it failed at extracting. After trying it again (maintenance mode wasn't enabled) it went ahead and finished

[2017-12-11 11:12] juliushaertl commented on #6375
@jancborchardt Does this issue still exist for you on master?

[2017-12-11 11:19] cklabautermann commented on #7430
sorry, but nack. neither UUID nor sth. else changed on these accounts. @blizzz I have overriden the default DN to rely on the sAMAccountname which didn´t change either.

By the way - the user seems to be a different/new one regarding their shares and permissions but they have their old directories. This behaviour is not consistent.

Can you help me to

1. fix the actual problem
2. prevent the prob

[2017-12-11 11:25] blizzz commented on #7430
@cklabautermann can you check and post the ldap_user_mappings table, where owncloud_name like "user%"?

[2017-12-11 11:45] cklabautermann commented on #7430
@blizzz here you are:
+-------------------------------------------------------------------------------------------+---------------+--------------------------------------+
| ldap_dn                                                                                   | owncloud_name | directory_uuid                       |
+-------------------------------------------------------------------------------

[2017-12-11 11:49] asuweb opened #7448 "Allow .well-known subdirectory and files to bypass file integrity checker"
### Steps to reproduce
1. Setup nextcloud in root directory
2. Install letsencrypt certificate using cert-bot
3. Visit nextcloud as administrator

### Expected behaviour
No file integrity warning, no prevention of automated upgrade due to file integrity

### Actual behaviour
File integrity warnings generated due to presence of .well-known directory and contents required for letsencrypt cert-bot ve

[2017-12-11 12:13] Salzi commented on #1257
@tavinus The technical side is just one thing. The other is that the nextcloud devs doesn't want such a feature. Why should someone invest time to develop (and test!) such a feature if it wouldn't be accepted in the end. As long as no nextcould dev admit to this it makes no sense.

[2017-12-11 12:16] cklabautermann commented on #7430
@blizzz it seems as if nextcloud created a new object due to movement of the user object within ldap.
this should not have happened if nextcloud ldap relies on UUID (or in my case sAMAccountname).

[2017-12-11 12:20] blizzz commented on #7430
@cklabautermann yes, and the movement was not recognized, beacuse the UUID attribute was changed in production:

→ go maintenance mode
→ do a backup
→ update original rows with the up-to-date DN and UUID value
→ remove the _1234-like rows
→ if applicable, clear $memcache
→ turn off maintenance mode

[2017-12-11 12:31] cklabautermann commented on #7430
@blizzz but how can this happen at all? Even if the UUID of a user changed I still have configured the sAMAccountname to be my primal identifier. If I follow the steps recommended by you I am not safe to suffer the same thing again.......?
![useridentifier](https://user-images.githubusercontent.com/25175654/33831218-77ccca8e-de77-11e7-87aa-0966f091ac6b.png)

[2017-12-11 12:35] MorrisJobke commented on #7441
@nextcloud/designers @nextcloud/theming I guess that is as of now not easily possible, right?

[2017-12-11 12:39] MorrisJobke commented on #7405
cc @nextcloud/designers

We collapse this automatically once a given width is reached. Looks like your window is a bit wider. Still I don't know if it makes sense to collapse it earlier. 🤔

[2017-12-11 13:37] jospoortvliet commented on #6532
@blizzz @mdeweerd see here https://github.com/nextcloud/owncloud-web-migrator/issues/7
I don't think the problem is in the core but in the updater or updater-server. I've tried to find where the available update/upgrades are defined but couldn't find it 😢

[2017-12-11 14:10] MorrisJobke commented on #7448
Best way to handle this is to map this in your web servers config to a different directory. We had in the past problems with random files/folders being present in the Nextcloud directory causing it weird bugs. That's the reason why we do not allow that in the whitelist.

[2017-12-11 14:10] #7448 closed

[2017-12-11 14:11] MorrisJobke commented on #7435
cc @karlitschek

[2017-12-11 14:12] MorrisJobke commented on #7443
Duplicate of #4581

[2017-12-11 14:12] #7443 closed

[2017-12-11 14:14] MorrisJobke commented on #7434
Duplicate of #5930

[2017-12-11 14:14] #7434 closed

[2017-12-11 14:15] MorrisJobke commented on #5930
@icewind1991 Could you have a look at this and apply the patch to our 3rdparty repo?

[2017-12-11 14:30] karlitschek commented on #7435
I agree that this would be a great feature. Especially for collaboration. The challenge is probably the right user interface for this

[2017-12-11 15:38] rullzer commented on #7428
@blizzz yes the contacts menu seems to play nice but the sharee auto completion not...

[2017-12-11 16:21] jospoortvliet commented on #6841
Well, the use case I think is clear: you create a public link and want it to go away once the recipient has downloaded the file, without having to go and check up with that person.

Some thoughts:
* We show an Activities thing when a file is downloaded. This doesn't trigger on preview generation does it? Perhaps the same thing that triggers the Activity can trigger the removal of the shared link.

[2017-12-11 16:42] icewind1991 commented on #5930
https://github.com/nextcloud/server/pull/7210 adds pg10 support for nc13

[2017-12-11 17:00] nalt opened #7452 "Folder deleted when renaming on a case-insensitive filesystem"
### Steps to reproduce
1. Server storage resides on a cifs/smb mount. The filesystem is case-insensitive.
2. On the client, create a folder "a", put a file, wait to sync
3. Rename the folder to "A"

### Expected behaviour
Folder "a" should be renamed to "A"

### Actual behaviour
The folder "a" is completely deleted, all files are gone!

### Server configuration

**Operating system**: Ubuntu / offi

[2017-12-11 17:06] MorrisJobke commented on #7452
cc @icewind1991

[2017-12-11 17:16] #6621 closed

[2017-12-11 17:24] jimbowarrior commented on #7428
exactly !!!

[2017-12-11 17:56] sunjam commented on #7405
I'm actually thinking about just grabbing it and adjusting the width to
right or left by drag and drop.  Collapsing the menu would be interesting
(perhaps if fully dragged to the left).

On Mon, Dec 11, 2017 at 4:39 AM, Morris Jobke <notifications@github.com>
wrote:

[2017-12-11 18:01] BornToBeRoot commented on #7428
I would say it leaks only ldap users in share dialog. But i can check this tomorrow at work...

[2017-12-11 18:05] mdeweerd commented on #6532
I decided to upgrade from the CLI which worked.

[2017-12-11 18:31] skjnldsv commented on #7405
I don't get what is this issue about! 🙈🤔

[2017-12-11 20:00] danxuliu opened #7454 "Nextcloud 13 expects FreeType support to be enabled in PHP GD"
Since #6876 the system running Nextcloud should have FreeType support enabled in PHP GD; otherwise [`imagettfbbox`](https://github.com/nextcloud/server/blob/66f523e13ff98aef8cdca9f449df7353dcf60da7/lib/private/Avatar.php#L252) and [`imagettftext`](https://github.com/nextcloud/server/blob/66f523e13ff98aef8cdca9f449df7353dcf60da7/lib/private/Avatar.php#L258) would not be available (as explained in [

[2017-12-11 20:58] skjnldsv commented on #7405
The vertical spacing to avoid the scrollbar?

[2017-12-11 21:01] jancborchardt commented on #7379
Sorry but this interferes with both the main flow, and with what people are used from web apps. Double-click is relegated from the primary action (opening) to secondary action (zoom in picture or maps apps, or liking on Instagram – and that only on touch devices). Single click always needs to be opening the folder or file, as it also is for navigation elements.

Double click we should not use at a

[2017-12-11 21:19] juliushaertl commented on #7441
I guess the issue is not only #ff0000 but also other red color values as well, so we need a wider check for that.

@j-ed That issue should be addressed in the notifications app. Can you please open the issue at https://github.com/nextcloud/notifications

[2017-12-11 21:19] #7441 closed

[2017-12-11 22:22] JMBokhorst commented on #3777
I have the exact same issue. One of the users password is lost, in a attempt to reset the password through the admin panel nothing seems to happen. The user has not set an e-mailadres so I cannot send a recovery e-mail (although I tried to set this in the database).

Error log is empty of the nextcloud log (with log_level 0), apache error log or syslog.
Safari gives me the following errors:

- Ref

[2017-12-11 22:38] plrunner commented on #6865
+1

[2017-12-11 22:48] jancborchardt commented on #7408
This is because `filter` as we use is not compatible with IE11 as discussed in https://github.com/nextcloud/server/issues/5593, right? I checked around and saw this [blog post](http://www.cssjunction.com/plugins/css3-filter-invert-support-in-internet-explorer-10/) which refers to this jQuery plugin to make it work for IE11 and IE 10: https://shekhardesigner.github.io/InvertImages/

@juliushaertl b

[2017-12-11 22:50] jancborchardt commented on #6375
@juliushaertl yep it does, basically still as in the screenshots. Can no one reproduce @nextcloud/designers?

[2017-12-11 22:56] jancborchardt commented on #7405
@sunjam the left navigation is standardized across all components and apps and to have the same width everywhere so you can always expect the content to be in the same place. It might add a bit of whitespace, but also nicely visually separates the navigation from content.

[2017-12-11 22:56] #7405 closed

[2017-12-11 23:21] sunjam commented on #7405
@jancborchardt The menu actually doesn't look good on my thinkpad at 1366x768.  That is why I opened the issue.  I appreciate the follow up, but to be clear... the window is larger than my maximum resolution and is therefore not easy to navigate.  I have to shrink the font very, very small in order to see all of the admin settings in the external storage menu.

[2017-12-11 23:37] #7337 closed

[2017-12-11 23:38] #7336 closed

[2017-12-12 01:23] bpcurse commented on #7132
NC = Nextcloud (the stable branch).
Good point, I will try to avoid abbreviations next time.

[2017-12-12 04:22] skjnldsv commented on #7405
@sunjam could you post a full screenshot?
Are you talking about width or height?

[2017-12-12 04:29] skjnldsv commented on #7408
Not fond of the jquery plugin.
We could use svg filters https://jsfiddle.net/g97e26pa/180/

[2017-12-12 07:10] MorrisJobke commented on #7408
I would also use only a minimal approach - if we have sag filters that only apply to IE -> perfect.

[2017-12-12 07:11] MorrisJobke commented on #6375
Looks good here:

<img width="447" alt="bildschirmfoto 2017-12-12 um 08 11 31" src="https://user-images.githubusercontent.com/245432/33871740-181ef75e-df14-11e7-8aad-8d0d94b56838.png">

[2017-12-12 07:13] MorrisJobke commented on #7379
Makes sense. I would close this here for now and have a look once the two issues that @jancborchardt mentioned are fixed. 👍

[2017-12-12 07:13] #7379 closed

[2017-12-12 07:29] #3003 closed

[2017-12-12 07:56] jaltek commented on #7384
You could also try to downgrade your PHP versions by using the old packages in your local cache (if still existent):

`/var/cache/pacman/pkg`

Or you can simply downgrade the packages by using the [Arch Archive](https://wiki.archlinux.org/index.php/Arch_Linux_Archive):

https://archive.archlinux.org/packages/p/
https://wiki.archlinux.org/index.php/downgrading_packages

As @tkuther already mentione

[2017-12-12 08:16] pixelipo commented on #6375
I was able to reproduce it on master until recently. Looks good since a couple of weeks.

[2017-12-12 08:35] pixelipo commented on #7408
plugin mentioned by @jancborchardt does exactly that, @skjnldsv @MorrisJobke :) It applies SVG filter to SVG icons in IE, while "falling back" to default CSS3 filters for other browsers (Firefox, Chrome, Edge).

There's no way we can implement SVG filters selectively without JS. In addition, this solution doesn't mean that we have to apply filters directly inside SVG files (which would cause them

[2017-12-12 08:45] pixelipo commented on #7408
[Code](https://github.com/shekhardesigner/InvertImages/blob/master/jquery.invertImages.js) in that plugin is quite simple and less than 2 kB  minimized. We could also work out our own, simplified method and add it straight into our JS code (so that we don't have to worry about source)

[2017-12-12 09:02] HLFH commented on #7384
The question is: using PHP 7.2, can we upgrade to NC13 from N12, with ./occ command ?
It does not seem to work. Or is there a git method? I don't like downgrades.

[2017-12-12 09:12] ChristophWurst commented on #7306
I've updated the original ticket description with my findings. While I do not know an immediate solution, I'd like to keep this open if case anybody else experiences this. This *should* be fixed a some point.

[2017-12-12 09:14] MorrisJobke commented on #4589
Let's move this to 14. 13 is already stuffed with a lot of new things.

[2017-12-12 09:15] blizzz commented on #7428
@rullzer why, that sounds something broke in file_sharing's sharee endpoint. Which is surprising, since sharing actually brought in those settings. I refactored it, but only for 13.  Best guess without looking deeper: side effect of #5428?

[2017-12-12 09:16] MorrisJobke commented on #4964
Since some time it is working again for me fine. I will close this for now.

[2017-12-12 09:16] #4964 closed

[2017-12-12 09:17] blizzz commented on #7430
@cklabautermann the UUID is fetched and stored when the user is read for the first time from LDAP.

[2017-12-12 09:18] hillebr opened #7459 "Resolution of login screen picture"
Nextcloud version (eg, 10.0.2): 12.0.4
Operating system and version (eg, Ubuntu 16.04): Debian 9
Apache or nginx version (eg, Apache 2.4.25): Apache/2.4.25 (Debian)
PHP version (eg, 5.6): PHP 7.0.26-1~dotdeb+8.1 (cli) ( NTS )
Is this the first time you’ve seen this error?: no error
Can you reliably replicate it? (If so, please outline steps): load Login screen

The issue you are facing:
When using

[2017-12-12 09:18] cklabautermann commented on #7430
Anyone can help me understanding why my usernames changed although I took the sAMAccountname as the identifier for nextcloud users and they didn´t change at all? Please see settings in picture on entry above.

I would like to have a solution which fixes my problems and makes them stay away...

Thank you in advance.

[2017-12-12 09:18] MorrisJobke commented on #4827
As 13 is close to the release I will move this again - 14 it is now 🙈

[2017-12-12 09:19] MorrisJobke commented on #4773
@nextcloud/designers A small paper cut issue for the release polishing phase 😉

[2017-12-12 09:19] hillebr commented on #7459
from: juliushaertl Designer & app developer
11h

Yeah, we resize the image to 1920x1080 if I remember correctly, but we should support higher resolutions there. @Rene_Hillebrand please open an issue at the server repository on GitHub.

[2017-12-12 09:19] MorrisJobke commented on #4643
Move to 14

[2017-12-12 09:22] blizzz commented on #7430
@cklabautermann look, despite this not being a support portal I explained you how and why it happened and showed you a way to correct this in your case. While I agree this is not the best experienced, it works how it is documented. Therefore, I am closing this issue.

Of course you are free to discuss your problem and to proceed with it further on the forums https://help.nextcloud.com/

[2017-12-12 09:22] #7430 closed

[2017-12-12 09:26] MorrisJobke commented on #5750
Fixed by #6876

[2017-12-12 09:26] #5750 closed

[2017-12-12 09:34] cklabautermann commented on #7430
@blizzz thank you for your help.
However I think this problem is a real bug.
Of course I could follow your fix but the next time an existing user moves from one ou to another they would result in a new nextcloud account.
And I thought this is the right place to deal with bugs and issues.

[2017-12-12 09:35] jene commented on #7448
Setup:
nextcloud 12.0.4 installed on a managed server running plesk. There is no possibility to access or even change the web server config outside of .htaccess.

Cloud you recommend a way to change the location to an other directory? Is there the possibilty to write an app which will open add ^.well-known/acme-challenge/* to the whitelist?

Because having the security warning showing the whole ti

[2017-12-12 09:40] MorrisJobke commented on #7376
I guess this is because the layout is still with percentages instead of proper flex box or similar. So this is only a problem on wide screens. I guess we are only able to fix this by restructuring the whole sidebar. I will move this to 14 then, because it works and just needs to be polished a lot ;)

[2017-12-12 09:40] MorrisJobke commented on #7376
cc @nextcloud/designers

[2017-12-12 09:41] MorrisJobke commented on #7375
cc @nextcloud/designers @jospoortvliet  @karlitschek Opinions on this?

[2017-12-12 09:41] MorrisJobke commented on #7374
cc @nextcloud/designers @oparoz

[2017-12-12 09:42] MorrisJobke commented on #7373
Works for me - it looks like this was saved in a different place wrongly. Maybe in the admin settings? At least if I save it from the login panel directly it works without problems.

[2017-12-12 09:43] MorrisJobke commented on #7372
Fixed by #7177

[2017-12-12 09:43] #7372 closed

[2017-12-12 09:44] MorrisJobke commented on #7281
@nextcloud/designers Another polishing issue for the fixing phase of the 13 release.

[2017-12-12 09:46] MorrisJobke commented on #7270
How to see those avatars in the file list? I only have them in the "shared by/with you" sections.

[2017-12-12 09:48] nalt commented on #7452
Here is a minimal test case:

- Create case-insensitive filesystem, e.g. JFS with -O:
`dd if=/dev/zero of=disk bs=1M count=512`
`mkfs.jfs -O disk `
`mkdir ~/mnt-disk ; sudo mount disk ~/mnt-disk`
`sudo touch ~/mnt-disk/a`
`sudo touch ~/mnt-disk/A`
`sudo chown www-data ~/mnt-disk/`
You should see only file `a`
- Start Nextcloud
`docker run -p 8060:80 -v ~/mnt-disk:/var/www/html/data nextcloud`
- Se

[2017-12-12 09:51] juliushaertl commented on #7270
@MorrisJobke They appear on items that were shared with me by other users on beta1. Both on the shared folder as well as all files inside of the folder.

[2017-12-12 09:54] MorrisJobke commented on #7161
Fixed in the meanwhile.

[2017-12-12 09:54] #7161 closed

[2017-12-12 09:56] z3ntu commented on #7384
@jaltek I wouldn't use the Arch Linux Archive for downgrading php as there could be updated dependencies that could lead to linking conflicts. The php70 package from the AUR works for me (even though I had to re-do the php.ini in `/etc/php70`)

[2017-12-12 10:02] marbetschar opened #7460 "Nextcloud does wrongly encode the Slogan"
We are able to define a slogan in the theming section of Nextcloud. Unfortunately this is displayed wrong to new users due to encoding errors.

Also, you can already see it's a bit broken when you set the slogan to 'foo & bar', and then just reload the settings page. It does not display & and instead displays &amp; as the slogan.

<img width="1424" alt="1" src="https://user-images.githubuserconten

[2017-12-12 10:04] JGjorgji commented on #5930
Can we get this for nc12 as well? I had to rebuild a lot of containers to get it working.

[2017-12-12 10:05] MorrisJobke commented on #7007
@nextcloud/designers This is still an issue 😢

[2017-12-12 10:06] MorrisJobke commented on #6821
@rullzer Ping

[2017-12-12 10:08] MorrisJobke commented on #6773
@icewind1991 @karlitschek What is the status here?

[2017-12-12 10:09] MorrisJobke commented on #6584
@schiessle If you are looking for an easy one ;)

[2017-12-12 10:18] MorrisJobke commented on #7460
Fix is in nextcloud/firstrunwizard#51

I don't get this. What is the actual problem here? Could you rephrase it?

[2017-12-12 10:18] MorrisJobke commented on #7459
cc @nextcloud/theming

[2017-12-12 10:22] marbetschar commented on #7460
@MorrisJobke thanks for the instant feedback. What I was trying to explain is:

If you enter `foo & bar` in the theme settings, save and refresh the page you'll notice there is a `foo &amp; bar` written in the input field. Probably due to the same encoding errors.

[2017-12-12 10:31] MorrisJobke commented on #5930
The problem is, that this is an upgrade of big part of a used library. So for now it looks like we will not be able to backport this to stable12 and only support Postgres 10 on Nextcloud 13+.

[2017-12-12 10:31] karlitschek commented on #7375
Not sure. I see the point that the page looks a bit empty. But Clients and Security don't really fit together. Is it possible to do it the other way around and add more useful information to the clients page? Explain what they do? How to configure? Calendar/Contacts? ...

[2017-12-12 10:36] MorrisJobke commented on #7373
Also similar to #6821 but in this case I think this is caused by an input field either in the user management or in the personal settings.

[2017-12-12 10:46] MorrisJobke commented on #7460
cc @nextcloud/theming

[2017-12-12 11:01] blizzz commented on #7430
No, that's not the case. The move will be detected. It was not detected in your case, because the UUID attribute was changed in production (i.e. with users already being mapped) and the old value, bound to another attribute, was assigned to the user.

[2017-12-12 11:05] blizzz commented on #7430
Yes, and it was totally OK to open it here, and while I agree it does not work most comfortable it works like "advertised". Also I acknowledge, there is room for improvement, but it's not broken.

[2017-12-12 11:17] Natanji commented on #7384
@HLFH Isn't the ./occ command run after you already updated the package/the Nextcloud files to NC13, which does support PHP 7.2? As in, you do run the NC13 occ update command, not the NC12 one because NC12 doesn't know anything about the changes to migrate to NC13.
I'd be surprised if it does not work, if it doesn't then that seems like an unrelated NC13 bug (since NC13, and thus its update routin

[2017-12-12 11:30] MorrisJobke commented on #7460
See comment by @blizzz and thus it needs more work.

----

Not convinced. ``getSlogan`` can be overridden  by themes, for instance, we cannot be sure it always arrives sanitized. I'd rather remove the sanitation in ThemingDefaults. Also, apparently there is also a double escaping in the Login Controller as of now:

[code]

Requires more changes however, but I feel more comfortable when it is sanit

[2017-12-12 11:32] #6821 closed

[2017-12-12 11:45] jaltek commented on #7384
From the Arch Wiki:

So - sure you can. But it will have for sure downsides and you have to take care of the dependencies. Depending on the modules you use the dependencies for php are manageable (IMHO).

Nevertheless - this is out of scope of the issue. Yes, it is an issue which has to be resolved but it's not the end of the world. If someone broke his NC installation because of this and really d

[2017-12-12 12:59] dachinat opened #7463 "Files don't get deleted locally when using Minio as an Object Store"
I have configured Nextcloud to use local Minio server, created files appear in given data directory (i.e.: urn:oid:7074  urn:oid:7096) but these fails don't get deleted when removing corresponding files with Nextcloud UI.

### Steps to reproduce
1. Install local Minio server and client

	* https://dl.minio.io/server/minio/release/linux-amd64/minio
	* https://dl.minio.io/client/mc/release/linux-amd

[2017-12-12 13:10] cklabautermann commented on #7430
I did what you recommended and now users seem to be clean again.
I hope this does not happen again when user´s OU changes again.......

[2017-12-12 13:17] jancborchardt commented on #7162
This is also related to »Show email column by default and also send email to new users« #6468 cause if we move to directly inserting a new row, the email field will be there too.

[2017-12-12 13:19] HLFH commented on #7384
@Natanji

No, sadly, I'm stuck on a NC12 that is no longer working, because of PHP 7.2.
I would love to upgrade NC12 to NC13, instead of downgrading PHP to 7.0.

[2017-12-12 13:47] rullzer commented on #7463
Did you also empty the trashbin?

[2017-12-12 13:51] oparoz opened #7469 "Cannot set password for share by email links"
### Steps to reproduce

On 12.0.4

1. Share via email
2. Click on the share's 3-dots
3. Set a password

### Expected behaviour

A password should be set and I should get a confirmation message

### Actual behaviour

* Borders of the field turn red
* The field gets a tooltip saying "The given object name is invalid"
* No idea if the password has been set
* Closing a re-opening the popover menu brea

[2017-12-12 14:03] icewind1991 commented on #6773
Moved to 14 since I didn't have enough time to get it into 13 in a state that I would be happy wityh

[2017-12-12 14:06] dachinat commented on #7463
@rullzer No, I have just checked and files from Minio directory got removed as I emptied a trash bin.

I guess this is an expected behavior, I'm really thankful for your response.

[2017-12-12 14:07] #7463 closed

[2017-12-12 14:15] MorrisJobke commented on #6773
Just for history keeping: This was the only item that was tackled during the 13 release cycle.

[2017-12-12 14:30] skjnldsv commented on #7408
We could also directly add this in the app menu generator, and not use anything. We won't have svgs to maintains at all and we should be able to apply the filter with css too (without the filter css3)

[2017-12-12 14:40] pixelipo commented on #7408
Yes, that's what I wrote in my previous comment, @skjnldsv ;)

But I'm worried that we might already have a similar problem with #7319 as well. Can anyone test Talk and Gallery apps in master on IE11?

[2017-12-12 15:06] tw- commented on #6752
I have not found a workaround. I tried to use separate php-fpm-pools, separate document-roots - nothing helps.

Two complete different Installations on same machine do work - but if two hostnames on same machine share the same database and same data-dir, the access over two hostnames is very slow. API-access and ajax is fast, only pages with theming are affected.

https://help.nextcloud.com/t/nc12

[2017-12-12 15:09] Natanji commented on #7384
@HLFH Have you replaced the nextcloud package with the nextcloud-git package? It doesn't seem like you did.

[2017-12-12 15:37] skjnldsv commented on #7376
It will be fixed with the sidebar standard for 14!

[2017-12-12 15:38] skjnldsv commented on #4589
Okay, I'll leave my branch aside, it's not ready yet.

[2017-12-12 15:39] skjnldsv commented on #6375
Good here too :)

[2017-12-12 15:39] skjnldsv commented on #7408
🙈

Yup, it should probably also be an issue there

[2017-12-12 15:46] jancborchardt commented on #6375
I still have it even in incognito mode. But if you all can not reproduce it, might be a problem specific to my setup. :) Closing

[2017-12-12 15:46] #6375 closed

[2017-12-12 15:47] pacija commented on #7300
One of my LDAP users just called me that his quota has decreased from 10Gb (set directly in NC for that particular user) to 1Gb (default). I see other users whose quotas did not decrease, but they didn't login recently. I don't have anything set in Quota Field of Special Attributes.

My environment:
Nextcloud Version: nextcloud-12.0.3
OS: FreeBSD 11.1-RELEASE-p6
HTTP Server: apache24-2.4.29
PHP Ve

[2017-12-12 15:47] jancborchardt commented on #7376
Yeah, we need to define a max width for the right sidebar much like for the left app-navigation (which is 250px). I’d go for the same value, what do you think @skjnldsv?

[2017-12-12 15:50] skjnldsv commented on #7376
@jancborchardt should be good yeah! There is a lot to be discussed about this though :p

[2017-12-12 15:53] jancborchardt commented on #7375
Agree with @karlitschek here. Instructions on how to set up Calendar and Contacts sync could be described directly there.

This could also be a great page to showcase some curated 3rd-party apps for Android, iOS, and desktop. Like for News, Notes, Bookmarks, SMS, Tasks etc.

[2017-12-12 15:53] jancborchardt commented on #6584
Or rather – @schiessle if you are looking for an easy one you can use to get someone involved in development. ;)

[2017-12-12 15:54] jancborchardt commented on #7007
Also cc @pixelipo since he worked on the datepicker :)

[2017-12-12 16:01] HLFH commented on #7384
@HLFH I rarely use awful AUR packages when the PKGBUILD are installing the softwares to dirty places like `/usr/share/webapps/`, `/var/www`... IMHO, `/srv/http` is the best path but AUR webapps packages rarely go to this location.

For Nextcloud, I usually [install from command line](https://docs.nextcloud.com/server/12/admin_manual/installation/command_line_installation.html), and [upgrade via bu

[2017-12-12 16:27] ahoward22 opened #7471 "LDAP User First time login is disabled"
### Steps to reproduce
1. Add the Active Directory user to the specified group (Nextcloud Users)
2. Have the user attempt to login with their AD credentials

### Expected behaviour
The user should successfully login

### Actual behaviour
The user, who has never logged in to the Nextcloud Server, is presented with "User disabled" upon putting in the correct credentials
I cannot see the User disable

[2017-12-12 16:39] pixelipo commented on #7374
It should be done with margin-left:auto, but the problem is that it's always renderer `before` the Add button.
I think this requires rethinking the JS method responsible for painting the gallery-button

[2017-12-12 16:39] skjnldsv commented on #7374
I'll take a look if you want @pixelipo

[2017-12-12 16:48] blizzz commented on #7300
@pacija can you apply the debug patch:

[code]

And whenever it happens next, check the log for "Quota changed for" and past the line? It will provide is the backtrace.

[2017-12-12 17:06] CountMurphy commented on #7384
@HLFH you realize that arch officially installs nextcloud in /usr/share/webapps right? Pretty sure thats why the AUR packages install it there too. Not saying its an issue, just pointing it out.

[2017-12-12 17:37] icewind1991 commented on #6773
The branch has the migration infrastructure, migration for files, personal user settings and incoming federated shares.

The remote cloud api work that was done partly for this has been merged for 13

[2017-12-12 17:43] HLFH commented on #7384
@CountMurphy I realized but thanks for the reminder. It has always been an issue on GNU/Linux not to have a 100% unique standard location for webapps & websites. But it's off-topic.

[2017-12-12 17:48] PrinceCharles23 commented on #7132
thanks for clarifying!
owncloud is still on the old version number ;-)

[2017-12-12 19:22] Peac commented on #6752
Thank you for the information :)

[2017-12-12 19:24] DarkknightAK opened #7473 "folder version management"
For files you have a perfect version management which is awesome. The user can replace different versions of a file and the admin can configure how many versions of an file will be stored.

It would be awesome to have this version management also for folders. As all files inside a folder has already the version available you wouldn't get additional storage space, but the possibility to restore how

[2017-12-12 20:19] furai commented on #6899
I'm affected by same issue, Nextcloud 12.0.3 with MariaDB/nginx and latest php 7.1.

[2017-12-12 21:33] rullzer commented on #7428
I don't know why... but maybe... aaah or... it is a side effect of https://github.com/nextcloud/server/pull/7456 not being in yet.

I'll try to spin up my ldap instance tomorrow again.

[2017-12-12 23:07] alexanderdd commented on #1308
Hey everyone, sorry I have asked this before but did not receive a response, I'll try again:

Is there a way to manually allow for syncing of the .~lock files?

...cause that would be a work-around that would help my use-case a lot.

@putt1ck

I think what makes an application great is when even huge teams with mediocre communication can  use it without messing their files up. I believe version co

[2017-12-13 04:26] enoch85 commented on #5930
Why do you want to stay on an old version? NC 13 brings so much improvements. I'd say one more reason to upgrade @JGjorgji :)

[2017-12-13 07:37] putt1ck commented on #1308
If using sync, and person A opens a file, person B opens the same file, A saves, then B saves, B gets a warning and A's version doesn't get overwritten. If using web UI, it does get overwritten, but A's version would be in the version history; if using webdav access I think that would still be true.
OTOH if using traditional "shared drive" systems and B has taken a copy of the file home to work on

[2017-12-13 08:09] colttt opened #7474 "serverinfo needs to be accessible via token or IP whitlist"
Hello,

for monitoring purposes it would be very useful to have access to the nextcloud serverinfo via token or IP whitelist (like gitlab: https://docs.gitlab.com/ce/user/admin_area/monitoring/health_check.html). At the moment I need to login with admin rights.

It would be also usefull to have 2 URLs, one in XML format and the other in JSON.

best regards

[2017-12-13 08:28] MorrisJobke commented on #7474
That is already possible - just append `?format=json` and it will give you a JSON object.

There was already such an request in https://github.com/nextcloud/serverinfo/issues/100

[2017-12-13 08:28] #7474 closed

[2017-12-13 09:04] MorrisJobke commented on #7400
@blizzz: Also happens here and the $oguid is filled with the group DNs:

[code]

[2017-12-13 09:05] rullzer commented on #987
So I debugged this as well a bit. The issue is at https://github.com/nextcloud/server/blob/master/lib/private/Files/Node/File.php#L64

The `$this->view->file_put_contents($this->path, $data);` actually has a return value. And in this case even returns false. But it is discarded. So there is no way to know if the operation succeeded.

@icewind1991 is this intended? I guess we could also throw a new

[2017-12-13 09:27] bmhm commented on #5930
@enoch85 @MorrisJobke
Thank you for looking into it. Still it is very unfortunate that until the release of NC13 we have to stick to a broken installation.

[2017-12-13 09:37] MorrisJobke commented on #5930
You changed a major part of the overall stack - doing this should always involve testing before doing it and being able to properly roll back. We will support PostgreSQL 10 with Nextcloud 13. All previous Nextcloud versions will support the PostgreSQL 9 series. Sorry for those bad news, but there is just too much risk for breakage if we would backport this.

[2017-12-13 09:37] #5930 closed

[2017-12-13 09:59] JGjorgji commented on #5930
Well i was hoping to avoid issues like this by waiting for nc13 to go stable.

[2017-12-13 10:01] Siassei commented on #7024
@nickvergessen
I can not find any note in the offical documantation, that tell me postgres 10 is not supported with nextcloud 12! wtf ...

**Offical documentation**

**Offical docker-compose.yml** without version numbers. posgres:latest is atm 10.1
https://github.com/nextcloud/docker/blob/master/.examples/docker-compose/insecure/postgres/apache/docker-compose.yml

[2017-12-13 10:02] chy-causer commented on #5930
@MorrisJobke that's a fair comment, but please say something about the psql 10 incompatibility explicitly in the docs, for example here:

https://docs.nextcloud.com/server/12/admin_manual/configuration_database/linux_database_configuration.html

While 13 may be around the corner, quite a few installations may well be on 12 for a while and don't realize the impending disaster awaiting when the data

[2017-12-13 10:04] bmhm commented on #5930
@MorrisJobke
I consider this a bad joke, at best.

The Installation manual does not say "up to Postgres 9". It says:

_Source:_
https://docs.nextcloud.com/server/12/admin_manual/installation/system_requirements.html#supported-platforms

Thank you very much for possibly ditching your users.

[2017-12-13 10:14] MorrisJobke commented on #5930
Hi - sorry - this was not meant to trick some people into it. We just have forgotten to document it right after the PostgreSQL release. We will update the documentation accordingly.

[2017-12-13 10:22] MorrisJobke commented on #5930
Sorry for the inconvenience. We updated the system requirements documentation accordingly and try to handle this better in the future.

https://docs.nextcloud.com/server/12/admin_manual/installation/system_requirements.html#supported-platforms

[2017-12-13 10:34] blizzz commented on #7400
a quick thing you may try:

[code]

essentially it makes it more readable. The function should not have been called in the first play, and I blame the short comparison version as cause, although i could not verify it. Errors will go away anyway since the the function is now provided with the actual value, too.

[2017-12-13 10:38] MorrisJobke commented on #7400
Yes - the brackets are missing to have the two short forms being separated properly.

[2017-12-13 10:39] MorrisJobke commented on #7400
Let me create a PR and check if it helps over here.

[2017-12-13 10:41] pacija commented on #7300
I applied the diff, I'm going to monitor logs for quota changes.

I have increased quota for myself, logged out/in in hope it will be reset, but so far it didn't. I got backtrace for my manual quota increase though:

[code]

I also see these in log, right after my manual quota change:

[code]

Regarding user whose quota was reset, I see the following (I changed the UUID to all Xs):
[code]
Hopefull

[2017-12-13 10:44] blizzz commented on #7400
yes, that's what i think but I could not see wrong behavior with 3v4l.org on any version

[2017-12-13 10:50] MorrisJobke commented on #7400
Let me take care of this then.

[2017-12-13 10:52] heldchen commented on #7024
uhm the first link you posted does say:

I'm using this patch on my installations to get v12 work with postgresql 10:

[code]

[2017-12-13 10:53] cluxter commented on #5930
@MorrisJobke Mistakes are part of being human. Now how could you improve your workflow to avoid such an issue in the future? Usually a Kanban board helps to avoid forgetting steps like testing, documentation, reviews, etc., every time a change is made since you have to go through all the steps.

[2017-12-13 10:56] skjnldsv commented on #7374
Please review :) https://github.com/nextcloud/gallery/pull/336 & #7478

[2017-12-13 10:57] MorrisJobke commented on #7400
Seems to be like that:

https://3v4l.org/OdXp2

[2017-12-13 11:02] MorrisJobke commented on #7400
Fix is in #7479 and solved it for the instance I noticed it.

[2017-12-13 12:00] rullzer commented on #7454
PR in #7480

[2017-12-13 12:00] jospoortvliet commented on #7001
So I just tested Nextcloud 13 Beta 2 and - lo and behold - the problem is entirely gone. I suggest you give it a try, too! I had no other issues. Yes, I upgraded my private instance. Without backup. Bite me! 🐶

[2017-12-13 12:08] jospoortvliet commented on #7001
wait, no. It now works when I disable the sharing app. But after enabling - slow again. Back to disabling the sharing app. This is worth fixing asap, I'd say. Not a regression but it makes Nextcloud unusable with federation @schiessle

[2017-12-13 12:19] MorrisJobke commented on #2527
Fixed by #2676 in Nextcloud 12.

[2017-12-13 12:19] #2527 closed

[2017-12-13 12:28] biva commented on #7428
I'm not using LDAP (just standard users created in the Nextcloud UI) and I'm facing the same issue.

[2017-12-13 12:30] jimbowarrior commented on #7428
me too

[2017-12-13 12:31] biva commented on #7428
Can some admin mention this current issue in https://github.com/nextcloud/server/issues/5107 so that we can find it? Thanks!

[2017-12-13 12:37] #7400 closed

[2017-12-13 13:23] jancborchardt commented on #2192
A higher priority is the general shares overview page: https://github.com/nextcloud/server/issues/5559

There we can simply show the pending shares up top, without the need for yet another sidebar entry.

[2017-12-13 13:26] pixelipo opened #7481 "Buttons in controls bar should be 44px squares"
Currently, there is a lot of inconsistency in the buttons places on the #controls bar - most of them are 40px wide and 36px, but some apps (e.g. Deck uses 38x36px).

Design guidelines require a minimum (and optimal?) size for anything clickable to be 44px both width and height, so we should update these buttons.

It will also require the entire bar to become larger - currently it's 44px hight, but

[2017-12-13 13:49] funkytraffic opened #7482 "Create a role User administrator"
### Actual behaviour
Nextcloud know 2 admin groups:

Super Administrators and Group Administrators

As of https://docs.nextcloud.com/server/12/admin_manual/configuration_user/user_configuration.html#granting-administrator-privileges-to-a-user

 * **Group Administrators** can only act in their group, but they cannot create a group or assign a group admin
 * **Super Administrators** have full privil