[2016-11-25 10:01] nickvergessen opened #2326 "Changing email/address/etc shows saving tick on name field"
When changing the email, address, etc. on the new personal page, the saving tick is always displayed in the name field, instead of the field you actually changed.

Also you can **NOT** empty the fields. When you remove all content, the value is not saved. This feels quite annoying to me.

@ChristophWurst @schiessle

[2016-11-25 10:40] #2235 closed

[2016-11-25 10:40] #2279 closed

[2016-11-25 10:58] #851 closed

[2016-11-25 11:00] #2318 closed

[2016-11-25 11:02] MorrisJobke commented on #2072
Fixed with #2107

[2016-11-25 11:03] #2072 closed

[2016-11-25 13:19] divvet opened #2328 "Internal Server Error on new user login assigned to a group"
An odd problem has recently started with my Nextcloud install. When a new user is created and assigned to 2 particular groups, when they login they get the following error:

**User groups:**
8 in total.

**Groups:** ad, aa, ac, ap, as, au, spm, sps

When user is assigned to a single group - no error.
When a user is assigned to 2 or more of a particular group, the error occurs. I drew a table showi

[2016-11-25 14:08] schiessle opened #2329 "drop down overlap in share dialog"
Share a folder with two users, user1 and user2

Now try to change the permission for user1 (the user at the top of the list):
* click on the three dot menu
* click on "can create"

Now the change permission for user1 is triggered but at the same time the underlaying "three dot menu" for user2 gets clicked. This is the result:

![bug2](https://cloud.githubusercontent.com/assets/1589737/20627549/13f

[2016-11-25 14:09] schiessle commented on #2329
Maybe @rullzer or @blizzz can have a look?

[2016-11-25 14:11] andreas-p opened #2330 "LDAP user refresh with caching enabled"
I'm auth'ing using user_ldap, and have APCU caching enabled.

When users/groups are changed in ldap, this isn't reflected immediately in NC because caching will prevent re-reading the ldap server, which is fine for most requests. But when accessing /settings/users, I'd expect the cache to be bypassed/partially cleared to update NC data from LDAP. Currently, I have to purge the cache by restarting

[2016-11-25 14:11] schiessle opened #2331 "file upload conflict dialog broken"
Try to upload twice the same file so that the upload conflict dialog is shown. As you can see the dialog is broken on master (previews and checkboxes are not shown at the right place):

Firefox only, Chrome/Chromium is fine.

![bug1](https://cloud.githubusercontent.com/assets/1589737/20627596/6067f486-b321-11e6-9b9b-203c511e45a0.png)

[2016-11-25 14:12] doomi opened #2332 "clicking the current folder should refresh file listing"
### Steps to reproduce
1. go to Files
2. go to a subfolder, i.e. "photos"
3. upload a file from the mobile app
4. click the foldername above the file listing

### Expected behaviour
the folder should refresh and show the newly uploaded file.

### Actual behaviour
the folder does not refresh.
as a workaround, you have to leave the current folder and coming back to refresh the file listing.

### Ser

[2016-11-25 14:17] evka1410 commented on #898
Great! And if there is an option to disable drag&drop for moving files then, it would be even better. Sometimes happens that somebody moves a file accidentally to some subfolder... And there is nothing in Activities for this :(

[2016-11-25 14:29] schiessle opened #2333 "Move file dialog is broken"
Move file dialog is broken on master, tested with Firefox 50

![move](https://cloud.githubusercontent.com/assets/1589737/20628038/2b8265e6-b324-11e6-9bc2-3863b9cb6632.png)

cc @icewind1991

[2016-11-25 14:32] LukasReschke commented on #2333
Dupe of https://github.com/nextcloud/server/issues/2252. Affects all filepicker dialogs.

[2016-11-25 14:32] #2333 closed

[2016-11-25 14:35] schiessle opened #2334 "Move files expose complete folder structure on public links"
* Share a folder with some files as public link with edit permissions
* open the public link
* the "three dot menu" of the files will show the "move" operation
* click on it

![move2](https://cloud.githubusercontent.com/assets/1589737/20628149/ac230c5a-b324-11e6-8695-a3290e910a2d.png)

Result:

You see the root of the users files folder. You can move the files to any location and look at the compl

[2016-11-25 14:37] LukasReschke commented on #2334
I think that is because the WebDAV call is performed with the wrong credentials. Can you try in a private tab?

So there is no actual real loss of information but simply the credentials of the logged-in users used. At least from how I understand the code.

[2016-11-25 14:38] LukasReschke commented on #2334
Yep. Move seems to connect against `/remote.php/webdav` instead `/public.php/webdav`

cc @icewind1991 Can you take a look? THX :)

[2016-11-25 14:40] schiessle commented on #2334
yes, in a private tab we don't expose the whole directory structure but the dialog is still broken. It shows a spinner and "Problem loading page, reloading in 5 seconds"

[2016-11-25 15:05] fancycode opened #2337 "Add admin UI for "trusted_domains" setting"
### Steps to reproduce
1. Access Nextcloud using an untrusted domain.
2. The page about untrusted domain is shown, containing a button to add the domain.
3. Click the button.

### Expected behaviour
The domain should be added to the list of trusted domains.

### Actual behaviour
The IP address of the link can not be reached. From that it looks like, the first entry from the already configured trus

[2016-11-25 15:07] jancborchardt commented on #898
@evka1410 hm, moves should probably show in activities cc @nickvergessen. And ideally there should be undo for moving as well, as soon as we have file deletion undo too cc @ChristophWurst ref #1610

[2016-11-25 15:17] skjnldsv commented on #2324
Since the autocomplete function is calculating the full width and therefore applying a width to the container, there's nothing we can do css-side :/

[2016-11-25 15:18] enoch85 opened #2338 "Accept calendar invitation directly in the invitation email"
In [this issue](https://github.com/nextcloud/server/issues/2071) I asked for better design for the emails being sent when inviting anyone to a event. This request is about the possibility to accept the invitation directly in the email, just like you can do with Google Calendar.

Right now you are presented with this (which is pretty nasty):

[code]

I think it's a must have to be able to accept th

[2016-11-25 15:22] nickvergessen commented on #898
Moves show in activity from 11 onwards.

[2016-11-25 15:23] jancborchardt commented on #2308
@schiessle shouldn’t the share by mail feature also have the »can edit« checkbox? Cause it sends out a shared link for that person, and depending on the permission it’s like »Allow upload and editing« for public link shares.

[2016-11-25 15:26] skjnldsv commented on #2324
Edit: see http://stackoverflow.com/a/11845718

[2016-11-25 15:29] blizzz commented on #2330
The scenario "add user in LDAP + go to Nc users page" sounds to me not to be a case that happens very often. I expect  that  going to the users page without having an LDAP change before is the use case that happens more often, and there performance  benefits.

[2016-11-25 15:36] arily opened #2339 "translation problem"
### Steps to reproduce
1.there has a typo in Chinese translation
2.means "You don't have permission to upload or crate files" at the right of the path
3.

### Expected behaviour
it should be 您没有权限来上传或者创建文件

### Actual behaviour
湖州哦 is a typo

[2016-11-25 15:37] arily commented on #2339
![d91f7d8c-286b-4c18-9a45-74f4f1ef5b8e](https://cloud.githubusercontent.com/assets/10007589/20629747/751530e8-b370-11e6-99c2-074bcee4253d.png)

[2016-11-25 15:39] andreas-p commented on #2330
The scenario "add user in LDAP + go to Nc users page" happens whenever I change users... And I'd certainly expect my ldap users here.

[2016-11-25 17:46] MariusBluem commented on #2339
Thank you for your report ✊ ...Translation problems should be reported and fixed over Transifex:
https://www.transifex.com/nextcloud/

[2016-11-25 17:46] #2339 closed

[2016-11-25 18:52] schiessle commented on #2308
@jancborchardt it has, but only for folders, similar to the public link. If you open a link you get the same view as for a public link. This means that for a single file you only have a preview and a option to download it but no possibility to upload a modified version, so it doesn't make sense to have a "can edit" permission for single files shared by mail.

[2016-11-25 21:01] Espina2 commented on #2207
So what I suggest here, is to create page of upload instead of open the OS file manager.

If we have another page its better to upload files from different folders and organize them better. For example you have created a new empty folder and you want to upload files from multiple folders. Right now you have to one by one.

In that new screen you can pretty easily show that you can drag and drop fi

[2016-11-25 22:49] #2324 closed

[2016-11-25 22:50] MorrisJobke commented on #2337
cc @LukasReschke

[2016-11-25 22:52] MorrisJobke commented on #715
cc @nextcloud/javascript

[2016-11-25 22:55] MorrisJobke commented on #1125
Works for public link shares and files drop links in 11

[2016-11-25 22:55] #1125 closed

[2016-11-25 23:11] MorrisJobke commented on #2331
Works here. (Maybe also give #2342 a try)

[2016-11-25 23:13] MorrisJobke commented on #1864
Fix is in #2342

[2016-11-26 06:16] jgallucci32 commented on #60
From what I can tell looking at the merge, this only covered known Amazon S3 endpoints with hard-coded regions. Is there plan to support S3 Compatible (i.e. Ceph) backends as primary storage. This is an OC Enterprise feature keeping me from going to NextCloud at the moment.

Also I should mention the lack of Swift Auth V1 support in OC Enterprise was a big problem, since object storage deployments

[2016-11-26 06:23] jgallucci32 commented on #1504
While I welcome support for new authentication methods, please do not be so quick to deprecate older authentication methods with Swift. This type of thinking plagued the OwnCloud development which is why our company ultimately went with a competitor, and from what I can tell it was these issues that led to NextCloud's existence. For other reasons not disclosed, we are back in the market for a new

[2016-11-26 06:43] jgallucci32 commented on #2248
I just installed 10.0.1 and ran your patch as well as disabled the serverinfo app. Still getting the same window poping up every 5 seconds as the page automatically refreshes.

I am running on RHEL7 with PhP 5.4.16 (latest) and Httpd 2.4.6 (latest) installed from RHEL repositories.

[2016-11-26 10:12] MorrisJobke commented on #60
This should work. We tested also with different local implementations of the S3 APIs.

We plan to also update the underlying library to support new Auth levels. But I don't know what is currently supported. Maybe @icewind1991 knows more here.

[2016-11-26 13:35] stefan-it opened #2344 "Link to GitHub issue tracker is broken on Nextcloud support page"
Link to the GitHub issue tracker is broken on the NextCloud support page:

### Steps to reproduce
1. Go to `https://nextcloud.com/support/`
2. Click on the *bug trackers* link

### Expected behaviour
Redirect should point to [GitHub issue page](https://github.com/nextcloud/server/issues)

### Actual behaviour
Link is broken - it will point to `https://github.com/nextcloud/server/blob/master/.githu

[2016-11-26 13:42] gqgunhed opened #2345 "Calendar invites: Sender is server instance, not user email address"
### Steps to reproduce
1. Create calendar entry and add attendees with email addresses
2. Submit/Save entry to calendar, invites are being sent to attendees (as expected BUT ...)
3. Emails are always sent with "from: nextcloud@internal.domain", not from "user@internal.domain"

### Expected behaviour
Invites should be sent using the email address of the user (provided by user profile) creating the

[2016-11-26 14:43] MariusBluem commented on #2344
Thank you for your report 😁 But this is the repo for the server, and not the website (nextcloud.com). You will find it's issue tracker over here: https://github.com/nextcloud/nextcloud.com

I'll take care of fixing it ✊

[2016-11-26 14:43] #2344 closed

[2016-11-26 15:38] MariusBluem opened #2346 "Gallery button stays on position even if sidebar is not longer opened"
### Expected behaviour
After the sidebar was closed, the gallery icon goes back to the the right side.

### Actual behaviour
Sadly it does not :(

### Server configuration

**Nextcloud version:** (see Nextcloud admin page)
11 beta

### Client configuration
**Browser:**
Safari
**Operating system:**
macOS Sierra

### Screenshots

With Sidebar:
<img width="492" alt="correct_1" src="https://cloud.gith

[2016-11-26 15:44] MariusBluem opened #2347 "Recent file list layout adjustment"
I think the icons of folders and files should be displayed **behind** the (imaginary) red line - as we do it in all the other categories 😉 ...what do you think 🤔 @nextcloud/designers @jancborchardt

<img width="318" alt="recent" src="https://cloud.githubusercontent.com/assets/19711361/20641407/4f7c6d74-b3f7-11e6-9540-16b04061a0b7.png">

[2016-11-26 17:02] boppy opened #2348 "Interface to configure 2FA for users/groups (aka forcing/require 2FA)"
***DISCUSSION***
There are some discussions (see references) on "forced 2FA" inside the TOTP-2FA-Repo that should be continued here in "core".

**What's it about?**

There should be a GUI (with some backend logic) to...
1. Force a user/group to do 2FA
1. Reset a forced-2FA (~= occ twofactor:disable *user*)
1. Get *your* 2FA code(s) at first login (just like the first-run-wizard, but not to be canc

[2016-11-26 17:30] ChristophWurst commented on #2348
cc @nextcloud/designers

[2016-11-26 17:44] oparoz opened #2349 "Files in the zip sent when downloading a folder should not have their date modified"
### Steps to reproduce
1. Go to a shared link
2. Click on "Download"
3. Download the zip
1. Open the zip

### Expected behaviour

All files in the zip should have the same date as in the cloud

### Actual behaviour

All the dates are modified to the date the zip was created

### Server configuration
**Operating system**:

**Web server:**

**Database:**

**PHP version:** 7

**Nextcloud version:** (

[2016-11-26 17:53] oparoz opened #2350 "Make it possible to disable sticky favourites at the top of the list"
### Steps to reproduce

1. Sort the file list by date
2. Mark some files and folder as favourites

### Expected behaviour

Favourites should stay where they are. If I need access to them, I have the favourite filter at my disposal

### Actual behaviour

Favourites are migrated to the top of the list, disrupting the order I picked.

If I order files by date, it's because I deem it important to alwa

[2016-11-26 18:37] Espina2 commented on #2347
@MariusBluem
I don't get what you are trying to say.

[2016-11-26 19:48] MariusBluem commented on #2347
The icon-positions should be after the red line in my Screenshot 😅🙈 @Espina2

[2016-11-26 21:27] tflidd commented on #2292
Great. All the release handling is still a bit unclear. I also started a thread on the forum some time ago:
https://help.nextcloud.com/t/support-cycle-number-of-maintained-versions/2508

[2016-11-26 22:02] koreywithak commented on #680
I get a similar error all the time. My logs are filled with them:
`Error  PHP  stream_get_contents() expects parameter 2 to be integer, string given at /var/www/nextcloud/3rdparty/sabre/http/lib/Message.php#81`
I got this last one when accessing files either via the Android app and/or the web interface.

[2016-11-27 00:45] tflidd commented on #2206
@schiessle : I did try to work around it a bit further. I replaced this line (https://github.com/nextcloud/server/blob/stable10/apps/encryption/lib/Crypto/Crypt.php#L482) by
`$signature = $expectedSignature;`

After that, I got a `Missing Signature`. Not really sure why, but I also have this strange log entry:
[code]
There is only the file `textfile.txt`. I can mute the `Missing signature` but tha

[2016-11-27 11:36] joergmschulz commented on #2338
This is a topic for the MAIL app. We can't even display all invitations, currently-  @ChristophWurst and others (hopefully) are currently rethinking the display of the mails. See topic [https://github.com/nextcloud/mail/issues/160]. Before this isn't done, we can't even think of connecting mail and calendar.
Maybe a moderator can move this topic to the mail app?

[2016-11-27 12:16] ezraholm50 commented on #1025
@nickvergessen No problem the errors are listed here https://help.nextcloud.com/t/calendar-broke-after-update-to-10-0-1/5272

So forgive me for my ignorance but I upload that scipt to the root folder and visit the url right?
Thanks for your help!

[2016-11-27 13:00] skjnldsv commented on #2347
Could you provide an example of somewhere else where we do that?

[2016-11-27 13:03] kiv57 opened #2352 "CRC error with zip files downloaded from web UI"
### Steps to reproduce
1. login to web UI
2. select a folder or multiple files, clic "Download"
3. unzip the downloaded zip with your desktop zip handler

### Expected behaviour
Unzipped files should have correct CRC and be valid

### Actual behaviour
  * Errors about CRC and headers (message details depending on the unzip program used)
  * Some files are invalid and can't be opened, depending on

[2016-11-27 13:40] ChristophWurst commented on #2332
cc @jancborchardt

[2016-11-27 14:43] cdauth commented on #2272
Okay, I enabled HTTP/2 on my server and the speed improvement is **tremendous**.

I am undecided whether I think asset pipelining is still necessary.

I think some improvements can still be made (such as avoiding AJAX calls on page load, for example to load the config).

HTTP/2 should definitely be mentioned in the [Server Tuning](https://docs.nextcloud.com/server/10/admin_manual/configuration_ser

[2016-11-27 15:40] mightyBroccoli commented on #2097
Are there any news on this? I would love this feature I hope somebody is able to implement that.

[2016-11-27 16:11] eppfel commented on #2272
@cdauth Lucky you, don't have that option, right now.

Totally agree 👍

You could do it yourself 😉

[2016-11-27 16:13] eppfel commented on #2347
In the files app, there is the fav button, before the thumbnail..
<img width="274" alt="bildschirmfoto 2016-11-27 um 17 12 54" src="https://cloud.githubusercontent.com/assets/1899308/20649672/c3d88d42-b4c4-11e6-8ab0-8b386cac0202.png">
But is that reason enough?

[2016-11-27 16:54] enoch85 commented on #2338
@joergmschulz I don't agree that this is a mail app issue. What if you are not using the mail app? This issue is about sending invitations to *anyone* not only people using the mail app.

Try sending an invitation to one with Google Calendar, what will they see? They will see the regular invitation with "Yes" "No" "Maybe". Havenät tried sending an invitation to someone with outlook, but I imagine

[2016-11-27 17:07] skjnldsv commented on #2347
Yeah, I don't like this empty space before. Could we reverse this pr? 😝
Like unify the design but without a white padding before 😆

[2016-11-27 17:31] joergmschulz commented on #2338
Ah, so I misunderstood your issue - because I didn’t have it yet.
All invitations I have sent and tested have been successful for: Thunderbird, Outlook, Outlook on WP8.1 and Apple Mail/iCal.
So, your Google doesn’t swallow the embedded invitation?
Big question: is this reproducible for other Google accounts?

[2016-11-27 18:05] phsc commented on #2347
Why not move the fav star to the left side of the icon and make it behave the same as the mark/unmark checkbox (filled with yellow if active, otherwise invisible; displayed empty on hover)?
This would allow to consistently remove the whitespace before the icons.

[2016-11-27 18:36] criwe opened #2354 "Add an "email me" notification for logins"
Hi all!

It would be nice to have an "email me, when someone logs in with my accout"-option.

Thx!
Best
Chris

[2016-11-27 18:53] mightyBroccoli opened #2355 "Sharing a file via a password protected link kind of broken"
### Steps to reproduce
1. upload a file
2. tick the box to share it via link
3. tick the box to password protect the shared file
4. choose a password that does not conforms with the password policy ( one big Letter one number eg)
5. try the link it will open the file without the password no error message or are you sure.

### Expected behavior
I would expect that the nextcloud instance warns me or

[2016-11-27 18:55] criwe opened #2356 "Add optional email-notification when a IP-adress is blocked by brute-force-protection"
Hi all!

It would be nice, to have the option to get an email notification when an IP-adress is blocked by brute-force-protection.
Its good to know when an attack occurs, so you can i.e. add some firewall or htaccess rules to block some aggressive IPs completely.
Best,
Chris

[2016-11-27 18:57] mightyBroccoli opened #2357 "Sharing a file via email and password protect the link"
### Steps to reproduce
1. upload a file
2. share it via email
3. done the email will be send an the link inside will not have any form of security

### Expected behavior
I would expect that the nextcloud instance should have the function to password protect the link inside the email.

### Actual behavior
The link inside the email will get shared without a password.

### Server configuration
**Oper

[2016-11-27 20:39] asterismo opened #2358 "Cannot create new users after upgrade"
Hi, i updated next cloud a couple of times and now i cannot create new users using the admin webpage

I get this error in nginx log:

2016/11/27 20:24:45 [error] 1544#0: *4937 FastCGI sent in stderr: "PHP message: {"reqId":"g2Ph8j0eXyEt3XhF5+2A","remoteAddr":"127.0.0.1","app":"core","message":"Login failed: 'admin' (Remote IP: '127.0.0.1')","level":2,"time":"2016-11-27T20:24:45+00:00","method":"PO

[2016-11-27 23:13] julieannenoying opened #2359 "Odd German translation for "file drop""
"File drop" in the file sharing sidebar was translated to "Datei fallen lassen".. Maybe it's better to name it "Dateiablage" or something similar?
![issue](https://cloud.githubusercontent.com/assets/24209909/20652743/67489e88-b4ff-11e6-8557-cab8d3fdaf79.jpg)

[2016-11-27 23:21] julieannenoying opened #2360 "Avatar: choosing a .gif results in "unknown file type""
When trying to set a user profile picture, uploading a gif file is not supported. It says "png or jpg", but people tend to not read it. I was wondering if there is a reason for not supporting gifs? (it was not an animated gif).
cc @rullzer @icewind1991
![issue2](https://cloud.githubusercontent.com/assets/24209909/20652766/3eb33b08-b500-11e6-8816-b655ae66f46e.jpg)

[2016-11-28 01:15] funilrys commented on #132
For those who have some problem, I share here what I did today with **Nextcloud 11** and **Nextcloud 10**. Hope this will help someone.

# WARNING
DO NOT REPLACE ALL YOUR FILES WITH THE FOLLOWING SNIPPETS

# Backup
first a **backup** of the **current** .htaccess :
[code]

# .htaccess
## Old

[code]

## New

We are gonna add those 2 lines after ` RewriteEngine on`
[code]

### We finaly get :
[code]

[2016-11-28 08:15] enoch85 commented on #2338
@joergmschulz If the reciver have Nextcloud, and using another (domainbased) email that isn't connected to a service like Google e.g. hey@example.com the only thing you the reciver will see is what I posted in my first issue. DAV must be able to somehow generate a nice invitation, or maybe it's PHP that's necesarry, idk really as I'm not a coder.

[2016-11-28 08:36] go2sh commented on #2359
The translations are managed with [transifex](https://www.transifex.com/nextcloud/nextcloud/). I changed the translation to: "Dateien ablegen (nur Hochladen)"

[2016-11-28 08:41] nickvergessen commented on #1025
Well, seems like the table holding the calendar events is missing for you. Something went wrong on your database update? Anyway, my advice would be to restore your last working backup in a test environment and copy the table from there.

[2016-11-28 08:59] nickvergessen opened #2362 "Dropdown on mobile missing text next to icons"
### Steps to reproduce
1. Create a public shared folder
2. Open link on mobile
3. Open the "..." menu

### Expected behaviour
`⬇️ Download`

### Actual behaviour
`⬇️ `

![bildschirmfoto vom 2016-11-28 09-56-09](https://cloud.githubusercontent.com/assets/213943/20661874/3979949c-b551-11e6-828d-2517065fb0f7.png)

Happens on both, 10 and 11 beta/master.

@jancborchardt @nextcloud/designers

[2016-11-28 09:02] nickvergessen commented on #2328
Seems like these groups have an invalid share. @rullzer to the rescue?

[2016-11-28 09:19] blizzz commented on #2329
Confirmed, bisecting

[2016-11-28 09:23] #1957 closed

[2016-11-28 09:24] MorrisJobke commented on #2360
cc @juliushaertl @rullzer

[2016-11-28 09:31] nickvergessen commented on #2331
Broken here as well with Firefox, also #2342 doesn't help.

However works fine in Chromium with and without the patch.

[2016-11-28 09:31] nickvergessen commented on #2331
@nextcloud/designers should be fixed before the 11 release

[2016-11-28 09:40] MorrisJobke commented on #2359
Oh dear -.- German translations for stuff like this are always funny 😕

@julieannenoying Thanks for spotting :)

@go2sh Thanks for fixing.

 I just reran the transifex job. Should be fixed now :)

[2016-11-28 09:40] #2359 closed

[2016-11-28 09:49] MorrisJobke commented on #2358
@asterismo Could you check the web developer tools in your webbrowser when you click the create user button. (Open them and then click the button)

There the console and the network tab are of interest. Best would be to send over a screenshot of those two tabs.

[2016-11-28 09:50] MorrisJobke commented on #2357
cc @schiessle @jancborchardt

[2016-11-28 09:51] MorrisJobke commented on #2356
@karlitschek @LukasReschke Should we build in this or should this be handled by external tools (monitoring, fail2ban, etc...)

[2016-11-28 09:52] MorrisJobke commented on #2356
I tend to use existing tools here.

[2016-11-28 09:52] nickvergessen commented on #2345
This is actually the expected thing, because not all SMTP connections are allowed to use a different sender address than their own.

However we set the "Reply-To" header, so you should be able to organize based on that.
Also replying/responding is not a problem at all. Works just fine.

[2016-11-28 09:52] #2345 closed

[2016-11-28 09:52] MorrisJobke commented on #2355
cc @schiessle

[2016-11-28 09:52] blackcrack commented on #132
ow wow, a "Profi" *bg*
it solve if it make in the ****cloud as automatic file
change by checkbox in the administration, it don't need a
specially "you have do it like i told" there, because the most peoples who
be in github, have a know how it works, but thank you for you contribution and support..
(wth. i had only see in my mail a "WARNING" fu.... *loooll*)

best regards
Blacky

[2016-11-28 09:52] tavinus commented on #1257
Changing the variable `$allowSymlinks` to `true` does seem to work.
Not too sure about the vulnerabilities though.

Changed: `/lib/private/Files/Storage/Local.php`

In:
[code]

To:
[code]
And I can see my symlinks contents (had to remove and re-add my external storage that has symlinks).

I don't care too much about other users, since this install only offer access to admins.

I dislike the fact t

[2016-11-28 09:54] MorrisJobke commented on #2354
cc @LukasReschke @ChristophWurst

[2016-11-28 09:58] ChristophWurst commented on #2354
Hi,
what's the use case for this?

[2016-11-28 09:59] blizzz commented on #2329
Fix in https://github.com/nextcloud/server/pull/2363

[2016-11-28 10:07] blizzz commented on #2330
I don't have any intention  to work on this. If it is such a troubling issue, I expect a PR (that won't impact the usual case). In that case please re-open.

[2016-11-28 10:07] #2330 closed

[2016-11-28 10:10] criwe commented on #2354
@ChristophWurst you know when someone logs in with your account. So when someone gets your logindata, you get information about it when that person logs in.

[2016-11-28 10:10] MorrisJobke commented on #2354
I only see a use case here for the "there was a new not known device that authed" or "there was a device from an uncommon location that authed"

[2016-11-28 10:14] schiessle opened #2364 "Preview generation creates error message"
If I share the welcome.txt as public link and open the public link I get this error message in the log (but the preview is shown correctly):

[code]

@rullzer any idea? Does it has something to do with your preview rework?

[2016-11-28 10:20] gqgunhed commented on #2345
Ok, I see. Have not looked at the Reply-To Field. Thanks for pointing that out.
/var/log/maillog just shows the From: field.

[2016-11-28 10:26] nickvergessen commented on #2347
Duplicate of https://github.com/nextcloud/server/issues/2193

[2016-11-28 10:44] MorrisJobke commented on #2347
Reopen and close the other ticket with less activity ;)

[2016-11-28 10:44] MorrisJobke commented on #2193
Duplicate of #2347 (there is more activity

[2016-11-28 11:01] schiessle opened #2368 "share dialog avatar flickers on permission change"
If you share a file or folder and change permissions the avatar of all shares in the list get reloaded, causing flickering

@blizzz as discussed here https://github.com/nextcloud/server/pull/2336

[2016-11-28 11:12] nickvergessen opened #2369 "Files shared via email have no icon indication"
The file is shared by public link
The folder is shared via email

@schiessle

Problem 1 is the share type is not handled in
https://github.com/nextcloud/server/blob/1190ce1dd5530865c6a5465e1e93a64002bcda47/apps/files_sharing/js/share.js#L114-L114

[code]

Problem 2 is the share type is not returned by the dav endpoint

[2016-11-28 11:14] alve89 opened #2370 "Use ICrypto within class"
I try to use the method encrypt() of ICrypto to store a password after logging users in.
My problem is not really a nextcloud but a PHP thing but this problem belongs to nextcloud.

How can I use the method?!

My class uses this:

[code]
I searched within this repo and within apps but the only thing I found was
[code]

I'm really consfused and appreciate any hints - many thanks in advance!

[2016-11-28 11:21] nickvergessen commented on #2350
Maybe we should only sort them to the top, when sorting by name and otherwise just retain them in the normal order?

@ChristophWurst because you implemented this IIRC

[2016-11-28 11:24] nickvergessen commented on #2352
Any information which files are affected? Because it seems to work just fine here with images and documents.

[2016-11-28 11:25] nickvergessen commented on #2354
That usecase isenough I think?

@criwe did you already post it in our app ideas section? https://help.nextcloud.com/c/feature/app-ideas
Because that is where I think it should be.

[2016-11-28 11:30] nickvergessen commented on #2355
Shows a clear warning for me on current master:

The problem is, you can also fail to add a password later on, in which case we shouldn't kill the existing link share, because that breaks the URL you sent people already.

So nothing to fix from my pov, but let's wait for @schiessle

[2016-11-28 11:32] nickvergessen commented on #2356
Well so the next thing we do is help to DDoS your mail provider?

Maybe should log this list somehow, but definitely not send emails ourselves.

[2016-11-28 11:33] nickvergessen commented on #2357
I kind of agree

[2016-11-28 11:36] blizzz commented on #849
Now I don't know (fail) to reproduce it properly. Perhaps I should have used query() instead of resolve() directly.

[2016-11-28 11:36] nickvergessen commented on #2360
Seems like only jpg and png are allowed:
https://github.com/nextcloud/server/blob/b05fe45d520a8df309897626ad109a4daf64ed83/core/Controller/AvatarController.php#L245-L250

I guess the problem is that transparency and animation might break horrible with the cropping/resizing and therefor we just don't allow them at all, instead of having to deal with all the corner cases gifs have.

[2016-11-28 11:38] nickvergessen commented on #2364
The old route was removed

[2016-11-28 11:39] MorrisJobke commented on #2292
I updated https://github.com/nextcloud/server/wiki/Maintenance-and-Release-Schedule#nextcloud-11

The plan is to do a beta2 today, that is also pushed out via the updater (to instances on the beta channel).

Then we plan an RC in one week and the final release in 2 weeks.

Cheers 🚀

[2016-11-28 11:39] #2292 closed

[2016-11-28 11:40] nickvergessen commented on #2368
Well the models are all re-rendered. The same issue happen with the rooms in spreed and IIRC this is not fixable

[2016-11-28 11:41] #2308 closed

[2016-11-28 11:41] karlitschek commented on #2356
I agree. A mail notification is out of scope for Nextcloud. But we should write it to a logfile so that this can be processed by the right system monitoring and administration tools.

[2016-11-28 11:42] schiessle commented on #2368
didn't we fixed this for the spreed.me app during the hack-week?

[2016-11-28 11:43] nickvergessen commented on #2370
For writing apps please search and ask for help in the forums or on IRC: https://nextcloud.com/support/

[2016-11-28 11:43] #2370 closed

[2016-11-28 11:43] nickvergessen commented on #2368
No, we stop reloading for no reason, but on change there is still the reload.

[2016-11-28 11:45] mightyBroccoli commented on #2357
A password to additionally protect the link would be perfect. I hope this idea will get implemented would be much easier to just send via email then generate a password protected link and sending that link via email.
👍

[2016-11-28 11:45] LukasReschke commented on #2360
👍 for just keeping GIF disallowed.

[2016-11-28 11:51] mightyBroccoli commented on #2355
Yes that could be the case that somebody adds a password afterwards. But that little red box around is not a warning it is just displaying nothing more, because the link gets published right away with out any conformation if the user even wants that, because the actively ticked the password protect box. That's my train of taught.
I get the idea that when somebody afterwards changed the password or

[2016-11-28 11:55] MorrisJobke commented on #2329
Fixed with #2363

[2016-11-28 11:55] #2329 closed

[2016-11-28 12:01] MorrisJobke commented on #2368
Maybe @ChristophWurst has an idea for this issue ;)

[2016-11-28 12:05] kiv57 commented on #2352
The error messages always appear, with any file type :
  * "Erreur en-têtes" with 7zip ("headers error" should be the translation ?)
  * "There is a CRC mistake on the file (...) Continue ?" with power archiver (translated from french to).I have to clic "Yes" for each file in the zip.
(test with the same .zip of course)

That said, some files are corrupted and can't be opened, some others seem val

[2016-11-28 12:27] Upgreydd opened #2372 "LDAP error when # used in filter"
### Steps to reproduce
1. Just install fresh NextCloud 10.0.1
2. Try to connect via LDAP to AD server

### Expected behaviour
You should be able to import users from LDAP, but automatically generated filter in second tab "users" doesn't work if you have '#' in your filter namespace

### Actual behaviour
filter automaticaly escape '#' to '\#' but request to ldap server hangs. Without group filter w

[2016-11-28 12:37] jancborchardt commented on #2360
Why don’t we just suppress the animation then? And png has transparency as well, so it’s not only gif. Gif is a normal image type. Other platforms like Twitter, Google etc allow it as well.

@rullzer please comment on the feasibility

[2016-11-28 12:54] nickvergessen commented on #2352
Do zips that only have english characters work?

[2016-11-28 12:57] ChristophWurst commented on #2368
I assume we simply trigger a full view re-render whenever the share model changes and therefore the avatars are loaded twice. So we have to possible solutions: 1. selectively re-render only the parts of the view that really changed. 2. somehow cache the avatars to prevent that flickering.

[2016-11-28 12:58] #2334 closed

[2016-11-28 13:03] ChristophWurst commented on #2350
Nope https://github.com/nextcloud/server/pull/1860 🙊

[2016-11-28 13:06] schiessle commented on #2358
Additionally it would be good to know the Nextcloud version you are using. Thanks!

[2016-11-28 13:09] michaelachmann opened #2373 "htaccess.RewriteBase in config.php is not changing behaviour of nextcloud"
### Steps to reproduce
1. Upgrade from OwnCloud 9 to Nextcloud 10.0.1 (remove files from owncloud directory, expect config and data dir)
2. Check config.php for the line `  'htaccess.RewriteBase' => '/'`
3. Run `occ maintenance:update:htaccess`
4. Try accessing nextcloud installation without /index.php/ in the URL or try using shared links from the owncloud installation

### Expected behaviour
Nex

[2016-11-28 13:11] LukasReschke commented on #2373
Please post your complete `.htaccess` file.

[2016-11-28 13:29] LukasReschke opened #2374 "vsprintf(): Too few arguments at \/var\/www\/html\/lib\/private\/legacy\/l10n\/string.php"
@nickvergessen That seems related to the activity app. Can you take a look? It's on the current beta.

[code]

[2016-11-28 13:42] MorrisJobke commented on #2356
It is already logged: https://github.com/nextcloud/server/blob/6c93fe08f53bff474921d150edabb27ca630edd7/lib/private/Security/Bruteforce/Throttler.php#L171-L171 (but on notice/info level)

[2016-11-28 13:43] blizzz commented on #2284
@MorrisJobke no, one problem is already  the use of ```this```  in the callback..

[2016-11-28 13:48] schiessle commented on #2355
I'm with @nickvergessen. Setting the password failed, the user gets a clear indicator that it failed and why, if the user doesn't perform any additional action the file is shared without a password. I would assume that most people will retry to set a password if they really need it.

@mightyBroccoli it should look like the screenshot here https://github.com/nextcloud/server/issues/2355#issuecommen

[2016-11-28 13:49] nickvergessen commented on #2356
So this can already be done by log readers, closing

[2016-11-28 13:49] #2356 closed

[2016-11-28 13:54] nickvergessen commented on #2374
Fixed with https://github.com/nextcloud/server/pull/2335

[2016-11-28 13:56] #2349 closed

[2016-11-28 13:56] MorrisJobke commented on #2373
If you are using Apache you need to set the `AllowOverwrite` attribute for the Nextcloud folder to `All` - see https://docs.nextcloud.com/server/10/admin_manual/installation/source_installation.html#apache-web-server-configuration

This allows Apache to load the `.htaccess` file and overwrite the settings from the apache config with the values in this file.

[2016-11-28 13:57] MorrisJobke commented on #2373
Please reopen if the `AllowOverwrite` is properly set.

[2016-11-28 13:57] #2373 closed

[2016-11-28 13:58] nickvergessen commented on #2372
@blizzz I guess something is not URL encoding the `#` correctly?

[2016-11-28 14:00] criwe commented on #2354
@nickvergessen not yet, but I will do it, thx for the hint

[2016-11-28 14:00] #2252 closed

[2016-11-28 14:14] LukasReschke opened #2376 "Undefined index: redirect_url at /var/www/html/core/templates/twofactorshowchallenge.php#24"
[code]

cc @ChristophWurst

[2016-11-28 14:16] MorrisJobke commented on #1864
Fixed with #2342

[2016-11-28 14:16] #1864 closed

[2016-11-28 14:18] MorrisJobke commented on #2331
Tested in Firefox.

[2016-11-28 14:19] MorrisJobke commented on #2376
Fixed in #2361

[2016-11-28 14:26] mightyBroccoli commented on #2355
@schiessle yes it does look like that for me. I now enabled the option to enforce password protection to get around this. Perhaps my standpoint is just off, I taught when the user ticks the box nextcloud should make that tick count and kind of "enforce" the user to choose a valid password.

i hope that most of my users will get used to the password protect enforcement, I would like to lift that fo

[2016-11-28 14:28] nickvergessen commented on #2331
I just pulled master and the issue still exists for me.

The conflict div is 457px wide, both entries 230px. So they can not be displayed next to each other.

@MorrisJobke maybe it's because Firefox on iOS has a scrollbar which is much smaller?

[2016-11-28 14:30] schiessle commented on #2357
The question is how do you get the password to the recipient of the mail? If you write the password to the same mail it doesn't add any additional real security. If you expect that people will share it on a different channel you will create a lot of confusion for many users because most expect that they just send out the mail and are done.

[2016-11-28 14:35] DaveWut commented on #1970
I confirm the problem is reproducible. When you go in External Storage and click on the share folder, WebDAV returns a 404 not found in the Google Chrome console. As soon as you select a sub folder not in the root directory of an hard drive, the problem doesn't occur.

I would like to mention that smbclient.so is registered in php.ini, so I guess using it doesn't fix the problem. I am using Ubuntu

[2016-11-28 14:54] mightyBroccoli commented on #2357
To get the password to the recipient of the mail is up to the user. But what is the point of allowing the user the ability to share a link with or without a password and not the same option when sharing via email and the important part is option. The confusion could happen when it's enforced but the same problem is present with the password protected link there the sender has to come around the sa

[2016-11-28 14:59] nickvergessen opened #2377 "innodb_large_prefix is deprecated since MySQL 5.7.7"
This setting is required for the 4-byte support: https://docs.nextcloud.com/server/11/admin_manual/maintenance/mysql_4byte_support.html

The setting was changed to be default enabled in 5.7.7 and at the same time it was deprecated: http://dev.mysql.com/doc/refman/5.7/en/innodb-parameters.html#sysvar_innodb_large_prefix

I'm not sure what that means. I hope it means you simply can't control it anym

[2016-11-28 15:05] nickvergessen commented on #2355
Closing as per above

[2016-11-28 15:05] #2355 closed

[2016-11-28 15:11] kiv57 commented on #2352
No : I already tested files without accents in file name, the problem persists.

[2016-11-28 15:16] blizzz commented on #2377
I got confirmation on IRC (#msql on freenode) from Naktibalda that this will be basically force-enabled. Behaviour stays, switch goes.

[2016-11-28 15:16] #2377 closed

[2016-11-28 15:17] LukasReschke commented on #2364
Patch at https://github.com/nextcloud/server/pull/2378

[2016-11-28 15:18] #2374 closed

[2016-11-28 15:29] motatuc commented on #2311
Hello.

Any idea about that problem? I already checked these similar owncloud issues but the solutions posted there did not help.

https://github.com/owncloud/core/issues/15030
https://github.com/owncloud/core/issues/18886
https://github.com/owncloud/core/pull/19533

I tried to change file-upload.js
[code]
Now I am able to upload files BUT I get this message right after uploading:
[code]

Any idea

[2016-11-28 15:31] nickvergessen commented on #849
When you use resolve directly, it should be looking into the wrong container, because the query() method takes care of that:
https://github.com/nextcloud/server/blob/94432c089f0a598ed2e96d086731b44dc2897918/lib/private/ServerContainer.php#L76-L87

I guess we could also do this on the resolve method, since it it public API https://github.com/owncloud/core/pull/18991

[2016-11-28 15:33] heptathlon commented on #2201
Any news on this?

[2016-11-28 15:33] schiessle commented on #2357
I'm quite sure that if we allow you to set a password but don't send it by mail one of the next request/bug report would be "I send a share to my friend and he can't open it. Why is the password not part of the mail?" And then? Should we then add a option to add the password to the mail or not (even if it makes absolutely no sense to add it to the same mail and would increase the setting nightmare

[2016-11-28 15:34] Putzlappeneimer opened #2381 "Uploading Files in an Anonymous Upload which is an shared folder"
### Steps to reproduce
1. Create a folder for a group on the external storage (SMB) and share this folder with the user.
2. The user goes to his shared folder and creates a public share
3. Upload files over 5 MB into the share

### Expected behaviour
There should be no error-message after the successfull Upload.

### Actual behaviour
Tell us what happens instead
If the file is over 5 MB following

[2016-11-28 15:38] LukasReschke opened #2382 "Job can be deadlocked in oc_jobs"
So I happen to have the https://apps.nextcloud.com/apps/githubmergetracker app installed on one server. And during a test update the app got disabled until I uploaded it finally to the appstore and enabled it there.

But now the cron job registered to run all 15 minutes in https://github.com/LukasReschke/githubmergetracker/blob/91106234b35e36cf5e93cefa0322bddf75f6d6d6/lib/BackgroundJobs/Scanner.ph

[2016-11-28 15:47] eppfel commented on #2071
I created some simple Drafts to start a discussion. I did not consider calendar invites, yet, but first things, first.
I opted for the colorful header, instead of just the logo (proposed by @jancborchardt in #1446 ) as a stronger brand indicator, because we use it in the web application, on nextcloud.com, on Android...
We definitely should use call-to-action buttons in every Mail.
And of course th

[2016-11-28 15:51] ChristophWurst commented on #2376
Any special steps to reproduce this? I visited the u2f challenge page but nothing was logged to nextcloud.log. The 'redirect_url' url parameter was not set.

[2016-11-28 15:52] Putzlappeneimer commented on #2381
A way to prevent this error message, is instead of sharing the subfolders just mount each subfolder specially for that group and share it in the external storage menu. I tried that and the message isnt thrown.

[2016-11-28 16:03] #2364 closed

[2016-11-28 16:05] nickvergessen commented on #2382
the lock is ignored if it's older then 12 hours, we assume its save that a job that took longer then 12 hours is not being executed anymore.

https://github.com/nextcloud/server/blob/0215b004da6af887b3e3efa28c425d41a1c76b9b/lib/private/BackgroundJob/JobList.php#L182-L182

Does that solve your question?

[2016-11-28 16:19] MorrisJobke commented on #2331
Ah - possible.

[2016-11-28 16:19] #2310 closed

[2016-11-28 16:22] mightyBroccoli commented on #2357
@schiessle I really dont get the point. Sure some people will not get this and complain. But if that is the main goal to not have people complain then you could remove the feature all together. Why grant the ability to password protect a link but not a link inside an email?

I get that most people wont even use it, but as you said the send via email feature is quick and easy and with that i would

[2016-11-28 16:33] eppfel commented on #2347
@phsc But to select items, you actually click anywhere on the thumbnail, so moving the icon directly to the thumbnail would decreases usability.

I mean I don't use the favorites feature anyway. Might just an option to disable it?

[2016-11-28 16:40] schiessle commented on #2357
No, because as it is now it serves a specific purpose and provides a good workflow and UX. As said, I'm open for suggestions how a good workflow and UX could look like.

[2016-11-28 16:41] Espina2 commented on #2362
If you only have this option why don't only display them instead of having that two steps solution?

[2016-11-28 16:49] eppfel commented on #2362
Is there any other option than download? Otherwise I would really support @Espina2 proposal. The public pages need a redesign anyway 😅 For people, that never saw nextcloud, it is suboptimal.

The fix to show the wording again is in `mobile.css`:
Replace
[code]
with
[code]

[2016-11-28 16:51] schiessle commented on #2357
While thinking about it... One possible solution could be that we add a "passwort protection" option right next to the share in the "..." menu which allows you to set a password.

Advantage:

* You would first share the file and then set the password, so there would be a good "excuse" not to put the password in the mail.
* When a password was set/changed we could even consider to send the password

[2016-11-28 16:52] LukasReschke commented on #2357
Same problem like we have with the file permissions. I'm still an advocate for having a proper sharing dialogue like Dropbox et al have.

http://www.howtogeek.com/wp-content/uploads/2014/09/dropbox-share-folder-with-other-people.png

[2016-11-28 17:11] blizzz opened #2384 "Too much whitespace between sharee name and icons"
![spectacle n20685](https://cloud.githubusercontent.com/assets/2184312/20678127/e2ed1992-b595-11e6-92c7-d2305441a459.png)

The names are elided, but there is still  so much space :(

@nextcloud/designers

[2016-11-28 17:12] #2382 closed

[2016-11-28 17:20] LukasReschke opened #2385 "After installation no default channel is used"
@MorrisJobke I suppose we should default to `stable` then?

<img width="975" alt="screen shot 2016-11-28 at 18 20 38" src="https://cloud.githubusercontent.com/assets/878997/20678540/6289d2d4-b597-11e6-83b8-e85511163f02.png">

[2016-11-28 17:28] Espina2 commented on #2357
I think that can be more something like this @LukasReschke

![screen shot 2016-11-28 at 17 27 36](https://cloud.githubusercontent.com/assets/11150206/20678805/0ae4c7d4-b590-11e6-8351-d7272569de49.png)
![screen shot 2016-11-28 at 17 27 15](https://cloud.githubusercontent.com/assets/11150206/20678806/0aead962-b590-11e6-8fcc-0ba1963b31be.png)
![screen shot 2016-11-28 at 17 27 01](https://cloud.github

[2016-11-28 17:34] blizzz commented on #2372
@Upgreydd does it help  if you prepend a backslash to the hash, i.e. ``\#``?

Automatically escaping the admin provided LDAP filters is tricky, because a certain amount of control is necessary. Escaping brackets would be a no go, for example,  and also the asterisk for instance. We could just leave the most common things intact, and look into escaping remaining… running danger to double-escape alr

[2016-11-28 18:15] oparoz opened #2387 "Missing space around ellipsis in breadcrumb"
### Steps to reproduce

1. Create a deep folder structure
2. Go to the last folder

### Expected behaviour

There should be ample space around the ellipsis

### Actual behaviour

The angle brackets are squashing the ellipsis

### Server configuration
**Operating system**:

**Web server:**

**Database:**

**PHP version:**

**Nextcloud version:** (see Nextcloud admin page) 11 beta2

**Updated from a

[2016-11-28 18:15] midaw1 commented on #1970
there are several php.ini. moreover desirable to use the fpm. smbclient.so problem takes exactly. check script phpinfo (), that you have loaded smbclient. and not included fpm.

[2016-11-28 18:49] schiessle commented on #2357
nice screenshots @Espina2 what program is this?

In general, please don't hijack this thread. Having a complete other share dialog is not part of this discussion. Please start a new threat for this discussion, or if it exists reuse an existing one.

[2016-11-28 18:55] Espina2 commented on #2357
@schiessle sorry, for posting the screenshots here. Its another "dropbox" made in Portugal/Netherlands app. You can check here https://www.quiver.net/ . You just need to sign in and you will have that "dashboard".

[2016-11-28 18:58] DaveWut commented on #1970
I am not really sure to understand what you mean. The only thing I have done is to enable the module using the command "phpenmod smbclient", then restarting Apache. When I look in /etc/php/7.0/apache2/conf.d/20-smbclient.ini, there is only one line and it's extension=smbclient.so, which is good right?

[2016-11-28 18:59] Espina2 commented on #2357
But this screenshots are very similar for example with Asana https://asana.com/ you have to make login to.

[2016-11-28 19:05] midaw1 commented on #1970
one last line in /etc/php/7.0/cli/php.ini or /etc/php/7.0/fpm/php.ini or /etc/php/7.0/apache2/php.ini...
I always put the do not understand the features and it works

[2016-11-28 19:23] DaveWut commented on #1970
None of the three files you've specified contains the line "extension=smbclient.so". Folder fpm doesn't exist for me. "You always put the do not understand[...]" what? I don't understand what you are trying to say. :/

[2016-11-28 19:46] midaw1 commented on #1970
Add to all these files that line. My English is poor. I sit with a dictionary ... Sorry

[2016-11-28 19:46] rullzer commented on #2368
yes we rerender. We also do cache the avatars. That is why the flickering is so fast ;) Has always been there but before we did not cache so loading took more time.

[2016-11-28 19:52] enoch85 commented on #2071
@eppfel Very nice! I like number 2 and 3 best. What do you think @jancborchardt?

[2016-11-28 19:55] rullzer commented on #2360
We never supported gif there. I can't tell you anything about the orginal reasons. I think GIF is just a pain to work with.

However we have currently no way to suppress the animation in our current image classes. So unless somebody is masocistic enough to dive into our OC_Image class and make it a proper class and then add nice awesome gif stuff to it. It won't happen.

Also note that the users t

[2016-11-28 20:36] Espina2 commented on #2071
I prefer with round buttons, you should increase the margins on open on Nextcloud, and maybe switch to open in the browser, since nextcloud is a brand and if configure but another brand it doesnt make to much sense.

[2016-11-28 20:57] enoch85 commented on #2357
@Espina2 Too many options, I think Dropbox looks better, but not optimal.

[2016-11-28 21:15] mightyBroccoli commented on #2357
@enoch85 I think so too. Dropboxes UI is simple and easy and I think thats what @schiessle meant with not complicated / confusing

[2016-11-28 21:15] Espina2 commented on #2357
This have different context, looks better because it focus in a single thing.

[2016-11-28 21:21] Espina2 commented on #2357
I just want to show how many security layers that specific app have, and they let you choose every single one. Just that.

[2016-11-28 21:37] eppfel commented on #2071
Thx, for the feedback. The rounded buttons are definitively more distinctive. I'll incorporate your feedback and create drafts for different devices/screes-sizes based on 2 and 3. When we decided on the look, we can create designs for the various other templates, to see, if it works well, in all cases.

Just, realized: We didn't ping @nextcloud/designers, yet.

[2016-11-28 21:40] phsc commented on #2347
My idea was, that you had to click directly on the fav star to activate it. The rest of the icon should select the item, but not activate the fav star.
But you're right, it would decrease usability a bit, because you had to click more precisely.

[2016-11-28 23:03] enoch85 commented on #2071
This would be great to have in 11, if not too late?

[2016-11-28 23:04] georgehrke commented on #2071
The first beta is already out, so we are way beyond feature freeze.

[2016-11-28 23:11] DaveWut commented on #1970
So you want me to add the line "extension=smbclient.so" into all php.ini file?

[2016-11-29 06:50] cyphar opened #2390 ""Supported Apps" all come from ownCloud"
### Steps to reproduce
1. Install NextCloud 10.0.1
2. Install the Contacts and Calendar apps using the "+ Apps" interface.
3. Note that all of the Apps come from ownCloud's repos and App Store.

### Expected behaviour
I'd expect the code to come from the nextcloud/calendar, nextcloud/contacts and so on repos.

### Actual behaviour
The code comes from owncloud/{contacts,calendar}.

I get that this

[2016-11-29 07:59] rullzer commented on #2385
Why not daily 😛

[2016-11-29 08:07] enoch85 commented on #2071
Well then, lett's try to make it into 11.0.1 :)

[2016-11-29 08:46] LukasReschke commented on #2390
11 will use the Nextcloud appstore and have automatic migration.

[2016-11-29 08:46] #2390 closed

[2016-11-29 09:03] peha2407 opened #2391 "Warning "Couldn't send mail to following users: ""
### Steps to reproduce
1. Setup the App "LDAP user and group backend"
2. Enter the following LDAP Query (Here: only a section, anonymised) (|(memberof=CN=Teachers,OU=Groups,OU=internal,DC=ourschool,DC=ch)(primaryGroupID=4280))

### Expected behaviour
As a member of the group "Teachers", I should be able to share folders or files with other members of the same group and to notify them by mail.

###

[2016-11-29 09:05] peha2407 commented on #2391
#### Nextcloud log (data/nextcloud.log)
<details>
<summary>Nextcloud log</summary>
[code]
</details>

[2016-11-29 09:20] schiessle commented on #2391
do you have any additional information in the nextcloud.log? Dump question, but are you sure that the user have a valid email address set?

[2016-11-29 09:32] MorrisJobke commented on #2385
I'm on it.

[2016-11-29 09:41] peha2407 commented on #2391
Yes, I am sure that the users have valid email addresses set. One of the teachers not getting mails is the director of our school ...
I can not see any differences between his address and one of those that work.
This is the actual nextcloud.log:
#### Nextcloud log (data/nextcloud.log)
<details>
<summary>Nextcloud log</summary>
[code]
</details>

[2016-11-29 09:48] schiessle commented on #2391
Oh sorry, didn't saw that you can click on "Nextcloud log" to expand it. Just a guess, because the log doesn't give me a lot of information. Does the user for which the email fails have any special character in their names or email addresses? Maybe something doesn't get escaped correctly.

[2016-11-29 09:53] jasonbayton opened #2392 "Feature request: file activity export on demand"
Context: https://help.nextcloud.com/t/is-it-possible-to-export-activity-on-demand/5598

It'd be very useful for reporting/audit purposes to be able to export the activity of a file. Currently it's possible to _see_ what has happened (uploaded, downloaded, shared) when clicking on the file within the web interface:

![](https://help.nextcloud.com/uploads/default/original/2X/0/044ec3b08854a131028541

[2016-11-29 09:59] blizzz commented on #2368
We can attempt to only re-render the permissions, i.e. the popup. I am having a look.

[2016-11-29 10:01] peha2407 commented on #2391
No problem ...
No, all the users are free of special characters. For example: if anybody was called René Hächler, his mail address would be rene.haechler@ourschool.ch

[2016-11-29 10:16] nickvergessen commented on #2392
Activity app => https://github.com/nextcloud/activity/issues

[2016-11-29 10:16] #2392 closed

[2016-11-29 10:26] nickvergessen commented on #2391
The log says: `Address in mailbox given [] does not comply with RFC 2822`
So it seems that the email address is empty for those users.

[2016-11-29 10:29] juliushaertl opened #2395 "Cancel password confirmation on settings toggles state"
### Steps to reproduce
1. Go to public sharing settings
2. Click a checkbox that requires password confirmation (e.g. Allow public sharing)
3. Cancel the password prompt

### Expected behaviour
The checkbox state should not be changed

### Actual behaviour
The checkbox state changes

Password confirmation introduced in https://github.com/nextcloud/server/pull/1447

cc @nickvergessen

[2016-11-29 10:29] ggeorgg commented on #1895
Same problem for me. Just tried it on a fresh installation but after creating a new calendar with user1 and sharing it with user2 I already get that Error OCP\Share Sharing backend for principals not found.

[2016-11-29 10:41] schiessle commented on #2182
I would suggest to make this changes in a new encryption module, there are some other stuff we can improve as well. The advantage of doing this in a second encryption module is that backward compatibility is easy:
Admin can just enable the new module along the old one and set the new one to "default". Every file newly encrypted will be encrypted with the new module and old files can still be loade

[2016-11-29 10:46] schiessle commented on #940
@bronk0 thanks for debugging this issue and providing all the details. I will have a look at it

[2016-11-29 10:51] MorrisJobke commented on #1737
#2314 simply logs everything to the log file even if not started in verbose mode. Does this solve the issue for you? I will close this one here then :)

[2016-11-29 10:51] #1737 closed

[2016-11-29 11:00] rullzer opened #2397 "Incomplete mounts table"
@icewind1991 last week you found an issue with the incomplete mount table.

I just upgraded my personal installation to the beta2. And was hit with the same issue (previews breaking, direct links failing). Only on my installation the files_sharing app was still enabled. Disabling and reenabling fixed the issue.

I have been unable to reproduce it since. But this is not good for UX.
Do we need a re

[2016-11-29 11:00] nickvergessen commented on #2395
Well for the checkboxes this might be possible, but for stuff like the email settings form I'm not sure how to restore the old state and if we even should.

I can only hack this together for each specific case, e.g. like:
[code]

I hope someone has a better idea? @nextcloud/javascript

[2016-11-29 11:04] peha2407 commented on #2391
Ok, but when I look at the users, there stands:
![bildschirmfoto 2016-11-29 um 11 39 33](https://cloud.githubusercontent.com/assets/6813170/20706850/859ef6e0-b629-11e6-8cef-f6e85d31ee28.png)
and in the LDAP Backend, I have made the following entrances:
![bildschirmfoto 2016-11-29 um 11 41 21](https://cloud.githubusercontent.com/assets/6813170/20706955/fabf2f4e-b629-11e6-96ec-fb795e092890.png)

Whe

[2016-11-29 11:04] MorrisJobke commented on #1689
I just retested with latest master and Opera and it is now working.

Please reopen if this issue still happens for you

[2016-11-29 11:04] #1689 closed

[2016-11-29 11:12] MorrisJobke commented on #2385
Fix is in #2396

[2016-11-29 11:20] eppfel commented on #2071
@enoch85 http://semver.org/ 😉 That's not how it works and we are already at 11.0.5.
A complete redesign takes time, but as it's mostly decoupled of other functionality, so maybe a 11.5.0 😁 But that's not for me to decide.

[2016-11-29 11:39] #2385 closed

[2016-11-29 11:40] #2387 closed

[2016-11-29 11:50] rullzer commented on #2328
I have a feeling this is https://github.com/nextcloud/server/issues/1862 so *should (tm)* be fixed in the next release.

[2016-11-29 11:55] blizzz commented on #2368
See https://github.com/nextcloud/server/pull/2398 for a proof of concept

[2016-11-29 11:57] divvet commented on #2328
Is there any fix in the short term? Causing kinda big problems in my organisation. I saw the #2091 fix, if I manually apply this fix should it resolve the issue?

[2016-11-29 12:00] karlitschek opened #2399 "Avatar picture gone after Nc 10 to 11 beta 2 upgrade"
I upgraded Nextcloud 10.0.1 to 11.0 beta 2 with the web updater.
Everything seems to work. But my avatar picture is gone. I had my photo in the header and after the upgrade I only see the display name.
On the personal page I also see an empty profile picture.

### Steps to reproduce
1. upgrade from 10.0.1 to 11.0 beta 2
2. I tested this only once so not sure this is easy to reproduce.

### Expecte

[2016-11-29 12:02] nickvergessen commented on #2328
Should solve it, yes.

[2016-11-29 12:07] LukasReschke commented on #2399
cc @rullzer

[2016-11-29 12:10] nickvergessen commented on #2399
I guess the cron job didnt run yet. Let's see

[2016-11-29 12:18] divvet commented on #2328
I can confirm #2091 fixed my issue. Thank you very much for the help!

[2016-11-29 12:28] phsc commented on #2071
How can we be at 11.0.5 if 11.0.0 is not even released?
But I agree, according to semver.org, this would make it into 11.1.0 at the earliest.

[2016-11-29 12:31] vatanparvar opened #2400 "Writing in a directory shared with an AD group is very slow"
### Steps to reproduce
1. Setup Nextcloud with LDAP authentication.
2. Make a folder with admin account.
3. Share it with other groups (fetched from AD)
4. Try to upload or make a folder in the shared directory or delete from it.

### Expected behaviour
It should upload with a reasonable (depends on bandwidth) or create a folder immediately.

### Actual behaviour
Takes at least 10 - 15 minutes to

[2016-11-29 12:32] LukasReschke commented on #2071
For the record: We don't use semver on the server. Since this is a new feature this will have to be in 12 => Early next year.

[2016-11-29 12:32] LukasReschke commented on #2399
Time to add an on-demand migration when an avatar is requested?

@rullzer Feasible?

[2016-11-29 12:50] rullzer commented on #2399
mmm ondemand is hard. Because either we need to store that it is succesfully migrated or we always look in 2 places when requesting the avatar when it doesn't exist.

[2016-11-29 12:59] nickvergessen commented on #2399
oc_preferences holds a value?
[code]
Can't we check this?

[2016-11-29 13:04] #2328 closed

[2016-11-29 13:06] rullzer commented on #2399
I'll look into that

[2016-11-29 13:16] raoulbhatia opened #2402 "DAV: Unable to put an .ics file to a shared calendar (calendar v1.4.1)"
_(This is also tracked for DAVDroid via https://forums.bitfire.at/topic/1261/updating-existing-uploading-new-record-exception-at-bitfire-dav4android-exception-notfoundexception-404)_
_(This is also tracked as a closed issue at nextcloud/calendar#206 )_

Hi!

I've recently updated calendar 1.4.0 to 1.4.1 and owncloud from 9.1.1 to 9.1.2

Since then, I am unable to create/update events in a shared c

[2016-11-29 13:19] raoulbhatia commented on #2402
Maybe this is only affecting owncloud and should not be tracked here.

The owncloud reference ist owncloud/core#26667

[2016-11-29 13:20] nickvergessen commented on #2402
In order to get help from us, you need to migrate to Nextcloud.

[2016-11-29 13:39] nickvergessen commented on #2402
Tested on Nextcloud 11 beta2 ✅
Tested on Nextcloud 10.0.2-alpha ✅

[2016-11-29 14:11] MorrisJobke commented on #2395
For the email settings just run the blurFunction function - it will take care of the transition back ;)

[2016-11-29 14:15] eppfel opened #2403 "Problem updating/enabling apps installed via git in NC 11"
### Steps to reproduce
1. On NC 10 install an old version of one of these Apps via git: News, Two Factor TOTP Provider (? Mail, ownNote, Tasks, Bookmarks)
2. Update to NC11
3. Search for it in the corresponding app category and try to update/enable it in NC11

### Expected behaviour
During installation apps are updated automatically.
Or if not, a message informing you of your outdated version and

[2016-11-29 14:17] LukasReschke commented on #2403
This is at the moment expected behaviour an update as per our documentation requires that one manually deletes everything except the data and config folder. Thus there is no mismatch expected of apps installed from git and from the appstore.

Furthermore, where possible people should really deploy stuff via the appstore 😉

[2016-11-29 14:22] eppfel commented on #2403
But if I use the Updater I won't look into the manual and, as I recall, the updater did not mention it, neither.

[2016-11-29 14:26] MorrisJobke commented on #2384
Fix is in #2388

[2016-11-29 14:28] MorrisJobke commented on #2403
The updater should delete all files in apps/ afaik.

[2016-11-29 14:30] MorrisJobke commented on #2403
https://github.com/nextcloud/updater/blob/6a9bdc60e19e377c2a00abc579998be36de47f4c/index.php#L699-L699 <- ah it does only delete shipped apps

[2016-11-29 14:35] peha2407 commented on #2391
Oh, you were right: I just have logged in to an AD user in our nextcloud. It works using the AD credentials. In the section "Personal" of this user, the mail address is empty. Other users have got an entry there. This entry must be taken from the AD, because I can not enter it by hand ...
What's going wrong? Why are there users with or without an entry?
![bildschirmfoto 2016-11-29 um 15 25 09](htt

[2016-11-29 14:42] LukasReschke commented on #2403
@MorrisJobke Let's change this to all apps? At least the update routine should now correctly download the apps from the appstore.

[2016-11-29 14:55] MorrisJobke commented on #2403
But what about private apps or apps that are not in the app store - I just fear the incoming :fire: war

[2016-11-29 15:31] peha2407 commented on #2391
I was just silly! Under "LDAP > Advanced > Special Attributes > Email fields", I made a wrong entry ...
Corrected it, now it works! Thank you all!

[2016-11-29 15:33] schiessle opened #2407 "Trashbin: no "restore" action and missing previews"
The trash bin no longer shows a undelete operation.

![trash](https://cloud.githubusercontent.com/assets/1589737/20715760/7def43c4-b650-11e6-925b-5932eb91285c.png)

Also there is no preview if encryption is enabled. Both works on stable10:

![trash - stable10](https://cloud.githubusercontent.com/assets/1589737/20716071/7d0fdc06-b651-11e6-8926-1ecb8e9d8c44.png)

cc @rullzer for the previews

Regard

[2016-11-29 15:38] nickvergessen commented on #2391
Glad to hear :)

[2016-11-29 15:38] #2391 closed

[2016-11-29 15:42] nickvergessen commented on #2403
Create a backup of the apps before deleting?

[2016-11-29 15:53] enoch85 commented on #2071
Aaanyway, better late then never.

[2016-11-29 15:53] blizzz commented on #849
Perhaps it was just wrong  use. I guess we can leave it like it is, why should both methods do the same? ``query`` is invoking ``resolve`` if necessary.

[2016-11-29 15:56] #2384 closed

[2016-11-29 15:56] MorrisJobke commented on #2403
This is already done.

[2016-11-29 15:57] MorrisJobke commented on #849
Then close this ticket or not?

[2016-11-29 16:01] ChristophWurst opened #2408 "Cannot select last item in file picker"
The last item in the file picker file list is overlapped by a white gradient and therefore not selectable.

You can see the gradient on the folder icon here:
![bildschirmfoto von 2016-11-29 16-58-56](https://cloud.githubusercontent.com/assets/1374172/20717248/393df766-b655-11e6-8726-95a41682ca5d.png)
(resized the window to have a shorter list)

cc @icewind1991 @skjnldsv

[2016-11-29 16:07] MorrisJobke commented on #2362
Fix is in #2410

[2016-11-29 16:07] blizzz commented on #1470
Here you go https://github.com/nextcloud/server/pull/2409

[2016-11-29 16:07] skjnldsv commented on #2408
Will someone ever get such a small window height? :p

[2016-11-29 16:07] MorrisJobke commented on #2362
see #1450

[2016-11-29 16:11] ChristophWurst commented on #2408
That's unrelated. I just resized to a smaller window because I was too lazy to create some folders :-) This is an issue with standard windows sizes too.

[2016-11-29 16:16] skjnldsv commented on #2408
Well, there is a white space at the end of the list to prevent that.

[2016-11-29 16:21] schiessle commented on #940
@bronk0 maybe you can test the fix here: e8ea9a5d276369c83d98ba4efe9bc969d06a9148 Thanks!

[2016-11-29 16:25] MorrisJobke commented on #2071
Only use it as inspiration or try to integrate it (see bower.json ;))

[2016-11-29 16:27] ChristophWurst commented on #2408
Current master:
![bildschirmfoto von 2016-11-29 17-25-30](https://cloud.githubusercontent.com/assets/1374172/20718393/ddb4b160-b658-11e6-9264-65f6ab864c7a.png)
Ignore the missing folder icons, something's screwed up on my dev env.

There are 1 or two pixel of the very last image that are clickable on the top. The rest isn't.

[2016-11-29 16:28] ChristophWurst commented on #2408
As always, it works on Chrome:
![bildschirmfoto von 2016-11-29 17-27-46](https://cloud.githubusercontent.com/assets/1374172/20718485/31dbd7b4-b659-11e6-8e7c-7a1a9c721f0e.png)

[2016-11-29 16:32] skjnldsv commented on #2408
AHahaha, sorry! I should have checked!

[2016-11-29 16:33] ChristophWurst commented on #2408
Well, I should have mentioned that I'm using FF 😉

[2016-11-29 16:57] schiessle opened #2413 "Previews for empty files broken"
Steps to reproduce:

1. Create a empty text file in the web ui
2. edit the file and add some content
3. go to versions drop down

Result:

broken preview for the empty version of the file (should fall back to the mime icon)

![versions](https://cloud.githubusercontent.com/assets/1589737/20719799/50174f16-b65d-11e6-8288-4d0f6e9b1cbe.png)

cc @rullzer

[2016-11-29 17:01] rullzer commented on #2413
I'll have a look

[2016-11-29 17:21] midaw1 commented on #1970
exactly... and restart server.

[2016-11-29 17:26] LukasReschke commented on #2403
Ok. Then let's go the other way around and modify the app logic to also allows updates if the app is incompatible atm. Which well, makes kinda sense 🙈

[2016-11-29 17:49] #2362 closed

[2016-11-29 18:30] #2408 closed

[2016-11-29 19:51] rullzer commented on #2413
Fix in #2414

[2016-11-29 20:41] asterismo commented on #2358
its 10.0.1 stable

[2016-11-29 21:44] #849 closed

[2016-11-29 21:57] blizzz commented on #2270
What if in between steps of other apps require different (in between) server state?

[2016-11-29 22:07] blizzz commented on #2213
@MorrisJobke indeed, and I agree it needs some checking. Nevertheless to understand the issue (and handle it more properly), I am interested why ``null`` is even returned there. It is supposed to come directly from LDAP.

@KB7777 perhaps it is related to one (or more) faulty records. Could you switch to debug level logging, retry and provide the resulting logs? Hoping to find more answers there.

[2016-11-29 22:15] blizzz commented on #456
It works fine with OwnCloud 8 on the same server with same LDAP configuration.

*Should* work just as well ;)

@ghost can you set log level to debug and provide the log output when running ``./occ ldap:search --group $name`` (replace ``$name`` accordingly)?

@bigbrovar is the attribute specified in the settings?

[2016-11-29 22:34] blizzz commented on #1895
Perhaps the issue lies somewhere within the dav app part in core, at least that would be a starting point to look at.

[2016-11-29 22:36] georgehrke commented on #1895
For querying users and groups we use the endpoint of the files_sharing app?
Is the Sharing API enabled in the admin settings?

[2016-11-29 22:44] ggeorgg commented on #1895
In my nextcloud admin setting the point "allow apps to use sharing API" (in german) is enabled.
I have to add, that I am not using ldap and the user with whom I shared the calendar was properly displayed when I entered the first letter of the user.

[2016-11-29 23:11] eppfel commented on #1450
@VagishVela Still up for it?

[2016-11-29 23:36] eppfel commented on #2403
I know, that I don't know! 😳
I would be satisfied with an info that you can uninstall and install again.

(...slowly walks out of the conversation 🚪 )

[2016-11-30 06:47] VagishVela commented on #1450
@eppfel Oh yes, sorry. It fell off my radar since it wasn't assigned to me.

[2016-11-30 07:32] rullzer commented on #2399
Ok, so... if we would want live migration this would basically require more filesystem setup for each avatar. Probabaly adding it to the release notes or something makes more sense as for 99% of the people they will appear back within 15 minutes.

[2016-11-30 07:42] rullzer commented on #2407
Fix for the preview in #2415

Here it does show the restore option btw...

[2016-11-30 07:57] #2102 closed

[2016-11-30 08:02] #1470 closed

[2016-11-30 08:47] Innenseide commented on #132
@blackcrack At least there are people on github who, unlike you, try to help and contribute.

You, apparently, can do nothing but complain and demand work and time from others. Your whole post history is a stream of complaints and demands. If you think this is an important issue, go and fix it and contribute your code. If you can only complain and insult people who try their best with workarounds,

[2016-11-30 09:03] #2413 closed

[2016-11-30 09:18] jancborchardt commented on #2360
Good points @rullzer, thanks for the clarification.

[2016-11-30 09:18] #2360 closed

[2016-11-30 10:09] blackcrack commented on #132
humm.. this is a issue tread and not a wiki tread.
thank you.

[2016-11-30 10:20] nickvergessen commented on #2270
Yeah, we need some kind of dependency chain. We had the very same problem in phpBB as well: https://github.com/phpbb/phpbb/blob/master/phpBB/phpbb/db/migration/data/v31x/v312rc1.php#L23-L29
It has one migration for each release. And that one should be listed as a dependency of the app then, so they can only "depend" on releases, not on inbetween steps. However there is no "run before", because tha

[2016-11-30 10:27] funilrys commented on #132
Because you first don't respect 2 or more aspect of the [Code of Conduct](https://nextcloud.com/code-of-conduct/) of this community, you don't deserve an answer or even a comment about your responses @blackcrack.

[2016-11-30 10:31] #1326 closed

[2016-11-30 10:37] blackcrack commented on #132
oh, why do you answer ?
this tread should be closed !
thank you ..

[2016-11-30 10:37] MorrisJobke commented on #2270
For this case we should introduce a "delete app with all settings" way. And then make it mandatory to run it if the versions are too different.

[2016-11-30 10:43] Clevero commented on #1166
I have the same problem here.

Files cannot be downloaded via IE 9. Firefox and Chrome are working as expected (on desktop)

Nextcloud version: 10.0.1
Two instances have the same behavior
1. git stable10
2. installed via zip from nextcloud.com

PHP version: PHP 7 (7.0.12-1)

Apache error log:
`
[Wed Nov 30 10:51:36.451557 2016] [:error] [pid 18721] [client 127.0.0.1:50089] PHP Fatal error:  Uncaug

[2016-11-30 11:13] jancborchardt commented on #2347
@MorrisJobke this might have more activity, but the description is confusing. ;) Closing this in favor of the original plan https://github.com/nextcloud/server/issues/2193

[2016-11-30 11:13] #2347 closed

[2016-11-30 11:13] jancborchardt commented on #2193
@MorrisJobke this has a clear plan though. ;) Reopening hence

[2016-11-30 12:38] MorrisJobke commented on #2284
Fix is in #2417

[2016-11-30 12:54] KB7777 commented on #2213
@blizzz I switched to debug mode and with big OU (2k users) I has 4 errors like:
`Debug	user_ldap	The ldap user manager returned null for 0B46xxxx-xxxx-43B2-xxxx-4B659078xxx 2016-11-30T13:33:31+01:00	admin`

I spotted what is that object (normal user) and which OU contains it.
Later I set that OU only at Nextcloud settings and I had more accounts with errors like "returned null for" :(

Every acco

[2016-11-30 12:59] milkomeda opened #2418 "Broken link to issue template in CONTRIBUTING.md"
see link
`[template]: https://raw.githubusercontent.com/nextcloud/server/master/.github/issue_template.md`
in
`https://github.com/nextcloud/server/blob/master/CONTRIBUTING.md`

The link results in an `404: Not Found`.

The directory `.github`  directory does not exists in `nextcloud/server/master/`.

[2016-11-30 13:06] rullzer commented on #2376
So... fixed?

[2016-11-30 13:30] icewind1991 commented on #2418
Thanks for spotting the error, fix is here: https://github.com/nextcloud/server/pull/2419

[2016-11-30 13:31] #2284 closed

[2016-11-30 13:32] icewind1991 commented on #2397
tried reproducing on clonecloud with no success

[2016-11-30 13:43] icewind1991 commented on #137
Moving the data directory should work on every new Nextcloud instance or any instance upgraded from ownCloud 5.0.12 or later. If someone runs into issues while moving the data directory in one such instance feel free to open a new issues for it

[2016-11-30 13:43] #137 closed

[2016-11-30 13:51] milkomeda opened #2421 "Group restrictions for apps are not displayed correctly"
### Steps to reproduce
1. Set group restrictions for a specific app (tried calendar, contacts, tasks)
2. Log out
3. Log in again
4. Check group restricitions for specific app

### Expected behaviour
I expected to see the specific apps group restrictions in apps list.

### Actual behaviour
Although the group restricitions for a specific app are set and working. The user interface shows no group res

[2016-11-30 14:10] #2418 closed

[2016-11-30 14:24] ChristophWurst commented on #2376
I fixed the second error and could not reproduce the first. Maybe it was fixed too? Not sure.

[2016-11-30 14:37] MorrisJobke commented on #2399
Yes - put it in there. We talked about this and the migration should be fast and not blocked by the avatar migration.

I also think that not available avatars until the cron job has run is acceptable here.

[2016-11-30 14:37] MorrisJobke commented on #2399
@karlitschek Opinion on this?

[2016-11-30 14:39] MorrisJobke commented on #753
@blizzz Could I ask you to create a ticket for 12 that sums up what is left here? Thanks :)

[2016-11-30 14:41] MorrisJobke commented on #1474
Can't reproduce anymore -> close

[2016-11-30 14:41] #1474 closed

[2016-11-30 14:45] MorrisJobke commented on #2001
It's already done ;)

[2016-11-30 14:48] karlitschek commented on #2399
I agree. This is acceptable. The strategy to do long running migration steps in a background job is good. Exactly how it should be. But should mention this in the release notes.

[2016-11-30 14:49] tommyent commented on #288
👍

[2016-11-30 15:02] MorrisJobke commented on #2001
Fix is in #2425

[2016-11-30 15:04] MorrisJobke commented on #2376
I also can't see the first one anymore -> let's close this then.

[2016-11-30 15:15] LukasReschke commented on #2180
We actually check for this at https://github.com/nextcloud/server/blob/d7dd399bbda8da55f46db6e8f825bf282efbec52/lib/private/legacy/util.php#L731-L765. I suspect this code path is not reached because the simplexml_load_file is executed before.

[2016-11-30 16:10] ezraholm50 commented on #1025
He he... there is none... any advice on that? Or how do I delete all the entries en recreate the tables? Thanks for the help @nickvergessen

[2016-11-30 18:22] DaveWut commented on #1970
Hi,

This is not working and doesn't change anything to the behavior. I still receive a 404 not found from the WebDAV module when tempting to browse the SMB share through the menu "External Storage". This is what makes NextCloud automatically redirect to "All files" as described by @iG8R .

[2016-11-30 18:55] ramondg commented on #482
+1

[2016-11-30 19:46] philip-n opened #2426 "Add optional description for folders"
Sometimes it would be nice to be able to add a description/annotation to folders, which would then be displayed in the nextcloud clients. Basic use cases that I encountered are folders which are shared between multiple persons (description of content or usage rules) and special folders (use description as a reminder e.g. not to rename folders that are used by apps).

### Frontend realization
In th

[2016-11-30 20:58] rullzer commented on #2407
@schiessle #2415 is in. I can't reproduce the restore that is missing. So can't help there.

[2016-11-30 21:16] justin-sleep opened #2427 "Statement.php change breaks oc_authtoken insertion"
### Steps to reproduce
1. Use Nextcloud server after 9b808c4
2. Try to log in on a computer without an auth token

### Expected behaviour
Statement.php's "remember" value should be an integer, either a 0 or a 1 depending on whether the session should be remembered. The "remember" column of the "oc_authtokens" table contains only integers.

### Actual behaviour
The remember value is either "true" o

[2016-12-01 00:13] asterismo commented on #2358
No clue... still cannot.

[2016-12-01 04:04] cyphar opened #2429 "Uploading lots of files creates undelete-able files"
### Steps to reproduce
1. Upload ~1GB of small image files.
2. Select all of the uploaded files and try to delete them.

### Expected behaviour
All of the files are uploaded, and then they're all successfully deleted.

### Actual behaviour
Some of the file uploads fail with SQL query errors, and attempting to delete some files doesn't work. The files show as having been "deleted" in the history bu

[2016-12-01 04:12] cyphar commented on #2429
After restarting the server a few times, it becomes possible to delete the files. However, the failure-to-upload still continues for the same files (with the same error as before).

[2016-12-01 04:25] cyphar commented on #2429
Here's what the activity log looks like for the undelete-able directory.

<details>
![undeletable](http://i.imgur.com/jl6wEju.png)
</details>

[2016-12-01 08:46] jancborchardt commented on #2362
@Espina2 the existing issue for that is https://github.com/nextcloud/server/issues/1450 :)

[2016-12-01 09:12] MorrisJobke commented on #482
@ramondg Could you test the changes in #497? Thanks :)

[2016-12-01 10:50] lephisto opened #2431 "App passwords vanish"
### Steps to reproduce
1. Enable TOTP Plugin in
2. Create 2 or more App Passwords
3. After some time the Desktop App starts asking for the per-device Token.

### Expected behaviour
App Passwords (per-device passwords) should work infinite,

### Actual behaviour
somehow the app passwords vanish from the personal menu in NC. I have to genereate a new App Password, then the Desktop Client works again

[2016-12-01 10:51] nerdissimo-de commented on #2352
I can confirm the error. When trying to upload to Gmail it doesn't allow the upload because it thinks there is a virus (there definitely isn't). When trying to open the file with 7zip or Nemo Fileroller it's also not possible. Funny thing is: When I use the commandline unzip it works fine.

[2016-12-01 10:51] LukasReschke commented on #2431
Did you change your user password in the meanwhile?

[2016-12-01 10:52] LukasReschke commented on #2429
cc @icewind1991

[2016-12-01 10:53] lephisto commented on #2431
No.

[2016-12-01 10:53] LukasReschke commented on #2431
FYI @ChristophWurst

[2016-12-01 10:54] lephisto commented on #2431
The only "unusual" thin is, that it's external user authentication...

[2016-12-01 10:56] #2001 closed

[2016-12-01 11:10] z707 commented on #1730
I also can not sync after the update to 10. (debian 8.6, php 5.6.27, nginx 1.6.2 with recommended setup)
In logs nextcloud and nginx is no records with this problem.
I use a self-signed server certificate.
With turn off curl's verification of the certificate request all ok - i can see calendars.
Thunderbird and DAVdroid not sync calendars and contacts.

[2016-12-01 11:17] #2369 closed

[2016-12-01 11:29] nickvergessen commented on #1025
@ezraholm50 manipulate the `oc_appconfig` database table and set the `configvalue` for `appid = 'dav' AND configkey = 'installed_version'` to a lower version then you have currently. Afterwards an update should be triggered which generates the missing tables.

[2016-12-01 12:36] schiessle commented on #2407
@rullzer thanks, previews work fine again. Do you see the restore button next to the file, like in the second screenshot? I just tried again on master with Firefox and Chromium, no restore button for me.

[2016-12-01 13:07] rullzer commented on #2407
yes I do...

[2016-12-01 13:10] schiessle commented on #2407
Strange, I tried everything, delete browser cache, etc.... The restore button is not there. Can someone else verify if this is rally just me... cc @nickvergessen @MorrisJobke

[2016-12-01 13:18] mightycoco opened #2433 "files-app: Bad Performance on folder with many images in WebUI only"
### Steps to reproduce
1. Browse a folder in the WebUI containing about 5000 files
-> takes ~5 minutes to load
2. Browse the same folder when mounted via a WebDav folder (windows)
-> takes ~30 seconds to load
3. Browse the same folder on a mobile app (e.g. HopicExplorer on Windows Mobile)
-> takes ~30 seconds to load

### Expected behaviour
The performance shouldn't be THIS much worse in the WebUI

[2016-12-01 13:19] LukasReschke commented on #2433
cc @icewind1991

[2016-12-01 13:32] schiessle commented on #1938
this pr will fix it: https://github.com/nextcloud/server/issues/1938

[2016-12-01 13:36] nickvergessen commented on #2407
Previews work here, but the "Restore" action is missing. But it works with the "Restore selected" option.

[2016-12-01 13:42] blizzz commented on #1895
This exception is thrown in lib/Share/Share::getBackend() instead. If it succeeds sometimes and sometimes not, it sounds a bit of a race condition, but this does not seem likely. Perhaps some initialization mixup, but then it should be consistent for you, still.

 @schiessle do you have an idea?

[2016-12-01 13:53] blizzz commented on #2213
@KB7777

The message occurs when a list of users from LDAP is received and some information is stored in Nextcloud (displayname, email, avatar, etc. if applicable). However this message indicates an issue with some of the records: a user object cannot be instantiated.

It's a good question why this happens, since we just got it from LDAP. Could you check the records for reported UUIDs on LDAP? May

[2016-12-01 14:07] schiessle commented on #2407
Yes, this also works for me. But it should work without selecting the file first. If you inspect the HTML code you will see that the code for the restore button is there but for some reasons it is not shown. Couldn't figured out why.

[2016-12-01 14:13] rullzer commented on #2407
Mmmm clean setup and now it is missing indeed
seems some weird CSS magic I might have a fix

[2016-12-01 14:55] nickvergessen commented on #2421
Works quite fine here. Which groups do you select, maybe it depends on the groups name.

[2016-12-01 14:58] nickvergessen commented on #2431
@ChristophWurst is there maybe a background job which deletes tokens of deleted users and it doesn't check for the external users?

[2016-12-01 15:19] icewind1991 commented on #2433
Is already fixed for nc11

[2016-12-01 15:42] #2407 closed

[2016-12-01 15:48] compuguy commented on #1569
@nickvergessen I'm no longer working for the company for which the nextcloud/owncloud instance had a issue with. You can try to contact @JamesonFinney about this issue for more information.

[2016-12-01 16:12] 0scillator opened #2442 "Email not sent when entering address into 'Email link to person' field"
### Steps to reproduce
1. click 'share link'
2. both: enter mail address into 'Email link to person'-field manually OR via autocomplete
3. hit enter

### Expected behaviour
should send email notification to entered address

My email configuration works. I normally can send emails and I can do it via 'Test email'

### Actual behaviour
no email is sent
logfile reads: 'Error'   'php'   'Undefined ind

[2016-12-01 16:34] blizzz opened #2443 "Missing pieces: user mentions in Comments"
With 11 we put the cornerstones for user mentioning in comments (cf. #753). It's not end user friendly yet, though. For Nc 12 we have left to accomplish:

* [ ] When writing or editing a comment and typing an @ in the beginning of a word followed by another character an auto-complete is offered. It only includes users that have access to the file. Results are supposed to show up with a slight dela

[2016-12-01 16:38] blizzz commented on #753
@MorrisJobke here we go: https://github.com/nextcloud/server/issues/2443

Closing this one here therefore.

[2016-12-01 16:38] #753 closed

[2016-12-01 17:53] ChristophWurst commented on #2431
No. We only delete old temporary tokens in the background (session tokens): https://github.com/nextcloud/server/blob/stable10/lib/private/Authentication/Token/DefaultTokenMapper.php#L50-L62 https://github.com/nextcloud/server/blob/stable10/lib/private/Authentication/Token/DefaultTokenProvider.php#L191-L193 https://github.com/nextcloud/server/blob/master/lib/private/Authentication/Token/DefaultToke

[2016-12-01 17:54] ChristophWurst commented on #2431
What are we talking about here? Minutes? Hours? Days? :-)

[2016-12-01 18:07] milkomeda commented on #2421
Group "admin" for instance. Did you log out and immediately log in again to check app group restrictions?

[2016-12-01 19:02] eppfel commented on #2288
I was thinking...
When we move to SASS we actually could give up on the practice, of overwriting styles with an additional theming stylesheet and move the variables (which are mainly just colors) to the original SASS files.
Less files to load, less CSS rules to apply, much happy 👏
Of course this implies more theming code in the core. I don't know if this is desired 🤔
Starting development does not

[2016-12-01 19:32] rullzer commented on #2433
@mightycoco if you are a brave soul you could try the beta!

[2016-12-01 19:33] ezraholm50 commented on #1025
@nickvergessen you are the shizznit!!! Finally have a working calendar again, much appreciated!

[2016-12-01 19:34] mightycoco commented on #2433
@rullzer on my list for tomorrow

[2016-12-01 19:53] eppfel opened #2447 "Avoid AJAX calls on page load e.g. load config in DOM"
As mentioned in #2272 we could remove some requests to improve loading speed.

[2016-12-01 20:00] eppfel commented on #2272
As HTTP2 is coming, asset pipeline will get obsolete. I don't know if image sprites or CSS compression would still be worth the effort, but I would advise opening dedicated issues and closing this one.
I moved @cdauth's proposal to get rid of some AJAX calls to #2447 and added documentation for HTTP2 in the documentation nextcloud/documentation#242

[2016-12-01 20:15] rullzer commented on #2447
Already done in the beta

[2016-12-01 20:15] #2447 closed

[2016-12-01 20:45] rullzer commented on #2431
@ChristophWurst ah mmm that could explain it. But we should really be resilient against backend hickups. Mmmm of course we don't get back if it failed (timeout whatever) or really failed.

Maybe we could just add a column that says if the token is valid/invalid? Or a counter or whatever. So that we at least try a few times?

Then if a user logins in using it username and password we could check th

[2016-12-01 20:47] rullzer commented on #2300
Maybe it is just related to https://github.com/nextcloud/server/issues/2431

[2016-12-01 22:51] icewind1991 commented on #2433
I'm aware that loading the comments information will still give a pretty heavy slowdown, hoping to work on that once 11 is out of the door (requires non-trivial changes).

Disabling the comments app is a workaround for people not relying on the functionallity

[2016-12-01 23:34] MorrisJobke commented on #2130
will be fixed with #1234

[2016-12-02 01:45] foobar commented on #2443
😅

[2016-12-02 08:48] nickvergessen commented on #2421
Yes, works quite fine here:

[2016-12-02 09:26] mightycoco commented on #2433
Performance in the beta is better, disabling the comments app does really bring a huge performance boost on these large folders.

Not sure, if there should be paging when listing so many files. Currently the entire folder contents are downloaded which generates a ~5MB xml response for the folder. But that's a different story.

Thanks guys and feel free to close this issue as I doesn't seem to have

[2016-12-02 09:35] blizzz commented on #2300
@rullzer yes, that might be it

[2016-12-02 10:07] enoch85 opened #2466 ""Loading" svg is not transparent"
### Steps to reproduce
1. Create a federated share

### Expected behaviour
The "loading" svg to be transparent

### Actual behaviour
![deepinscreenshot20161202110156](https://cloud.githubusercontent.com/assets/4511254/20830121/57967784-b87f-11e6-99f0-21262b7fe3e9.png)

### Server configuration
**Operating system**:
Ubuntu 16.04 Server
**Web server:**
Apache 2.4
**Database:**
MySQL 5.7
**PHP versio

[2016-12-02 10:08] LukasReschke commented on #2433
@icewind1991 Can you file a new issue about this one or should we keep that one here?

@mightycoco Thanks a lot for testing 🚀

[2016-12-02 10:53] tobiasKaminsky commented on #679
Closed as moved to calendar repo

[2016-12-02 11:29] georgehrke commented on #679
I know that the caldav sharing standard says something about reminders. Will have to research that

[2016-12-02 11:40] MorrisJobke commented on #2466
Fix is in #2469

[2016-12-02 11:54] MorrisJobke commented on #2245
Fixed in #2470

[2016-12-02 12:49] jancborchardt opened #2472 "When updating app in the apps mgmt, notices don’t hide"
When you click the »Update to 1.0.22« button on an app in the apps management, the notices about app updates don’t hide:

- Text »This app has an update available.« directly above the button
- showNotification up top: »You have 2 app updates pending«
- Notification »Update for Spreed video calls to version 1.0.22 is available«

All of these should vanish the moment the app is properly updated and

[2016-12-02 13:20] jancborchardt opened #2473 "After deleting profile picture, delete button should vanish"
After deleting the profile picture:
![capture du 2016-12-02 14-19-08](https://cloud.githubusercontent.com/assets/925062/20835348/5d1f4440-b89a-11e6-96e3-d154e223b668.png)
That button should vanish again, cc @icewind1991

[2016-12-02 13:21] nickvergessen commented on #2472
The notification of the Notification app will vanish on the next poll. Currently there is no public JS API to vanish one manually or cause a retrigger. Will have some thoughts on this.

[2016-12-02 13:35] hanserasmus opened #2474 "Upgrade PHP-opencloud to support Swift DLO"
### Steps to reproduce
1. Install new version of Nextcloud
2. Connect to functioning Openstack Swift Cluster
3. Try to upload a file larger than 5Gig.

### Expected behaviour
Nextcloud should upload the file with success, as it would a 10MB file for example.

### Actual behaviour
Nextcloud gives an error stating it was unable to upload the file.

### Server configuration
**Operating system**:
Cent

[2016-12-02 13:58] jancborchardt opened #2476 "Nice emptycontent for »No previous versions available«"
Currently the emptycontent view of versions in the sidebar is very bland:
![capture du 2016-12-02 14-59-23](https://cloud.githubusercontent.com/assets/925062/20836503/eeffb048-b89f-11e6-954a-d2f49b6fc83a.png)

Instead we should use the emptycontent view like for Comments:
[code]

@schiessle currently only text can be used there. Can you change it so we can put that HTML in there?

[2016-12-02 14:00] jancborchardt opened #2477 "Icon in unshare dropdown broken"
A recent change broke the icon+text layout of the »Unshare« action in the right sidebar:
![capture du 2016-12-02 14-45-37](https://cloud.githubusercontent.com/assets/925062/20836517/016c3d5a-b8a0-11e6-96dd-1a72d35d394d.png)

[2016-12-02 14:00] jancborchardt commented on #2477
cc @nextcloud/designers

[2016-12-02 14:29] schiessle commented on #2477
I can't reproduce this on master (tested with firefox and chromium)

[2016-12-02 14:51] #2245 closed

[2016-12-02 14:52] schiessle commented on #2473
... and if you upload a profile picture for the first time the delete button should directly appear, not only after page reload. 😉

[2016-12-02 14:52] MorrisJobke commented on #2477
Works for me in german and english:

![bildschirmfoto 2016-12-02 um 15 51 59](https://cloud.githubusercontent.com/assets/245432/20838099/58c85a28-b8a7-11e6-8bcc-ec03409eb041.png)
![bildschirmfoto 2016-12-02 um 15 52 15](https://cloud.githubusercontent.com/assets/245432/20838100/58c8915a-b8a7-11e6-8cbc-8ab1bbce3a4d.png)

[2016-12-02 14:53] #2466 closed

[2016-12-02 15:47] MorrisJobke opened #2481 "Nextcloud info.xml tag handling inconsistent (between app store and app management)"
9 and 10 parsed the owncloud tag and mapped 9.0 to Nextcloud 9 and 9.1 to Nextcloud 10

With the advent of Nextcloud 11 we will parse a nextcloud tag if present or otherwise map the owncloud versions to Nextcloud versions. However it seems that the nextcloud tag mixes both versions up, so if you wanted to set your minimum Nextcloud version to 10 and maximum to 11 you would write

    <nextcloud mi

[2016-12-02 16:07] skjnldsv commented on #2477
I can reproduce!
![capture d ecran_2016-12-02_17-06-47](https://cloud.githubusercontent.com/assets/14975046/20840795/ba989ca4-b8b1-11e6-8318-cd872236fcb4.png)

The span used can't have a width/height defined as it's not a block element. We should use display: inline-block or change it to a div :)

[2016-12-02 16:15] skjnldsv commented on #2477
2d91831b5092c9d04a20cbe55a31cc41cec10fbe broke it!

[2016-12-02 16:26] cyphar commented on #2429
Alright I figured out that `php occ files:scan cyphar` appears to fix the issue. Though I noticed that after a few server reboots the files disappeared by themselves. I ended up resorting to deleting the files from `data` and then manually doing a `files:scan`.

[2016-12-02 16:33] jancborchardt commented on #2472
Ok, but the other two things definitely need to vanish directly, and at least the text element directly above should be linked to it.

[2016-12-02 16:43] #2083 closed

[2016-12-02 16:43] skjnldsv commented on #2477
Working on it

[2016-12-02 16:56] MorrisJobke commented on #2481
I just looked at the code and this is then an issue with the app store.

[2016-12-02 16:56] #2481 closed

[2016-12-02 17:03] #2476 closed

[2016-12-02 17:07] skjnldsv commented on #2477
Fix in #2483

[2016-12-02 17:23] jancborchardt commented on #2477
@skjnldsv thanks a lot! :) Weird that this commit broke it because that was the one we introduced it with and also tested it :?

[2016-12-02 17:25] skjnldsv commented on #2477
@jancborchardt since the span isn't displayed as block, the only thing that showed the icon background was the padding. Removing the padding resulted in an empty element of width 0! :)

[2016-12-02 17:35] LukasReschke opened #2487 "Missing sudo mode checks"
- [x] OCS API
  - [x] Provisioning API #2505
- [x] App management (https://github.com/nextcloud/server/pull/2509)
  - [x] Enable app (https://github.com/nextcloud/server/pull/2509)
  - [x] Disable app (https://github.com/nextcloud/server/pull/2509)
  - [x] Change groups for app (https://github.com/nextcloud/server/pull/2509)
- … ?

FYI @nickvergessen

[2016-12-02 18:49] #2477 closed

[2016-12-02 19:03] #1825 closed

[2016-12-02 20:15] rullzer commented on #2399
Added to changelog.
CC @jospoortvliet to make sure we communicate it

[2016-12-02 20:15] #2399 closed

[2016-12-03 07:32] putt1ck commented on #1420
Also seeing user management performance issues in a new deployment - where the expectation was that Nextcloud would handle the groups & LDAP would just be for authentication (with a move to true SSO using CAS once the plugin for that's available).

NB search on the user management page is a particular concern - where using search in the main UI to add someone to a share is reasonably quick, search

[2016-12-03 08:20] #1938 closed

[2016-12-03 10:10] #2427 closed

[2016-12-03 11:03] tflidd commented on #2203
even more people are asking:
https://help.nextcloud.com/t/error-during-upgrade-owncloud-9-1-2-to-nextcloud-10-0-1/5642
https://help.nextcloud.com/t/change-from-owncloud-to-nextcloud/5563

@LukasReschke @MorrisJobke

[2016-12-03 11:22] heaven73 commented on #1228
same behaviour on a webdav share on IIS tried to connect to as external storage on a fresh installation. The Webdav share can be reached by various davclients like cyberduck

[2016-12-03 11:35] MorrisJobke commented on #2203
Mmmmh ... maybe we also should run also integration tests to upgrades from ownCloud to Nextcloud. Because we only test this from time to time (not how nextcloud migrations).

cc @karlitschek

[2016-12-03 18:29] jancborchardt opened #2492 "Ability to play music in Files"
Just like you can view pictures, PDFs, movies etc you should also be able to do basic music playing in the Files app as it’s a basic file action – opening it.

Especially when sharing stuff this is cool so the other person doesn’t need to download everything first before listening to it.

cc @nextcloud/javascript is this feasible?

[2016-12-03 20:28] MariusBluem commented on #2492
What I've found: https://github.com/biosonic/folderplayer

[2016-12-03 21:27] somenxavier opened #2494 "Sqlite support"
Please support sqlite in nextcloud as your [parent does](https://doc.owncloud.org/server/7.0/admin_manual/configuration/database_configuration.html). Sqlite is useful for embed devices such as rasperrypi for example and local environment,

[2016-12-03 21:41] Rello commented on #2492
Thank you @MariusBluem
yes I have :-)

Audio Player has the "one click play" from files app and also the integration into the sharing screen (incl. cover art).
Also usable without using the core of AP as ID3 indexing and so on...

https://apps.nextcloud.com/apps/audioplayer
https://github.com/Rello/audioplayer

[2016-12-03 21:45] rigrig opened #2495 "Unable to log in after upgrade from 10 to 11 beta2"
This happened just after updating from NC 10 to 11 beta 2.
After the upgrade I am still logged in, but trying to log in in a private browser window fails.

### Steps to reproduce
1. While not logged in, go to the login page
2. Enter valid credentials
3. Press "Log in"

### Expected behaviour
I should be logged in

### Actual behaviour
I get an error message:

### Server configuration
**Operating s

[2016-12-03 21:52] MariusBluem commented on #2494
We do ;) ... Simple answer 😜😅

[2016-12-03 21:52] #2494 closed

[2016-12-03 22:30] LukasReschke commented on #2495
This should be fixed by https://github.com/nextcloud/server/pull/2428, could you test if applying that patch solves your problem?

[2016-12-03 23:12] rigrig commented on #2495
It does, thanks!

[2016-12-03 23:12] #2495 closed

[2016-12-04 11:27] somenxavier commented on #2494
So the bug is against documentation: in [yours](https://docs.nextcloud.com/server/10/admin_manual/configuration_database/linux_database_configuration.html) you just comment MariaDB and Postgresql but not sqlite. And your parent [does](https://doc.owncloud.org/server/7.0/admin_manual/configuration/database_configuration.html). On the other hand, you say in docs that sqlite is the [default option in

[2016-12-04 11:55] riegercloud commented on #801
In Nextcloud 11 beta2 the issue regarding the calculation of user quota re-occurs.
Wasn't it fixed in NC11?

[2016-12-04 12:24] MariusBluem commented on #2494
ownCloud does nothing different on their documentation as you can see over here: https://doc.owncloud.org/server/latest/admin_manual/configuration_database/linux_database_configuration.html

The link you are providing is from a old and unsupported ownCloud 7 documentation.

Bugs in the documentation should be discussed over here: github.com/nextcloud/documentation

THX! 😉

[2016-12-04 13:08] bronk0 commented on #940
The fix works. File_versions is working again on the unencrypted home storage.

[2016-12-04 13:25] riegercloud commented on #801
i made a fresh installation and it works like a charme!

[2016-12-04 17:09] mr-bolle opened #2498 "HTTP/1.1 507 Insufficient Storage"
### Steps to reproduce
1. A User [User B] from the Nextcloud Server share a folder with a other User [User A]
2. If User A would upload Files to this shared Folder

### Expected behaviour
User A would change files or upload new to the shared folder

### Actual behaviour
The Windows Client can't synchronize the changes.
If i delete this shared Folder, and create a new folder i can upload the files

[2016-12-04 19:30] NitroxydeX opened #2499 "htaccess Rewrite-Base brings up false positive security message"
### Steps to reproduce
1. enable 'htaccess.RewriteBase' in config
2. upgrade htaccess via command
3. get error message about accessible data directory

### Expected behaviour
No error message should appear

### Actual behaviour
Error message that data directory is accessible by direct access. False positive - requests will be redirected to login page. original data directory and original nextcloud

[2016-12-04 20:36] karlitschek commented on #2203
hmm. true. maybe we should check this automatically. yes. A lot of people are migrating

[2016-12-04 22:25] Vlad-M-1 commented on #2499
I have the same problem with Nextcloud 10.0.1, Apache and Rewrite-Base.

The reason [is located there core/js/setupchecks.js](https://github.com/nextcloud/server/blob/v10.0.1/core/js/setupchecks.js#L201) :

[code]

As you can see, there's attempt to open test file. It's considered successfully open if response code is not 403, 307 and 301 and response body is not empty. The problem is Apache retur

[2016-12-05 08:26] ChristophWurst commented on #2300
@blizzz which user back end was used? Was it an external one like in https://github.com/nextcloud/server/issues/2431#issuecomment-264141308?

[2016-12-05 09:03] blizzz commented on #2300
@ChristophWurst yes, LDAP

[2016-12-05 10:26] nickvergessen commented on #1764
Should still fix in 10

[2016-12-05 10:29] LukasReschke commented on #2431
@ChristophWurst c.nc.c uses LDAP.

[2016-12-05 10:30] nickvergessen commented on #2442
Tested while fixing https://github.com/nextcloud/server/issues/1764

and works all fine for me. So this might be fixed already in the upcoming 10.0.2 release.

[2016-12-05 10:30] #2442 closed

[2016-12-05 10:32] nickvergessen commented on #1778
Closing

[2016-12-05 10:32] #1778 closed

[2016-12-05 10:33] nickvergessen commented on #1591
@icewind1991 can you check whether updating to 10.0.2 works on postgres?

[2016-12-05 10:56] MorrisJobke commented on #2492
Also pinging @gnarula and @paulijar ;)

[2016-12-05 10:57] MorrisJobke commented on #2499
Maybe the same as https://github.com/nextcloud/server/issues/1051

@rullzer or @LukasReschke could one of you look into this false positive. I also have seen many reports for this in the forums.

[2016-12-05 11:05] #2326 closed

[2016-12-05 12:18] KB7777 commented on #2213
I am still invastigating, but is it possible the problem is caused by too long OU path? And polish characters-set at OU names?

[2016-12-05 13:12] sokai opened #2506 "Do not upgrade if PHP version is not supported by new version"
### Steps to reproduce
1. Installed version: `10.0.1 (beta)`
2. Upgraded to `11.0 beta 2` via web-updater

### Expected behaviour
Disallow the upgrade to a newer version of Nextcloud if that doesn't support current installed but required software.

### Actual behaviour
After the successful upgrade following message is shown:

### Server configuration
**Operating system**:
Ubuntu 14.04.5 LTS _(yesi

[2016-12-05 13:16] LukasReschke commented on #2506
Dupe of https://github.com/nextcloud/updater/issues/53

Replace all files except data and config with the 10.0.1 code.

[2016-12-05 13:16] #2506 closed

[2016-12-05 13:30] sokai commented on #2506
@LukasReschke Thx!

**Conc. the restore:** I found the backup in my data folder as `nextcloud-9.1.0.13` and restored that successfully…

**Conc. the dupe:** Sry, I missed that. – Should I close this issue here (and maybe add a comment to nextcloud/updater#53)?

[2016-12-05 14:19] #2331 closed

[2016-12-05 14:20] #1764 closed

[2016-12-05 14:21] MorrisJobke commented on #1764
fixed with #2502

[2016-12-05 14:24] umgfoin opened #2510 "Upgrade NC 10.0.1 to 11 beta 2: Incorrect schema migration on Postgres (9.6)"
### Steps to reproduce
1. Upgrading NC from 10.0.1 to 11 beta 2
2. sudo -u www_nc php occ upgrade
3. upgrade succeeds - no error reported
4. nc-mainpage login not possible due to wrong table definition in oc_authtoken

### Expected behaviour
Datatype of column "oc_authtoken.remember" should be 'boolean' after this upgrade.

### Actual behaviour
Datatype is 'smallint' thus not accepting INSERTs of

[2016-12-05 14:33] #2472 closed

[2016-12-05 14:38] #940 closed

[2016-12-05 14:55] MorrisJobke opened #2511 "Install page - hover glitch for radio button group"
When the option is hovered it is some pixel smaller than the others which causes a weird jumping effect:

![bildschirmfoto 2016-12-05 um 15 50 20](https://cloud.githubusercontent.com/assets/245432/20889392/2b6c2cc2-bb03-11e6-9b95-23e421a7d128.png)

It's not the hovered state itself but seems to be the ui-state-hovered class that is added by jquery-ui.

cc @nextcloud/designers @juliushaertl @skjnld

[2016-12-05 15:05] MorrisJobke commented on #2510
@umgfoin Thanks for the report - we fixed this with #2428 and it will be available via the next pre-release of Nextcloud

[2016-12-05 15:05] #2510 closed

[2016-12-05 15:09] MorrisJobke commented on #2282
We have many users using Nginx and PHP 7.0 and never seen such a problem. Maybe double check the configs from https://docs.nextcloud.com/server/10/admin_manual/installation/nginx_nextcloud_9x.html

As this looks like a setup issue I would guide you to the forums to search for help there: https://help.nextcloud.com

Thanks

[2016-12-05 15:09] #2282 closed

[2016-12-05 15:11] MorrisJobke commented on #1465
@nickvergessen Could I ask you to split out the stuff that doesn't make it into 11 to a separate ticket for 12? Thanks ;)

[2016-12-05 15:14] MorrisJobke commented on #1211
All done except templateeditor -> closing nevertheless because it's aCI job PR anyway ;)

[2016-12-05 15:14] #1211 closed

[2016-12-05 15:20] MorrisJobke commented on #2499
I found the other ticket: #2499

Closing as duplicate then.

[2016-12-05 15:20] #2499 closed

[2016-12-05 15:52] NitroxydeX commented on #2499
@MorrisJobke Wrong ID? #2499 is this Ticket here.

[2016-12-05 16:12] MorrisJobke commented on #2499
Yes - I meant #1364

And the fix is in #2513 ;)

[2016-12-05 16:31] jancborchardt opened #2514 "Show contact avatars in »share by email« feature"
I only see the avatar placeholders. The contact images are not loaded.

@schiessle does it work for you?

[2016-12-05 16:52] posledov commented on #2282
My configuration almost the same as the configuration from the documentation
[vimdiff](http://i.piccy.info/i9/d8ad392f6b9d81db3a4405f054eed651/1480956460/151431/985382/2016_12_05_18_39_19.png)

P.S.: https://help.nextcloud.com/t/frequent-log-offs-ajax-authentication-error/3845/4

[2016-12-05 17:24] schiessle commented on #2514
I will have a look

[2016-12-05 17:37] schiessle commented on #2514
Yes, I can verify it... Let me see if I can find out how the avatars are loaded.

[2016-12-05 17:59] blizzz commented on #2213
Sounds unlikely… but how much is "too long"?

Once upon a time I tested it successfully with Persian, so Polish characters should be fine, too.

One issue that could arise is when creating a username out of an attribute that contains special characters and transliteration is not possible. This, however, would just make affected users be skipped.

[2016-12-05 18:46] rullzer commented on #2514
Won't work currently. Avatars are not fetched from the contacts but from the system. Won't get fixed for 11.

[2016-12-05 19:25] jancborchardt commented on #2514
Hmm really? :\ That’s very strange as it feels like a bug. cc @nextcloud/contacts folks too.

[2016-12-05 20:27] jospoortvliet commented on #1472
There's more than iframing this.

What about embedding an image on a public website, in a forum somewhere?

Say you're on a forum like here:
https://forum.kde.org/viewtopic.php?f=221&t=137440&p=367768#p367768
and you want to embed an image from a Nextcloud instance, you get a URL like:
https://share.kde.org/index.php/apps/files_sharing/ajax/publicpreview.php?x=600&y=558&a=true&file=sharing.png&t=t

[2016-12-05 20:57] MorrisJobke commented on #919
Not reported and noticed since then -> seems to be not an issue anymore.

[2016-12-05 20:57] #919 closed

[2016-12-05 20:59] MorrisJobke commented on #1438
Fixed in 11.

[2016-12-05 20:59] #1438 closed

[2016-12-05 21:18] MorrisJobke commented on #1464
Fix is in #2519

[2016-12-05 21:30] MorrisJobke commented on #2487
All merged

[2016-12-05 21:30] #2487 closed

[2016-12-05 21:40] rullzer commented on #2514
Not a bug. Just not where we load them from. We never did (or had to before) because we always only could share with local users (federated/group have no avatar) and link shares were not even displayed in the list.

[2016-12-05 21:52] MorrisJobke commented on #2256
Fix is in https://github.com/nextcloud/files_videoplayer/pull/13

[2016-12-05 22:25] #482 closed

[2016-12-05 22:25] #2256 closed

[2016-12-05 22:37] MorrisJobke commented on #1490
cc @rullzer - isn't this already implemented somehow?

[2016-12-05 23:34] MorrisJobke commented on #1364
Fix is in #2513

[2016-12-05 23:59] eppfel opened #2523 "Make Nextcloud a great image hosting/upload service"
@jospoortvliet mentioned in #1472 it would be nice to serve images directly from Nextcloud to embed them in forums/github/etc.

Besides the image preview generated by Nextlcoud, there is the, not so obvious, direct **/download** shortcut you can add to share links:

So this:
[code]
Creates this:
![Test picture of Khao Sok National Park, Thailand](https://cloud.githubusercontent.com/assets/1899308/

[2016-12-06 00:00] eppfel commented on #1472
@jospoortvliet I opened a dedicated issue, because the use case @skerbis mentioned, is a little bit different and like your idea!

@skerbis Why does your "folder" have to be embedded into another site? Would theming and a direct link not be enough?

[2016-12-06 00:18] mightyBroccoli commented on #2357
Are there any news or is all hope lost :( ?

[2016-12-06 05:35] rullzer commented on #2523
Creating such an URL should be doable. But I have no idea how to do the US there.

[2016-12-06 07:57] #1364 closed

[2016-12-06 08:03] MorrisJobke commented on #2523
This is done by intention. Serving the content as inline content would allow XSS attacks. To properly do this we should serve Rheinland content from a different domain. (Like the githubuservontent domain here on Github)

Cc @lukasreschke

[2016-12-06 08:05] MorrisJobke commented on #2357
@mightybroccoli Calm down. This ticket is roughly one week old and we are just right before a release. So we don't spend mich time on new features

[2016-12-06 08:06] MorrisJobke commented on #1472
See also https://github.com/nextcloud/server/issues/2523#issuecomment-265085663 for the security aspects ;)

[2016-12-06 09:06] LukasReschke commented on #2523
Correct. We need a separate domain or only allow this for inages that we have re-encoded. (e.g. passed through our preview class)

[2016-12-06 09:07] LukasReschke commented on #2523
So a preview endpoint sounds sane to me - but what is the expected behaviour if we can't generate one? Error message? File icon?

[2016-12-06 09:31] skerbis commented on #1472
@eppfel the best thing would be a PHP-Class which allwos me to show the Folders, Files and Subfolders inside the Website. The Folder is managed inside nextcloud but should be shown on the Website. Perhaps does anyone know a PHP-Script for integrating a webdav-browser?

[2016-12-06 10:08] rullzer commented on #2523
just a 404?

[2016-12-06 10:18] LukasReschke commented on #2431
https://github.com/owncloud/core/issues/26731 might also be related

[2016-12-06 10:24] ChristophWurst commented on #2431
Interesting. If that report is correct it happens with local users too.

[2016-12-06 10:30] jm-andonegi commented on #2523
Hi:
Could it be possible to apply something similar to HTML files so that we could serve static websites?

[2016-12-06 10:31] LukasReschke commented on #2523
That is not possible for security reasons without having a usercontent domain as @MorrisJobke in https://github.com/nextcloud/server/issues/2523#issuecomment-265085663 pointed out.

[2016-12-06 10:32] ChristophWurst opened #2526 "Minor design issues with browser sessions and device passwords"
Just updated my private installation to beta2 and notice some minor design issues on the personal settings page:

- [ ] multiple popover menu of sessions/passwords can be opened (they should close if I click somewhere outside the menu, there's a ``OC.registerMenu`` helper or similar)
- [ ] the popover's arrow is not aligned to the three dots, it's too much on the right

![bildschirmfoto von 2016-1

[2016-12-06 10:35] ChristophWurst commented on #2431
Do we have some reliable steps to reproduce? Otherwise it's tricky to find and verify a bugfix.

[2016-12-06 10:47] lephisto commented on #2431
@ChristophWurst In my Installation it happens nearly daily: I create a new per-device Token, use it, and next Day the Client will ask for a password - Device pw has vanished..

[2016-12-06 11:01] #1464 closed

[2016-12-06 11:02] #2511 closed

[2016-12-06 11:04] MorrisJobke commented on #2511
Fixed with #2524

[2016-12-06 11:05] MorrisJobke commented on #2526
Similar to #2329

[2016-12-06 11:05] MorrisJobke commented on #2526
Fixed with #2363 by @blizzz

[2016-12-06 11:46] MorrisJobke opened #2527 "ConnectException for files_external:notify"
Running `files_external:notify` with username and password for user shares that use User credentials cause a ConnectException:

[code]

cc @icewind1991

[2016-12-06 11:47] icewind1991 commented on #2527
make sure `sbmclient` (the binary) is installed and in path

[2016-12-06 11:49] MorrisJobke commented on #2527
Okay. Task for you: Detect this and show a proper error message ;)

[2016-12-06 12:06] icewind1991 commented on #2527
https://github.com/nextcloud/server/pull/2528

[2016-12-06 12:11] ChristophWurst commented on #2431
I started a simply testing user backend for this purpose, but I could not yet figure out where external user backends might fail. https://github.com/ChristophWurst/user_crappy/blob/master/lib/CrappyUserBackend.php Currently we invalidate device passwords if the password check fails, because those clients should be logged out.
Do we have any logs or stack traces? E.g. from the LDAP user backend?

[2016-12-06 12:12] ChristophWurst commented on #2431
Btw does it also happen if you disable all 2FA providers?

[2016-12-06 12:48] blizzz commented on #2368
What do you think, is this something for 12 or still 11? Basically done in #2398.

[2016-12-06 12:54] ChristophWurst commented on #2431
Some thought:
* the user sessions checks the device token periodically (~once in 5 minutes)
* it uses the user manager to check the password
* the user manager uses the registered user backends to check the password

Therefore, I assume it could also happen that for some reason the user backend is not (yet) registered when we check the token and therefore the user manager falsely fails the passwor

[2016-12-06 13:00] blizzz commented on #2431
@ChristophWurst do you try to fetch the user from a user backend? Externals might be offline at some point, for example. Or do you listen to delete hooks?

[2016-12-06 13:08] blizzz opened #2531 "JS Tests for the share dialog (sidebar)"
We have none yet (only for files specific features).

[2016-12-06 13:33] ChristophWurst commented on #2431
Do we have an mechanism to detect whether a user backend is just temporarily unavailable? That sound problematic otherwise. https://github.com/nextcloud/server/blob/b1901534be20ab768c4f5dccaa5c7c81fb472aa8/lib/private/User/Manager.php#L187-L202 will iterate over all registered backends. If one is not there temporarily, the password check will fail because the method returns `false`. The client cod

[2016-12-06 13:37] nickvergessen commented on #2431
Could it be related to mis-casing of the login name? We had problems with avatars and sharing related to that. If so the problem should be fixed with stable10 and master?

[2016-12-06 13:53] phsc commented on #2526
Also similar to https://github.com/nextcloud/calendar/pull/212

[2016-12-06 14:24] jm-andonegi commented on #2523
And could it be possible to replicate the content in a public folder of the server and offer the user the public link?

[2016-12-06 14:36] jancborchardt commented on #2523
So there is absolutely no other way to do this? Because then a normal person just installing their Nextcloud on shared hosting or such can’t really be expected to configure another subdomain just for image embedding. :\

[2016-12-06 14:41] LukasReschke commented on #2523
As long as we re-encode images that is fine, see https://github.com/nextcloud/server/issues/2523#issuecomment-265097364. But we can't serve user content directly without any re-encoding. Thus this will only work for some limited file types, basically those that we can preview already.

[2016-12-06 14:51] blizzz commented on #2431
@ChristophWurst LDAP throws an Exception if the server is not reachable or has gone. But, what if a user was removed there by accident and restored a bit later (example scenario)?  Or for instance is temporarily not available because of a buggy configuration change? Do tokens need to be removed this aggressively?

[2016-12-06 16:10] #2526 closed

[2016-12-06 16:18] jospoortvliet commented on #2523
@LukasReschke well that does cover the most important file types, images in particular.

[2016-12-06 16:20] jospoortvliet commented on #1084
@icewind1991 what about the issue @benmichael mentioned, of a potential limit on the nr of separate buckets? Does this mean Nextcloud 11 can't handle more than 100 users per account on S3 right now?

[2016-12-06 16:30] schiessle commented on #1597
That can't work because if the admin could "magically" give other users access to your files the encryption wouldn't be really secure. In this case the user has to do what Nextcloud suggest, ask the owner of the file to re-share it with you.

If you don't want this and can except a less secure solution you can enable the master key ` occ encryption:enable-master-key` but this only works on system

[2016-12-06 16:30] #1597 closed

[2016-12-06 16:36] icewind1991 commented on #1084
you can limit the number of buckets used

[2016-12-06 16:38] schiessle commented on #375
That's possible. In the encryption section of your admin settings you can exclude the home storage from encryption. This means that all local files in data/user/files will not be encrypted. Then you can configure in the external storage settings your external storage (e.g. your gdrive) to be encrypted.

We will not provide a general per-folder encryption. Why this sounds convenient at first sight.

[2016-12-06 16:38] #375 closed

[2016-12-06 16:45] MorrisJobke commented on #2368
12

[2016-12-06 17:39] jm-andonegi commented on #2523
But the public folder could be created in the installation process and a subfolder could be created by the system for each user (or just for some users with public publishing priviledges). The copy would be managed by the local external storage mechanism and the system could offer public link (right click menu).

[2016-12-06 18:24] eppfel commented on #2523
@jm-andonegi I think the discussion shows, this is a different topic. I think there was already a similar request in another issue. Please search for it or open a new issue, so we can focus on the image previews here. Thx 😉

[2016-12-06 19:31] aronovgj opened #2536 "file_exists() expects parameter 1 to be a valid path"
### Steps to reproduce
Not sure. Happens when logging in. But not every time. Started to happen after upgrade to beta.

### Expected behaviour
No errors.

### Actual behaviour
`Error	PHP	file_exists() expects parameter 1 to be a valid path, resource given at /var/www/nextcloud/lib/public/AppFramework/Http/StreamResponse.php#57`

### Server configuration
**Operating system**:
Mint 18

**Web server:

[2016-12-06 19:42] jm-andonegi opened #2537 "[Feature request]: create a public folder to host HTML files"
I work with a HTML editor (eXeLearning), so I need an easy way to publish HTML files and I would like to work and publish my files with NextCloud. I know it is not possible to publish files directly in NextCloud, but I was wondering how easy/difficult would be to develop something like this:

1. Use Local storage system to synchronize a folder in NextCloud and a public folder in the server.
2. A c

[2016-12-06 19:44] jm-andonegi commented on #2523
Sorry. Just thought both needs could be solved the same way.

I didn't find any issue about HTML files so [I opened a new one here](https://github.com/nextcloud/server/issues/2537).

[2016-12-06 21:13] ChristophWurst opened #2538 "Text on 2FA page hard to read"
On the two-factor page, "Log out" and "Use backup codes" are hard to read, especially on bright or contrasty backgrounds:
![bildschirmfoto von 2016-12-06 22-04-35](https://cloud.githubusercontent.com/assets/1374172/20943677/d8b8ebe2-bc00-11e6-8491-ad74b1f6982f.png)
![bildschirmfoto von 2016-12-06 22-05-03](https://cloud.githubusercontent.com/assets/1374172/20943678/d8b931f6-bc00-11e6-80e3-f62b741e

[2016-12-06 21:58] bspire opened #2539 "Mount External Storage via SFTP and RSA Public Key Failed"
### Steps to reproduce
1. Login to nextcloud
2. Activate App "External Storage Support"
3. Navigate to Administration -> External Storage
4. Add external Storage via SFTP, Authentication RSA Public Key
5. Upload Public RSA Key to Storage Provider (Strato HiDrive in this case)
5. Fill Configuration of External Storage Provider

### Expected behaviour
External Storage gets mounted successfully, LED

[2016-12-06 22:00] Espina2 commented on #2538
I already post a solution for that here. https://github.com/nextcloud/server/issues/1615

[2016-12-06 22:19] ctvera commented on #741
I have the same problem on just installed server.

I uploaded some data, shared them. Second user moved them from shared folder and then I see some items twice.

[2016-12-06 23:04] reinerj opened #2540 "Login with Client Mac not possible on 10.0.1"
We upgraded our install from 10.0 to 10.0.1. Login from browser work as excepted. Wth the desktop client it does not work anymore.

### Expected behaviour
Client should be able to connect

### Actual behaviour
Secure connect not possible. Also http not possible

### Server configuration
**Operating system**:
Nextcloud in Docker

**Web server:**
Apache

**Database:**
MySQL

**PHP version:**
5.6

**

[2016-12-07 04:35] kudumi opened #2541 "Allow multiple accounts to sync the same local folder"
when using the multi-account feature it's not possible to sync the same folder to multiple servers.

I think, owncloud users use symlinks to get it working but it doesn't work with nextcloud.
https://github.com/owncloud/client/issues/3764

any working solution would be great!

[2016-12-07 07:54] vatanparvar commented on #2400
UPDATE: This problem disappeared by disabling Activity app (Version 2.3.2). As soon as this app is disabled, everything worked smoothly.

[2016-12-07 08:04] putt1ck commented on #2400
For interest (& reason I subscribed) do you find the users list more responsive after this workaround?

[2016-12-07 08:19] mpopp opened #2543 "files starting with a "." not shown in web-frontend (e.g. .gitignore)"
### Steps to reproduce
1. try to add a file via web-frontend (drag and drop) which starts with a "." in the filename (e.g. .gitignore)

### Expected behaviour
The file should be shown in the web-frontend just like any other file.

### Actual behaviour
Activity feed says "you created file .." but the file isn't shown in the frontend (even after refresh)

### Server configuration
**Operating system*

[2016-12-07 08:25] LukasReschke commented on #2543
Check the settings in the lower left and enable "Show hidden files".

[2016-12-07 08:25] #2543 closed

[2016-12-07 08:25] mpopp commented on #2543
sry... just found the settings... never mind I was to stupid to look at the bottom of the page :)

[2016-12-07 09:00] vatanparvar commented on #2400
@putt1ck Yes it's much more responsive.
I initially thought this is a LDAP related problem and for that I written a [set of scripts](https://github.com/vatanparvar/LDAP-User-and-Group-Generator-For-Nextcloud) to fetch all the users and groups from Active Directory and create them locally in Nextcloud. However, after loading all 480 users, as soon as I shared a folder with a group with more than 10

[2016-12-07 09:03] putt1ck commented on #2400
I tried disabling Activity but (Samba) LDAP user list still very slow, and search only works if you've forcibly loaded the userlist (wait for first screen, page down until loading symbol appears, wait, page down etc. until no loading symbol)

[2016-12-07 09:10] vatanparvar commented on #2400
@putt1ck I have experienced the same behaviour with users list. Even when all the users were created locally in Nextcloud, users list load them in chunks, meaning you had to still go through the same 'wait, page down' procedure. And to be honest, with 480 users, it wasn't that much faster than what it is now when using LDAP.
However the main objective for me was write speed in shared directories w

[2016-12-07 09:17] putt1ck commented on #2400
K, thx for info - suggests I should post bug report on user management

[2016-12-07 09:23] juliushaertl opened #2544 "Popover menu is in the wrong place in some apps"
The 3-dots menu seems to be some pixels off in some apps.

Calendar:
![2016-12-07-101810_152x192_scrot](https://cloud.githubusercontent.com/assets/3404133/20961766/d0a4c672-bc66-11e6-87a2-0f2938912a90.png)

News:
![2016-12-07-101848_267x143_scrot](https://cloud.githubusercontent.com/assets/3404133/20961768/d269a5c2-bc66-11e6-97ad-7784aec0a6b9.png)

In the new spreed app it works fine here.

Seems

[2016-12-07 09:28] skjnldsv commented on #2544
Fixing asap.

[2016-12-07 09:58] blizzz commented on #642
@focparty  Display Name and Username are two different things. Could you elaborate?

[2016-12-07 10:48] GitHubUser4234 commented on #642
As #1302 has been closed as duplicate of this issue, I'd like to throw in my support for enabling email modification independently from `OC_User::canUserChangeDisplayName`. There are in fact use cases where changing the display name should be disabled while changing email should be enabled.

After some discussion with @blizzz , it might be necessary to consider that user_ldap overwrites the email

[2016-12-07 10:51] cemrich commented on #2172
I'm experiencing the same issue with a fresh install of Nextcloud 11.0 beta 2.

I have user1 with an address book shared to user2. User1 is seeing his contacts birthdays just fine. User2 has no own address book but is seeing all contacts of user1. I tried to create an abonnement for user2 to get the birthdays:

- https://my-server-url/remote.php/dav/calendars/user1/contact_birthdays/
- https://my-

[2016-12-07 11:18] GitHubUser4234 opened #2546 "Resetting password with encryption enabled shows spinning wheel forever"
When encryption is enabled and a user resets his password by clicking the "Reset password" button, an error message is displayed and a spinning wheel which spins forever. The password is successfully changed though.  It would great if the user could be informed about the successful change and the error could be for example an appropriate warning instead.

Sceenshots:

1)
![image](https://cloud.git

[2016-12-07 12:20] bspire commented on #2539
Link to nextcloud forum discussion:

https://help.nextcloud.com/t/mount-strato-hidrive-external-storage-via-sftp-failed/5798

[2016-12-07 12:22] ddeenniiss commented on #2272
Fresh install on a new server, open Files -> it's 208 requests (!) and 6 sec to load the page ... Just crazy ...

[2016-12-07 12:47] LukasReschke opened #2547 "SMB change notification rename operations are wrong ordered in log"
[code]

The second line should have the different order.

cc @icewind1991

[2016-12-07 12:55] LukasReschke opened #2548 "Change notifications on "Log-in credentials, save in database" SMB shares"
I've stumbled upon the fact that change notifications require a password passed via OCC if one uses
""Log-in credentials, save in database". Is there any real reason for doing so @icewind1991? Can't we just take one available credential and take that?

cc @MorrisJobke FYI – Ticket 96020

[2016-12-07 14:17] iteco commented on #2203
original question is still open .. is the version string manipulation the solution (referred above) or should I wait that NC 11 is out ? (as you have solved it there.. ??)

and once you answer to that, you could also update migration page accordingly
https://nextcloud.com/migration/

cheers,

[2016-12-07 15:29] icewind1991 commented on #2548
There is no guarantee that different credentials give access to the same files (with the same permissions etc) so there is a risk in guessing which set of credentials to use

[2016-12-07 15:35] LukasReschke commented on #2548
Good point! I'll pass that forward.

Is there any way that we can automatically start new listeners for every user that this applies to? Like have the admin start it via OCC and from there on it will automagically do all right for all users?

[2016-12-07 15:57] pbek opened #2552 "CalDAV PUT requests on ics fails on NC11"
### Steps to reproduce
1. I installed NC 11 from git to test [QOwnNotes](https://github.com/pbek/QOwnNotes) on it
2. I run `ocdev server --port 8081` and create some tasks with the tasks app
3. I was able fetch an ics item like <http://localhost:8081/remote.php/caldav/calendars/admin/admin-test/ownCloud-q47z41o38h5o1ogr9bsu1sjornlzh20xogwr2x6zizv583q5mi.ics> via GET
4. I got this result back

[cod

[2016-12-07 16:00] LukasReschke commented on #2552
cc @rullzer Mind diving into this? :bigeyes:

[2016-12-07 16:10] LukasReschke opened #2553 "" object_update_event" & "object_add_event""
@nickvergessen on c.nc.c in the activity app when filtering for calendar I see the following:

![2016-12-07_17-10-43](https://cloud.githubusercontent.com/assets/878997/20975543/177a76b2-bca0-11e6-80c7-76b00ac94413.png)

[2016-12-07 16:13] pbek commented on #2552
Very much appreciated! :bowing_man:

[2016-12-07 17:50] blizzz commented on #2403
I came across the same situation.

For historical reasons I keep  non-shipped apps in an additional app-folder:

[code]

Perhaps the updater should take this into  account?

[2016-12-07 18:32] Lartza commented on #1793
Also broken in 10.0.2RC2 and 11.0.0RC1, postgresql 9.6.1
This bugreport is missing the complete error which for me is `SQLSTATE[08006] [7] FATAL: role "oc_Lartza" does not exist`, this happens after pressing "Finish setup"

The problem I think is NC10 and NC11 create the role lowercase as oc_lartza but try to use it as oc_Lartza, NC9 creates the role as oc_Lartza without lowercasing it.

[2016-12-07 18:33] LukasReschke commented on #1793
@icewind1991 Please take a look. Thanks.

[2016-12-07 19:01] Lartza commented on #1793
I can confirm role case to be a change between the versions, and a possible reason why it breaks. Fresh install, same postgres server, all nextcloud versions were given the postgres user in setup to access the server, only 9.0.55 RC2 succeeds. Couldn't immediately pinpoint a commit that changed this but there must be one.

[code]

Upgrading the successful 9.0.55 RC2 install to 10.0.2 RC2, web upda

[2016-12-07 19:21] Lartza commented on #1793
Changing
https://github.com/nextcloud/server/blob/a89b033869db08f1ad3483a5ab3fe774e898fa0f/lib/private/Setup/PostgreSQL.php#L159 to
`$query = $connection->prepare("CREATE USER \"" . addslashes($this->dbUser) . "\" CREATEDB PASSWORD '" . addslashes($this->dbPassword) . "'");`
changes the error to `SQLSTATE[08006] [7] FATAL: database "nextcloud11" does not exist`

One step forward and one back since

[2016-12-07 19:37] inpos opened #2554 "ios dont send Auth basic in header"
### Steps to reproduce
1. Configure caldav on ios

### Expected behaviour
Setting up caldav successful

### Actual behaviour
During caldav account setup process ios dont accept login and password.
I have two servers with the same configuration. On another server setup process finished successful.
By using tcpdump I determine that ios dont send "Authorization: Basic" in request header.
But send to

[2016-12-07 20:06] nickvergessen commented on #1793
I just installed 11 beta2 and 10 on postgres 9.5 yesterday, worked quit fine.

[2016-12-07 20:11] hahnn opened #2555 "PostgreSQL Database error with v11Beta2"
I tried to upgrade owncloud 9.1.2.5 to nextcloud 11Beta2 and after the upgrade I was unable to log in.
My database is under PostgreSQL (v 9.5).
I've seen a SQL error in my postgresql error log file which basically says that:

nextcloud is trying to insert what seems to be a boolean (with value 'f') in the remember column of table oc_authtoken. But in PostgreSQL, this column is defined with type sm

[2016-12-07 20:12] LukasReschke commented on #2555
cc @icewind1991 @ChristophWurst

[2016-12-07 20:13] LukasReschke commented on #2555
@jospoortvliet I suppose this is a candidate for https://nextcloud.com/blog/win-a-t-shirt-by-testing-nextcloud-11-rc1/

[2016-12-07 20:16] Lartza commented on #1793
I think I originally installed my production server as Nextcloud 10 (and not 9) on 9.5, but it could have been 9.4 too without issues too. In any case it is broken in the latest 10 and 11 RC's and the fix should be backwards compatible but I haven't tested this on other than 9.6.1

[2016-12-07 20:17] hahnn commented on #2555
I add the log lines of my PostgreSQL server pointing to the error (this is in french but I think it can be understood with ease :-)):

2016-12-07 19:51:23.192 CET: ERREUR:  syntaxe en entrée invalide pour l'entier : « f »
2016-12-07 19:51:23.192 CET: INSTRUCTION :  INSERT INTO "oc_authtoken"("uid","login_name","password","name","token","type","remember","last_activity") VALUES($1,$2,$3,$4,$5,$6,$7

[2016-12-07 20:18] hahnn commented on #2555
If I translate the error in english, this is something like:

ERROR: entry invalid syntax for integer: 'f'

[2016-12-07 20:37] hahnn commented on #2555
I just checked the source code of nextcloud 11RC1 (db_structure.xml), and this code is exactly the same (for remember field of oc_authtoken table) than for nexcloud 11beta2.
So I believe the bug is also existing in nextcloud 11RC1, but I want to be clear I haven't tested this latest release candidate 1: only beta2.

[2016-12-07 20:54] jospoortvliet commented on #2555
@hahnn then it looks like you'll get your shirt :+1:

Any chance you could email me your address?

[2016-12-07 21:02] hahnn commented on #2555
Well, yes, I will email you my address :-)
But have you confirmed this bug guys? Have you reproduced it wih 11RC1?

[2016-12-07 21:33] mightyBroccoli opened #2557 "video preview image completly unscaled"
### Steps to reproduce
1. upload a video with high resolution
2. click on the video in the webui to access the share comment eg sections
3. see the preview image completly unscaled and lagging the browser to oblivion

### Expected behaviour
Seeing a preview image in this case video should be scaled to see the whole picture and note the bottom left corner.

### Actual behaviour
a preview video that

[2016-12-07 21:41] icewind1991 commented on #2555
I've had no issues like that on any of my postgres instances

[2016-12-07 22:14] hahnn commented on #2555
In the process of making a fresh install of nextcloud 11RC1.
The oc_authtoken has just been created in my PostgreSQL server, and the remember field is still a smallint:

nextcloud=# \d oc_authtoken
                                     Table « public.oc_authtoken »
    Colonne    |          Type          |                         Modificateurs
---------------+------------------------+--------------

[2016-12-07 22:18] Lartza opened #2558 "Symfony RouteNotFoundException for /data/.ocdata"
### Steps to reproduce
1. Browse to the Admin page

### Expected behaviour
No errors are logged

### Actual behaviour
Two Symfony errors for /data/.ocdata are logged

### Server configuration
**Operating system**: Arch Linux

**Web server:** nginx 1.10.2 and 1.11.6

**Database:** PostgreSQL 9.6.1

**PHP version:** 7.0.13 and 7.0.14

**Nextcloud version:** 11.0 RC1

**Updated from an older Nextclou

[2016-12-08 00:19] MorrisJobke commented on #2558
Feels like a side effect of #2513

[2016-12-08 00:22] MorrisJobke commented on #2548
Ref https://github.com/nextcloud/documentation/issues/249

[2016-12-08 01:43] reidcanavan opened #2559 "Desktop Client - Shared Folder does not sync deletes across machines"
### Steps to reproduce
1. Create a file and let it sync via the desktop client on multiple computers
2a. Delete the file via web browser OR
2b. Delete the file via desktop client OR
2c. Delete the file via direct file system access
3. Desktop will sync the file back to the server during its next sync cycle.  Other desktops will eventually get the file back as well.

### Expected behaviour
Delete s

[2016-12-08 07:37] rullzer commented on #1490
Uhm yes you can pass `-1` as width or height and it will be scaled appropiated. Maybe we can do this even cleaner but I just copied the old code that parses the arguments.

[2016-12-08 08:10] MorrisJobke commented on #1490
@rullzer Any chance to properly document this ?

[2016-12-08 08:41] MorrisJobke commented on #2559
cc @rullzer @schiessle

[2016-12-08 08:53] juliushaertl commented on #2558
It looks like your webserver config is using the /core/templates/403.php as error document and the theming app is not in place there.

I can reproduce when running the php cli server in the server repo and opening localhost:8080/core/templates/403.php.

[2016-12-08 08:54] MorrisJobke commented on #2558
I can't really reproduce this error. As you are using Nginx: Are you sure that the data dir protection is properly in place and how to do you handle 403 errors on the web server level?

[2016-12-08 09:11] nickvergessen opened #2560 "Timezone not saved anymore on login"
### Steps to reproduce
1. Login with username + password

### Expected behaviour
 oc_preferences should hold a row with `core` + `timezone`

### Actual behaviour
Works in 9, but in 10 and 11 this was killed by the auth rework?

@ChristophWurst @LukasReschke

This causes issues for new users with activity emails and other stuff that uses the timezone not in JS only.
Ref: https://help.nextcloud.com/

[2016-12-08 09:15] juliushaertl commented on #2558
@MorrisJobke How should it behave? Apache default is to throw everything to index.php, right?

[2016-12-08 09:19] Lartza commented on #2558
https://github.com/nextcloud/server/blob/04f8521b2c70abd22e617224ff7a0119e31183c7/lib/private/Setup.php#L439

My nginx is set to
[code]

[2016-12-08 09:26] Lartza commented on #2558
And to add to that, if I browse to /updater/missing.file I get the correct "file not found return to nextcloud" page and /data/.ocdata gives me the nc themed "Access forbidden" page.

[2016-12-08 09:48] rullzer commented on #2552
Ok so I can't really reproduce it.
But what strikes me as odd is that is says `<s:sabredav-version>3.0.9</s:sabredav-version>`

Did you update the submodules?

[2016-12-08 09:54] Lartza commented on #2558
`'memcache.local' => '\OC\Memcache\APCu',` fixes this error, I can consistently make the error appear again by disabling APCu from NC

[2016-12-08 10:34] pbek commented on #2552
Yes, `3rdparty` is up-to-date, but I just found out `https://github.com/owncloud/3rdparty` was used as repository!

[code]

I now checked out `https://github.com/nextcloud/3rdparty` (along with NC 11.0 RC 1).

Now I get this, even when I only do a GET-request to <http://localhost:8081/remote.php/caldav/calendars/admin>:

[code]

Log: `[Thu Dec  8 11:32:21 2016] 127.0.0.1:60342 [404]: /remote.php/c

[2016-12-08 10:41] schiessle commented on #2546
fix is here https://github.com/nextcloud/server/pull/2563

Please test, Thanks!

[2016-12-08 10:42] nickvergessen commented on #2557
Which binary do you use for the video thumbnail generation? ffmpeg?

[2016-12-08 10:44] nickvergessen commented on #2555
This was already fixed for the RC:
https://github.com/nextcloud/server/pull/2428

[2016-12-08 10:44] #2555 closed

[2016-12-08 10:46] MorrisJobke commented on #2558
Weird.

This causes for me no entry in the logs but only the 403 error page.

@juliushaertl Also this would not make sense, because the data/.ocdata file is only retrieved by a JS that is only loaded on the admin settings. I would rate this approach a dead end.

@LukasReschke Any idea why APCu caching should interfere with the route handling? And why does it get to the Router at all. This should b

[2016-12-08 10:48] schiessle commented on #2514
Federated users have a avatar if you do a federated share with someone in your address book (same as for mail shares now) or if you share with someone from a trusted servers (trusted servers sync display name, email, federated cloud id and avatar).

But I agree let's look into this for Nextcloud 12

[2016-12-08 10:50] pbek commented on #2552
I now reinstalled NC from git with new database and new app installs and still got the same error.

[2016-12-08 10:52] Lartza opened #2564 "SVG issues after upgrade"
### Steps to reproduce
1. Production 10.0.1 server
2. Upgrade to 10.0.2 RC2 using the web updater
3. Upgrade to 11.0 RC1 using the web updater

### Expected behaviour
Folders have a folder icon shown before them, no errors about SVG images.

### Actual behaviour
Folders miss the folder.svg icon and instead a blank space is shown. Log has an error after the update and shows errors weirdly enough fo

[2016-12-08 10:55] marinofaggiana commented on #1490
Arrggghhhhhh @MorrisJobke @rullzer but where is the documentation for this ?

[2016-12-08 11:03] rullzer commented on #1490
there is none. But to be fair there is no documentation at all on that endpoint. Will add it to the todo list. But I warn you that it is already pretty long...

[2016-12-08 11:19] Lartza commented on #2558
For me browsing to /core/templates/403.php on the production server redirects to Files for some reason, but shows Access forbidden on the dev server... weird. Probably unrelated since both consistently get the error with APCu enabled.

http://i.imgur.com/B9VYiCW.png
Seemed identical with and without APCu
Not sure at all what you wanted to see, I can copy the headers etc if you want those.

[2016-12-08 11:20] GitHubUser4234 commented on #2546
Thanks a lot for the quick fix. I saw there is a level 3 log for the PrivateKeyMissingException though, is this something to stay? Thanks :)

[2016-12-08 11:26] marinofaggiana commented on #1490
@rullzer for iOS Client how do i know what exists? API

For certain procedures i am going crazy ... for example the getRemoteThumbnailByServer with scaled it's a plus for INCREDIBLE greatly speed of the downloads, i can view a preview and download the full image in the background (see dropbox) ... I think it's better I go stuttgart for how to build a better client  :fearful:

[2016-12-08 11:27] Lartza commented on #2558
Browsing to /core/templates/403.php on the server that shows the error page and doesn't redirect it gets logged as the Symfony error but for /core/templates/403.php not /data/.ocdata

[2016-12-08 11:30] rullzer commented on #2552
Can you post exact steps at what you send to the server? Just so I can verify properly.

Basically I have your ics file

And do:

` curl -u admin:admin -X PUT --data-binary @test.ics http://localhost/remote.php/dav/calendars/admin/personal/foo.ics`

[2016-12-08 11:35] pbek commented on #2552
Even GET gives me the error since I'm using Nexcloud's 3rdparty repository:

[code]

[2016-12-08 11:37] mightyBroccoli commented on #2557
@nickvergessen I am quite unsure how to find out which one is getting used. I do have both installed
ffmpeg
[code]
php-gd
`php7.0-gd                      7.0.13-1~dotdeb+8.1`

How do I find out which one is getting used?

[2016-12-08 11:38] nickvergessen commented on #2553
This happens for activities that were created before RC1. Sadly we can not recover those events, because the information was not stored correctly. Should not happen anymore (also tested by creating a new event/calendar and activities work fine, even on c.nc.c

[2016-12-08 11:38] #2553 closed

[2016-12-08 11:40] nickvergessen commented on #2557
ffmpeg and avconv are the options for Movie previews.

[2016-12-08 11:44] mightyBroccoli commented on #2557
I have ffmpeg installed and they deny each other on debian so i think i got that covered.

ffmpeg version 3.2-2~bpo8+2 Copyright (c) 2000-2016 the FFmpeg developers
  built with gcc 4.9.2 (Debian 4.9.2-10)

[2016-12-08 11:46] pbek commented on #2552
You were using `dav` in your url, did this change from NC10 to NC11?
When I start using `dav` I could fetch calendars and tasks again, but when I store I get ics validation errors...

[code]

... which means I can write an other version of my ical generator for the updated sabre library. :(
... and use different urls for NC11+

[2016-12-08 11:48] nickvergessen commented on #2552
The new (dav) urls where added in 9 already.
But the old ones should still work

[2016-12-08 11:51] pbek commented on #2552
Are both urls supposed to work the same way? Because I didn't get the parser errors with oC and NC10...

[2016-12-08 11:51] Lartza commented on #2558
For me, both servers log /core/templates/403.php as the Symfony error but for /core/templates/403.php not /data/.ocdata

[2016-12-08 11:54] nickvergessen commented on #2541
Currently the nextcloud sync client is only a themed version of the owncloud sync client.
So the issue you linked is what will keep track of the request.

[2016-12-08 11:54] #2541 closed

[2016-12-08 11:54] blizzz commented on #2560
Seems so. In Nc 9 it was written to the preferneces in lib/base::tryFormLogin();

Looks like it is missing now in LoginController::tryLogin(), which is already a pretty long method. Like the login_token generation it can move to the user session.

[2016-12-08 12:02] jancborchardt commented on #2564
cc @juliushaertl any idea bere?

[2016-12-08 12:13] icewind1991 commented on #2557
server side previews are unrelated here, this is the video being played back as preview on the client

[2016-12-08 12:15] jancborchardt commented on #2332
Yep, that's a good call. We could also habe a pull to refresh like in the Mail app cc @nextcloud/javascript

[2016-12-08 12:15] nickvergessen commented on #2537
I don't think we should do this?

@LukasReschke

[2016-12-08 12:16] rullzer commented on #2514
It doesn't display for federated users either. Because the avatar endpoint only knows about avatars for local users. But we'll need to think how to do this properly because the avatar endpoint has to be fast else stuff like the activity page get crazy slow.

[2016-12-08 12:16] LukasReschke opened #2566 "Exception: Repair step 'OCA\DAV\Migration\GenerateBirthdays' is unknown"
RC1:

[code]

[2016-12-08 12:17] jancborchardt commented on #2337
Sounds like rather than havimg it manageable from the Admin settings UI, that button should simply work. :)

[2016-12-08 12:17] nickvergessen commented on #2537
See https://github.com/nextcloud/server/issues/2523#issuecomment-265115448

[2016-12-08 12:17] #2537 closed

[2016-12-08 12:18] MorrisJobke commented on #2558
Nothing here. I only get the redirect without anything logged.

[2016-12-08 12:19] MorrisJobke commented on #2558
Looks good and seems to work.

Sadly I have no idea why this error appears in the logs

[2016-12-08 12:20] jancborchardt commented on #2350
See discussion in #2379. Disabling this based on view is confusing. And why have a switch? If the files are favorites then it's good they are up top. Simply because it's a change from the old? It's also just another code path to maintain.

[2016-12-08 12:21] MorrisJobke commented on #2558
When doing this:

[code]

I get this in the error log:

[code]

and nothing in the nextcloud log.

[2016-12-08 12:21] rullzer commented on #1490
@marinofaggiana uhm well. Until somebody documents them we have no way besides browsing the source. Not saying that is good. But that is the way it currently is.

[2016-12-08 12:23] jancborchardt commented on #2443
Hahaha @foobar :D welcome

@Blizzz two things:
- we would do autocomplete suggestions across usernames and realnames, right?
- do we insert a space automatically after the @-mentioned name, like Github? The lack of that in Discourse for example I find really strange

Let's push this because without autocompletion the feature is basically not really discoverable.

[2016-12-08 12:24] rullzer commented on #2566
well yes... it is removed. Probabaly a leftover in the db...

[2016-12-08 12:26] jancborchardt commented on #2537
This would be very interesting and useful indeed. I think the reason it's not done is similar to the direct image link #2523: Without a separate domain this would make your instance vulnerable.

cc @Nextcloud/security for elaboration

[2016-12-08 12:30] MorrisJobke commented on #2566
We then should then log this and drop the job.

[2016-12-08 12:30] LukasReschke commented on #2566
Should we? Shouldn't we not prevent upgrading in such cases then?

This is likely because I updated from 9 -> 10 -> 11 in a very short timeframe and this one got removed?

[2016-12-08 12:31] MorrisJobke commented on #2566
We do the same for cron jobs itself:

https://github.com/nextcloud/server/blob/0215b004da6af887b3e3efa28c425d41a1c76b9b/lib/private/BackgroundJob/JobList.php#L248-L256

[2016-12-08 12:31] jancborchardt commented on #2538
We need to simply experiment with the opacity of the black container, make it less transparent. Unfortunately the CSS blur function isn't really there yet cross-browser cause that would be perfect here. cc @nextcloud/designers

(@Espina2 not sure why you keep mentioning that complete overhaul. It would be more helpful to propose fixes issue-specifically instead of making one big change mainly for

[2016-12-08 12:34] jancborchardt commented on #2538
@ChristophWurst regarding the other text below, can you put that inside of the container?

[2016-12-08 12:34] MorrisJobke commented on #2270
https://github.com/nextcloud/server/issues/2566

[2016-12-08 12:34] marinofaggiana commented on #1490
@rullzer i test now the API but with -1 return error ... are you sure ?

[2016-12-08 12:34] MorrisJobke commented on #2566
Told you so: https://github.com/nextcloud/server/issues/2270#issuecomment-265729897 🙈

[2016-12-08 12:34] blizzz commented on #2443
Basically I'd follow what sharing is doing. The typed string is passed to the user backends, and what they are looking at is their business. Local ones do username and display name i believe.

Reasonable to do so, I agree.

And shouldn't be, I guess, it's more groundwork right now.

[2016-12-08 12:44] #2473 closed

[2016-12-08 12:45] #1793 closed

[2016-12-08 12:49] #2544 closed

[2016-12-08 12:58] nickvergessen commented on #2537
The response from lukas is at https://github.com/nextcloud/server/issues/2523#issuecomment-265115448

[2016-12-08 13:16] fancycode commented on #2337
Sure, that would also work - however I'm not sure how you can detect (on the server when rendering that template) which of the previously configured trusted domains can actually be reached by the client that is trying to use a non-trusted domain.

[2016-12-08 13:18] juliushaertl commented on #2564
@Lartza @jancborchardt will have a look later :wink:

[2016-12-08 13:30] rullzer commented on #1557
So the emitter emits stuff for user deletion. But this is not part of OCP which means that getting apps to use it will be a real pain.

[2016-12-08 13:33] oparoz commented on #2350
No. From my OP:
"If I order files by date, it's because I deem it important to always know which folders have been recently updated. I don't want to have to mentally re-arrange the order."

It's not another code path, it's a feature for efficient people. Simplicity first, yes, but only offering one option will never work for everybody. We have a settings panel in the Files app. It's designed for t

[2016-12-08 13:38] oparoz opened #2567 "Favourites list is not updated in real time"
### Steps to reproduce

1. Make 2 files your favourite
2. Nothing happens
3. Leave the folder and come back
1. They are now at the top
1. Make more files your favourite

### Expected behaviour

Since we have a "feature" which pins favourites to the top, the list should be re-arranged when I make a file or folder my favourite.

### Actual behaviour

Nothing happens, I have some favourites at the to

[2016-12-08 13:39] rullzer commented on #1490
What is the endpoint you use?

[2016-12-08 13:42] skjnldsv commented on #2538
@jancborchardt svg blur are supported by all browsers! ;)
http://caniuse.com/#feat=svg-filters

[2016-12-08 13:57] rullzer commented on #1450
@VagishVela mmm for some reason I can't assign you. But feel free to assign yourself

[2016-12-08 13:58] schiessle commented on #2566
This doesn't sound right to me. The repair job was there for a purpose. Just drop it and don't care that the issue was never repaired can't be the solution.

[2016-12-08 14:21] sven3 commented on #1282
I applied commit 028c6682935232c50ec729f38f97b2342f8363ad, but this does not seem to fix my problem. :-( Anyway, thanks for your continued help!

[2016-12-08 14:23] MorrisJobke commented on #2203
For now there is no way around the manual change of the version. The only way I see is to bring this somehow into the updater logic (in /updater) where we can detect before replacing the current code if it is an ownCloud or an Nextcloud instance and then tweak the version number in there. On the other hand: we should somehow verify that the migration between ownCloud and Nextcloud still works. I g

[2016-12-08 14:31] schiessle opened #2568 "user can't change language in personal settings"
A normal user can't change the language in the personal settings (for admins it works).

The user gets a 403 but the method is set to "@NoAdminRequired". After some debugging I found out that here: https://github.com/nextcloud/server/blob/master/lib/private/AppFramework/App.php#L91 the "PersonalController" is not found, but only for non-admins.

Any ideas? Maybe @rullzer as the original author of

[2016-12-08 14:38] schiessle opened #2569 "autocomplete drop-down broken on master with Firefox"
The auto-complete drop down for the user name at the login screen is broken for Firefox.

This is how it looks like for me:

![login](https://cloud.githubusercontent.com/assets/1589737/21013967/4e0c8da2-bd5c-11e6-8cb9-d151adf81caf.png)

@nextcloud/designers

[2016-12-08 14:39] sandydo opened #2570 "Rendering of the webpage nextcloud.com"
### Steps to reproduce
1. Open the webpage on a smartphone and stay at home page.
2. If the Window is narrow enough you should see a white border on the right side. So the background is smaller then the Window.
3. The only thing which has the same size then the window is the 'subscribe to newsletter' button.

### Expected behaviour
Background should fit to the window

### Actual behaviour
The back

[2016-12-08 14:40] #2570 closed

[2016-12-08 14:41] MariusBluem commented on #2570
Please open a bug report over here: https://github.com/nextcloud/nextcloud.com

[2016-12-08 14:53] inpos commented on #2554
Found solution.
Install latest owncloud and walk through migrate to nextcloud process.
Fresh nextcloud installation don't work with ios caldav/carddav.

[2016-12-08 14:54] MorrisJobke commented on #2569
I can't reproduce:

![bildschirmfoto 2016-12-08 um 15 52 46](https://cloud.githubusercontent.com/assets/245432/21014456/68df26f6-bd5e-11e6-869e-48ec889c3333.png)

Also this is nothing we can style. This is the overlay the browser brings in. This is no HTML we even can reach. I tried to tweak it, but it's not within the DOM.

[2016-12-08 14:54] #2569 closed

[2016-12-08 14:54] MorrisJobke commented on #2569
Most likely an issue with this Firefox version 🙈

[2016-12-08 14:55] schiessle commented on #2569
all other webforms work so I don't think it is a general browser issue

[2016-12-08 14:56] skjnldsv commented on #2569
Can't either.
![kazam_screenshot_00002](https://cloud.githubusercontent.com/assets/14975046/21014553/d2838ffc-bd5e-11e6-88e5-018578c75201.png)

[2016-12-08 14:57] MorrisJobke commented on #2569
But I have no idea how we could tweak this -.-

[2016-12-08 14:58] nickvergessen commented on #2568
Can not reproduce, works just fine here.
Anything in the log or browser console?

[2016-12-08 15:00] MorrisJobke commented on #2569
Beside turning it off:

[code]

[2016-12-08 15:03] schiessle commented on #2568
No, nothing in the log. I just get a 403 if I check the network console and a "access forbidden" error page as response. Can be reproduce it on my dev system (master) and on our internal Nextcloud by multiple people.

[2016-12-08 15:07] wallenium commented on #2558
Same error on my installatation:

``{"reqId":"WEl0fCUR4EMAACE@LrwAAAAB","remoteAddr":"194.77.12.2","app":"no app in context","message":"Exception: {\"Exception\":\"Symfony\\\\Component\\\\Routing\\\\Exception\\\\RouteNotFoundException\",\"Message\":\"Unable to generate a URL for the named route \\\"theming.Icon.getFavicon\\\" as such route does not exist.\",\"Code\":0,\"Trace\":\"#0 \\\/home\\\/ww

[2016-12-08 15:09] nickvergessen commented on #2568
Ah I tested with admin, will have a look since non-admins fail indeed.

[2016-12-08 15:10] andreas-p commented on #1793
Positive confirmation for non-standard configurations:
Testing two scenarios against a PostgreSQL 9.6 server using git-master. The hostname is servername:port to specify the non-standard port

Using the user "ncTest" to access the database "ncGit" owned by himself succeeds.
Using "ncTest" with CREATEDB privilege with no precreated database works as well.

[2016-12-08 15:18] MorrisJobke commented on #2566
True point :+1:

[2016-12-08 15:20] MorrisJobke commented on #1450
Only contributors can be assigned ;)

[2016-12-08 15:21] MorrisJobke commented on #1490
@rullzer Just place a curl statement in here to bring this ping pong game to an end ;)

[2016-12-08 15:22] jancborchardt commented on #2569
Yeah, this looks like a browser bug. Maybe due to resizing, or a special version or whatnot. What do you exactly use @schiessle?

[2016-12-08 15:24] rullzer commented on #2566
Well we insert them into the cronjob system. The error here only can occure for people that do 10 => 11 beta => 11 rc. Since the code is removed in the RC. And this would mean that that (as @LukasReschke probabaly did) upgrade quickly on that path.

I mean that is what you get with background repair jobs. If people upgrade before the job was run it throws an exception because the code is no longer

[2016-12-08 15:27] MorrisJobke commented on #2566
And maybe the step to prevent this now: "don't remove the background job code" (or revert the removal)

[2016-12-08 15:28] rullzer commented on #2566
No because the background job was what caused the issues with invalid ical stuff.

[2016-12-08 15:30] schiessle commented on #2566
Just thinking... Maybe we can detect in advance if there are some repair jobs left and warn the admin, including the option to run the repair steps first and then do the actual update. For manual updates we could refuse to run the upgrade so that the admin has a chance to copy back the old version and perform the repair steps before he continues.

I fear that really bad things can happen if we jus

[2016-12-08 15:32] MariusBluem commented on #2346
Still happening in `RC 1` with Safari ... not always ... but ... it does happen 😞

[2016-12-08 15:34] pbek opened #2572 "installed_version is 0 in oc_appconfig"
### Steps to reproduce
1. I installed NC 11 from git
2. I run `ocdev server --port 8081`
3. I installed <https://github.com/pbek/qownnotesapi> and <https://github.com/pbek/ownbackup> directly from the NC app store by clicking the `Activate` buttons
4. When I looked into the table `oc_appconfig` the `installed_version` for both apps was `0`

Note: I had that also reported from other users with prev

[2016-12-08 15:42] nickvergessen commented on #2346
Safari not supported 🙊 , close?

@MariusBluem can you increase the debounce time in #2365 to check whether that helps (e.g. 500ms)

[2016-12-08 16:00] marinofaggiana commented on #1490
hahahah

/index.php/apps/files/api/v1/thumbnail/

[2016-12-08 16:27] anonimou0 opened #2573 "WebDAV not working if running webserver and reverse proxy in ports different from standard"
### Steps to reproduce
1. Run a nginx reverse proxy, receiving connections on port, let's say, 5000. It will take the request (on example.com/nextcloud) an forward to apache which will be running the nexcloud. Nginx take care of ssl certificate.
2. Run the apache on http-only, on a port different from default (80 and 443), let's say 5432.
3. Try to connect with DAVDroid to example.com/nextcloud/re

[2016-12-08 16:52] #2568 closed

[2016-12-08 17:34] asterismo commented on #2358
What else can i provide to try to fix this?

[2016-12-08 17:48] LukasReschke commented on #2182
Ok. Good point. Let's take a look at that for 12. Going this approach we should take the less error-prone approach and use the OpenSSL AEAD support in PHP 7.1. So basically a new encryption module that requires at least PHP 7.1. I checked with @oparoz on that and this would be ok for this customer.

[2016-12-08 17:55] asterismo commented on #2358
TypeError: result.responseJSON is undefined
<anonymous>
 users.js:874
n.Callbacks/j()
 jquery.min.js:2
n.Callbacks/k.fireWith()
 jquery.min.js:2
x()
 jquery.min.js:4
.send/b/<()
 jquery.min.js:4

[2016-12-08 17:55] asterismo commented on #2358
That happened when clicking the button on developer console

[2016-12-08 18:12] jospoortvliet commented on #2555
@hahnn sorry, no t-shirt for you :(

Still thanks for reporting!

[2016-12-08 18:15] jospoortvliet commented on #1025
@nickvergessen is now officially the shizznit... awesome

[2016-12-08 18:16] jospoortvliet commented on #1669
Just out of curiosity, did/does the stuff here help: https://github.com/nextcloud/server/issues/1025#issuecomment-264270619

(I link to the shizznit comment but a little above you can find a script)

[2016-12-08 18:21] jospoortvliet opened #2574 "coloring of external storage folders not working"
With Nextcloud 11RC1, I notice that the folders follow the color scheme, with one exception:
![spectacle t11492](https://cloud.githubusercontent.com/assets/551757/21022022/6913e1bc-bd7b-11e6-9f20-5ed2c3ec1658.png)
The external storage folder stays blue. I guess we should try to fix this, yes?

@nextcloud/designers ?

[2016-12-08 18:28] jospoortvliet commented on #1763
I guess the only 'news' is that as far as I can tell nobody is working on it (yet) ;-)

[2016-12-08 18:40] jospoortvliet commented on #223
@Bugsbane yeah, if you still have this with 11RC, please - file a new bug, this one is overloaded with different stuff.

[2016-12-08 21:56] jasonbayton opened #2575 "Downloading from share via Chrome for Android fails"
When trying to download via Chrome for Android on any public share, it fails after a few moments with the error:

This happens on my own server and the public demo server, here's an example: https://demo.nextcloud.com/index.php/s/gmZEm3i00Dx3Qyr/download

I see no errors in Apache or NC logs to suggest an issue.

Android 6.0 (though replicated on 5.x , 4.4 and 7.0) with latest Chrome 54.0.2840.85

[2016-12-08 22:00] sfurey commented on #2572
I can confirm and reproduce this as well

[2016-12-08 22:30] juliushaertl commented on #2574
I just had a quick look, this happens because the files_external app is overriding the icons from the mimetype javascript code. https://github.com/nextcloud/server/blob/7e6f829d546a95acc3421c5fd9dd7574fa291994/apps/files_external/js/statusmanager.js#L518-L559

We could either add a check for OCA.Theming in the files_external or add the theming globally to the JS imagePath function like I did it wi

[2016-12-08 22:30] marc0s opened #2576 "Failed to create tasks- or events-only calendars from DAVdroid"
I'm trying to create a tasks-only calendar from a DAVdroid setup from my phone. I don't know if they're even supported, but they fail to be created.

### Steps to reproduce
1. Set up a DAVdroid account
2. Create a new tasks-only calendar (or events-only one)
3. Sync

### Expected behaviour
Calendar is created in server

### Actual behaviour
A SabreDAV exception: 404 not found.

### Server configur

[2016-12-08 22:56] juliushaertl commented on #2564
@Lartza can you check if the icon files in `core/img/filetypes/` are readable by the webserver?

The audio.svg errors seem to be related to the preview rendering.

I currently can't find any issue on the icon generation, also a upgrade from 10.0.1 to 11 RC1  like you've described works fine here with the icons, but we should make sure that issues will not store empty files. I'll prepare a PR for t

[2016-12-08 23:01] juliushaertl commented on #2558
The error occurs when the webserver config is not redirecting and instead rendering the /core/templates/403.php file as a standalone error page.

@MorrisJobke This is basically all PHP code that is running there:

[code]

[2016-12-08 23:09] anonimou0 commented on #2573
A little bit more:
Accessing `https://example.com:5000/nextcloud/remote.php/carddav` and `/caldav,` I get the following:

`<d:error>`
`<s:sabredav-version>3.0.9</s:sabredav-version>`
`<s:exception>Sabre\DAV\Exception\NotImplemented</s:exception>`
`<s:message>There was no handler found for this "GET" method</s:message>`
`</d:error>`

Accessing other random links on `remote.php` says that the app is

[2016-12-08 23:19] anonimou0 commented on #2552
@pbek, on oC and NC10, did you run it on standard ports?
not sure if related: https://github.com/nextcloud/server/issues/2573

[2016-12-09 05:49] pbek commented on #2552
@anonimou0, thank you for mentioning. I ran it with `ocdev server --port 8081`.

[2016-12-09 06:00] brainfoolong opened #2577 "PHP 7.1 support"
Hi!

PHP 7.1 is stable since beginning of december 2016.
When we can expect offical nextcloud support for this?

The current RC or master github repository don't seem to work either.

[2016-12-09 07:37] Lartza commented on #2564
@juliushaertl The icon files are readable and the folders up to there are executable.
Did the PostgreSQL error play any part in folder.svg being empty maybe?

I'm guessing this needs some specific circumstances to be reproduced since it was a production server I upgraded.

Writing above I realized I took a database and file backup before I started upgrading back in 10.0.1 so I could try to reprodu

[2016-12-09 07:51] Lartza commented on #2558
@MorrisJobke What redirect are you referring to? There is no redirect in place for me away from the 403.php and I don't think there should be.

@juliushaertl I am not 100% sure what you mean by this. Apache's ErrorDocument and nginx's error_page seem to be identical in fuction according to the docs causing an internal redirect to whatever page is given to them. /core/templates/403.php exists so it

[2016-12-09 07:55] fancycode opened #2578 "OC.dialogs doesn't trigger callback if dialog is closed through "X" or ESC"
### Steps to reproduce
1. Open a dialog using `OC.dialogs.confirm` and pass a callback function.
2. Close the dialog by clicking the `X` in the top-right corner or press ESC.

### Expected behaviour
The callback should be executed with `false` as argument (because the user didn't confirm the dialog). This would be necessary to perform some cleanup code.

### Actual behaviour
The callback is not ex

[2016-12-09 08:00] wallenium opened #2579 "ImagickException: FailedToExecuteCommand .."
### Steps to reproduce
1. Just go to the Admin area

### Error Message
`ImagickException: FailedToExecuteCommand 'inkscape' '/tmp/magick-10857XI3tNBMKkA5E' --export-png='/tmp/magick-10857gQzvFK4Rmpsm' --export-dpi='90,90' --export-background='rgb(0%,0%,0%)' --export-background-opacity='0' > '/tmp/magick-108573FwCVBAeAeP3' 2>&1' (-1) @ error/delegate.c/ExternalDelegateCommand/463`

Nextcloud 11.0.0

[2016-12-09 08:07] MorrisJobke commented on #2558
Not for me - there are no errors when I open this

[2016-12-09 08:08] Bosborus commented on #2206
@schiessle: i have the same problem. how can I disable the signature check in the code? Tank you for a short feedback

[2016-12-09 08:12] wallenium opened #2580 "Undefined class constant 'INTERPOLATE_BICUBIC'"
### Steps to reproduce
1. No idea, appears in the error log once visiting the page

### Error Message
`Error: Undefined class constant 'INTERPOLATE_BICUBIC'`

Nextcloud 11.0.0.6, PHP 7.0.10, Database MariaDB
Updated NC10.0.1 to RC1 by using the beta channel

**Are you using encryption:** yes

#### Nextcloud log (data/nextcloud.log)
[code]

[2016-12-09 08:31] LukasReschke commented on #2577
Please file dedicated issued if you experience something broken in 7.1 - while not officially supported yet the unit tests are already executed against 7.1

[2016-12-09 08:31] #2577 closed

[2016-12-09 08:43] nickvergessen commented on #2580
As per http://php.net/manual/en/imagick.constants.php

@juliushaertl I guess we should fallback to `FILTER_LANCZOS` which was used before, if the constant does not exist:
https://github.com/nextcloud/server/commit/797e7614925d10f8a11ae239f2122497d0f01fc2

[2016-12-09 08:46] nickvergessen commented on #2579
@juliushaertl

[2016-12-09 08:47] nickvergessen commented on #2578
Jup, noticed that as well with the password-confirm dialog.

[2016-12-09 08:52] nickvergessen commented on #2578
@nextcloud/javascript

[2016-12-09 08:55] nickvergessen commented on #2578
On the other hand this would e.g. cancel a federated share if you accidently press ESC, so maybe we should use a different return code for that?

[2016-12-09 09:00] nickvergessen commented on #2575
Ref https://github.com/nextcloud/server/pull/1456

I though it was fixed with Chrome 54? @LukasReschke

[2016-12-09 09:00] juliushaertl commented on #2579
@wallenium Thanks for your report. Can you please give some more information on the setup?

**Operating system**:

**Web server:**

**Database:**

**What packages are installed for ImageMagick:**

[2016-12-09 09:04] jasonbayton commented on #2575
That reference indicates 10.0.2? I'm still on 10.0.1 until the final for 11 drops.

[2016-12-09 09:19] MorrisJobke commented on #2578
is this fixed with https://github.com/nextcloud/files_videoplayer/pull/13 for you?

Is this maybe a duplicate of #2256

[2016-12-09 09:20] MorrisJobke commented on #2578
Because the files_videoplayer crashed the JS while hitting ESC causing no callback to trigger anymore ;)

[2016-12-09 09:21] MorrisJobke commented on #2578
For me for example the "choose an avatar file from Nextcloud" popup works fine.

[2016-12-09 09:22] fancycode commented on #2578
I don't see how nextcloud/files_videoplayer#13 changes anything in "OC.dialogs". The problem is not that `X` is not working (it is), but that the callback is not triggered in that case.

[2016-12-09 09:26] nickvergessen opened #2581 "App password/tokens must not be invalidated on password change"
I found this while discussing https://github.com/nextcloud/server/pull/2563 with @schiessle

### Steps
1. Login
2. Create an app password
3. Setup sync client with 2.
4. Change password in personal settings

### Expected
1. App passwords should still work, or
2. you should be warned that you need to regenerate all your app passwords.

### Actual
Sync client auth fails

Same applies to the reset pa

[2016-12-09 09:30] MorrisJobke commented on #2578
It doesn't, but it registered to a global event and crashed. Then all following callbacks are also not executed ;) Do you see something in the JS console when hitting the "X"?

[2016-12-09 09:31] nickvergessen commented on #2578
@MorrisJobke just look at the code, there is no function registered to the "close" button.

[2016-12-09 09:37] #2560 closed

[2016-12-09 09:44] wallenium commented on #2579
**Operating system:** Linux xxxxx.host 4.7.0-0.bpo.1-amd64 #1 SMP Debian 4.7.5-1~bpo8+2 (2016-10-01) x86_64
**Web server:** Apache 2.0 Handler
**Database**: MariaDB, not sure which Version. Would Need to open a ticket to see that.
###ImageMagick:
**Version:** 3.4.3RC1
**imagick classes:** Imagick, ImagickDraw, ImagickPixel, ImagickPixelIterator, ImagickKernel
**ImageMagick number of supported form

[2016-12-09 09:48] MorrisJobke commented on #2578
Fix is in #2582

[2016-12-09 10:22] perfect7gentleman commented on #2577
updated to php_7.1 and nc_11rc1.

This can usually be fixed by giving the webserver write access to the config directory.

[2016-12-09 10:39] perfect7gentleman opened #2583 "Can't write into config directory! This can usually be fixed by giving the webserver write access to the config directory."
### Server configuration
**Operating system**:
Gentoo
**Web server:**
Nginx
**Database:**
MariaDB
**PHP version:**
7.1
**Nextcloud version:** (see Nextcloud admin page)
11 RC1
**Updated from an older Nextcloud/ownCloud or fresh install:**
fresh install or update from 10.0.1, it doesn't matter
**Where did you install Nextcloud from:**
from ebuild

[2016-12-09 10:41] juliushaertl commented on #2579
@wallenium Ok, thanks. Could there be an issue with your ImageMagick setup? Are you using packages or do you build it from source?

Can you post the output of the following two commands:
[code]

[2016-12-09 10:49] Espina2 commented on #2538
I mention that because one of the changes proposed in that issue is for this particular case.

[2016-12-09 10:58] LukasReschke commented on #2583
Please check the permissions of the config folder and post a `ls -lah` result. Also we don't officially support the ebuild.

[2016-12-09 11:20] perfect7gentleman commented on #2583
` $ ls -lah config/
total 52K
drwxrwxr-x  2 nginx nginx   66 Dec  9 17:17 .
drwxr-xr-x 15 nginx nginx 4.0K Dec  9 17:15 ..
-rw-r--r--  1 nginx nginx    0 Dec  9 17:17 config.php
-rw-rw-r--  1 nginx nginx  41K Dec  9 17:15 config.sample.php
-rw-rw-r--  1 nginx nginx  225 Dec  9 17:15 .htaccess`

[2016-12-09 12:11] LukasReschke opened #2585 ""Base tree for Groups is empty, using Base DN""
I get like hundreds of these entries in my debug log in a single second. Are they any useful, @blizzz?

[2016-12-09 12:34] LukasReschke opened #2586 "OCA\Activity\BackgroundJob\EmailNotification: The given timestamp is invalid"
Appeared at December 9th 2016, 13:15:02.000

cc @nickvergessen

[2016-12-09 12:36] LukasReschke commented on #2586
I do see these multiples times in the logs and all to me as recipient.

[2016-12-09 12:42] juliushaertl commented on #2558
I debugged a little bit further and when calling 403.php directly the theming app is not loaded (from base.php, so #2587 adds a check to only return a route to theming when the app has been loaded.

[2016-12-09 12:44] #2578 closed

[2016-12-09 12:46] juliushaertl commented on #2564
It would be great if you could try to reproduce. I have added a check for empty images in #2588 so even if there is a temporary issue with the icon file, we should not store them but try again on the next request.

[2016-12-09 12:51] blizzz commented on #2585
@LukasReschke: no, I am also annoyed and was so close to kicking it out last week. Something distracted me.

[2016-12-09 13:41] nickvergessen commented on #2586
should be

will have a look, but sounds familiar

[2016-12-09 13:51] LukasReschke commented on #2586
Log from @icewind1991's clonecloud which somehow is still in our logging manager… 🙈

@MorrisJobke Can we remove them?

[2016-12-09 13:51] #2586 closed

[2016-12-09 13:52] nickvergessen commented on #2586
Was fixed 14 days ago: https://github.com/nextcloud/activity/pull/80/files

[2016-12-09 13:57] MorrisJobke commented on #2583
@perfect7gentleman As the config.php is empty: simply delete it. Then run the setup via web browser and everything should work, because the folder has the correct permissions.

Please ask for help in the forums: https://help.nextcloud.com/ because this is not a bug in the software itself with with the setup process of this package.

Thanks :)

[2016-12-09 14:08] Lartza commented on #2558
Gave #2587 a shot on my test server, exception is gone.

Couldn't see any new errors either or any other obvious problems. 403 page works correctly and everything seems to work normal. Enabling APCu again did not cause any new issues either.

[2016-12-09 14:10] MorrisJobke commented on #2557
This was reverted in the files_videoplayer: https://github.com/nextcloud/files_videoplayer/pull/14

[2016-12-09 14:10] #2557 closed

[2016-12-09 14:16] skjnldsv commented on #2538
@Espina2 could you point it precisely? Because the other thread is kind has kind of too much data! 😆

[2016-12-09 14:19] jancborchardt commented on #2538
@skjnldsv do we want to go for that then? And put the other text items below (except the footet) in the container?

[2016-12-09 14:21] rtdegraaf opened #2589 "Client error: "Host nextcloud.domain.tldstatus.php not found""
### Steps to reproduce
1. Open Nextcloud Mac OSX client version 2.2.4 (Latest Stable)
2. Connect to the nextcloud server

Expected behaviour
Get username and password prompt for connect to the Nextcloud server.

Actual behaviour
When I fill in the servername in the Nextcloud client on a Mac (Sierra 10.12) I get the following error:

"Could not connect to https://nextcloud.domain.tldstatus.php: Hos

[2016-12-09 14:23] Henni commented on #2538
What do we gain from blur, in case of the "worst case scenario" (a completely white background)?

[2016-12-09 14:28] skjnldsv commented on #2538
@Henni a more or less smooth area in terms of saturation and colours :)

[2016-12-09 14:40] perfect7gentleman commented on #2583
it didn't help

[code]

[2016-12-09 14:45] MorrisJobke commented on #2583
@perfect7gentleman What is the user the webserver is running with?

[2016-12-09 14:48] perfect7gentleman commented on #2583
nginx.
Everything worked before that update to php_7.1. I've updated packages to php_7.1 and nextcloud_10.0.1 said that it doesn't support php_7.1, and i updated nexcloud to 11rc1 manually as before i migrated from owncloud to nextcloud.

[2016-12-09 14:55] MorrisJobke commented on #2583
@LukasReschke Haven't you said, that you tested the PHP 7.1? Could it be caused by a tiny change in PHP 7.1 APIs?

[2016-12-09 15:19] rullzer commented on #2581
I would expect token to continue working if I change my password.

Now it might make sense to delete them if I do password recovery. But even then. The whole idea is that is is linked to 1 specific device/app/whatever.

[2016-12-09 15:20] schiessle commented on #2589
seems like a slash is missing in the URL. @rullzer can you have a look? Thanks!

[2016-12-09 15:34] MorrisJobke commented on #2558
Fixed with #2587

[2016-12-09 15:34] #2558 closed

[2016-12-09 15:36] MorrisJobke commented on #2572
same here

@LukasReschke Mind to have a look? ;)

[2016-12-09 15:47] perfect7gentleman commented on #2583
sorry, my fault, i've forgotten to modify setting for php_7.1

[2016-12-09 15:47] #2583 closed

[2016-12-09 15:56] juliushaertl commented on #2580
fixed with #2584

[2016-12-09 15:56] #2580 closed

[2016-12-09 15:58] LukasReschke commented on #2572
Can reproduce but only on qownnotesapi. Let me see…

[2016-12-09 16:36] jancborchardt commented on #2523
Totally agree with @jospoortvliet:

This is completely fine. Takes care of bitmap images and even some other things.

[2016-12-09 16:41] jancborchardt opened #2593 "App installation password check flow"
The »failed to authenticate, try again« error shouldn’t be a showNotification but rather directly inside the popover below the input field. Just like we do for log in. While authentication is tried, the popover should stay.

cc @nextcloud/javascript

[2016-12-09 16:54] LukasReschke commented on #2572
Gotcha. So this happens when the app does not yet exist locally. Proposed patch is at https://github.com/nextcloud/server/pull/2594 – tests and review welcome! 🚀

[2016-12-09 17:15] nickvergessen commented on #2581
I wouldn't right away delete them, but mark them invalid or whatever, so people can still see the names of the app passwords they had to remember changing them everywhere.

[2016-12-09 17:33] freswa opened #2595 "Client fails to connect since 10.0.2"
### Steps to reproduce
1. Start the client
2. see error message "Could not connect to <URL> Operation Canceled

### Expected behaviour
Client syncs

### Actual behaviour
Client fails to connect

### Server configuration
**Operating system**:
Arch 4.8.12-3

**Web server:**
nginx 1.10.2-2

**Database:**
postgresql 9.6.1

**PHP version:**
7.0.14

**Nextcloud version:** (see Nextcloud admin page)
1.10

[2016-12-09 18:22] LukasReschke commented on #2595
cc @rullzer Any idea?

[2016-12-09 18:23] LukasReschke commented on #2595
Which desktop client version do you use?

[2016-12-09 18:24] freswa commented on #2595
2.2.4 (tried both OwnCloud and nextcloud though both use the same client git submodule)

[2016-12-09 18:24] LukasReschke commented on #2595
For the record: Can't reproduce on OS X.

cc @MorrisJobke @schiessle @nickvergessen Can you reproduce?

[2016-12-09 18:36] kfeine commented on #456
@blizzz Hi, here are the logs you asked when I search 'mygroup':

    Dec  9 19:34:07 owncloud ownCloud[9072]: {user_ldap} getGroups getGroups-mygroup-15-0
    Dec  9 19:34:07 owncloud ownCloud[9072]: {user_ldap} getGroups Filter (&(&(|(objectclass=posixGroup)))(cn=mygroup*))
    Dec  9 19:34:07 owncloud ownCloud[9072]: {user_ldap} initializing paged search for  Filter (&(&(|(objectclass=posixGrou

[2016-12-09 19:46] rullzer commented on #2589
Yes looks like a missing slash. But I can't reproduce this issue. If I enter a host without a trailing slash (or with) it all works.

@LukasReschke can you check OS X?

[2016-12-09 20:06] rtdegraaf commented on #2589
Like I mentioned, I get this error only on my Mac and with a certain ssl certificate. Only with a ssl certificate that has an eliptic curve private key. Perhaps the missing slash in the link is only echoëd tot the UI.

[2016-12-09 20:20] rullzer commented on #2595
It apaprently is in the report method. But I have no clue where that is triggered.
Also I can't reproduce here...

[2016-12-09 20:56] charlescurley opened #2597 "Calendar Import: "Create Calendar" option fails."
### Steps to reproduce

1. Attempt to import a calendar. "Settings" -> "Import Calendar". Select a calendar file.

2. In the resulting pop-up, select "New Calendar" from the pull-down menu.

3. Click on the check mark.

### Expected behaviour
Tell us what should happen

I expect some sort of further dialog to create the new calendar, similar to the regular creation dialog.

### Actual behaviour
Te

[2016-12-09 21:43] #2572 closed

[2016-12-09 23:02] blizzz opened #2599 "Remove deprecated Server::getDb() and Db class"
https://github.com/nextcloud/server/blob/master/lib/private/Server.php#L1207 is deprecated and the code comment announces the removal for the first version next year. So, time to get rid of it in 12, what do you think? @nickvergessen @MorrisJobke @BernhardPosselt

[2016-12-09 23:18] adsworth commented on #2180
here is the stack if that is of interest:
Stack: Array
(
    [0] => Array
        (
            [file] => \/home\/adi\/public_html\/nc\/lib\/private\/legacy\/app.php
            [line] => 706
            [function] => parse
            [class] => OC\\App\\InfoParser
            [object] => OC\\App\\InfoParser Object
                (
                    [cache:OC\\App\\InfoParser:private] => OC\\M

[2016-12-10 01:04] jcgruenhage commented on #366
is there anyone working on this? Although everything seems to work, running occ files:scan --all throws an exception, trying to update displayName. It is somewhat weird though, that the exception is about the user 3aee88e4-3657-1036-85e2-8bb479b1dffc, but occurs after scanning his files, during scanning the files of the user 3ca7f660-3b12-1036-9932-a142a160eb37.

Extract from the output of the occ

[2016-12-10 07:55] MariusBluem commented on #2315
Is v2 (the current implemenetation) still supported and "secure" if we are talking about authentification ;)

[2016-12-10 08:30] pbek commented on #2572
I can confirm that now after the installation of `qownnotesapi` the correct version `16.9.0` was stored in the database. Thanks a lot!

[2016-12-10 10:14] fpPierre opened #2600 "Folders/Files of external storage aren´t appearing in Nextcloud web/client"
Good Morning everybody,

I do have a issue, with a integrated external storage of my Nextcloud environment. The storage was integrated at the admin page by using ftp.
Thus it isn´t related to a user but to the system.

The configuration of this storage is set to encrypted and without rescan (in the beginning it was activated to check at every access) the external storage.

All data (folders as wel

[2016-12-10 11:01] fpPierre commented on #2600
additional information:
https://help.nextcloud.com/t/folders-files-of-external-storage-aren-t-appearing-in-nextcloud-web-client/5961/7

[2016-12-10 11:02] fpPierre commented on #2600
Is there any possibility to copy the data onto the server or another ftp storage and integrate it including the encryption keys?
I would like to exclude the current FTP drive as the source of this issue.

[2016-12-10 11:21] #2403 closed

[2016-12-10 11:22] fpPierre commented on #2600
not sure whether this issue from some notification cronjob collaborates with my problem. Maybe it avoids that a required cronjob for the file listing will not be started?:

Error while running background job (class: OCA\Activity\BackgroundJob\EmailNotification, arguments: ): {"Exception":"Doctrine\\DBAL\\Exception\\SyntaxErrorException","Message":"An exception occurred while executing 'DELETE FROM

[2016-12-10 11:27] LukasReschke commented on #2600
cc @nickvergessen

[2016-12-10 11:31] fpPierre commented on #2600
In addition to the main issue.

It should avoid that files from clients desktop folders (desktop client) will removed as far as such issues occurs.
The disappeared files from the ftp storage aren´t marked as deleted files/folders within the databases and not at the nextcloud trash (of course) but why will this files removed from lokal desktop nextcloud folders as far as there isn´t any explicit re

[2016-12-10 12:01] jasonbayton opened #2601 "Themes per user/group"
So I've been considering a couple of things, mainly around splitting my NC install off into personal/work profiles to share with colleagues as an alternative to Dropbox at the office.

In thinking about this I recalled the work install I setup with owncloud and a company branded theme a long time ago and wondered:

Would it be possible to offer a theme based on user group? If I were to open the in

[2016-12-10 12:08] godfuture commented on #2020
@schiessle
Your steps are correct. In my case the files are not encrypted on filesystem. I can read them in shell using nano. But the webinterface and webdav clients cant open the files:
`Diese Datei kann nicht entschlüsselt werden, es handelt sich wahrscheinlich um eine freigegebene Datei. Bitte den Eigentümer der Datei kontaktieren, um die Datei erneut freizugeben.`

[2016-12-10 13:58] MariusBluem opened #2603 "Video previews are not sized correctly"
<img width="496" alt="bildschirmfoto 2016-12-10 um 14 55 01" src="https://cloud.githubusercontent.com/assets/19711361/21073789/aca45812-bee8-11e6-932e-a70ef38dbb76.png">

### Server configuration
**Operating system**:
Ubuntu 16.04 LTS
**Web server:**
Apache
**PHP version:**
7.0
**Nextcloud version:** (see Nextcloud admin page)
11.0 RC1

### Client configuration
**Browser:**
Safari 10.0.1
**Operati

[2016-12-10 14:00] tx7 commented on #2020
Hi,

I recently update from 10.0.1 to 10.0.2, and encounter this error.
I'm not use encryption, only local mount share drive.

System info:

Debian Jessie
MySQL
PHP 5.6
Nginx

[2016-12-10 15:38] nickvergessen commented on #2603
They where already killed, iirc.

[2016-12-10 15:40] nickvergessen commented on #2597
Please insert the browser log as requested by the issue template

[2016-12-10 15:41] nickvergessen commented on #2601
And for public pages etc?

[2016-12-10 15:43] nickvergessen commented on #2601
Honestly I don't think we should go down this road.

[2016-12-10 16:09] charlescurley commented on #2597
On Sat, 10 Dec 2016 07:40:42 -0800
Joas Schilling <notifications@github.com> wrote:

There is no browser log. I have the Web Developer extension installed.
I pulled up the browser console. No logs, no errors reported.

--

The right of the people to be secure in their persons, houses, papers,
and effects, against unreasonable searches and seizures, shall not be
violated, and no Warrants shall issu

[2016-12-10 16:32] jmartin17 opened #2604 "Updater problem with permissions trying to update from 10.0.1 to 10.0.2"
### Steps to reproduce
1.
2.
3.

### Expected behaviour
Tell us what should happen
should have run update to Nextcloud 10.0.2
### Actual behaviour
Tell us what happens instead
Got the following permission errors and don't know the command to change the permissions?

Check for write permissions
The following places can not be written to   /snap/nextcloud/173/htdocs/updater/../.
    /snap/nextcloud/

[2016-12-10 16:42] nickvergessen commented on #2597
What does the network log say?

[2016-12-10 16:53] charlescurley commented on #2597
On Sat, 10 Dec 2016 08:42:38 -0800
Joas Schilling <notifications@github.com> wrote:

Which network log? Or perhaps, what network log?

--

The right of the people to be secure in their persons, houses, papers,
and effects, against unreasonable searches and seizures, shall not be
violated, and no Warrants shall issue, but upon probable cause,
supported by Oath or affirmation, and particularly descr

[2016-12-10 17:47] jasonbayton commented on #2601
That would be great. Presumably if themes could be assigned based on group, folders created by people in a group could pick up on the relevant metadata too?

[2016-12-10 18:36] heyarne opened #2605 "Files inconsistent in database and data directory"
### Steps to reproduce

I have moved my nextcloud instance from one server to another (via `rsync -Aax -t --progress $FROM $TO` for the `data` and `config` directories), following [this guide](https://docs.nextcloud.com/server/10/admin_manual/maintenance/migrating.html). After everything appeared to have been working, i moved my data folder (by `mv`ing it on the filesystem and then updating the pa

[2016-12-10 19:06] kdo-razer commented on #2604
same here... running Nextcloudbox out oh the box...

[2016-12-10 19:10] rullzer commented on #2599
yes :tada:

[2016-12-10 19:45] rtdegraaf commented on #2589
FYI, I can reproduce this issue on a MacBook of a friend of mine, but only with the Eliptic curve SSL. With the other RSA key generated SSL certificate it works fine.

[2016-12-10 20:22] heyarne commented on #2605
I could "fix" the browser log to look like this:
[code]

[2016-12-10 21:21] LollenJumplan commented on #2604
I'm experiencing the same issure while trying to go 10.0.1 -> 10.0.2 through the web updater. I remember setting the permissions according to the NC10 admin manual, so everything should be in working order.

[2016-12-11 01:33] adamlove86 opened #2607 "General error: 2006 MySQL server has gone away"
### Steps to reproduce
Pressed the update to 10.0.2 button on nextCloud page that looks similar to the login page.
I wonder if this is due to me having the snap version?
Let me know if you need any more info.

### Expected behaviour
Should update to 10.0.2 smoothly

### Actual behaviour
Error message as per below

### Server configuration
Ubuntu 14 image on Dreamcompute.

**Web server:**
Dreamcomp

[2016-12-11 02:08] LollenJumplan commented on #2604
I was able to circumvent the problem.
Before upgrading, I did a chown -R www-data: /var/www/nextcloud
(only chowning the necessary files would probably be enough, but whatever)
Then I let it upgrade, and after that I ran the script for strong directory permissions again:
https://docs.nextcloud.com/server/10/admin_manual/installation/installation_wizard.html#setting-strong-directory-permissions
Tha

[2016-12-11 03:24] ruscogit opened #2608 "Nextcloud 11 RC1 slow loading after update from Nextcloud 10 via the admin panel."
### Steps to reproduce
1. Update Nextcloud to Beta 11 RC1
2. Navigate to Nextcloud installation using Firefox

### Expected behaviour
Loading quickly and without transfer issues.

### Actual behaviour
It seems to hiccup a lot when trying to transfer data to the web browser. Image example.
![example](https://cloud.githubusercontent.com/assets/13407145/21077817/1665ef3a-bf26-11e6-99de-6f928e9e2b9f.g

[2016-12-11 09:24] LukasReschke commented on #2607
@jospoortvliet Yours. No idea about the snap.

[2016-12-11 10:09] crumbking opened #2609 "Updater UI on phone only half visible"
### Steps to reproduce
1.admin page
2.click on open updater
3. updater page is only half visible

### Expected behaviour
Tell us what should happen
I should see the full page
### Actual behaviour
Tell us what happens instead
I see a sidebar with the word update and lots of white space
### Server configuration
**Operating system**:

**Web server:**

**Database:**

**PHP version:**

**Nextcloud vers