[2017-12-13 13:50] danxuliu opened #7483 "Wording of sharing settings does not convey that they apply to other elements too"
The sharing settings no longer apply only to sharing; the results shown in the [main contacts menu search](https://github.com/nextcloud/server/issues/207) or in the user search of Nextcloud Talk is affected by those settings too.

However, the settings are shown under the _Sharing_ section of the settings, and the wording of the options [does not clearly show that they apply to other elements too]

[2017-12-13 13:59] abcbuzhiming commented on #7434
@MrHat2010 no solution ，the reason is nextcloud not support postgresql 10.1

[2017-12-13 14:15] derRAV3N opened #7486 "background-image of transparent image previews doesn't repeat and gets stretched"
### Steps to reproduce
1. Upload transparent image to nextcloud
2. Open the uploaded image in the image preview
3. Hover over the image to enable the background-image

### Expected behaviour
The transparent part of the image should be covered by those squares that indicate transparency (I did view this by disabling `background-size` in the CSS inspector, but that only fixes it until you hover agai

[2017-12-13 14:57] jospoortvliet commented on #5107
Just mentioning https://github.com/nextcloud/server/issues/7428 as the follow-up.

[2017-12-13 15:00] rullzer opened #7488 "Update caches for federated shares in cron"
Currently we check the status of federated shares often during a request to list the files. Especially with broken federated shares this can lead to huge slowdowns. https://github.com/nextcloud/server/pull/7485 tries to fix this a bit.

However, it will still result in a request every once in a while to be slow.

A better approach would be to have a cronjob running for all (incomming) federated sh

[2017-12-13 15:16] MorrisJobke commented on #7486
looks like a gallery thing.

cc @pixelipo @skjnldsv @oparoz

[2017-12-13 15:20] jancborchardt commented on #7483
Should we relabel it »Sharing & communication«? Or what would you suggest? :)

[2017-12-13 15:25] voxdemonix opened #7489 "Files suddenly block"
Hello.

I use nextcloud for hosting some log's files, they are really often edit/purge by clients (they never remove the files). Often the files become block : i can read it but not edit, not remove, nothing else other than read.
For can re-use them, i need to remove manually them of the file system of the server, lunch a scan with nextcloud CLI  and recreat them.

-If i try to remove them from da

[2017-12-13 15:58] MariusBluem commented on #7483
„Collaboration“

[2017-12-13 16:00] qm2k commented on #7397
Related to #7037?

[2017-12-13 16:00] oparoz commented on #7486
Would probably be best to open in nextcloud/gallery

[2017-12-13 16:02] fgsl opened #7491 "Allow customized checks on bootstrap"
This change allows that system administrator can add running constraints to a specific Nextcloud installation. It can help to meet different customer requirements.

### Steps to reproduce
1. Create a PHP file starting with 'check_';
2. Write constraints code (essencially a if structure with an exit command);
3. Add that file to folder lib.

### Expected behaviour
If condition in added file is sati

[2017-12-13 16:08] MariusBluem opened #7492 "Position of datepicker"
version: 13.0 beta3
browser: safari 11.0.2

<img width="415" alt="bildschirmfoto 2017-12-13 um 17 07 10" src="https://user-images.githubusercontent.com/19711361/33948814-2d3525fe-e028-11e7-8c65-a327000a5990.png">

@nextcloud/designers

[2017-12-13 16:12] MariusBluem commented on #5337
Just reproduced, that this is happening on Firefox too ... so I think this is not a browser-specific problem. @skjnldsv What do you think? Is it easy to fix this? 😅

<img width="378" alt="bildschirmfoto 2017-12-13 um 17 11 01" src="https://user-images.githubusercontent.com/19711361/33949021-a1a555bc-e028-11e7-96d4-7fe6ac917792.png">

[2017-12-13 16:25] apus2016 opened #7494 "Feature Request: TOTP sharing of files and folders"
I'd like to see the following feature in Nextcloud.

Assuming one has to access private files in a public place, for example in a session of a program via Import(...), then it would be practical to have access to those files via a Time-based One-time Password (TOTP). That way, as soon as the session is over and the imported/included file and its content is removed from memory, the Import statement

[2017-12-13 16:30] CliffMitchell commented on #6532
Is anyone looki9ng into this problem please?
Thanks,
Cliff

[2017-12-13 16:33] schiessle commented on #7310
cool, i will have a look 😄

[2017-12-13 16:34] stefanjay opened #7495 "Nextcloud 13.0.0 b1 occ mnt:repair error/ updater error"
### Steps to reproduce
1. nginx/php72/centos 6.9 final/
2. nextcloud 13.0.0 beta1-> ~/cloud (owned by nginx); -> ./occ upgrade says already newest version -> but update to 13.0.0 beta3 is available as shown when logged in
3. nextcloud 13.0.0 beta1-> ~/cloud (owned by nginx); -> ./occ maintenance:repair -> error

### Expected behaviour
`./occ upgrade should download and upgrade to the newest availa

[2017-12-13 16:35] MorrisJobke commented on #7492
Duplicate of #7007

[2017-12-13 16:35] #7492 closed

[2017-12-13 16:36] MorrisJobke commented on #7491
cc @karlitschek @rullzer @blizzz Does that make sense?

@fgsl Do you have more examples for us?

[2017-12-13 16:37] MariusBluem commented on #7492
thx.

[2017-12-13 16:40] MorrisJobke commented on #5337
If I remove https://github.com/nextcloud/server/blob/66391d65a68d89f5351c1be7810cd4abd0e82989/core/css/share.scss#L94-L98 then this is fixed.

[2017-12-13 16:45] karlitschek commented on #7491
Sorry. I don't fully understand the usecase

[2017-12-13 16:55] skjnldsv commented on #5337
Disable the gallery app. :)

[2017-12-13 16:58] MariusBluem commented on #5337
Not really 😱 This did work :D

[2017-12-13 17:01] fgsl commented on #7491
Hi, @MorrisJobke and @karlitschek.

Most of all our customers have legacy user environments and they can't update them because some applications are incompatible with new software versions.

Think about a customer with more than five thousands of workstations running Internet Explorer 10 or lower as standard browser because some web applications depends on it. For this customer we can show a messa

[2017-12-13 17:06] MariusBluem opened #7497 "Generated profile picture does appear a second later and is not positioned correct"
I think this was a PR from you @rullzer ... https://github.com/nextcloud/server/pull/6876

![profilepic](https://user-images.githubusercontent.com/19711361/33951703-fcf0f942-e02f-11e7-8b44-9e23d3120b7f.gif)

- should appear directly after loading
- should be exactly in the middle
- should be re-generated if the name was changed:

![username changed](https://user-images.githubusercontent.com/197113

[2017-12-13 17:11] MorrisJobke commented on #5337
Right - I was wrong - it is this part:

https://github.com/nextcloud/gallery/blob/3618fc1a28fd9ae064bb157703eb0ef878789d35/css/share.css#L61-L67

[2017-12-13 17:24] MorrisJobke commented on #7491
Then we should not use this kind of dirty hack, but show a proper page with a nice explanation and not a white page with black text.

That check in there is for hard system dependencies that can only be worked around with an error message if the system has not fully started, because that would already crash. Reusing this for other user related issues is kind of bad and makes only the code harder t

[2017-12-13 17:25] #7454 closed

[2017-12-13 17:35] shaneonabike commented on #6532
@mdeweerd by CLI you mean from the command line?

[2017-12-13 17:41] skjnldsv commented on #5337
Sorry I was late to the party! 😆

[2017-12-13 18:20] fgsl commented on #7491
@MorrisJobke , this is a feature of customization. This change alone doesn't show a new page. Each sysadmin is responsible to create a proper page. Current check page (lib/versioncheck.php) is a white page with black text, but I didn't think about change it, only to allow additional checks. As it is implemented in this pull request is possible to show friendly pages, but only for additional checks

[2017-12-13 18:39] nRaecheR commented on #6292
FInally got a maintanance window for another try, this time from 11.0.6 to 12.0.4....without success. The same error occurs again, here the output from logging:

[code]

and here the output from the additional call to maintainance:repair :

[code]

It seems I'm stuck at version 11.0.x.

[2017-12-13 19:15] MorrisJobke commented on #7497
Damn ... that one is hard. I tried a lot, but some characters somehow are not properly positioned so I added a little offset:  https://github.com/nextcloud/server/pull/6876/files#diff-b32c4056021bc99b934fe5c4de05b79bR256

Could you remove that line and check again?

[2017-12-13 19:17] MorrisJobke commented on #7482
cc @karlitschek @blizzz @schiessle @rullzer

[2017-12-13 19:25] rullzer commented on #7497
PR with some fixes (help is welcome) in #7498

[2017-12-13 20:34] enoch85 commented on #7001
@jospoortvliet That the `files_sharing` is causing it is known since before. :)

I was hoping for 13.0.0, but it seems dark. :( Still, two weeks left I heard, so there is hope! [Please?](data:image/jpeg;base64,/9j/4AAQSkZJRgABAQAAAQABAAD/2wCEAAkGBxISEhUQEhAVFRUVFRUXFRUVFRUQFRUVFRUWFhUVFRUYHSggGBolHRUVITEhJSkrLi4uFx8zODMtNygtLisBCgoKDg0OGBAQGC0dHR0tLS0rKy0tLS0tLS0tLS0tLS0tLS0tLS0rLS0tLS0tLS0tNy0tNz

[2017-12-13 21:10] danxuliu commented on #7497
I am not sure if that can be achieved using PHP GD. `imagettftext` seems to have only pixel accuracy ([the X and Y positions are integers](http://php.net/manual/en/function.imagettftext.php)), but to get a proper alignment sub-pixel accuracy would be needed (for example, if the width of the character bounding box is an odd value).

Generating the avatar in a large enough size for the values to bec

[2017-12-13 21:22] enoch85 commented on #7001
I mean if @jospoortvliet and I are affected, there must be several more, but who is not reporting and thinking Nextcloud is crap because of this bug. So, I'd say it's best for reputation to fix this.

[2017-12-13 21:26] dkellenb opened #7499 "New created text file appears twice, after refresh everything is fine"
### Steps to reproduce
1. Create new text file using [+] icon with name `foo-bar.txt`
2. Popup opens
3. Now start typing (focus is not in the textarea, IMO a bug)
4. Type few texts
5. Wait until save text appears (`Gespeichert`)
6. Close the window

### Expected behaviour
Only one file visible (foo-bar.txt)

### Actual behaviour
Two files visible:
- {nameOfFolder}/foo-bar.txt
- {nameOfFolder}/foo-

[2017-12-13 21:29] MorrisJobke commented on #7001
@enoch85 There is a fix since 8 hours in #7485 😉

[2017-12-13 21:30] MorrisJobke commented on #7001
That also means it is not in the beta 3 but maybe in the RC 1 😉

[2017-12-13 21:30] enoch85 commented on #7001
I hope my emojois are enough to express my gratitude! Must test!

[2017-12-13 21:54] MariusBluem opened #7500 "Deleting profile pictures is not possible"
Deleting a profile picture should go back to the automated-generated profile picture, which should not be removeable ;)

![b2d6d8b8-0f9f-4306-9a96-700c7d545b08](https://user-images.githubusercontent.com/19711361/33964362-73245960-e058-11e7-8895-31f24248e7c0.jpeg)

@rullzer

[2017-12-13 22:11] enoch85 commented on #7001
Wow, it works. Thanks a ton guys!

[2017-12-13 22:26] enoch85 commented on #7309
Same in beta3.

[2017-12-13 22:26] enoch85 commented on #7309
Please remove milestone if incorrect.

[2017-12-14 04:26] bobpaul commented on #7384
PHP7.1 is supported until [1 Dec 2019](http://php.net/supported-versions.php) and 7.2 is marked as a not-backwards compatible; it's not unreasonable for an app like NextCloud to delay supporting the latest. There's still apps in Arch that depend on Python 2.7... I'd rather not risk major bugs getting introduced into 12.x due to porting to PHP7.2. NextCloud 12 should really be stable at this point

[2017-12-14 04:34] bobpaul commented on #7384
@HLFH `/srv/www`, `/var/www/` etc generally don't have files owned by packages. Certainly Gentoo, Arch, Debian all put webapps maintained by distro packages somewhere else (like `/usr/share/webapps`). I think one of the reasons for this is to make it easier to have multiple websites depending on the same webapp, such as running multiple NextCloud instances responding to different FQDNs. You can us

[2017-12-14 06:47] #7001 closed

[2017-12-14 06:48] rullzer commented on #7500
Lets tackle in #7498 as well

[2017-12-14 06:51] rullzer commented on #7497
Somewhat related to this. We should start using srcset for avatars. That way we can just serve higer resolution images. The advantage is that it will work properly on HiDPI screens. But higher resolution images will also center it 'better' by default ;)

[2017-12-14 07:19] skjnldsv commented on #7500
@MariusBluem why would you want to remove this beautiful squirrel?! :D

[2017-12-14 07:52] qm2k opened #7503 "tempdirectory is not used (snap install)"
### Steps to reproduce
1. Install Nextcloud via snap on a system with limited space on root filesystem.
2. Set `tempdirectory` in `config.php` pointing to `/media/temp`
3. Upload large file.
4. Monitor space usage, files in `/media/temp`, `/var/snap/nextcloud/common/nextcloud/tmp`

### Expected behaviour
File gets uploaded successfully, space on root filesystem is not used.

### Actual behaviour
T

[2017-12-14 08:11] MorrisJobke commented on #7500
Ummm .. that is then a regression. There was a button for deletion available. 🤔

[2017-12-14 08:17] skjnldsv commented on #7500
There is, it is just hidden:

https://github.com/nextcloud/server/blob/8c915baa3438c26454b7614ea03d4dadabcda5d5/settings/templates/settings/personal/personal.info.php#L83

https://github.com/nextcloud/server/blob/7a05cf300c6b3d4bdfff1bb61aa39822ff88fb8b/settings/js/settings/personalInfo.js#L63

[2017-12-14 08:59] janumix commented on #7437
Folder icon is not presented as previously (with arrow inside).
After clicking on its name gray filed remains but forlder didn't open.

![image](https://user-images.githubusercontent.com/952615/33983692-603cf214-e0b5-11e7-8ba4-436b6615696e.png)

[2017-12-14 09:00] MorrisJobke commented on #7011
Fix is in #7505

[2017-12-14 09:01] skjnldsv commented on #7011
Nice, I forgot there was an issue about this! :)

[2017-12-14 09:05] janumix commented on #7437
here is the same behariour in "External storage" - the only difference is icon.

![image](https://user-images.githubusercontent.com/952615/33983954-3f21cf4a-e0b6-11e7-8e02-5db34124321b.png)

[2017-12-14 09:10] splitt3r opened #7507 "Different button height for add to nextcloud / dl button"
There is a 1px difference between the button height (looks quite strange if you notice it :D):

![buttons](https://user-images.githubusercontent.com/1869584/33984048-8f9165c6-e0b6-11e7-8b51-8d4d43e52ab3.png)

But it´s solved in Nc 13 anyway :)

[2017-12-14 09:26] MorrisJobke commented on #7500
Fix is in #7498

[2017-12-14 09:35] joekerna opened #7508 "Settings button is invisible"
### Steps to reproduce
1. Install Nextcloud 13 Beta 3
2. Log in

### Expected behaviour
Settings button should be visible at the top right corner

### Actual behaviour
Settings button is not visible, menu can be accessed though

![2017-12-14_11h02_45](https://user-images.githubusercontent.com/23077594/33986607-60ca8d6e-e0be-11e7-96ef-bd438d9a92ea.png)

### Server configuration

**Operating system*

[2017-12-14 09:41] splitt3r opened #7509 "Download / menu links don´t work on public share pages"
### Steps to reproduce
1. Share a file by link
2. Click on the download button in the upper right corner / the more icon

Another strange behaviour:
1. Share a pdf by link
2. Click on the download button in the upper right corner
3. Now you see a whitepage instead of the pdf

### Expected behaviour
Sth. should happen

### Actual behaviour
Nothing happens

## Server configuration detail

**Operatin

[2017-12-14 09:49] alberizo commented on #7509
I have the same problem. When I share anything the link give error "The shared file doesnt exists",

The problem is the & in the url before "&download", if I change it to "/download" is working OK.

Nope
https://.......com/cloud/index.php/s/3OARtUk8WrZdp9V&download

Yes
https://.......com/cloud/index.php/s/3OARtUk8WrZdp9V/download

[2017-12-14 09:57] karlitschek commented on #7482
Actually I had similar thought a while ago. We could split up the admin permission into sub permissions. Like user management, app management, view logfile, monitoring, and so on.
But this is some work of course.

[2017-12-14 10:00] splitt3r commented on #7509
Hm i don´t know if you problem is related because if i remove the display: none; mentioned above the issue seems to be fixed. But the pdf problem is still there (pdfviewer is hidden after pressing the download / more button).

[2017-12-14 10:08] alberizo commented on #7509
You are right. I wanted open an issue about my problem, I saw yours and I thought What a coincidence! ... only 3 minutes ago. But I was wrong, isn't the same issue. I´m sorry

[2017-12-14 10:11] mdeweerd commented on #6532
Yes.  CLI = Command Line Interface.  I put the service in maintenance mode (using the config file), moved the old sources to another directory, extracted the Nextcloud source in the original location, copied the original configuration file and proceeded with the upgrade, and disabled maintenance mode.

[2017-12-14 10:23] fgsl opened #7510 "User is not found when is searched by name and one of surnames"
### Premise
User backend in LDAP

### Steps to reproduce
1. Upload a file
2. Click on sharing icon
3. Search for a user, using name and first of surnames. For example: User is "Roger Luis Padilha de Souza". Then, search for "Roger Luis". User will be found.
3. After, search for same user, using name and one for surnames, except the first of them. For example: User is "Roger Luis Padilha de Souza".

[2017-12-14 10:34] blizzz commented on #7482
Currently we meddle two ways to provide permissions: admins by the admin group and group admins, internally called subadmins, by a specific table. Imho it makes sense to consolidate it into some role-mechanism to avoid misusing user-visible groups and having isolated solutions for specific roles.

Talking about logfile, monitoring etc. it just make sense to transfer the "app enabled for group" to

[2017-12-14 10:49] MorrisJobke commented on #7510
Looks like a duplicate of #1749 which was fixed by #7169 - please check the Nextcloud 13 and verify it works for you.

[2017-12-14 10:51] MorrisJobke commented on #7508
This looks like the avatar generation failed. Could you check the nextcloud.log

[2017-12-14 10:52] MorrisJobke commented on #7507
Yes - we fixed this lately sadly the backport isn't that easy, because it was a major rework of the CSS. :(

I hope it's okay to close this ticket here.

Thanks for the report anyway :)

[2017-12-14 10:52] #7507 closed

[2017-12-14 10:57] fgsl commented on #7491
I fixed branch of this pull request. It had other commits not related to proposed change.

[2017-12-14 11:08] rullzer commented on #7491
Allow me to provide some context of the versioncheck. (Because I added it). The version check is actually needed to be done in such a crude way. Because if you have the wrong php version you will get a 500 error otherwise.

All other bootstrap checks should be done in a proper way IMO.

[2017-12-14 11:09] MorrisJobke commented on #7491
Develop an app and use that to do the checks. Apps can basically inject a lot of stuff to the whole system and do stuff like this. having yet another mechanism to add extensions to is the wrong way in my opinion.

TOTP app hooks for example in the authentication: https://github.com/nextcloud/twofactor_totp
First run wizard for example in every app on the first login: https://github.com/nextcloud/f

[2017-12-14 11:16] t-zuehlsdorff commented on #7380
Aloha,
i'm the PHP maintainer for FreeBSD. I just committed the patches of the PHP team so everyone using FreeBSD will get rid of the error by an update of www/php71-opcache :)
Greetings,
Torsten

[2017-12-14 11:23] foux commented on #7432
I've got the same issue

[2017-12-14 11:29] fgsl commented on #7491
Great, @rullzer and @MorrisJobke.  These guidelines are alternatives that I needed.
I will create an app.
So I close this issue.

Thanks!

[2017-12-14 11:29] #7491 closed

[2017-12-14 11:42] joekerna commented on #7508
Scss is disabled for /var/www/nextcloud/core/css/jquery.ocdialog.scss, ignoring
Scss is disabled for /var/www/nextcloud/core/css/share.scss, ignoring
Scss is disabled for /var/www/nextcloud/core/css/server.scss, ignoring

[2017-12-14 11:49] enoch85 opened #7513 "Improve handling of invalid federated (and regular) shares"
As @rullzer mentioned [here](https://github.com/nextcloud/server/pull/7485#issuecomment-351623549) we should improve the way closed servers with federated shares are handled. The issue in #7001 was fixed with caching and it works, but could be done "in a smarter" way.

I suggest that:

- When a URL for the server of a federated share has been inactive (aka 404) for 30 days, then remove the federat

[2017-12-14 12:37] Spartachetto commented on #4699
Given that the milestone has been postponed, maybe you could consider to include the following issues:

- Possibility to search system tags with a better query system #4851
- colored tags #6778
- Allow creating/modifying group tags in the admin UI #621

@MorrisJobke, perhaps?

in addition here (Better UI for managing and applying tags ? #4842) you find a sort of "general discussion" of some possib

[2017-12-14 12:52] MartinSohn commented on #5843
I'm experiencing almost the same issues as @ccoenen using SMB/CIFS to a Windows share.
Nextcloud syncs both files and folders with illegal Windows filesystem characters.

This creates issues for Nextcloud users that use both UNIX and Windows systems.

### Steps to Reproduce
Create a directory with Nextcloud web interface or UNIX client in SMB/CIFS external storage called "broken " (excluding quote

[2017-12-14 13:09] MorrisJobke commented on #7513
cc @nextcloud/sharing

[2017-12-14 13:09] MorrisJobke commented on #7491
Nice 👍

[2017-12-14 13:15] MorrisJobke commented on #4699
We just released the beta3 of Nextcloud 13. So also all of those are new features and enhancements and will not be included in 13 anymore. We cannot put everything in one release and delay it even more. Sorry for that.

[2017-12-14 13:44] FrankGiesecke opened #7515 "Configure extra Mail-Headers for SMTP"
It would be great if an administrator can specify some extra mail headers for sending email over SMTP.
So it would be possible to use external mail providers like SendGrid which allows to specify and use templates for email.

For further information see [Using the SMTP API ](https://sendgrid.com/docs/API_Reference/SMTP_API/using_the_smtp_api.html).

This feature request will notably support SendGr

[2017-12-14 13:55] masaki-iwata commented on #7439
I too suffering from the same error.
Upgrad from NC12.0.4 to NC13 beta3.

Operating system: CentOS 6.2
Web server: Apache 2.2
PHP version: 7.1.2

[2017-12-14 13:55] gerritduits commented on #7344
I can confirm what @reneglauser has posted. I've got the same issue here.

[2017-12-14 13:58] eppfel commented on #4827
I question the relevance of this...
Are there users complaining?

[2017-12-14 14:02] MorrisJobke commented on #4827
Let's close this ticket in favour of #2138

[2017-12-14 14:02] #4827 closed

[2017-12-14 14:05] MorrisJobke commented on #7515
@FrankGiesecke Cheers to a fellow Chemnitz guy ;)

For send grid it needs then this as additional headers, right?

[code]

In the documentation it looks like the passed parameter is dynamic and holds the email details. i guess then it would be better to have a dedicated Sendgrip option, or am I wrong here?

[2017-12-14 14:18] MorrisJobke commented on #6906
This is an updater issue and was already reported there.

Duplicate of https://github.com/nextcloud/updater/issues/68

[2017-12-14 14:18] #6906 closed

[2017-12-14 14:20] MorrisJobke commented on #4936
As this looks more like a setup problem I would like to ask you to seek for help in the forums first: https://help.nextcloud.com

Thanks

[2017-12-14 14:20] #4936 closed

[2017-12-14 14:27] MorrisJobke commented on #6719
@blizzz Could this be a caching issue?

[2017-12-14 14:27] jancborchardt commented on #7483
"Sharing & collaboration" then? Cause it needs to explicitly say "Sharing" as we use that wording everywhere.

[2017-12-14 14:28] MorrisJobke commented on #7150
Looks like the same issue - let's continue in #7135

[2017-12-14 14:28] #7150 closed

[2017-12-14 14:28] MorrisJobke commented on #7332
cc @icewind1991

[2017-12-14 14:29] MorrisJobke commented on #7329
This is intentional so that both (deleter and owner) can restore the file afterwards.

[2017-12-14 14:29] #7329 closed

[2017-12-14 14:30] MorrisJobke commented on #6986
cc @nextcloud/ldap

[2017-12-14 14:32] MorrisJobke commented on #7349
This does only mean that it used the wrong authentication credentials.

All the provided logs don't contain any crucial information to properly debug this. I tried to reproduce this, but failed to do so. All works smooth here.

I will close this ticket for now. If you have more information on how to reporduce this, please let us know.

Thanks

[2017-12-14 14:32] #7349 closed

[2017-12-14 14:33] MorrisJobke commented on #7269
@rullzer Is there a way to better handle large amounts of previews? Some background job thingy?

[2017-12-14 14:34] MorrisJobke commented on #7317
Duplicate of #6354

[2017-12-14 14:34] #7317 closed

[2017-12-14 14:35] MorrisJobke commented on #7317
Fix is in #6483

[2017-12-14 14:36] qm2k commented on #7397
Still happens on 12.0.4 (even though problem with `^/(core|apps|settings)/` seems fixed).

[2017-12-14 14:36] MorrisJobke commented on #7377
I would not do that ...

cc @nextcloud/designers

[2017-12-14 14:37] MorrisJobke commented on #7420
cc @icewind1991

[2017-12-14 14:37] MorrisJobke commented on #7420
S3 should be a lot smoother with 13. Could you test it again?

[2017-12-14 14:38] MorrisJobke commented on #7413
cc @nextcloud/designers

Maybe enforce the search by pressing enter? I am against an option for the search

[2017-12-14 14:40] MorrisJobke commented on #7350
cc @rullzer @schiessle @blizzz

[2017-12-14 14:41] jancborchardt commented on #7413
Agree there should _not_ be an option.

Needing to type 2 characters seems not instant enough. Can we reduce it to 1 char for current folder and 2 for recursive? (I know 1 char for recursive would be too resource-intensive.)

[2017-12-14 14:43] rullzer commented on #7269
I don't get why we would access the other folders at all to be honest... I'll see if I can reproduce this...

[2017-12-14 14:43] jancborchardt commented on #7377
Yes, I wouldn't do it either because:

- It will need to have 44*44 area of clickability which extends well beyond the icon which will lead to misclicks, especially on mobile.
- A toggle-action like this should be toggleable then, but then we need to introduce a grey star again - nope.

[2017-12-14 14:44] #7377 closed

[2017-12-14 15:07] fgsl commented on #7510
@MorrisJobke

We tested Nextcloud 13 beta1, available in Nextcloud website. In this version, search by name keeps working like previous releases.

For every word that you types the wildcard '*' is only append to string, never prepend to it.

We know that can reduce performance, but it's better to be slow than don't find users. But if it could be enabled by configuration, current behaviour can be k

[2017-12-14 15:17] blizzz commented on #6986
@fgsl thanks for the report, investigatio and suggestions!

This is probably also related to https://github.com/nextcloud/server/issues/7445, no reason to call ``fetchUsersByLoginName`` since we save the userid.

Need to check again, I believe to remember that we have a check somewhere (probably Config wizard) were we check whether more than one result is returned.

[2017-12-14 15:21] blizzz commented on #6719
Sounds like that, except for

[2017-12-14 15:34] 00tiagopolicarpo00 opened #7516 "Nextcloud 13 beta3 updating files"
### Steps to reproduce
1. Update files from client desktop to server
[nextcloud.log](https://github.com/nextcloud/server/files/1559786/nextcloud.log)
![selection_095](https://user-images.githubusercontent.com/23580329/34000111-4306936a-e0e4-11e7-9f6d-e6a742a5ae28.png)

2.
3.

webdav	Sabre\DAV\Exception: An exception occurred while executing 'INSERT INTO "oc_filecache" ("mimepart","mimetype","mtime

[2017-12-14 15:37] 00tiagopolicarpo00 commented on #7516
Log Nextcloud
[nextcloud.log](https://github.com/nextcloud/server/files/1559797/nextcloud.log)

[2017-12-14 15:58] ryannix123 opened #7518 "Access to external Samba file shares broken"
If you mount an SMB file share you can no longer access it through the web GUI. However, file sync seems to be unaffected.

CentOS 7.4
Maria DB 10.1
PHP 7.1 (Remi)

[2017-12-14 15:59] jasonbayton commented on #7344
Hi folks,

If one of you again test at the top of the hour and ping me here or @jasonbayton on twitter before the hour is up I'll grab the logs. I missed it..

[2017-12-14 16:07] dhowe opened #7519 "OSX calendar sync fails (via caldav)"
To reproduce:
1. Create a calendar on nextcloud
2. On OSX (10.13), attempt to add a new caldav account in automatic, manual, or advanced mode (using any combination of paths)
3. It fails with 'Unable to verify account name or password'

### Expected behaviour
Should be able to add caldav account and sync events

### Actual behaviour
Fails with 'Unable to verify account name or password'

Note that

[2017-12-14 16:23] schiessle opened #7520 "Favorites in '...' menu looks wrong"
Feel free to close this issue, if you think this was already discussed enough. I didn't saw any discussion about it so far, so I want to rise my concerns.

With Nextcloud 13 we moved favorites to the '...' menu. This is how it looks:

![favorites](https://user-images.githubusercontent.com/1589737/34002511-0ca0facc-e0f3-11e7-9319-4526906af53d.png)

Two thinks which confuses me the first time I saw

[2017-12-14 16:47] Spartachetto commented on #4699
@MorrisJobke, I am afraid I did not manage to be clear...

I wrote "Given that the milestone has been postponed" meaning that, _given that this overal issue on tags has been postponed to Nextcloud 14_, maybe you could consider to include other pending feature requests on tags.

I had the impression that all the three feature request I suggested to include in the list for Nextcloud 14 were deemed "

[2017-12-14 16:52] Mamyrusses commented on #6438
I upvote for the resolution of this bug. Using Nextcloud is very compromised without it! Thanks

[2017-12-14 17:12] skjnldsv commented on #7520
Agree with both.

[2017-12-14 17:42] jancborchardt commented on #7520
I'm ok with moving it to the second position, after details.

The coloring was added to better discern the entries. Favorites have a clear color-coding, and I'm thinking of doing the same for Delete (dark red). In a list of 6 actions (possibly more depending which app injects stuff) this really helps do things quickly, and makes the interface more helpful & less bland.

[2017-12-14 17:47] pc-maniac commented on #6719
If some additional details needed, I can provide it.

[2017-12-14 17:53] tfmm commented on #7388
After upgrading to Beta 3, I noticed that when the page loads, the "share" and "..." buttons load briefly for the external storage, but then disappear.  This may have been happening prior to the update as well, I'm not sure.

The buttons, and functionality to open the storage in the same view, look to disappear after this request:

core.js?v=8c2f33cf-6:4 XHR finished loading: GET "https://REDACTED

[2017-12-14 18:17] MariusBluem commented on #7520
https://github.com/nextcloud/server/issues/7379

[2017-12-14 18:23] Spartachetto commented on #7435
the proposal of @frogueat would allow an extension of the _contacts popover_ concept....

if I have "@Calendar:20171209/mytitle" in a comment, show a popover with some info on the calendar item; then, if I click on the popover, show me the calendar item. The same is true for "@file:xxx" or "@task:xxx" or ...
It could be elegant from an user interface point of view, even if not technically easy to

[2017-12-14 18:24] jgrete opened #7521 "Upload existing file - conflicting file dialog not useable"
### Steps to reproduce
1. Generate a file on the server.
2. Download this file, change it (not important). The filename must stay the same.
3. Upload to the same you've downloaded the file from

### Expected behaviour
A dialogbox appears telling about conflicting files. It is possible to check two options and choose which files to keep and go further on.

### Actual behaviour
first server with PHP

[2017-12-14 18:31] jancborchardt commented on #7520
@MariusBluem what's your point though? :) It's separate suggestions?

[2017-12-14 19:14] MorrisJobke commented on #7510
cc @nextcloud/ldap

[2017-12-14 19:16] MorrisJobke commented on #4699
Ah :) Okay - I just moved it because it was already put into 13 and thus should be in 14 (at least we try to). We will have a look at the 14 stuff once we plan it. For new we finish 13 :)

[2017-12-14 20:05] alexw65500 commented on #7421
The upstream is of course fine, I just applied it wrong:

I just commented out the original line and pasted the updated line from https://github.com/swiftmailer/swiftmailer/pull/935/commits/da589651593377d1e364011e658b8901500e9458

But upstream is using `$this->stream`, while the version bundled in nextcloud is using `$this->_stream`.
Referencing the wrong variable of course broke it and using the

[2017-12-14 20:45] ArnY opened #7522 "after ldap configuration changed to remove groups, groups remain, invisible from the user manager but appear to users"
### Steps to reproduce
1. Set up ldap authentication with groups (group filter + group base DN in the advanced settings, etc.)
2. Decide you didn't need the groups, remove the group filter, group base dn, etc. from the configuration. In the ldap/AD configuration form, the "Verify settings and count the groups" button says "0 groups found." The groups disappear as expected from the user manager and

[2017-12-15 00:29] Rotzbua commented on #7421
Ah, nextcloud is using swiftmailer `v5` but my patch is for `v6`. They renamed the variable names between this version...

[2017-12-15 02:55] frogueat commented on #7435
I am happy to see, this idea finds some interest! To push it further i'd like to make you familiar with the concept of backlinks (I know this frpm a different dms/ecms/wf/cloud-product). Logically this is simple: linking an object implicates that the linked object (the target) sees the object fomulating the link (the source). This helps users much in exploring the "network" and generates very usef

[2017-12-15 03:53] DarkAxi0m opened #7524 "S3 Primary Storage In Asia Pacific (Sydney) not working; The authorization header is malformed"
### Steps to reproduce
1. Created a new bucket in  Asia Pacific (Sydney) region
2. Setup key/secret  (and tested)
2. Clean install of nextcloud-12.0.4
Following https://docs.nextcloud.com/server/12/admin_manual/installation/source_installation.html#ubuntu-installation-label
3.  Before Starting Wizard created "objectstore.config.php"
[code]

### Expected behaviour
Normal Nextcloud dashboard, with s

[2017-12-15 03:56] DarkAxi0m commented on #7524
If only change in the objectstore.config.php file to a bucket in `EU (Ireland)` and the host name  to `s3-eu-west-1.amazonaws.com`   the reload, the site works, but very very slowly just to the server and s3 region being on the other sides of the world.

[2017-12-15 04:12] DarkAxi0m commented on #7524
got it working by adding ` 'region' => 'ap-southeast-2'` to objectstore.config.php

[2017-12-15 04:12] #7524 closed

[2017-12-15 05:38] BandonRandon opened #7528 "An exception occurred while executing 'INSERT INTO `migrations` (`app`,`version`)"
### Steps to reproduce
1. Backup Nextcloud 12.0.4 install
2. Set upgrade channel to Beta
3. Attempt to upgrade to Nextcloud 13 beta 3
4. Click the "Start Upgrade screen on the web upgrader.

### Expected behaviour
For the database to finish upgrading

### Actual behaviour
Got this error in both web interface and from ssh into the server.
[code]

### Server configuration

**Operating system**: Cent

[2017-12-15 06:02] BandonRandon commented on #7528
I was able to resolve this by updating the length of the `migrations` column.

[code]

I ran `ALTER TABLE `migrations`  MODIFY `version` varchar(255);`

[code]
Then the upgrade script ran as expected.

[2017-12-15 06:48] arusa commented on #6787
I just did the upgrade from 12.0.3 to 12.0.4 and the same problem occured again.

[2017-12-15 07:46] MorrisJobke commented on #7528
Weird - we set this to 255: https://github.com/nextcloud/server/blob/0eebff152a177dd59ed8773df26f1679f8a88e90/lib/private/DB/MigrationService.php#L108

Have you done some other changes before that?

[2017-12-15 07:49] MorrisJobke commented on #7528
I just tested this and it works fine (on multiple instances):

[code]

Could it be that you migrated before from ownCloud?

[2017-12-15 08:14] BandonRandon commented on #7528
Yeah bet that's it. I originally installed ownCloud 10.0.3 then migrated to Nextcloud 12.0.4 RC before upgrading to the final 12.0.4 release. Then today testing Nextcloud 13 Beta. So perhaps this is a bug more in the migration script of ownCloud > Nextcloud and less of Nextcloud 12 > 13 that I'm just now running into.

[2017-12-15 08:34] MorrisJobke commented on #7528
@rullzer @blizzz Do you have an idea how to handle this special case for the OC -> NC migration? We basically need to add a alter table for the migration table.

[2017-12-15 08:34] MorrisJobke commented on #7528
@BandonRandon Thanks for the clarification: yes this is indeed the problem. There is the 177 characters limit.

[2017-12-15 08:40] BandonRandon commented on #7528
@MorrisJobke Glad we were able to get to the bottom of that. It's perhaps a super power of mine to find these edge cases in OSS ;)

Just for clarity here, it seems to be the `version` table being set to `varchar(14)` that was the blocker.  Sounds like the plan is to make both `app` and `version` `varchar(255)` to match that of a standard Nextcloud install so it won't matter just wanted to clarify

[2017-12-15 08:45] ayalavalva commented on #6990
We have the same issue on both 12.0.3 / 12.0.4. Exactly what others described (everything works as expected on Firefox but not on Chrome, password field not displayed, share checkbox is immediately re-checked after unchecked).

Clearing browsing history, cookies, cached data and resetting back to defaults does not resolve problem.

[2017-12-15 08:48] MorrisJobke commented on #7521
I don't see how the PHP version could affect the JS code in that matter. @danxuliu @ChristophWurst Do you have an idea here?

[2017-12-15 09:18] esprit-libre opened #7530 "SameOrganizerForAllComponentsException"
Linked to [#683](https://github.com/nextcloud/calendar/issues/683)
### Steps to reproduce
Not sure because it comes from a customer
1. Create a recurrent event in a shared calendar, with no end date. User that creates it is not the owner of the calendar
2. Edit the event with another user, also not the owner of the calendar
3. Edit again with any other user

### Expected behaviour
Modification sho

[2017-12-15 09:22] blizzz commented on #6719
I'd need to allocate some time to reproduce and check this. It's not very high on my priorities right now, tbh. If you're familiar with PHP… ?

[2017-12-15 09:26] blizzz commented on #7510
The search goes via LDAP. Typically, you'd define seperate [User Search Attributes](https://docs.nextcloud.com/server/12/admin_manual/configuration_user/user_auth_ldap.html#directory-settings), mostly it is "sn" and "givenName", but it depends on your use of LDAP. Then the order of the name does not matter.

[2017-12-15 09:27] MorrisJobke commented on #7530
cc @georgehrke

[2017-12-15 09:29] blizzz commented on #7528
I never looked into migrations (yet).

[2017-12-15 10:06] reneglauser commented on #7344
@jasonbayton Hi Jason, I just pressed the link and got the error again.....can you have a look at the logs?

[2017-12-15 10:17] jasonbayton commented on #7344
Unfortunately there are no error logs registered against any action you may have taken, neither on the proxy nor the demo server.

[2017-12-15 10:29] reneglauser commented on #7344
@jasonbayton ok, I clicked again and got again the 503 error.....

[2017-12-15 10:38] jasonbayton commented on #7344
The closest I can see is this:

[code]

I'll look into it but not sure it'll change anything.

[2017-12-15 10:39] MorrisJobke commented on #7359
This means that there is a problem with the SMB mount. Could you try with an SMB cli tool to connect from the Nextcloud vm to that mount (to check if the underlying server/client works). If this also doesn't work it is a setup issue with the SMB server or mount.

[2017-12-15 10:40] MorrisJobke commented on #7380
This needs an update of the underlying PHP package. Sadly we can't do anything here. Sorry :(

Please reach out to the maintainers of the PHP package that you use.

[2017-12-15 10:40] #7380 closed

[2017-12-15 11:11] RainerEmrich opened #7532 "13.0.0 beta 3: white page after upgrade"
### Steps to reproduce
1. Update from 12.0.4 to 13.0.0 beta3 using webupdater

### Expected behaviour
occ upgrade should be run, redirect to default page afterwards.

### Actual behaviour
occ upgrade does not start leading to a blank page.
The issue is caused by missing execute permissions on occ. Fixing the permissions manually and running occ upgrade afterwards solves the issue.

[2017-12-15 11:19] MorrisJobke commented on #7440
Could you also add the distributed memcache and configure Redis there: https://github.com/nextcloud/server/blob/master/config/config.sample.php#L1071

Then it maybe faster soon. I guess that the local cache is just cleared on restart.

[2017-12-15 11:35] snapper87 commented on #7380
Fix is already available upstream. Backported to ondrej's ppa already. https://launchpad.net/~ondrej/+archive/ubuntu/php

[2017-12-15 11:41] mjanssens commented on #7413
I understand that an extra option is not desirable, it keeps the interface clean.
Suggestion by MorrisJobke is indeed what would solve these search cases.
I'm not sure though if it is important enough to implement. Has no other user (in large environments) mentioned this?

[2017-12-15 11:43] m4ntic0r commented on #7359
because of an other error on an other server i migrated all my ubuntu servers to debian 9 and i dont have any issues atm.

[2017-12-15 12:42] #7359 closed

[2017-12-15 12:44] MorrisJobke commented on #7532
You used the web page to update (white page with "updater" in the top right) and then also used the web based upgrade (blue page with the button in the middle to start it)? What does this have to do with occ upgrade (which is the counterpart to the blue page). Either you used the web based upgrader (blue page) or occ upgrade. Could you explain this a bit more?

[2017-12-15 12:55] MorrisJobke commented on #7422
cc @nextcloud/theming

[2017-12-15 13:15] RainerEmrich commented on #7532
Sorry for being unclear. I updated from 12.0.4 using the updater on the admin page beta channel selected.

![updater](https://user-images.githubusercontent.com/26002841/34043360-011dcf6e-e1a1-11e7-856e-840d2d860593.png)

Pushing "Start update"

![updater2](https://user-images.githubusercontent.com/26002841/34043444-7087915a-e1a1-11e7-8743-1b9410b4889c.png)

Now using the web based updater pressing

[2017-12-15 13:18] MorrisJobke commented on #7532
Okay - this has nothing to do with the white page.

You don't need the executable flag for the occ command to run - you could also run `php occ upgrade` - the executable flag here is for convenience.

The white page is the real problem. Is there anything in the nextcloud.log or the web server error log? Because the white page indicates, that there was a problem.

[2017-12-15 13:19] MorrisJobke commented on #7499
cc @icewind1991 @danxuliu

[2017-12-15 13:20] MorrisJobke commented on #7499
For me this happens, when I create a file and immediately favourite it after creation (without a page refresh in between).

[2017-12-15 13:20] MorrisJobke commented on #7499
cc @rullzer for the preview error.

[2017-12-15 13:49] MorrisJobke commented on #2692
Provided by the caniupdate app https://github.com/nextcloud/caniupdate

We maybe should think about adding this to the update notification app later.

[2017-12-15 14:07] zauguin opened #7534 "13.0.0 Beta 3: Wrong paths in App CSS files with multiple app_paths"
### Steps to reproduce
1. Open the Polls App without any existing polls (the same problem exists for example with the Mail App)

### Expected behaviour
In the middle of the screen, there is the icon of the polls app.

### Actual behaviour
There is no icon. There is no problem with the icon in the navigation bar on the top.

After looking at the CSS code, there is
[code]
It should be
[code]

### Se

[2017-12-15 14:10] masaki-iwata commented on #7532
I too suffering from the same error 500.
Upgraded via web interface from NC12.0.4 to NC13 beta3.

I found this error in apache error log.

`PHP Fatal error:  Declaration of OCA\\FilesAccessControl\\StorageWrapper::copyFromStorage(OCP\\Files\\Storage $sourceStorage, $sourceInternalPath, $targetInternalPath) must be compatible with OCP\\Files\\Storage::copyFromStorage(OCP\\Files\\Storage\\IStorage $

[2017-12-15 14:18] RainerEmrich commented on #7532
You're right, sorry.

I try to reproduce. For sure the upgrade isn't started.
I roll back and retry.

[2017-12-15 14:19] RainerEmrich commented on #7532
Yeah, got it.

nextcloud.log:
{"reqId":"I76Rx37T3t6gby8zyNxc","level":3,"time":"2017-12-15T14:06:16+00:00","remoteAddr":"24.134.13.209","user":"--","app":"PHP","method":"GET","url":"\/","message":"Declaration
of
OCA\\FilesAccessControl\\StorageWrapper::copyFromStorage(OCP\\Files\\Storage
$sourceStorage, $sourceInternalPath, $targetInternalPath) must be
compatible with
OCP\\Files\\Storage::copyFrom

[2017-12-15 14:29] shaneonabike commented on #6532
What a brainblock of course CLI means that... Thanks for the info! I'll give it a shot and report back

[2017-12-15 14:55] MorrisJobke commented on #7532
Gotcha - the files_accesscontrol caused this.

[2017-12-15 15:01] MorrisJobke commented on #7439
This was fixed in files_accesscontrol 1.3.0 - https://github.com/nextcloud/files_accesscontrol/pull/75

[2017-12-15 15:01] #7439 closed

[2017-12-15 15:03] reset12 opened #7535 "Lose Admin icon on Top Line"
Hello,
i lose the Icon to come into Admin from the top line after upgrade from 12.0.3 to 13.0 beta3.

I must make the update with sudo -u www-data php updater.phar, because the online-Updater
never worked for me.

I use ubuntu 16.04 on Odroid XU3, with nginx as webserver
PHP 7.0.22-0ubuntu0.16.04.1
mysql  Ver 14.14 Distrib 5.7.20, for Linux (armv7l) using  EditLine wrapper

Another problem i have

[2017-12-15 15:03] RainerEmrich commented on #7532
Am 15.12.2017 um 15:55 schrieb Morris Jobke:

Does this qualify for a T-Shirt. I would be really proud of a Nextcloud
T-Shirt.

[2017-12-15 15:05] MorrisJobke commented on #7532
It was already fixed in 1.3.0 🙈 . But maybe @jospoortvliet can help you with that 😉 Just drop him and me an email with this thread as an reference (our emails are our first name <at> nextcloud <dot> com)

[2017-12-15 15:07] MorrisJobke commented on #7535
Press the little avatar in the top right to reveal the menu. cc @nextcloud/designers for UX problems ;)

This one is a duplicate of #1781 with a potential fix in #5623.

[2017-12-15 15:07] MorrisJobke commented on #7534
cc @skjnldsv

[2017-12-15 15:11] MorrisJobke commented on #7516
cc @rullzer @pfiff45 @icewind1991

[2017-12-15 15:13] RainerEmrich commented on #7532
Am 15.12.2017 um 16:00 schrieb Morris Jobke:

This isn't going to work, because there is no 1.3.0 version of the app
for NC 12.0.x.

[2017-12-15 15:23] RainerEmrich commented on #7532
Am 15.12.2017 um 16:13 schrieb Rainer Emrich:

I just rechecked, last supported version for NC 12 is version 1.2.5 of
the app. So you would need a version 1.2.6 which works for NC 12.

[2017-12-15 15:28] blizzz commented on #6517
@alexfauss I wasn't able to to reproduce the issue. From LDAP we always take the first email that is returned. It's unlikely but not impossible that a server implementation may send it in varying order… Which LDAP server are you using? Or the values often updated at that place?

Also, can you change the debug output from https://github.com/nextcloud/server/issues/6517#issuecomment-330801071 and re

[2017-12-15 15:37] marinofaggiana opened #7536 "NC 13 - background.png issue"
### Steps to reproduce
1.
2.
3.

### Expected behaviour
Tell us what should happen

### Actual behaviour
Tell us what happens instead

### Server configuration

**Operating system**:

**Web server:**

**Database:**

**PHP version:**

**Nextcloud version:** (see Nextcloud admin page)

**Updated from an older Nextcloud/ownCloud or fresh install:**

**Where did you install Nextcloud from:**

**Signin

[2017-12-15 15:39] jancborchardt commented on #7535
@MorrisJobke @nextcloud/designers there you go – this was one of the reasons I preferred having the icon-settings on the top right initially. For people who just set up their Nextcloud, it is unmistakeably »Settings«. If it’s the avatar placeholder, it needs some thinking.

I’ll reopen this cause this is a problem I didn’t consider when commenting at https://github.com/nextcloud/server/pull/6876#i

[2017-12-15 15:47] blizzz opened #7537 "ContactsMenu triggers 500 when search is limited to groups"
Just dumping this while I am investigating something else

0. On git master
1. Have to many users (i mostly from LDAP)
2. Have two users in a single local group
3. Limit search to within groups only
4. Open contactsmenu

Expected:

The other user shows up

Actual:

[code]

[2017-12-15 15:52] jancborchardt opened #7538 "Apps mgmt: add categories for »Top rated« and »Recently updated«"
Similar to the site itself at https://apps.nextcloud.com, it would be cool to have categories in the apps mgmt for »Recently updated« and »Top rated« apps.

[2017-12-15 15:52] philippe-opendsi commented on #3524
Hi
We are experiencing the same problem. Using v12.04. Update and delete directly made in the filesystem (mounted in nextcloud via CIFS) are not correctly propagated to all users via sync desktop.

[2017-12-15 16:03] danxuliu opened #7539 "The Delete action is not available in the file list header on narrow screens"
When the window width is 688px or less and one or more files and/or folders are selected the _Delete_ action is not available in the file list header.

![files-header-delete-not-available](https://user-images.githubusercontent.com/26858233/34050037-bf580dce-e1b9-11e7-937c-2ab875f42782.png)

@nextcloud/designers

[2017-12-15 16:07] 00tiagopolicarpo00 commented on #7516
Now i change on redis to socket.

[2017-12-15 16:07] 00tiagopolicarpo00 commented on #7516
Now i change on redis to socket.

[2017-12-15 16:10] danxuliu opened #7540 "The file list is partially visible behind the header"
When the files vertically overflow the list and the list is scrolled its contents are partially visible behind the file list header.

Origin:
![files-header-origin](https://user-images.githubusercontent.com/26858233/34050279-a1382d1e-e1ba-11e7-8fd3-1e587e52ef93.png)

Scrolled:
![files-header-scrolled](https://user-images.githubusercontent.com/26858233/34050295-a84569b4-e1ba-11e7-803e-8a24dc852f21.

[2017-12-15 16:30] blizzz commented on #7428
I really really really hope not so :D and heavily doubt it.

I can confirm it happens with LDAP users, but not  with local ones. On master. Neet to continue debugging later.

[2017-12-15 16:35] LEDfan commented on #7428
@blizzz if the LDAP users are having an e-mail address and the locals not it may be solved by #7490

[2017-12-15 16:50] jancborchardt opened #7541 "Emoji picker for comments, Talk, etc."
Chat services like Slack, Skype etc. offer an easy way to add emojis to messages by providing an emoji button, usually on the right side of the input field:
![](https://get.slack.help/hc/article_attachments/115014883106/emoji-menu.png)

I looked around a bit for plugins, and the only one which is nice (has good layout and search) and _doesn’t_ require React is https://github.com/mervick/emojionear

[2017-12-15 16:50] Wrumm opened #7542 "Folders named "logs" do not get synced with desktop client"
### Steps to reproduce
1. Create a folder named "logs" in any currently synced folder
2. Put any file(s) into that new folder e.g. a create a new text file names "test.txt"
3. The error below in the sync client occurs

### Expected behaviour
Folders named "logs" are synced as all other folders between the desktop client and the server

### Actual behaviour
Content in a folder named "logs" is not s

[2017-12-15 17:05] jimbowarrior commented on #7428
I'm facing to this bug with out LDAP users

[2017-12-15 17:20] Leicas commented on #7440
From my investigation, it seems it was related to a federated share. The remote server had some pretty strict security measure and it might have blocked the connection...
I manually removed the share in the database and it havn't experienced the issue again.

Still, it was also slowing down things like accessing the settings and checking rss feeds which seems unrelated to federated sharing.

[2017-12-15 17:21] theBlackDragon commented on #7432
Ran into this issue as well. Rolled back to OwnCloud for now.

[2017-12-15 19:06] blizzz commented on #7428
@LEDfan that's a good hint! It might be, because the user fetcher filtered properly.

[2017-12-15 19:08] blizzz commented on #7541
Slack does? But useful in any case, until it's properly integrated into browsers by default.

[2017-12-15 19:11] blizzz commented on #7541
Actually the at.who plugin used for mentions can do the same, you only need to know the hotkey like on Github. Would keep the UI,lean, but perhaps less friendly

[2017-12-15 20:34] jancborchardt commented on #7541
@blizzz yes, Slack is where the screenshot is from. Emoji picker with icon is also present in Twitter and basically all messengers.

[2017-12-15 20:40] pc-maniac commented on #6719
Basic level

[2017-12-15 20:53] jancborchardt commented on #7540
It is intended to be slightly visible, however only _very_ slightly with high opacity of the breadcrumb and multiselect bar. Kind of like in iOS - ideally we can use CSS3 blur effect even.

[2017-12-15 21:28] blizzz commented on #7428
@LEDfan somehow I missed your PR previously, but that's fixing it! Thanks! :)

[2017-12-15 21:30] edvanleeuwen opened #7543 "Files not shown, error with IPWhitelist"
### Steps to reproduce
1. Login to NC
2.
3.

### Expected behaviour
Files should be displayed and accessible.

### Actual behaviour
The web interface works. Files are not shown. The admin screen displays an error indicating WebDAV is not properly set up.

Error:
OCP\AppFramework\QueryException: Could not resolve OCA\BruteForceSettings\Settings\IPWhitelist! Class OCA\BruteForceSettings\Settings\IPW

[2017-12-15 21:30] blizzz commented on #7537
might be due to an unclean, savaged install, doesn't happen on a fresh one… closing for now

[2017-12-15 21:30] #7537 closed

[2017-12-15 21:58] blizzz commented on #7541
Ha, never spotted it. Always pasted them :) but barely using Slack anyway, it's IRC on LSD.

[2017-12-15 22:45] theLine opened #7544 "No error message while user creation an password policy not matched"
### Steps to reproduce
1. Password Policy is set
   *See Screenshot "screen-01-admin-password-policy"*
2. Create a user and enter a password in admin panel that does not match the password policy.
   For example:
   Username: test
   Password: 1234
3. No error message will be shown

### Expected behaviour
Display an error message that shows why the user can't be created

### Actual behaviour
No er

[2017-12-15 23:22] bjoernv commented on #7384
openSUSE Tumbleweed also updated to PHP 7.2 now and Nextcloud 12 does not work anymore. There is a downgrade repository (PHP 7.1) for openSUSE Tumbleweed users:
https://download.opensuse.org/repositories/devel:/languages:/php:/php71/openSUSE_Factory/

[2017-12-16 05:29] stratoss opened #7545 "TOTP and Spreed disabled after upgrading to 13 beta 3"
### Steps to reproduce
1. From the latest stable - upgrade to 13 beta 3
2.
3.

### Expected behaviour
TOTP & Video call to be working

### Actual behaviour
![next-beta-upgrade](https://user-images.githubusercontent.com/8927314/34067542-65cdacdc-e231-11e7-9268-94f4bd9b7e5a.png)

### Server configuration

**Operating system**: 	Debian GNU/Linux 9.3 (stretch)

**Web server:** Apache 2.4.25

**Databas

[2017-12-16 06:17] stratoss commented on #7545
After updating the apps they were available. Sorry.

[2017-12-16 06:17] #7545 closed

[2017-12-16 07:09] rpirritano commented on #7265
@pixelipo ,
For item #3 above, do you want the Wrong Password warning to no longer appear on that page or do you just want it to remain, but right above lost-password warning?

[2017-12-16 07:19] MorrisJobke commented on #7532
Mmmmh ... need to check this again and will write here again, but this seems to be the only way.

[2017-12-16 08:51] RobCarruthers commented on #7473
This would also help when applications like Pages or Numbers that create files as folders.

[2017-12-16 10:56] #1730 closed

[2017-12-16 10:59] blizzz commented on #1995
Closing, since no further comments for a while and no intentions to implement it.

[2017-12-16 10:59] #1995 closed

[2017-12-16 11:02] blizzz commented on #3762
#7263 resets the brute force attempts on successful login → closing

[2017-12-16 11:02] #3762 closed

[2017-12-16 11:08] blizzz commented on #7190
@ohmer1 12.0.4 is out 😎

[2017-12-16 11:09] blizzz commented on #7299
Let me close it for now, can reopen if necessary

[2017-12-16 11:09] #7299 closed

[2017-12-16 12:04] Abijeet commented on #7539
I'll take this up.

[2017-12-16 12:08] tflidd commented on #7544
related? https://github.com/nextcloud/password_policy/issues/32

[2017-12-16 12:22] tflidd commented on #7536
You submitted the empty default template ...

[2017-12-16 12:30] marinofaggiana commented on #7536
Ops .. it’s an error.

[2017-12-16 12:30] #7536 closed

[2017-12-16 12:50] Mr-Maniac opened #7546 "PHP 7.2: Count on object that does not implement countable interface"
### Steps to reproduce
1. Upgrade Nextcloud to version 13.0.0. beta 3
2. Access Nextcloud or wait for cron to run
3.

### Expected behaviour
Normal access to nextcloud without errors in error log

### Actual behaviour
Access to nextcloud works, but there are errors in the log:
count(): Parameter must be an array or an object that implements Countable at /mnt/web/nextcloud/lib/private/legacy/db/sta

[2017-12-16 13:26] pixelipo commented on #7265
Ot should definitely appear under all the buttons. Ideally, it should also disappear as soon as "Forgot password?" button is clicked. That way, only one error should be visible at any given moment.

[2017-12-16 14:49] dhowe commented on #7519
In case any is interested, the correct caldav address is:

https://SERVER/nextcloud/remote.php/dav/calendars/USER/personal/

[2017-12-16 14:54] edvanleeuwen commented on #7543
Solved. The solution was to expand the http methods allowed. In my case, this is done via DirectAdmin/CustomBuild.

See this for a elaborate explanation: https://help.poralix.com/articles/webdav-support-with-nginxapache-on-directadmin-server

[2017-12-16 14:54] #7543 closed

[2017-12-16 16:23] mel26 commented on #6990
Confirm. The same issue with the same behaviour. NextCloud 12.0.4.

One more addition.
Check box "Share with link" appears already pressed when just open Share options in Chrome.
I.e. you want to see share options and have shared link with no way to unshare.

Agree. It creates major security risk.

[2017-12-16 17:14] jgrete commented on #7521
Absolutely no idea. I just listed differences between a working and a not working instance I recognized as such. I'm neither a JS nor PHP programmer, so I could only report some facts.

[2017-12-16 20:36] tcm300 commented on #2737
Hi
While updating from 12.0.3 to 12.0.4 i had still to restart the updater to do some file deletions and had to upload shipped.json to delete by the script to continue the webupdater.
Is this issue not fixed in 12.0.3?

[2017-12-16 22:20] sengst commented on #7518
Same Problem here, you can open the share by opening in a new tab but not by a simple click. Tried with different browsers, desktop and mobile.

[2017-12-16 22:29] caco3 commented on #2737
Sadly I have to say that I also still had issues :(

Below the log:
[code]

[2017-12-16 23:47] Wikinaut opened #7547 "[Clarification Request or Bug] Pretty Urls does not work for me"
I followed the instructions on https://docs.nextcloud.com/server/12/admin_manual/installation/source_installation.html#pretty-urls but this does not work for me.

My system uses a subdomain like

```https://cloud.example.com```

and an Apache vhost which then accesses the installation on

```/var/www/html/nextcloud```

My Apache documentroot is set directly to ```/var/www/html/nextcloud```.

So I

[2017-12-17 00:41] MichaIng opened #7548 "[NC13 Beta3] OC\Repair\NC11\CleanPreviewsBackgroundJob error"
### Steps to reproduce
1. Install a fresh Nextcloud
2. Upgrade to v13 Beta 3 via web updater
3. Configure system cron
4. Watch Nextcloud error log after first cron execution.

### Expected behaviour
Just debug logs of cron background job executions

### Actual behaviour
`Fatal cron Argument 5 passed to OC\Repair\NC11\CleanPreviewsBackgroundJob::__construct() must implement interface OCP\IUserManag

[2017-12-17 01:09] mentalinc commented on #2737
Still an issue in 13 Beta as well
Need to click retry update a million times before it eventually completes.

[2017-12-17 04:46] BambooVolt opened #7549 "Integrity check fails on PostgreSqlSchemaManager.php with latest version 12.0.4"
### Steps to reproduce
1. Update your installation to 12.0.4 (I had 12.0.3 beforehand) - I used pkg update -f && pkg upgrade
2. Run the nextcloud update process - I used the recommended method:
* cd /usr/local/www/nextcloud
* su -m www -c "php ./occ upgrade"
No errors were reported - in fact near the end I see the below (which indicates to me no errors were found?)
[code]

3. However, upon logging

[2017-12-17 08:23] qm2k opened #7550 "CSS URLs do not honour overwritewebroot"
I'm using Nextcloud 12 behind Apache-based reverse proxy. I want it to be accessible at `https://cloud.example.com/nextcloud/`. It mostly works, *but*: the Contacts app loads its CSS from `/index.php/css/contacts/...`, not from `/nextcloud/index.php/css/contacts/...`; same for Mail app that also has it's own CSS. Contacts app authors suggest that this is a server problem (nextcloud/contacts#450).

[2017-12-17 10:13] tflidd commented on #7547
Did you update your .htaccess file?

`sudo -u www-data php /var/www/nextcloud/occ maintenance:update:htaccess`

If it still does not work, I'd try to restart the webserver and clean the browser cache.

[2017-12-17 10:19] Wikinaut commented on #7547
I did all these steps already; will investigate further.

Additional information (also updated above):
My Apache documentroot is set directly to ```/var/www/html/nextcloud```.

[2017-12-17 12:07] enoch85 commented on #7488
Just noticed this, which is related to this: https://github.com/nextcloud/server/issues/7513

[2017-12-17 12:09] enoch85 commented on #7495
Duplicate of #7309

[2017-12-17 12:09] #7495 closed

[2017-12-17 12:10] enoch85 commented on #7548
Related: #7309

[2017-12-17 13:39] vnpenguin commented on #7546
I confirm this error with PHP 7.2 on CentOS 7 with NextCloud 13.0.0 Beta 3

[2017-12-17 13:44] vnpenguin commented on #7518
I confirm this issue on SMB external storage.
CentOS 7 + PHP 7.2 + NextCloud 13 beta3

[2017-12-17 15:10] srtate opened #7551 "end_to_end_encryption app not loading"
### Steps to reproduce
1. Make a fresh install of 13.0.0beta3
2. Go into the Apps settings (Files category)
3. Notice screenshot image doesn't load for end_to_end_encryption
4. Try to Enable anyway...

### Expected behaviour
App should install

### Actual behaviour
The request for the screenshot returns "File not found" and trying to enable the app anyway results in a message of "Could not downloa

[2017-12-17 15:55] Mr-Maniac commented on #7546
Problem seems to be static method OC_DB::executeAudited( $stmt, array $parameters = null). Argument $parameters should be an array, but default is null - maybe using an empty array as default would suffice?

lib/private/legacy/db.php:112 used by util.php checkDatabaseVersion()

[2017-12-17 19:25] Abijeet commented on #7106
@nickvergessen - I'll take this up.

[2017-12-17 23:31] MorrisJobke commented on #7440
This then looks a lot like #7001, which we addressed in one of the latest versions of the upcoming 13. I hope this fixes it for you.

Thanks for reporting anyways :)

[2017-12-17 23:31] #7440 closed

[2017-12-17 23:32] MorrisJobke commented on #7544
Seems to be like this. Please remove those config line and it should work.

[2017-12-17 23:32] #7544 closed

[2017-12-18 09:01] marcos-guerrero commented on #6603
Hi!
Agree with @mpede , it would be great to have only one settings for all kind of sharing "Sharing" and "Share by mail" relating to:
*Enforce password protection
*Expiration date

[2017-12-18 09:21] guillaumedsde commented on #7436
up have the same problem, code integrity check does not pass if nextcloud's root isn't named nextcloud (mine is named web)

[2017-12-18 09:36] joekerna commented on #7535
Is this a duplicate of #7508 ?

[2017-12-18 10:02] svn-webmaster opened #7552 "Upgrade to 12.0.4 failed"
Hi,

I was trying to upgrade nextcloud from 12.0.3.3 to 12.0.4. The upgrade was successfully up to the following issue during the last steps in the web-updater:

`Doctrine\DBAL\Exception\DriverException: An exception occurred while executing 'INSERT INTO `oc_appconfig` (`appid`,`configkey`,`configvalue`) SELECT ?,?,? FROM `oc_appconfig` WHERE `appid` = ? AND `configkey` = ? HAVING COUNT(*) = 0' wi

[2017-12-18 10:13] fgsl commented on #7510
@blizzz, really the order of terms in search doesn't matter. Problem is that application user (who makes searches) doesn't know how user register was built in LDAP.
Here we use "givenName", "sn" and "mail".
Our problem is mainly "sn" that has a lot of surnames... so, if search is not made exactly by first surname, user doesn't find anything.

[2017-12-18 11:02] MorrisJobke commented on #7552
Your MySQL server has gone away. Without the DB reachable we can't do much. Please make sure that the DB is running and reachable and try the update again.

[2017-12-18 11:02] #7552 closed

[2017-12-18 11:08] blizzz commented on #7510
@fgsl this is mostly an LDAP issue, sorry. Either abouts is'ts config, structure or search abilities. When a search term contains a space, we already take them as single words and compare every configured attribute against "word1*", "word2*", etc.

It's possible to make it work by prepending the asterisk in front, however this kills performance totally because LDAP cannot make use of any index. Yo

[2017-12-18 12:01] reset12 commented on #7535
Yes.

with regards
Bruno

On Mon, 18 Dec 2017 09:36:55 +0000 (UTC)
joekerna <notifications@github.com> wrote:

--
reset12@gmx.net <reset12@gmx.net>

[2017-12-18 12:37] pixelipo commented on #7483
Let's try to keep it as short as possible - unless we want to deal with overflow (in certain languages at least)

[2017-12-18 12:43] #7011 closed

[2017-12-18 12:46] tflidd commented on #7547
And your link should change into this
https://cloud.example.com/s/Ylg9a123xX4gUZ1

Did you try this link manually if it works?

[2017-12-18 12:48] pixelipo commented on #7535
Doesn't seem to be a duplicate. That issue is about avatar not generating. This is about avatar not being understood as a "gear" (settings) icon.

[2017-12-18 13:00] MorrisJobke commented on #7546
Fix is in #7554

[2017-12-18 13:07] pixelipo commented on #4134
timepicker and datepicker also use jquery-ui

[2017-12-18 13:09] MorrisJobke commented on #7428
Fixed in #7490

[2017-12-18 13:09] #7428 closed

[2017-12-18 13:14] pacija commented on #7300
@blizzz

Ok, here's the backtrace:

[code]

I see 12.0.4 is out. I'd like to update from 12.0.3, but if needed for the purpose of troubleshooting I'll remain on 12.0.3 until this is sorted out.

[2017-12-18 13:20] MorrisJobke commented on #7519
cc @georgehrke @MariusBluem

[2017-12-18 13:43] georgehrke commented on #7519
in the settings area of the calendar app (lower left corner), you can find a dedicated url for Mac and iOS. Please use that URL

[2017-12-18 14:24] #7546 closed

[2017-12-18 14:59] icewind1991 commented on #7332
@segdy can you see if https://github.com/nextcloud/server/pull/7556 fixes the problem for you

[2017-12-18 14:59] mamatt opened #7557 "Button text in sharing email is invisible in case of a white primary color"
### Steps to reproduce
1. Setup a custom themes
2. Define getColorPrimary to #FFFFFF (white)
3. Share a file and check the sharing email received

### Expected behaviour
The button text in the email should be visible

### Actual behaviour
The button text invisible due to being white on white.

Some color are hard coded in EMailTemplate.php

### Server configuration

**Operating system**: Debian 9

[2017-12-18 15:13] Spinrad commented on #6454
Same problem, and similar config : Nextcloud 12.0.4 (via snap), Ubuntu Xenial 16.04, linux 4.4.0-103-generic, Nextcloud client 2.3.3 , Samba version 4.3.11, openldap-2.4.28

[2017-12-18 15:35] blizzz commented on #7300
@pacija this is fixed in 12.0.4 by https://github.com/nextcloud/server/pull/6910 I had totally forgotten about  that PR 😳

[2017-12-18 15:35] #7300 closed

[2017-12-18 15:59] MorrisJobke commented on #7557
Fixed by #7427

[2017-12-18 15:59] #7557 closed

[2017-12-18 15:59] MorrisJobke commented on #7551
cc @schiessle

[2017-12-18 16:36] dhowe commented on #7519
Yes, that URL is not correct, at least not on 10.13.

The iOS/OSX URL: https://SERVER/nextcloud/remote.php/dav/principals/users/USER/

The correct URL:  https://SERVER/nextcloud/remote.php/dav/calendars/USER/CALENDAR-NAME/

[2017-12-18 16:44] dirknilius commented on #6990
I can confirm this bug. It appears to be only present on the Mac with Chrome. I cannot reproduce it under Windows (Chrome 63) or Linux (Chromium 62). This is also not reproducible with enabled incognito mode. I cleared ALL browser data including passwords. Now this issue is gone.

[2017-12-18 16:50] georgehrke commented on #7519
That can't be the solution, because macOS supports auto discovery of calendars and that url will only add one calendar, not all.

[2017-12-18 16:56] dhowe commented on #7519
There may well be an auto-discovery solution that works as well, but the above is the only URL I could find that does (after many dozens of tries w both the UI and cadaver).. The listed URL does not work (and also doesn't give a helpful error message)

[2017-12-18 16:56] dirknilius commented on #6990
@nickvergessen I found the cause of this issue. I have the force passwords for links option enabled. When I create a share link, enter a password and hit enter Chrome offers to save this password after the form submit. If I accidentally accept to store it Nextcloud always creates a share link with this password automatically. After uncheck the share link button the option is magically re-enabled a

[2017-12-18 17:05] dirknilius commented on #6990
I tested this a little more and found out that the 1Password browser extension causes Chrome to offer the store password option. If I deactivate the plugin everything is fine. This explains why it worked in incognito mode. The extension in deactivated in incognito mode by default. So I believe this is not a Nextcloud bug.

[2017-12-18 17:28] haroonahmad194 commented on #7380
Warning: Narrowing occurred during type inference. Please file a bug report on bugs.php.net in /home/kmccoy42/public_html/plazafitnessperformance.com/wp-content/plugins/LayerSlider/layerslider.php on line 64
I am getting this issue on my website which was recently moved to a new server.  How can i fix this issue ??

[2017-12-18 17:39] Tsuroerusu commented on #7380
@haroonahmad194 The problem is caused by the server using PHP 7.1.12 which has a bug that causes this error. There is nothing to do except asking the server administrator to either downgrade to 7.1.11 or build and install a custom 7.1.12 with the relevant patches. If the server is running FreeBSD, an update should be available within a few days, I think.

[2017-12-18 17:47] agoat commented on #6990
I have to deny that. The problem also appears on Chrome (62 and now 63) on Windows.

But I can agree that in the incognito mode the issue do not exist. Anyway, I would say it's a nextcloud bug (possibly in combination with a chrome bug).

[2017-12-18 18:12] pipiche38 commented on #6028
This issue seems to still be in 12.0.4
Here is an extract of my config file and if the app is stored on the /var/lib/nextcloud/apps directory - and not on the /usr/share/nextcloud/apps - I got the issue
  'apps_paths' =>
  array (
    0 =>
    array (
      'path' => '/usr/share/nextcloud/apps',
      'url' => '/apps',
      'writable' => false,
    ),
    1 =>
    array (
      'path' => '/var/li

[2017-12-18 18:27] joekerna commented on #7380
This fixed the issue for me

[2017-12-18 18:33] realies opened #7559 "Limit external storage usage to groups"
Would it be possible to introduce the ability to limit external storage usage to certain user groups?

[2017-12-18 19:11] MorrisJobke commented on #7559
cc @icewind1991

[2017-12-18 19:13] MorrisJobke commented on #2638
Duplicate of #7001 and fixed by #7485

[2017-12-18 19:13] #2638 closed

[2017-12-18 19:15] MorrisJobke commented on #7234
cc @nextcloud/designers

[2017-12-18 19:17] MorrisJobke commented on #7129
Duplicate of #1794

[2017-12-18 19:17] #7129 closed

[2017-12-18 19:25] MorrisJobke commented on #7494
The OTP needs to be configured as a second factor and can't be used alone. It would make sense to include this into a different sharing mechanism like #740 but without this it does not make sense, because the initial token (to setup the OTP) needs to be distributed/set up first, which needs to be done behind an additional security mechanism - otherwise it would not make sense.

I would see this as

[2017-12-18 19:25] #7494 closed

[2017-12-18 19:26] MorrisJobke commented on #979
This is what we want to accomplish in the end with #6773 - thus closing this as duplicate.

[2017-12-18 19:26] #979 closed

[2017-12-18 19:29] rullzer commented on #7309
PR for fix in #7560

[2017-12-18 19:33] MorrisJobke commented on #6055
The root cause will be fixed with 13+ by using migrations.

[2017-12-18 19:33] #6055 closed

[2017-12-18 19:35] MorrisJobke commented on #6096
Moved to the updater repo: https://github.com/nextcloud/updater/issues/154

[2017-12-18 19:35] #6096 closed

[2017-12-18 19:51] MorrisJobke commented on #1428
Fixed by #1958

[2017-12-18 19:51] #1428 closed

[2017-12-18 19:54] MorrisJobke commented on #6113
Fixed via #4410

[2017-12-18 19:54] #6113 closed

[2017-12-18 19:55] MorrisJobke commented on #1504
Looks like this is fixed by #4410 (was also backported to 12.0.4 afaik)

[2017-12-18 19:59] rullzer commented on #6990
In NC13 we added an autocomplete hint to the password input field.
Can any of you (that reliably have the bug) test with that?

[2017-12-18 19:59] MorrisJobke commented on #1968
Yes - there is the preview generator app: https://github.com/rullzer/previewgenerator/

That would be a ticket for the gallery - so please open it there.

I guess this is not that much needed because we improved the preview generation a lot in 12 and 13.

[2017-12-18 20:05] MorrisJobke commented on #2027
This should be definitely be implemented as an app - see the files_external_dropbox external storage for example: https://github.com/icewind1991/files_external_dropbox

[2017-12-18 20:05] #2027 closed

[2017-12-18 20:07] MorrisJobke commented on #2474
Was done with #4410 and also backported to 12.0.4

[2017-12-18 20:07] #2474 closed

[2017-12-18 20:12] #7548 closed

[2017-12-18 20:14] MorrisJobke commented on #5054
https://github.com/nextcloud/issuetemplate

[2017-12-18 20:15] #5054 closed

[2017-12-18 20:24] MorrisJobke commented on #7549
Could you check that the file has the exact same content as https://github.com/nextcloud/3rdparty/blob/v12.0.4/doctrine/dbal/lib/Doctrine/DBAL/Schema/PostgreSqlSchemaManager.php

Could you send over this file?

What exactly is shown in http://example.com/index.php/settings/integrity/failed

[2017-12-18 20:26] MorrisJobke commented on #3524
cc @icewind1991

[2017-12-18 20:26] #7309 closed

[2017-12-18 20:30] MorrisJobke commented on #4593
Please check with the QNAP developers first if they can have a look at the reason for this. We haven't experienced such an error until now on normal installations.

[2017-12-18 20:30] #4593 closed

[2017-12-18 20:44] danyo80 commented on #2352
Hi,

i also have the same problem with Nextcloud Version 12.0.4. Every ZIP Archive is damaged and you you are not able to extract it.

Will also try the temporary solution, but would be nice to have this in one of the next Versions of Nextcloud.

Many thanks to the developers......

/danyo

[2017-12-18 20:49] MorrisJobke commented on #7442
Fix is in #7562

[2017-12-18 20:51] MorrisJobke commented on #6990
See #7461

[2017-12-18 20:56] MorrisJobke commented on #6990
Let's go for the other way around: I will close this now and if it still exist we could reopen the issue.

[2017-12-18 20:56] #6990 closed

[2017-12-18 20:59] MorrisJobke commented on #7394
The default_language is only used when there is none present in the user settings or the browser. Otherwise those are used (in that order).

[2017-12-18 20:59] #7394 closed

[2017-12-18 21:01] MorrisJobke commented on #6954
cc @icewind1991

[2017-12-18 21:02] #6993 closed

[2017-12-18 21:02] MorrisJobke commented on #7067
See the comment from @brunt82

[2017-12-18 21:06] MorrisJobke commented on #6950
The problem with that setting is, that you need to access that folder to detect the change. Sadly there is no solution for this problem beside either setup a cronjob that calls `occ files:scan` on the external storage mount or by using the notify command that is described in the docs: https://docs.nextcloud.com/server/12/admin_manual/configuration_files/external_storage/smb.html#smb-update-notific

[2017-12-18 21:06] #6950 closed

[2017-12-18 21:06] MorrisJobke commented on #7213
Missing information -> closing then.

[2017-12-18 21:06] #7213 closed

[2017-12-18 21:10] MorrisJobke commented on #7350
Could I ask you to report this in the documentation repo: https://github.com/nextcloud/documentation

Thanks

[2017-12-18 21:10] #7350 closed

[2017-12-18 21:11] MorrisJobke commented on #7411
after changing the email is there anything shown in the web developer tools in your browser? What is the result of the request that is send right after changing the email address (you can view them in the browsers web developer tools in the network tab).

[2017-12-18 21:25] MorrisJobke commented on #7486
Fix is in https://github.com/nextcloud/gallery/pull/341

[2017-12-18 21:26] MorrisJobke commented on #6923
Closing because we are missing information here. Once we have them we can reopen this issue.

[2017-12-18 21:26] #6923 closed

[2017-12-18 21:28] MorrisJobke commented on #6886
This can only be configured as an LDAP attribute. Setup the default LDAP quota and if you want to change the quota specify it in LDAP via an attribute itself.

[2017-12-18 21:28] #6886 closed

[2017-12-18 21:31] MorrisJobke commented on #7332
Fixed with #7556

[2017-12-18 21:31] #7332 closed

[2017-12-18 21:31] realies commented on #7213
[code]

[2017-12-18 21:34] MorrisJobke commented on #7213
This looks good. Maybe set up the `overwrite...` configs to specify the exact URLs: https://github.com/nextcloud/server/blob/master/config/config.sample.php#L398-L442

[2017-12-18 22:02] LnLogN commented on #7312
Same issue here, our internal next cloud service has only a few hundred users, but the database was over 130GB. We just upgraded from owncloud 9 to nextcloud 12.0.4 and manually cleared the oc_filecache table leaving only the shared links ( with the php script ArnisR mentioned), this leaves only about 400MB, with the scan for all local directories, the database size is only at 700MB(only 2TB data

[2017-12-18 23:07] realies commented on #7213
The result is the same even when `overwrite.cli.url` is removed from the config and the Nextcloud container restarted. I am not sure where the `https://my.domain.com:443` URL comes from, searching the database for the string results in nothing.

[2017-12-18 23:11] #7486 closed

[2017-12-18 23:13] MorrisJobke commented on #7486
Will be fixed in 13.

[2017-12-18 23:14] MorrisJobke commented on #7213
The first entry confuses me. Could you drop the port there? Or move the domain one to position 0 and the IP one to position 1?

[2017-12-18 23:20] realies commented on #7213
This is rather irrelevant. Removed it from the array and placed the domain at the first position, restarted the container, no change to the odd URLs.

[2017-12-18 23:28] MorrisJobke commented on #7213
It just uses the URL generator in: https://github.com/nextcloud/serverinfo/blob/6025651988914b06e9815c2ecbb0f398bae1e11a/lib/Settings/AdminSettings.php#L92

And this itself also uses only the `getBaseURL`:

https://github.com/nextcloud/server/blob/0eebff152a177dd59ed8773df26f1679f8a88e90/lib/private/URLGenerator.php#L219-L236

Which then could use the first in the list of trusted_domains:

https:/

[2017-12-18 23:34] realies commented on #7213
Nextcloud is behind a Nginx proxy. Could [this](https://github.com/linuxserver/docker-letsencrypt/blob/master/root/defaults/proxy.conf#L14) be the problem?

[2017-12-18 23:46] MorrisJobke commented on #7213
Very likely. That is the problem and is triggered by the proxy setup, because the web server thinks, that this is his outside URL. It can be overwritten by setting `overwritehost` and `overwriteprotocol`.

[2017-12-18 23:49] realies commented on #7213
I don't think `proxy_set_header Host` should contain the `$server_port` anyways. But that is another discussion. I can confirm that the URLs have changed to what is expected when `$server_port` is gone from the host header. Thanks for the help.

[2017-12-19 00:04] BambooVolt commented on #7549
1. They differ: I downloaded the source from here into the current directory and diffed it to the installed version, thus:
[code]

2. My copy of the file cannot be uploaded - I repeatedly get the error from GitHub: in red "Something went really wrong, (sic) and we can't process that file. (End red, now in blue) Try again."
Fails over and over, I'm not wasting my time any more trying. The diff shou

[2017-12-19 03:03] MichaIng opened #7563 "[occ] Hide "not installed" info on "occ maintenance:install""
It's just a minor, but users might be confused, if during e.g. installation scripts the message `Nextcloud is not installed - only a limited number of commands are available` appears, where it actually should be/have been installed.

The message makes sense, if occ runs as something else than installation command, but on `occ maintenance:install ...` this could be hidden.

[2017-12-19 04:02] tacruc commented on #7310
Does somebody has an Idea where it would be a good place in the Interface to publish the public key of the server?

- I think it should be somewhere, where you don't have to loggin.
Otherwise users getting an shared by email message, but are not registerd at nextcloud won't be able to download the key.

- I kind of don't want to upload the public key automaticly to a keyserver I think all the test

[2017-12-19 04:17] MichaIng opened #7564 "[NC13 Beta3] [Updater] Issue after "workflowengine" update check"
### Steps to reproduce
1. Update to v13 beta3 via web updater
2. Stay on web based updater to finish

### Expected behaviour
no issue

### Actual behaviour
Updater stucks after workflowengine update check and finally fails:
[code]

### Server configuration

**Operating system**: Raspbian Stretch

**Web server:** Apache 2.4.25

**Database:** MariaDB 10.1.23

**PHP version:** 7.0.19

**Nextcloud ver

[2017-12-19 04:21] MichaIng commented on #7564
Second attempt also needed long at the same point, but after ~2 minutes went on with integrity check and success.

If I can help investigating, why the step takes so long, just say, I have some VMs to play around with.

[2017-12-19 05:55] haroonahmad194 opened #7565 "Warning: Narrowing occurred during type inference. Please file a bug report on bugs.php.net in /home/kmccoy42/public_html/plazafitnessperformance.com/wp-content/plugins/LayerSlider/layerslider.php on line 64 I am getting this issue on my website which was recently moved to a new server. How can i fix this issue ??"
Warning: Narrowing occurred during type inference. Please file a bug report on bugs.php.net in /home/kmccoy42/public_html/plazafitnessperformance.com/wp-content/plugins/LayerSlider/layerslider.php on line 64
I am getting this issue on my website which was recently moved to a new server. How can i fix this issue ??

[2017-12-19 06:56] rullzer commented on #7565
This will be fixed with the next release of php.
Also ti seems this is not a nextcloud issue here.

[2017-12-19 06:56] #7565 closed

[2017-12-19 08:42] MorrisJobke commented on #7564
The debug messages would be quite helpful here. Could you post them (that is BTW the reason, why we switch to debug mode during upgrades ;))?

[2017-12-19 08:45] MorrisJobke commented on #7549
But 12.0.4 is not compatible to Postgres 10. Did you patched this in? Please drop the lines and re-run the integrity check from the CLI or the admin settings. It should then be fine.

[2017-12-19 08:47] MorrisJobke commented on #7549
I will close this, as this looks like a patched instance and this is actually the wanted behaviour. It should detect if the code is not the original released one.

[2017-12-19 08:47] #7549 closed

[2017-12-19 08:52] MorrisJobke commented on #7509
This is partly fixed by #7566

[2017-12-19 09:01] EdwardWu7 opened #7569 "Nextcloud 12.0.4 and 13 doesn't support S3 Backend using V2 authentication"
### Steps to reproduce
1. Upgrade Nextcloud from 12.0.3 to 12.0.4 or 13.0.0 Beta
2. Use S3 as backed which only support V2 authentication
3.

### Expected behaviour
Should work as normal

### Actual behaviour
Internal Server Error

The server encountered an internal error and was unable to complete your request.
Please contact the server administrator if this error reappears multiple times, please

[2017-12-19 09:10] MorrisJobke commented on #7569
Please provide the Nextcloud log, because it contains the information we need.

[2017-12-19 09:11] MorrisJobke commented on #7569
cc @icewind1991  - ref #4410

[2017-12-19 09:12] #7442 closed

[2017-12-19 09:14] EdwardWu7 commented on #7569
It is a problem with the AWS SDK, just can not send v2 auth request to backed S3 storage. We tried to modify the code, downgrading the SDK, but it doesn't work... I just created a 12.0.3, auth is normal now... but I am struggling to get all the data back to users...

[2017-12-19 09:16] MorrisJobke commented on #7569
Yes - we got complains, that the old SDK does not support newer AWS regions. So we upgraded to allow all AWS regions.

[2017-12-19 09:17] MorrisJobke commented on #7569
12.0.3 has the old SDK
12.0.4 has the new SDK

[2017-12-19 09:17] EdwardWu7 commented on #7569
[nextcloud.log](https://github.com/nextcloud/server/files/1571010/nextcloud.log)

[2017-12-19 09:18] EdwardWu7 commented on #7569
@MorrisJobke but it affected homegrown ceph users... Is there way to downgrade data in database from 13 to 12.0.3?

[2017-12-19 09:24] MorrisJobke commented on #7569
Not really, beside using a backup.

[2017-12-19 09:28] EdwardWu7 commented on #7569
thanks...

[2017-12-19 09:34] icewind1991 commented on #6954
I can't reproduce the problem with master (to be NC13) and amazon S3, when creating a folder and adding a file to it trough the aws console, and running `occ files:scan` it properly detects the newly added folder and file.

Can anyone experiencing this problem try either the lastest NC13 beta (as always when using beta software: backup) or 12.0.4 which should include the same s3 changes.

[2017-12-19 10:05] #2498 closed

[2017-12-19 10:59] icewind1991 commented on #7569
@EdwardWu7 can you see if https://github.com/nextcloud/server/pull/7570 solves the problem (you can enable legacy auth in the external storage settings).

Also what s3 implementation are you using?

[2017-12-19 11:02] NeoJones opened #7571 "Create a folder and share link programatically"
Hi,
I uploaded and installed nextcloud on my subdomain. Iam the owner of the domains.
If I would like to **create a new folder and share this folder** (to public with a url), I can do this in nextcloud directly via mouse clicks - no problem.
So is it possible to make that programatically with php? If yes, wich steps must i do?

For example:
1. create a folder (mkdir)
2. register that folder somewh

[2017-12-19 11:44] rullzer opened #7573 "Make queries to oc_user indexable"
When observing the log of unindexed queries I came across the huge amount of queries we do to the oc_user table.

A lot of queries in the form of

[code]

Now we can't use function bases indexes on all supported databases. So the quickes way here is probably abstracting away.

Proposal:

1. Add a new column uid_lower
  * Add a proper index
2. Update oc_user to uid_lower so it contains all existing

[2017-12-19 11:55] nursoda opened #7574 "NC13b3 regression: Reset Password no longer works"
### Steps to reproduce
1. call login page, enter an existing user name but a wrong password
2. click on "Forgot password?", receive mail, click on the reset link (https://seyfarth.de/cloud/index.php/lostpassword/set/TOKEN/USER)
3. a windows to enter a new password appears, enter a new password that satisfies the policy you set

### Expected behaviour
The new password should be accepted and set, a

[2017-12-19 11:57] brunt82 commented on #7542
Without a server or client log it is difficult to help here. I suppose it has nothing to do with Nextcloud but with your apache configuration... e.g. like https://github.com/owncloud/core/issues/8536

[2017-12-19 12:19] nursoda opened #7575 "NC13b3 regression: Theming glitch with Logo"
### Steps to reproduce
1. Have 12.0.4 themed, with Logo, like
   https://datenschutz-individuell.de/cloud/index.php/apps/theming/logo?v=7
![grafik](https://user-images.githubusercontent.com/8425483/34159710-71bf7e8a-e4ca-11e7-9a43-ec0f41051cd8.png)

2. Share a folder by link, protect it with a password, like
   https://datenschutz-individuell.de/cloud/index.php/s/KSitgWbdLfj2BXo
3. Logo is double/

[2017-12-19 12:29] blizzz commented on #7575
@nextcloud/theming

[2017-12-19 12:32] blizzz commented on #7571
Please open a thread on the forums https://help.nextcloud.com, which is the more appropriate place for questions like this. Thanks!

[2017-12-19 12:32] #7571 closed

[2017-12-19 12:39] blizzz commented on #7522
sorry bout that :(

where?

Yeah, don't worry about the DN, the filter is the crucial part. When no  filter is set,  groups aren't used. At least it should be like that :)

There is no clean up mechanism at this point, they'd just lie around. Would make sense add it of course. However, they should not be reused.

[2017-12-19 12:45] blizzz commented on #7445
I also suspect this to cause file:scan issues (symptom: ``initMountPoints() called with wrong user casing. This could be a bug.``) when you have different LDAP users that discriminate against each other by casing only ("dfoobar" and "DFoobar" for instance).

[2017-12-19 13:03] rullzer commented on #7574
Fix in #7576

[2017-12-19 13:47] nursoda opened #7578 "NC13b3 regression: 'Name' from Theming should not be used in 'Version'"
### Steps to reproduce
1. Upgrade to NC 13b3
2. Set a 'Name' in Theming, e.g. NAME
3. Open https://seyfarth.de/cloud/index.php/settings/admin

### Expected behaviour
Version should read "Nextcloud 13.0.0 beta 3"
### Actual behaviour
Version reads "NAME 13.0.0 beta 3"

Note that this also baffled the author of the talk app since he used it (until a couple of days ago) to identify that the server is

[2017-12-19 13:54] nursoda commented on #7574
Is there some connection to the observations described in the first comment of https://github.com/nextcloud/contacts/issues/453?

[2017-12-19 13:57] nkovacs commented on #5274
In our case the problem was caused by the php session storage directory not being readable by users other than root. Debian does this for security reasons (https://bugs.debian.org/cgi-bin/bugreport.cgi?bug=267720) and it also disables the garbage collector and relies on a cron job instead, but our php.ini accidentally had gc_probability set to 1, and this caused nextcloud to log the user out if th

[2017-12-19 14:12] nursoda opened #7579 "RFE: Limit visibility of users, e.g. to those users that belong to the same group or circle"
### Steps to reproduce
1. Install Nextcloud, add some users that belong to different groups, like different customers
2. Use any share or communication feature, ALL users present in the SERVER are shown to any user

### Expected behaviour
I'd like to be able to limit the other NC users presented to a user, e.g. for shares I create for different customers. This would also be nice in a NC for privat

[2017-12-19 14:14] nursoda commented on #7579
I consider this a privacy issue. (I add this since there are quite some NC blog entries on GDPR.)

[2017-12-19 14:20] MorrisJobke commented on #7578
That's not really a regression, because we did this in the past always like that.

https://github.com/nextcloud/server/blob/master/settings/templates/settings/admin/server.php#L226

@karlitschek What is your opinion here? I would be fine to hardcode "Nextcloud" there, because it is also only visible on the admin settings anyways.

cc @rullzer @blizzz

[2017-12-19 14:22] MorrisJobke commented on #7575
This is because there is a background image and an `<img>` tag.

[2017-12-19 14:23] nursoda commented on #7579
I admit that there ARE cases though where one sets up different groups to enable delegated administration but one wants to share between these groups. So the question is HOW to implement this limitation. One way could be a global switch. If then one user wants to share with or contact a member of another group, this would need to be handled "as external user". I don't know if that's feasible at al

[2017-12-19 14:24] MorrisJobke commented on #7575
Also the CSS looks like it duplicates stuff.
![bildschirmfoto 2017-12-19 um 15 23 45](https://user-images.githubusercontent.com/245432/34161336-a1642af4-e4d0-11e7-9e17-23ad4e8da16f.png)

[2017-12-19 14:24] rullzer commented on #7578
The thing @mario ran into was in the status.php I bet. So it is not exactly the same issue.

I don't have a strong preference here. But I guess some buisnesses want the branded name in status.php.

[2017-12-19 14:25] MorrisJobke commented on #7575
cc @nextcloud/designers for the HTML/CSS

[2017-12-19 14:26] mario commented on #7578
Yes, I used productname in status.php to identify the instance as Nextcloud. I have since removed the check since it's easily change-able anyway :)

[2017-12-19 14:28] MorrisJobke commented on #7579
This is possible: you could limit the autocomplete for sharing to the groups a user is in. This can be found in the sharing section of the admin settings. Just enable it and the users only get the list of autocomplete for people in the same groups.

You could also disable the autocomplete completely there.

[2017-12-19 14:28] #7579 closed

[2017-12-19 14:30] nursoda commented on #7579
Thanks, I'll try. And sorry for not having found this myself.

[2017-12-19 14:31] MorrisJobke commented on #7579
Don't worry :)

[2017-12-19 14:38] EdwardWu7 commented on #7569
@icewind1991  We are using Ceph as backend and the version is not updated so only support v2, where can I add the setting? just 'version' => 'v2'?
 'objectstore' =>
  array (
    'class' => 'OC\\Files\\ObjectStore\\S3',
    'arguments' =>
    array (
      'bucket' => 'prd-share-nextcloud',
      'autocreate' => false,
      'key' => '***',
      'secret' => '***',
      'hostname' => '10.0.126.21

[2017-12-19 14:40] MorrisJobke commented on #7569
Exactly - add it t o the `arguments` array. Right beside the `use_path_style`.

[2017-12-19 14:43] EdwardWu7 commented on #7569
ok, let me try it, I will post the result as soon as I get it.
BTW, I disabled the version check in 12.0.3 and our production environment recovered, I will set up a same test environment next time for new version and upgrade...

[2017-12-19 14:45] MichaIng commented on #7564
@MorrisJobke
I added the whole log of both installation attempts.

<details>
<summary>Nextcloud log</summary>

[code]

</details>

[2017-12-19 14:46] nursoda commented on #7579
I played a bit with autocomplete FOR SHARING off, and it does NOT match my need at all: I still can see all users in the contacts list.

What I want to avoid is to set up (and maintain) a cloud for all my customers.

One of my customers uses NC to share documents with suppliers, customers, in internal projects with partners. All of theses guys don't know each other, and should NOT see each other A

[2017-12-19 14:51] MorrisJobke commented on #7579
It should be fixed in 12.0.4 do you run this already?

[2017-12-19 15:04] nursoda commented on #7579
I did, but I migrated all instances to 13b3 already ... and it does NOT work there! Regression?
Even if it does, my remark remains that I consider this rather a workaround.

[2017-12-19 15:07] MorrisJobke commented on #7226
I'm closing this due to the lack of information. We will reopen once the information is available.

[2017-12-19 15:07] #7226 closed

[2017-12-19 15:09] MorrisJobke commented on #6133
I'm closing this due to the lack of information. We will reopen once the information is available.

What would help is the information that is listed in the network tab of the web developer tools in your browser. Open them and then load the page. You will see a lot of requests and their duration. Check which one takes the longest.

[2017-12-19 15:09] #6133 closed

[2017-12-19 15:10] MorrisJobke commented on #6277
As there is no feedback on this one here I will close it for now. If there is more, we could reopen this ticket.

[2017-12-19 15:10] #6277 closed

[2017-12-19 15:12] MorrisJobke commented on #6529
We tried to reproduce this, but can't do so. Thus I will close this one here for now. Once you have more information about this we are happy to reopen this ticket and have another look for some suspicious configurations. Maybe you also want to seek for help in the setup in our forums at https://help.nextcloud.com

[2017-12-19 15:12] #6529 closed

[2017-12-19 15:12] MorrisJobke commented on #7063
I'm closing this due to the lack of information. We will reopen once the information is available. Especially the nextcloud.log file is of special interest here. Thanks

[2017-12-19 15:12] #7063 closed

[2017-12-19 15:16] MorrisJobke commented on #7444
cc @rullzer looks like the previews that are stored in the app data folder.

cc @icewind1991 for the quota stuff

[2017-12-19 15:17] nursoda commented on #1505
Sidenote in case someone stumbles upon the mute issue also discussed within this bug: Read-only calendars do not contain alarms since NC 13, see https://github.com/nextcloud/server/pull/6903. Mind that e.g. mobile clients cache existing appointments. After I removed and re-connected my account, an event that has an alarm for the "read-only-user" did not have an alarm on my device.

[2017-12-19 15:20] nursoda commented on #1506
Should this bug be closed? It's not implemented yet, is it?

[2017-12-19 15:24] ohmer1 commented on #7190
@blizz Thanks! The command `occ user:delete` still display an error message `The specified user could not be deleted. Please check the logs` but seem to remove partially the user. The user doesn't display anymore on the list of available users but the command `occ:ldap:show-remnants` still display the removed user.

In the log, I have this line: `trying to set a quota for user xxxx but the user is

[2017-12-19 15:30] pixelipo commented on #7575
Looks rather like a @nextcloud/theming issue

[2017-12-19 15:32] CliffMitchell commented on #6532
Is anyone looking into this problem please?
Thanks,
Cliff

[2017-12-19 15:33] pixelipo commented on #7575
While testing this I found out that the default logo is not loaded:
![image](https://user-images.githubusercontent.com/4129927/34164618-4cb15040-e4da-11e7-94cb-dbb0b23063f5.png)
because the svg image path in CSS is not correct...

[2017-12-19 15:53] EdwardWu7 commented on #7569
Unfortunately it doesn't work...
Using option 'legacy_auth' => true, in config.php
But it shows in blue screen with below message
Your data directory is invalid
Ensure there is a file called ".ocdata" in the root of the data directory.
From the backend I found NC is parsing correct format of auth request to Object Storage..

Attached is the nextcloud.log,  I used a fresh NC13 and just updated code

[2017-12-19 15:54] blizzz commented on #7190
Well, the user is not removed 😒

What does a ``occ ldap:check-user $userid`` give?

Let's keep this.

You don't somehow have users with the same user id but different casing?

[2017-12-19 15:56] EdwardWu7 commented on #7569
And the other 12.0.3 NC using same backend storage and database is working normally

[2017-12-19 15:58] ohmer1 commented on #7190
Ok, so it was a PEBKAC. The user is correctly removed. The command still say there is an error, but the user is really removed.

[2017-12-19 16:02] EdwardWu7 commented on #7569
I just added an empty .ocdata to data directory and it works now... thanks guys!

[2017-12-19 16:10] ohmer1 commented on #7190
Mmm the users are not displayed when I setup a share on a file, but I still see some of them when I click on the contact button on the top menu bar. Maybe a cache issue?

[2017-12-19 16:17] MorrisJobke commented on #7471
cc @nextcloud/ldap

[2017-12-19 16:23] MorrisJobke commented on #7579
This is also possible. Just use the other setting to disable autocomplete.

The setting is called "Allow username autocompletion in share dialog. If this is disabled the full username or email address needs to be entered."

Then the users are not visible anymore:

Before
![bildschirmfoto 2017-12-19 um 17 22 53](https://user-images.githubusercontent.com/245432/34167203-58ee8344-e4e1-11e7-8ad6-225f4

[2017-12-19 16:35] MorrisJobke commented on #6493
Let's focus on bringing it to the contacts popover and close this one here.

[2017-12-19 16:35] #6493 closed

[2017-12-19 16:37] MorrisJobke commented on #3392
Let's close this as duplicate of #6480

[2017-12-19 16:37] #3392 closed

[2017-12-19 16:39] MorrisJobke commented on #7403
cc @nextcloud/designers for ideas how to implement this

[2017-12-19 16:40] MorrisJobke commented on #5574
We improved a lot here is this still the case with 13?

[2017-12-19 16:42] skjnldsv commented on #7403
Shouldn't this be in https://github.com/nextcloud/notifications? :)

[2017-12-19 16:43] MorrisJobke commented on #740
The plain one time share link is discussed in #6841

[2017-12-19 16:51] blizzz commented on #7190
I.e. it does not appear on the remnants output anymore?

Sounds as if the user was not removed from the local addressbook.

[2017-12-19 16:52] skjnldsv commented on #6493
Hum, I think it would be a good idea. We should advise against unnecessary use of icons on this section, but if an app wants to do it, at least we should provide a clean way for it to do so! :/

[2017-12-19 16:52] blizzz commented on #7471
Anything when you go to Users page and click on "Disabled" on the left pane?

[2017-12-19 17:01] enoch85 commented on #5574
In 13.0.0beta3 it doesn't even upload and gives: `TypeError: response is undefined
[Learn More]`

https://developer.mozilla.org/sv-SE/docs/Web/JavaScript/Reference/Errors/Unexpected_type?utm_source=mozilla&utm_medium=firefox-console-errors&utm_campaign=default

[2017-12-19 17:03] enoch85 commented on #7403
Cred to @nachoparker for implementing that in the nPi.

[2017-12-19 17:04] MorrisJobke commented on #6493
Let's do it once there is a good reason to add something there. Until then we have a lot of other things on our list ;)

[2017-12-19 17:04] MorrisJobke commented on #5574
cc @danxuliu @rullzer @ChristophWurst

[2017-12-19 17:05] #7574 closed

[2017-12-19 17:05] MorrisJobke commented on #7403
You are right - I thought it is part of the server repo.

@sunjam Could I ask you to open this over there? Thanks 👍

[2017-12-19 17:05] #7403 closed

[2017-12-19 17:08] enoch85 commented on #5574
Btw, switched to PostgreSQL (9.6) since then, still same behaviour as MySQL.

[2017-12-19 17:10] MorrisJobke commented on #7398
The load balancing needs to happen via sticky sessions for example. You could configure HAProxy in a way to inject those and redirect the users to the very same instances. Otherwise you need to use a shared session pool. Then the load balancing should work just fine.

The config.php needs to be exactly the same on all hosts. Keep in mind to run the update only on one machine and after the update c

[2017-12-19 17:10] #7398 closed

[2017-12-19 17:16] karlitschek commented on #7578
There are scenarios it should be possible to hide 'Nextcloud' completely. Even for the Admin. This is mainly for 'real' themes of course. So not sure we should change the current behaviour.

[2017-12-19 17:38] juliushaertl commented on #7575
We also use a img tag on the login page to make sure the logo is scaled nicely when it is not in landscape format: https://github.com/nextcloud/server/pull/4632/files#diff-20abc3ec8914f60360246ff607542301R43 I guess we should adapt that to the files_sharing public page as well.

[2017-12-19 17:47] nursoda commented on #7579
Thanks, got it. I can use that. However, it's not what I think would suit the usecase: When sharing a file or folder, users from one customer would either see nothing and need to guess usernames (or use email addresses -> external links?) or see the names of all users registered, no matter whether they are in teir group or another. So that settings don't fulfil this usecase, do they?

[2017-12-19 18:15] nursoda commented on #7578
I'm fine with "MyName Version", but maybe you should just omit NAME in settings/general in the "Version" section?

[2017-12-19 18:18] major5012 commented on #5674
Please reopen this ticket as a similar problem has occurred on our systems.  This time while running server 12.0.3 and the current macOS desktop client 2.3.3 (build 84).

https://help.nextcloud.com/t/moving-a-shared-folder-breaks-the-link-to-the-shared-folder-and-deletes-files/24935

[2017-12-19 18:27] major5012 commented on #5674
Lots of these Fatal webdav errors in the log:

Fatal | webdav | Sabre\DAV\Exception\MethodNotAllowed: The resource you tried to create already exists/NCPATH/3rdparty/sabre/dav/lib/DAV/CorePlugin.php - line 590: Sabre\DAV\Server->createCollection('files/USERWITHPROBLEMS/A...', Object(Sabre\DAV\MkCol))[internal function] Sabre\DAV\CorePlugin->httpMkcol(Object(Sabre\HTTP\Request), Object(Sabre\HTTP\R

[2017-12-19 18:28] major5012 commented on #5674
And this one:

Error | no app in context | Doctrine\DBAL\Exception\UniqueConstraintViolationException: An exception occurred while executing 'INSERT INTO `oc_filecache` (`mimepart`,`mimetype`,`mtime`,`size`,`etag`,`storage_mtime`,`permissions`,`parent`,`checksum`,`path_hash`,`path`,`name`,`storage`) SELECT ?,?,?,?,?,?,?,?,?,?,?,?,? FROM `oc_filecache` WHERE `storage` = ? AND `path_hash` = ? HAVING

[2017-12-19 18:37] nursoda opened #7581 "Updating multiple apps at once results in some not being updated"
### Steps to reproduce
1. Open "Apps"
2. Have multiple to-be-updated apps
3. Click multiple "Update" buttons fast

### Expected behaviour
All apps should be updated, at least after a while.

### Actual behaviour
At least in NC13b3, I reproduced twice that updateing Brute-force settings, Impersonate and Retention at "once" doesn't work out. Brute-force settings was updated, the other two remained i

[2017-12-19 18:40] lukebarone opened #7582 "Commas, apostrophes and symlinks breaks SMB External Storage"
### Steps to reproduce
1. Have a user's folder with a comma, apostrophe or symlink somewhere inside it
1. Enable SMB Authentication for logging in
2. Have external storage ->smb/cifs setup pointing to an SMB server
3. When logging in and accessing the external storage folder, it appears as empty - except any files created from NextCloud in that folder

### Expected behaviour
A user logs in and see

[2017-12-19 19:00] rullzer commented on #5574
I can upload just fine here.

Does it fail for all files you throw at it?

[2017-12-19 19:07] enoch85 commented on #5574
Just checked a bit closer and this is the most recent logoutput:

*Please edit the lines*
[code]

Small files are good, but not files over a few kb.

[2017-12-19 19:27] major5012 commented on #5674
Is this similar?  https://help.nextcloud.com/t/nextcloud-client-move-shared-folder/21471

[2017-12-19 19:39] sunjam opened #7584 "Request: Please apply for the IFTTT Platform"
[IFTTT platform is available for projects with a public API and Oauth2, allowing them to communication with other pieces of software using conditional statements](https://platform.ifttt.com/apply?level=partner).  I politely asked for more info on how Nextcloud could actually be integrated...  I was told someone from the Nextcloud organization would need to contact IFTTT through this site to get th

[2017-12-19 19:58] dl5rcw commented on #272
Yepp,experienced such thing today in 12.0.4

[2017-12-19 20:01] rullzer commented on #7551
I just tested this. I can install the app from the appstore just fine... @srtate can you test again?

[2017-12-19 21:34] rullzer commented on #7312
Maybe an explicit occ command is fine. But I'm really against doing this in a regular cron job as it rebuilds the table basically. So on larger instances that is not a good idea.

[2017-12-19 22:41] srtate commented on #7551
The behavior is different now. The app does install, but it still isn't loading the app image from the app store. That's a huge improvement (installing the app), so this problem doesn't affect functionality. Still an issue though. Screenshot:

![screenshot from 2017-12-19 17-31-13](https://user-images.githubusercontent.com/10100502/34182258-7f146000-e4e3-11e7-92cb-6eb189755519.png)

[2017-12-19 23:32] Arno500 commented on #7412
Looks like it's been resolved by some commit, but I can't still load the complete main page after the login. The css files with a unique prefix (it seems) are taking forever to generate/send, and the browser is only waiting for it.

[2017-12-19 23:32] #7412 closed

[2017-12-19 23:32] blizzz commented on #7445
While I could not reproduce the error message above, in this scenario the file scan background job will never scan DFoobars files.

I could not adapt it to local users, since it is case insensitive and does not allow usernames with just different casings. A hack for LDAP is easy, just opens the door for other, different side effects.

Anyway, this turns it into a bug.

[2017-12-20 01:45] BambooVolt commented on #7549
@MorrisJobke
Found the source/issue here in the FreeBSD port - it has been updated by the port maintainer with the comment "www/nextcloud: Update to 12.0.4 - Include upstream PostgreSQL fix". No mention that it breaks the integrity check here (read on).

https://svnweb.freebsd.org/ports/head/www/nextcloud/files/patch-3rdparty_doctrine_dbal_lib_Doctrine_DBAL_Schema_PostgreSqlSchemaManager.php?revis

[2017-12-20 05:57] bobspct commented on #7432
I've got the same issue

[2017-12-20 06:27] pellaeon commented on #6540
Just upgraded to latest master and having the same issue, there are errors in the log, seems to be related to this issue?

[code]

[2017-12-20 07:53] MorrisJobke commented on #7584
I guess this needs to be done by each instance of Nextcloud independently, because each one has a different API endpoint. Also this should be implemented as an app and not in the server itself.

Thanks for the feedback anyways and we are happy to assist if help is needed to get this as a feature.

I will close this in here, because this is the bug tracker of the server core and the integration sho

[2017-12-20 07:53] #7584 closed

[2017-12-20 07:57] MorrisJobke commented on #7582
This looks a bit like #3299

[2017-12-20 07:57] MorrisJobke commented on #7582
cc @icewind1991

[2017-12-20 07:58] MorrisJobke commented on #7581
cc @rullzer @danxuliu Should we just disable the "update" button if a update is running?

[2017-12-20 08:22] rullzer commented on #7581
@MorrisJobke yes seems the most sensible

[2017-12-20 08:34] MorrisJobke commented on #7184
Looks like we need to optimise that job then. @rullzer @schiessle @blizzz Any idea for this?

[2017-12-20 08:35] MorrisJobke commented on #7132
Then we can close this I guess. Sorry for the trouble you had.

[2017-12-20 08:35] #7132 closed

[2017-12-20 08:37] MorrisJobke commented on #7126
The editing is only available for a limited set of files. For example if you have collabora online installed in your instance all office documents allow editing for file links. For other files we try to improve the situation by providing the proper editors. For example in #1571

I would close this here for now and would ask you to open tickets for file types that should be supported/are missing in

[2017-12-20 08:37] #7126 closed

[2017-12-20 08:38] MorrisJobke commented on #7089
cc @nextcloud/encryption for the encryption error messages in the logs

[2017-12-20 08:42] MorrisJobke commented on #5060
@snareoj Because there is a 500 error: could you check the logs for the error message?

[2017-12-20 08:43] MorrisJobke commented on #3164
cc @icewind1991

[2017-12-20 08:45] MorrisJobke commented on #3670
With Nextcloud 12 the SMB lib was updated: https://github.com/nextcloud/server/pull/2676

Could you check again with Nextcloud 12. Thanks

[2017-12-20 08:45] #3670 closed

[2017-12-20 08:47] MorrisJobke commented on #1970
Could you check again with Nextcloud 12+, because the SMB library was updated in that version - ref https://github.com/nextcloud/server/pull/2676

I'm closing this for now. If there is still an issue with this, please reopen a new ticket and maybe refer to this one, if it is a similar problem.

[2017-12-20 08:48] MorrisJobke commented on #3039
Dropbox support was moved to a separate app, please report issues with this over there: https://github.com/icewind1991/files_external_dropbox

The app works with Nextcloud 12+

[2017-12-20 08:48] #3039 closed

[2017-12-20 08:49] MorrisJobke commented on #3210
Dropbox support was moved to a separate app, please report issues with this over there: https://github.com/icewind1991/files_external_dropbox

Please try this new app, because it uses updated libraries that support newer Dropbox APIs.

The app works with Nextcloud 12+.

[2017-12-20 08:49] #3210 closed

[2017-12-20 09:04] MorrisJobke commented on #6865
cc @icewind1991 @danxuliu Is this related to the storage requests or to the JS part?

[2017-12-20 09:11] denics commented on #7310
Hi @tacruc thanks for this. It seems promising and I hope to have some time during holidays to have a look at it.
I would like to verify if we could apply the same to [notes](https://github.com/nextcloud/notes) app. It could be really handy to save notes that are encrypted even in the filesystem. Maybe the approach should be global and the PGP service should be integrated in the server and provide

[2017-12-20 09:31] tacruc commented on #7310
Hi @denics,
at the moment I have implemented it as a part of the server.
The problem for the notes app it, that it would requiere to handle the private key of the user.

So at the moment it is easy implemend the encrypted saving, but loading the note would require the private key.... And if the private key is stored on the server you would kind of bypass your own encryption.

I still think that th

[2017-12-20 09:37] ThomasLeister commented on #1506
Yes, it's not implemented yet. But I'd appreciate very much if automatic deletion of birthdays in calendar was available :)

[2017-12-20 09:38] denics commented on #7310
I do not think this as a limitation but as a security improvement. User will be able to create encrypted notes only from trusted devices (his mobile, his desktop), otherwise his note will not be encrypted.

Decrypting works on public key anyway, so it will be accessible from everywhere.

[2017-12-20 10:26] ArnY commented on #7522
When sharing a file. In the contact search field. Typing the first characters doesn't trigger suggestions for groups, but as soon as you've typed the whole name, the group shows up.

That's also what I thought, but actually they still show up. We ended up deleting them manually from the oc_ldap_group_mapping table. Users were complaining when sharing with those empty groups.

[2017-12-20 10:31] tacruc commented on #7310
Sorry can't follow you right now, decrypting works on private key. Otherwise it wouldn't make sence to call it encryption if anybody could read.

[2017-12-20 10:36] stenstad commented on #1504
This is not fixed. https://github.com/rackspace/php-opencloud is not developed, and does not support v3 auth. The readme.md previously even said:

Ref: https://github.com/rackspace/php-opencloud/issues/699

Openstack Identity v2 was marked as deprecated in 2013.

Please switch to https://github.com/php-opencloud/openstack instead.

[2017-12-20 10:48] MorrisJobke commented on #1504
You are right - this is about Swift and not about S3. Sorry for that.

[2017-12-20 10:50] denics commented on #7310
@tacruc, sorry I did mean that you will access the encrypted files only from trusted devices too.

[2017-12-20 11:37] enoch85 commented on #1970
@iG8R --^

[2017-12-20 11:38] #7497 closed

[2017-12-20 11:38] #7500 closed

[2017-12-20 12:36] dhowe commented on #7519
Clarification: the URL I listed above does successfully connect, but contacts do NOT seem to sync correctly, on a range of different clients (calendar updates with the caldav URL above connect and sync correctly).

[2017-12-20 13:19] danxuliu commented on #7581
[When the server is updating an app it enters in maintenance mode](https://github.com/nextcloud/server/blob/0e2f00ec59424b2ef5708a928856e2c75abe6deb/settings/ajax/updateapp.php#L42), and any other request to the server while it is in maintenance mode will result in a `503 Service unavailable` HTTP error. Therefore, trying to update other apps while the first one is being updated fails.

If the upd

[2017-12-20 14:23] ArnY opened #7585 "S3 as primary storage : empty files are impossible to upload"
### Steps to reproduce
1. set up a nextcloud instance with a s3 bucket as primary storage
2. create an empty file on your hard drive
3. try to upload the empty file or drop the file in your synch'ed folder

### Expected behaviour
the file should be uploaded to the nextcloud instance, on the s3 bucket.

### Actual behaviour
in both case (upload from web or using the synchronization client), the upl

[2017-12-20 14:29] ohmer1 commented on #7190
Nop. It worked the first time. The problem is I was using a static json file (generated with show-remnants --json) in my users removal script...

Still there today.

[2017-12-20 15:04] pixelipo commented on #7408
I could add that code, but it would be blind, since I can't test on IE11...

[2017-12-20 15:06] skjnldsv commented on #7408
@pixelipo time for a vm! 😆

[2017-12-20 15:09] pixelipo commented on #7408
@skjnldsv no
![image](https://user-images.githubusercontent.com/4129927/34213636-1bc02800-e5a0-11e7-98fa-4a4249712c30.png)

[2017-12-20 15:27] Croydon commented on #7283
This is really annoying as it can cause huge amounts of traffic.

[2017-12-20 15:52] splitt3r opened #7586 "Rename tag textbox too big"
### Steps to reproduce
1. Add a tag to a file
2. Edit the tag from the tag auto complete

### Expected behaviour
The textbox should fit into the autocomplete selection box.

### Actual behaviour
The textbox is too big for the  autocomplete selection box.

### Server configuration

**Nextcloud version:** Nc 13 beta 3

**Updated from an older Nextcloud/ownCloud or fresh install:** fresh install

**W

[2017-12-20 16:47] ToeiRei commented on #7532
Could reproduce the behavior described - files_accesscontrol disabled and it worked again for now until I can update the app itself

[2017-12-20 17:41] mphslaats opened #7587 "Cannot send emails using gmail"
Hi,

I am using Nextcloud for quite some time now, and a company asked me to put Nextcloud on one of there servers. So I did the following:
* Installed latest NAS4Free;
* Installed The Brig extension;
* Created a Nextcloud jail with Nextcloud 12.0.4.

When I made a proof of concept I was able to sent email using the following settings:
![capture](https://user-images.githubusercontent.com/15626597/

[2017-12-20 18:12] sunjam commented on #7584
@MorrisJobke
Hi, I understand this does not fit under server core, but would you be willing to contact IFTTT and find more information to share on what is needed for further development... I'm happy to do it, but I'm just a user.  [Discussion on this integration can be found on the Nextcloud Help page here](https://github.com/joeplus/nextcloud-ifttt) and [a rough github page for possible implement

[2017-12-20 18:45] In-eX commented on #7420
After upgrading from 12.0.4 to 13beta3 the problem persisted. A installation with the web installer (12.0.3) fixes the problem, but when I upgrade to 12.0.4 I'm back to my old problem. Note, that I'm using the same database for all versions (not at the same time ofc). I don't have any issues with 13beta3 and a new database.

Is there something wrong with the updater? Or did something get lost afte

[2017-12-20 19:31] NeoJones opened #7588 "Folder permissions"
Hi,
is it possible to give a specific folders his own permissions?

For example:
- Main folder (full access, open with a public share link)
-------- Subfolder (allow only read for public)
-------- Subfolder (full access for public)

Regards, NJ

[2017-12-20 20:58] jakobsack opened #7589 "Add new interface OCP\Streamer"
To add the possibility to download all attachments of an email I'd like to use the following features from `OC\Streamer` and `OC_UTIL` in a public API:

[code]

The public interface could be called `OCP\Streamer`.
Origin of this issue is nextcloud/mail#580

[2017-12-20 22:23] MorrisJobke commented on #7584
Both of your links point to a app repo, but I don't know why we should contact IFTTT, somebody needs to dig into how IFTTT works and if there are specific problems then we could help. I don't see how blindly apply for something that does not exist yet would help here.

[2017-12-20 23:34] juliushaertl commented on #7007
The positioning is also wrong if the remaining space under the input field is not big enough for the datepicker: Issue in deck https://github.com/nextcloud/deck/issues/365 but it also occurs in files

![](https://screenshots.firefoxusercontent.com/images/39d888ee-e062-452f-a5de-2a3fd47ba62a.png)

[2017-12-21 09:52] pixelipo commented on #7007
@juliushaertl I'm not really sure that that is a bug - it happens only when there is not enough screen space to render the popover. If it didn't do that, then the calendar would be partially hidden and thus unusable. I agree that it doesn't look great but utility is more important than aesthetics...

[2017-12-21 10:07] ziqingshi commented on #7437
I have the same problem.You should click the share button first,then you can access external_storage.

[2017-12-21 10:17] tobiasKaminsky opened #7593 "Weblogin flow returns input loginname instead of user id"
When using the new weblogin flow and enter "TOBI" as loginname I also get "TOBI" back instead of "tobi" which is the internal, unique username.
However if I enter an email address it does change the username to "tobi".

Am I missing something?

[2017-12-21 10:17] icewind1991 commented on #7283
The encryption app would either have to set all etags back after writing to the files, or bypass the etag updates altogether when doing it's decryption (meaning probably having to work directly with the underlying storage)

[2017-12-21 10:21] ziqingshi commented on #7388
I have the same question,I fix this 3 days,hava no ideas,I'm from China........Very very very want to know how to fix this question.

[2017-12-21 10:22] ziqingshi commented on #7388
@blizzz  I have the same question,I fix this 3 days,hava no ideas,I'm from China........Very very very want to know how to fix this question.

[2017-12-21 10:34] sttyru opened #7594 "Can't add configuration of LDAP/AD integration by browser"
### Steps to reproduce
1. Install NextCloud 12 at CentOS 7 und plugin for LDAP/
2. Setup of Nginx.
3. Try to add / modify of LDAP/AD configuration

### Expected behaviour
Can't to add or modify mine LDAP/AD configuration by web-intreface (Chrome or FF). In the webserver log no one warning.

### Actual behaviour
Another function is ok.

### Server configuration

**Operating system**: CentOS 7.3 x86

[2017-12-21 10:56] skjnldsv commented on #7160
Should this replace our current variable system then?
I think we should wait for @karlitschek's approval fro dropping IE. :)
Then we'll have a lot more possibilities css speaking ;)

[2017-12-21 10:58] karlitschek commented on #7160
Well if it would be that easy ;-) It's not really my decision but the decision of the user out there. And unfortunately IE is still used a lot. Hopefully this changes soon.

[2017-12-21 12:15] Tyil commented on #7384
@bobpaul Gentoo's portage won't upgrade PHP to 7.2 if the OwnCloud package is indicated to require php <= 7.1. It also allows easy "masking" of PHP 7.2 in case you do not want/need it (yet). Gentoo on a server won't pose any problems with NextCloud usage.

[2017-12-21 12:24] janumix commented on #7437
You're right. It works - thanks. Sharing external storage should be enabled.
Nevertheless issue need to be open until fix will be made.

[2017-12-21 12:29] blizzz commented on #7522
This won't clean up group shares, for instance, you'll have some dead entries lying around in the DB now. But, you can try to create and delete a local group with the same name, as workaround.

[2017-12-21 12:34] sttyru commented on #7594
Sorry for double!
**https://github.com/nextcloud/server/issues/3074** <-- that bug

[2017-12-21 12:41] ArnY commented on #7522
Actually, we caught the bug before opening the service to our users, only a few group share were made by our testing team and removed before we deleted the groups.

[2017-12-21 13:16] sushidave opened #7596 "Background job doesn't run: Enhance error message, add trouble shooting procedure"
Hey,

As the News app doesn't update its feeds on two Nextcloud 12 installations I checked the admin pages and noticed this message:

**"Letzte Aufgaben-Ausführung lief Vor 5 Monaten. Etwas scheint falsch zu sein."** i

It seems to be a background job issue and not something specific to the News app.

Then clicked the "i" next to it and was taken to "Defining Background Jobs" of the documentation

[2017-12-21 13:25] pixelipo commented on #7007
@MorrisJobke regarding the original bug this issue is about, I created a work-in-progress PR that should solve it: #7595

[2017-12-21 15:03] jancborchardt commented on #6493
Agree with @MorrisJobke. Plus, if we provide a clean way of doing something, people _will_ do it. But we want to discourage adding more icons there. We are already fighting to properly integrating things which are all over the place (see the Files sidebar with the multiple tabs. :\

[2017-12-21 15:05] ahoward22 commented on #7471
Apologies for taking so long to get back. Nothing when I go to disabled users in the web interface or the CLI . The user (She) never gets logged in. If I add her to my AD group and try and log in I get the "User is Disabled" prior to the profile even being made in my database (/var/ncdata/"user databases"). That being said I have tried an occ user:info and user:enable to no avail because there is

[2017-12-21 17:40] yidner opened #7602 "Latest nextcloud ios app fails on iPhone7"
### Steps to reproduce
1.
2.
3.

### Expected behaviour
Tell us what should happen

### Actual behaviour
Tell us what happens instead

### Server configuration

**Operating system**:

**Web server:**

**Database:**

**PHP version:**

**Nextcloud version:** (see Nextcloud admin page)

**Updated from an older Nextcloud/ownCloud or fresh install:**

**Where did you install Nextcloud from:**

**Signin

[2017-12-21 18:57] rullzer commented on #7184
I'd have to run test. But I see why it fails.

The first part of the job is actually playing nice I'd say: https://github.com/nextcloud/server/blob/master/apps/dav/lib/CardDAV/SyncService.php#L320-L325

Just for each user update that user which seems fine (and makes sense).

However the second part: https://github.com/nextcloud/server/blob/master/apps/dav/lib/CardDAV/SyncService.php#L328

Creates

[2017-12-21 19:08] Nottt opened #7603 "External storage won't reflect changes on the storage"
### Steps to reproduce

1. Add a external unionfs folder as external storage
2. Delete or add files, move stuff around
3. NextCloud won't reflect this even after a long time of waiting, and even restarting the docker container

### Expected behaviour
The web interface should reflect the changes made on the folder, in real time or in a reasonable time.

### Actual behaviour
Web interface does not r

[2017-12-21 19:32] rullzer commented on #7184
Mmmm so thinking more about this... why don't we just listen to the postDelete hook properly... and then drop the user from the sytemaddressbook...

[2017-12-21 19:33] rullzer commented on #7184
Aaaah because the mapping is reversed... (sorry for the live debug log :P)

[2017-12-21 19:46] rullzer commented on #7184
Ok so I was wrong. https://github.com/nextcloud/server/blob/master/apps/dav/lib/CardDAV/SyncService.php#L328 is actually very fast.

https://github.com/nextcloud/server/blob/master/apps/dav/lib/CardDAV/SyncService.php#L321 is slow

This is because we regenerate the vcard all the time. Which requires fetching an avatar. Which goes to disk etc.

However the more I look at it the more I wonder why we

[2017-12-21 19:54] radoeka opened #7604 "Type in Dutch translation - ocumentatie in stead of documentatie"
### Steps to reproduce
1. GoTo https:///settings/admin
2. First line at the the webpage, has incorrect translation

### Expected behaviour
Text has: Tips & Trucs sectie en de ocumentatie voor meer informatie.

### Actual behaviour
Text should be: Tips & Trucs sectie en de documentatie voor meer informatie.
(added 'd' to documentation)

Nextcloud version: 12.0.4

Text is found in: ./settings/l10n/n

[2017-12-21 19:55] rullzer commented on #7184
So I just checked.

* Creating a user => Creates it in the systemaddressbook
* Deleting a user => Deletes it from the systemaddressbook
* Updating a user => Updates it in the systemaddressbook

So I think we can just remove the cronjob for this.
All user backends should properly emit those hooks and if not we should fix them.

Worst comes to worst users can always trigger a sync via the occ comman

[2017-12-21 20:43] rullzer commented on #7604
Thanks!

Fixed on transifex. Should be synced tomorrow and will be in the next releases.

[2017-12-21 20:43] #7604 closed

[2017-12-21 20:45] radoeka commented on #7604
Thanks

[2017-12-22 01:58] MyPod commented on #7602
Have you tried to disable http2 in the web server in use? If the same web server is used for multiple websites, I have found that it's required to disable http2 in all of them for the iOS app (and others, including the desktop and a few Android ones) to work.

[2017-12-22 09:17] Jookadin opened #7606 "LDAP login attributes not updating."
### Steps to reproduce
1. Add new group under Users and Groups in LDAP configuration.

### Expected behaviour
The login attributes filter should update with the new group that was just added.

### Actual behaviour
The login attributes filter stays the same, resulting in the new groups users being added, but are not able to login.

### Workaround
It was possible to get the login attributes to updat

[2017-12-22 09:25] raimund-schluessler opened #7607 "Replace PhantomJS with Cypress"
I just stumbled upon this blogpost from Gitlab and was wondering if this will become necessary here as well: https://about.gitlab.com/2017/12/19/moving-to-headless-chrome/

Looks like PhantomJS will not be developed further https://groups.google.com/forum/#!topic/phantomjs/9aI5d-LDuNE and if I am not wrong it is used here as well. So in the long run, it might need to be replaced with headless chro

[2017-12-22 10:34] MorrisJobke commented on #7606
cc @nextcloud/ldap

[2017-12-22 10:36] MorrisJobke commented on #7603
You could enable the "Check on every direct access" in the external mount settings: https://docs.nextcloud.com/server/12/admin_manual/configuration_files/external_storage_configuration_gui.html#mount-options

Nevertheless this would only solve part of the problem. As the check of the whole filesystem could be a very resource intensive process, it was disabled and only put in place for accessing a

[2017-12-22 10:36] #7603 closed

[2017-12-22 10:37] MorrisJobke commented on #7602
Please report this in the iOS repo: https://github.com/nextcloud/ios/issues

[2017-12-22 10:37] #7602 closed

[2017-12-22 10:37] MorrisJobke commented on #7594
Closing as duplicate of #3074

[2017-12-22 10:37] #7594 closed

[2017-12-22 10:38] MorrisJobke commented on #7588
This is not possible as of now. You need to create separate shares for this.

[2017-12-22 10:38] #7588 closed

[2017-12-22 10:41] MorrisJobke commented on #7587
I use the exactly same configuration for gmail and it works here. This seems to be related to the SSL implementation of the OS. Please reach out to the maintainer of the PHP to have a look at this. My wild guess is just that some ciphers are not supported somehow.

The second error message is also a PHP bug and was already fixed in PHP itself and only waits for the new release to be made available

[2017-12-22 10:41] #7587 closed

[2017-12-22 10:42] MorrisJobke commented on #7586
cc @nextcloud/designers

[2017-12-22 10:42] MorrisJobke commented on #7585
cc @icewind1991

[2017-12-22 10:42] blizzz commented on #7606
Comes with 13 https://github.com/nextcloud/server/pull/7321

[2017-12-22 10:42] #7606 closed

[2017-12-22 10:47] MorrisJobke commented on #7344
@jasonbayton Any news here?

[2017-12-22 10:48] MorrisJobke commented on #3745
If there is a 500 error it needs to be listed in the nextcloud or webserver log. Could you check on that?

[2017-12-22 10:49] MorrisJobke commented on #7607
cc @nextcloud/javascript

[2017-12-22 10:53] icewind1991 commented on #7585
This is a limitation of amazon and not something we can do much about

[2017-12-22 11:30] blizzz commented on #7607
Yes, PhantomJS was abandoned, sooner or later it needs to re replaced. Firefox can also run in headless mode, whether it is installable on a headless machine idk. In general, yes, we need to move somewhere.

[2017-12-22 11:42] MorrisJobke commented on #7509
The menu in the header now properly opens as well as the PDF viewer is not hidden anymore. I will close this for now. Could you give this a test once the next beta is out? Thanks

[2017-12-22 11:42] #7509 closed

[2017-12-22 11:45] MorrisJobke commented on #7589
cc @rullzer @icewind1991

[2017-12-22 11:56] rullzer commented on #7589
Fine by me. Would be good if that part got some more testing. And also would remove a private lib dependency of the files_sharing app.

[2017-12-22 12:07] hantk8 commented on #7411
Hi we found a solution
apparently this was the reason https://raymii.org/s/blog/Owncloud_DirectAdmin,_Apache_2.4_and_Error_AH01797_client_denied_by_server_configuration.html

[2017-12-22 13:18] jancborchardt opened #7609 "Make links in comments clickable"
Currently when you paste a link in the Files sidebar comments, it’s just text. Instead it should become a clickable link, and for better readability have the protocol stripped.

@nextcloud/javascript

[2017-12-22 14:17] narutobaka opened #7610 "ldap_control_paged_result_response(): No server controls in result at /var/www/html/nextcloud/apps/user_ldap/lib/LDAP.php#74"
### Steps to reproduce
1. LDAP Configuration OK
2. Authentification with an LDAP user OK
3. But in log i get this : Error PHP	ldap_control_paged_result_response(): No server controls in result at /var/www/html/nextcloud/apps/user_ldap/lib/LDAP.php#74

### Expected behaviour
If my LDAP configuration is correct, why this error message?

### Actual behaviour
Just lots of Error log ligne

### Server c

[2017-12-22 14:36] blizzz commented on #7609
not just file comments, also in Talk

[2017-12-22 15:18] BlackIkeEagle commented on #5653
@here, since the fix is merged in sabre/vobject, could nextcloud make use of the 4.1.4 version ?

[2017-12-22 15:24] masaki-iwata commented on #7532
I tried update with files_accesscontrol disabled.
so then I could update !

[2017-12-22 15:54] qouoq opened #7612 "Session drops and most pages don't load after upgrading to 13.0.0 Beta 3"
I used to have a working Nextcloud 12 install.
Three days ago it would not open, I think I got a blank page upon login. When that happened before, I used to be able to solve by removing the cookies.
Since I still couldn't access after removing the cookies, and I didn't update my server for a long time, I decided to update, and due to the incompatibility between PHP 7.2 and Nextcloud 12, I installe

[2017-12-22 16:30] Escubaer commented on #7584
Yes, this would be a great feature. I am politely begging the Nextcloud developers to apply. And where do we track this if not here? Please don't close, but show us a proper place for the discussion!

[2017-12-22 16:32] icewind1991 commented on #7589
That should probably be handled by the http response api

[2017-12-22 17:47] ArnY commented on #7585
Actually, i'm not using amazon's s3 but radosgw, not sure this makes a difference. But I also showed in the ticket that s3cmd does upload the empty files without any trouble so it doesn't looks the problem is on the storage side but indeed in nextcloud.

[2017-12-22 18:05] danxuliu opened #7613 "Clicking on the contents may not close the menu in the sharing page"
In the sharing page (go to the Files app, open the right sidebar for a file, open the _Sharing_ tab, click on _Share link_ and open that link in the browser) the share menu is open when clicking on the toggle at the right of the header, and once open it is closed when clicking anywhere outside the menu (in current master clicking again on the toggle does not close the menu, but there is a fix for

[2017-12-22 18:25] dagoss commented on #2063
We're using ownCloud at an organizational level and encountered this behavior. It was not expected and we thought it was a bug. I don't have a good suggestion for resolving this, knowing there could be issues with duplicate names.

[2017-12-22 18:40] Happyfeet01 commented on #1573
Is this still an security problem? I have many zip files on my server.

[2017-12-22 19:17] pixelipo commented on #7613
I'd just like to note that a very recent bug report to the Deck app was to restore (or add an optionto enable) right sidebar that *doesn't* close when losing focus...

[2017-12-22 19:21] rullzer commented on #7388
I have no idea why. But I see similar behavior when adding an SFTP external share.

@icewind1991 any idea?

@danxuliu as js debugger ;)

[2017-12-22 19:48] Nottt commented on #7603
I already have check for changes on every direct access and it still won't work. Is there any other way to fix this without having to use a terminal every time something changes in my external mount?

[2017-12-22 20:13] funkytraffic commented on #7579
See also #5107

[2017-12-22 21:15] danxuliu opened #7614 "Image preview in sharing page should show the full image"
In the sharing page (go to the Files app, open the right sidebar for a file, open the _Sharing_ tab, click on _Share link_ and open that link in the browser) generally a download button is shown below the preview of the shared file. [That button is hidden when the preview URL and the download URL are different](https://github.com/nextcloud/server/blob/eb256b3ed52422c33459321f2a9cf745d5ef6adc/apps/

[2017-12-22 22:02] pixelipo commented on #7584
IFTTT works more or less by connecting to one API to another one. So basically, as soon as certain NC component contains an API, it is compatible with IFTTT.
I think this most NC apps are at least planning to introduce an API, but most of them don't have it.

[2017-12-23 01:00] dienteperro opened #7615 "Favorites are lost every time I update my instance"
### Steps to reproduce
1. Install update, from the updater.
2. Click on the favorites link.
3. There is no Favorites in the list.

### Expected behaviour
Favorites should not disappear after an update.

### Actual behaviour
Favorites disappear after an update.

### Server configuration

**Operating system**: Linux hostname 4.4.0-104-generic #127-Ubuntu SMP Mon Dec 11 12:16:42 UTC 2017 x86_64 x86_6

[2017-12-23 01:36] haggl commented on #7432
Me too. :-(

[2017-12-23 11:28] Wrumm commented on #7542
Thanks, the hints helped a lot. Was a clear admin error.
I had an error in the configuration of the revers proxy.

[2017-12-23 11:28] #7542 closed

[2017-12-23 12:06] rkarlsba opened #7616 "Feature request: Sync existing"
### Steps to reproduce
1. Create account
2. Connect to account with a well-used phone
3. Wait for it to synchronise existing pictures

### Expected behaviour
It does synchronise things

### Actual behaviour
It doesn't synchronise things

### Server configuration (etc)
Not relevant, since this happens on all versions I've tested, with both the owncloud and the nextcloud client. I've seen a few bug

[2017-12-23 12:29] rullzer commented on #7614
@jancborchardt you wanted to change it to the preview if I remember correctly.

[2017-12-23 12:36] rullzer commented on #7614
Ok so a bit of background. Before (when the button was below) this was maybe easier.

Previews are always limited in size. (see config.php). The reason for this is that we don't want to generate previews of 20kx20k for huge images etc.

The thing is if we redirect to the download link it will not show he image just download it. However if you click on the download link it will still properly downl

[2017-12-23 13:01] rullzer commented on #7593
@tobiasKaminsky you could get the UID with a request to <server>/ocs/v2.php/cloud/user

[2017-12-23 14:59] splitt3r opened #7617 "Popover doesn´t close in user management"
### Steps to reproduce
1. Open user management
2. Click on the more icon for a user

### Expected behaviour
The menu should close after clicking somewhere else / the popover should be positioned correctly

### Actual behaviour
The menu doesn´t close and the popover isn´t positioned correctly (a bit to high)

## Server configuration detail

**Operating system:** Linux

**Webserver:** Apache (CentOS

[2017-12-23 15:16] Spartachetto commented on #7584
@MorrisJobke, I get the reasons for which you closed this issue yet, if you deem it meaningful, this could become an overview issue to track the development of the different APIs that are developed or will be developed in Nextcloud (server AND apps).

This could help who is interested in IFTTT or in the open-source alternatives Node-Red, Huginn, Trigger Happy or Beehive

[2017-12-23 15:38] sunjam commented on #7584
For reference, here is the [open integration issue 272 on Trigger Happy](
https://github.com/foxmask/django-th/issues/272) for Nextcloud and Owncloud.

On Sat, Dec 23, 2017 at 7:16 AM Spartachetto <notifications@github.com>
wrote:

[2017-12-23 16:38] realies opened #7618 "Limit sharing functionality usage to per user or group"
Would be great if the ability to share files has more granular per user or group functionality instead of being a global option for all.

[2017-12-23 17:03] icawebdesign commented on #7518
Confirming the same.

- Debian 9
- PHP 7.1.12
- Nextcloud 13 beta.3

Nothing's changed (shares-wise) since before the v13 upgrade.

[2017-12-23 18:32] heyarne opened #7619 "Notify when password isn't complex enough"
I was just trying to create a user and it didn't work. I did not receive any kind of notification, it just didn't work. Opening the developer tools gave me a 403 status code with a rendered html response telling me access forbidden, so I logged out and in again, assuming my session expired without me notificng it. It turned out that what solved the problem was [this forum post](https://help.nextcl

[2017-12-23 20:34] mimaoffice commented on #6725
Is it not possible so "solve" this problem by saving the files permissions into the DB?

[2017-12-24 03:00] armaccloud opened #7620 "Unknown root share with others, details don't open, cannot unshare"
When I check the files shared with others, I get to see the following entry.
![image](https://user-images.githubusercontent.com/9272078/34323875-d0362d26-e85b-11e7-88fd-dc89c0155ed3.png)

When I click the share, it appears to be the complete root folder.
I cannot see who it is shared with, because the details for the share don't open.
How can I remove this share and does anyone know how it could h

[2017-12-24 04:16] L00maca commented on #417
It's not much and I'm not even sure I did this right since I never did this before, but I don't mind chipping in to help this get done.
[Requesting delta-sync in longterm @BountySource](https://www.bountysource.com/issues/36065621-requesting-delta-sync-in-longterm)

[2017-12-24 04:51] virtualdxs commented on #7384
@HLFH I would NEVER want a package to install to /srv/http. /usr/share/webapps is where most webapps go and you can either symlink or copy or do whatever you want there.

[2017-12-24 05:52] dirigit commented on #7619
Hi,

some kind of message or information would be nice. I had same problem and got it solved using another password.

You can change requirenments in settings (security, scroll down a bit).

cu, diri

[2017-12-24 08:49] MorrisJobke commented on #7603
Not really - we romeved it because scanning it all the time just kills the performance and made it unusable. You could setup a Cron job for this scanning

[2017-12-24 09:50] tflidd commented on #7619
Are you using nginx?
https://github.com/nextcloud/password_policy/issues/32#issuecomment-293596764

[2017-12-24 09:59] segdy commented on #7332
Great - seems to work!

[2017-12-24 10:09] saper commented on #7384
Thank you for the discussion, I think there is nothing more to be added here.

[2017-12-24 12:18] Nottt commented on #7603
If at least it worked as expect, is fine, but I can upload stuff, delete & all form of interacting with the external storage and it just won't update changes. But okay thanks

[2017-12-24 13:08] heyarne commented on #7619
I *am* using nginx, however I'm now receiving a 503 error in a similar way. The (invisible) response again is a rendered HTML page containing mainly this:

[code]

I ended up changing the password via `sudo -u www-data ./occ user:resetpassword $user`.

[2017-12-24 14:48] marianoju commented on #3478
I have commented out the line @ini_set('max_execution_time', 3600); in lib/base.php

Update to 11.0.1 fails with “An error occurred.”

**Nextcloud log (data/nextcloud.log)**
`{"reqId":"qi1Oslr62QRBU4hSYRdn","remoteAddr":"2.240.3.55","app":"core","message":"Trusted domain error. \"2.240.3.55\" tried to access using \"www.marianoju.net\" as host.","level":2,"time":"2017-12-24T14:44:59+00:00","method

[2017-12-24 16:00] ibr123 opened #7622 "NextCloud Server Listener"
Hi,

I have seen at the [link](https://github.com/nextcloud/server/blob/master/apps/comments/lib/Activity/Listener.php) that there is a class for listening to the server, but in the developer documentation i didn't find any an external app or server that exposes this class so it will enable the listening to the server, at admin lever not user level

Is there a possible way to do that?

Thanks in a

[2017-12-24 17:07] armaccloud commented on #7620
Apparently this was linked to a collation error I got when trying to share a folder. It created 2 records inside oc_share for which one was the root folder. A bit strange. I removed the line from the table.

[2017-12-24 17:07] #7620 closed

[2017-12-24 17:14] Marlinc commented on #7585
It appears I've ran into the same issue with radosgw. It only happened after upgrading to Nextcloud 12.0.4

[2017-12-25 06:51] ziqingshi commented on #7388
@rullzer  In the firefox,see the source code,add "<a class="action action-menu permanent" href="#" data-action="menu" data-original-title="" title="">" after the External Local Storage "<a></a>",then you can opening  External Local Storage.

[2017-12-25 11:59] MorrisJobke commented on #7603
This is then a separate problem. Could you create a ticket for this then?

[2017-12-25 12:47] c4539 opened #7623 "Cannot change permissions for second circle if folder is shared with two circles"
### Steps to reproduce
1. Share a folder with a circle
2. Share the same folder with another cirle
3. Change the permission for the second circle (i.e. remove the tick from the "can edit" checkbox)

### Expected behaviour
The checkbox for the second circle gets unchecked.

### Actual behaviour
The checkbox for the first circle gets unchecked.

## Server configuration detail

**Operating system:**

[2017-12-25 14:54] Rocologo commented on #4763
This one "and if the login into the Nextcloud is sucessfull, you have to add this entry again 'memcache.local' => '\OC\Memcache\APCu',"  fixed my white screen as well...

[2017-12-25 19:45] bmullan commented on #7398
@ddecaro94
I'd like to ask if you have documented your steps to install all of this in LXD containers.   The reason I ask is that I am the moderator of the LXD sub-reddit and it would be awesome if the instructions for how to install NextCloud, MySQL and ReDis could be posted there for others to follow?

If not the instructions, if you have a blog post somewhere documenting your installation you c

[2017-12-25 21:30] ddecaro94 commented on #7398
@bmullan
Hi Brian,

Unfortunately I didn't document the installation anywhere, but as soon as I have time I'm thinking to repeat the process to clean all the mess that I have created on the system installing by trial and error, I'll surely be careful about documenting the process and making it available on the sub-reddit.

Have a nice evening,

Daniele

[2017-12-26 06:31] dirigit commented on #7619
Hi,

I'm using Apache.

[2017-12-26 07:21] anjoer commented on #7532
Thanks, disabling files_accesscontrol worked for me too.

[2017-12-26 08:41] SlavikCA commented on #7614
I just installed NC 13 beta 3.
Trying to figure out, how to use preview links.
I think, my issues are in scope of this issue, but if not - let me know that I should open separate issue.

1) Using "Files", I clicked "Share -> Share link" for image file. I'm getting this: https://nc.slavikf.com/index.php/s/x4xXjb9BXif7Dy8
- GOOD: That link opens HTML page with image.
- BAD: There is "Download link"

[2017-12-26 10:24] alexxy commented on #6597
Any idea when this issue will be fixed? Currently on of NC features totaly br0ken (i tryed 12.0.x , x>2 and 13.0.0 beta's)

[2017-12-26 15:49] ahoward22 commented on #4117
Is anyone else still experiencing this issue? I upgraded from 12.0.3 to 12.0.4 in hopes of this resolving but I am still seeing the exact same behavior. I can disable/enable, show user info, however I cannot delete the user. I can then remove them from my AD group, but then I get the "user not found". They do not appear in "ldap:show-remnants" either...

[code]

**Remove** the user from the AD gro

[2017-12-26 16:07] danxuliu opened #7625 "File list is moved down when a file is selected"
This is a regression introduced in #7478

No file selected:
![files-header-selected-none](https://user-images.githubusercontent.com/26858233/34360212-cac01b04-ea5e-11e7-97d1-0c30fa846a38.png)

File selected:
![files-header-selected-now](https://user-images.githubusercontent.com/26858233/34360214-d25b7e80-ea5e-11e7-9a25-fe37246ce1ea.png)

For reference, this is how it looked before merging #7478
![

[2017-12-26 17:37] MariusBluem opened #7627 "Add multiple files to favorites"
See proposed mockup:

<img width="1011" alt="bildschirmfoto 2017-12-26 um 18 35 06" src="https://user-images.githubusercontent.com/19711361/34361590-add28cfe-ea6b-11e7-9700-aa48fde52bef.png">

- Nextcloud 13

[2017-12-26 18:15] martinlanger90 opened #7628 "Session handling: api and webdav requests shall not start a session"
### Steps to reproduce
1. Use NextCloud with macOS Calendar
2. do find phptmp/* | wc -l
3. get: 3825 -> more than 3800 session files in about 1-2 weeks

### Expected behaviour
For WebDav connections there should be no session file generated.

### Actual behaviour
for every webdav connection there is a session file

For the rest, take a look at:
https://github.com/owncloud/core/issues/29779

and th

[2017-12-26 19:46] MariusBluem opened #7629 "Create Folders when moving files"
Currently it is not possible to create folders in the filepicker, so it is not possible to move files to non-existing folders :(

<img width="636" alt="bildschirmfoto 2017-12-26 um 20 44 35" src="https://user-images.githubusercontent.com/19711361/34363589-a904d224-ea7d-11e7-972f-ceb3dde0fc84.png">

What do you think @nextcloud/designers

[2017-12-26 20:30] jonathanpantall commented on #5843
@MartinSohn - We experienced this same issue as well. Have any workarounds or fixes been found yet? Thanks!

[2017-12-27 01:59] ziqingshi opened #7630 "After the server is configured with the ldap server, the number of users in the user list is not displayed"
### Steps to reproduce
The server is configured with the ldap server, the number of users in the user list is not displayed.
### Expected behaviour
The number of users in the user list is displayed.

### Actual behaviour
The number of users in the user list is not displayed.
![image](https://user-images.githubusercontent.com/34739130/34368157-a97b7644-eaec-11e7-9c66-75caf4831a8d.png)

[2017-12-27 04:18] danxuliu commented on #7388
@rullzer If I am not mistaken this is caused by a change in the layout of the main file list. Since that layout change the element selectors used in the _files_external_ app are no longer valid, and thus the events are not correctly bind. I will take care of it ;-)

[2017-12-27 05:38] RussianNeuroMancer commented on #6028
I have this issue on 12.0.4 too.

[2017-12-27 06:11] tobiasKaminsky commented on #7593
Yes, but this is a second call and for me it seems just to be wrong. If you ask for the uid you should always get the same uid and not in case of weblogin something else.

[2017-12-27 10:32] vermaden opened #7632 "Logging - logdateformat - Possible Options"
Hi,

for Nextcloud 12.x what are ALL possible options for the 'logdateformat' option?

Regards.

[2017-12-27 12:29] validom opened #7633 "Sabre: There was no plugin in the system that was willing to handle this LOCK method"
### Steps to reproduce
1. NC 12.0.4 Installation
2. Use MS OneNote to create new OneNote in WebDav-Folder
3. create new section in OneNote and re-name it

### Expected behaviour
The OneNote section file on the NC server should be renamed

### Actual behaviour
rename fails, error message in log:

Sabre\DAV\Exception\NotImplemented: There was no plugin in the system that was willing to handle this L

[2017-12-27 22:16] cgrima commented on #7312
Same issue here with a 80GB oc_filecache.ibd while my entire database is roughly 4TB. @ArnisR , @LnLogN, could you give a link to the php script you are mentioning?

@ArnisR, could you give an idea on how long the defragmenting took for you?

[2017-12-27 23:06] realies opened #7636 "Use theme colour for upload progress bar"
Currently, despite the custom theme colour, the upload progress bar in the web UI stays blue.

[2017-12-28 06:09] kundansingh27feb commented on #5768
GuzzleHttp\Exception\RequestException: cURL error 60: Peer's Certificate has expired.
/var/www/html/3rdparty/guzzlehttp/guzzle/src/RequestFsm.php - line 103: GuzzleHttp\Exception\RequestException wrapException(Object(GuzzleHttp\Message\Request), Object(GuzzleHttp\Ring\Exception\RingException))
/var/www/html/3rdparty/guzzlehttp/guzzle/src/RequestFsm.php - line 132: GuzzleHttp\RequestFsm->__invoke(O

[2017-12-28 09:53] #6690 closed

[2017-12-28 10:02] rullzer commented on #7614
Already fixed in master

Not currently.

- BAD: The image downloaded. It should be shown in browser, not downloaded For download we have another icon (Download arrow).
- Would be nice to have option to choose, if I want Preview of Full size. Currently, image downloaded full size (6.7MB, 5k x 3k).

Please report that to the gallery app: https://github.com/nextcloud/gallery

[2017-12-28 10:04] rullzer commented on #7593
You don't ask for the uid. You ask to login. It would be the same if you use the old login flow. If you login with Admin but the uid is admin. Login etc would still work.

Anyways. still on my todo to properly look into this but will be in the new year I guess

[2017-12-28 10:10] rullzer commented on #7388
@danxuliu thanks for looking into this :rocket:

[2017-12-28 10:12] rullzer commented on #7616
Please fill this in the https://github.com/nextcloud/android or https://github.com/nextcloud/ios repo

[2017-12-28 10:12] #7616 closed

[2017-12-28 10:12] rullzer commented on #7630
@blizzz for ldap magic

[2017-12-28 10:22] #7625 closed

[2017-12-28 10:26] rullzer commented on #987
I think this requires to much change for 13. But we should look into it properly. => 14

[2017-12-28 10:40] rullzer commented on #7551
Mmmm that seems to be an issue with the appstore. Lets debug that

[2017-12-28 10:43] ChristophWurst commented on #7632
See https://docs.nextcloud.com/server/12/admin_manual/configuration_server/config_sample_php_parameters.html#logging

[2017-12-28 10:43] #7632 closed

[2017-12-28 10:56] vermaden commented on #7632
Ok, that is clear to me now.

Tell me then, how to set logging for BOTH file (nextcloud.log) and syslog?

The documentation says that its possible to use either file or syslog.

Thanks.

[2017-12-28 10:58] rullzer commented on #7551
@BernhardPosselt seems that https://usercontent.apps.nextcloud.com/aHR0cHM6Ly9yYXcuZ2l0aHVidXNlcmNvbnRlbnQuY29tL25leHRjbG91ZC9lbmRfdG9fZW5kX2VuY3J5cHRpb24vbWFzdGVyL3NjcmVlbnNob3RzL2UyZWUtZmlsZWxpc3RpbmcucG5n returns a 404... while (base64 decoded) https://raw.githubusercontent.com/nextcloud/end_to_end_encryption/master/screenshots/e2ee-filelisting.png is valid...

[2017-12-28 11:00] ChristophWurst commented on #7632
Please see the forum http://help.nextcloud.com/ for those questions. Thanks.

[2017-12-28 11:02] blizzz commented on #7471
Perhaps she is disabled in AD which refuses the login.

[2017-12-28 11:04] blizzz commented on #7630
That's disabled on purpose, because it would kill performance.

[2017-12-28 11:04] #7630 closed

[2017-12-28 11:07] vermaden commented on #7632
Ok, thank You for help.

[2017-12-28 11:11] blizzz commented on #6986
@fgsl can you try whether it works with #7611 ?

[2017-12-28 11:33] ryhaberecht opened #7637 "type of mtime columns in oc_filecache can be too small"
mtime columns in oc_filecache are of type integer, usually signed, which allows us a timestamp up until 2147483647. This translates to January 2038 which is, in itself, not a problem. However, sometimes filesystems or applications mess up and give your shiny new PDF a timestamp of 4294967295, meaning all 8 bytes set to 1. Such a messed up file can not be uploaded to nextcloud, but I strongly belie

[2017-12-28 11:45] vermaden commented on #7632
Ok, thank You for help.

Thread for reference:
https://help.nextcloud.com/t/nextcloud-logging/25190

[2017-12-28 13:52] rullzer commented on #7637
So we could fix this now with our new fancy migration command. However, keep in mind that a lot of clients might start doing weird stuff if you have way off timestamps.

IMO it is perfectly valid for the webdav endpoint to error if you for some reason get a timestamps from the year 2200. It probably means there are other issues on your system.

[2017-12-28 14:31] ryhaberecht commented on #7637
If you throw an error at the user, at least explain what the error means and how to recover:

instead of

[2017-12-28 15:24] ahoward22 commented on #7471
No, she is an active user on the domain. Although several times for good measure I reset her password and made sure the account was unlocked.

[2017-12-28 20:36] mduller commented on #6899
I am also seeing this. Nextcloud 12.0.4 with MariaDB 10.2.10, PHP 7.1.12.

[2017-12-28 20:37] Mr-Maniac opened #7639 "Redirect to "/apps/files" instead of 404 -> upload via webdav (app) not working"
### Steps to reproduce
1. Start upload in WebDAV client (e.g. Nextcloud app)
2.
3.

### Expected behaviour
Upload via webdav should work. When a file does not exists, nextcloud server should return HTTP code 404

### Actual behaviour
1. WebDAV Client (Nextcloud App and Windows 10 Explorer) are requesting new filename to see, if file already exists (e.g. HEAD /remote.php/webdav/Folder/File.ext)
2.

[2017-12-28 20:46] Mr-Maniac commented on #7639
In Nextcloud 12 this issue only arises, when "htaccess.RewriteBase" is set in config.php - /core/templates/403.php and /core/templates/404.php should be excluded from rewriting with a RewriteCond

In Nextcloud 13 this issue always arises, since ErrorDocument is set to /

[2017-12-28 20:59] fgsl commented on #6986
@blizzz, I will try that change and give a feedback. Thank you.

[2017-12-28 22:21] 3Dscrewer opened #7640 "No access to full cifs/smb drive"
How to get access to full drive cifs/smb drive
In Nextcloud there is the question for a folder, but if you like to give access to a whole drive there is no possibility. I have tried .. and / and \ even // and \\ didn't work.
Ok, I can move all Files into a subfolder, but in this case I have to configure a lots of Apps in a new way. I have asked this question in the Forum, but get no answer ....

[2017-12-28 23:41] MarkusHLudwigsfeld commented on #5534
Yes please!
Please add a 'Empty trash' button
* that each user can empty it's own trash bin
* in the admin area that the adminitrator can empty it for each / all users

Following would be helpful in addition:
* show size of trash bin (user area and admin area)
* delete files older than xx days  (freely specified by the user)  (good for the admin area as well !)

[2017-12-28 23:56] MarkusHLudwigsfeld commented on #5534
I just found some settings in the config.php.
Is it possible to add this settings in the admin area webinterface?

https://docs.nextcloud.com/server/12/admin_manual/configuration_server/config_sample_php_parameters.html#deleted-items-trash-bin

as well for the "versions_retention_obligation"

Thanks,
Markus

[2017-12-29 02:48] HandsomeBoby opened #7641 "After configuring the LDAP service, the number of users is not visible"
### Steps to reproduce
1.Configure the LDAP service
2.Open the user list
3.The number of people at the user list is not visible

such as：
This is not configured service：
![image](https://user-images.githubusercontent.com/19202505/34428165-dc4dd1ea-ec84-11e7-8be5-c662e6b1be32.png)
After configuration will become like this：
![image](https://user-images.githubusercontent.com/19202505/34428231-a4e5d9a

[2017-12-29 07:47] venkat118 opened #7642 "Unable to sync files : "Sabre\DAV\Exception\BadRequest: expected filesize 4848862 got 3112960""
Actual behaviour
Files are not synced

Expected behaviour
Files to be synced

Steps to reproduce
Upload a file
Environment data
Android version:

Device model:

Stock or customized system:

Nextcloud app version: 2.3.3

Nextcloud server version:12.0.4

Logs
Nextcloud log (data/nextcloud.log)
Sabre\DAV\Exception\BadRequest: expected filesize 4848862 got 3112960

Insert your Nextcloud log here

[2017-12-29 08:39] mauritslamers commented on #4504
Even though this issue is closed, I wanted to indicate that this issue also arrives when you migrate from a recent version of OwnCloud that was installed using a PostgreSQL database to NextCloud.

It can be solved by manually changing the types on the indicated tables. Log in as postgres user into your database, then run the following model queries. For every SQL error complaining about SERIAL, ta

[2017-12-29 09:18] rullzer commented on #7641
See https://github.com/nextcloud/server/issues/7630#issuecomment-354271334

[2017-12-29 09:18] #7641 closed

[2017-12-29 10:23] tflidd commented on #6028
Can you share a bit more information that the developers can reproduce this problem? Is this on new setups, only on updated, which webserver, ...

[2017-12-29 11:16] BernhardPosselt opened #7643 "Nextcloud 13: Scrolling broken in News app"
Latest master (ea858fcb553aff59f50e4dcabc42fc8c7c2f200d) on both server and News

See https://github.com/nextcloud/news/issues/239 for more details

[2017-12-29 12:58] RussianNeuroMancer commented on #6028
Updated from 12.0.3 (and previously from every NextCloud release, and before that migrated from OwnCloud).

Apache 2.4.29-1 build with enabled http2 module by deb.sury.org, php-fpm 7.1.11 and PostgreSQL 9.6.6 from Ubuntu Server 17.10 repository. What else could help find root cause of this issue?

[2017-12-29 13:32] krombel opened #7645 "Not-Accessible remote share causes high slowdowns (and timeouts)"
### Steps to reproduce
1. add a remote share
2. shutdown or the server of the remote share (or let it respond 404)
3. experience HIGH loading times with even failing times

### Expected behaviour
I just get an error that the share is not available anymore or similar

### Actual behaviour
The access of (nearly) all pages becomes unusable slow (timeouts)
The client was not throwing any errors as it

[2017-12-29 13:48] rullzer commented on #7645
Fixed in master so should be in the next beta/rc (and thus NC 13): https://github.com/nextcloud/server/pull/7485/commits/3b343e287fa18683a1070af26d93916f68a9fea2

[2017-12-29 13:48] #7645 closed

[2017-12-29 14:10] krombel commented on #7645
Haven't found the issue for that...
So this is a duplicate of #7001

[2017-12-29 14:32] rullzer commented on #7645
yep, hopefully we can release an update soon in the new year. So you can test :)

[2017-12-29 14:33] rullzer commented on #7589
@icewind1991 I like that idea!

[2017-12-29 14:33] rullzer commented on #7589
I can look into this for 14

[2017-12-29 15:13] rullzer commented on #7184
PR in #7644

[2017-12-29 19:29] martonw commented on #3242
I ran into the same issue. After some investigation, it seems that the upgrade routine tries to connect (in case of SQLite, this means opening the file) two times during the procedure. This is relatively easy to verify by printing a single line to the console output when the DB connect() function is called (ie within the `3rdparty/doctrine/dbal/lib/Doctrine/DBAL/Driver/PDOSqlite/Driver.php` file).

[2017-12-29 19:57] rullzer commented on #7270
I think this is fixed on master.... @juliushaertl can you confirm?

[2017-12-29 20:01] jospoortvliet opened #7647 "Delete button as far as possible from selection box"
Select a file in the web UI on the left. You'll find the delete button (and other buttons) totally on the right. You will probably not even notice they just appeared... @waazdakka pointed this out and I even had to look for the delete button myself...

Maybe it's simplistic to put them on the left, but... Better ideas?

@nextcloud/designers

[2017-12-29 20:21] rullzer commented on #5901
Also needs a solution for https://github.com/nextcloud/server/issues/7528

[2017-12-29 20:34] octo777 opened #7649 "NC 13 - Browsing external storage SMB/CIFS from "Files" app does not occur with simple left click on said directory"
### Steps to reproduce
1.  Create an external storage using SMB/CIFS
2.Verify that the settings were accepted and connection is established via Green light
3. Browse to Home directory in "Files" app.
4. Click on the folder for any of the SMB shares

### Expected behaviour
When clicking on the folder represeting the SMB share it should go into that directory

### Actual behaviour
Nothing happens on

[2017-12-29 21:02] rullzer commented on #7414
PR in #7648

[2017-12-29 21:13] KroniK907 commented on #7585
I have also run into this issue with S3 as my primary storage. Appears to be new since my upgrade to 12.0.4

[2017-12-29 21:24] krombel commented on #7645
The share that causes the issue will not reappear. So removing the share just fixed it.
Therefore this is not that critical and I cannot test it anymore (without spinning another instance up)
I opened the issue for "longterm-enhancement" :)
So thanks for having a fix implemented even before I requested it :innocent:

[2017-12-29 21:30] jonabasque commented on #3076
I have same problem, It is strange but before It didn't happen.

I can to make a new instalation but I want to undertand the problem.

regards

[2017-12-29 22:33] ali3seven commented on #693
Thanks for this post, but honestly say i'm afraid that we can use "Global Address Book" using next cloud itself. It means two possibilities:
1. you have the LDAP and have to do a Duplicate job for using "Shared Contact"
2. you have just Next Cloud without LDAP

But I think now neither the first nor the second didn't work as "Global Address Book" in the current NextCloud features. So I think we nee

[2017-12-29 22:58] rpirritano commented on #7265
I completed all the above changes, submitted the pull request.

[2017-12-30 01:20] lal12 commented on #7218
I digged into the code and guess it is not an enhancement, it is actually a bug. The following code is in the `core/js/lostpassword.js`:

      resetDone : function(result){
		var resetErrorMsg;
		if (result && result.status === 'success'){
			$.post(
					OC.webroot + '/ocs/v1.php',
					{
						user : window.location.href.split('/').pop(),
						password : $('#password').val()
					},
					OC.Lo

[2017-12-30 02:04] lal12 commented on #7218
It would be also possible, to just remove that addtional request, why not directly, redirect on a successfull password change.

[2017-12-30 04:47] skjnldsv commented on #7629
Definitely a lacking feature :)

[2017-12-30 07:31] kundansingh27feb commented on #2074
Hi All,

I am getting the below error while enabling the SSO & SAML authentication. I am using nextcloud 12.0.4. Kindly let me know the issue.
**ERROR:**
    Account not provisioned.
    Your account is not provisioned, access to this service is thus not possible.
And the SSO & SAML authentication page showing me only 3 filed no certificate or IDP filed are shown by this.

[2017-12-30 11:05] jakobsack commented on #7589
Thank you @rullzer

[2017-12-30 11:09] Dennis1993 commented on #4151
I tested that with 12.0.4 and Edge. The problem is solved!

[2017-12-30 11:09] #4151 closed

[2017-12-30 11:38] kcskou commented on #4773
By the way it looks like it has already been fixed as I cannot reproduce issue on Firefox 57.0.3 (64-bit).
![contacts-have-same-height](https://user-images.githubusercontent.com/3045168/34453844-d88da45c-ed12-11e7-84cb-2c7ad5dca436.png)

[2017-12-30 12:05] Dennis1993 opened #7652 "Slogan background on Safari in iOS"
iOS: 12.2.1 on an iPhone SE (latest version)
NextCloud: 12.0.4 (latest version)
PHP: 7.1.11
MySQL: 5.7.20

If I open the page with safari, the slogan has a background color.

![image-1](https://user-images.githubusercontent.com/1473674/34454029-11f8b07a-ed62-11e7-8546-624eb4973619.jpg)

[2017-12-30 12:09] jepode commented on #6711
I can confirm this bug is also affecting the upload direction:
Namely I try to upload a (seemingly) broken VCF file (it is an exported contact list of Opera Mail/Webbrowser) as a plain file with the desktop client and the Linux client balks at this file and stops updating the affected sync folder.

Even if nextcloud tries to parse the file (and do what exactly with the parsed content?) I expect it

[2017-12-30 15:42] spacemonkey commented on #5865
I cannot get S3 support no matter whose example code I try, even with wiping the database and reinstalling clean. My creds have been tested with other apps, so it is definitely an issue with the S3 primaryStorage.

Does anyone have working, tested config+steps that I can duplicate for a running setup?

[2017-12-30 17:59] gvansanden commented on #6279
Same here, first copy fails but second succeeds with redis timeout at 0 and locking enabled

[2017-12-30 18:18] juliushaertl commented on #4773
Yes, seems to be fixed.

[2017-12-30 18:18] #4773 closed

[2017-12-30 18:25] juliushaertl commented on #7270
Yes, works fine on master now.

[2017-12-30 18:25] #7270 closed

[2017-12-30 18:40] tflidd commented on #7642
There are a few things in the configuration that can cause this issue:
https://forum.owncloud.org/viewtopic.php?f=17&t=32517

If none of these tips works, we probably need much more information (web server used, reverse proxies, their settings, ...)

[2017-12-30 19:27] maxwellwhite opened #7653 "Issue upgrading: Doctrine\DBAL\Exception\UniqueConstraintViolationException: An exception occurred while executing 'CREATE UNIQUE INDEX fs_storage_path_hash ON oc_filecache (storage, path_hash)': SQLSTATE[23000]: Integrity constraint violation: 19 indexed columns are not unique"
### Steps to reproduce
1. Upgrade
2.
3.

### Expected behaviour
Tell us what should happen

### Actual behaviour
Tell us what happens instead

### Server configuration

**Operating system**:

**Web server:**

**Database:**
Default

**PHP version:**
7

**Nextcloud version:** (see Nextcloud admin page)
Updating to newest

**Updated from an older Nextcloud/ownCloud or fresh install:**

**Where did yo

[2017-12-30 19:28] maxwellwhite commented on #7653
As an alternative, can someone show me how to revert to the backup version and I can just not upgrade? It successfully backed up but I don't know how to return to the backup version

[2017-12-31 13:34] kreutpet opened #7654 "Addressbook syncronization with KDE KAddressbook"
### Steps to reproduce
1.add a new addressbook in KAddressbook (Kontact 5.5.3) choosing DAV groupware
2.choose the owncloud type of groupware server
3.test successfully the connection
4.check list of contact in the new addressbook. Not all contact are listed.
5. open log in nextcloud with admin account and new ERROR listed
Undefined index: name at /var/www/cloud/3rdparty/sabre/dav/lib/CardDAV/Xml/

[2017-12-31 16:14] crocodele commented on #3076
I had the same issue. Reindexing the files using `occ files:scan [username]` seems to have helped.

[2017-12-31 17:41] call-me-matt commented on #6581
Same problem. Color changes in the iPad app, not in the browser.

[2018-01-01 02:15] rinchen opened #7655 "Issues while migrating from Owncloud 10.0.4 to Nextcloud 12.0.4"
Hi,

I migrated off of OC 10.0.4 today to NC 12.0.4. I ran into some resolvable issues and wanted to document them for the dev team (and anyone else who runs into these issues).

Issues:
1) The automated migration script immediately decided it didn't know about my owncloud instance nor the latest version of nextcloud (I closed the tab before I memorized what it said but I suspect it triggered on "

[2018-01-01 13:41] winstonyin opened #7656 "Unable to load redis"
### Steps to reproduce
1. Enable redis memcache locking
2. Look at nextcloud log

### Expected behaviour
No error about redis should appear.

### Actual behaviour
PHP Startup: Unable to load dynamic library 'redis.so' (tried: /usr/lib/php/modules/redis.so (/usr/lib/php/modules/redis.so: undefined symbol: spprintf), /usr/lib/php/modules/redis.so.so (/usr/lib/php/modules/redis.so.so: cannot open sha

[2018-01-01 14:18] j-ed commented on #7656
This is definitely not a Nextcloud problem but a problem of your server/web server. The mentioned PHP redis.so module cannot be loaded because an underlying library is missing which contains the `spprintf` symbol/function. You should double-check if the modules/libraries on your server are up-to-date and make sure that your web server can load the module without any error before you try to activat

[2018-01-02 01:20] mjanssens opened #7657 "Activity: TOTP log messages do not get translation"
In activity log the TOTP logon messages are not translated and stay English although translations are available.
Could this be same issue as https://github.com/nextcloud/server/issues/7345?
In settings/Activity/SecurityProvider.php I see "core" being used.

[2018-01-02 05:31] danxuliu commented on #7388
#7388 should fix this; please test :-)

As a side note and for future reference, the fact that selecting the _Sharing_ tab in the details view made possible to open the directory turns out to be caused by a bug that changes the file model in the file list row. It can still be seen in #7388, as selecting the _Sharing_ tab causes the file list row to lose the _External storage_ icon; something that

[2018-01-02 08:13] rullzer commented on #7656
As mentioned this is not a nextcloud issue but an issue of your installation. Nextcloud wants to use redis (as you tell it to). But PHP fails to load it properly. Please consult your distribution php guide.

[2018-01-02 08:13] #7656 closed

[2018-01-02 08:15] rullzer commented on #7657
Yes that seems similar. I'll take care. Thnx for noticing.

[2018-01-02 08:29] MorrisJobke commented on #7640
`/` should work. cc @icewind1991

[2018-01-02 08:30] MorrisJobke commented on #7633
LOCK is not implemented as of now. What log level does this error message have? We fixed a lot of them in 13 to be less critical.

[2018-01-02 08:31] MorrisJobke commented on #7623
cc @nextcloud/sharing @daita

[2018-01-02 08:41] MorrisJobke commented on #7657
Fix is in #7659

[2018-01-02 08:52] GitHubUser4234 commented on #6608
Hi,

I'm having the same issue, however with a DELETE operation. Encryption app is disabled. Redis file locking is enabled. Here is the log, thanks!

#### Nextcloud log
<details>
<summary>Nextcloud log</summary>
{"reqId":"WkXotapyokg9hX4JaJjsCwAAAAo","level":4,"time":"2017-12-29T15:03:18+08:00","remoteAddr":"xxx.xxx.xxx.xxx","user":"testuser1","app":"webdav","method":"DELETE","url":"/fis/remote.ph

[2018-01-02 09:29] Herz3h commented on #5610
Same problem with latest version of Nextcloud. The issue I mentioned in OP is that when I open a link to a nextcloud file from my browser (through my webapp, using the ms-word: protocol), the document opens fine in Microsoft Word, but there is a prompt everytime I open.

Just to be clear, I've not mounted Nextcloud on any drive, I'm just trying to open documents hosted on Nextcloud in Microsoft Wo

[2018-01-02 10:11] #7414 closed

[2018-01-02 10:12] #7184 closed

[2018-01-02 10:14] daita commented on #7623
were not able to reproduce; can you provide more information related to the Circles you're creating ? (types, names, ...)

[2018-01-02 10:14] #7657 closed

[2018-01-02 10:27] MorrisJobke commented on #7234
Fixed by #7590

[2018-01-02 10:27] #7234 closed

[2018-01-02 10:28] Priebojp opened #7661 "Sabre: Incorrect string value"
Hello,

If i want to sync a calendar event through CalDav from EmClient i got an Exception.
The problem is with table "oc_calendarobjects_props"  and Sabre.
This function "apps/dav/lib/CalDAV/CalDavBackend.updateProperties()" try to save a UTF-8 converted text into db but they save only the first xy char of the text.
And this is the problem. Because after the Split of the text there is a chance of

[2018-01-02 10:42] juliushaertl commented on #7636
@realies Thanks for reporting. Unfortunately I'm unable to reproduce this on current master. Please fill out the issue template to provide some more details on your setup.

[2018-01-02 10:47] MorrisJobke commented on #7547
This is better to be discussed in the forums: https://help.nextcloud.com

It works on many instances and looks like a setup issue.

Thanks

[2018-01-02 10:47] #7547 closed

[2018-01-02 10:48] MorrisJobke commented on #7615
cc @nickvergessen @rullzer @blizzz @icewind1991 Do you have an idea what happens here?

[2018-01-02 10:49] MorrisJobke commented on #7617
cc @nextcloud/javascript

[2018-01-02 10:49] MorrisJobke commented on #7653
cc @icewind1991 @nickvergessen

[2018-01-02 10:50] MorrisJobke commented on #7653
@maxwellwhite From which to which version was the upgrade? Could you post the nextcloud log?

[2018-01-02 10:52] MorrisJobke commented on #7654
Could you post the nextcloud log entry, because it contains more information?

Could also be related to https://github.com/sabre-io/dav/issues/952

[2018-01-02 10:53] MorrisJobke commented on #7654
And #4640

[2018-01-02 11:28] splitt3r commented on #7617
Small correction: It does go away if you click the three dots again. That should be unified with the default popover behaviour.

[2018-01-02 11:35] jospoortvliet commented on #6267
I can't test 12.0.4 here but in 13beta at least it works flawlessly.

![screenshot_20180102_123332](https://user-images.githubusercontent.com/551757/34482576-2974aaca-efb9-11e7-85db-7f3af941e403.png)

(background pic is Banana Bungalow in San Diego - location where in Jan 2010 oC was announced by Frank - 🎂 now 8 years ago)

[2018-01-02 11:40] 3Dscrewer commented on #7640
Here I have made Screenshots. As suggested, I have tried the single Slash as well.
See comments I've made at the pictures. I have captured the 1st picture before I have assigned "Files" to admin Group.

![1](https://user-images.githubusercontent.com/34925249/34482570-26bac01c-efb9-11e7-972e-fabda1a1b886.png)
![2](https://user-images.githubusercontent.com/34925249/34482571-26dd8700-efb9-11e7-9b8d-e

[2018-01-02 12:28] jospoortvliet commented on #693
@camicatze if this is important for you tell your Nextcloud account manager/sales person so it can be prioritized.

@ali3seven sorry, I find it hard to understand the problem. You mean a single global address book doesn't work?

It might make sense to create a global address book per group and allow the sysadmin to share those with groups. So you can have users in each group have an address book o

[2018-01-02 12:32] juliushaertl commented on #7197
Doesn't happen on beta3 anymore.

[2018-01-02 12:32] #7197 closed

[2018-01-02 12:32] jospoortvliet commented on #7532
Can we close this issue then?

[2018-01-02 12:42] jospoortvliet commented on #6714
It is! Yeah, we could add it.

[2018-01-02 13:20] MorrisJobke commented on #7649
Looks like this is fixed by #7658

[2018-01-02 13:23] jospoortvliet commented on #4656
@ajdeswart I think this isn't a high priority because it doesn't harm home users (like most of our volunteers) and it doesn't harm Nextcloud customers (who pay the bills of our developers). Anyhow, please file an issue or contact sales if you need this resolved quick...

[2018-01-02 13:37] kreutpet commented on #7654
i added the nexcloud log into the original post

[2018-01-02 13:50] blizzz commented on #7615
No, and didn't happen for me. Since the info is stored in the DB, it needs some manipulation to disappear.

@dienteperro are shares or comments, for instance, preserved?

[2018-01-02 14:03] #7534 closed

[2018-01-02 14:06] MorrisJobke commented on #7654
cc @blizzz @jospoortvliet Do you also have those issues?

[2018-01-02 14:06] MorrisJobke commented on #7654
cc @georgehrke @rullzer for the DAV stuff

[2018-01-02 14:12] MorrisJobke commented on #7649
cc @danxuliu for checking if this is fixed by #7658

[2018-01-02 14:13] #7532 closed

[2018-01-02 14:22] MorrisJobke commented on #7610
Looks similar to #7662 - cc @nextcloud/ldap

[2018-01-02 14:29] #7411 closed

[2018-01-02 14:29] MorrisJobke commented on #7408
VMs can be downloaded from http://modern.ie 😉

[2018-01-02 14:33] MorrisJobke commented on #7007
Fix for this is in #7477

[2018-01-02 14:44] danxuliu commented on #7649
@MorrisJobke Yes, #7658 should fix clicking on an external storage no matter the backend.

[2018-01-02 14:55] jospoortvliet commented on #6050
@Ninos then I suggest to contact one of our sales representatives 👍

We have no requests from (potential) customers right now so I don't see this happen.

[2018-01-02 14:57] tfmm commented on #7388
The fix in #7658 works for me.

[2018-01-02 15:24] danxuliu commented on #2567
This was fixed for Nextcloud 13 in #5621. However [it was decided to not backport it to Nextcloud 12](https://github.com/nextcloud/server/pull/5621#issuecomment-313112795), and this issue is reported against Nextcloud 11, so... close?

[2018-01-02 15:27] skjnldsv commented on #2567
Agreed

[2018-01-02 15:34] Flandoll opened #7667 "Unable to delete folder inside S3"
### Steps to reproduce
1.Add S3
2.Create a new folder in S3（e.g.  occ）
3.Delete the occ folder

### Expected behaviour
Folder 'occ' deleted

### Actual behaviour
Prompt folder 'occ' deletion failed

### Server configuration

**Operating system**:CentOS 7.4.1708

**Web server:**Apache 2.4.6

**Database:**MariaDB 10.1.30

**PHP version:**5.6.32

**Nextcloud version:** 12.0.4

**Updated from an older

[2018-01-02 16:17] rullzer commented on #2567
Yep

[2018-01-02 16:17] #2567 closed

[2018-01-02 16:18] jospoortvliet commented on #417
The bounty is already at 115 dollar now. It should not be terribly hard to get this merged in Nc client and server, I think, but it won't make it for 13 😄

[2018-01-02 16:19] blizzz commented on #7610
Nope, the LDAP server seems not to support Paged Results. Setting paged chunk size in advanced to 0 would prevent using them.

[2018-01-02 16:19] #7610 closed

[2018-01-02 16:23] blizzz commented on #7654
I am not using KDEPIM, sorry. Would need to setup a VM.

[2018-01-02 16:33] jospoortvliet commented on #2338
Nice to know it is now easy, esp as there's a 115 dollar bounty on it - so somebody has an easy way to earn that money 👍

[2018-01-02 16:39] c4539 commented on #7623
Hi @daita , both circles are secret circles, one is called "Familie P***" and the other "Familie M***".
I just realized that the tooltip is equal (both sharees show "Familie" when I hover them), which made me looking into the HTML source: both checkboxes have the same id
`<input id="canEdit-view25-Familie" type="checkbox" name="edit" class="permissions checkbox" checked="checked">`

[2018-01-02 16:41] jospoortvliet commented on #7654
I use it, in the sense that it is set up, but I don't check it... But, as it syncs, the error should be in our company logs I suppose.

[2018-01-02 16:47] blizzz commented on #7654
don't see anything like it

[2018-01-02 17:04] ahmedammar commented on #417
I won’t be looking into this until oC actually merge first, since that saves me any duplicated effort. Unless this bounty gets so big that I can ignore oC all together :)

[2018-01-02 17:12] jospoortvliet commented on #7654
Looked in my private server, didn't see something like it either... And I can see my address book.

[2018-01-02 18:12] kreutpet commented on #7654
verfified now on my old KDE deskptop
Distributor ID: Ubuntu
Description:    Ubuntu 16.04.3 LTS
Release:        16.04
Codename:       xenial

running KAddressBook Version 5.1.3
KDE Frameworks 5.18.0
Qt 5.5.1 (kompiliert gegen 5.5.1)
Das xcb Fenstersystem

the error log is the same, but all contact get synchronized!
not sure if some contact information is not synchronized.

So i guess that the new v

[2018-01-02 18:16] Keridos commented on #2352
Also reproducing this on 12.0.4.

[2018-01-02 18:58] #7540 closed

[2018-01-02 19:11] daita commented on #7623
[It is a known bug](https://github.com/nextcloud/circles/issues/78)
Written as fixed in NC13, but I don't think the PR was included before the feature freeze.

[2018-01-02 19:11] #7623 closed

[2018-01-02 19:55] MorrisJobke commented on #7654
@kreutpet Maybe the problem is with a special contact. Maybe you try to export your address book, setup a separate account and import contact by contact and check when the error happens.

[2018-01-02 21:51] nalt commented on #7637
I regularly had this problem on a number of files on which the mtime was 2147483648 or "Jan 19 04:14:08 2038". (These files were actually previously created by the Nextcloud client, so I guess there must have been another bug.)

Is an mtime in 2038 really that wrong? After all, you are free to set it like that. Should the user really be punished by loosing a file? He probably did not even actively

[2018-01-02 22:05] kreutpet commented on #7654
yes, this is a good idea and i will do this in the next days.
i have also posted the issue in the kubuntu forum

[2018-01-02 22:16] MorrisJobke commented on #7667
cc @icewind1991

[2018-01-02 22:34] MorrisJobke commented on #7432
@nickvergessen Mind to have a look?

[2018-01-02 22:35] MorrisJobke commented on #7446
This is a bug in the news app - please report in the news app bug tracker: https://github.com/nextcloud/news/issues

Thanks

[2018-01-02 22:35] #7446 closed

[2018-01-02 22:37] MorrisJobke commented on #7447
Could you remove the .step file in `data/updater-INSTANCEID/.step` and retry the update. Then all steps should be executed again.

[2018-01-02 22:37] MorrisJobke commented on #7447
Is there anything in the updater.log, the nextcloud.log or the web server log file?

[2018-01-02 22:39] MorrisJobke commented on #7489
What client do you use? Are they writing to the same file? cc @icewind1991

[2018-01-02 22:43] MorrisJobke commented on #7521
@jgrete Could you provide a test instance/account on those two instances so we could have a look at the difference in the resulting HTML/JS?

[2018-01-02 22:46] MorrisJobke commented on #6594
cc @icewind1991 @rullzer @danxuliu

[2018-01-02 22:46] MorrisJobke commented on #6594
I could reproduce this by following the latest comment.

[2018-01-02 22:50] MorrisJobke commented on #6538
As there was no feedback on the exact timing and also the exact Nginx config is missing, I would ask you to check your config against the one in our documentation. This works fine for me even for big files and also uses php-fpm.

https://docs.nextcloud.com/server/12/admin_manual/installation/nginx.html

Thanks

[2018-01-02 22:50] #6538 closed

[2018-01-02 22:50] MorrisJobke commented on #6410
@nickvergessen another DB issue :/

[2018-01-02 22:51] MorrisJobke commented on #3745
Once there is further feedback on this you could post it here and we will reopen this ticket. As of now I was unable to reproduce the issue described here.

[2018-01-02 22:51] #3745 closed

[2018-01-02 22:52] MorrisJobke commented on #3535
@schiessle Ping

[2018-01-02 22:54] MorrisJobke commented on #3958
@nextcloud/encryption 🏓

[2018-01-02 22:59] MorrisJobke commented on #6608
cc @icewind1991

[2018-01-02 22:59] MorrisJobke commented on #7661
cc @georgehrke

[2018-01-02 23:00] MorrisJobke commented on #7655
cc @jospoortvliet @nickvergessen @rullzer

[2018-01-02 23:02] MorrisJobke commented on #7618
cc @karlitschek @nextcloud/sharing for the general idea of making it more granular.

I would try to avoid this, because it adds a huge amount of complexity for very little advantages.

[2018-01-02 23:05] MorrisJobke commented on #7619
@heyarne Could you check your nginx config against https://docs.nextcloud.com/server/12/admin_manual/installation/nginx.html ? Because we have seen similar problems in the past.

Usually it should show a yellow banner on the top of the page if something is not working.

@dirigit Could you also double check your Apache config. Could be a similar problem as in the linked comment by @tflidd

[2018-01-02 23:05] MorrisJobke commented on #7652
@MariusBluem Could you verify this? For me this is not the case :(

[2018-01-02 23:07] MorrisJobke commented on #7248
cc @georgehrke

[2018-01-02 23:07] MorrisJobke commented on #6872
cc @icewind1991

[2018-01-02 23:09] #3130 closed

[2018-01-02 23:38] MorrisJobke commented on #7388
Fixed by #7658

[2018-01-02 23:38] #7388 closed

[2018-01-02 23:38] MorrisJobke commented on #7437
Fixed by #7658

[2018-01-02 23:38] #7437 closed

[2018-01-02 23:38] MorrisJobke commented on #7649
Fixed by #7658

[2018-01-02 23:38] #7649 closed

[2018-01-02 23:44] MorrisJobke commented on #7643
cc @nextcloud/designers

[2018-01-02 23:44] MorrisJobke commented on #7642
Closing for now - we can reopen if the mentioned post does not solve the issue.

[2018-01-02 23:44] #7642 closed

[2018-01-03 00:23] rinchen commented on #7655
Another item: In the migration documentation there is no entry which speaks to migrating the user-base desktop clients. In testing we discovered we could simply keep the desktop files in-situ and just point the sync client location to it.  However, for caution (and avoidance of any potential sync conflicts), I had everyone use a different local directory and sync down the all the server files.

[2018-01-03 05:06] danxuliu commented on #7617
The fix for not closing the popover menu when clicking outside the menu is in #7668

It does not fix the wrong position of the menu, though. It seems to be caused by [the `margin-top` CSS rule for `.popovermenu` elements](https://github.com/nextcloud/server/blob/bb04e106514f51c056f030ceef2c34cff355ef4b/core/css/apps.scss#L773), but those are generic rules with potentially lots of side effects, so

[2018-01-03 06:40] georgehrke commented on #7661
@Priebojp Can you please provide proper log files?
Where exactly is that exception thrown? (File and line number)
Is there a stack trace available?
...

[2018-01-03 06:45] georgehrke commented on #7248
@colttt Is this issue still valid?

Are there any browser logs?

[2018-01-03 07:28] #7539 closed

[2018-01-03 07:34] rullzer commented on #7618
You run into the same issues we face every time. How to make a solution everybody is happy with. Limiting per group it not the issue. Well there is the UX issue but I'm sure we can come up with something.

But what happens when a user is part of multiple groups? Is it the min of the two? The max? Does it add up?

[2018-01-03 07:35] rullzer commented on #7637
Fair enough. It is not nice.

@nickvergessen should be easy to add to the db:convert-filecache-bigint command right?

[2018-01-03 07:38] realies commented on #7618
Thanks for the comments. I would expect the behaviour to be the same as it is for group limitation available to apps.

[2018-01-03 08:02] rullzer commented on #6594
It is because of the final `/`

Lets take the folder `foo` and you want to create `bar/baz`. Internally this is translated to create `foo/bar/baz`

So we try to get the node `foo/bar` and create the folder `baz` in there. But of course `foo/bar` doens't exist yet.

Long story short. `/` should not be allowed in file/folder names as it is the default directory separator.

[2018-01-03 08:09] narutobaka commented on #7610
Hi

Is there a way to avoid this log?

cordialy

[2018-01-03 09:29] Quintasan opened #7671 "Can't migrate from ownCloud 10.0.4"
### Steps to reproduce
1. Upgrade ownCloud to 10.0.4
2. Download and install the updater as outlined in the migration instructions
3. Go to https://your.domain.com/updater/index.php

### Expected behaviour
I should be offered a way to perform the migration

### Actual behaviour
[code]

### Server configuration

**Operating system**: Ubuntu 16.04.3 LTS

**Web server:** nginx/1.13.8

**Database:** P

[2018-01-03 09:55] blizzz commented on #7593
Well, we always used to return the user id on successful login as this is not known to the requesting end user, but needed for any other action.

[2018-01-03 10:03] rullzer commented on #7593
@blizzz where did we do this? In the web?

[2018-01-03 10:16] nickvergessen commented on #7637
Hmm, actually I'd prefer to then fix the time columns completely by converting them to datetime 🙊

But I guess we could do the quick fix and make it bigint, until we translate all time-columns to datetime one day.

[2018-01-03 10:17] blizzz commented on #7593
https://github.com/nextcloud/server/blob/master/lib/private/User/Manager.php#L190

back back in the days it was the user id only, which is still what each backend's checkPassword returns.

[2018-01-03 10:24] Priebojp commented on #7661
[nextcloud.log](https://github.com/nextcloud/server/files/1600034/nextcloud.log)
Thank you.

[2018-01-03 10:34] blizzz opened #7675 "LDAP error code handling, follow whitelist strategy instead"
In the LDAP Backend we have an wrapper in place that takes care of the  error handling. In some occasions, for instance when the server is offline for whatever reason, an exception must be thrown to avoid unpredicatable side effects.

Currently, we hand pick the error cases where an specific expression is thrown,  the default is to let them pass through. There are several possible error codes, and

[2018-01-03 10:49] MorrisJobke commented on #6594
We should also look into the log levels, because those are basically user errors, that should not be logged in the server (at least only in debug log).

* :x: Creating a folder (log level 4):

[code]

* ✅ Creating a file (log level 0):
[code]

* :x: Renaming a folder (log level 4):

[code]

* :x: Renaming a file (log level 4):

[code]

[2018-01-03 10:51] benny-huang opened #7677 "error: Invalid argument supplied for foreach() (ver:12.0.4.3)"
some error info in nextcloud.log:
{"reqId":"Wky08xZ89CGvL4zEYsEQoAAAAAA","level":3,"time":"2018-01-03T10:48:20+00:00","remoteAddr":"192.168.0.10","user":"user01","app":"PHP","method":"PROPFIND","url":"\/nextcloud\/remote.php\/dav\/files\/user01\/%E7%89%88%E6%9D%83%E8%B5%84%E6%96%99","message":"Invalid argument supplied for foreach() at \/var\/www\/nextcloud\/apps\/files_external\/lib\/Lib\/Storage

[2018-01-03 10:56] #7677 closed

[2018-01-03 10:58] ali3seven commented on #693
@jospoortvliet Jos, Thanks for reply. Let me explain it in different way.
We are using Mail-In-A-Box package which is included NextCloud latest version.
Everything works fine. It also pull the "Personal contact" from server in outlook very well using ExchangeActiveSync (EAS).
It means if you have an account then you log in to nextcloud and create some personal contact for yourself in web, then you

[2018-01-03 11:00] MorrisJobke commented on #6594
The before mentioned logs are fixed in the second commit of #7676

[2018-01-03 11:02] nickvergessen commented on #2692
Yeah, lets keep that issue open as a reminder for me to "fix" the update notification app.

[2018-01-03 11:09] fgsl commented on #6986
@blizzz, code from #7611 solves this issue! Thanks!

[2018-01-03 11:20] blizzz commented on #6986
@fgsl great, thanks for testing!

[2018-01-03 11:27] io-node opened #7679 "Menu bar shows overlay when using RichDocument or Gallery"
### Steps to reproduce
1. Edit a document in Collabora or View folder in Gallery mode
2.
3.

### Expected behaviour
Normal view with same colour for the menu bar
![image](https://user-images.githubusercontent.com/2435859/34518473-801550aa-f077-11e7-8a5a-db2a6af3d8dc.png)

### Actual behaviour
The menu bar shows some overlay which changes partly the colour of icons and background:
![image](https://